{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Brewery DB API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The Open Brewery DB API is a free and open database of breweries and beers worldwide, providing detailed information for developers to access and use in their applications.",
        "termsOfService": "",
        "contact": {
            "name": "Open Brewery DB API Contact",
            "url": "",
            "email": "hello@openbrewerydb.org"
        },
        "license": {
            "name": "ODbL",
            "url": "https://opendatacommons.org/licenses/odbl"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.openbrewerydb.org",
            "description": "Production Server of the Open Brewery DB API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.openbrewerydb.org",
        "description": "Find more about the Open Brewery DB API here:"
    },
    "paths": {
        "/breweries": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SanFrancisco": {
                                "value": "SanFrancisco"
                            },
                            "Portland": {
                                "value": "Portland"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "San%20Francisco": {
                                "value": "San%20Francisco"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "StoneBrewing": {
                                "value": "StoneBrewing"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "Stone": {
                                "value": "Stone"
                            },
                            "Stone+Brewing+Co": {
                                "value": "Stone+Brewing+Co"
                            },
                            "stone_brewing": {
                                "value": "stone_brewing"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "organic": {
                                "value": "organic"
                            },
                            "dog_friendly": {
                                "value": "dog_friendly"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "city,-name": {
                                "value": "city,-name"
                            },
                            "-city": {
                                "value": "-city"
                            },
                            "city": {
                                "value": "city"
                            },
                            "type": {
                                "value": "type"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/search": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "organic": {
                                "value": "organic"
                            },
                            "patio": {
                                "value": "patio"
                            },
                            "live-music": {
                                "value": "live-music"
                            },
                            "food-truck": {
                                "value": "food-truck"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "tour": {
                                "value": "tour"
                            },
                            "food_truck": {
                                "value": "food_truck"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "San_Diego": {
                                "value": "San_Diego"
                            },
                            "Portland": {
                                "value": "Portland"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            },
                            "stone_brewing": {
                                "value": "stone_brewing"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            },
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2015": {
                                "value": "2015"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            },
                            "example": {
                                "value": "example"
                            },
                            "Stone+Brewing+Co": {
                                "value": "Stone+Brewing+Co"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234567890": {
                                "value": "1234567890"
                            },
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            },
                            "example": {
                                "value": "example"
                            },
                            "94103": {
                                "value": "94103"
                            }
                        }
                    },
                    {
                        "name": "street",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Main": {
                                "value": "Main"
                            },
                            "Main+St": {
                                "value": "Main+St"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog_friendly": {
                                "value": "dog_friendly"
                            },
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            },
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            }
                        }
                    },
                    {
                        "name": "established",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            },
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "brewed_onsite",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "brewery_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_search"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/random": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "organic": {
                                "value": "organic"
                            },
                            "outdoor-seating": {
                                "value": "outdoor-seating"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "dog_friendly": {
                                "value": "dog_friendly"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Portland": {
                                "value": "Portland"
                            },
                            "Denver": {
                                "value": "Denver"
                            },
                            "Austin": {
                                "value": "Austin"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "Texas": {
                                "value": "Texas"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            },
                            "california": {
                                "value": "california"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewery_name": {
                                "value": "brewery_name"
                            },
                            "Stone": {
                                "value": "Stone"
                            },
                            "stone_brewing": {
                                "value": "stone_brewing"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94102": {
                                "value": "94102"
                            },
                            "94110": {
                                "value": "94110"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "-city": {
                                "value": "-city"
                            }
                        }
                    },
                    {
                        "name": "by_dist",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Main+St": {
                                "value": "Main+St"
                            }
                        }
                    },
                    {
                        "name": "filter",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "established": {
                                "value": "established"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Brewery_XYZ": {
                                "value": "Brewery_XYZ"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_random"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema_breweries": {},
            "ResponseSchema_breweries_search": {},
            "ResponseSchema_breweries_random": {}
        }
    }
}