{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**API Description** - The GBIF Species API is an application programming interface that allows users to access species-related information from the Global Biodiversity Information Facility (GBIF) database.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.gbif.org/terms",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "https://www.gbif.org/contact-us",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "Creative Commons Attribution (CC BY)",
            "url": "https://creativecommons.org/licenses/by/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "elephant": {
                                "value": "elephant"
                            },
                            "orchid": {
                                "value": "orchid"
                            },
                            "plant": {
                                "value": "plant"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "kingdom": {
                                "value": "kingdom"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "3179708": {
                                "value": "3179708"
                            },
                            "248": {
                                "value": "248"
                            }
                        }
                    },
                    {
                        "name": "scientificName",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            },
                            "2020": {
                                "value": "2020"
                            },
                            "1990": {
                                "value": "1990"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Artiodactyla": {
                                "value": "Artiodactyla"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            },
                            "GB": {
                                "value": "GB"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "af2dd3c0-d9c1-11d8-bff2-b8a03c50a862": {
                                "value": "af2dd3c0-d9c1-11d8-bff2-b8a03c50a862"
                            },
                            "7abda1f7-7c92-4c9b-9f06-a8d2f7f3942e": {
                                "value": "7abda1f7-7c92-4c9b-9f06-a8d2f7f3942e"
                            },
                            "4fa7b334-ce0d-4e88-aaae-2e0c138d049e": {
                                "value": "4fa7b334-ce0d-4e88-aaae-2e0c138d049e"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "StillImage": {
                                "value": "StillImage"
                            }
                        }
                    },
                    {
                        "name": "basisOfRecord",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "FOSSIL_SPECIMEN": {
                                "value": "FOSSIL_SPECIMEN"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "kingdomKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "6": {
                                "value": "6"
                            }
                        }
                    },
                    {
                        "name": "phylumKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "54": {
                                "value": "54"
                            }
                        }
                    },
                    {
                        "name": "classKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "359": {
                                "value": "359"
                            }
                        }
                    },
                    {
                        "name": "orderKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1002": {
                                "value": "1002"
                            }
                        }
                    },
                    {
                        "name": "familyKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "945": {
                                "value": "945"
                            }
                        }
                    },
                    {
                        "name": "genusKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1969443": {
                                "value": "1969443"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "count": 1643,
                                    "results": [
                                        {
                                            "key": 104969794,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "nubKey": 1032452,
                                            "parentKey": 104969792,
                                            "parent": "Haematomyzus",
                                            "kingdom": "Metazoa",
                                            "phylum": "Arthropoda",
                                            "order": "Phthiraptera",
                                            "family": "Haematomyzidae",
                                            "genus": "Haematomyzus",
                                            "species": "Haematomyzus elephantis",
                                            "kingdomKey": 103832354,
                                            "phylumKey": 104183026,
                                            "classKey": 104295797,
                                            "orderKey": 104966712,
                                            "familyKey": 104969790,
                                            "genusKey": 104969792,
                                            "speciesKey": 104969794,
                                            "scientificName": "Haematomyzus elephantis",
                                            "canonicalName": "Haematomyzus elephantis",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "elephant louse"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "103832354": "Metazoa",
                                                "104183026": "Arthropoda",
                                                "104295797": "Insecta",
                                                "104966712": "Phthiraptera",
                                                "104969790": "Haematomyzidae",
                                                "104969792": "Haematomyzus"
                                            },
                                            "class": "Insecta"
                                        },
                                        {
                                            "key": 179714415,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 179714221,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 3B",
                                            "kingdomKey": 179677457,
                                            "phylumKey": 179714040,
                                            "classKey": 179714041,
                                            "orderKey": 179714042,
                                            "familyKey": 212255039,
                                            "speciesKey": 179714415,
                                            "scientificName": "Elephant gammaherpesvirus 3B",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "179677457": "Heunggongvirae",
                                                "179714040": "Peploviricota",
                                                "179714041": "Herviviricetes",
                                                "179714042": "Herpesvirales",
                                                "212255039": "Orthoherpesviridae",
                                                "179714221": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 165267007,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "species": "Epichostis elephantias",
                                            "speciesKey": 165267007,
                                            "scientificName": "Epichostis elephantias Meyrick, 1906",
                                            "canonicalName": "Epichostis elephantias",
                                            "authorship": "Meyrick, 1906",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Epichostis elephantias is a moth in the family Xyloryctidae. It was described by Edward Meyrick in 1906. It is found in Sri Lanka. The wingspan is . The forewings are pale silvery fuscous with a moderately broad whitish-ochreous costal streak from the base to near the apex, pointed posteriorly, suffused with ochreous yellow towards the costa. There are two dark fuscous irregular rounded-oblong dorsal blotches edged with whitish ochreous, reaching the costal streak (the outline of these blotches somewhat suggestive of that of an elephant), the first extending on the dorsum from near the base to two-fifths, the second from the middle to near the tornus. There is a dark fuscous terminal line interrupted by whitish-ochreous dots on the veins. The hindwings are rather dark grey."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {}
                                        },
                                        {
                                            "key": 104045826,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "nubKey": 2440842,
                                            "parentKey": 104045814,
                                            "parent": "Elephantulus",
                                            "kingdom": "Metazoa",
                                            "phylum": "Chordata",
                                            "order": "Macroscelidea",
                                            "family": "Macroscelididae",
                                            "genus": "Elephantulus",
                                            "species": "Elephantulus intufi",
                                            "kingdomKey": 103832354,
                                            "phylumKey": 103882489,
                                            "classKey": 104045725,
                                            "orderKey": 104045810,
                                            "familyKey": 104045813,
                                            "genusKey": 104045814,
                                            "speciesKey": 104045826,
                                            "scientificName": "Elephantulus intufi",
                                            "canonicalName": "Elephantulus intufi",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Bushveld elephant shrew"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "103832354": "Metazoa",
                                                "103882489": "Chordata",
                                                "104045725": "Mammalia",
                                                "104045810": "Macroscelidea",
                                                "104045813": "Macroscelididae",
                                                "104045814": "Elephantulus"
                                            },
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 104045836,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "nubKey": 2440844,
                                            "parentKey": 104045814,
                                            "parent": "Elephantulus",
                                            "kingdom": "Metazoa",
                                            "phylum": "Chordata",
                                            "order": "Macroscelidea",
                                            "family": "Macroscelididae",
                                            "genus": "Elephantulus",
                                            "species": "Elephantulus rupestris",
                                            "kingdomKey": 103832354,
                                            "phylumKey": 103882489,
                                            "classKey": 104045725,
                                            "orderKey": 104045810,
                                            "familyKey": 104045813,
                                            "genusKey": 104045814,
                                            "speciesKey": 104045836,
                                            "scientificName": "Elephantulus rupestris",
                                            "canonicalName": "Elephantulus rupestris",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "western rock elephant shrew"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "103832354": "Metazoa",
                                                "103882489": "Chordata",
                                                "104045725": "Mammalia",
                                                "104045810": "Macroscelidea",
                                                "104045813": "Macroscelididae",
                                                "104045814": "Elephantulus"
                                            },
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 102473387,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473377,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 3A",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "familyKey": 212233220,
                                            "speciesKey": 102473387,
                                            "scientificName": "Elephant gammaherpesvirus 3A",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "212233220": "Orthoherpesviridae",
                                                "102473377": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 102473388,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473377,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 2",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "familyKey": 212233220,
                                            "speciesKey": 102473388,
                                            "scientificName": "Elephant gammaherpesvirus 2",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "212233220": "Orthoherpesviridae",
                                                "102473377": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 179714350,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 179714221,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 1B",
                                            "kingdomKey": 179677457,
                                            "phylumKey": 179714040,
                                            "classKey": 179714041,
                                            "orderKey": 179714042,
                                            "familyKey": 212255039,
                                            "speciesKey": 179714350,
                                            "scientificName": "Elephant gammaherpesvirus 1B",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "179677457": "Heunggongvirae",
                                                "179714040": "Peploviricota",
                                                "179714041": "Herviviricetes",
                                                "179714042": "Herpesvirales",
                                                "212255039": "Orthoherpesviridae",
                                                "179714221": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 179714416,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 179714221,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 3A",
                                            "kingdomKey": 179677457,
                                            "phylumKey": 179714040,
                                            "classKey": 179714041,
                                            "orderKey": 179714042,
                                            "familyKey": 212255039,
                                            "speciesKey": 179714416,
                                            "scientificName": "Elephant gammaherpesvirus 3A",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "179677457": "Heunggongvirae",
                                                "179714040": "Peploviricota",
                                                "179714041": "Herviviricetes",
                                                "179714042": "Herpesvirales",
                                                "212255039": "Orthoherpesviridae",
                                                "179714221": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 102473386,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473377,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 3B",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "familyKey": 212233220,
                                            "speciesKey": 102473386,
                                            "scientificName": "Elephant gammaherpesvirus 3B",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "212233220": "Orthoherpesviridae",
                                                "102473377": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 9278984,
                                            "nameKey": 15754730,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "nubKey": 9278984,
                                            "parentKey": 1039107,
                                            "parent": "Hydraena",
                                            "kingdom": "Animalia",
                                            "phylum": "Arthropoda",
                                            "order": "Coleoptera",
                                            "family": "Hydraenidae",
                                            "genus": "Hydraena",
                                            "species": "Hydraena elephanta",
                                            "kingdomKey": 1,
                                            "phylumKey": 54,
                                            "classKey": 216,
                                            "orderKey": 1470,
                                            "familyKey": 7829,
                                            "genusKey": 1039107,
                                            "speciesKey": 9278984,
                                            "scientificName": "Hydraena elephanta Perkins, 2014",
                                            "canonicalName": "Hydraena elephanta",
                                            "authorship": "Perkins, 2014",
                                            "publishedIn": "Perkins, P.D. (2014) A revision of the water beetle genus Hydraena Kugelann for southern Africa (Coleoptera: Hydraenidae). Zootaxa, 3758 (1).",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [
                                                "FRESHWATER"
                                            ],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Description. Size: holotype (length / width, mm): body (length to elytral apices) 1.64 / 0.70; head 0.23 / 0.40; pronotum 0.42 / 0.52, PA 0.41, PB 0.45; elytra 1.02 / 0.70. Dorsum of head dark brown to piceous; pronotum brown to dark brown near margins, gradually grading to piceous on disc; elytra dark brown; legs brown; maxillary palpi light brown. Each dorsal puncture with distinctive, short recumbent seta. Frons punctures ca. 1 xef, denser near eyes than medially; interstices weakly shining, 0.5 \u2013 1 xpd laterally, 1 \u2013 2 xpd medially. Clypeus mcr laterally, very finely sparsely punctulate medially. Mentum moderately densely finely punctulate, interstices shining; postmentum contiguously punctulate. Genae raised, shining, without posterior ridge. Pronotum laterally slightly emarginate behind middle; anterior margin straight behind eyes, emarginate behind frons, scintilla absent; punctures on disc slightly larger and deeper than those of frons, interstices shining, 1 \u2013 2 xpd, punctures slightly denser at anterior and posterior; PF 1 very shallow, confluent in midline; PF 2 deep, shallowly confluent in midline; PF 3 deep; PF 4 shallow. Elytra weakly arcuate laterally; summit of posterior declivity at ca. midlength; lateral explanate margin moderately wide; on basal 1 / 3 punctures ca. 1 \u2013 2 xpd largest pronotal punctures, punctures becoming finer and more widely spaced toward posterior. Intervals not raised, shining, on basal 1 / 3 ca. 1 xpd, as are interstices between punctures of a row. Apices in dorsal aspect conjointly rounded, in posterior aspect margins forming shallow angle with one another. Ratios of P 2 width and plaque shape (P 2 / w / l / s) ca. 2 / 1 / 4 / 5. P 1 laminate; median carina sinuate in profile. P 2 l / w ca. 3 / 1, sides slightly diverging toward blunt apex, apex raised slightly above mesoventral intercoxal process. Plaques small, elongate oval, parallel, very weakly raised, located at sides of moderately deep median depression. Metaventrite without midlongitudinal carina between intercoxal process and median depression. AIS width at slightly arcuate posterior margin ca. 2 x P 2. All tibiae slender, pro- and metatibiae very slightly arcuate, mesotibiae straight. Abdominal apex symmetrical; last tergite with apicomedian notch. Female (microslide mount, n = 1): last tergite moderately broadly rounded, with minute apicomedian notch, ca. 28 hooked setae in double row; gonocoxite not midlongitudinally divided, apical margin moderately broadly rounded, low transverse ridge evident at border of microreticulation; spermatheca simple, type C shape."
                                                },
                                                {
                                                    "description": "Figs. 19 (habitus), 21 (aedeagus), 86 (map)"
                                                },
                                                {
                                                    "description": "Differential diagnosis. Recognized by the piceous pronotal disc, which has large and deep PF 2 foveae that are shallowly confluent in the midline. Each dorsal puncture has a distinctive, short recumbent seta. The aedeagus shows some similarity to that of H. uniforma (Figs. 20, 21), but that species has non-serial elytral punctures, and the dorsal habitus of the two species differ distinctively (Figs. 18, 19)."
                                                },
                                                {
                                                    "description": "Distribution. Currently known from Angola and Namibia (Fig. 86)."
                                                },
                                                {
                                                    "description": "Etymology. Named in reference to the elephant-like shape of the aedeagal apex."
                                                },
                                                {
                                                    "description": "Type material. Holotype (male): Angola: Altoplano, Ongueria, in stagnant pools below waterfall, elev. 1615 m, 15 \u00b0 19 ' S, 13 \u00b0 32 ' E, 10 vi 1954, J. Balfour-Browne (255) (BMNH). Paratypes (64): Angola: Same data as holotype (1 BMNH). Senhora do Monte, Sa da Bandeira, sous des pierres, elev. 563 m, 14 \u00b0 42 ' S, 13 \u00b0 49 ' E, 22 ix 1949, A. de Barros Machado (61 BMNH); Serra do Moco, Luimbale, elev. 700 m, 12 \u00b0 14 ' S, 15 \u00b0 18 ' E, 6 ix 1949, A. de Barros Machado (1 BMNH); Namibia: Namib-Naukluft NP: Naukluft River, Phragmites grass + leaf litter, shore washing + sievings, 24 \u00b0 15.78 ' S, 16 \u00b0 14.08 ' E, 29 - 30 xi 1997, M. Uhlig (1 ZMHB)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "1": "Animalia",
                                                "54": "Arthropoda",
                                                "216": "Insecta",
                                                "1470": "Coleoptera",
                                                "7829": "Hydraenidae",
                                                "1039107": "Hydraena"
                                            },
                                            "class": "Insecta"
                                        },
                                        {
                                            "key": 183196955,
                                            "datasetKey": "903b427b-6b4f-4f0b-9270-1459a7e5be1e",
                                            "nubKey": 9278984,
                                            "parentKey": 217214688,
                                            "parent": "Hydraena",
                                            "kingdom": "Animalia",
                                            "phylum": "Arthropoda",
                                            "order": "Coleoptera",
                                            "family": "Hydraenidae",
                                            "genus": "Hydraena",
                                            "species": "Hydraena elephanta",
                                            "kingdomKey": 217214683,
                                            "phylumKey": 217214684,
                                            "classKey": 217214685,
                                            "orderKey": 217214686,
                                            "familyKey": 217214687,
                                            "genusKey": 217214688,
                                            "speciesKey": 183196955,
                                            "scientificName": "Hydraena elephanta Perkins 2014",
                                            "canonicalName": "Hydraena elephanta",
                                            "authorship": "Perkins 2014",
                                            "publishedIn": "PERKINS, PHILIP D. (2014): A revision of the water beetle genus Hydraena Kugelann for southern Africa (Coleoptera: Hydraenidae). Zootaxa 3758 (1): 1-92, DOI: 10.11646/zootaxa.3758.1.1, URL: http://dx.doi.org/10.11646/zootaxa.3758.1.1",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Description. Size: holotype (length / width, mm): body (length to elytral apices) 1.64 / 0.70; head 0.23 / 0.40; pronotum 0.42 / 0.52, PA 0.41, PB 0.45; elytra 1.02 / 0.70. Dorsum of head dark brown to piceous; pronotum brown to dark brown near margins, gradually grading to piceous on disc; elytra dark brown; legs brown; maxillary palpi light brown. Each dorsal puncture with distinctive, short recumbent seta. Frons punctures ca. 1 xef, denser near eyes than medially; interstices weakly shining, 0.5 \u2013 1 xpd laterally, 1 \u2013 2 xpd medially. Clypeus mcr laterally, very finely sparsely punctulate medially. Mentum moderately densely finely punctulate, interstices shining; postmentum contiguously punctulate. Genae raised, shining, without posterior ridge. Pronotum laterally slightly emarginate behind middle; anterior margin straight behind eyes, emarginate behind frons, scintilla absent; punctures on disc slightly larger and deeper than those of frons, interstices shining, 1 \u2013 2 xpd, punctures slightly denser at anterior and posterior; PF 1 very shallow, confluent in midline; PF 2 deep, shallowly confluent in midline; PF 3 deep; PF 4 shallow. Elytra weakly arcuate laterally; summit of posterior declivity at ca. midlength; lateral explanate margin moderately wide; on basal 1 / 3 punctures ca. 1 \u2013 2 xpd largest pronotal punctures, punctures becoming finer and more widely spaced toward posterior. Intervals not raised, shining, on basal 1 / 3 ca. 1 xpd, as are interstices between punctures of a row. Apices in dorsal aspect conjointly rounded, in posterior aspect margins forming shallow angle with one another. Ratios of P 2 width and plaque shape (P 2 / w / l / s) ca. 2 / 1 / 4 / 5. P 1 laminate; median carina sinuate in profile. P 2 l / w ca. 3 / 1, sides slightly diverging toward blunt apex, apex raised slightly above mesoventral intercoxal process. Plaques small, elongate oval, parallel, very weakly raised, located at sides of moderately deep median depression. Metaventrite without midlongitudinal carina between intercoxal process and median depression. AIS width at slightly arcuate posterior margin ca. 2 x P 2. All tibiae slender, pro- and metatibiae very slightly arcuate, mesotibiae straight. Abdominal apex symmetrical; last tergite with apicomedian notch. Female (microslide mount, n = 1): last tergite moderately broadly rounded, with minute apicomedian notch, ca. 28 hooked setae in double row; gonocoxite not midlongitudinally divided, apical margin moderately broadly rounded, low transverse ridge evident at border of microreticulation; spermatheca simple, type C shape."
                                                },
                                                {
                                                    "description": "Figs. 19 (habitus), 21 (aedeagus), 86 (map)"
                                                },
                                                {
                                                    "description": "Differential diagnosis. Recognized by the piceous pronotal disc, which has large and deep PF 2 foveae that are shallowly confluent in the midline. Each dorsal puncture has a distinctive, short recumbent seta. The aedeagus shows some similarity to that of H. uniforma (Figs. 20, 21), but that species has non-serial elytral punctures, and the dorsal habitus of the two species differ distinctively (Figs. 18, 19)."
                                                },
                                                {
                                                    "description": "Distribution. Currently known from Angola and Namibia (Fig. 86)."
                                                },
                                                {
                                                    "description": "Etymology. Named in reference to the elephant-like shape of the aedeagal apex."
                                                },
                                                {
                                                    "description": "Type material. Holotype (male): Angola: Altoplano, Ongueria, in stagnant pools below waterfall, elev. 1615 m, 15 \u00b0 19 ' S, 13 \u00b0 32 ' E, 10 vi 1954, J. Balfour-Browne (255) (BMNH). Paratypes (64): Angola: Same data as holotype (1 BMNH). Senhora do Monte, Sa da Bandeira, sous des pierres, elev. 563 m, 14 \u00b0 42 ' S, 13 \u00b0 49 ' E, 22 ix 1949, A. de Barros Machado (61 BMNH); Serra do Moco, Luimbale, elev. 700 m, 12 \u00b0 14 ' S, 15 \u00b0 18 ' E, 6 ix 1949, A. de Barros Machado (1 BMNH); Namibia: Namib-Naukluft NP: Naukluft River, Phragmites grass + leaf litter, shore washing + sievings, 24 \u00b0 15.78 ' S, 16 \u00b0 14.08 ' E, 29 - 30 xi 1997, M. Uhlig (1 ZMHB)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217214683": "Animalia",
                                                "217214684": "Arthropoda",
                                                "217214685": "Insecta",
                                                "217214686": "Coleoptera",
                                                "217214687": "Hydraenidae",
                                                "217214688": "Hydraena"
                                            },
                                            "class": "Insecta"
                                        },
                                        {
                                            "key": 179714330,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 179714221,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 4",
                                            "kingdomKey": 179677457,
                                            "phylumKey": 179714040,
                                            "classKey": 179714041,
                                            "orderKey": 179714042,
                                            "familyKey": 212255039,
                                            "speciesKey": 179714330,
                                            "scientificName": "Elephant gammaherpesvirus 4",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "179677457": "Heunggongvirae",
                                                "179714040": "Peploviricota",
                                                "179714041": "Herviviricetes",
                                                "179714042": "Herpesvirales",
                                                "212255039": "Orthoherpesviridae",
                                                "179714221": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 179714412,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 179714221,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 5",
                                            "kingdomKey": 179677457,
                                            "phylumKey": 179714040,
                                            "classKey": 179714041,
                                            "orderKey": 179714042,
                                            "familyKey": 212255039,
                                            "speciesKey": 179714412,
                                            "scientificName": "Elephant gammaherpesvirus 5",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "179677457": "Heunggongvirae",
                                                "179714040": "Peploviricota",
                                                "179714041": "Herviviricetes",
                                                "179714042": "Herpesvirales",
                                                "212255039": "Orthoherpesviridae",
                                                "179714221": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 119905591,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473377,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 4",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "familyKey": 212233220,
                                            "speciesKey": 119905591,
                                            "scientificName": "Elephant gammaherpesvirus 4",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "212233220": "Orthoherpesviridae",
                                                "102473377": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 102473383,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473377,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 5",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "familyKey": 212233220,
                                            "speciesKey": 102473383,
                                            "scientificName": "Elephant gammaherpesvirus 5",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "212233220": "Orthoherpesviridae",
                                                "102473377": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 179714417,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 179714221,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 2",
                                            "kingdomKey": 179677457,
                                            "phylumKey": 179714040,
                                            "classKey": 179714041,
                                            "orderKey": 179714042,
                                            "familyKey": 212255039,
                                            "speciesKey": 179714417,
                                            "scientificName": "Elephant gammaherpesvirus 2",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "179677457": "Heunggongvirae",
                                                "179714040": "Peploviricota",
                                                "179714041": "Herviviricetes",
                                                "179714042": "Herpesvirales",
                                                "212255039": "Orthoherpesviridae",
                                                "179714221": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 176802744,
                                            "datasetKey": "19491596-35ae-4a91-9a98-85cf505f1bd3",
                                            "nubKey": 2933003,
                                            "parentKey": 217710125,
                                            "parent": "Elephantorrhiza",
                                            "kingdom": "PLANTAE",
                                            "phylum": "TRACHEOPHYTA",
                                            "order": "FABALES",
                                            "family": "FABACEAE",
                                            "genus": "Elephantorrhiza",
                                            "species": "Elephantorrhiza burkei",
                                            "kingdomKey": 217706225,
                                            "phylumKey": 217706659,
                                            "classKey": 217706779,
                                            "orderKey": 217709570,
                                            "familyKey": 217709594,
                                            "genusKey": 217710125,
                                            "speciesKey": 176802744,
                                            "scientificName": "Elephantorrhiza burkei Benth.",
                                            "canonicalName": "Elephantorrhiza burkei",
                                            "authorship": "Benth.",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [
                                                "LEAST_CONCERN"
                                            ],
                                            "descriptions": [],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Broad-pod Elephant-root",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "Sumach Bean",
                                                    "language": "eng"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217706225": "PLANTAE",
                                                "217706659": "TRACHEOPHYTA",
                                                "217706779": "MAGNOLIOPSIDA",
                                                "217709570": "FABALES",
                                                "217709594": "FABACEAE",
                                                "217710125": "Elephantorrhiza"
                                            },
                                            "class": "MAGNOLIOPSIDA"
                                        },
                                        {
                                            "key": 102473427,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473377,
                                            "parent": "unclassified Gammaherpesvirinae",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "family": "Orthoherpesviridae",
                                            "species": "Elephant gammaherpesvirus 1B",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "familyKey": 212233220,
                                            "speciesKey": 102473427,
                                            "scientificName": "Elephant gammaherpesvirus 1B",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "212233220": "Orthoherpesviridae",
                                                "102473377": "unclassified Gammaherpesvirinae"
                                            },
                                            "class": "Herviviricetes"
                                        },
                                        {
                                            "key": 102473496,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 102473550,
                                            "parent": "unclassified Herpesvirales",
                                            "kingdom": "Heunggongvirae",
                                            "phylum": "Peploviricota",
                                            "order": "Herpesvirales",
                                            "species": "Asian elephant endotheliolytic herpesvirus",
                                            "kingdomKey": 167097865,
                                            "phylumKey": 167109249,
                                            "classKey": 167109250,
                                            "orderKey": 102472205,
                                            "speciesKey": 102473496,
                                            "scientificName": "Asian elephant endotheliolytic herpesvirus",
                                            "nameType": "VIRUS",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Aseev"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "167097865": "Heunggongvirae",
                                                "167109249": "Peploviricota",
                                                "167109250": "Herviviricetes",
                                                "102472205": "Herpesvirales",
                                                "102473550": "unclassified Herpesvirales"
                                            },
                                            "class": "Herviviricetes"
                                        }
                                    ],
                                    "facets": []
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 143394777</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "elephant": {
                                "value": "elephant"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "scientificName",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "results": [
                                        {
                                            "key": 0,
                                            "nubKey": 0,
                                            "nameKey": 130332213,
                                            "taxonID": "gbif:0",
                                            "sourceTaxonKey": 0,
                                            "kingdom": "incertae sedis",
                                            "kingdomKey": 0,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "incertae sedis",
                                            "canonicalName": "incertae sedis",
                                            "authorship": "",
                                            "nameType": "PLACEHOLDER",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 3613,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:19:21.731+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 1,
                                            "nubKey": 1,
                                            "nameKey": 130188353,
                                            "taxonID": "gbif:1",
                                            "sourceTaxonKey": 1,
                                            "kingdom": "Animalia",
                                            "kingdomKey": 1,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Animalia",
                                            "canonicalName": "Animalia",
                                            "vernacularName": "Animals",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 2981931,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:11:51.237+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 2,
                                            "nubKey": 2,
                                            "nameKey": 130277256,
                                            "taxonID": "gbif:2",
                                            "sourceTaxonKey": 170809364,
                                            "kingdom": "Archaea",
                                            "kingdomKey": 2,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Archaea",
                                            "canonicalName": "Archaea",
                                            "vernacularName": "Archaea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 4358,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:34.813+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 3,
                                            "nubKey": 3,
                                            "nameKey": 130277260,
                                            "taxonID": "gbif:3",
                                            "sourceTaxonKey": 3,
                                            "kingdom": "Bacteria",
                                            "kingdomKey": 3,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Bacteria",
                                            "canonicalName": "Bacteria",
                                            "vernacularName": "Bacteria",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 67224,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:35.110+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 4,
                                            "nubKey": 4,
                                            "nameKey": 130277610,
                                            "taxonID": "gbif:4",
                                            "sourceTaxonKey": 172299416,
                                            "kingdom": "Chromista",
                                            "kingdomKey": 4,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Chromista",
                                            "canonicalName": "Chromista",
                                            "vernacularName": "Kelp, Diatoms, And Allies",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 163420,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:01.037+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 5,
                                            "nubKey": 5,
                                            "nameKey": 130279178,
                                            "taxonID": "gbif:5",
                                            "sourceTaxonKey": 5,
                                            "kingdom": "Fungi",
                                            "kingdomKey": 5,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Fungi",
                                            "canonicalName": "Fungi",
                                            "vernacularName": "Fungi",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 486142,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:54:41.047+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 6,
                                            "nubKey": 6,
                                            "nameKey": 130293770,
                                            "taxonID": "gbif:6",
                                            "sourceTaxonKey": 6,
                                            "kingdom": "Plantae",
                                            "kingdomKey": 6,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Plantae",
                                            "canonicalName": "Plantae",
                                            "vernacularName": "Plants",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 716896,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:01:27.670+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 7,
                                            "nubKey": 7,
                                            "nameKey": 130322419,
                                            "taxonID": "gbif:7",
                                            "sourceTaxonKey": 170809337,
                                            "kingdom": "Protozoa",
                                            "kingdomKey": 7,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Protozoa",
                                            "canonicalName": "Protozoa",
                                            "vernacularName": "protozoans",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
[...]
