{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - CoinCap API is a cryptocurrency data source providing real-time market information and historical data for various digital currencies.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "https://coincap.io/#/support",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "1d": {
                                "value": "1d"
                            },
                            "1h": {
                                "value": "1h"
                            },
                            "1m": {
                                "value": "1m"
                            },
                            "30d": {
                                "value": "30d"
                            },
                            "h1": {
                                "value": "h1"
                            },
                            "h4": {
                                "value": "h4"
                            }
                        }
                    },
                    {
                        "name": "minSupply",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            },
                            "10000": {
                                "value": "10000"
                            }
                        }
                    },
                    {
                        "name": "maxSupply",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000000": {
                                "value": "100000000"
                            },
                            "1000000": {
                                "value": "1000000"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "ethereum": {
                                "value": "ethereum"
                            },
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "coin": {
                                "value": "coin"
                            }
                        }
                    },
                    {
                        "name": "minMarketCap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            }
                        }
                    },
                    {
                        "name": "maxMarketCap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000000": {
                                "value": "100000000"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "733353790635.6332037783104180",
                                            "volumeUsd24Hr": "6067971358.1344852249041505",
                                            "priceUsd": "37517.3410017133625390",
                                            "changePercent24Hr": "2.3589077459736217",
                                            "vwap24Hr": "37206.6397086625506267",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "249916781210.0244972159820876",
                                            "volumeUsd24Hr": "4617931929.5342075165248759",
                                            "priceUsd": "2078.2636514782095942",
                                            "changePercent24Hr": "3.5692877894005926",
                                            "vwap24Hr": "2063.4391537607930067",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87747878098.0522222280776366",
                                            "volumeUsd24Hr": "13558276958.7085808826611325",
                                            "priceUsd": "1.0006191344102957",
                                            "changePercent24Hr": "-0.0243242193833984",
                                            "vwap24Hr": "1.0005585745642612",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "39282218048.6722461506938712",
                                            "volumeUsd24Hr": "438547564.8663345450859221",
                                            "priceUsd": "235.5032835186017194",
                                            "changePercent24Hr": "0.0330592672202622",
                                            "vwap24Hr": "234.6612162844168447",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "28013962091.9589133117263520",
                                            "volumeUsd24Hr": "509331295.7640831559928597",
                                            "priceUsd": "0.6169928733433843",
                                            "changePercent24Hr": "3.7845239305170621",
                                            "vwap24Hr": "0.6043693589645755",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "6",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24638326937.4071727385663613",
                                            "volumeUsd24Hr": "577490932.7175349090147367",
                                            "priceUsd": "58.2646545725869654",
                                            "changePercent24Hr": "6.2560045115439325",
                                            "vwap24Hr": "56.6299099140988243",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "7",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24445885836.8541205966986951",
                                            "volumeUsd24Hr": "1129691455.7383137833930437",
                                            "priceUsd": "1.0003687863111917",
                                            "changePercent24Hr": "-0.0843057489432210",
                                            "vwap24Hr": "1.0003497519360987",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13601864333.3176438569380730",
                                            "volumeUsd24Hr": "117882453.0300182271202903",
                                            "priceUsd": "0.3855225460237311",
                                            "changePercent24Hr": "4.0866794215606520",
                                            "vwap24Hr": "0.3778291120139996",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10825464036.2165257561396190",
                                            "volumeUsd24Hr": "178468558.5276871887220451",
                                            "priceUsd": "0.0762910719038942",
                                            "changePercent24Hr": "2.4740112467749951",
                                            "vwap24Hr": "0.0755055118579078",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8992855987.0857391556986040",
                                            "volumeUsd24Hr": "133846387.8013927033400215",
                                            "priceUsd": "0.1014672882051747",
                                            "changePercent24Hr": "3.5770566847688153",
                                            "vwap24Hr": "0.1010752963190451",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700735004866
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/exchanges": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "volume": {
                                "value": "volume"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "volume": {
                                "value": "volume"
                            }
                        }
                    },
                    {
                        "name": "volume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000": {
                                "value": "100000"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usd": {
                                "value": "usd"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            },
                            "1m": {
                                "value": "1m"
                            },
                            "h4": {
                                "value": "h4"
                            },
                            "d1": {
                                "value": "d1"
                            },
                            "hour": {
                                "value": "hour"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "updated",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "data",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "trade": {
                                "value": "trade"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hour": {
                                "value": "hour"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_exchanges"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "binance",
                                            "name": "Binance",
                                            "rank": "1",
                                            "percentTotalVolume": "37.474985116131829066000000000000000000",
                                            "volumeUsd": "6392585420.4428852586777531",
                                            "tradingPairs": "826",
                                            "socket": true,
                                            "exchangeUrl": "https://www.binance.com/",
                                            "updated": 1700735031644
                                        },
                                        {
                                            "exchangeId": "gdax",
                                            "name": "Coinbase Pro",
                                            "rank": "2",
                                            "percentTotalVolume": "10.002232443606495332000000000000000000",
                                            "volumeUsd": "1706208157.0608933274471594",
                                            "tradingPairs": "218",
                                            "socket": true,
                                            "exchangeUrl": "https://pro.coinbase.com/",
                                            "updated": 1700735031420
                                        },
                                        {
                                            "exchangeId": "whitebit",
                                            "name": "WhiteBIT",
                                            "rank": "3",
                                            "percentTotalVolume": "8.098485575572333060000000000000000000",
                                            "volumeUsd": "1381461811.3293178749096496",
                                            "tradingPairs": "90",
                                            "socket": false,
                                            "exchangeUrl": "https://whitebit.com",
                                            "updated": 1700735029567
                                        },
                                        {
                                            "exchangeId": "kraken",
                                            "name": "Kraken",
                                            "rank": "4",
                                            "percentTotalVolume": "5.267831478449410770000000000000000000",
                                            "volumeUsd": "898601096.2280466156491713",
                                            "tradingPairs": "343",
                                            "socket": false,
                                            "exchangeUrl": "https://kraken.com",
                                            "updated": 1700735029157
                                        },
                                        {
                                            "exchangeId": "digifinex",
                                            "name": "DigiFinex",
                                            "rank": "5",
                                            "percentTotalVolume": "4.664927098006573406000000000000000000",
                                            "volumeUsd": "795756018.6277101307239251",
                                            "tradingPairs": "135",
                                            "socket": false,
                                            "exchangeUrl": "https://www.digifinex.com/",
                                            "updated": 1700735028043
                                        },
                                        {
                                            "exchangeId": "uniswap-v3",
                                            "name": "Uniswap (V3)",
                                            "rank": "6",
                                            "percentTotalVolume": "4.375440403806587621000000000000000000",
                                            "volumeUsd": "746374586.8534137276022386",
                                            "tradingPairs": "291",
                                            "socket": false,
                                            "exchangeUrl": "https://uniswap.org/",
                                            "updated": 1700735031560
                                        },
                                        {
                                            "exchangeId": "gate",
                                            "name": "Gate",
                                            "rank": "7",
                                            "percentTotalVolume": "4.254111869447463802000000000000000000",
                                            "volumeUsd": "725678033.7414028750077407",
                                            "tradingPairs": "1303",
                                            "socket": false,
                                            "exchangeUrl": "https://gate.io/",
                                            "updated": 1700735030923
                                        },
                                        {
                                            "exchangeId": "huobi",
                                            "name": "Huobi",
                                            "rank": "8",
                                            "percentTotalVolume": "3.872548698841714790000000000000000000",
                                            "volumeUsd": "660589944.8780324536055383",
                                            "tradingPairs": "210",
                                            "socket": true,
                                            "exchangeUrl": "https://www.hbg.com/",
                                            "updated": 1700735029958
                                        },
                                        {
                                            "exchangeId": "bibox",
                                            "name": "Bibox",
                                            "rank": "9",
                                            "percentTotalVolume": "2.897456228014426519000000000000000000",
                                            "volumeUsd": "494256005.2306253159238918",
                                            "tradingPairs": "154",
                                            "socket": false,
                                            "exchangeUrl": "https://www.bibox.com",
                                            "updated": 1700735030905
                                        },
                                        {
                                            "exchangeId": "lbank",
                                            "name": "LBank",
                                            "rank": "10",
                                            "percentTotalVolume": "2.634119327555056041000000000000000000",
                                            "volumeUsd": "449335276.7680398154115675",
                                            "tradingPairs": "102",
                                            "socket": false,
                                            "exchangeUrl": "https://www.lbank.info",
                                            "updated": 1700735031417
                                        }
                                    ],
                                    "timestamp": 1700735047898
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "100": {
                                "value": "100"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            },
                            "coinbase-pro": {
                                "value": "coinbase-pro"
                            },
                            "kraken": {
                                "value": "kraken"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "usd": {
                                "value": "usd"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ETH": {
                                "value": "ETH"
                            },
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "h1": {
                                "value": "h1"
                            },
                            "1m": {
                                "value": "1m"
                            },
                            "1d": {
                                "value": "1d"
                            },
                            "1h": {
                                "value": "1h"
                            },
                            "d1": {
                                "value": "d1"
                            },
                            "h4": {
                                "value": "h4"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "volume": {
                                "value": "volume"
                            },
                            "asc": {
                                "value": "asc"
                            },
                            "rank": {
                                "value": "rank"
                            },
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "side",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "buy": {
                                "value": "buy"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            },
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "quote",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            },
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "volume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000": {
                                "value": "100000"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "price",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000": {
                                "value": "10000"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1577836800000": {
                                "value": "1577836800000"
                            }
                        }
                    },
                    {
                        "name": "direction",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "tradeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123456": {
                                "value": "123456"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "ALGO",
                                            "baseId": "algorand",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000036900000000",
                                            "priceUsd": "0.1384698722955136",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "1223",
                                            "updated": 1700734938947
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "FMA",
                                            "baseId": "flama",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000038100000000",
                                            "priceUsd": "0.1429729575734164",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700735004357
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "POLY",
                                            "baseId": "polymath-network",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001000000000000",
                                            "priceUsd": "0.2079118693429198",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700734990490
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "4",
                                            "baseSymbol": "ZIL",
                                            "baseId": "zilliqa",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0000100200000000",
                                            "priceUsd": "0.0208327693081606",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "8",
                                            "updated": 1700734983809
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "5",
                                            "baseSymbol": "WAVES",
                                            "baseId": "waves",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0009400000000000",
                                            "priceUsd": "1.9543715718234459",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "24",
                                            "updated": 1700735009198
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "6",
                                            "baseSymbol": "WAVES",
                                            "baseId": "waves",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000594000000000",
                                            "priceUsd": "2.2290272125619256",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "67",
                                            "updated": 1700735008599
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "7",
                                            "baseSymbol": "FME",
                                            "baseId": "fme",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0007100000000000",
                                            "priceUsd": "0.0007103187209366",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700735003745
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "8",
                                            "baseSymbol": "FTM",
                                            "baseId": "fantom",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000078300000000",
                                            "priceUsd": "0.2938263143831629",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "771",
                                            "updated": 1700735005560
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "9",
                                            "baseSymbol": "SHDC",
                                            "baseId": "shd-cash",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0000900000000000",
                                            "priceUsd": "0.0000900404012455",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700734948591
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "10",
                                            "baseSymbol": "EOS",
                                            "baseId": "eos",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0003490000000000",
                                            "priceUsd": "0.7256124240067900",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "34",
                                            "updated": 1700735007366
                                        }
                                    ],
                                    "timestamp": 1700735048460
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/rates": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1m": {
                                "value": "1m"
                            },
                            "h4": {
                                "value": "h4"
                            },
                            "d1": {
                                "value": "d1"
                            },
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum,litecoin": {
                                "value": "bitcoin,ethereum,litecoin"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1609459200": {
                                "value": "1609459200"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_rates"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "dominican-peso",
                                            "symbol": "DOP",
                                            "currencySymbol": "RD$",
                                            "type": "fiat",
                                            "rateUsd": "0.0175784117135082"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "symbol": "BNB",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "235.5478297249862100"
                                        },
                                        {
                                            "id": "malagasy-ariary",
                                            "symbol": "MGA",
                                            "currencySymbol": "Ar",
                                            "type": "fiat",
                                            "rateUsd": "0.0002203265065209"
                                        },
                                        {
                                            "id": "special-drawing-rights",
                                            "symbol": "XDR",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "1.3304560004896078"
                                        },
                                        {
                                            "id": "czech-republic-koruna",
                                            "symbol": "CZK",
                                            "currencySymbol": "K\u010d",
                                            "type": "fiat",
                                            "rateUsd": "0.0447877856184271"
                                        },
                                        {
                                            "id": "bosnia-herzegovina-convertible-mark",
                                            "symbol": "BAM",
                                            "currencySymbol": "KM",
                                            "type": "fiat",
                                            "rateUsd": "0.5570661332201375"
                                        },
                                        {
                                            "id": "uzbekistan-som",
                                            "symbol": "UZS",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0000813246775695"
                                        },
                                        {
                                            "id": "ethereum",
                                            "symbol": "ETH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "2078.9351276884138892"
                                        },
                                        {
                                            "id": "botswanan-pula",
                                            "symbol": "BWP",
                                            "currencySymbol": "P",
                                            "type": "fiat",
                                            "rateUsd": "0.0738600768115255"
                                        },
                                        {
                                            "id": "burundian-franc",
                                            "symbol": "BIF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003515820297088"
                                        },
                                        {
                                            "id": "romanian-leu",
                                            "symbol": "RON",
                                            "currencySymbol": "lei",
                                            "type": "fiat",
                                            "rateUsd": "0.2197222710493936"
                                        },
                                        {
                                            "id": "bitcoin-cash",
                                            "symbol": "BCH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "225.9661331442584629"
                                        },
                                        {
                                            "id": "nepalese-rupee",
                                            "symbol": "NPR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0074999505190765"
                                        },
                                        {
                                            "id": "ugandan-shilling",
                                            "symbol": "UGX",
                                            "currencySymbol": "UGX",
                                            "type": "fiat",
                                            "rateUsd": "0.0002639326867807"
                                        },
                                        {
                                            "id": "new-zealand-dollar",
                                            "symbol": "NZD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.6048402949443215"
                                        },
                                        {
                                            "id": "chinese-yuan-(offshore)",
                                            "symbol": "CNH",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.1400174881842742"
                                        },
                                        {
                                            "id": "kazakhstani-tenge",
                                            "symbol": "KZT",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0021840446557109"
                                        },
                                        {
                                            "id": "australian-dollar",
                                            "symbol": "AUD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.6562493642584284"
                                        },
                                        {
                                            "id": "swazi-lilangeni",
                                            "symbol": "SZL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0535009639803690"
                                        },
                                        {
                                            "id": "papua-new-guinean-kina",
                                            "symbol": "PGK",
                                            "currencySymbol": "K",
                                            "type": "fiat",
                                            "rateUsd": "0.2645750422129480"
                                        },
                                        {
                                            "id": "nigerian-naira",
                                            "symbol": "NGN",
                                            "currencySymbol": "\u20a6",
                                            "type": "fiat",
                                            "rateUsd": "0.0012238919012459"
                                        },
                                        {
                                            "id": "mauritanian-ouguiya",
                                            "symbol": "MRU",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0250738745296799"
                                        },
                                        {
                                            "id": "tanzanian-shilling",
                                            "symbol": "TZS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003992015968064"
                                        },
                                        {
                                            "id": "armenian-dram",
                                            "symbol": "AMD",
                                            "currencySymbol": "\u058f",
                                            "type": "fiat",
                                            "rateUsd": "0.0024829302826125"
                                        },
                                        {
                                            "id": "macanese-pataca",
                                            "symbol": "MOP",
                                            "currencySymbol": "MOP$",
                                            "type": "fiat",
                                            "rateUsd": "0.1244699137547968"
                                        },
                                        {
                                            "id": "paraguayan-guarani",
                                            "symbol": "PYG",
                                            "currencySymbol": "Gs",
                                            "type": "fiat",
                                            "rateUsd": "0.0001343094321637"
                                        },
                                        {
                                            "id": "honduran-lempira",
                                            "symbol": "HNL",
                                            "currencySymbol": "L",
                                            "type": "fiat",
                                            "rateUsd": "0.0404736419858668"
                                        },
                                        {
                                            "id": "moldovan-leu",
                                            "symbol": "MDL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0560847211310628"
                                        },
                                        {
                                            "id": "macedonian-denar",
                                            "symbol": "MKD",
                                            "currencySymbol": "\u0434\u0435\u043d",
                                            "type": "fiat",
                                            "rateUsd": "0.0177633709733835"
                                        },
                                        {
                                            "id": "bahraini-dinar",
                                            "symbol": "BHD",
                                            "currencySymbol": "BD",
                                            "type": "fiat",
                                            "rateUsd": "2.6529069227606152"
                                        },
                                        {
                                            "id": "serbian-dinar",
                                            "symbol": "RSD",
                                            "currencySymbol": "\u0414\u0438\u043d.",
                                            "type": "fiat",
                                            "rateUsd": "0.0092956053343277"
                                        },
                                        {
                                            "id": "congolese-franc",
                                            "symbol": "CDF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0004026756367368"
                                        },
                                        {
                                            "id": "omani-rial",
                                            "symbol": "OMR",
                                            "currencySymbol": "\ufdfc",
                                            "type": "fiat",
                                            "rateUsd": "2.5978007019257500"
                                        },
                                        {
                                            "id": "iraqi-dinar",
                                            "symbol": "IQD",
                                            "currencySymbol": "\u062f.\u0639",
                                            "type": "fiat",
                                            "rateUsd": "0.0007634971936733"
                                        },
                                        {
                                            "id": "cfp-franc",
                                            "symbol": "XPF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0091534884122832"
                                        },
                                        {
                                            "id": "manx-pound",
                                            "symbol": "IMP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2558396543929270"
                                        },
                                        {
                                            "id": "thai-baht",
                                            "symbol": "THB",
                                            "currencySymbol": "\u0e3f",
                                            "type": "fiat",
                                            "rateUsd": "0.0283544763211768"
                                        },
                                        {
                                            "id": "mongolian-tugrik",
                                            "symbol": "MNT",
                                            "currencySymbol": "\u20ae",
                                            "type": "fiat",
                                            "rateUsd": "0.0002898550724638"
                                        },
                                        {
                                            "id": "guyanaese-dollar",
                                            "symbol": "GYD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0047770872323024"
                                        },
                                        {
                                            "id": "rwandan-franc",
                                            "symbol": "RWF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0008090833483247"
                                        },
                                        {
                                            "id": "kuwaiti-dinar",
                                            "symbol": "KWD",
                                            "currencySymbol": "\u0643",
                                            "type": "fiat",
                                            "rateUsd": "3.2450674974039460"
                                        },
                                        {
                                            "id": "united-arab-emirates-dirham",
                                            "symbol": "AED",
                                            "currencySymbol": "\u0641\u0644\u0633",
                                            "type": "fiat",
                                            "rateUsd": "0.2722959312180478"
                                        },
                                        {
                                            "id": "singapore-dollar",
                                            "symbol": "SGD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7466520123765037"
                                        },
                                        {
                                            "id": "south-korean-won",
                                            "symbol": "KRW",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0007695609102693"
                                        },
                                        {
                                            "id": "chinese-yuan-renminbi",
                                            "symbol": "CNY",
                                            "currencySymbol": "\u00a5",
                                            "type": "fiat",
                                            "rateUsd": "0.1410238330277817"
                                        },
                                        {
                                            "id": "hong-kong-dollar",
                                            "symbol": "HKD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.1282498512301726"
                                        },
                                        {
                                            "id": "eos",
                                            "symbol": "EOS",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.6777813611414407"
                                        },
                                        {
                                            "id": "thorchain",
                                            "symbol": "RUNE",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "6.0255062623141831"
                                        },
                                        {
                                            "id": "sentinel",
                                            "symbol": "DVPN",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0004994572838515"
                                        },
                                        {
                                            "id": "sri-lankan-rupee",
                                            "symbol": "LKR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0030403507630785"
                                        },
                                        {
                                            "id": "mozambican-metical",
                                            "symbol": "MZN",
                                            "currencySymbol": "MT",
                                            "type": "fiat",
                                            "rateUsd": "0.0156617068807877"
                                        },
                                        {
                                            "id": "waves",
                                            "symbol": "WAVES",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "2.1127110971121914"
                                        },
                                        {
                                            "id": "croatian-kuna",
                                            "symbol": "HRK",
                                            "currencySymbol": "kn",
                                            "type": "fiat",
                                            "rateUsd": "0.1449184840772989"
                                        },
                                        {
                                            "id": "lebanese-pound",
                                            "symbol": "LBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "0.0000664952843496"
                                        },
                                        {
                                            "id": "venezuelan-bol\u00edvar-soberano",
                                            "symbol": "VES",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0282431543536399"
                                        },
                                        {
                                            "id": "japanese-yen",
                                            "symbol": "JPY",
                                            "currencySymbol": "\u00a5",
                                            "type": "fiat",
                                            "rateUsd": "0.0067006356988169"
                                        },
                                        {
                                            "id": "mauritian-rupee",
                                            "symbol": "MUR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0226500566251416"
                                        },
                                        {
                                            "id": "palladium-ounce",
                                            "symbol": "XPD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "1058.2346529519457000"
                                        },
                                        {
                                            "id": "hungarian-forint",
                                            "symbol": "HUF",
                                            "currencySymbol": "Ft",
                                            "type": "fiat",
                                            "rateUsd": "0.0028762595960505"
                                        },
                                        {
                                            "id": "brazilian-real",
                                            "symbol": "BRL",
                                            "currencySymbol": "R$",
                                            "type": "fiat",
[...]
