{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**API Description** - The GBIF Species API is an interface that provides access to information about various species, including their names, classifications, and occurrences.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.gbif.org/terms",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "https://www.gbif.org/developer/species",
            "email": "support@gbif.org"
        },
        "license": {
            "name": "CC0",
            "url": "https://creativecommons.org/publicdomain/zero/1.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "butterfly": {
                                "value": "butterfly"
                            },
                            "elephant": {
                                "value": "elephant"
                            },
                            "Panthera": {
                                "value": "Panthera"
                            },
                            "plant": {
                                "value": "plant"
                            },
                            "birds": {
                                "value": "birds"
                            },
                            "flower": {
                                "value": "flower"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "genus": {
                                "value": "genus"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            },
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "10": {
                                "value": "10"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            },
                            "Plantae": {
                                "value": "Plantae"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            },
                            "Primates": {
                                "value": "Primates"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Lynx": {
                                "value": "Lynx"
                            },
                            "Puma": {
                                "value": "Puma"
                            },
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2022": {
                                "value": "2022"
                            },
                            "2010": {
                                "value": "2010"
                            },
                            "2000": {
                                "value": "2000"
                            },
                            "2021": {
                                "value": "2021"
                            },
                            "2000,2020": {
                                "value": "2000,2020"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "5fb7c08b-cfdf-4169-8de1-e9e2fc9e3ebc": {
                                "value": "5fb7c08b-cfdf-4169-8de1-e9e2fc9e3ebc"
                            },
                            "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
                            },
                            "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c": {
                                "value": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Tilia": {
                                "value": "Tilia"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            },
                            "IN": {
                                "value": "IN"
                            },
                            "France": {
                                "value": "France"
                            },
                            "US": {
                                "value": "US"
                            },
                            "FR": {
                                "value": "FR"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2435098": {
                                "value": "2435098"
                            },
                            "248": {
                                "value": "248"
                            }
                        }
                    },
                    {
                        "name": "nameStatus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "synonym": {
                                "value": "synonym"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBIF": {
                                "value": "GBIF"
                            }
                        }
                    },
                    {
                        "name": "nameLike",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "nameType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "count": 11578,
                                    "results": [
                                        {
                                            "key": 165334123,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334123,
                                            "scientificName": "Graphium (butterfly) fulleri",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Grose-Smith, 1883).Grose-Smith , H. 1883. Descriptions of three new species of Papilio. Entomologist\u2019s Monthly Magazine 19: 234-235..Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium fulleri is a butterfly in the family Papilionidae (swallowtails). It is found in Cameroon, Equatorial Guinea, Gabon, the Republic of the Congo, Angola, the Democratic Republic of the Congo and Chad.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini"
                                                },
                                                {
                                                    "description": "Afrotropical realm"
                                                },
                                                {
                                                    "description": "The broad black marginal band of the hindwing is always ornamented with light spots. The wings have a common light median band, which does not reach the base of the hindwing and is interrupted in cellule 5 of the forewing. Hindwing beneath without black basal, dot in cellule 7 and consequently with only two such dots. Hindwing with 3\u20148 usually double sub\u00acmarginal spots. The markings are light yellow; the median band formed almost exactly as in G. ucalegon-, cell of the forewing with an apical spot and a streak at the hindmargin between veins 3 and 4; hindwing with two submarginal dots each in cellules 2\u20146 and with three large discal spots about in the middle of cellules 2\u20144, beneath red at the base.Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13). Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium fulleri fulleri (Cameroon, Congo) Graphium fulleri boulleti (Le Cerf, 1912)Le Cerf, F. 1912. Description d\u2019un Papilio du Congo francais. Bulletin de la Societe Entomologique de France 1912: 382-383. (Cameroon, Equatorial Guinea, Gabon, Congo, Democratic Republic of the Congo)"
                                                },
                                                {
                                                    "description": "Graphium fulleri belongs to a species group with 16 members. All are very similar The species group members are: Graphium abri Smith & Vane-Wright, 2001 Graphium adamastor (Boisduval, 1836) Graphium agamedes (Westwood, 1842) Graphium almansor (Honrath, 1884) Graphium auriger (Butler, 1876) Graphium aurivilliusi (Seeldrayers, 1896) Graphium fulleri (Grose-Smith, 1883) Graphium hachei (Dewitz, 1881) Graphium kigoma Carcasson, 1964 Graphium olbrechtsi Berger, 1950 Graphium poggianus (Honrath, 1884) Graphium rileyi Berger, 1950 Graphium schubotzi (Schultze, 1913) Graphium simoni (Aurivillius, 1899), Graphium ucalegon (Hewitson, 1865)[ Graphium ucalegonides (Staudinger, 1884)"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165348311,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217511509,
                                            "parent": "Logania (butterfly)",
                                            "genus": "Logania (butterfly)",
                                            "species": "Logania spec.",
                                            "genusKey": 217511509,
                                            "speciesKey": 165348311,
                                            "scientificName": "Logania (butterfly) malayica",
                                            "canonicalName": "Logania spec.",
                                            "authorship": "Distant, 1884Distant, W.L.1882-1886. Rhopalocera Malayana. 16 + 481 pp., 41 pls. London..",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Logania malayica, the Malayan mottle, is a butterfly in the family Lycaenidae. It was described by William Lucas Distant in 1884. It is found in the Indomalayan realm.Seitz, A., 1912-1927. Die Indo-Australien Tagfalter. Theclinae, Poritiinae, Hesperiidae. Grossschmetterlinge Erde 9: 799-1107, pls. 138-175."
                                                },
                                                {
                                                    "description": "The larva is associated with the aphid genus Pseudoregma."
                                                },
                                                {
                                                    "description": "L. m. malayica Thailand, Malay Peninsula, Borneo, Sumatra L. m. subura Fruhstorfer, 1914 Philippines"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217511509": "Logania (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334297,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334297,
                                            "scientificName": "Graphium (butterfly) philonoe",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Ward, 1873)Ward, C. 1873. Descriptions of new species of African lepidoptera.Entomologist\u2019s Monthly Magazine 10: 151-152.Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium philonoe, the eastern white-lady swordtail, is a butterfly in the family Papilionidae. It is found in Sudan, Ethiopia, Uganda, Kenya, the Democratic Republic of the Congo, Tanzania, Malawi and Mozambique.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini Its habitat consists of coastal and riparian forests."
                                                },
                                                {
                                                    "description": "Males may infrequently mud-puddle. Both sexes are attracted to flowers, including Maerua species. The larvae feed on Uvaria leptocladon, Uvaria chamae and Annona species."
                                                },
                                                {
                                                    "description": "Differs from [related species]] in that the discal spots of cellules 1 a and 1 b of the forewing cover the base of these cellules; the submarginal spots of cellules 4\u20148 of the fore\u00acwing are single, rounded and rather large, those of the hindwing on the contrary represented in each cellule by two streaks; the basal spots of cellules 2, 3 and 6 of the hindwing are sharply defined distally, transversely cut off or rounded; the cell of the forewing before the middle with three white dots in a transverse line, then a large transverse spot divided into three parts by the dark folds and finally at the apex two white dots; the discal spots of cellules 2\u20144 of the forewing are usually rounded and more or less separated. \u2014 German and British East Africa. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium philonoe philonoe (Democratic Republic of the Congo, coast of Kenya, eastern Tanzania, Malawi, Mozambique) Graphium philonoe whalleyi (Talbot, 1929)Talbot, , G. 1929a. New forms of African Lepidoptera. Bulletin of the Hill Museum, Witley 3:72-77. (southern Sudan, south-western Ethiopia, northern Uganda, north-western Kenya)"
                                                },
                                                {
                                                    "description": "It is a member of the tynderaeus -clade (Graphium tynderaeus, Graphium philonoe, Graphium latreillianus).In some works it is seen as the sole member of species group philonoe."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165803875,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510234,
                                            "parent": "Hamadryas (butterfly)",
                                            "genus": "Hamadryas (butterfly)",
                                            "species": "Hamadryas spec.",
                                            "genusKey": 217510234,
                                            "speciesKey": 165803875,
                                            "scientificName": "Hamadryas (butterfly) albicornis",
                                            "canonicalName": "Hamadryas spec.",
                                            "authorship": "(Staudinger, [1885])\"Hamadryas H\u00fcbner, 1806\" at Markku Savela's Lepidoptera and Some Other Life Forms",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Hamadryas albicornis is a species of cracker butterfly in the family Nymphalidae. It is found in Peru."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510234": "Hamadryas (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165441956,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165441956,
                                            "scientificName": "Graphium (butterfly) morania",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Angas, 1849) .Angas, G.F. [1849]. The Kafirs illustrated in a series of drawings taken among the Amazulu,Amapondo, and Amakosa tribes, etc. London. 1-52..Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium morania, the white lady or small white-lady swordtail, is a species of butterfly in the family Papilionidae (swallowtails). It is found in southern Africa (Natal, Zululand, Swaziland, Transvaal, S.Mozambique, SE.Zimbabwe, E.Botswana).Graphium morania, funet.fi"
                                                },
                                                {
                                                    "description": "Its fight period is year-round, peaking in November and February. The larva feed on Uvaria caffra, Artabotrys species, Hexalobus monopetalus, Artabotrys brachypetalus, Artabotrys monteiroae, and Annona senegalensis."
                                                },
                                                {
                                                    "description": "The wingspan is 50\u201355 mm in males and 55\u201360 mm in females. Hindwing beneath without red spots in the marginal band; both wings above with white spots in the marginal band; abdomen without continuous yellow lateral stripe, at most with three yellow lateral spots on segments 2\u20144, on the other hand with triangular black lateral spots. Apex of the cell of the forewing either filled by a single white spot or with two spots, which however are only narrowly or incompletely separated.The discal spot in cellule 2 of the forewing is large and completely fills up the base of the cellule; the white subdiscal spots of cellules 2\u20145 of the hindwing above are placed nearer to the inner margin than to the outer margin of the black marginal band; the markings yellowish or greenish white. Ovambo Land to Delagoa Bay.Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium morania belongs to a clade with six members. All have similar genitalia The clade members are: Graphium angolanus (Goeze, 1779) Graphium endochus (Boisduval, 1836) Graphium morania (Angas, 1849) Graphium taboranus (Oberth\u00fcr, 1886) Graphium schaffgotschi (Niepelt, 1927) Graphium ridleyanus (White, 1843)"
                                                }
                                            ],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "White lady",
                                                    "language": "eng"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334116,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334116,
                                            "scientificName": "Graphium (butterfly) auriger",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Butler, 1876)Butler, A.G. 1876. Descriptions of three new species of Papilio from the collection of Mr. Herbert Druce. Entomologist\u2019s Monthly Magazine 13: 56-57.Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium auriger is a butterfly in the family Papilionidae. It is found in Senegal, Cameroon, Equatorial Guinea, Gabon, the Republic of the Congo, the Central African Republic and the Democratic Republic of the Congo.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini"
                                                },
                                                {
                                                    "description": "Graphium auriger belongs to a species group with 16 members. All are very similar The species group members are: Graphium abri Smith & Vane-Wright, 2001 Graphium adamastor (Boisduval, 1836) Graphium agamedes (Westwood, 1842) Graphium almansor (Honrath, 1884) Graphium auriger (Butler, 1876) Graphium aurivilliusi (Seeldrayers, 1896) Graphium fulleri (Grose-Smith, 1883) Graphium hachei (Dewitz, 1881) Graphium kigoma Carcasson, 1964 Graphium olbrechtsi Berger, 1950 Graphium poggianus (Honrath, 1884) Graphium rileyi Berger, 1950 Graphium schubotzi (Schultze, 1913) Graphium simoni (Aurivillius, 1899), Graphium ucalegon (Hewitson, 1865)[ Graphium ucalegonides (Staudinger, 1884)"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334091,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334091,
                                            "scientificName": "Graphium (butterfly) kigoma",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "Carcasson, 1964Carcasson, R.H. 1964 New butterflies from the Kigoma area of western Tanganyika.Journal of the East Africa Natural History Society & Coryndon Museum 24 (4): 62-67.onlineGraphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium kigoma is a butterfly in the family Papilionidae (swallowtails). It is found in Tanzania, from the western part of the country to the Kigoma District.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini The habitat consists of forests (including riparian forests) and heavy woodland."
                                                },
                                                {
                                                    "description": "Graphium kigoma belongs to a species group with 16 members. All are very similar The species group members are: Graphium abri Smith & Vane-Wright, 2001 Graphium adamastor (Boisduval, 1836) Graphium agamedes (Westwood, 1842) Graphium almansor (Honrath, 1884) Graphium auriger (Butler, 1876) Graphium aurivilliusi (Seeldrayers, 1896) Graphium fulleri (Grose-Smith, 1883) Graphium hachei (Dewitz, 1881) Graphium kigoma Carcasson, 1964 Graphium olbrechtsi Berger, 1950 Graphium poggianus (Honrath, 1884) Graphium rileyi Berger, 1950 Graphium schubotzi (Schultze, 1913) Graphium simoni (Aurivillius, 1899), Graphium ucalegon (Hewitson, 1865)[ Graphium ucalegonides (Staudinger, 1884)"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334230,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334230,
                                            "scientificName": "Graphium (butterfly) polistratus",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Grose-Smith, 1889)Grose-Smith, H. 1889. Descriptions of twenty-four new species of butterflies captured by Mr.Last in the neighbourhood of Mombasa, East Coast of Africa, in the collection of Mr. H. Grose-Smith. Annals and Magazine of Natural History (6) 3: 121-137 Full text. Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium polistratus, the dancing swordtail, is a butterfly in the family Papilionidae (swallowtails). It is found in Nigeria, the Democratic Republic of the Congo, the coast of Kenya, Tanzania, northern Malawi and Mozambique.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini Its habitat consists of warm and coastal forests."
                                                },
                                                {
                                                    "description": "Adult males mud-puddle. Both sexes feed from flowers. Adults are probably on wing year round. The larvae feed on Annona senegalensis and Uvaria species."
                                                },
                                                {
                                                    "description": "The last three transverse bars in the cell of the forewing somewhat curved.Hindwing above without red spot in cellule 1 c; the discal spots 2 to 5 of the hindwing above are entirely absent; the apex of the cell of the hindwing beneath without red spot; the discal spot in cellule 6 of the hindwing narrow, streak-like; the large light basal spot in cellule 2 of the hindwing is entirely absent on the under surface or is only indicated; the markings of the upper surface light green. Portuguese to British East Africa. \u2014 richelmanni Weym. only differs in having the discal spots in cellules 4 and 5 of the hindwing present. German East Africa. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium polistratus is a member of the antheus - clade Graphium antheus, Graphium colonna,Graphium evombar , Graphium kirbyi, Graphium junodi, Graphium polistratus, Graphium illyris, Graphium gudenusi). Aurivillius in Seitz places polistratus (as sisenna), nigrescens (policenoides), policenes, junodi, porthaon and collona in the Policenes Group Subgroup 2 circumscribed Hindwing with a long, narrow tail of uniform width at vein 4. Frons black with white lateral margins. Wings above with green or greenish white markings. Cell of the forewing with 5 \u2014 6 transverse bands or spots. Both wings with submarginal spots. Hindwing beneath with a so-called ornamental band, formed of red spots. Besides the markings already mentioned the forewing has a spot at the base of cellules 1 a and 1 b, an oblique transverse streak in the basal part of these cellules and 8 discal spots, one each in cellules 1 a \u2014 6 and 8; the hindwing has a narrow transverse band at the base, a narrow median band which consists only of three spots (in the cell and in cellules 2 and 7) and usually also 7 discal spots in cellules 1 c -7, of 'which, however, that in 1 c is red. The larva has four pairs of spines, one pair each on the 1., 2., 3. and penultimate segments. The pupa is very angularly widened at the beginning of the abdomen and has a long hump on the mesothorax. Subgroup 2.The apical fourth of the cell of the hindwing above unicolorous black without light spot. The cell of the forewing with a light spot or dot at the costal margin close before the apex. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165333973,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165333973,
                                            "scientificName": "Graphium (butterfly) gelon",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Boisduval, 1859)Graphium, funet.fi",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium gelon is a butterfly of the family Papilionidae. It is found in New Caledonia and the nearby Loyalty Islands."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334245,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334245,
                                            "scientificName": "Graphium (butterfly) kirbyi",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Hewitson, 1872) Hewitson, , W.C. 1872 Description of a new species of Papilio from Lagos. Entomologist\u2019s Monthly Magazine 9: 146-147.Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium kirbyi, the Kirby's swordtail, is a butterfly in the family Papilionidae. It is found along the coast of Kenya and from the coast of Tanzania, inland to Morogoro.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini The habitat consists of coastal forests."
                                                },
                                                {
                                                    "description": "Adults of both sexes visit flowers and males are known to mud-puddle. Adults are on wing from September to November. The larvae feed on Annona senegalensis and Uvaria species."
                                                },
                                                {
                                                    "description": "The hindwing is tailed as in Graphium policenes an it also agrees in the other distinguishing marks so nearly with policenes that it can scarcely be distinguished from it except by the unicolorous black middle cell of the forewing and the absence of the submarginal spots of the same wing. The markings of the upper surface consist only of a narrow median band, which, however, is continuous from the costal margin of the forewing to the middle of the inner margin of the hindwiug and composed of 8 to 9 spots on the forewing (in cellules 1 a to 6 or 7 and 8) and 4 spots on the hindwing (in cellules 1 c, 6, 7 and the middle cell), and of 4 to 6 submarginal spots on the hindwing. The hindwing above without red spots. The ornamental band of the hindwing beneath is well developed and consists of red, black-bordered bars in cellules 1 c, 2, 3, 7 and in the apex of the middle cell.Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium kirbyi is a member of the antheus - clade Graphium antheus, Graphium colonna,Graphium evombar , Graphium kirbyi, Graphium junodi, Graphium polistratus, Graphium illyris, Graphium gudenusi)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334223,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334223,
                                            "scientificName": "Graphium (butterfly) gudenusi",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Rebel, 1911) Rebel, H. 1911. Neue Tagfalter aus Zentral afrika (Expedition Grauer). Annalen des (K.K.) Naturhistorischen Museums. Wien. 24: 409-414.Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium gudenusi is a butterfly in the family Papilionidae. It is found in the Democratic Republic of the Congo, Rwanda, Burundi and Uganda.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini Its habitat consists of forests. It is a generally scarce species. Males fly along the banks of forest streams and rivers, occasionally mudpuddling."
                                                },
                                                {
                                                    "description": "Graphium gudenusi is a member of the antheus - clade Graphium antheus, Graphium colonna, Graphium evombar , Graphium kirbyi, Graphium junodi, Graphium polistratus, Graphium illyris, Graphium gudenusi)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165273338,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217509614,
                                            "parent": "Eurybia (butterfly)",
                                            "genus": "Eurybia (butterfly)",
                                            "species": "Eurybia spec.",
                                            "genusKey": 217509614,
                                            "speciesKey": 165273338,
                                            "scientificName": "Eurybia (butterfly) franciscana",
                                            "canonicalName": "Eurybia spec.",
                                            "authorship": "C. & R. Felder, 1862Eurybia, funet.fi",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Eurybia franciscana is a butterfly of the family Riodinidae. It is found in Central and most of South America, including Peru, Suriname, and Ecuador. The wingspan is 45\u201347 mm.Inventory of the butterflies of Sangay National Park"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217509614": "Eurybia (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165441882,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165441882,
                                            "scientificName": "Graphium (butterfly) leonidas",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Fabricius, 1793) Fabricius, , J.C. 1793. Entomologia Systematica emendata et aucta 3 (1): 35 (488 pp.). Hafniae.",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium leonidas, the veined swordtail, veined swallowtail or common graphium, is a species of butterfly in the family Papilionidae, found in Sub-Saharan Africa.Graphium, funet.fi The wingspan is 75\u201380 mm in males and 75\u201385 mm in females. Has continuous broods, peaking from October to April. The larva feed on Popowia caffra, Annona, Monanthotaxis, Uvaria, Monanthotaxis caffra, Annona senegalensis, Landolphia ugandensis, L. buchannani, Annickia chlorantha, Friesodielsia obovata, Uvaria and Artabotrys species."
                                                },
                                                {
                                                    "description": "Graphium leonidas leonidas (Sub-Saharan Africa) Graphium leonidas pelopidas (Oberth\u00fcr, 1879)Oberth\u00fcr, C. 1879. Catalogue raissone des Papilionidae. Etudes d\u2019Entomologie 4: 1-117. (Tanzania: islands of Unguja and Pemba) Graphium leonidas santamarthae (Joicey & Talbot, 1927)Joicey, J.J., & Talbot, G. 1927 New forms of Lepidoptera Rhopalocera. Encyclopedie Entomologique (B.3 Lepidoptera) 2: 1-14. (S\u00e3o Tom\u00e9 and Pr\u00edncipe: Principe) Graphium leonidas thomasius (Le Cerf, 1924) Le Cerf, F. 1924 Lepidopteres nouveaux de la collection du Museum (Rhopaloceres). Bulletin du Museum National d\u2019Histoire Naturelle. Paris 30: 137-139..(S\u00e3o Tom\u00e9 and Pr\u00edncipe: Sao Tome) Graphium leonidas zanzibaricus Kielland, 1990Kielland, J. 1990 in Kielland, J. 1990. Butterflies of Tanzania. Hill House, Melbourne and London: 1-363. Tanzania"
                                                },
                                                {
                                                    "description": "It is the nominal member of the leonidas-group of closely species (Graphium leonidas, Graphium levassori, Graphium cyrnus)."
                                                }
                                            ],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Veined swordtail",
                                                    "language": "eng"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165348319,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217511509,
                                            "parent": "Logania (butterfly)",
                                            "genus": "Logania (butterfly)",
                                            "species": "Logania spec.",
                                            "genusKey": 217511509,
                                            "speciesKey": 165348319,
                                            "scientificName": "Logania (butterfly) marmorata",
                                            "canonicalName": "Logania spec.",
                                            "authorship": "Moore, 1884Moore, F., 1884. Descriptions of some new Asiatic diurnal lepidoptera; chiefly from Specimens contained in the Indian Museum, Calcutta. Journal of the Asiatic Society of Bengal 53(2): 16\u201352",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Logania marmorata, the pale mottle, is a butterfly in the family Lycaenidae. It was described by Frederic Moore in 1884. It is found in the Indomalayan realm.Seitz, A., 1912-1927. Die Indo-Australien Tagfalter. Theclinae, Poritiinae, Hesperiidae. Grossschmetterlinge Erde 9: 799-1107, pls. 138-175."
                                                },
                                                {
                                                    "description": "Logania marmorata marmorata (southern Burma, Thailand, Laos, Vietnam) Logania marmorata damis Fruhstorfer, 1914 (Thailand, Langkawi, Malay Peninsula, Singapore) Logania marmorata hilaeira Fruhstorfer, 1914 (Sumatra, Borneo) Logania marmorata lahomius (Kheil, 1884) (Nias) Logania marmorata diehli Eliot, 1986 (Simalur) Logania marmorata munichya Fruhstorfer, 1914 (western Java) Logania marmorata javanica Fruhstorfer, 1914 (eastern Java, Sumbawa, Flores) Logania marmorata palawana Fruhstorfer, 1914 (Palawan, Balabac, Luzon, Marinduque) Logania marmorata samosata Fruhstorfer, 1914 (Cebu, Mindoro) Logania marmorata faustina Fruhstorfer, 1914 (Mindanao, Leyte, Samar, Sulu, Tawi Tawi)"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217511509": "Logania (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165441664,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165441664,
                                            "scientificName": "Graphium (butterfly) colonna",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Ward, 1873)Ward, 1873 Descriptions of new species of African lepidoptera. Entomologist\u2019s Monthly Magazine 10: 151-152.",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium colonna, the black swordtail or mamba swordtail, is a species of butterfly in the family Papilionidae (swallowtails). It is found in Africa (Liberia, Sierra Leone, Ghana, Ivory Coast, Togo, Equatorial Guinea, Gabon, Democratic Republic of Congo, Central African Republic, Sudan, Southwest Ethiopia, Southern Somalia, Uganda, Kenya (coast), Tanzania, Mozambique, Eastern Zimbabwe Zululand, Eswatini).Graphium, funet.fi"
                                                },
                                                {
                                                    "description": "The species has continuous broods during warmer months, October to April. The larva feed on Artabotrys, Uvaria, and Annona species."
                                                },
                                                {
                                                    "description": "The wingspan is 55\u201360 mm in males and 60\u201365 mm in females. The markings of the upper surface green, only two transverse streaks of the hindwing in cellules 1 c and 2 red; the ground-colour darker than in related species, almost pure black; distinguished from all related species by having the discal spot in cellule lb of the forewing very narrow, streak-like, and forming a direct continuation of the second transverse bar of the middle cell, and further by having the discal spot in cellule 2 of the forewing also narrow and placed almost exactly at the middle of vein 2; the hindwing entirely without green discal spots. The larva is yellowish green with a violet-brown lateral line; the spines on the second and third segments are not simple as normally, but bear small spines; it lives on an Anonacea of the genus Artabotrys. The pupa is light bluish green and uneven, so that it is deceptively similar to a leaf partly eaten by larvae; the silken girth of the pupa is very thin and often breaks off, so that the pupa hangs quite free like that of a Nymphalid. On the east coast of Africa, from Delagoa Bay to British loncona. East Africa. \u2014 ab. loncona Suff. only differs in having the narrow green median band of the hindwing posteriorly bounded by the median and hence not forming the usual spot in the base of cellule 2. German East Africa. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium colonna is a member of the antheus - clade (colonna, Graphium antheus, Graphium evombar , Graphium kirbyi, Graphium junodi, Graphium polistratus, Graphium illyris, Graphium gudenusi). Aurivillius in Seitz places colonna, nigrescens (policenoides), policenes,sisenna (polistratus), polistratus, junodi and porthaon in the Policenes Group Subgroup 2 circumscribed Hindwing with a long, narrow tail of uniform width at vein 4. Frons black with white lateral margins. Wings above with green or greenish white markings. Cell of the forewing with 5 \u2014 6 transverse bands or spots. Both wings with submarginal spots. Hindwing beneath with a so-called ornamental band, formed of red spots. Besides the markings already mentioned the forewing has a spot at the base of cellules 1 a and 1 b, an oblique transverse streak in the basal part of these cellules and 8 discal spots, one each in cellules 1 a \u2014 6 and 8; the hindwing has a narrow transverse band at the base, a narrow median band which consists only of three spots (in the cell and in cellules 2 and 7) and usually also 7 discal spots in cellules 1 c -7, of 'which, however, that in 1 c is red. The larva has four pairs of spines, one pair each on the 1., 2., 3. and penultimate segments. The pupa is very angularly widened at the beginning of the abdomen and has a long hump on the mesothorax. Subgroup 2.The apical fourth of the cell of the hindwing above unicolorous black without light spot. The cell of the forewing with a light spot or dot at the costal margin close before the apex. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                }
                                            ],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Black swordtail",
                                                    "language": "eng"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334153,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334153,
                                            "scientificName": "Graphium (butterfly) tynderaeus",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Fabricius, 1793) Fabricius, , J.C. 1793. Entomologia Systematica emendata et aucta 3 (1): 35 (488 pp.). Hafniae. Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium tynderaeus, the electric green swordtail, is a butterfly in the family Papilionidae. It is found in Guinea, Sierra Leone, Liberia, Ivory Coast, Ghana, Nigeria, Cameroon, Equatorial Guinea, Gabon, the Republic of the Congo, Angola, the Central African Republic, the Democratic Republic of the Congo and western Tanzania.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini Its habitat consists of primary lowland forests. Males may mud-puddle but are extremely wary if approached."
                                                },
                                                {
                                                    "description": "It is a member of the tynderaeus -clade (Graphium tynderaeus, Graphium philonoe, Graphium latreillianus)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334210,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334210,
                                            "scientificName": "Graphium (butterfly) taboranus",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Oberth\u00fcr, 1886)Oberth\u00fcr, , C. 1886. [No title]. Bulletin de la Societe Entomologique de France (6) 6: 114-115.Graphium taboranus, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium taboranus is a butterfly in the family Papilionidae. It is found in Angola, the Democratic Republic of Congo, Tanzania, Malawi, and northern Zambia.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini The habitat consists of woodland."
                                                },
                                                {
                                                    "description": "The larvae feed on Annona species."
                                                },
                                                {
                                                    "description": "Diagnostic.The markings of the upper surface snow-white; the discal band in cellule 2 of the forewing is smaller, not reaching the base of the cellule and is quite free; the white subdiscal spots of the hindwing above are almost in the middle of the marginal band. Nyassaland and German East Africa. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Graphium taboranus belongs to a clade with six members. All have similar genitalia The clade members are: Graphium angolanus (Goeze, 1779) Graphium endochus (Boisduval, 1836) Graphium morania (Angas, 1849) Graphium taboranus (Oberth\u00fcr, 1886) Graphium schaffgotschi (Niepelt, 1927) Graphium ridleyanus (White, 1843)"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165333990,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165333990,
                                            "scientificName": "Graphium (butterfly) illyris",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(Hewitson, 1873) Hewitson, 1873 Descriptions of two new butterflies from the west coast of Africa. Entomologist's Monthly Magazine 9: 232-233.Graphium, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium illyris, the cream-banded swordtail, is a forest butterfly of the swallowtail family (Papilionidae). It is native to the Afrotropical realm. Congo forest"
                                                },
                                                {
                                                    "description": "The markings of the upper surface yellow; the median band curved slightly basad at the costal margin of the forewing and without spot in cellule 7; the tail of the hindwing only white at the extreme tip; the hindwing with red-yellow marginal lunules. Ashanti to the Congo. \u2014 ab. (var. ?) flavisparsus Fruhst. has the submarginal spots of the hindwing and the red spots on the under surface larger than in the normal form. Island of Fernando Po.Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "Tropical and subtropical ecoregions."
                                                },
                                                {
                                                    "description": "Guilbot, R. and Plantrou, J. (1978). Note sur Graphium illyris (Hewitson) et revision systematique de I'espece. Bulletin de la Societe Entomologique de France 83: 68\u201373. Smith, C.R. & Vane-Wright, R.I. 2001 A review of the Afrotropical species of the genus Graphium (Lepidoptera: Rhopalocera: Papilionidae) Bull. Nat. Hist. Mus. Ent. Ser. 70 (2): 503-719"
                                                },
                                                {
                                                    "description": "It is an uncommon to rare species and is seasonal in West Africa (with adults on wing mainly in February and March). Males mud-puddle, and are attracted to rotten fish as well as perspiration on humans.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini"
                                                },
                                                {
                                                    "description": "G. i. illyris (Sierra Leone, Liberia, Ivory Coast, C.Ghana) G. i. flavisparsus (Fruhstorfer, 1903)Fruhstorfer, 1903 Neue afrikanische Lepidopteren. Stettiner Entomologische Zeitschrift 64: 359-361. (Equatorial Guinea) G. i. girardeaui (Guilbot & Plantrou, 1978)Guilbot, R., & Plantrou, J. 1978. Note sur Graphium illyris (Hewitson) et revision systematique de l\u2019espece (Lep. Papilionidae). Bulletin de la Societe Entomologique de France 83 (3-4): 68-73 (Central African Republic) G. i. hamatus (Joicey & Talbot, 1918)Joicey , J.J., & Talbot, G. 1918. New butterflies from Africa and the east. Proceedings of the Zoological Society of London 1917: 271-272 (Nigeria, Cameroon, Equatorial Guinea, Gabon, Congo, Congo Republic, Tanzania)"
                                                },
                                                {
                                                    "description": "Graphium illyris is a member of the antheus - clade Graphium antheus, Graphium colonna, Graphium evombar , Graphium kirbyi, Graphium junodi, Graphium polistratus, Graphium illyris, Graphium gudenusi)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165334187,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510084,
                                            "parent": "Graphium (butterfly)",
                                            "genus": "Graphium (butterfly)",
                                            "species": "Graphium spec.",
                                            "genusKey": 217510084,
                                            "speciesKey": 165334187,
                                            "scientificName": "Graphium (butterfly) ridleyanus",
                                            "canonicalName": "Graphium spec.",
                                            "authorship": "(White, 1843)White, A. 1843. Descriptions of some apparently new insects from the Congo, sent to England by Mr. Curror, Surgeon R.N., and the late Mr. John Cranch. Annals and Magazine of Natural History 12 (1): 262-268.Graphium ridleyanus, Site of Markku Savela",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Graphium ridleyanus, the acraea swordtail, is a butterfly in the family Papilionidae (swallowtails). It is found in eastern Nigeria, Cameroon, Equatorial Guinea, Sao Tome and Principe, Gabon, the Republic of the Congo, Angola, the Central African Republic, the DRC, Chad, southern Sudan, Uganda, Rwanda, Burundi, western Tanzania and Zambia.Afrotropical Butterflies: File C \u2013 Papilionidae - Tribe Leptocercini Its habitat consists of the forest/savanna transition zone."
                                                },
                                                {
                                                    "description": "Adults mimic large brush-footed butterflies of the genus Acraea, such as Acraea egina and Acraea perenna. Males are known to mud-puddle. The larvae feed on Popowia congoensis."
                                                },
                                                {
                                                    "description": "Hindwing rounded, without tail. Frons broadly yellow at each side, only narrowly black in the middle. Palpi unicolorous yellow. Wings above black and red, marked similarly to the species of the nymphalid genus Acraea. Forewing black, semitransparent in places, with a half-band of 5 red spotsin cellules 1 a\u20144 and two deep black transverse spots, margined with yellow at each side, in the cell; hindwing above red with black marginal band and base and a few black spots. From Lokoja on the Niger to Angola, Equatoria and Bukoba on the Victoria Nyanza. Aurivillius, [P.O.]C. 1908-1924. In: Seitz, A. Die Gro\u00dfschmetterlinge der Erde Band 13: Abt. 2, Die exotischen Gro\u00dfschmetterlinge, Die afrikanischen Tagfalter, 1925, 613 Seiten, 80 Tafeln (The Macrolepidoptera of the World 13).Alfred Kernen Verlag, Stuttgart."
                                                },
                                                {
                                                    "description": "The name honours \"Mr. Ridley, a gentleman in the W African Coast Service whose love for our favourite science was displayed by a collection he made near the fort of Accra and sent to this country. He gave great promise of excelling in entomology, and fell a victim to the climate of W. Africa\" according to Adam White, member of the entomological societies of London and Paris, assistant in the Zoology Department, British Museum, from: \"Description of some apparently new Insects from the Congo, sent to England by Mr. Curror, Surgeon R. N., and the late Mr. John Cranch\" (1843) Annals and Magazine of Natural History 12:262-268."
                                                },
                                                {
                                                    "description": "Afrotropical realm"
                                                },
                                                {
                                                    "description": "Graphium eridleyanus belongs to a clade with six members. All have similar genitalia The clade members are: Graphium angolanus (Goeze, 1779) Graphium endochus (Boisduval, 1836) Graphium morania (Angas, 1849) Graphium taboranus (Oberth\u00fcr, 1886) Graphium schaffgotschi (Niepelt, 1927) Graphium ridleyanus (White, 1843)"
                                                }
                                            ],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Acraea swordtail",
                                                    "language": "eng"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510084": "Graphium (butterfly)"
                                            }
                                        },
                                        {
                                            "key": 165803882,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 217510234,
                                            "parent": "Hamadryas (butterfly)",
                                            "genus": "Hamadryas (butterfly)",
                                            "species": "Hamadryas spec.",
                                            "genusKey": 217510234,
                                            "speciesKey": 165803882,
                                            "scientificName": "Hamadryas (butterfly) epinome",
                                            "canonicalName": "Hamadryas spec.",
                                            "authorship": "(Felder & Felder, 1867)\"Hamadryas H\u00fcbner, 1806\" at Markku Savela's Lepidoptera and Some Other Life Forms",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Hamadryas epinome, the epinome cracker,http://neotropicalbutterflies.com/Site%20Revision/Pages/Nymphalidae_Pages/Biblidini/Biblidini_Pages/Hamadryas_epinome.html is a species of butterfly believed to have originated from Paraguay and also found in a number of other South American countries including Argentina, Brazil, Peru, and Uruguay.World Field Guide Retrieved December 2011 File:Hamadryas epinome-dorsal.jpg|[[Iguazu Falls]], [[Brazil]]"
                                                }
                                            ],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Epinome cracker",
                                                    "language": "eng"
                                                }
                                            ],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "217510234": "Hamadryas (butterfly)"
                                            }
                                        }
                                    ],
                                    "facets": []
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
[...]
