{
    "openapi": "3.1.0",
    "info": {
        "title": "REST Countries API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The REST Countries API is a free API that provides information about countries worldwide, including details such as population, area, currency, language, and more.",
        "termsOfService": "",
        "contact": {
            "name": "REST Countries API Contact",
            "url": "https://restcountries.com/#contact",
            "email": ""
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://restcountries.com",
            "description": "Production Server of the REST Countries API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://restcountries.com/#documentation",
        "description": "Find more about the REST Countries API here:"
    },
    "paths": {
        "/v3.1/all": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,population": {
                                "value": "name,capital,population"
                            },
                            "name,capital,population,area,flag": {
                                "value": "name,capital,population,area,flag"
                            }
                        }
                    },
                    {
                        "name": "nativeName",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "\u65e5\u672c": {
                                "value": "\u65e5\u672c"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_all"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/usa": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_usa"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/name/united": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;capital;population": {
                                "value": "name;capital;population"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "europe": {
                                "value": "europe"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "northern+europe": {
                                "value": "northern+europe"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "french": {
                                "value": "french"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "33": {
                                "value": "33"
                            }
                        }
                    },
                    {
                        "name": "alpha2Code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "FR": {
                                "value": "FR"
                            }
                        }
                    },
                    {
                        "name": "alpha3Code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "FRA": {
                                "value": "FRA"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_name_united"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/region/europe": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_region_europe"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/currency/usd": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_currency_usd"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/capital/paris": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_capital_paris"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "codes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usa,can": {
                                "value": "usa,can"
                            },
                            "usa": {
                                "value": "usa"
                            },
                            "USA,GBR,AUS": {
                                "value": "USA,GBR,AUS"
                            },
                            "USA,GBR,FRA": {
                                "value": "USA,GBR,FRA"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital": {
                                "value": "name,capital"
                            },
                            "name,capital,population,area,flag": {
                                "value": "name,capital,population,area,flag"
                            }
                        }
                    },
                    {
                        "name": "nativeName",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "\u65e5\u672c": {
                                "value": "\u65e5\u672c"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/USA": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,population,area,flag": {
                                "value": "name,capital,population,area,flag"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_USA"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/FRA": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,population,area,flag,region,subregion,currencies,languages": {
                                "value": "name,capital,population,area,flag,region,subregion,currencies,languages"
                            },
                            "name,capital,region,subregion,population,area,languages,currencies,flag": {
                                "value": "name,capital,region,subregion,population,area,languages,currencies,flag"
                            },
                            "name,capital,population,flag": {
                                "value": "name,capital,population,flag"
                            },
                            "name;capital;population": {
                                "value": "name;capital;population"
                            }
                        }
                    },
                    {
                        "name": "fullText",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Western+Europe": {
                                "value": "Western+Europe"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "33": {
                                "value": "33"
                            }
                        }
                    },
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "DEU": {
                                "value": "DEU"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT+1": {
                                "value": "GMT+1"
                            }
                        }
                    },
                    {
                        "name": "area",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "551695": {
                                "value": "551695"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_FRA"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/JPN": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,population,area,flag": {
                                "value": "name,capital,population,area,flag"
                            },
                            "name,capital,population,area,flag,languages": {
                                "value": "name,capital,population,area,flag,languages"
                            }
                        }
                    },
                    {
                        "name": "fullText",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "callingCode",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "81": {
                                "value": "81"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Asia": {
                                "value": "Asia"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Eastern+Asia": {
                                "value": "Eastern+Asia"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Japanese": {
                                "value": "Japanese"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Asia": {
                                "value": "Asia"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "KOR": {
                                "value": "KOR"
                            }
                        }
                    },
                    {
                        "name": "nativeName",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "\u65e5\u672c": {
                                "value": "\u65e5\u672c"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_JPN"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/AUS": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;callingCodes": {
                                "value": "name;callingCodes"
                            }
                        }
                    },
                    {
                        "name": "fullText",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "population",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000000": {
                                "value": "10000000"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Caribbean": {
                                "value": "Caribbean"
                            }
                        }
                    },
                    {
                        "name": "capital",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Tokyo": {
                                "value": "Tokyo"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "French": {
                                "value": "French"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_AUS"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/BRA": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_BRA"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/CAN": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_CAN"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/CHN": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_CHN"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/RUS": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_RUS"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/IND": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_IND"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/GBR": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;population": {
                                "value": "name;population"
                            },
                            "name,capital,population,area,flag;languages;currency;timezones;callingCodes;region;subregion;nativeName;numericCode;cioc": {
                                "value": "name,capital,population,area,flag;languages;currency;timezones;callingCodes;region;subregion;nativeName;numericCode;cioc"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "europe": {
                                "value": "europe"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "northern+europe": {
                                "value": "northern+europe"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "44": {
                                "value": "44"
                            }
                        }
                    },
                    {
                        "name": "currencies",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "british": {
                                "value": "british"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "FRA": {
                                "value": "FRA"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT": {
                                "value": "GMT"
                            }
                        }
                    },
                    {
                        "name": "alpha3Code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBR": {
                                "value": "GBR"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_GBR"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/ESP": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "capital": {
                                "value": "capital"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "population",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000000": {
                                "value": "10000000"
                            }
                        }
                    },
                    {
                        "name": "currencies",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "34": {
                                "value": "34"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "FRA": {
                                "value": "FRA"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Southern+Europe": {
                                "value": "Southern+Europe"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "CET": {
                                "value": "CET"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spanish": {
                                "value": "Spanish"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_ESP"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/DEU": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;capital": {
                                "value": "name;capital"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Western+Europe": {
                                "value": "Western+Europe"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "de": {
                                "value": "de"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "49": {
                                "value": "49"
                            }
                        }
                    },
                    {
                        "name": "population",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "80000000": {
                                "value": "80000000"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "German": {
                                "value": "German"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "CHE;AUT;FRA;BEL;LUX;NLD;DNK;CZE;POL": {
                                "value": "CHE;AUT;FRA;BEL;LUX;NLD;DNK;CZE;POL"
                            }
                        }
                    },
                    {
                        "name": "area",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "357114": {
                                "value": "357114"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "CET": {
                                "value": "CET"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_DEU"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/MEX": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_MEX"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "_links": {
                        "type": "object"
                    }
                },
                "required": [
                    "message",
                    "_links"
                ]
            },
            "ResponseSchema_v3.1_all": {},
            "ResponseSchema_v3.1_alpha_usa": {},
            "ResponseSchema_v3.1_name_united": {},
            "ResponseSchema_v3.1_region_europe": {},
            "ResponseSchema_v3.1_currency_usd": {},
            "ResponseSchema_v3.1_capital_paris": {},
            "ResponseSchema_v3.1_alpha": {},
            "ResponseSchema_v3.1_alpha_USA": {},
            "ResponseSchema_v3.1_alpha_FRA": {},
            "ResponseSchema_v3.1_alpha_JPN": {},
            "ResponseSchema_v3.1_alpha_AUS": {},
            "ResponseSchema_v3.1_alpha_BRA": {},
            "ResponseSchema_v3.1_alpha_CAN": {},
            "ResponseSchema_v3.1_alpha_CHN": {},
            "ResponseSchema_v3.1_alpha_RUS": {},
            "ResponseSchema_v3.1_alpha_IND": {},
            "ResponseSchema_v3.1_alpha_GBR": {},
            "ResponseSchema_v3.1_alpha_ESP": {},
            "ResponseSchema_v3.1_alpha_DEU": {},
            "ResponseSchema_v3.1_alpha_MEX": {}
        }
    }
}