{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - The CoinCap API is a cryptocurrency data service that provides real-time market data and information about various cryptocurrencies.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "714638943352.9021452340432456",
                                            "volumeUsd24Hr": "11989984805.4948507957129156",
                                            "priceUsd": "36559.9159276673980588",
                                            "changePercent24Hr": "-1.7193107822324666",
                                            "vwap24Hr": "36760.9190897942294279",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "242633981230.8559210349646972",
                                            "volumeUsd24Hr": "8006302868.3569219284509657",
                                            "priceUsd": "2017.7011778243387450",
                                            "changePercent24Hr": "0.2911869843180766",
                                            "vwap24Hr": "1981.4340982900459693",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87730215385.4274246061393210",
                                            "volumeUsd24Hr": "20139109222.9586329883612892",
                                            "priceUsd": "1.0004177204433595",
                                            "changePercent24Hr": "-0.0332640977968528",
                                            "vwap24Hr": "1.0006128235584656",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "38996654432.3727540572769992",
                                            "volumeUsd24Hr": "1472707448.9373742042422804",
                                            "priceUsd": "233.7912832133071054",
                                            "changePercent24Hr": "-10.0596923605498616",
                                            "vwap24Hr": "243.3092262807230184",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "26997672108.9781007770427520",
                                            "volumeUsd24Hr": "666168105.6702267778247810",
                                            "priceUsd": "0.5946096176407068",
                                            "changePercent24Hr": "-3.0370050613372082",
                                            "vwap24Hr": "0.5950485877973261",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "6",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24434361996.8894089716983079",
                                            "volumeUsd24Hr": "1581603924.5476023855180228",
                                            "priceUsd": "0.9998972104445580",
                                            "changePercent24Hr": "-0.0325882149926335",
                                            "vwap24Hr": "1.0002420132407970",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "7",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "23204996360.6800327611269712",
                                            "volumeUsd24Hr": "838325516.9568903245422516",
                                            "priceUsd": "54.8751179716036946",
                                            "changePercent24Hr": "-2.4893130184066264",
                                            "vwap24Hr": "54.1513249796057152",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13063604673.3213567239423682",
                                            "volumeUsd24Hr": "175879678.4436957430779501",
                                            "priceUsd": "0.3702664583685014",
                                            "changePercent24Hr": "-2.3092343800941073",
                                            "vwap24Hr": "0.3693955208985728",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10543415674.9401187089168153",
                                            "volumeUsd24Hr": "358352945.5648427572910137",
                                            "priceUsd": "0.0743033721860321",
                                            "changePercent24Hr": "-3.6466877746775171",
                                            "vwap24Hr": "0.0744287587320037",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8890586095.7257484538181009",
                                            "volumeUsd24Hr": "194555897.0339784687942678",
                                            "priceUsd": "0.1003133668529104",
                                            "changePercent24Hr": "-1.3403408897503161",
                                            "vwap24Hr": "0.0991602046604984",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700657431970
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/bitcoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_bitcoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "bitcoin",
                                        "rank": "1",
                                        "symbol": "BTC",
                                        "name": "Bitcoin",
                                        "supply": "19547062.0000000000000000",
                                        "maxSupply": "21000000.0000000000000000",
                                        "marketCapUsd": "714688633248.5723797256456056",
                                        "volumeUsd24Hr": "11991261935.6167846001044163",
                                        "priceUsd": "36562.4579923352358388",
                                        "changePercent24Hr": "-1.7193107822324666",
                                        "vwap24Hr": "36760.9190897942294279",
                                        "explorer": "https://blockchain.info/"
                                    },
                                    "timestamp": 1700657483560
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/ethereum": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_ethereum"
                                },
                                "example": {
                                    "data": {
                                        "id": "ethereum",
                                        "rank": "2",
                                        "symbol": "ETH",
                                        "name": "Ethereum",
                                        "supply": "120252683.5477615300000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "242750188042.0991526778338829",
                                        "volumeUsd24Hr": "7987345085.6056702570302979",
                                        "priceUsd": "2018.6675330674388047",
                                        "changePercent24Hr": "0.2911869843180766",
                                        "vwap24Hr": "1981.4340982900459693",
                                        "explorer": "https://etherscan.io/"
                                    },
                                    "timestamp": 1700657484092
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/litecoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_litecoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "litecoin",
                                        "rank": "17",
                                        "symbol": "LTC",
                                        "name": "Litecoin",
                                        "supply": "73891457.9735888800000000",
                                        "maxSupply": "84000000.0000000000000000",
                                        "marketCapUsd": "5006137600.3322004231174312",
                                        "volumeUsd24Hr": "173729193.8222512615114856",
                                        "priceUsd": "67.7498825658785986",
                                        "changePercent24Hr": "-3.8953258760014243",
                                        "vwap24Hr": "68.4933757341557629",
                                        "explorer": "http://explorer.litecoin.net/chain/Litecoin"
                                    },
                                    "timestamp": 1700657485038
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/cardano": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_cardano"
                                },
                                "example": {
                                    "data": {
                                        "id": "cardano",
                                        "rank": "8",
                                        "symbol": "ADA",
                                        "name": "Cardano",
                                        "supply": "35281631317.3040000000000000",
                                        "maxSupply": "45000000000.0000000000000000",
                                        "marketCapUsd": "13068454697.2054490766370539",
                                        "volumeUsd24Hr": "175957073.1163063132067887",
                                        "priceUsd": "0.3704039243445067",
                                        "changePercent24Hr": "-2.3092343800941073",
                                        "vwap24Hr": "0.3693955208985728",
                                        "explorer": "https://cardanoexplorer.com/"
                                    },
                                    "timestamp": 1700657485462
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/stellar": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2019-01-01T00:00:00Z": {
                                "value": "2019-01-01T00:00:00Z"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_stellar"
                                },
                                "example": {
                                    "data": {
                                        "id": "stellar",
                                        "rank": "23",
                                        "symbol": "XLM",
                                        "name": "Stellar",
                                        "supply": "27988596865.9852640000000000",
                                        "maxSupply": "50001806812.0000000000000000",
                                        "marketCapUsd": "3254107402.8343697918760058",
                                        "volumeUsd24Hr": "58109534.6038778155425207",
                                        "priceUsd": "0.1162654711994194",
                                        "changePercent24Hr": "-2.0695971508729365",
                                        "vwap24Hr": "0.1161799722479842",
                                        "explorer": "https://dashboard.stellar.org/"
                                    },
                                    "timestamp": 1700657485871
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/eos": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_eos"
                                },
                                "example": {
                                    "data": {
                                        "id": "eos",
                                        "rank": "58",
                                        "symbol": "EOS",
                                        "name": "EOS",
                                        "supply": "1108902828.0334000000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "737777411.7961430273589673",
                                        "volumeUsd24Hr": "88151639.3156694153898736",
                                        "priceUsd": "0.6653219679352475",
                                        "changePercent24Hr": "-6.5827095336898897",
                                        "vwap24Hr": "0.6737917516920163",
                                        "explorer": "https://bloks.io/"
                                    },
                                    "timestamp": 1700657486264
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/monero": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_monero"
                                },
                                "example": {
                                    "data": {
                                        "id": "monero",
                                        "rank": "25",
                                        "symbol": "XMR",
                                        "name": "Monero",
                                        "supply": "18360209.9856766900000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "3001210535.6440684033450243",
                                        "volumeUsd24Hr": "58589715.5148429386091070",
                                        "priceUsd": "163.4627565798755101",
                                        "changePercent24Hr": "-1.3675755564799020",
                                        "vwap24Hr": "162.3801800557895519",
                                        "explorer": "http://moneroblocks.info/"
                                    },
                                    "timestamp": 1700657486665
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/tron": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "timeStart",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1614556800000": {
                                "value": "1614556800000"
                            }
                        }
                    },
                    {
                        "name": "timeEnd",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1614643199999": {
                                "value": "1614643199999"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ripple": {
                                "value": "ripple"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "30m": {
                                "value": "30m"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_tron"
                                },
                                "example": {
                                    "data": {
                                        "id": "tron",
                                        "rank": "10",
                                        "symbol": "TRX",
                                        "name": "TRON",
                                        "supply": "88628129776.1845100000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "8888808685.8969117972915636",
                                        "volumeUsd24Hr": "194828241.4291342108011436",
                                        "priceUsd": "0.1002933121610950",
                                        "changePercent24Hr": "-1.3403408897503161",
                                        "vwap24Hr": "0.0991602046604984",
                                        "explorer": "https://tronscan.org/#/"
                                    },
                                    "timestamp": 1700657487060
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/tezos": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_tezos"
                                },
                                "example": {
                                    "data": {
                                        "id": "tezos",
                                        "rank": "55",
                                        "symbol": "XTZ",
                                        "name": "Tezos",
                                        "supply": "958103355.6657850000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "751591451.2686851760537757",
                                        "volumeUsd24Hr": "19519365.9067487032743738",
                                        "priceUsd": "0.7844575919958083",
                                        "changePercent24Hr": "-6.8390085348454138",
                                        "vwap24Hr": "0.7978352911527832",
                                        "explorer": "https://tzkt.io/"
                                    },
                                    "timestamp": 1700657487456
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/exchanges": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            },
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "volume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "priceOnly",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "updated",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "btc,eth": {
                                "value": "btc,eth"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_exchanges"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "binance",
                                            "name": "Binance",
                                            "rank": "1",
                                            "percentTotalVolume": "40.441917085708700397000000000000000000",
                                            "volumeUsd": "10117219419.2623636384915554",
                                            "tradingPairs": "823",
                                            "socket": true,
                                            "exchangeUrl": "https://www.binance.com/",
                                            "updated": 1700657442658
                                        },
                                        {
                                            "exchangeId": "gdax",
                                            "name": "Coinbase Pro",
                                            "rank": "2",
                                            "percentTotalVolume": "8.881932511996772847000000000000000000",
                                            "volumeUsd": "2221963412.3800288803827513",
                                            "tradingPairs": "218",
                                            "socket": true,
                                            "exchangeUrl": "https://pro.coinbase.com/",
                                            "updated": 1700657445395
                                        },
                                        {
                                            "exchangeId": "whitebit",
                                            "name": "WhiteBIT",
                                            "rank": "3",
                                            "percentTotalVolume": "7.263489436064701071000000000000000000",
                                            "volumeUsd": "1817082909.7547728369353889",
                                            "tradingPairs": "90",
                                            "socket": false,
                                            "exchangeUrl": "https://whitebit.com",
                                            "updated": 1700657442230
                                        },
                                        {
                                            "exchangeId": "lbank",
                                            "name": "LBank",
                                            "rank": "4",
                                            "percentTotalVolume": "4.824309139064299380000000000000000000",
                                            "volumeUsd": "1206881315.8096831899760603",
                                            "tradingPairs": "101",
                                            "socket": false,
                                            "exchangeUrl": "https://www.lbank.info",
                                            "updated": 1700657445534
                                        },
                                        {
                                            "exchangeId": "gate",
                                            "name": "Gate",
                                            "rank": "5",
                                            "percentTotalVolume": "4.747757968588879769000000000000000000",
                                            "volumeUsd": "1187730764.9873814141137940",
                                            "tradingPairs": "1294",
                                            "socket": false,
                                            "exchangeUrl": "https://gate.io/",
                                            "updated": 1700657445879
                                        },
                                        {
                                            "exchangeId": "digifinex",
                                            "name": "DigiFinex",
                                            "rank": "6",
                                            "percentTotalVolume": "4.713153131183719937000000000000000000",
                                            "volumeUsd": "1179073788.3100908333072343",
                                            "tradingPairs": "135",
                                            "socket": false,
                                            "exchangeUrl": "https://www.digifinex.com/",
                                            "updated": 1700657445341
                                        },
                                        {
                                            "exchangeId": "uniswap-v3",
                                            "name": "Uniswap (V3)",
                                            "rank": "7",
                                            "percentTotalVolume": "4.410237436093125129000000000000000000",
                                            "volumeUsd": "1103294379.8741611465039599",
                                            "tradingPairs": "294",
                                            "socket": false,
                                            "exchangeUrl": "https://uniswap.org/",
                                            "updated": 1700657445834
                                        },
                                        {
                                            "exchangeId": "kraken",
                                            "name": "Kraken",
                                            "rank": "8",
                                            "percentTotalVolume": "4.158609431865757629000000000000000000",
                                            "volumeUsd": "1040345441.8847952385752201",
                                            "tradingPairs": "343",
                                            "socket": false,
                                            "exchangeUrl": "https://kraken.com",
                                            "updated": 1700657445363
                                        },
                                        {
                                            "exchangeId": "huobi",
                                            "name": "Huobi",
                                            "rank": "9",
                                            "percentTotalVolume": "3.172622498379893161000000000000000000",
                                            "volumeUsd": "793684381.5433396751769786",
                                            "tradingPairs": "222",
                                            "socket": true,
                                            "exchangeUrl": "https://www.hbg.com/",
                                            "updated": 1700657444978
                                        },
                                        {
                                            "exchangeId": "kucoin",
                                            "name": "Kucoin",
                                            "rank": "10",
                                            "percentTotalVolume": "2.536447030801321511000000000000000000",
                                            "volumeUsd": "634534488.1047148744436213",
                                            "tradingPairs": "624",
                                            "socket": false,
                                            "exchangeUrl": "https://www.kucoin.io/",
                                            "updated": 1700657445880
                                        }
                                    ],
                                    "timestamp": 1700657490371
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "BNB",
                                            "baseId": "binance-coin",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.1262010000000000",
                                            "priceUsd": "254.7797692484683639",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "14",
                                            "updated": 1700657384757
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "SHDC",
                                            "baseId": "shd-cash",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0000900000000000",
                                            "priceUsd": "0.0000900457267545",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700657429110
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "LTC",
                                            "baseId": "litecoin",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "66.2300000000000000",
                                            "priceUsd": "66.2636498105352928",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "198",
                                            "updated": 1700657399903
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "4",
                                            "baseSymbol": "DASH",
                                            "baseId": "dash",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "26.5300000000000000",
                                            "priceUsd": "26.5434792310660021",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "62",
                                            "updated": 1700657401099
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "5",
                                            "baseSymbol": "BBC",
                                            "baseId": "b2bcoin",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000279000000000",
                                            "priceUsd": "1.0201475090698396",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700657433932
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "6",
                                            "baseSymbol": "BAT",
                                            "baseId": "basic-attention-token",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001059100000000",
                                            "priceUsd": "0.2138154639115798",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "106",
                                            "updated": 1700657387740
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "7",
                                            "baseSymbol": "NEO",
                                            "baseId": "neo",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0002710000000000",
                                            "priceUsd": "9.9089596759113456",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "29",
                                            "updated": 1700657388334
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "8",
                                            "baseSymbol": "MANA",
                                            "baseId": "decentraland",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000116300000000",
                                            "priceUsd": "0.4252442842466751",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "539",
                                            "updated": 1700657392039
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "9",
                                            "baseSymbol": "XRP",
                                            "baseId": "xrp",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0003100100000000",
                                            "priceUsd": "0.6258609382232920",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "512",
                                            "updated": 1700657457956
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "10",
                                            "baseSymbol": "WAVES",
                                            "baseId": "waves",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000594000000000",
                                            "priceUsd": "2.1719269547938521",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "67",
                                            "updated": 1700657415087
                                        }
                                    ],
                                    "timestamp": 1700657490796
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/rates": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_rates"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "icelandic-kr\u00f3na",
                                            "symbol": "ISK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.0070916956244238"
                                        },
                                        {
                                            "id": "tajikistani-somoni",
                                            "symbol": "TJS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0916191560263233"
                                        },
                                        {
                                            "id": "burundian-franc",
                                            "symbol": "BIF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003509565706156"
                                        },
                                        {
                                            "id": "bosnia-herzegovina-convertible-mark",
                                            "symbol": "BAM",
                                            "currencySymbol": "KM",
                                            "type": "fiat",
                                            "rateUsd": "0.5580326002645074"
                                        },
                                        {
                                            "id": "south-african-rand",
                                            "symbol": "ZAR",
                                            "currencySymbol": "R",
                                            "type": "fiat",
                                            "rateUsd": "0.0534930106834636"
                                        },
                                        {
                                            "id": "cfa-franc-bceao",
                                            "symbol": "XOF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0016616942874571"
                                        },
                                        {
                                            "id": "swiss-franc",
                                            "symbol": "CHF",
                                            "currencySymbol": "CHF",
                                            "type": "fiat",
                                            "rateUsd": "1.1312537119262422"
                                        },
                                        {
                                            "id": "multi-collateral-dai",
                                            "symbol": "DAI",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "1.0001659434406946"
                                        },
                                        {
                                            "id": "guyanaese-dollar",
                                            "symbol": "GYD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0047684700596038"
                                        },
                                        {
                                            "id": "sri-lankan-rupee",
                                            "symbol": "LKR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0030446766442730"
                                        },
                                        {
                                            "id": "costa-rican-col\u00f3n",
                                            "symbol": "CRC",
                                            "currencySymbol": "\u20a1",
                                            "type": "fiat",
                                            "rateUsd": "0.0018797109609809"
                                        },
                                        {
                                            "id": "hungarian-forint",
                                            "symbol": "HUF",
                                            "currencySymbol": "Ft",
                                            "type": "fiat",
                                            "rateUsd": "0.0028643041248460"
                                        },
                                        {
                                            "id": "cambodian-riel",
                                            "symbol": "KHR",
                                            "currencySymbol": "\u17db",
                                            "type": "fiat",
                                            "rateUsd": "0.0002430135444962"
                                        },
                                        {
                                            "id": "palladium-ounce",
                                            "symbol": "XPD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "1078.0392621899289000"
                                        },
                                        {
                                            "id": "argentine-peso",
                                            "symbol": "ARS",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0028090840677454"
                                        },
                                        {
                                            "id": "thai-baht",
                                            "symbol": "THB",
                                            "currencySymbol": "\u0e3f",
                                            "type": "fiat",
                                            "rateUsd": "0.0284191829484902"
                                        },
                                        {
                                            "id": "laotian-kip",
                                            "symbol": "LAK",
                                            "currencySymbol": "\u20ad",
                                            "type": "fiat",
                                            "rateUsd": "0.0000482293858835"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "symbol": "BNB",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "233.9673316316367878"
                                        },
                                        {
                                            "id": "croatian-kuna",
                                            "symbol": "HRK",
                                            "currencySymbol": "kn",
                                            "type": "fiat",
                                            "rateUsd": "0.1446853664786287"
                                        },
                                        {
                                            "id": "jamaican-dollar",
                                            "symbol": "JMD",
                                            "currencySymbol": "J$",
                                            "type": "fiat",
                                            "rateUsd": "0.0064307818996074"
                                        },
                                        {
                                            "id": "malaysian-ringgit",
                                            "symbol": "MYR",
                                            "currencySymbol": "RM",
                                            "type": "fiat",
                                            "rateUsd": "0.2137665669089355"
                                        },
                                        {
                                            "id": "chinese-yuan-(offshore)",
                                            "symbol": "CNH",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.1397074386527173"
                                        },
                                        {
                                            "id": "gold-ounce",
                                            "symbol": "XAU",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "2000.7602889097860000"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "symbol": "DOGE",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0743949036222337"
                                        },
                                        {
                                            "id": "belarusian-ruble",
                                            "symbol": "BYN",
                                            "currencySymbol": "Br",
                                            "type": "fiat",
                                            "rateUsd": "0.3028274086664965"
                                        },
                                        {
                                            "id": "macedonian-denar",
                                            "symbol": "MKD",
                                            "currencySymbol": "\u0434\u0435\u043d",
                                            "type": "fiat",
                                            "rateUsd": "0.0177633709733835"
                                        },
                                        {
                                            "id": "new-zealand-dollar",
                                            "symbol": "NZD",
[...]
