{
    "openapi": "3.1.0",
    "info": {
        "title": "CheapShark API",
        "description": "**API Description** - The CheapShark API is a service that provides information and data related to video game deals and prices.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.cheapshark.com/terms",
        "contact": {
            "name": "CheapShark API Contact",
            "url": "",
            "email": "support@cheapshark.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.cheapshark.com",
            "description": "Production Server of the CheapShark API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://apidocs.cheapshark.com",
        "description": "Find more about the CheapShark API here:"
    },
    "paths": {
        "/api/1.0/deals": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "storeID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "upperPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "sortBy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "title",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "game": {
                                "value": "game"
                            },
                            "batman": {
                                "value": "batman"
                            }
                        }
                    },
                    {
                        "name": "onSale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "AAA",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "steamRating",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90": {
                                "value": "90"
                            },
                            "positive": {
                                "value": "positive"
                            }
                        }
                    },
                    {
                        "name": "exact",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "metacritic",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "80": {
                                "value": "80"
                            }
                        }
                    },
                    {
                        "name": "desc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "pageNumber",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_1.0_deals"
                                },
                                "example": [
                                    {
                                        "internalName": "HALFLIFE",
                                        "title": "Half-Life",
                                        "metacriticLink": "/game/half-life/",
                                        "dealID": "G%2BXAA0GGjaN4wXzRSpEpKtspbGp%2Bz3TJoNnhJI72Bug%3D",
                                        "storeID": "1",
                                        "gameID": "75",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "96",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "83419",
                                        "steamAppID": "70",
                                        "releaseDate": 911433600,
                                        "lastChange": 1700515369,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/70/capsule_sm_120.jpg?t=1700269108"
                                    },
                                    {
                                        "internalName": "PORTAL2",
                                        "title": "Portal 2",
                                        "metacriticLink": "/game/portal-2/",
                                        "dealID": "rwQ2JCEr5NOySyBsAj6fyPuZg4qMlh9w67U%2BmM6b2VE%3D",
                                        "storeID": "1",
                                        "gameID": "36",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "95",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "98",
                                        "steamRatingCount": "300872",
                                        "steamAppID": "620",
                                        "releaseDate": 1303084800,
                                        "lastChange": 1700592224,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/620/capsule_sm_120.jpg?t=1698805825"
                                    },
                                    {
                                        "internalName": "HALFLIFE2",
                                        "title": "Half-Life 2",
                                        "metacriticLink": "/game/half-life-2/",
                                        "dealID": "Vz5eZMF1sKvs02I4cuEgrGnmM1r%2BkWHig0YMa0lJ0vM%3D",
                                        "storeID": "1",
                                        "gameID": "59",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "96",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "97",
                                        "steamRatingCount": "138491",
                                        "steamAppID": "220",
                                        "releaseDate": 1100563200,
                                        "lastChange": 1700246140,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/220/capsule_sm_120.jpg?t=1699003213"
                                    },
                                    {
                                        "internalName": "PORTAL",
                                        "title": "Portal",
                                        "metacriticLink": "/game/portal/",
                                        "dealID": "rPSCN3%2FJpoZ0SjQ%2FgDXvmCifMHiePHA9JjbUPcGPS3w%3D",
                                        "storeID": "1",
                                        "gameID": "82",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "90",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "98",
                                        "steamRatingCount": "121808",
                                        "steamAppID": "400",
                                        "releaseDate": 1191974400,
                                        "lastChange": 1700592249,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/400/capsule_sm_120.jpg?t=1699003695"
                                    },
                                    {
                                        "internalName": "METRO2033REDUX",
                                        "title": "Metro 2033 Redux",
                                        "metacriticLink": "/game/metro-2033-redux/",
                                        "dealID": "o35o2DS12hd%2BlYrHgmxPiMry13keOtIO83Cziy6I2l8%3D",
                                        "storeID": "1",
                                        "gameID": "109746",
                                        "salePrice": "1.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "90.045023",
                                        "metacriticScore": "90",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "67296",
                                        "steamAppID": "286690",
                                        "releaseDate": 1408924800,
                                        "lastChange": 1700592343,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/286690/capsule_sm_120.jpg?t=1669390794"
                                    },
                                    {
                                        "internalName": "LEFT4DEAD2",
                                        "title": "Left 4 Dead 2",
                                        "metacriticLink": "/game/left-4-dead-2/",
                                        "dealID": "hz73JxyUB2xNG3rNqBY7V2XKj9UTE2dWUIZAfmTdvMk%3D",
                                        "storeID": "1",
                                        "gameID": "43",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "97",
                                        "steamRatingCount": "594033",
                                        "steamAppID": "550",
                                        "releaseDate": 1258329600,
                                        "lastChange": 1700592208,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/550/capsule_sm_120.jpg?t=1675801903"
                                    },
                                    {
                                        "internalName": "LEFT4DEAD",
                                        "title": "Left 4 Dead",
                                        "metacriticLink": "/game/left-4-dead/",
                                        "dealID": "xxeBJdYG2vuyKEIu7s6tKMIYsElCCXpQq9sFQuBQsKU%3D",
                                        "storeID": "1",
                                        "gameID": "107",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "42869",
                                        "steamAppID": "500",
                                        "releaseDate": 1226880000,
                                        "lastChange": 1700592258,
                                        "dealRating": "10.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/500/capsule_sm_120.jpg?t=1699003822"
                                    },
                                    {
                                        "internalName": "COUNTERSTRIKESOURCE",
                                        "title": "Counter-Strike: Source",
                                        "metacriticLink": "/game/counter-strike-source/",
                                        "dealID": "FMLp0LRsw1NIWESWgZ8Qlk%2B7qR14NQIeUAETjoU3yDI%3D",
                                        "storeID": "1",
                                        "gameID": "47",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "109890",
                                        "steamAppID": "240",
                                        "releaseDate": 1097107200,
                                        "lastChange": 1700592261,
                                        "dealRating": "9.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/240/capsule_sm_120.jpg?t=1666823740"
                                    },
                                    {
                                        "internalName": "LIMBO",
                                        "title": "LIMBO",
                                        "metacriticLink": "/game/limbo/",
                                        "dealID": "X9XEB%2Fw3H%2BmI80UYR458fzGB9zWEHde%2Bz2e8vPvNWl4%3D",
                                        "storeID": "1",
                                        "gameID": "57",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "92",
                                        "steamRatingCount": "28958",
                                        "steamAppID": "48000",
                                        "releaseDate": 1312243200,
                                        "lastChange": 1700592509,
                                        "dealRating": "9.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/48000/capsule_sm_120.jpg?t=1673342440"
                                    },
                                    {
                                        "internalName": "COUNTERSTRIKE",
                                        "title": "Counter-Strike",
                                        "metacriticLink": "/game/counter-strike/",
                                        "dealID": "91OY5KxvzBpAoT%2Bl13yhWJrXxM8CCVCO4tZS3AIht4c%3D",
                                        "storeID": "1",
                                        "gameID": "89",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "142716",
                                        "steamAppID": "10",
                                        "releaseDate": 973641600,
                                        "lastChange": 1700592282,
                                        "dealRating": "9.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/10/capsule_sm_120.jpg?t=1666823513"
                                    },
                                    {
                                        "internalName": "BATTLEFIELD3",
                                        "title": "Battlefield 3",
                                        "metacriticLink": "/game/battlefield-3/",
                                        "dealID": "FhBKK4XJ0dmqH9xN1YideiIrjTWPk6dXxgGVFlJzO7s%3D",
                                        "storeID": "1",
                                        "gameID": "1684",
                                        "salePrice": "3.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "90.022506",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "67",
                                        "steamRatingCount": "7158",
                                        "steamAppID": "1238820",
                                        "releaseDate": 1319500800,
                                        "lastChange": 1700592371,
                                        "dealRating": "9.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1238820/capsule_sm_120.jpg?t=1614945737"
                                    },
                                    {
                                        "internalName": "SUPERMEATBOY",
                                        "title": "Super Meat Boy",
                                        "metacriticLink": "/game/super-meat-boy/",
                                        "dealID": "Fs%2BQgmFZf9VVUIOJkAyGLakgSUq%2BFTHMuSGkS6qrs34%3D",
                                        "storeID": "1",
                                        "gameID": "136",
                                        "salePrice": "1.49",
                                        "normalPrice": "14.99",
                                        "isOnSale": "1",
                                        "savings": "90.060040",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "24341",
                                        "steamAppID": "40800",
                                        "releaseDate": 1291075200,
                                        "lastChange": 1700592366,
                                        "dealRating": "9.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/40800/capsule_sm_120.jpg?t=1700669950"
                                    },
                                    {
                                        "internalName": "BATTLEFIELD1",
                                        "title": "Battlefield 1",
                                        "metacriticLink": "/game/battlefield-1/",
                                        "dealID": "ICV0L0NmwniVHpc4NjfQsDO5gRILOIkqPz05jfxFtCM%3D",
                                        "storeID": "1",
                                        "gameID": "152332",
                                        "salePrice": "3.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "90.022506",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "110820",
                                        "steamAppID": "1238840",
                                        "releaseDate": 1477008000,
                                        "lastChange": 1700592226,
                                        "dealRating": "9.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1238840/capsule_sm_120.jpg?t=1700043439"
                                    },
                                    {
                                        "internalName": "INSIDE",
                                        "title": "INSIDE",
                                        "metacriticLink": "/game/inside/",
                                        "dealID": "MNeCPwsOA2Ep3wim%2FLwY4C0rcPZGEkwjwOSlzBwXs8c%3D",
                                        "storeID": "1",
                                        "gameID": "153803",
                                        "salePrice": "1.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "90.045023",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "47918",
                                        "steamAppID": "304430",
                                        "releaseDate": 1467849600,
                                        "lastChange": 1700592387,
                                        "dealRating": "9.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/304430/capsule_sm_120.jpg?t=1684943720"
                                    },
                                    {
                                        "internalName": "DEUSEXHUMANREVOLUTIONDIRECTORSCUT",
                                        "title": "Deus Ex: Human Revolution - Director's Cut",
                                        "metacriticLink": "/game/deus-ex-human-revolution-directors-cut/",
                                        "dealID": "HhzMJAgQYGZ%2B%2BFPpBG%2BRFcuUQZJO3KXvlnyYYGwGUfU%3D",
                                        "storeID": "1",
                                        "gameID": "102249",
                                        "salePrice": "2.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "85.042521",
                                        "metacriticScore": "91",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "92",
                                        "steamRatingCount": "22163",
                                        "steamAppID": "238010",
                                        "releaseDate": 1382400000,
                                        "lastChange": 1700592449,
                                        "dealRating": "9.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/238010/capsule_sm_120.jpg?t=1681397569"
                                    },
                                    {
                                        "internalName": "HERSTORY",
                                        "title": "Her Story",
                                        "metacriticLink": "/game/her-story/",
                                        "dealID": "3qZ54B%2Fv6L4A2XxPxT5sQQLtBKcscH8YI9bkjQW0j8I%3D",
                                        "storeID": "1",
                                        "gameID": "144326",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "6784",
                                        "steamAppID": "368370",
                                        "releaseDate": 1435104000,
                                        "lastChange": 1700592633,
                                        "dealRating": "9.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/368370/capsule_sm_120.jpg?t=1684962832"
                                    },
                                    {
                                        "internalName": "TUMBLESTONE",
                                        "title": "Tumblestone",
                                        "metacriticLink": "/game/tumblestone/",
                                        "dealID": "dJNCeHkZV3iaXZQFBSpYh3B2tz6ZuMvBaFpI6d1QYiU%3D",
                                        "storeID": "1",
                                        "gameID": "154838",
                                        "salePrice": "3.74",
                                        "normalPrice": "24.99",
                                        "isOnSale": "1",
                                        "savings": "85.034014",
                                        "metacriticScore": "91",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "150",
                                        "steamAppID": "269710",
                                        "releaseDate": 1468281600,
                                        "lastChange": 1700603803,
                                        "dealRating": "9.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/269710/capsule_sm_120.jpg?t=1673726244"
                                    },
                                    {
                                        "internalName": "SIDMEIERSCIVILIZATIONVI",
                                        "title": "Sid Meiers Civilization VI",
                                        "metacriticLink": "/game/sid-meiers-civilization-vi/",
                                        "dealID": "5xRuVIgFiH0TW2PTPJPlTN4NYMjAt4bg3p1CvKMMJv8%3D",
                                        "storeID": "1",
                                        "gameID": "152578",
                                        "salePrice": "5.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "90.015003",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "85",
                                        "steamRatingCount": "208019",
                                        "steamAppID": "289070",
                                        "releaseDate": 1476921600,
                                        "lastChange": 1700592193,
                                        "dealRating": "9.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/289070/capsule_sm_120.jpg?t=1680898825"
                                    },
                                    {
                                        "internalName": "SIDMEIERSCIVILIZATIONIV",
                                        "title": "Sid Meier's Civilization IV",
                                        "metacriticLink": "/game/sid-meiers-civilization-iv/",
                                        "dealID": "khSrhkgpaxgOWWEYV9MdKid%2FcDzIGa0zHzvh5j73lLo%3D",
                                        "storeID": "1",
                                        "gameID": "126",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "94",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "2218",
                                        "steamAppID": "3900",
                                        "releaseDate": 1130198400,
                                        "lastChange": 1700592512,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/3900/capsule_sm_120.jpg?t=1573063101"
                                    },
                                    {
                                        "internalName": "HOMEWORLDREMASTEREDCOLLECTION",
                                        "title": "Homeworld Remastered Collection",
                                        "metacriticLink": "/game/homeworld-remastered-collection/",
                                        "dealID": "Ersqftfht15yRvVi%2BQtYqzHcXHuORprGmyDT0uvo5zc%3D",
                                        "storeID": "1",
                                        "gameID": "141243",
                                        "salePrice": "3.49",
                                        "normalPrice": "34.99",
                                        "isOnSale": "1",
                                        "savings": "90.025722",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "10372",
                                        "steamAppID": "244160",
                                        "releaseDate": 1424822400,
                                        "lastChange": 1700592391,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/244160/capsule_sm_120.jpg?t=1698168325"
                                    },
                                    {
                                        "internalName": "BRAMBLETHEMOUNTAINKING",
                                        "title": "Bramble: The Mountain King",
                                        "metacriticLink": "/game/bramble-the-mountain-king/",
                                        "dealID": "wurENHLQj3xUYpG48mM4XSQndhdbFnjrJa0j6TN4170%3D",
                                        "storeID": "1",
                                        "gameID": "259924",
                                        "salePrice": "9.49",
                                        "normalPrice": "49.98",
                                        "isOnSale": "1",
                                        "savings": "81.012405",
                                        "metacriticScore": "75",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "1933",
                                        "steamAppID": "1623940",
                                        "releaseDate": 1682553600,
                                        "lastChange": 1700592314,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1623940/capsule_sm_120.jpg?t=1700669879"
                                    },
                                    {
                                        "internalName": "THIEFDEADLYSHADOWS",
                                        "title": "Thief: Deadly Shadows",
                                        "metacriticLink": "/game/thief-deadly-shadows/",
                                        "dealID": "EX0oH20b7A1H2YiVjvVx5A0HH%2F4etw3x%2F6YMGVPpKbA%3D",
                                        "storeID": "1",
                                        "gameID": "396",
                                        "salePrice": "0.98",
                                        "normalPrice": "8.99",
                                        "isOnSale": "1",
                                        "savings": "89.098999",
                                        "metacriticScore": "85",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "81",
                                        "steamRatingCount": "2005",
                                        "steamAppID": "6980",
                                        "releaseDate": 1085443200,
                                        "lastChange": 1700595740,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/6980/capsule_sm_120.jpg?t=1686146223"
                                    },
                                    {
                                        "internalName": "DISCOELYSIUMTHEFINALCUT",
                                        "title": "Disco Elysium - The Final Cut",
                                        "metacriticLink": "/game/disco-elysium-the-final-cut/",
                                        "dealID": "Uk9pH81%2BgPUwbkh9YzwMnYLT%2B%2FEaktqN8AgwMr6Y2wQ%3D",
                                        "storeID": "1",
                                        "gameID": "227942",
                                        "salePrice": "9.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "75.018755",
                                        "metacriticScore": "97",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "77698",
                                        "steamAppID": "632470",
                                        "releaseDate": 1617062400,
                                        "lastChange": 1700592230,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/632470/capsule_sm_120.jpg?t=1698833230"
                                    },
                                    {
                                        "internalName": "STARWARSSQUADRONS",
                                        "title": "Star Wars Squadrons",
                                        "metacriticLink": "/game/star-wars-squadrons/",
                                        "dealID": "uHEX1%2BFHsCFkAUasLFyJxOzfIrn%2FBIocF2rPbKn7pQ8%3D",
                                        "storeID": "1",
                                        "gameID": "216984",
                                        "salePrice": "1.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "95.023756",
                                        "metacriticScore": "79",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "21719",
                                        "steamAppID": "1222730",
                                        "releaseDate": 1601510400,
                                        "lastChange": 1700592318,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1222730/capsule_sm_120.jpg?t=1662047498"
                                    },
                                    {
                                        "internalName": "THETALOSPRINCIPLE",
                                        "title": "The Talos Principle",
                                        "metacriticLink": "/game/the-talos-principle/",
                                        "dealID": "moGt7jRUUzA8EK2artRV4yodwhPiIorfICeF3cMvAPw%3D",
                                        "storeID": "1",
                                        "gameID": "135790",
                                        "salePrice": "2.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "90.030010",
                                        "metacriticScore": "85",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "95",
                                        "steamRatingCount": "24854",
                                        "steamAppID": "257510",
                                        "releaseDate": 1418256000,
                                        "lastChange": 1700592256,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/257510/capsule_sm_120.jpg?t=1700251768"
                                    },
                                    {
                                        "internalName": "HALFLIFE2EPISODETWO",
                                        "title": "Half-Life 2: Episode Two",
                                        "metacriticLink": "/game/half-life-2-episode-two/",
                                        "dealID": "S0Ig5YiyefrWVD4DC7ZKSQLcr9sBbVuLAvP17Tq4Vfw%3D",
                                        "storeID": "1",
                                        "gameID": "81",
                                        "salePrice": "0.79",
                                        "normalPrice": "7.99",
                                        "isOnSale": "1",
                                        "savings": "90.112641",
                                        "metacriticScore": "90",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "97",
                                        "steamRatingCount": "29413",
                                        "steamAppID": "420",
                                        "releaseDate": 1191974400,
                                        "lastChange": 1700246240,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/420/capsule_sm_120.jpg?t=1699003557"
                                    },
                                    {
                                        "internalName": "JUSTCAUSE2",
                                        "title": "Just Cause 2",
                                        "metacriticLink": "/game/just-cause-2/",
                                        "dealID": "z4El8C19yCEHrk1%2ByEedebThQVbblI7H0Z%2BAmxgZiS8%3D",
                                        "storeID": "1",
                                        "gameID": "180",
                                        "salePrice": "1.49",
                                        "normalPrice": "14.99",
                                        "isOnSale": "1",
                                        "savings": "90.060040",
                                        "metacriticScore": "84",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "90",
                                        "steamRatingCount": "39380",
                                        "steamAppID": "8190",
                                        "releaseDate": 1269302400,
                                        "lastChange": 1700592577,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/8190/capsule_sm_120.jpg?t=1660140289"
                                    },
                                    {
                                        "internalName": "INJUSTICE2",
                                        "title": "Injustice 2",
                                        "metacriticLink": "/game/injustice-2/",
                                        "dealID": "3Z4THVFnoVlZCAuD20HvK0GVRSsN0lYUx2brrp%2FgHu0%3D",
                                        "storeID": "1",
                                        "gameID": "174988",
                                        "salePrice": "4.99",
                                        "normalPrice": "49.99",
                                        "isOnSale": "1",
                                        "savings": "90.018004",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "13398",
                                        "steamAppID": "627270",
                                        "releaseDate": 1512000000,
                                        "lastChange": 1700592289,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/627270/capsule_sm_120.jpg?t=1699983966"
                                    },
                                    {
                                        "internalName": "TIMEONFROGISLAND",
                                        "title": "Time on Frog Island",
                                        "metacriticLink": "/game/time-on-frog-island/",
                                        "dealID": "17CjSI1jLtUfpGg4rVpZrHFsfjZypa8MN%2BSJim4%2FG%2Fs%3D",
                                        "storeID": "1",
                                        "gameID": "246914",
                                        "salePrice": "2.47",
                                        "normalPrice": "36.98",
                                        "isOnSale": "1",
                                        "savings": "93.320714",
                                        "metacriticScore": "77",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "78",
                                        "steamRatingCount": "145",
                                        "steamAppID": "1717510",
                                        "releaseDate": 1657584000,
                                        "lastChange": 1700595707,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1717510/capsule_sm_120.jpg?t=1668084032"
                                    },
                                    {
                                        "internalName": "THIEFIITHEMETALAGE",
                                        "title": "Thief II: The Metal Age",
                                        "metacriticLink": "/game/thief-ii-the-metal-age/",
                                        "dealID": "TlzUCY9p3Sq1bY%2Br4aGWO5Cs2UxE1lYnuQD05gxNwIM%3D",
                                        "storeID": "1",
                                        "gameID": "87640",
                                        "salePrice": "0.97",
                                        "normalPrice": "6.99",
                                        "isOnSale": "1",
                                        "savings": "86.123033",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "1554",
                                        "steamAppID": "211740",
                                        "releaseDate": 951782400,
                                        "lastChange": 1700592720,
                                        "dealRating": "9.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/211740/capsule_sm_120.jpg?t=1681398228"
                                    },
                                    {
                                        "internalName": "SHADOWTACTICSBLADESOFTHESHOGUN",
                                        "title": "Shadow Tactics: Blades of the Shogun",
                                        "metacriticLink": "/game/shadow-tactics-blades-of-the-shogun/",
                                        "dealID": "j2lexFQ%2Fx%2FOeqECYZgxWgBxj7YX3hcQs0N3Y8mn8kHk%3D",
                                        "storeID": "1",
                                        "gameID": "158443",
                                        "salePrice": "3.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "90.022506",
                                        "metacriticScore": "85",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "27893",
                                        "steamAppID": "418240",
                                        "releaseDate": 1480982400,
                                        "lastChange": 1700592472,
                                        "dealRating": "9.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/418240/capsule_sm_120.jpg?t=1700066676"
                                    },
                                    {
                                        "internalName": "MORTALKOMBAT11ULTIMATE",
                                        "title": "Mortal Kombat 11 Ultimate",
                                        "metacriticLink": "/game/mortal-kombat-11-ultimate/",
                                        "dealID": "hBzFkwXV5CCVfkjbLZexRx1fhOrxUk1Idvnte3OGtao%3D",
                                        "storeID": "1",
                                        "gameID": "223428",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "91",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "68000",
                                        "steamAppID": "518699",
                                        "releaseDate": 1605571200,
                                        "lastChange": 1700595632,
                                        "dealRating": "9.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/subs/518699/capsule_sm_120.jpg?t=1691103019"
                                    },
                                    {
                                        "internalName": "CANDLE",
                                        "title": "Candle",
                                        "metacriticLink": "/game/candle/",
                                        "dealID": "a1EIrTu7VITARszy8A5km9CR%2BjEB4sziugj7QKmh%2FBg%3D",
                                        "storeID": "1",
                                        "gameID": "155405",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "78",
                                        "steamRatingCount": "785",
                                        "steamAppID": "420060",
                                        "releaseDate": 1478822400,
                                        "lastChange": 1700617294,
                                        "dealRating": "9.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/420060/capsule_sm_120.jpg?t=1562676294"
                                    },
                                    {
                                        "internalName": "ATOMIKRUNGUNJUMPGUN",
                                        "title": "Atomik: RunGunJumpGun",
                                        "metacriticLink": "/game/atomik-rungunjumpgun/",
                                        "dealID": "7Gdv7Ke9S2TUu04c4KlTTRgYwHm2TRyQLoGKOpq%2FaRo%3D",
                                        "storeID": "1",
                                        "gameID": "198306",
                                        "salePrice": "0.79",
                                        "normalPrice": "7.99",
                                        "isOnSale": "1",
                                        "savings": "90.112641",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "266",
                                        "steamAppID": "440550",
                                        "releaseDate": 1472601600,
                                        "lastChange": 1700603877,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/440550/capsule_sm_120.jpg?t=1579700600"
                                    },
                                    {
                                        "internalName": "DUNGEONSIEGE",
                                        "title": "Dungeon Siege",
                                        "metacriticLink": "/game/dungeon-siege/",
                                        "dealID": "Hli8KbDatTjYjj%2BjpnfUuVKjxPwQPmblW1llCXyMMmU%3D",
                                        "storeID": "1",
                                        "gameID": "192",
                                        "salePrice": "0.97",
                                        "normalPrice": "6.99",
                                        "isOnSale": "1",
                                        "savings": "86.123033",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "80",
                                        "steamRatingCount": "3136",
                                        "steamAppID": "39190",
                                        "releaseDate": 1017532800,
                                        "lastChange": 1700595827,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/39190/capsule_sm_120.jpg?t=1592491243"
                                    },
                                    {
                                        "internalName": "TOMBRAIDERANNIVERSARY",
                                        "title": "Tomb Raider: Anniversary",
                                        "metacriticLink": "/game/tomb-raider-anniversary/",
                                        "dealID": "ryaV37fbWkAIG6ZLy%2FtViuEGOIShgUVV7kpgbYlDqQk%3D",
                                        "storeID": "1",
                                        "gameID": "456",
                                        "salePrice": "0.98",
                                        "normalPrice": "8.99",
                                        "isOnSale": "1",
                                        "savings": "89.098999",
                                        "metacriticScore": "83",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "5188",
                                        "steamAppID": "8000",
                                        "releaseDate": 1181001600,
                                        "lastChange": 1700592685,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/8000/capsule_sm_120.jpg?t=1699905226"
                                    },
                                    {
                                        "internalName": "HELHEIMHASSLE",
                                        "title": "Helheim Hassle",
                                        "metacriticLink": "/game/helheim-hassle/",
                                        "dealID": "QqBMs7m4CdK%2FAmfbqwtJguO%2FicxbAF4mU7N5i64VGlA%3D",
                                        "storeID": "1",
                                        "gameID": "219387",
                                        "salePrice": "1.29",
                                        "normalPrice": "51.96",
                                        "isOnSale": "1",
                                        "savings": "97.517321",
                                        "metacriticScore": "71",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "167",
                                        "steamAppID": "1095120",
                                        "releaseDate": 1597708800,
                                        "lastChange": 1700596169,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1095120/capsule_sm_120.jpg?t=1697716898"
                                    },
                                    {
                                        "internalName": "XPANDRALLY",
                                        "title": "Xpand Rally",
                                        "metacriticLink": "/game/xpand-rally/",
                                        "dealID": "fgGw0t%2FU1b5nRlIKdzTX5W6hgenYkxA0njL%2BqBGLnko%3D",
                                        "storeID": "1",
                                        "gameID": "3720",
                                        "salePrice": "0.54",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "89.178357",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "81",
                                        "steamRatingCount": "408",
                                        "steamAppID": "3010",
                                        "releaseDate": 1145491200,
                                        "lastChange": 1700596156,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/3010/capsule_sm_120.jpg?t=1639506578"
                                    },
                                    {
                                        "internalName": "BATTLEFIELDV",
                                        "title": "Battlefield V",
                                        "metacriticLink": "/game/battlefield-v/",
                                        "dealID": "O7Yl3vwvEd6Ol0inPOrUwMbigxJLR0xB%2BnoCjQcTCP8%3D",
                                        "storeID": "1",
                                        "gameID": "187449",
                                        "salePrice": "3.99",
                                        "normalPrice": "49.99",
                                        "isOnSale": "1",
                                        "savings": "92.018404",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "147992",
                                        "steamAppID": "1238810",
                                        "releaseDate": 1542672000,
                                        "lastChange": 1700592234,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1238810/capsule_sm_120.jpg?t=1700043402"
                                    },
                                    {
                                        "internalName": "ZOMBIENIGHTTERROR",
                                        "title": "Zombie Night Terror",
                                        "metacriticLink": "/game/zombie-night-terror/",
                                        "dealID": "kfwmtdgaQCWWgiQOf5nL4d5%2BMuEwy%2Bo5avHGyMJVF4c%3D",
                                        "storeID": "1",
                                        "gameID": "154629",
                                        "salePrice": "1.29",
                                        "normalPrice": "12.99",
                                        "isOnSale": "1",
                                        "savings": "90.069284",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "2679",
                                        "steamAppID": "416680",
                                        "releaseDate": 1468972800,
                                        "lastChange": 1700592688,
                                        "dealRating": "9.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/416680/capsule_sm_120.jpg?t=1582640712"
                                    },
                                    {
                                        "internalName": "TOKITORI",
                                        "title": "Toki Tori",
                                        "metacriticLink": "/game/toki-tori/",
                                        "dealID": "Ws%2B0c2sUsDPpqLQB7ToTCNhVsyc5uBSRe50G3FFDt58%3D",
                                        "storeID": "1",
                                        "gameID": "574",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "1572",
                                        "steamAppID": "38700",
                                        "releaseDate": 1264636800,
                                        "lastChange": 1700596292,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/38700/capsule_sm_120.jpg?t=1596256691"
                                    },
                                    {
                                        "internalName": "MIRRORSEDGE",
                                        "title": "Mirror's Edge",
                                        "metacriticLink": "/game/mirrors-edge/",
                                        "dealID": "leAGYbTtECF2%2FjcwVu20anVAMYJ9yXcUsa2nZZF6cBM%3D",
                                        "storeID": "1",
                                        "gameID": "345",
                                        "salePrice": "1.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "90.045023",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "27165",
                                        "steamAppID": "17410",
                                        "releaseDate": 1231718400,
                                        "lastChange": 1700592367,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/17410/capsule_sm_120.jpg?t=1668566648"
                                    },
                                    {
                                        "internalName": "ROGUEHEROESRUINSOFTASOS",
                                        "title": "Rogue Heroes: Ruins of Tasos",
                                        "metacriticLink": "/game/rogue-heroes-ruins-of-tasos/",
                                        "dealID": "PfB3OygTr76YPK4smiU0zX7CjRkbVsi7hMIBfj%2FFMss%3D",
                                        "storeID": "1",
                                        "gameID": "226124",
                                        "salePrice": "1.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "90.045023",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "79",
                                        "steamRatingCount": "1694",
                                        "steamAppID": "787810",
                                        "releaseDate": 1614038400,
                                        "lastChange": 1700592545,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/787810/capsule_sm_120.jpg?t=1655723206"
                                    },
                                    {
                                        "internalName": "GROUNDCONTROLIIOPERATIONEXODUS",
                                        "title": "Ground Control II: Operation Exodus",
                                        "metacriticLink": "/game/ground-control-ii-operation-exodus/",
                                        "dealID": "9pzkp8BqtBtOaHNakc5A%2BeMDPz7EW1DuHstYAh%2Bqm7s%3D",
                                        "storeID": "1",
                                        "gameID": "144806",
                                        "salePrice": "0.89",
                                        "normalPrice": "8.99",
                                        "isOnSale": "1",
                                        "savings": "90.100111",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "227",
                                        "steamAppID": "254840",
                                        "releaseDate": 1087948800,
                                        "lastChange": 1700603961,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/254840/capsule_sm_120.jpg?t=1579791420"
                                    },
                                    {
                                        "internalName": "DAYOFDEFEATSOURCE",
                                        "title": "Day of Defeat: Source",
                                        "metacriticLink": "/game/day-of-defeat-source/",
                                        "dealID": "P%2FnC2BKQyCKw9MZUP9Hx83vDQvcwsUaNoGFCIVk9RD8%3D",
                                        "storeID": "1",
                                        "gameID": "172",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "90",
                                        "steamRatingCount": "13734",
                                        "steamAppID": "300",
                                        "releaseDate": 1127692800,
                                        "lastChange": 1700592345,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/300/capsule_sm_120.jpg?t=1694209029"
                                    },
                                    {
                                        "internalName": "DROPSY",
                                        "title": "Dropsy",
                                        "metacriticLink": "/game/dropsy/",
                                        "dealID": "jw3%2FPWq5mTqvzmI0eR%2Fdoyvhh7EPLdjweccBGkTxYqY%3D",
                                        "storeID": "1",
                                        "gameID": "145148",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "1362",
                                        "steamAppID": "274350",
                                        "releaseDate": 1441843200,
                                        "lastChange": 1700596073,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/274350/capsule_sm_120.jpg?t=1667383598"
                                    },
                                    {
                                        "internalName": "WHENSKILIFTSGOWRONG",
                                        "title": "When Ski Lifts Go Wrong",
                                        "metacriticLink": "/game/when-ski-lifts-go-wrong/",
                                        "dealID": "9Z3aPjsmWC7Kj5l3XRQ7Mftxn0mJsXnfiTyrmx%2Bpc2Q%3D",
                                        "storeID": "1",
                                        "gameID": "194665",
                                        "salePrice": "1.49",
                                        "normalPrice": "14.99",
                                        "isOnSale": "1",
                                        "savings": "90.060040",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "455",
                                        "steamAppID": "638000",
                                        "releaseDate": 1548201600,
                                        "lastChange": 1700596078,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/638000/capsule_sm_120.jpg?t=1668073718"
                                    },
                                    {
                                        "internalName": "DISTANTWORLDSUNIVERSE",
                                        "title": "Distant Worlds: Universe",
                                        "metacriticLink": "/game/distant-worlds-universe/",
                                        "dealID": "CoyryML0LMR039mrHIRiquMVW%2FpRm6zbecdtqhyL1L0%3D",
                                        "storeID": "1",
                                        "gameID": "109696",
                                        "salePrice": "2.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "90.030010",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "72",
                                        "steamRatingCount": "1349",
                                        "steamAppID": "261470",
                                        "releaseDate": 1400803200,
                                        "lastChange": 1700595759,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/261470/capsule_sm_120.jpg?t=1564046653"
                                    },
                                    {
                                        "internalName": "YOOKALAYLEEANDTHEIMPOSSIBLELAIR",
                                        "title": "Yooka-Laylee and the Impossible Lair",
                                        "metacriticLink": "/game/yooka-laylee-and-the-impossible-lair/",
                                        "dealID": "RGBPSg2buMIToQodjBYZa9csHk8E3J%2BYvt%2BSkw%2FaWk0%3D",
                                        "storeID": "1",
                                        "gameID": "204549",
                                        "salePrice": "2.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "90.030010",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "596",
                                        "steamAppID": "846870",
                                        "releaseDate": 1570492800,
                                        "lastChange": 1700592718,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/846870/capsule_sm_120.jpg?t=1643296191"
                                    },
                                    {
                                        "internalName": "HALFLIFE2EPISODEONE",
                                        "title": "Half-Life 2: Episode One",
                                        "metacriticLink": "/game/half-life-2-episode-one/",
                                        "dealID": "HuEzZjI2sMXFOQeF%2BYboCNA3gKf76xCPBpcK3A9tQqM%3D",
                                        "storeID": "1",
                                        "gameID": "97",
                                        "salePrice": "0.79",
                                        "normalPrice": "7.99",
                                        "isOnSale": "1",
                                        "savings": "90.112641",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "95",
                                        "steamRatingCount": "22011",
                                        "steamAppID": "380",
                                        "releaseDate": 1149120000,
                                        "lastChange": 1700246247,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/380/capsule_sm_120.jpg?t=1699003429"
                                    },
                                    {
                                        "internalName": "GOODBYEDEPONIA",
                                        "title": "Goodbye Deponia",
                                        "metacriticLink": "/game/goodbye-deponia/",
                                        "dealID": "Emke7m9VWcAU%2B7apFaQ5B6CUOJziWE0lr5t1qTQg5G0%3D",
                                        "storeID": "1",
                                        "gameID": "101882",
                                        "salePrice": "1.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "90.045023",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "1705",
                                        "steamAppID": "241910",
                                        "releaseDate": 1381968000,
                                        "lastChange": 1700592494,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/241910/capsule_sm_120.jpg?t=1687176506"
                                    },
                                    {
                                        "internalName": "BADDREAMCOMA",
                                        "title": "Bad Dream: Coma",
                                        "metacriticLink": "/game/bad-dream-coma/",
                                        "dealID": "ZKZdAvI3UHaMPYAg0bURT7wf%2F%2FH6dh2Ita%2Fht3qdoJM%3D",
                                        "storeID": "1",
                                        "gameID": "177327",
                                        "salePrice": "0.89",
                                        "normalPrice": "8.99",
                                        "isOnSale": "1",
                                        "savings": "90.100111",
                                        "metacriticScore": "79",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "92",
                                        "steamRatingCount": "1714",
                                        "steamAppID": "538070",
                                        "releaseDate": 1489017600,
                                        "lastChange": 1700596229,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/538070/capsule_sm_120.jpg?t=1664464452"
                                    },
                                    {
                                        "internalName": "MORTALKOMBAT11",
                                        "title": "Mortal Kombat11",
                                        "metacriticLink": "/game/mortal-kombat-11/",
                                        "dealID": "LC4E%2BARf7Ilc9Y%2ByK5ObmKRrtjxEwY5%2Bu97zrBdi%2Bj8%3D",
                                        "storeID": "1",
                                        "gameID": "196050",
                                        "salePrice": "4.99",
                                        "normalPrice": "49.99",
                                        "isOnSale": "1",
                                        "savings": "90.018004",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "67014",
                                        "steamAppID": "976310",
                                        "releaseDate": 1555977600,
                                        "lastChange": 1700592229,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/976310/capsule_sm_120.jpg?t=1699983920"
                                    },
                                    {
                                        "internalName": "SEMBLANCE",
                                        "title": "Semblance",
                                        "metacriticLink": "/game/semblance/",
                                        "dealID": "3Wq2nuaqCwVa9HVp8KQth%2FSU4T06wXvVdMncNwphqx4%3D",
                                        "storeID": "1",
                                        "gameID": "189551",
                                        "salePrice": "0.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "90.090090",
                                        "metacriticScore": "79",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "258",
                                        "steamAppID": "700160",
                                        "releaseDate": 1532390400,
                                        "lastChange": 1700596008,
                                        "dealRating": "9.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/700160/capsule_sm_120.jpg?t=1680797529"
                                    },
                                    {
                                        "internalName": "TOMBRAIDERUNDERWORLD",
                                        "title": "Tomb Raider: Underworld",
                                        "metacriticLink": "/game/tomb-raider-underworld/",
                                        "dealID": "XhdaphoqPFV2dl6MtPYcKItazwVt9ldkx4ybvnmPfZ0%3D",
                                        "storeID": "1",
                                        "gameID": "643",
                                        "salePrice": "0.98",
                                        "normalPrice": "8.99",
                                        "isOnSale": "1",
                                        "savings": "89.098999",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "76",
                                        "steamRatingCount": "4798",
                                        "steamAppID": "8140",
                                        "releaseDate": 1226966400,
                                        "lastChange": 1700595753,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/8140/capsule_sm_120.jpg?t=1699905285"
                                    },
                                    {
                                        "internalName": "BATTLEFIELD4",
                                        "title": "Battlefield 4",
                                        "metacriticLink": "/game/battlefield-4/",
                                        "dealID": "jorrBw%2B6tBsGXOvIN8XZmHUu3u3GwkMbrIugL3Qo4rE%3D",
                                        "storeID": "1",
                                        "gameID": "96380",
                                        "salePrice": "3.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "90.022506",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "46082",
                                        "steamAppID": "1238860",
                                        "releaseDate": 1382140800,
                                        "lastChange": 1700592257,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1238860/capsule_sm_120.jpg?t=1700043480"
                                    },
                                    {
                                        "internalName": "ANOMALYWARZONEEARTH",
                                        "title": "Anomaly: Warzone Earth",
                                        "metacriticLink": "/game/anomaly-warzone-earth/",
                                        "dealID": "XOYard89AJhM%2BioC7Cc50MyY9xVZtCIttfcZaNymw38%3D",
                                        "storeID": "1",
                                        "gameID": "343",
                                        "salePrice": "1.09",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "89.089089",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "85",
                                        "steamRatingCount": "888",
                                        "steamAppID": "91200",
                                        "releaseDate": 1302220800,
                                        "lastChange": 1700603792,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/91200/capsule_sm_120.jpg?t=1634818526"
                                    },
                                    {
                                        "internalName": "STEALTHBASTARDDELUXE",
                                        "title": "Stealth Bastard Deluxe",
                                        "metacriticLink": "/game/stealth-bastard-deluxe/",
                                        "dealID": "uu3TmpMjyOdpHgrbi2iww9exW%2BUyrm4POQYuJ7YWQuc%3D",
                                        "storeID": "1",
                                        "gameID": "93923",
                                        "salePrice": "1.09",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "89.089089",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "633",
                                        "steamAppID": "209190",
                                        "releaseDate": 1354060800,
                                        "lastChange": 1700602100,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/209190/capsule_sm_120.jpg?t=1634742088"
                                    },
                                    {
                                        "internalName": "PRINCEOFPERSIATHESANDSOFTIME",
                                        "title": "Prince of Persia: The Sands of Time",
                                        "metacriticLink": "/game/prince-of-persia-the-sands-of-time/",
                                        "dealID": "ZblEZO%2Fy4fXzX2MPHRLN%2FMTI1Q1hXXXPFMvMrud8%2B6Y%3D",
                                        "storeID": "1",
                                        "gameID": "278",
                                        "salePrice": "1.99",
                                        "normalPrice": "9.99",
                                        "isOnSale": "1",
                                        "savings": "80.080080",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "85",
                                        "steamRatingCount": "3213",
                                        "steamAppID": "13600",
                                        "releaseDate": 1070323200,
                                        "lastChange": 1700592539,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/13600/capsule_sm_120.jpg?t=1447351278"
                                    },
                                    {
                                        "internalName": "RAWDATA",
                                        "title": "Raw Data",
                                        "metacriticLink": "/game/raw-data/",
                                        "dealID": "tig%2F7psZsOY4%2Fkzb1%2BKetf6fAOQd9OGjSC3MokgpmYo%3D",
                                        "storeID": "1",
                                        "gameID": "154911",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "2004",
                                        "steamAppID": "436320",
                                        "releaseDate": 1506902400,
                                        "lastChange": 1700595978,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/436320/capsule_sm_120.jpg?t=1688151692"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Not Found | CheapShark</title>\n<meta name=\"description\" content=\"404 Page Not Found!\" />\n<meta name=\"robots\" content=\"noindex\">\n\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta name=\"keywords\" content=\"game,deals,steam,digital,downloads,pc,sales,compare,prices,search,gamersgate,greenmangaming,gog\">\n<meta property=\"og:title\" ..."
                            }
                        }
                    }
                }
            }
        },
        "/api/1.0/stores": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "storeID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "upperPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "AAA",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
[...]
