{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Brewery DB API",
        "description": "**API Description** - The 'Open Brewery DB API' is a database-driven API that provides information about breweries worldwide.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Open Brewery DB API Contact",
            "url": "",
            "email": "info@openbrewerydb.org"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.openbrewerydb.org",
            "description": "Production Server of the Open Brewery DB API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.openbrewerydb.org/documentation",
        "description": "Find more about the Open Brewery DB API here:"
    },
    "paths": {
        "/breweries": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Texas": {
                                "value": "Texas"
                            },
                            "California": {
                                "value": "California"
                            },
                            "california": {
                                "value": "california"
                            },
                            "new_york": {
                                "value": "new_york"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Austin": {
                                "value": "Austin"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "Houston": {
                                "value": "Houston"
                            },
                            "Dallas": {
                                "value": "Dallas"
                            },
                            "Denver": {
                                "value": "Denver"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "los_angeles": {
                                "value": "los_angeles"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "XYZ": {
                                "value": "XYZ"
                            },
                            "ABC": {
                                "value": "ABC"
                            },
                            "stone": {
                                "value": "stone"
                            },
                            "Hopscotch+Brewery": {
                                "value": "Hopscotch+Brewery"
                            },
                            "Hoppy": {
                                "value": "Hoppy"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "outdoor_seating": {
                                "value": "outdoor_seating"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "by_sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Main+Street": {
                                "value": "Main+Street"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "by_tags",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94102": {
                                "value": "94102"
                            },
                            "78701": {
                                "value": "78701"
                            },
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "city": {
                                "value": "city"
                            },
                            "-state": {
                                "value": "-state"
                            },
                            "-brewery_type": {
                                "value": "-brewery_type"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries"
                                },
                                "example": [
                                    {
                                        "id": "9c5a66c8-cc13-416f-a5d9-0a769c87d318",
                                        "name": "(512) Brewing Co",
                                        "brewery_type": "micro",
                                        "address_1": "407 Radam Ln Ste F200",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78745-1197",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5129211545",
                                        "website_url": "http://www.512brewing.com",
                                        "state": "Texas",
                                        "street": "407 Radam Ln Ste F200"
                                    },
                                    {
                                        "id": "760e8395-f2a2-4161-9bf1-c72ed1aa6ae3",
                                        "name": "4th Tap Brewing Cooperative",
                                        "brewery_type": "micro",
                                        "address_1": "10615 Metric Blvd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78758-4520",
                                        "country": "United States",
                                        "longitude": "-97.7118913",
                                        "latitude": "30.3852024",
                                        "phone": "5129089817",
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": "10615 Metric Blvd"
                                    },
                                    {
                                        "id": "9ff5f718-dee7-4e69-b79c-6250de87e840",
                                        "name": "Adelbert's Brewery LLC",
                                        "brewery_type": "micro",
                                        "address_1": "2314 Rutland Dr Ste 100",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78758-5273",
                                        "country": "United States",
                                        "longitude": "-97.7201589",
                                        "latitude": "30.3826286",
                                        "phone": "5126621462",
                                        "website_url": "http://www.adelbertsbeer.com",
                                        "state": "Texas",
                                        "street": "2314 Rutland Dr Ste 100"
                                    },
                                    {
                                        "id": "9a280fbb-adee-484a-876b-50e71235a711",
                                        "name": "Austin Beerworks",
                                        "brewery_type": "regional",
                                        "address_1": "3001 Industrial Ter",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78758-7609",
                                        "country": "United States",
                                        "longitude": "-97.72984444",
                                        "latitude": "30.3795705",
                                        "phone": "5128212494",
                                        "website_url": "http://www.austinbeerworks.com",
                                        "state": "Texas",
                                        "street": "3001 Industrial Ter"
                                    },
                                    {
                                        "id": "d605f25e-f132-4c42-94cb-0ec7fc4fe50c",
                                        "name": "Barrel Assembly",
                                        "brewery_type": "planning",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78751-3019",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "15124236579",
                                        "website_url": "http://www.barrelassembly.com",
                                        "state": "Texas",
                                        "street": null
                                    },
                                    {
                                        "id": "a0fe534d-c9f1-4232-88cd-b918d16952d8",
                                        "name": "Batch Craft Beer and Kolaches",
                                        "brewery_type": "planning",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78723",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5124013025",
                                        "website_url": "http://www.batchatx.com",
                                        "state": "Texas",
                                        "street": null
                                    },
                                    {
                                        "id": "3a255fa1-c05a-42ce-ad91-181fbe91473d",
                                        "name": "Black Star Co-op",
                                        "brewery_type": "brewpub",
                                        "address_1": "7020 Easy Wind Dr Ste 100",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78752-2373",
                                        "country": "United States",
                                        "longitude": "-97.718977",
                                        "latitude": "30.3383262",
                                        "phone": "5124522337",
                                        "website_url": "http://www.blackstar.coop",
                                        "state": "Texas",
                                        "street": "7020 Easy Wind Dr Ste 100"
                                    },
                                    {
                                        "id": "5c4c95ae-4128-4510-b2c7-2a7c483de5a2",
                                        "name": "Blue Owl Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "2400 E Cesar Chavez St Ste 300",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-4638",
                                        "country": "United States",
                                        "longitude": "-97.7189581",
                                        "latitude": "30.2545583",
                                        "phone": "5125931262",
                                        "website_url": "http://www.blueowlbrewing.com",
                                        "state": "Texas",
                                        "street": "2400 E Cesar Chavez St Ste 300"
                                    },
                                    {
                                        "id": "0c7d6d42-ad91-4e1c-8556-c1c1ac8617ae",
                                        "name": "Bnaf, LLC",
                                        "brewery_type": "planning",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78727-7602",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": null,
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": null
                                    },
                                    {
                                        "id": "1e5fd874-e6fa-4189-ad30-a6aab5e2ec7b",
                                        "name": "Celis Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "10001 Metic Blvd.",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78758",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5125242377",
                                        "website_url": "http://www.celisbeers.com",
                                        "state": "Texas",
                                        "street": "10001 Metic Blvd."
                                    },
                                    {
                                        "id": "729fb6cc-0d37-4179-81fe-73a18e67b667",
                                        "name": "Central Machine Works",
                                        "brewery_type": "micro",
                                        "address_1": "4824 E Cesar Chavez St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-5135",
                                        "country": "United States",
                                        "longitude": "-97.7037665",
                                        "latitude": "30.2520225",
                                        "phone": "512-220-2340",
                                        "website_url": "http://cmwbrewery.com/",
                                        "state": "Texas",
                                        "street": "4824 E Cesar Chavez St"
                                    },
                                    {
                                        "id": "b9ff8168-abfc-429d-b6d4-8322c671a96d",
                                        "name": "Circle Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "2340 W Braker Ln Ste B",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78758-4542",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5128147599",
                                        "website_url": "http://www.circlebrewing.com",
                                        "state": "Texas",
                                        "street": "2340 W Braker Ln Ste B"
                                    },
                                    {
                                        "id": "e4895f5c-e308-4d17-893f-2f86bb50868d",
                                        "name": "Destination Brewing Company",
                                        "brewery_type": "contract",
                                        "address_1": "2708 Lawrence Drive",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78734",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5129659858",
                                        "website_url": "http://www.destinationbrewing.co",
                                        "state": "Texas",
                                        "street": "2708 Lawrence Drive"
                                    },
                                    {
                                        "id": "9e3d79b0-5411-425d-9ead-e86abeb58c98",
                                        "name": "Draught House Pub and Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "4112 Medical Pkwy Ste 100",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78756-3715",
                                        "country": "United States",
                                        "longitude": "-97.7428611",
                                        "latitude": "30.3110713",
                                        "phone": "5124526258",
                                        "website_url": "http://www.draughthouse.com",
                                        "state": "Texas",
                                        "street": "4112 Medical Pkwy Ste 100"
                                    },
                                    {
                                        "id": "7095f8fc-bb6c-4bd3-88e2-b4900e0ceee0",
                                        "name": "Flying Man Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "2400 Patterson Industrial",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78660",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5129104099",
                                        "website_url": "http://www.flyingmanbrewing.com",
                                        "state": "Texas",
                                        "street": "2400 Patterson Industrial"
                                    },
                                    {
                                        "id": "b73eb538-fd72-4c98-8ea2-b20b60abfb21",
                                        "name": "Friends and Allies Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "979 Springdale Rd Ste 124",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-3753",
                                        "country": "United States",
                                        "longitude": "-97.6961854",
                                        "latitude": "30.2628616",
                                        "phone": null,
                                        "website_url": "http://www.friendsandallies.beer",
                                        "state": "Texas",
                                        "street": "979 Springdale Rd Ste 124"
                                    },
                                    {
                                        "id": "bfe40849-06b8-42b7-82be-fa81af4f221f",
                                        "name": "Frontyard Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "1607 Cuernavaca Dr North Unit #202",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78733",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "8503227498",
                                        "website_url": "http://www.frontyardbrewing.com",
                                        "state": "Texas",
                                        "street": "1607 Cuernavaca Dr North Unit #202"
                                    },
                                    {
                                        "id": "479ee657-8907-4983-9ec4-8d7f1372c69e",
                                        "name": "Hi Sign Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "1201 Old Bastrop Hwy Bldg A",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78742-2600",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5123825264",
                                        "website_url": "http://www.hisignbrewing.com",
                                        "state": "Texas",
                                        "street": "1201 Old Bastrop Hwy Bldg A"
                                    },
                                    {
                                        "id": "3f966d4c-cd26-463b-81b0-f30923649fa1",
                                        "name": "Hold Out Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "1208 W 4th St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78703-5203",
                                        "country": "United States",
                                        "longitude": "-97.7611333",
                                        "latitude": "30.2713864",
                                        "phone": "2103165572",
                                        "website_url": "http://www.holdoutbrewing.com",
                                        "state": "Texas",
                                        "street": "1208 W 4th St"
                                    },
                                    {
                                        "id": "d357d621-bbbc-4007-a5a3-b9bf6fb5f176",
                                        "name": "Hopped And Brewed",
                                        "brewery_type": "planning",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78681-7333",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5129225879",
                                        "website_url": "http://Hoppedandbrewed@gmail.com",
                                        "state": "Texas",
                                        "street": null
                                    },
                                    {
                                        "id": "de52f2b1-2821-4958-937c-37296e25fcf2",
                                        "name": "Hops & Grain Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "507 Calles St Ste 101",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-3954",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5129142467",
                                        "website_url": "http://www.hopsandgrain.com",
                                        "state": "Texas",
                                        "street": "507 Calles St Ste 101"
                                    },
                                    {
                                        "id": "17e75f2d-a365-4ad0-99a7-4e5b4ca3088c",
                                        "name": "Independence Brewing",
                                        "brewery_type": "regional",
                                        "address_1": "3913 Todd Ln Ste 607",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78744-1061",
                                        "country": "United States",
                                        "longitude": "-97.7361012",
                                        "latitude": "30.2111313",
                                        "phone": "5127070099",
                                        "website_url": "http://www.independencebrewing.com",
                                        "state": "Texas",
                                        "street": "3913 Todd Ln Ste 607"
                                    },
                                    {
                                        "id": "93d9f4fb-7f29-4f3b-bac7-c9e9cca9600e",
                                        "name": "Infamous Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "4602 Weletka Dr",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78734-1829",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5124878786",
                                        "website_url": "http://www.infamousbrewing.com",
                                        "state": "Texas",
                                        "street": "4602 Weletka Dr"
                                    },
                                    {
                                        "id": "e2139f79-90cb-4ca3-9f42-029569204f91",
                                        "name": "Jester King Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "13187 Fitzhugh Rd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78736-6510",
                                        "country": "United States",
                                        "longitude": "-98.0824692",
                                        "latitude": "30.2547264",
                                        "phone": "5125375100",
                                        "website_url": "http://www.jesterkingbrewery.com",
                                        "state": "Texas",
                                        "street": "13187 Fitzhugh Rd"
                                    },
                                    {
                                        "id": "940ff56d-c454-425a-9de1-ceda447405af",
                                        "name": "Last Stand Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "12345 Pauls Valley Rd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78737-9615",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5123733629",
                                        "website_url": "http://www.laststandbrewing.com",
                                        "state": "Texas",
                                        "street": "12345 Pauls Valley Rd"
                                    },
                                    {
                                        "id": "fb886548-908a-4589-9c34-aa5bebe7a114",
                                        "name": "Lazarus Brewing Company",
                                        "brewery_type": "brewpub",
                                        "address_1": "1902 E 6th St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-3402",
                                        "country": "United States",
                                        "longitude": "-97.7220388",
                                        "latitude": "30.2616838",
                                        "phone": null,
                                        "website_url": "http://www.lazarusbrewing.com",
                                        "state": "Texas",
                                        "street": "1902 E 6th St"
                                    },
                                    {
                                        "id": "4898f503-7bb3-494f-98dc-921d032912ef",
                                        "name": "Nomadic Beerworks",
                                        "brewery_type": "micro",
                                        "address_1": "3804 Woodbury Dr Suita A",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78704",
                                        "country": "United States",
                                        "longitude": "-97.7627464",
                                        "latitude": "30.2244374",
                                        "phone": null,
                                        "website_url": "http://www.nomadicbeerworks.com",
                                        "state": "Texas",
                                        "street": "3804 Woodbury Dr Suita A"
                                    },
                                    {
                                        "id": "a5719005-b4e5-49c8-95ed-47f6c6fcec05",
                                        "name": "North By Northwest Restaurant and Brewery - North Capital",
                                        "brewery_type": "brewpub",
                                        "address_1": "10010 N Capital of Texas Hwy",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78759-5837",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5124676969",
                                        "website_url": "http://www.nxnwbrew.com",
                                        "state": "Texas",
                                        "street": "10010 N Capital of Texas Hwy"
                                    },
                                    {
                                        "id": "6232a3d2-740c-4c51-b69f-234f44a6d003",
                                        "name": "North By Northwest Restaurant and Brewery - Slaughter",
                                        "brewery_type": "brewpub",
                                        "address_1": "5701 W Slaughter Ln Bld D",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78759-5837",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5124676969",
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": "5701 W Slaughter Ln Bld D"
                                    },
                                    {
                                        "id": "5398673e-abb7-4855-ab70-276b95e0147f",
                                        "name": "Oasis Texas Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "6548 Comanche Trl Ste 301",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78732-1210",
                                        "country": "United States",
                                        "longitude": "-98.151206",
                                        "latitude": "30.043267",
                                        "phone": "5122849407",
                                        "website_url": "http://www.otxbc.com",
                                        "state": "Texas",
                                        "street": "6548 Comanche Trl Ste 301"
                                    },
                                    {
                                        "id": "c922d09e-1c59-44c2-906e-1cd7493b5867",
                                        "name": "Oddwood Ales",
                                        "brewery_type": "brewpub",
                                        "address_1": "3108 Manor Rd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78723-5719",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": null,
                                        "website_url": "http://www.oddwoodales.com",
                                        "state": "Texas",
                                        "street": "3108 Manor Rd"
                                    },
                                    {
                                        "id": "2f6072fd-ecfc-4842-ad47-8d39c0eb2d20",
                                        "name": "Orf Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "4700 Burleson Rd Ste F",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78744-1230",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5124285217",
                                        "website_url": "http://www.orfbrewing.com",
                                        "state": "Texas",
                                        "street": "4700 Burleson Rd Ste F"
                                    },
                                    {
                                        "id": "d128cc62-6893-4c15-bdde-6d23b55822cc",
                                        "name": "Oskar Blues Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "10420 Metric Blvd # 150",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78758-4939",
                                        "country": "United States",
                                        "longitude": "-97.71470248",
                                        "latitude": "30.3839295",
                                        "phone": "5122437054",
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": "10420 Metric Blvd # 150"
                                    },
                                    {
                                        "id": "590c1861-3175-4f4f-8b2d-051d2db81294",
                                        "name": "Pinthouse Pizza North",
                                        "brewery_type": "brewpub",
                                        "address_1": "4729 Burnet Rd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78756-2826",
                                        "country": "United States",
                                        "longitude": "-97.7390631",
                                        "latitude": "30.3187523",
                                        "phone": null,
                                        "website_url": "http://www.pinthousepizza.com",
                                        "state": "Texas",
                                        "street": "4729 Burnet Rd"
                                    },
                                    {
                                        "id": "9a8b0b19-2a32-4f4e-97c6-890cb9bf42b9",
                                        "name": "Pinthouse Pizza South",
                                        "brewery_type": "brewpub",
                                        "address_1": "4236 S Lamar Blvd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78704-7905",
                                        "country": "United States",
                                        "longitude": "-97.7958917",
                                        "latitude": "30.2361072",
                                        "phone": "5125685300",
                                        "website_url": "http://www.pinthousepizza.com",
                                        "state": "Texas",
                                        "street": "4236 S Lamar Blvd"
                                    },
                                    {
                                        "id": "581f4005-1088-4fdf-b2f2-dd71151c88f6",
                                        "name": "Resignation Brewery",
                                        "brewery_type": "contract",
                                        "address_1": "98 San Jacinto Blvd Ste 160",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78701-4640",
                                        "country": "United States",
                                        "longitude": "-97.742323",
                                        "latitude": "30.262322",
                                        "phone": "4254833232",
                                        "website_url": "http://www.kccobrewery.com",
                                        "state": "Texas",
                                        "street": "98 San Jacinto Blvd Ste 160"
                                    },
                                    {
                                        "id": "5f426984-68f1-4f2b-9bed-97eba2b6809e",
                                        "name": "Skull Mechanix Brewing",
                                        "brewery_type": "micro",
                                        "address_1": "1005 East St Elmo Rd Bldg 2",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78745",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "7373001002",
                                        "website_url": "http://www.skullmechanix.com",
                                        "state": "Texas",
                                        "street": "1005 East St Elmo Rd Bldg 2"
                                    },
                                    {
                                        "id": "846c74cb-9739-4f97-b2b3-631145e7dae9",
                                        "name": "South Austin Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "5701 W Slaughter Ln Bldg A130",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78749-6532",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5123542337",
                                        "website_url": "http://www.southaustinbrewery.com",
                                        "state": "Texas",
                                        "street": "5701 W Slaughter Ln Bldg A130"
                                    },
                                    {
                                        "id": "6c544f75-7fa2-4229-9a63-765c5e756af4",
                                        "name": "Southern Heights Brewing Co LLC",
                                        "brewery_type": "micro",
                                        "address_1": "6014 Techni Center Dr Ste 2-101",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78721-2349",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5126506901",
                                        "website_url": "http://www.southernheightsbrewing.com",
                                        "state": "Texas",
                                        "street": "6014 Techni Center Dr Ste 2-101"
                                    },
                                    {
                                        "id": "34998893-151f-45cd-8868-39ece0153f71",
                                        "name": "St. Elmo Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "440 E Saint Elmo Rd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78745-1281",
                                        "country": "United States",
                                        "longitude": "-97.7611749",
                                        "latitude": "30.2174321",
                                        "phone": "7373001965",
                                        "website_url": "http://www.stelmobrewing.com",
                                        "state": "Texas",
                                        "street": "440 E Saint Elmo Rd"
                                    },
                                    {
                                        "id": "977bad75-df98-4e2e-ad5a-ac2c6c22d120",
                                        "name": "Stache Rabbit Brewing Company",
                                        "brewery_type": "planning",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78727-5907",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": null,
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": null
                                    },
                                    {
                                        "id": "e16701b2-c0f1-4a14-934f-7e51fa99cc3c",
                                        "name": "Strange Land Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "5904 Bee Cave Road",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78746",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5122762295",
                                        "website_url": "http://www.strangelandbrewery.com",
                                        "state": "Texas",
                                        "street": "5904 Bee Cave Road"
                                    },
                                    {
                                        "id": "89edb92f-550b-4b68-a503-b583d3dcba8f",
                                        "name": "The Austin Beer Garden Brewing Co",
                                        "brewery_type": "brewpub",
                                        "address_1": "1305 W Oltorf St Ste B",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78704-5362",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": null,
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": "1305 W Oltorf St Ste B"
                                    },
                                    {
                                        "id": "3e4ab49b-b18d-4c12-bbe7-81c213b4b44f",
                                        "name": "The Brewer's Table",
                                        "brewery_type": "micro",
                                        "address_1": "4715 E 5th St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-5033",
                                        "country": "United States",
                                        "longitude": "-97.7043433",
                                        "latitude": "30.2529441",
                                        "phone": "5126199569",
                                        "website_url": "http://www.caskandcoal.com",
                                        "state": "Texas",
                                        "street": "4715 E 5th St"
                                    },
                                    {
                                        "id": "dcea5b62-4138-4d5e-8789-0cfbf48bb21d",
                                        "name": "The Brewtorium",
                                        "brewery_type": "brewpub",
                                        "address_1": "6015 Dillard Cir Ste A",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78752-4440",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5125240323",
                                        "website_url": "http://www.thebrewtorium.com",
                                        "state": "Texas",
                                        "street": "6015 Dillard Cir Ste A"
                                    },
                                    {
                                        "id": "04f0b99c-2b76-48a7-8314-bfeb665269c5",
                                        "name": "Thirsty Planet Brewing Co",
                                        "brewery_type": "micro",
                                        "address_1": "8201 S Congress Ave",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78745-7305",
                                        "country": "United States",
                                        "longitude": "-97.7487141",
                                        "latitude": "30.2521655",
                                        "phone": "5128260948",
                                        "website_url": "http://www.thirstyplanet.net",
                                        "state": "Texas",
                                        "street": "8201 S Congress Ave"
                                    },
                                    {
                                        "id": "8b8dec5f-62d9-4970-8425-446c9f72026f",
                                        "name": "Two Knights Brewing",
                                        "brewery_type": "planning",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78701-3720",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "5124176561",
                                        "website_url": null,
                                        "state": "Texas",
                                        "street": null
                                    },
                                    {
                                        "id": "d9a65f61-f901-40fe-85d1-620af49e72fb",
                                        "name": "Uncle Billy's Brewery",
                                        "brewery_type": "micro",
                                        "address_1": "1530 Barton Springs Rd",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78704-1013",
                                        "country": "United States",
                                        "longitude": "-97.76126939",
                                        "latitude": "30.262109",
                                        "phone": "5124760100",
                                        "website_url": "http://www.unclebillys.com",
                                        "state": "Texas",
                                        "street": "1530 Barton Springs Rd"
                                    },
                                    {
                                        "id": "8a0343e4-8195-47f0-927d-c6cc751fe88e",
                                        "name": "Zilker Brewing Co",
                                        "brewery_type": "micro",
                                        "address_1": "1701 E 6th St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Austin",
                                        "state_province": "Texas",
                                        "postal_code": "78702-2701",
                                        "country": "United States",
                                        "longitude": "-97.7245745",
                                        "latitude": "30.2621507",
                                        "phone": "5127654946",
                                        "website_url": "http://www.zilkerbeer.com",
                                        "state": "Texas",
                                        "street": "1701 E 6th St"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Texas": {
                                "value": "Texas"
                            },
                            "California": {
                                "value": "California"
                            },
                            "california": {
                                "value": "california"
                            },
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Austin": {
                                "value": "Austin"
                            },
                            "Portland": {
                                "value": "Portland"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Hops": {
                                "value": "Hops"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "Stone+Brewery": {
                                "value": "Stone+Brewery"
                            },
                            "Stone": {
                                "value": "Stone"
                            },
                            "Sierra": {
                                "value": "Sierra"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "contract": {
                                "value": "contract"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "dog_friendly": {
                                "value": "dog_friendly"
                            },
                            "outdoor_seating": {
                                "value": "outdoor_seating"
                            },
                            "food_service": {
                                "value": "food_service"
                            },
                            "patio": {
                                "value": "patio"
                            },
                            "organic": {
                                "value": "organic"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "78701": {
                                "value": "78701"
                            },
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Main+Street": {
                                "value": "Main+Street"
                            },
                            "Main+St": {
                                "value": "Main+St"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "555-123-4567": {
                                "value": "555-123-4567"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "www.example.com": {
                                "value": "www.example.com"
                            }
                        }
                    },
                    {
                        "name": "by_sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "type": {
                                "value": "type"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_search"
                                },
                                "example": []
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/random": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Texas": {
                                "value": "Texas"
                            },
                            "California": {
                                "value": "California"
                            },
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Austin": {
                                "value": "Austin"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "New+York": {
                                "value": "New+York"
                            },
                            "Chicago": {
                                "value": "Chicago"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Golden+Gate+Brewery": {
                                "value": "Golden+Gate+Brewery"
                            },
                            "abc": {
                                "value": "abc"
                            },
                            "Stone+Brewery": {
                                "value": "Stone+Brewery"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "xyz": {
                                "value": "xyz"
                            },
                            "patio": {
                                "value": "patio"
                            },
                            "food": {
                                "value": "food"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94107": {
                                "value": "94107"
                            },
                            "12345": {
                                "value": "12345"
                            },
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "by_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "by_per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "by_sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "by_order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Main+Street": {
                                "value": "Main+Street"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "555-1234": {
                                "value": "555-1234"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "by_dist",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "-state": {
                                "value": "-state"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_random"
                                },
                                "example": [
                                    {
                                        "id": "288a1501-5129-46e7-8c3e-1692cb0939b7",
                                        "name": "Prescott Brewing Co",
                                        "brewery_type": "brewpub",
                                        "address_1": "130 W Gurley St Ste A",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Prescott",
                                        "state_province": "Arizona",
                                        "postal_code": "86301-3603",
                                        "country": "United States",
                                        "longitude": null,
                                        "latitude": null,
                                        "phone": "9287712795",
                                        "website_url": "http://www.prescottbrewingcompany.com",
                                        "state": "Arizona",
                                        "street": "130 W Gurley St Ste A"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/autocomplete": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Texas": {
                                "value": "Texas"
                            },
                            "CA": {
                                "value": "CA"
                            },
                            "Oregon": {
                                "value": "Oregon"
                            },
                            "California": {
                                "value": "California"
                            },
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Austin": {
                                "value": "Austin"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "Portland": {
                                "value": "Portland"
                            },
                            "Seattle": {
                                "value": "Seattle"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "beer": {
                                "value": "beer"
                            },
                            "IPA": {
                                "value": "IPA"
                            },
                            "ale": {
                                "value": "ale"
                            },
                            "ipa": {
                                "value": "ipa"
                            },
                            "stout": {
                                "value": "stout"
                            },
                            "pilsner": {
                                "value": "pilsner"
                            },
                            "lager": {
                                "value": "lager"
                            },
                            "wheat": {
                                "value": "wheat"
                            },
                            "porter": {
                                "value": "porter"
                            },
                            "saison": {
                                "value": "saison"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Seattle": {
                                "value": "Seattle"
                            },
                            "San+Francisco": {
[...]
