{
    "openapi": "3.1.0",
    "info": {
        "title": "Currency Exchange API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average GET route discovery rate of 85.05% and query parameter discovery rate of 81.05%. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - A tool for converting one currency to another at current exchange rates.",
        "termsOfService": "",
        "contact": {
            "name": "Currency Exchange API Contact",
            "url": "",
            "email": "contact@currencyexchangeapi.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.exchangerate-api.com",
            "description": "Production Server of the Currency Exchange API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.exchangerate-api.com",
        "description": "Find more about the Currency Exchange API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/latest": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR,GBP": {
                                "value": "EUR,GBP"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-07-15": {
                                "value": "2021-07-15"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "buy": {
                                "value": "buy"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "timeframe",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1h": {
                                "value": "1h"
                            }
                        }
                    },
                    {
                        "name": "base_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "JPY": {
                                "value": "JPY"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_latest"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/historical": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-15": {
                                "value": "2021-10-15"
                            },
                            "2021-05-15": {
                                "value": "2021-05-15"
                            },
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "base_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "date_from",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-01": {
                                "value": "2021-10-01"
                            }
                        }
                    },
                    {
                        "name": "date_to",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-31": {
                                "value": "2021-10-31"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ECB": {
                                "value": "ECB"
                            }
                        }
                    },
                    {
                        "name": "provider",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "OANDA": {
                                "value": "OANDA"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "show_alternative_rates",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_historical"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/convert": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "from",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "to",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            },
                            "CAD": {
                                "value": "CAD"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "base_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "$": {
                                "value": "$"
                            }
                        }
                    },
                    {
                        "name": "rate_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "mid": {
                                "value": "mid"
                            }
                        }
                    },
                    {
                        "name": "api_key",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123456": {
                                "value": "123456"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en_US": {
                                "value": "en_US"
                            },
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "CAD": {
                                "value": "CAD"
                            }
                        }
                    },
                    {
                        "name": "target",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "API": {
                                "value": "API"
                            }
                        }
                    },
                    {
                        "name": "key",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123456": {
                                "value": "123456"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "mode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "live": {
                                "value": "live"
                            }
                        }
                    },
                    {
                        "name": "decimal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "4": {
                                "value": "4"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "timezone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PST": {
                                "value": "PST"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_convert"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/rates": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "from",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "to",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "JPY": {
                                "value": "JPY"
                            }
                        }
                    },
                    {
                        "name": "base_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "AUD": {
                                "value": "AUD"
                            }
                        }
                    },
                    {
                        "name": "target_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "CAD": {
                                "value": "CAD"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-12-31": {
                                "value": "2021-12-31"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_rates"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/currencies": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_currencies"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/chart": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_chart"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_news"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/calculator": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "target_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "buy": {
                                "value": "buy"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bank": {
                                "value": "bank"
                            }
                        }
                    },
                    {
                        "name": "fee",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "0.5": {
                                "value": "0.5"
                            }
                        }
                    },
                    {
                        "name": "user_id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123": {
                                "value": "123"
                            }
                        }
                    },
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "NYC": {
                                "value": "NYC"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_calculator"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/compare": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "GBP": {
                                "value": "GBP"
                            },
                            "AUD": {
                                "value": "AUD"
                            }
                        }
                    },
                    {
                        "name": "target",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            },
                            "JPY": {
                                "value": "JPY"
                            },
                            "CAD": {
                                "value": "CAD"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "2022-02-15": {
                                "value": "2022-02-15"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_compare"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/forecast": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "target",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "daily": {
                                "value": "daily"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-12-31": {
                                "value": "2021-12-31"
                            }
                        }
                    },
                    {
                        "name": "timeframe",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1M": {
                                "value": "1M"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "precision",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "4": {
                                "value": "4"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_forecast"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "from",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "to",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "JPY": {
                                "value": "JPY"
                            }
                        }
                    },
                    {
                        "name": "rate",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "1.5": {
                                "value": "1.5"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "API": {
                                "value": "API"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_id"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/exchange": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "target",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_exchange"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/rate": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_rate"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/history": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-12-31": {
                                "value": "2021-12-31"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "daily": {
                                "value": "daily"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "show_details",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "timezone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PST": {
                                "value": "PST"
                            }
                        }
                    },
                    {
                        "name": "filter",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "high": {
                                "value": "high"
                            }
                        }
                    },
                    {
                        "name": "precision",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "4": {
                                "value": "4"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_history"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/list": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_list"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/calculate": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_calculate"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/trend": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_trend"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/analyze": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "target",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "from_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "to_currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "JPY": {
                                "value": "JPY"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "$": {
                                "value": "$"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en_US": {
                                "value": "en_US"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "precision",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "4": {
                                "value": "4"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_analyze"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/time_series": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbols",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "startdate",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "enddate",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-12-31": {
                                "value": "2021-12-31"
                            }
                        }
                    },
                    {
                        "name": "amount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1h": {
                                "value": "1h"
                            }
                        }
                    },
                    {
                        "name": "from",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "to",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_time_series"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/statistics": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
[...]
