{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - The CoinCap API is a cryptocurrency data source providing real-time information on various digital currencies.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "https://coincap.io",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "h1": {
                                "value": "h1"
                            },
                            "1d": {
                                "value": "1d"
                            },
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            },
                            "ripple": {
                                "value": "ripple"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "kraken": {
                                "value": "kraken"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "725118090865.1464415952375280",
                                            "volumeUsd24Hr": "5754834650.1600572051829435",
                                            "priceUsd": "37096.0142688014414440",
                                            "changePercent24Hr": "1.4268444272815003",
                                            "vwap24Hr": "37340.3070198590803378",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "246375368566.1435605992877114",
                                            "volumeUsd24Hr": "4034097233.1927168099083920",
                                            "priceUsd": "2048.8138916940599870",
                                            "changePercent24Hr": "0.3196537235496548",
                                            "vwap24Hr": "2070.9074219717469860",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87719631536.0853413981793883",
                                            "volumeUsd24Hr": "12390329369.2118979966145497",
                                            "priceUsd": "1.0002970291811096",
                                            "changePercent24Hr": "-0.0585088881074993",
                                            "vwap24Hr": "1.0004894478789970",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "38646487431.8033172370225252",
                                            "volumeUsd24Hr": "354428002.3135140275040205",
                                            "priceUsd": "231.6919751164021799",
                                            "changePercent24Hr": "-0.1078263491933876",
                                            "vwap24Hr": "234.8800238956027686",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "28114003761.5834017768283520",
                                            "volumeUsd24Hr": "499295304.9088845364173420",
                                            "priceUsd": "0.6191962388292468",
                                            "changePercent24Hr": "4.0417679234247240",
                                            "vwap24Hr": "0.6105945983377830",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "6",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24452468763.5389265223672520",
                                            "volumeUsd24Hr": "1000147882.7863216384531684",
                                            "priceUsd": "1.0006381712875433",
                                            "changePercent24Hr": "-0.0499376948168043",
                                            "vwap24Hr": "1.0002956015450294",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "7",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24069510800.0034732009296875",
                                            "volumeUsd24Hr": "582449440.2420023633257833",
                                            "priceUsd": "56.9195195784237854",
                                            "changePercent24Hr": "2.7595337098062295",
                                            "vwap24Hr": "57.4718947318190659",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13392651395.1050514696572296",
                                            "volumeUsd24Hr": "113038203.7802476855352517",
                                            "priceUsd": "0.3795927482677531",
                                            "changePercent24Hr": "2.4359712701885384",
                                            "vwap24Hr": "0.3809305515016835",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10691152930.7368186997509844",
                                            "volumeUsd24Hr": "164024694.7423774449662158",
                                            "priceUsd": "0.0753445315827252",
                                            "changePercent24Hr": "1.1197220964157338",
                                            "vwap24Hr": "0.0757992714736707",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8967260706.5283100129907574",
                                            "volumeUsd24Hr": "95043002.1584823687140117",
                                            "priceUsd": "0.1011784941098681",
                                            "changePercent24Hr": "0.9266975577978886",
                                            "vwap24Hr": "0.1014476781054854",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700755879855
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/exchanges": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "volume": {
                                "value": "volume"
                            },
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "kraken": {
                                "value": "kraken"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            },
                            "bitstamp": {
                                "value": "bitstamp"
                            }
                        }
                    },
                    {
                        "name": "parameter",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "value": {
                                "value": "value"
                            },
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "h1": {
                                "value": "h1"
                            },
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    },
                    {
                        "name": "slug",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kraken": {
                                "value": "kraken"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ripple": {
                                "value": "ripple"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_exchanges"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "binance",
                                            "name": "Binance",
                                            "rank": "1",
                                            "percentTotalVolume": "39.157443602731287606000000000000000000",
                                            "volumeUsd": "6069096397.8328135244260916",
                                            "tradingPairs": "828",
                                            "socket": true,
                                            "exchangeUrl": "https://www.binance.com/",
                                            "updated": 1700755903082
                                        },
                                        {
                                            "exchangeId": "gdax",
                                            "name": "Coinbase Pro",
                                            "rank": "2",
                                            "percentTotalVolume": "9.718979391762821736000000000000000000",
                                            "volumeUsd": "1506365518.0248991762539543",
                                            "tradingPairs": "218",
                                            "socket": true,
                                            "exchangeUrl": "https://pro.coinbase.com/",
                                            "updated": 1700755901517
                                        },
                                        {
                                            "exchangeId": "whitebit",
                                            "name": "WhiteBIT",
                                            "rank": "3",
                                            "percentTotalVolume": "7.800038530434563114000000000000000000",
                                            "volumeUsd": "1208944746.9628886501826270",
                                            "tradingPairs": "90",
                                            "socket": false,
                                            "exchangeUrl": "https://whitebit.com",
                                            "updated": 1700755902401
                                        },
                                        {
                                            "exchangeId": "kraken",
                                            "name": "Kraken",
                                            "rank": "4",
                                            "percentTotalVolume": "5.103833272412015338000000000000000000",
                                            "volumeUsd": "791054095.4357507371684295",
                                            "tradingPairs": "342",
                                            "socket": false,
                                            "exchangeUrl": "https://kraken.com",
                                            "updated": 1700755902660
                                        },
                                        {
                                            "exchangeId": "digifinex",
                                            "name": "DigiFinex",
                                            "rank": "5",
                                            "percentTotalVolume": "4.880601789538178895000000000000000000",
                                            "volumeUsd": "756454967.8129766603589000",
                                            "tradingPairs": "135",
                                            "socket": false,
                                            "exchangeUrl": "https://www.digifinex.com/",
                                            "updated": 1700755902573
                                        },
                                        {
                                            "exchangeId": "gate",
                                            "name": "Gate",
                                            "rank": "6",
                                            "percentTotalVolume": "4.424686428848164254000000000000000000",
                                            "volumeUsd": "685791665.5465484717932506",
                                            "tradingPairs": "1296",
                                            "socket": false,
                                            "exchangeUrl": "https://gate.io/",
                                            "updated": 1700755903074
                                        },
                                        {
                                            "exchangeId": "uniswap-v3",
                                            "name": "Uniswap (V3)",
                                            "rank": "7",
                                            "percentTotalVolume": "3.820419119591386706000000000000000000",
                                            "volumeUsd": "592134975.7190585076493184",
                                            "tradingPairs": "288",
                                            "socket": false,
                                            "exchangeUrl": "https://uniswap.org/",
                                            "updated": 1700755872575
                                        },
                                        {
                                            "exchangeId": "huobi",
                                            "name": "Huobi",
                                            "rank": "8",
                                            "percentTotalVolume": "3.645288429030260572000000000000000000",
                                            "volumeUsd": "564991093.3446645371768563",
                                            "tradingPairs": "195",
                                            "socket": true,
                                            "exchangeUrl": "https://www.hbg.com/",
                                            "updated": 1700755901241
                                        },
                                        {
                                            "exchangeId": "kucoin",
                                            "name": "Kucoin",
                                            "rank": "9",
                                            "percentTotalVolume": "2.691032708962059349000000000000000000",
                                            "volumeUsd": "417088947.0239247836350049",
                                            "tradingPairs": "623",
                                            "socket": false,
                                            "exchangeUrl": "https://www.kucoin.io/",
                                            "updated": 1700755876585
                                        },
                                        {
                                            "exchangeId": "bibox",
                                            "name": "Bibox",
                                            "rank": "10",
                                            "percentTotalVolume": "2.554384032765068135000000000000000000",
                                            "volumeUsd": "395909474.8170635912655350",
                                            "tradingPairs": "112",
                                            "socket": false,
                                            "exchangeUrl": "https://www.bibox.com",
                                            "updated": 1700755897157
                                        }
                                    ],
                                    "timestamp": 1700755970656
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "price": {
                                "value": "price"
                            },
                            "volume": {
                                "value": "volume"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "kraken": {
                                "value": "kraken"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1h": {
                                "value": "1h"
                            },
                            "1d": {
                                "value": "1d"
                            },
                            "m1": {
                                "value": "m1"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "open": {
                                "value": "open"
                            },
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "buy": {
                                "value": "buy"
                            }
                        }
                    },
                    {
                        "name": "quote",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "base",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "minPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "0.01": {
                                "value": "0.01"
                            }
                        }
                    },
                    {
                        "name": "maxPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000": {
                                "value": "1000"
                            }
                        }
                    },
                    {
                        "name": "minVolume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "maxVolume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000": {
                                "value": "10000"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            },
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ripple": {
                                "value": "ripple"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usd": {
                                "value": "usd"
                            }
                        }
                    },
                    {
                        "name": "volume>1000000",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "price<1000",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "side",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "sell": {
                                "value": "sell"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "QTUM",
                                            "baseId": "qtum",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000848000000000",
                                            "priceUsd": "3.1449407255100791",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "103",
                                            "updated": 1700755846053
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "GLM",
                                            "baseId": "golem-network-tokens",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000066500000000",
                                            "priceUsd": "0.2466256583094579",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700755853338
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "ZIL",
                                            "baseId": "zilliqa",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0000100200000000",
                                            "priceUsd": "0.0205213949591883",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "8",
                                            "updated": 1700755850308
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "4",
                                            "baseSymbol": "BBC",
                                            "baseId": "b2bcoin",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.9999999900000000",
                                            "priceUsd": "1.0003327178316808",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700755895111
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "5",
                                            "baseSymbol": "GLEEC",
                                            "baseId": "gleec",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000049800000000",
                                            "priceUsd": "0.1846910944933985",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700755869649
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "6",
                                            "baseSymbol": "BAT",
                                            "baseId": "basic-attention-token",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001059100000000",
                                            "priceUsd": "0.2169082774578474",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "106",
                                            "updated": 1700755847856
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "7",
                                            "baseSymbol": "XRP",
                                            "baseId": "xrp",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0003100100000000",
                                            "priceUsd": "0.6349139372552853",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "512",
                                            "updated": 1700755843651
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "8",
                                            "baseSymbol": "BBC",
                                            "baseId": "b2bcoin",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000279000000000",
                                            "priceUsd": "1.0347151679449435",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700755893902
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "9",
                                            "baseSymbol": "POLY",
                                            "baseId": "polymath-network",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001000000000000",
                                            "priceUsd": "0.2048043409100627",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700755856964
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "10",
                                            "baseSymbol": "LTC",
                                            "baseId": "litecoin",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "66.2300000000000000",
                                            "priceUsd": "66.2520365645125865",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "198",
                                            "updated": 1700755859990
                                        }
                                    ],
                                    "timestamp": 1700755971205
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/rates": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            },
                            "50": {
                                "value": "50"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "kraken": {
                                "value": "kraken"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            },
                            "bitstamp": {
                                "value": "bitstamp"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hour": {
                                "value": "hour"
                            },
                            "day": {
                                "value": "day"
                            },
                            "m1": {
                                "value": "m1"
                            },
                            "m5": {
                                "value": "m5"
                            },
                            "h1": {
                                "value": "h1"
                            },
                            "1d": {
                                "value": "1d"
                            },
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usd": {
                                "value": "usd"
                            },
                            "btc": {
                                "value": "btc"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            },
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "exchange",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "side",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "buy": {
                                "value": "buy"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1642387200": {
                                "value": "1642387200"
                            }
                        }
                    },
                    {
                        "name": "assetId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "quote",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ripple": {
                                "value": "ripple"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_rates"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "litecoin",
                                            "symbol": "LTC",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "68.7867057091111235"
                                        },
                                        {
                                            "id": "south-african-rand",
                                            "symbol": "ZAR",
                                            "currencySymbol": "R",
                                            "type": "fiat",
                                            "rateUsd": "0.0531217755082267"
                                        },
                                        {
                                            "id": "lebanese-pound",
                                            "symbol": "LBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "0.0000664899050095"
                                        },
                                        {
                                            "id": "guinean-franc",
                                            "symbol": "GNF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0001163383378467"
                                        },
                                        {
                                            "id": "ethereum",
                                            "symbol": "ETH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "2048.9958355179622890"
                                        },
                                        {
                                            "id": "lesotho-loti",
                                            "symbol": "LSL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0535307776812202"
                                        },
                                        {
                                            "id": "armenian-dram",
                                            "symbol": "AMD",
                                            "currencySymbol": "\u058f",
                                            "type": "fiat",
                                            "rateUsd": "0.0024835622329162"
                                        },
                                        {
                                            "id": "british-pound-sterling",
                                            "symbol": "GBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2532192068375640"
                                        },
                                        {
                                            "id": "paraguayan-guarani",
                                            "symbol": "PYG",
                                            "currencySymbol": "Gs",
                                            "type": "fiat",
                                            "rateUsd": "0.0001343148586475"
                                        },
                                        {
                                            "id": "chilean-peso",
                                            "symbol": "CLP",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0011466180500613"
                                        },
                                        {
                                            "id": "moroccan-dirham",
                                            "symbol": "MAD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0987090826175280"
                                        },
                                        {
                                            "id": "cfa-franc-beac",
                                            "symbol": "XAF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0016611980525137"
                                        },
                                        {
                                            "id": "guyanaese-dollar",
                                            "symbol": "GYD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0047767907659552"
                                        },
                                        {
                                            "id": "guernsey-pound",
                                            "symbol": "GGP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2532192068375640"
                                        },
                                        {
                                            "id": "algerian-dinar",
                                            "symbol": "DZD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0074376065139629"
                                        },
                                        {
                                            "id": "laotian-kip",
                                            "symbol": "LAK",
                                            "currencySymbol": "\u20ad",
                                            "type": "fiat",
                                            "rateUsd": "0.0000482180325860"
                                        },
                                        {
                                            "id": "hungarian-forint",
                                            "symbol": "HUF",
                                            "currencySymbol": "Ft",
                                            "type": "fiat",
                                            "rateUsd": "0.0028719542802800"
                                        },
                                        {
                                            "id": "botswanan-pula",
                                            "symbol": "BWP",
                                            "currencySymbol": "P",
                                            "type": "fiat",
                                            "rateUsd": "0.0737013526851467"
                                        },
                                        {
                                            "id": "tanzanian-shilling",
                                            "symbol": "TZS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003992015968064"
                                        },
                                        {
                                            "id": "new-taiwan-dollar",
                                            "symbol": "TWD",
                                            "currencySymbol": "NT$",
                                            "type": "fiat",
                                            "rateUsd": "0.0316195525321080"
                                        },
                                        {
                                            "id": "chilean-unit-of-account-(uf)",
                                            "symbol": "CLF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "31.6365592078205600"
                                        },
                                        {
                                            "id": "brunei-dollar",
                                            "symbol": "BND",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7457305064181295"
                                        },
                                        {
                                            "id": "macedonian-denar",
                                            "symbol": "MKD",
                                            "currencySymbol": "\u0434\u0435\u043d",
                                            "type": "fiat",
                                            "rateUsd": "0.0177633709733835"
                                        },
                                        {
                                            "id": "iraqi-dinar",
                                            "symbol": "IQD",
                                            "currencySymbol": "\u062f.\u0639",
                                            "type": "fiat",
                                            "rateUsd": "0.0007628894327409"
                                        },
                                        {
                                            "id": "moldovan-leu",
                                            "symbol": "MDL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0560487628720888"
                                        },
                                        {
                                            "id": "danish-krone",
                                            "symbol": "DKK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.1461494729119259"
                                        },
                                        {
                                            "id": "kuwaiti-dinar",
                                            "symbol": "KWD",
                                            "currencySymbol": "\u0643",
                                            "type": "fiat",
                                            "rateUsd": "3.2436359861950850"
                                        },
                                        {
                                            "id": "mongolian-tugrik",
                                            "symbol": "MNT",
                                            "currencySymbol": "\u20ae",
                                            "type": "fiat",
                                            "rateUsd": "0.0002898550724638"
                                        },
                                        {
                                            "id": "afghan-afghani",
                                            "symbol": "AFN",
                                            "currencySymbol": "\u060b ",
                                            "type": "fiat",
                                            "rateUsd": "0.0143959351176932"
                                        },
                                        {
                                            "id": "sri-lankan-rupee",
                                            "symbol": "LKR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0030398248117347"
                                        },
                                        {
                                            "id": "somali-shilling",
                                            "symbol": "SOS",
                                            "currencySymbol": "S",
                                            "type": "fiat",
                                            "rateUsd": "0.0017485805700507"
                                        },
                                        {
                                            "id": "bhutanese-ngultrum",
                                            "symbol": "BTN",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0119974376832391"
                                        },
                                        {
                                            "id": "silver-ounce",
                                            "symbol": "XAG",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "23.7554518762055900"
                                        },
                                        {
                                            "id": "kyrgystani-som",
                                            "symbol": "KGS",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0112590297418530"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "symbol": "DOGE",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0753458294716296"
                                        },
                                        {
                                            "id": "persistence",
                                            "symbol": "XPRT",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.2653045475303637"
                                        },
                                        {
                                            "id": "macanese-pataca",
                                            "symbol": "MOP",
                                            "currencySymbol": "MOP$",
                                            "type": "fiat",
                                            "rateUsd": "0.1244245210371381"
                                        },
                                        {
                                            "id": "burundian-franc",
                                            "symbol": "BIF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003515015448264"
                                        },
                                        {
                                            "id": "ethiopian-birr",
                                            "symbol": "ETB",
                                            "currencySymbol": "Br",
                                            "type": "fiat",
                                            "rateUsd": "0.0179530596430084"
                                        },
                                        {
                                            "id": "mozambican-metical",
                                            "symbol": "MZN",
                                            "currencySymbol": "MT",
                                            "type": "fiat",
                                            "rateUsd": "0.0156617068807877"
                                        },
                                        {
                                            "id": "crypto-com-coin",
                                            "symbol": "CRO",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0919179311429380"
                                        },
                                        {
                                            "id": "pakistani-rupee",
                                            "symbol": "PKR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0035437931234218"
                                        },
                                        {
                                            "id": "sentinel",
                                            "symbol": "DVPN",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0005018383457316"
                                        },
                                        {
                                            "id": "kazakhstani-tenge",
                                            "symbol": "KZT",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0021655781287142"
                                        },
                                        {
                                            "id": "jersey-pound",
                                            "symbol": "JEP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2532192068375640"
                                        },
                                        {
                                            "id": "venezuelan-bol\u00edvar-soberano",
                                            "symbol": "VES",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0282431543536399"
                                        },
                                        {
                                            "id": "ukrainian-hryvnia",
                                            "symbol": "UAH",
                                            "currencySymbol": "\u20b4",
                                            "type": "fiat",
                                            "rateUsd": "0.0277569531236967"
                                        },
                                        {
                                            "id": "canadian-dollar",
                                            "symbol": "CAD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7296410093270010"
                                        },
                                        {
                                            "id": "croatian-kuna",
                                            "symbol": "HRK",
                                            "currencySymbol": "kn",
                                            "type": "fiat",
                                            "rateUsd": "0.1446162758966173"
                                        },
                                        {
                                            "id": "barbadian-dollar",
                                            "symbol": "BBD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.5000000000000000"
                                        },
                                        {
                                            "id": "cape-verdean-escudo",
                                            "symbol": "CVE",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0098922120830126"
                                        },
                                        {
                                            "id": "samoan-tala",
                                            "symbol": "WST",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.3571428571428572"
                                        },
                                        {
                                            "id": "belarusian-ruble",
                                            "symbol": "BYN",
                                            "currencySymbol": "Br",
                                            "type": "fiat",
                                            "rateUsd": "0.3033314284119629"
                                        },
                                        {
                                            "id": "saint-helena-pound",
                                            "symbol": "SHP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2532192068375640"
                                        },
                                        {
                                            "id": "nepalese-rupee",
                                            "symbol": "NPR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0074984197267886"
                                        },
                                        {
                                            "id": "manx-pound",
                                            "symbol": "IMP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2532192068375640"
                                        },
                                        {
                                            "id": "cuban-convertible-peso",
                                            "symbol": "CUC",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.0000000000000000"
                                        },
                                        {
                                            "id": "south-korean-won",
                                            "symbol": "KRW",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0007684065202444"
                                        },
                                        {
                                            "id": "bangladeshi-taka",
                                            "symbol": "BDT",
                                            "currencySymbol": "Tk",
[...]
