{
    "openapi": "3.1.0",
    "info": {
        "title": "Balldontlie API",
        "description": "**API Description** - The Balldontlie API is a sports data API that provides real-time basketball statistics and player information.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Balldontlie API Contact",
            "url": "https://www.balldontlie.io",
            "email": ""
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.balldontlie.io",
            "description": "Production Server of the Balldontlie API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.balldontlie.io/#introduction",
        "description": "Find more about the Balldontlie API here:"
    },
    "paths": {
        "/api/v1/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kobe": {
                                "value": "kobe"
                            },
                            "LeBron+James": {
                                "value": "LeBron+James"
                            },
                            "lebron": {
                                "value": "lebron"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            },
                            "jordan": {
                                "value": "jordan"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            },
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "West": {
                                "value": "West"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1043,
                                            "first_name": "Kobe",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Bryant",
                                            "position": "",
                                            "team": {
                                                "id": 14,
                                                "abbreviation": "LAL",
                                                "city": "Los Angeles",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Los Angeles Lakers",
                                                "name": "Lakers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 56677849,
                                            "first_name": "Kobe",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Brown",
                                            "position": "F",
                                            "team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 56677838,
                                            "first_name": "Kobe",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Bufkin",
                                            "position": "G",
                                            "team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "weight_pounds": null
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 1,
                                        "current_page": 1,
                                        "next_page": null,
                                        "per_page": 20,
                                        "total_count": 3
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/players/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /api/v1/players/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kobe": {
                                "value": "kobe"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "first_name": {
                                "value": "first_name"
                            },
                            "last_name": {
                                "value": "last_name"
                            }
                        }
                    },
                    {
                        "name": "team_id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PG": {
                                "value": "PG"
                            }
                        }
                    },
                    {
                        "name": "height_feet",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "6": {
                                "value": "6"
                            }
                        }
                    },
                    {
                        "name": "height_inches",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "8": {
                                "value": "8"
                            }
                        }
                    },
                    {
                        "name": "weight_pounds",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "min_games_played",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "is_active",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "college",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "duke": {
                                "value": "duke"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players_id"
                                },
                                "example": {
                                    "id": 97,
                                    "first_name": "Marquese",
                                    "height_feet": 6,
                                    "height_inches": 10,
                                    "last_name": "Chriss",
                                    "position": "F",
                                    "team": {
                                        "id": 21,
                                        "abbreviation": "OKC",
                                        "city": "Oklahoma City",
                                        "conference": "West",
                                        "division": "Northwest",
                                        "full_name": "Oklahoma City Thunder",
                                        "name": "Thunder"
                                    },
                                    "weight_pounds": 240
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kobe": {
                                "value": "kobe"
                            },
                            "los_angeles": {
                                "value": "los_angeles"
                            },
                            "warriors": {
                                "value": "warriors"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            },
                            "full_name": {
                                "value": "full_name"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "east": {
                                "value": "east"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "atlantic": {
                                "value": "atlantic"
                            },
                            "central": {
                                "value": "central"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "new_york": {
                                "value": "new_york"
                            },
                            "san+francisco": {
                                "value": "san+francisco"
                            }
                        }
                    },
                    {
                        "name": "abbreviation",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LAL": {
                                "value": "LAL"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "warriors": {
                                "value": "warriors"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "staples_center": {
                                "value": "staples_center"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2018": {
                                "value": "2018"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "15": {
                                "value": "15"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_teams"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "abbreviation": "ATL",
                                            "city": "Atlanta",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Atlanta Hawks",
                                            "name": "Hawks"
                                        },
                                        {
                                            "id": 2,
                                            "abbreviation": "BOS",
                                            "city": "Boston",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Boston Celtics",
                                            "name": "Celtics"
                                        },
                                        {
                                            "id": 3,
                                            "abbreviation": "BKN",
                                            "city": "Brooklyn",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Brooklyn Nets",
                                            "name": "Nets"
                                        },
                                        {
                                            "id": 4,
                                            "abbreviation": "CHA",
                                            "city": "Charlotte",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Charlotte Hornets",
                                            "name": "Hornets"
                                        },
                                        {
                                            "id": 5,
                                            "abbreviation": "CHI",
                                            "city": "Chicago",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Chicago Bulls",
                                            "name": "Bulls"
                                        },
                                        {
                                            "id": 6,
                                            "abbreviation": "CLE",
                                            "city": "Cleveland",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Cleveland Cavaliers",
                                            "name": "Cavaliers"
                                        },
                                        {
                                            "id": 7,
                                            "abbreviation": "DAL",
                                            "city": "Dallas",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Dallas Mavericks",
                                            "name": "Mavericks"
                                        },
                                        {
                                            "id": 8,
                                            "abbreviation": "DEN",
                                            "city": "Denver",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Denver Nuggets",
                                            "name": "Nuggets"
                                        },
                                        {
                                            "id": 9,
                                            "abbreviation": "DET",
                                            "city": "Detroit",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Detroit Pistons",
                                            "name": "Pistons"
                                        },
                                        {
                                            "id": 10,
                                            "abbreviation": "GSW",
                                            "city": "Golden State",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Golden State Warriors",
                                            "name": "Warriors"
                                        },
                                        {
                                            "id": 11,
                                            "abbreviation": "HOU",
                                            "city": "Houston",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Houston Rockets",
                                            "name": "Rockets"
                                        },
                                        {
                                            "id": 12,
                                            "abbreviation": "IND",
                                            "city": "Indiana",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Indiana Pacers",
                                            "name": "Pacers"
                                        },
                                        {
                                            "id": 13,
                                            "abbreviation": "LAC",
                                            "city": "LA",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "LA Clippers",
                                            "name": "Clippers"
                                        },
                                        {
                                            "id": 14,
                                            "abbreviation": "LAL",
                                            "city": "Los Angeles",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Los Angeles Lakers",
                                            "name": "Lakers"
                                        },
                                        {
                                            "id": 15,
                                            "abbreviation": "MEM",
                                            "city": "Memphis",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Memphis Grizzlies",
                                            "name": "Grizzlies"
                                        },
                                        {
                                            "id": 16,
                                            "abbreviation": "MIA",
                                            "city": "Miami",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Miami Heat",
                                            "name": "Heat"
                                        },
                                        {
                                            "id": 17,
                                            "abbreviation": "MIL",
                                            "city": "Milwaukee",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Milwaukee Bucks",
                                            "name": "Bucks"
                                        },
                                        {
                                            "id": 18,
                                            "abbreviation": "MIN",
                                            "city": "Minnesota",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Minnesota Timberwolves",
                                            "name": "Timberwolves"
                                        },
                                        {
                                            "id": 19,
                                            "abbreviation": "NOP",
                                            "city": "New Orleans",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "New Orleans Pelicans",
                                            "name": "Pelicans"
                                        },
                                        {
                                            "id": 20,
                                            "abbreviation": "NYK",
                                            "city": "New York",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "New York Knicks",
                                            "name": "Knicks"
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 3,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 20,
                                        "total_count": 45
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/games": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kobe": {
                                "value": "kobe"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            },
                            "2021-12-31": {
                                "value": "2021-12-31"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2021": {
                                "value": "2021"
                            },
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            },
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "seasons",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "player_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "23": {
                                "value": "23"
                            },
                            "123": {
                                "value": "123"
                            }
                        }
                    },
                    {
                        "name": "postseason",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "fields[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "value": "id"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_games"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 47179,
                                            "date": "2019-01-30T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 126,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": " ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 94
                                        },
                                        {
                                            "id": 48751,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 112,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "visitor_team_score": 123
                                        },
                                        {
                                            "id": 48739,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "home_team_score": 117,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 8,
                                                "abbreviation": "DEN",
                                                "city": "Denver",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Denver Nuggets",
                                                "name": "Nuggets"
                                            },
                                            "visitor_team_score": 110
                                        },
                                        {
                                            "id": 48740,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "home_team_score": 119,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 106
                                        },
                                        {
                                            "id": 48746,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "home_team_score": 102,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 16,
                                                "abbreviation": "MIA",
                                                "city": "Miami",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Miami Heat",
                                                "name": "Heat"
                                            },
                                            "visitor_team_score": 96
                                        },
                                        {
                                            "id": 48762,
                                            "date": "2019-02-11T00:00:00.000Z",
                                            "home_team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "home_team_score": 121,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "visitor_team_score": 112
                                        },
                                        {
                                            "id": 48745,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 19,
                                                "abbreviation": "NOP",
                                                "city": "New Orleans",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "New Orleans Pelicans",
                                                "name": "Pelicans"
                                            },
                                            "home_team_score": 122,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 18,
                                                "abbreviation": "MIN",
                                                "city": "Minnesota",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Minnesota Timberwolves",
                                                "name": "Timberwolves"
                                            },
                                            "visitor_team_score": 117
                                        },
                                        {
                                            "id": 48748,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 12,
                                                "abbreviation": "IND",
                                                "city": "Indiana",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Indiana Pacers",
                                                "name": "Pacers"
                                            },
                                            "home_team_score": 105,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 90
                                        },
                                        {
                                            "id": 48749,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "home_team_score": 120,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 129
                                        },
                                        {
                                            "id": 48747,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 29,
                                                "abbreviation": "UTA",
                                                "city": "Utah",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Utah Jazz",
                                                "name": "Jazz"
                                            },
                                            "home_team_score": 125,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 27,
                                                "abbreviation": "SAS",
                                                "city": "San Antonio",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "San Antonio Spurs",
                                                "name": "Spurs"
                                            },
                                            "visitor_team_score": 105
                                        },
                                        {
                                            "id": 48752,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 5,
                                                "abbreviation": "CHI",
                                                "city": "Chicago",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Chicago Bulls",
                                                "name": "Bulls"
                                            },
                                            "home_team_score": 125,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "visitor_team_score": 134
                                        },
                                        {
                                            "id": 48756,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 7,
                                                "abbreviation": "DAL",
                                                "city": "Dallas",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Dallas Mavericks",
                                                "name": "Mavericks"
                                            },
                                            "home_team_score": 102,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 25,
                                                "abbreviation": "POR",
                                                "city": "Portland",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Portland Trail Blazers",
                                                "name": "Trail Blazers"
                                            },
                                            "visitor_team_score": 101
                                        },
                                        {
                                            "id": 48760,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "home_team_score": 143,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 14,
                                                "abbreviation": "LAL",
                                                "city": "Los Angeles",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Los Angeles Lakers",
                                                "name": "Lakers"
                                            },
                                            "visitor_team_score": 120
                                        },
                                        {
                                            "id": 48757,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "home_team_score": 117,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 24,
                                                "abbreviation": "PHX",
                                                "city": "Phoenix",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Phoenix Suns",
                                                "name": "Suns"
                                            },
                                            "visitor_team_score": 104
                                        },
                                        {
                                            "id": 48755,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 17,
                                                "abbreviation": "MIL",
                                                "city": "Milwaukee",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Milwaukee Bucks",
                                                "name": "Bucks"
                                            },
                                            "home_team_score": 83,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 22,
                                                "abbreviation": "ORL",
                                                "city": "Orlando",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Orlando Magic",
                                                "name": "Magic"
                                            },
                                            "visitor_team_score": 103
                                        },
                                        {
                                            "id": 48754,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 11,
                                                "abbreviation": "HOU",
                                                "city": "Houston",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Houston Rockets",
                                                "name": "Rockets"
                                            },
                                            "home_team_score": 112,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 21,
                                                "abbreviation": "OKC",
                                                "city": "Oklahoma City",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Oklahoma City Thunder",
                                                "name": "Thunder"
                                            },
                                            "visitor_team_score": 117
                                        },
                                        {
                                            "id": 48759,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 10,
                                                "abbreviation": "GSW",
                                                "city": "Golden State",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Golden State Warriors",
                                                "name": "Warriors"
                                            },
                                            "home_team_score": 120,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 16,
                                                "abbreviation": "MIA",
                                                "city": "Miami",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Miami Heat",
                                                "name": "Heat"
                                            },
                                            "visitor_team_score": 118
                                        },
                                        {
                                            "id": 48758,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "home_team_score": 108,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 22,
                                                "abbreviation": "ORL",
                                                "city": "Orlando",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Orlando Magic",
                                                "name": "Magic"
                                            },
                                            "visitor_team_score": 124
                                        },
                                        {
                                            "id": 48766,
                                            "date": "2019-02-11T00:00:00.000Z",
                                            "home_team": {
                                                "id": 11,
                                                "abbreviation": "HOU",
                                                "city": "Houston",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Houston Rockets",
                                                "name": "Rockets"
                                            },
                                            "home_team_score": 120,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 7,
                                                "abbreviation": "DAL",
                                                "city": "Dallas",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Dallas Mavericks",
                                                "name": "Mavericks"
                                            },
                                            "visitor_team_score": 104
                                        },
                                        {
                                            "id": 48764,
                                            "date": "2019-02-11T00:00:00.000Z",
                                            "home_team": {
                                                "id": 28,
                                                "abbreviation": "TOR",
                                                "city": "Toronto",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Toronto Raptors",
                                                "name": "Raptors"
                                            },
                                            "home_team_score": 127,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 3,
                                                "abbreviation": "BKN",
                                                "city": "Brooklyn",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Brooklyn Nets",
                                                "name": "Nets"
                                            },
                                            "visitor_team_score": 125
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 3526,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 20,
                                        "total_count": 70508
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/stats": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kobe": {
                                "value": "kobe"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_stats"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 778376,
                                            "ast": 2,
                                            "blk": 1,
                                            "dreb": 5,
                                            "fg3_pct": 0.5,
                                            "fg3a": 4,
                                            "fg3m": 2,
                                            "fg_pct": 0.5,
                                            "fga": 4,
                                            "fgm": 2,
                                            "ft_pct": 0.0,
                                            "fta": 0,
                                            "ftm": 0,
                                            "game": {
                                                "id": 32933,
                                                "date": "2016-11-26T00:00:00.000Z",
                                                "home_team_id": 30,
                                                "home_team_score": 100,
                                                "period": 4,
                                                "postseason": false,
                                                "season": 2016,
                                                "status": "Final",
                                                "time": " ",
                                                "visitor_team_id": 27,
                                                "visitor_team_score": 112
                                            },
                                            "min": "27:24",
                                            "oreb": 0,
                                            "pf": 1,
                                            "player": {
                                                "id": 184,
                                                "first_name": "Danny",
                                                "height_feet": 6,
                                                "height_inches": 6,
                                                "last_name": "Green",
                                                "position": "G-F",
                                                "team_id": 23,
                                                "weight_pounds": 215
                                            },
                                            "pts": 6,
                                            "reb": 5,
                                            "stl": 0,
                                            "team": {
                                                "id": 27,
                                                "abbreviation": "SAS",
                                                "city": "San Antonio",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "San Antonio Spurs",
                                                "name": "Spurs"
                                            },
                                            "turnover": 1
                                        },
                                        {
                                            "id": 778377,
                                            "ast": 3,
                                            "blk": 0,
                                            "dreb": 0,
                                            "fg3_pct": 1.0,
                                            "fg3a": 1,
                                            "fg3m": 1,
                                            "fg_pct": 0.615,
                                            "fga": 13,
                                            "fgm": 8,
                                            "ft_pct": 1.0,
                                            "fta": 3,
                                            "ftm": 3,
                                            "game": {
                                                "id": 32933,
                                                "date": "2016-11-26T00:00:00.000Z",
                                                "home_team_id": 30,
                                                "home_team_score": 100,
                                                "period": 4,
                                                "postseason": false,
                                                "season": 2016,
                                                "status": "Final",
                                                "time": " ",
                                                "visitor_team_id": 27,
                                                "visitor_team_score": 112
                                            },
                                            "min": "27:28",
                                            "oreb": 1,
                                            "pf": 1,
                                            "player": {
                                                "id": 363,
                                                "first_name": "Tony",
                                                "height_feet": 6,
                                                "height_inches": 2,
                                                "last_name": "Parker",
                                                "position": "G",
                                                "team_id": 4,
                                                "weight_pounds": 185
                                            },
                                            "pts": 20,
                                            "reb": 1,
                                            "stl": 0,
                                            "team": {
                                                "id": 27,
                                                "abbreviation": "SAS",
                                                "city": "San Antonio",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "San Antonio Spurs",
                                                "name": "Spurs"
                                            },
                                            "turnover": 3
                                        },
                                        {
                                            "id": 778378,
                                            "ast": 1,
                                            "blk": 2,
                                            "dreb": 7,
                                            "fg3_pct": 0.0,
                                            "fg3a": 0,
                                            "fg3m": 0,
                                            "fg_pct": 0.5,
                                            "fga": 4,
                                            "fgm": 2,
                                            "ft_pct": 0.0,
                                            "fta": 0,
                                            "ftm": 0,
                                            "game": {
                                                "id": 32933,
                                                "date": "2016-11-26T00:00:00.000Z",
                                                "home_team_id": 30,
                                                "home_team_score": 100,
                                                "period": 4,
                                                "postseason": false,
                                                "season": 2016,
                                                "status": "Final",
                                                "time": " ",
                                                "visitor_team_id": 27,
                                                "visitor_team_score": 112
                                            },
                                            "min": "20:27",
                                            "oreb": 0,
                                            "pf": 3,
                                            "player": {
                                                "id": 1641,
                                                "first_name": "David",
                                                "height_feet": null,
                                                "height_inches": null,
                                                "last_name": "Lee",
                                                "position": "",
                                                "team_id": 20,
                                                "weight_pounds": null
                                            },
                                            "pts": 4,
                                            "reb": 7,
                                            "stl": 0,
                                            "team": {
                                                "id": 27,
                                                "abbreviation": "SAS",
                                                "city": "San Antonio",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "San Antonio Spurs",
                                                "name": "Spurs"
                                            },
[...]
