{
    "openapi": "3.1.0",
    "info": {
        "title": "Datamuse - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://api.datamuse.com",
            "description": "Online server URL of the 'Datamuse' REST API."
        }
    ],
    "paths": {
        "/words": {
            "get": {
                "summary": "Retrieves data at the path /words.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "ml",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'ml'.",
                        "schema": {
                            "type": "string",
                            "example": "horse"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sp",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sp'.",
                        "schema": {
                            "type": "string",
                            "example": "cat"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_trg",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_trg'.",
                        "schema": {
                            "type": "string",
                            "example": "water"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_jja",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_jja'.",
                        "schema": {
                            "type": "string",
                            "example": "ocean"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_jjb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_jjb'.",
                        "schema": {
                            "type": "string",
                            "example": "big"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_syn",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_syn'.",
                        "schema": {
                            "type": "string",
                            "example": "happy"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_ant",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_ant'.",
                        "schema": {
                            "type": "string",
                            "example": "hot"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_spc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_spc'.",
                        "schema": {
                            "type": "string",
                            "example": "tree"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_gen",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_gen'.",
                        "schema": {
                            "type": "string",
                            "example": "vehicle"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_com",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_com'.",
                        "schema": {
                            "type": "string",
                            "example": "forest"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_par",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_par'.",
                        "schema": {
                            "type": "string",
                            "example": "wheel"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_bga",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_bga'.",
                        "schema": {
                            "type": "string",
                            "example": "glitter"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_bgb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_bgb'.",
                        "schema": {
                            "type": "string",
                            "example": "shiny"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_rhy",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_rhy'.",
                        "schema": {
                            "type": "string",
                            "example": "blue"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_nry",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_nry'.",
                        "schema": {
                            "type": "string",
                            "example": "sky"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_hom",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_hom'.",
                        "schema": {
                            "type": "string",
                            "example": "see"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_cns",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_cns'.",
                        "schema": {
                            "type": "string",
                            "example": "dance"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'v'.",
                        "schema": {
                            "type": "string",
                            "example": "cb"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "topics",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'topics'.",
                        "schema": {
                            "type": "string",
                            "example": "weather"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lc'.",
                        "schema": {
                            "type": "string",
                            "example": "fr"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rc'.",
                        "schema": {
                            "type": "string",
                            "example": "de"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "md",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'md'.",
                        "schema": {
                            "type": "string",
                            "example": "d"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "qa",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'qa'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "qi",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'qi'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "leftcontext",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'leftcontext'.",
                        "schema": {
                            "type": "string",
                            "example": "the+big"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rightcontext",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rightcontext'.",
                        "schema": {
                            "type": "string",
                            "example": "of+lake"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'max'.",
                        "schema": {
                            "type": "integer",
                            "example": "50"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getWords",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/sug": {
            "get": {
                "summary": "Retrieves data at the path /sug.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "s",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 's'.",
                        "schema": {
                            "type": "string",
                            "example": "happiness"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'max'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getSug",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "parameters": {}
    }
}