{
    "openapi": "3.1.0",
    "info": {
        "title": "REST Countries - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://restcountries.com",
            "description": "Online server URL of the 'REST Countries' REST API."
        }
    ],
    "paths": {
        "/{version}/name/Spain": {
            "get": {
                "summary": "Retrieves data at the path /{version}/name/Spain.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}NameSpain",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"tld\":[\".es\"],\"cca2\":\"ES\",\"ccn3\":\"724\",\"cca3\":\"ESP\",\"cioc\":\"ESP\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"4\"]},\"capital\":[\"Madrid\"],\"altSpellings\":[\"ES\",\"Kingdom of Spain\",\"Reino de Espa\u00f1a\"],\"region\":\"Europe\",\"subregion\":\"Southern Europe\",\"landlocked\":false,\"borders\":[\"AND\",\"FRA\",\"GIB\",\"PRT\",\"MAR\"],\"area\":505992.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/138JaXW8EZzRVitY9\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/1311341\"},\"population\":49315949,\"fifa\":\"ESP\",\"car\":{\"signs\":[\"E\"],\"side\":\"right\"},\"timezones\":[\"UTC\",\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDEA\\uD83C\\uDDF8\",\"name\":{\"common\":\"Spain\",\"official\":\"Kingdom of Spain\",\"nativeName\":{\"spa\":{\"official\":\"Reino de Espa\u00f1a\",\"common\":\"Espa\u00f1a\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"spa\":\"Spanish\",\"cat\":\"Catalan\",\"eus\":\"Basque\",\"glc\":\"Galician\"},\"latlng\":[40.0,-4.0],\"demonyms\":{\"eng\":{\"f\":\"Spanish\",\"m\":\"Spanish\"},\"fra\":{\"f\":\"Espagnole\",\"m\":\"Espagnol\"}},\"translations\":{\"ara\":{\"official\":\"\u0645\u0645\u0644\u0643\u0629 \u0625\u0633\u0628\u0627\u0646\u064a\u0627\",\"common\":\"\u0625\u0633\u0628\u0627\u0646\u064a\u0627\"},\"bre\":{\"official\":\"Rouantelezh Spagn\",\"common\":\"Spagn\"},\"ces\":{\"official\":\"\u0160pan\u011blsk\u00e9 kr\u00e1lovstv\u00ed\",\"common\":\"\u0160pan\u011blsko\"},\"cym\":{\"official\":\"Kingdom of Spain\",\"common\":\"Spain\"},\"deu\":{\"official\":\"K\u00f6nigreich Spanien\",\"common\":\"Spanien\"},\"est\":{\"official\":\"Hispaania Kuningriik\",\"common\":\"Hispaania\"},\"fin\":{\"official\":\"Espanjan kuningaskunta\",\"common\":\"Espanja\"},\"fra\":{\"official\":\"Royaume d'Espagne\",\"common\":\"Espagne\"},\"hrv\":{\"official\":\"Kraljevina \u0160panjolska\",\"common\":\"\u0160panjolska\"},\"hun\":{\"official\":\"Spanyol Kir\u00e1lys\u00e1g\",\"common\":\"Spanyolorsz\u00e1g\"},\"ind\":{\"official\":\"Kerajaan Spanyol\",\"common\":\"Spanyol\"},\"ita\":{\"official\":\"Regno di Spagna\",\"common\":\"Spagna\"},\"jpn\":{\"official\":\"\u30b9\u30da\u30a4\u30f3\u738b\u56fd\",\"common\":\"\u30b9\u30da\u30a4\u30f3\"},\"kor\":{\"official\":\"\uc5d0\uc2a4\ud30c\ub0d0 \uc655\uad6d\",\"common\":\"\uc2a4\ud398\uc778\"},\"nld\":{\"official\":\"Koninkrijk Spanje\",\"common\":\"Spanje\"},\"per\":{\"official\":\"\u067e\u0627\u062f\u0634\u0627\u0647\u06cc \u0627\u0633\u067e\u0627\u0646\u06cc\u0627\",\"common\":\"\u0627\u0633\u067e\u0627\u0646\u06cc\u0627\"},\"pol\":{\"official\":\"Kr\u00f3lestwo Hiszpanii \",\"common\":\"Hiszpania\"},\"por\":{\"official\":\"Reino de Espanha\",\"common\":\"Espanha\"},\"rus\":{\"official\":\"\u041a\u043e\u0440\u043e\u043b\u0435\u0432\u0441\u0442\u0432\u043e \u0418\u0441\u043f\u0430\u043d\u0438\u044f\",\"common\":\"\u0418\u0441\u043f\u0430\u043d\u0438\u044f\"},\"slk\":{\"official\":\"\u0160panielske kr\u00e1\u013eovstvo\",\"common\":\"\u0160panielsko\"},\"spa\":{\"official\":\"Reino de Espa\u00f1a\",\"common\":\"Espa\u00f1a\"},\"srp\":{\"official\":\"\u041a\u0440\u0430\u0459\u0435\u0432\u0438\u043d\u0430 \u0428\u043f\u0430\u043d\u0438\u0458\u0430\",\"common\":\"\u0428\u043f\u0430\u043d\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Konungariket Spanien\",\"common\":\"Spanien\"},\"tur\":{\"official\":\"\u0130spanya Krall\u0131\u011f\u0131\",\"common\":\"\u0130spanya\"},\"urd\":{\"official\":\"\u0645\u0645\u0644\u06a9\u062a\u0650 \u06c1\u0633\u067e\u0627\u0646\u06cc\u06c1\",\"common\":\"\u06c1\u0633\u067e\u0627\u0646\u06cc\u06c1\"},\"zho\":{\"official\":\"\u897f\u73ed\u7259\u738b\u56fd\",\"common\":\"\u897f\u73ed\u7259\"}},\"gini\":{\"2018\":34.7},\"flags\":{\"png\":\"https://flagcdn.com/w320/es.png\",\"svg\":\"https://flagcdn.com/es.svg\",\"alt\":\"The flag of Spain is composed of three horizontal bands of red, yellow and red, with the yellow band twice the height of the red bands. In the yellow band is the national coat of arms offset slightly towards the hoist side of center.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/es.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/es.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[40.4,-3.68]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(\\\\d{5})$\"}}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/alpha/{country-code}": {
            "get": {
                "summary": "Retrieves data at the path /{version}/alpha/{country-code}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "country-code",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'country-code'.",
                        "schema": {
                            "type": "string",
                            "example": "CA"
                        }
                    },
                    {
                        "name": "country-code",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'country-code'.",
                        "schema": {
                            "type": "string",
                            "example": "CA"
                        }
                    }
                ],
                "operationId": "get{version}Alpha{country-code}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"tld\":[\".es\"],\"cca2\":\"ES\",\"ccn3\":\"724\",\"cca3\":\"ESP\",\"cioc\":\"ESP\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"4\"]},\"capital\":[\"Madrid\"],\"altSpellings\":[\"ES\",\"Kingdom of Spain\",\"Reino de Espa\u00f1a\"],\"region\":\"Europe\",\"subregion\":\"Southern Europe\",\"landlocked\":false,\"borders\":[\"AND\",\"FRA\",\"GIB\",\"PRT\",\"MAR\"],\"area\":505992.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/138JaXW8EZzRVitY9\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/1311341\"},\"population\":49315949,\"fifa\":\"ESP\",\"car\":{\"signs\":[\"E\"],\"side\":\"right\"},\"timezones\":[\"UTC\",\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDEA\\uD83C\\uDDF8\",\"name\":{\"common\":\"Spain\",\"official\":\"Kingdom of Spain\",\"nativeName\":{\"spa\":{\"official\":\"Reino de Espa\u00f1a\",\"common\":\"Espa\u00f1a\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"spa\":\"Spanish\",\"cat\":\"Catalan\",\"eus\":\"Basque\",\"glc\":\"Galician\"},\"latlng\":[40.0,-4.0],\"demonyms\":{\"eng\":{\"f\":\"Spanish\",\"m\":\"Spanish\"},\"fra\":{\"f\":\"Espagnole\",\"m\":\"Espagnol\"}},\"translations\":{\"ara\":{\"official\":\"\u0645\u0645\u0644\u0643\u0629 \u0625\u0633\u0628\u0627\u0646\u064a\u0627\",\"common\":\"\u0625\u0633\u0628\u0627\u0646\u064a\u0627\"},\"bre\":{\"official\":\"Rouantelezh Spagn\",\"common\":\"Spagn\"},\"ces\":{\"official\":\"\u0160pan\u011blsk\u00e9 kr\u00e1lovstv\u00ed\",\"common\":\"\u0160pan\u011blsko\"},\"cym\":{\"official\":\"Kingdom of Spain\",\"common\":\"Spain\"},\"deu\":{\"official\":\"K\u00f6nigreich Spanien\",\"common\":\"Spanien\"},\"est\":{\"official\":\"Hispaania Kuningriik\",\"common\":\"Hispaania\"},\"fin\":{\"official\":\"Espanjan kuningaskunta\",\"common\":\"Espanja\"},\"fra\":{\"official\":\"Royaume d'Espagne\",\"common\":\"Espagne\"},\"hrv\":{\"official\":\"Kraljevina \u0160panjolska\",\"common\":\"\u0160panjolska\"},\"hun\":{\"official\":\"Spanyol Kir\u00e1lys\u00e1g\",\"common\":\"Spanyolorsz\u00e1g\"},\"ind\":{\"official\":\"Kerajaan Spanyol\",\"common\":\"Spanyol\"},\"ita\":{\"official\":\"Regno di Spagna\",\"common\":\"Spagna\"},\"jpn\":{\"official\":\"\u30b9\u30da\u30a4\u30f3\u738b\u56fd\",\"common\":\"\u30b9\u30da\u30a4\u30f3\"},\"kor\":{\"official\":\"\uc5d0\uc2a4\ud30c\ub0d0 \uc655\uad6d\",\"common\":\"\uc2a4\ud398\uc778\"},\"nld\":{\"official\":\"Koninkrijk Spanje\",\"common\":\"Spanje\"},\"per\":{\"official\":\"\u067e\u0627\u062f\u0634\u0627\u0647\u06cc \u0627\u0633\u067e\u0627\u0646\u06cc\u0627\",\"common\":\"\u0627\u0633\u067e\u0627\u0646\u06cc\u0627\"},\"pol\":{\"official\":\"Kr\u00f3lestwo Hiszpanii \",\"common\":\"Hiszpania\"},\"por\":{\"official\":\"Reino de Espanha\",\"common\":\"Espanha\"},\"rus\":{\"official\":\"\u041a\u043e\u0440\u043e\u043b\u0435\u0432\u0441\u0442\u0432\u043e \u0418\u0441\u043f\u0430\u043d\u0438\u044f\",\"common\":\"\u0418\u0441\u043f\u0430\u043d\u0438\u044f\"},\"slk\":{\"official\":\"\u0160panielske kr\u00e1\u013eovstvo\",\"common\":\"\u0160panielsko\"},\"spa\":{\"official\":\"Reino de Espa\u00f1a\",\"common\":\"Espa\u00f1a\"},\"srp\":{\"official\":\"\u041a\u0440\u0430\u0459\u0435\u0432\u0438\u043d\u0430 \u0428\u043f\u0430\u043d\u0438\u0458\u0430\",\"common\":\"\u0428\u043f\u0430\u043d\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Konungariket Spanien\",\"common\":\"Spanien\"},\"tur\":{\"official\":\"\u0130spanya Krall\u0131\u011f\u0131\",\"common\":\"\u0130spanya\"},\"urd\":{\"official\":\"\u0645\u0645\u0644\u06a9\u062a\u0650 \u06c1\u0633\u067e\u0627\u0646\u06cc\u06c1\",\"common\":\"\u06c1\u0633\u067e\u0627\u0646\u06cc\u06c1\"},\"zho\":{\"official\":\"\u897f\u73ed\u7259\u738b\u56fd\",\"common\":\"\u897f\u73ed\u7259\"}},\"gini\":{\"2018\":34.7},\"flags\":{\"png\":\"https://flagcdn.com/w320/es.png\",\"svg\":\"https://flagcdn.com/es.svg\",\"alt\":\"The flag of Spain is composed of three horizontal bands of red, yellow and red, with the yellow band twice the height of the red bands. In the yellow band is the national coat of arms offset slightly towards the hoist side of center.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/es.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/es.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[40.4,-3.68]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(\\\\d{5})$\"}}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/alpha": {
            "get": {
                "summary": "Retrieves data at the path /{version}/alpha.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "codes",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'codes'.",
                        "schema": {
                            "type": "string",
                            "example": "ES"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}Alpha",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"tld\":[\".es\"],\"cca2\":\"ES\",\"ccn3\":\"724\",\"cca3\":\"ESP\",\"cioc\":\"ESP\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"4\"]},\"capital\":[\"Madrid\"],\"altSpellings\":[\"ES\",\"Kingdom of Spain\",\"Reino de Espa\u00f1a\"],\"region\":\"Europe\",\"subregion\":\"Southern Europe\",\"landlocked\":false,\"borders\":[\"AND\",\"FRA\",\"GIB\",\"PRT\",\"MAR\"],\"area\":505992.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/138JaXW8EZzRVitY9\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/1311341\"},\"population\":49315949,\"fifa\":\"ESP\",\"car\":{\"signs\":[\"E\"],\"side\":\"right\"},\"timezones\":[\"UTC\",\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDEA\\uD83C\\uDDF8\",\"name\":{\"common\":\"Spain\",\"official\":\"Kingdom of Spain\",\"nativeName\":{\"spa\":{\"official\":\"Reino de Espa\u00f1a\",\"common\":\"Espa\u00f1a\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"spa\":\"Spanish\",\"cat\":\"Catalan\",\"eus\":\"Basque\",\"glc\":\"Galician\"},\"latlng\":[40.0,-4.0],\"demonyms\":{\"eng\":{\"f\":\"Spanish\",\"m\":\"Spanish\"},\"fra\":{\"f\":\"Espagnole\",\"m\":\"Espagnol\"}},\"translations\":{\"ara\":{\"official\":\"\u0645\u0645\u0644\u0643\u0629 \u0625\u0633\u0628\u0627\u0646\u064a\u0627\",\"common\":\"\u0625\u0633\u0628\u0627\u0646\u064a\u0627\"},\"bre\":{\"official\":\"Rouantelezh Spagn\",\"common\":\"Spagn\"},\"ces\":{\"official\":\"\u0160pan\u011blsk\u00e9 kr\u00e1lovstv\u00ed\",\"common\":\"\u0160pan\u011blsko\"},\"cym\":{\"official\":\"Kingdom of Spain\",\"common\":\"Spain\"},\"deu\":{\"official\":\"K\u00f6nigreich Spanien\",\"common\":\"Spanien\"},\"est\":{\"official\":\"Hispaania Kuningriik\",\"common\":\"Hispaania\"},\"fin\":{\"official\":\"Espanjan kuningaskunta\",\"common\":\"Espanja\"},\"fra\":{\"official\":\"Royaume d'Espagne\",\"common\":\"Espagne\"},\"hrv\":{\"official\":\"Kraljevina \u0160panjolska\",\"common\":\"\u0160panjolska\"},\"hun\":{\"official\":\"Spanyol Kir\u00e1lys\u00e1g\",\"common\":\"Spanyolorsz\u00e1g\"},\"ind\":{\"official\":\"Kerajaan Spanyol\",\"common\":\"Spanyol\"},\"ita\":{\"official\":\"Regno di Spagna\",\"common\":\"Spagna\"},\"jpn\":{\"official\":\"\u30b9\u30da\u30a4\u30f3\u738b\u56fd\",\"common\":\"\u30b9\u30da\u30a4\u30f3\"},\"kor\":{\"official\":\"\uc5d0\uc2a4\ud30c\ub0d0 \uc655\uad6d\",\"common\":\"\uc2a4\ud398\uc778\"},\"nld\":{\"official\":\"Koninkrijk Spanje\",\"common\":\"Spanje\"},\"per\":{\"official\":\"\u067e\u0627\u062f\u0634\u0627\u0647\u06cc \u0627\u0633\u067e\u0627\u0646\u06cc\u0627\",\"common\":\"\u0627\u0633\u067e\u0627\u0646\u06cc\u0627\"},\"pol\":{\"official\":\"Kr\u00f3lestwo Hiszpanii \",\"common\":\"Hiszpania\"},\"por\":{\"official\":\"Reino de Espanha\",\"common\":\"Espanha\"},\"rus\":{\"official\":\"\u041a\u043e\u0440\u043e\u043b\u0435\u0432\u0441\u0442\u0432\u043e \u0418\u0441\u043f\u0430\u043d\u0438\u044f\",\"common\":\"\u0418\u0441\u043f\u0430\u043d\u0438\u044f\"},\"slk\":{\"official\":\"\u0160panielske kr\u00e1\u013eovstvo\",\"common\":\"\u0160panielsko\"},\"spa\":{\"official\":\"Reino de Espa\u00f1a\",\"common\":\"Espa\u00f1a\"},\"srp\":{\"official\":\"\u041a\u0440\u0430\u0459\u0435\u0432\u0438\u043d\u0430 \u0428\u043f\u0430\u043d\u0438\u0458\u0430\",\"common\":\"\u0428\u043f\u0430\u043d\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Konungariket Spanien\",\"common\":\"Spanien\"},\"tur\":{\"official\":\"\u0130spanya Krall\u0131\u011f\u0131\",\"common\":\"\u0130spanya\"},\"urd\":{\"official\":\"\u0645\u0645\u0644\u06a9\u062a\u0650 \u06c1\u0633\u067e\u0627\u0646\u06cc\u06c1\",\"common\":\"\u06c1\u0633\u067e\u0627\u0646\u06cc\u06c1\"},\"zho\":{\"official\":\"\u897f\u73ed\u7259\u738b\u56fd\",\"common\":\"\u897f\u73ed\u7259\"}},\"gini\":{\"2018\":34.7},\"flags\":{\"png\":\"https://flagcdn.com/w320/es.png\",\"svg\":\"https://flagcdn.com/es.svg\",\"alt\":\"The flag of Spain is composed of three horizontal bands of red, yellow and red, with the yellow band twice the height of the red bands. In the yellow band is the national coat of arms offset slightly towards the hoist side of center.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/es.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/es.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[40.4,-3.68]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(\\\\d{5})$\"}}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/currency/EUR": {
            "get": {
                "summary": "Retrieves data at the path /{version}/currency/EUR.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}CurrencyEur",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"tld\":[\".si\"],\"cca2\":\"SI\",\"ccn3\":\"705\",\"cca3\":\"SVN\",\"cioc\":\"SLO\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"86\"]},\"capital\":[\"Ljubljana\"],\"altSpellings\":[\"SI\",\"Republic of Slovenia\",\"Republika Slovenija\"],\"region\":\"Europe\",\"subregion\":\"Central Europe\",\"landlocked\":false,\"borders\":[\"AUT\",\"HRV\",\"ITA\",\"HUN\"],\"area\":20273.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/7zgFmswcCJh5L5D49\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/218657\"},\"population\":2130638,\"fifa\":\"SVN\",\"car\":{\"signs\":[\"SLO\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF8\\uD83C\\uDDEE\",\"name\":{\"common\":\"Slovenia\",\"official\":\"Republic of Slovenia\",\"nativeName\":{\"slv\":{\"official\":\"Republika Slovenija\",\"common\":\"Slovenija\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"slv\":\"Slovene\"},\"latlng\":[46.11666666,14.81666666],\"demonyms\":{\"eng\":{\"f\":\"Slovene\",\"m\":\"Slovene\"},\"fra\":{\"f\":\"Slov\u00e8ne\",\"m\":\"Slov\u00e8ne\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0633\u0644\u0648\u0641\u064a\u0646\u064a\u0627\",\"common\":\"\u0633\u0644\u0648\u0641\u064a\u0646\u064a\u0627\"},\"bre\":{\"official\":\"Republik Slovenia\",\"common\":\"Slovenia\"},\"ces\":{\"official\":\"Slovinsk\u00e1 republika\",\"common\":\"Slovinsko\"},\"cym\":{\"official\":\"Republic of Slovenia\",\"common\":\"Slovenia\"},\"deu\":{\"official\":\"Republik Slowenien\",\"common\":\"Slowenien\"},\"est\":{\"official\":\"Sloveenia Vabariik\",\"common\":\"Sloveenia\"},\"fin\":{\"official\":\"Slovenian tasavalta\",\"common\":\"Slovenia\"},\"fra\":{\"official\":\"R\u00e9publique de Slov\u00e9nie\",\"common\":\"Slov\u00e9nie\"},\"hrv\":{\"official\":\"Republika Slovenija\",\"common\":\"Slovenija\"},\"hun\":{\"official\":\"Szlov\u00e9n K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"Szlov\u00e9nia\"},\"ind\":{\"official\":\"Republik Slowenia\",\"common\":\"Slowenia\"},\"ita\":{\"official\":\"Repubblica di Slovenia\",\"common\":\"Slovenia\"},\"jpn\":{\"official\":\"\u30b9\u30ed\u30d9\u30cb\u30a2\u5171\u548c\u56fd\",\"common\":\"\u30b9\u30ed\u30d9\u30cb\u30a2\"},\"kor\":{\"official\":\"\uc2ac\ub85c\ubca0\ub2c8\uc544 \uacf5\ud654\uad6d\",\"common\":\"\uc2ac\ub85c\ubca0\ub2c8\uc544\"},\"nld\":{\"official\":\"Republiek Sloveni\u00eb\",\"common\":\"Sloveni\u00eb\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u0627\u0633\u0644\u0648\u0648\u0646\u06cc\",\"common\":\"\u0627\u0633\u0644\u0648\u0648\u0646\u06cc\"},\"pol\":{\"official\":\"Republika S\u0142owenii\",\"common\":\"S\u0142owenia\"},\"por\":{\"official\":\"Rep\u00fablica da Eslov\u00e9nia\",\"common\":\"Eslov\u00e9nia\"},\"rus\":{\"official\":\"\u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u0421\u043b\u043e\u0432\u0435\u043d\u0438\u044f\",\"common\":\"\u0421\u043b\u043e\u0432\u0435\u043d\u0438\u044f\"},\"slk\":{\"official\":\"Slovinsk\u00e1 republika\",\"common\":\"Slovinsko\"},\"spa\":{\"official\":\"Rep\u00fablica de Eslovenia\",\"common\":\"Eslovenia\"},\"srp\":{\"official\":\"\u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u0421\u043b\u043e\u0432\u0435\u043d\u0438\u0458\u0430\",\"common\":\"\u0421\u043b\u043e\u0432\u0435\u043d\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Republiken Slovenien\",\"common\":\"Slovenien\"},\"tur\":{\"official\":\"Slovenya Cumhuriyeti\",\"common\":\"Slovenya\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u0633\u0644\u0648\u0648\u06cc\u0646\u06cc\u0627\",\"common\":\"\u0633\u0644\u0648\u0648\u06cc\u0646\u06cc\u0627\"},\"zho\":{\"official\":\"\u65af\u6d1b\u6587\u5c3c\u4e9a\u5171\u548c\u56fd\",\"common\":\"\u65af\u6d1b\u6587\u5c3c\u4e9a\"}},\"gini\":{\"2018\":24.6},\"flags\":{\"png\":\"https://flagcdn.com/w320/si.png\",\"svg\":\"https://flagcdn.com/si.svg\",\"alt\":\"The flag of Slovenia is composed of three equal horizontal bands of white, blue and red. The national coat of arms is situated in the upper hoist side of the field centered on the boundary between the white and blue bands.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/si.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/si.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[46.05,14.52]},\"postalCode\":{\"format\":\"SI- ####\",\"regex\":\"^(?:SI)*(\\\\d{4})$\"}},{\"tld\":[\".ie\"],\"cca2\":\"IE\",\"ccn3\":\"372\",\"cca3\":\"IRL\",\"cioc\":\"IRL\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"53\"]},\"capital\":[\"Dublin\"],\"altSpellings\":[\"IE\",\"\u00c9ire\",\"Republic of Ireland\",\"Poblacht na h\u00c9ireann\"],\"region\":\"Europe\",\"subregion\":\"Northern Europe\",\"landlocked\":false,\"borders\":[\"GBR\"],\"area\":70273.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/hxd1BKxgpchStzQC6\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/62273\"},\"population\":5458600,\"fifa\":\"IRL\",\"car\":{\"signs\":[\"IRL\"],\"side\":\"left\"},\"timezones\":[\"UTC\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDEE\\uD83C\\uDDEA\",\"name\":{\"common\":\"Ireland\",\"official\":\"Republic of Ireland\",\"nativeName\":{\"eng\":{\"official\":\"Republic of Ireland\",\"common\":\"Ireland\"},\"gle\":{\"official\":\"Poblacht na h\u00c9ireann\",\"common\":\"\u00c9ire\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"eng\":\"English\",\"gle\":\"Irish\"},\"latlng\":[53.0,-8.0],\"demonyms\":{\"eng\":{\"f\":\"Irish\",\"m\":\"Irish\"},\"fra\":{\"f\":\"Irlandaise\",\"m\":\"Irlandais\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0623\u064a\u0631\u0644\u0646\u062f\u0627\",\"common\":\"\u0623\u064a\u0631\u0644\u0646\u062f\u0627\"},\"bre\":{\"official\":\"Republik Iwerzhon\",\"common\":\"Iwerzhon\"},\"ces\":{\"official\":\"Irsko\",\"common\":\"Irsko\"},\"cym\":{\"official\":\"Republic of Ireland\",\"common\":\"Ireland\"},\"deu\":{\"official\":\"Republik Irland\",\"common\":\"Irland\"},\"est\":{\"official\":\"Iirimaa\",\"common\":\"Iirimaa\"},\"fin\":{\"official\":\"Irlannin tasavalta\",\"common\":\"Irlanti\"},\"fra\":{\"official\":\"R\u00e9publique d'Irlande\",\"common\":\"Irlande\"},\"hrv\":{\"official\":\"Republika Irska\",\"common\":\"Irska\"},\"hun\":{\"official\":\"\u00cdr K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"\u00cdrorsz\u00e1g\"},\"ind\":{\"official\":\"Republik Irlandia\",\"common\":\"Irlandia\"},\"ita\":{\"official\":\"Repubblica d'Irlanda\",\"common\":\"Irlanda\"},\"jpn\":{\"official\":\"\u30a2\u30a4\u30eb\u30e9\u30f3\u30c9\u5171\u548c\u56fd\",\"common\":\"\u30a2\u30a4\u30eb\u30e9\u30f3\u30c9\"},\"kor\":{\"official\":\"\uc544\uc77c\ub79c\ub4dc \uacf5\ud654\uad6d\",\"common\":\"\uc544\uc77c\ub79c\ub4dc\"},\"nld\":{\"official\":\"Republic of Ireland\",\"common\":\"Ierland\"},\"per\":{\"official\":\"\u0627\u06cc\u0631\u0644\u0646\u062f\",\"common\":\"\u0627\u06cc\u0631\u0644\u0646\u062f\"},\"pol\":{\"official\":\"Republika Irlandii\",\"common\":\"Irlandia\"},\"por\":{\"official\":\"Rep\u00fablica da Irlanda\",\"common\":\"Irlanda\"},\"rus\":{\"official\":\"\u0418\u0440\u043b\u0430\u043d\u0434\u0438\u044f\",\"common\":\"\u0418\u0440\u043b\u0430\u043d\u0434\u0438\u044f\"},\"slk\":{\"official\":\"\u00cdrska republika\",\"common\":\"\u00cdrsko\"},\"spa\":{\"official\":\"Rep\u00fablica de Irlanda\",\"common\":\"Irlanda\"},\"srp\":{\"official\":\"\u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u0418\u0440\u0441\u043a\u0430\",\"common\":\"\u0418\u0440\u0441\u043a\u0430\"},\"swe\":{\"official\":\"Irland\",\"common\":\"Irland\"},\"tur\":{\"official\":\"\u0130rlanda Cumhuriyeti\",\"common\":\"\u0130rlanda\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u062c\u0632\u06cc\u0631\u06c1 \u0622\u0626\u0631\u0644\u06cc\u0646\u0688\",\"common\":\"\u062c\u0632\u06cc\u0631\u06c1 \u0622\u0626\u0631\u0644\u06cc\u0646\u0688\"},\"zho\":{\"official\":\"\u7231\u5c14\u5170\u5171\u548c\u56fd\",\"common\":\"\u7231\u5c14\u5170\"}},\"gini\":{\"2017\":31.4},\"flags\":{\"png\":\"https://flagcdn.com/w320/ie.png\",\"svg\":\"https://flagcdn.com/ie.svg\",\"alt\":\"The flag of Ireland is composed of three equal vertical bands of green, white and orange.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/ie.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/ie.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[53.32,-6.23]},\"postalCode\":{\"format\":null,\"regex\":null}},{\"tld\":[\".lu\"],\"cca2\":\"LU\",\"ccn3\":\"442\",\"cca3\":\"LUX\",\"cioc\":\"LUX\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"52\"]},\"capital\":[\"Luxembourg\"],\"altSpellings\":[\"LU\",\"Grand Duchy of Luxembourg\",\"Grand-Duch\u00e9 de Luxembourg\",\"Gro\u00dfherzogtum Luxemburg\",\"Groussherzogtum L\u00ebtzebuerg\"],\"region\":\"Europe\",\"subregion\":\"Western Europe\",\"landlocked\":true,\"borders\":[\"BEL\",\"FRA\",\"DEU\"],\"area\":2586.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/L6b2AgndgHprt2Ko9\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/2171347#map=10/49.8167/6.1335\"},\"population\":681973,\"fifa\":\"LUX\",\"car\":{\"signs\":[\"L\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF1\\uD83C\\uDDFA\",\"name\":{\"common\":\"Luxembourg\",\"official\":\"Grand Duchy of Luxembourg\",\"nativeName\":{\"deu\":{\"official\":\"Gro\u00dfherzogtum Luxemburg\",\"common\":\"Luxemburg\"},\"fra\":{\"official\":\"Grand-Duch\u00e9 de Luxembourg\",\"common\":\"Luxembourg\"},\"ltz\":{\"official\":\"Groussherzogtum L\u00ebtzebuerg\",\"common\":\"L\u00ebtzebuerg\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"deu\":\"German\",\"fra\":\"French\",\"ltz\":\"Luxembourgish\"},\"latlng\":[49.75,6.16666666],\"demonyms\":{\"eng\":{\"f\":\"Luxembourger\",\"m\":\"Luxembourger\"},\"fra\":{\"f\":\"Luxembourgeoise\",\"m\":\"Luxembourgeois\"}},\"translations\":{\"ara\":{\"official\":\"\u062f\u0648\u0642\u064a\u0629 \u0644\u0648\u0643\u0633\u0645\u0628\u0648\u0631\u063a\",\"common\":\"\u0644\u0648\u0643\u0633\u0645\u0628\u0648\u0631\u063a\"},\"bre\":{\"official\":\"Dugelezh Veur Luksembourg\",\"common\":\"Luksembourg\"},\"ces\":{\"official\":\"Lucembursk\u00e9 velkov\u00e9vodstv\u00ed\",\"common\":\"Lucembursko\"},\"cym\":{\"official\":\"Grand Duchy of Luxembourg\",\"common\":\"Luxembourg\"},\"deu\":{\"official\":\"Gro\u00dfherzogtum Luxemburg,\",\"common\":\"Luxemburg\"},\"est\":{\"official\":\"Luksemburgi Suurhertsogiriik\",\"common\":\"Luksemburg\"},\"fin\":{\"official\":\"Luxemburgin suurherttuakunta\",\"common\":\"Luxemburg\"},\"fra\":{\"official\":\"Grand-Duch\u00e9 de Luxembourg\",\"common\":\"Luxembourg\"},\"hrv\":{\"official\":\"Veliko Vojvodstvo Luksemburg\",\"common\":\"Luksemburg\"},\"hun\":{\"official\":\"Luxemburgi Nagyhercegs\u00e9g\",\"common\":\"Luxemburg\"},\"ind\":{\"official\":\"Keharyapatihan Luksemburg\",\"common\":\"Luksemburg\"},\"ita\":{\"official\":\"Granducato di Lussemburgo\",\"common\":\"Lussemburgo\"},\"jpn\":{\"official\":\"\u30eb\u30af\u30bb\u30f3\u30d6\u30eb\u30af\u5927\u516c\u56fd\",\"common\":\"\u30eb\u30af\u30bb\u30f3\u30d6\u30eb\u30af\"},\"kor\":{\"official\":\"\ub8e9\uc148\ubd80\ub974\ud06c \ub300\uacf5\uad6d\",\"common\":\"\ub8e9\uc148\ubd80\ub974\ud06c\"},\"nld\":{\"official\":\"Groothertogdom Luxemburg\",\"common\":\"Luxemburg\"},\"per\":{\"official\":\"\u062f\u0648\u06a9\u200c\u0646\u0634\u06cc\u0646 \u0644\u0648\u06a9\u0632\u0627\u0645\u0628\u0648\u0631\u06af\",\"common\":\"\u0644\u0648\u06a9\u0632\u0627\u0645\u0628\u0648\u0631\u06af\"},\"pol\":{\"official\":\"Wielkie Ksi\u0119stwo Luksemburga\",\"common\":\"Luksemburg\"},\"por\":{\"official\":\"Gr\u00e3o-Ducado do Luxemburgo\",\"common\":\"Luxemburgo\"},\"rus\":{\"official\":\"\u0412\u0435\u043b\u0438\u043a\u043e\u0435 \u0413\u0435\u0440\u0446\u043e\u0433\u0441\u0442\u0432\u043e \u041b\u044e\u043a\u0441\u0435\u043c\u0431\u0443\u0440\u0433\",\"common\":\"\u041b\u044e\u043a\u0441\u0435\u043c\u0431\u0443\u0440\u0433\"},\"slk\":{\"official\":\"Luxembursk\u00e9 ve\u013ekovojvodstvo\",\"common\":\"Luxembursko\"},\"spa\":{\"official\":\"Gran Ducado de Luxemburgo\",\"common\":\"Luxemburgo\"},\"srp\":{\"official\":\"\u0412\u0435\u043b\u0438\u043a\u043e \u0412\u043e\u0458\u0432\u043e\u0434\u0441\u0442\u0432\u043e \u041b\u0443\u043a\u0441\u0435\u043c\u0431\u0443\u0440\u0433\",\"common\":\"\u041b\u0443\u043a\u0441\u0435\u043c\u0431\u0443\u0440\u0433\"},\"swe\":{\"official\":\"Storhertigd\u00f6met Luxemburg\",\"common\":\"Luxemburg\"},\"tur\":{\"official\":\"L\u00fcksemburg B\u00fcy\u00fck D\u00fckal\u0131\u011f\u0131\",\"common\":\"L\u00fcksemburg\"},\"urd\":{\"official\":\"\u062f\u0648\u0642\u06cc\u06c1 \u06a9\u0628\u06cc\u0631\u0644\u06a9\u0633\u0645\u0628\u0631\u06af\",\"common\":\"\u0644\u06a9\u0633\u0645\u0628\u0631\u06af\"},\"zho\":{\"official\":\"\u5362\u68ee\u5821\u5927\u516c\u56fd\",\"common\":\"\u5362\u68ee\u5821\"}},\"gini\":{\"2018\":35.4},\"flags\":{\"png\":\"https://flagcdn.com/w320/lu.png\",\"svg\":\"https://flagcdn.com/lu.svg\",\"alt\":\"The flag of Luxembourg is composed of three equal horizontal bands of red, white and light blue.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/lu.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/lu.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[49.6,6.12]},\"postalCode\":{\"format\":\"####\",\"regex\":\"^(\\\\d{4})$\"}},{\"tld\":[\".va\"],\"cca2\":\"VA\",\"ccn3\":\"336\",\"cca3\":\"VAT\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"906698\",\"79\"]},\"capital\":[\"Vatican City\"],\"altSpellings\":[\"VA\",\"Holy See (Vatican City State)\",\"Vatican City State\",\"Stato della Citt\u00e0 del Vaticano\"],\"region\":\"Europe\",\"subregion\":\"Southern Europe\",\"landlocked\":true,\"borders\":[\"ITA\"],\"area\":0.49,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/DTKvw5Bd1QZaDZmE8\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/36989\"},\"population\":882,\"car\":{\"signs\":[\"V\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDFB\\uD83C\\uDDE6\",\"name\":{\"common\":\"Vatican City\",\"official\":\"Vatican City State\",\"nativeName\":{\"ita\":{\"official\":\"Stato della Citt\u00e0 del Vaticano\",\"common\":\"Vaticano\"},\"lat\":{\"official\":\"Status Civitatis Vatican\u00e6\",\"common\":\"Vatican\u00e6\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"ita\":\"Italian\",\"lat\":\"Latin\"},\"latlng\":[41.9,12.45],\"demonyms\":{\"eng\":{\"f\":\"Vatican\",\"m\":\"Vatican\"},\"fra\":{\"f\":\"Vaticane\",\"m\":\"Vatican\"}},\"translations\":{\"ara\":{\"official\":\"\u062f\u0648\u0644\u0629 \u0645\u062f\u064a\u0646\u0629 \u0627\u0644\u0641\u0627\u062a\u064a\u0643\u0627\u0646\",\"common\":\"\u0645\u062f\u064a\u0646\u0629 \u0627\u0644\u0641\u0627\u062a\u064a\u0643\u0627\u0646\"},\"bre\":{\"official\":\"Riez Keoded ar Vatikan\",\"common\":\"Vatikan\"},\"ces\":{\"official\":\"M\u011bstsk\u00fd st\u00e1t Vatik\u00e1n\",\"common\":\"Vatik\u00e1n\"},\"cym\":{\"official\":\"Vatican City State\",\"common\":\"Vatican City\"},\"deu\":{\"official\":\"Staat Vatikanstadt\",\"common\":\"Vatikanstadt\"},\"est\":{\"official\":\"Vatikani Linnriik\",\"common\":\"Vatikan\"},\"fin\":{\"official\":\"Vatikaanin kaupunkivaltio\",\"common\":\"Vatikaani\"},\"fra\":{\"official\":\"Cit\u00e9 du Vatican\",\"common\":\"Cit\u00e9 du Vatican\"},\"hrv\":{\"official\":\"Vatikan\",\"common\":\"Vatikan\"},\"hun\":{\"official\":\"Vatik\u00e1n \u00c1llam\",\"common\":\"Vatik\u00e1n\"},\"ind\":{\"official\":\"Kota Suci Vatikan\",\"common\":\"Vatikan\"},\"ita\":{\"official\":\"Citt\u00e0 del Vaticano\",\"common\":\"Citt\u00e0 del Vaticano\"},\"jpn\":{\"official\":\"\u30d0\u30c1\u30ab\u30f3\u5e02\u56fd\u306e\u72b6\u614b\",\"common\":\"\u30d0\u30c1\u30ab\u30f3\u5e02\u56fd\"},\"kor\":{\"official\":\"\ubc14\ud2f0\uce78 \uc2dc\uad6d\",\"common\":\"\ubc14\ud2f0\uce78\"},\"nld\":{\"official\":\"Vaticaanstad\",\"common\":\"Vaticaanstad\"},\"per\":{\"official\":\"\u062f\u0648\u0644\u062a\u200c\u0634\u0647\u0631 \u0648\u0627\u062a\u06cc\u06a9\u0627\u0646\",\"common\":\"\u0648\u0627\u062a\u06cc\u06a9\u0627\u0646\"},\"pol\":{\"official\":\"Pa\u0144stwo Watyka\u0144skie\",\"common\":\"Watykan\"},\"por\":{\"official\":\"Cidade do Vaticano\",\"common\":\"Cidade do Vaticano\"},\"rus\":{\"official\":\"\u0413\u043e\u0440\u043e\u0434-\u0433\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u043e \u0412\u0430\u0442\u0438\u043a\u0430\u043d\",\"common\":\"\u0412\u0430\u0442\u0438\u043a\u0430\u043d\"},\"slk\":{\"official\":\"Sv\u00e4t\u00e1 stolica (Vatik\u00e1nsky mestsk\u00fd \u0161t\u00e1t\",\"common\":\"Vatik\u00e1n\"},\"spa\":{\"official\":\"Ciudad del Vaticano\",\"common\":\"Ciudad del Vaticano\"},\"srp\":{\"official\":\"\u0413\u0440\u0430\u0434 \u0412\u0430\u0442\u0438\u043a\u0430\u043d\",\"common\":\"\u0412\u0430\u0442\u0438\u043a\u0430\u043d\"},\"swe\":{\"official\":\"Vatikanstaten\",\"common\":\"Vatikanstaten\"},\"tur\":{\"official\":\"Vatikan \u015eehir Devleti\",\"common\":\"Vatikan\"},\"urd\":{\"official\":\"\u0648\u06cc\u0679\u06cc\u06a9\u0646 \u0633\u0679\u06cc\",\"common\":\"\u0648\u06cc\u0679\u06cc\u06a9\u0646 \u0633\u0679\u06cc\"},\"zho\":{\"official\":\"\u68b5\u8482\u5188\u57ce\u56fd\",\"common\":\"\u68b5\u8482\u5188\"}},\"flags\":{\"png\":\"https://flagcdn.com/w320/va.png\",\"svg\":\"https://flagcdn.com/va.svg\",\"alt\":\"The flag of Vatican City is square shaped. It is composed of two equal vertical bands of yellow and white, with national coat of arms centered in the white band. The national coat of arms comprises the Papal Tiara superimposed on two crossed keys.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/va.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/va.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[41.9,12.45]},\"postalCode\":{\"format\":null,\"regex\":null}},{\"tld\":[\".at\"],\"cca2\":\"AT\",\"ccn3\":\"040\",\"cca3\":\"AUT\",\"cioc\":\"AUT\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+4\",\"suffixes\":[\"3\"]},\"capital\":[\"Vienna\"],\"altSpellings\":[\"AT\",\"Osterreich\",\"Oesterreich\"],\"region\":\"Europe\",\"subregion\":\"Central Europe\",\"landlocked\":true,\"borders\":[\"CZE\",\"DEU\",\"HUN\",\"ITA\",\"LIE\",\"SVK\",\"SVN\",\"CHE\"],\"area\":83871.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/pCWpWQhznHyRzQcu9\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/16239\"},\"population\":9200931,\"fifa\":\"AUT\",\"car\":{\"signs\":[\"A\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDE6\\uD83C\\uDDF9\",\"name\":{\"common\":\"Austria\",\"official\":\"Republic of Austria\",\"nativeName\":{\"bar\":{\"official\":\"Republik \u00d6sterreich\",\"common\":\"\u00d6sterreich\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"deu\":\"German\"},\"latlng\":[47.33333333,13.33333333],\"demonyms\":{\"eng\":{\"f\":\"Austrian\",\"m\":\"Austrian\"},\"fra\":{\"f\":\"Autrichienne\",\"m\":\"Autrichien\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0627\u0644\u0646\u0645\u0633\u0627\",\"common\":\"\u0627\u0644\u0646\u0645\u0633\u0627\"},\"bre\":{\"official\":\"Republik Aostria\",\"common\":\"Aostria\"},\"ces\":{\"official\":\"Rakousk\u00e1 republika\",\"common\":\"Rakousko\"},\"cym\":{\"official\":\"Gweriniaeth Awstria\",\"common\":\"Awstria\"},\"deu\":{\"official\":\"Republik \u00d6sterreich\",\"common\":\"\u00d6sterreich\"},\"est\":{\"official\":\"Austria Vabariik\",\"common\":\"Austria\"},\"fin\":{\"official\":\"It\u00e4vallan tasavalta\",\"common\":\"It\u00e4valta\"},\"fra\":{\"official\":\"R\u00e9publique d'Autriche\",\"common\":\"Autriche\"},\"hrv\":{\"official\":\"Republika Austrija\",\"common\":\"Austrija\"},\"hun\":{\"official\":\"Ausztria\",\"common\":\"Ausztria\"},\"ind\":{\"official\":\"Republik Austria\",\"common\":\"Austria\"},\"ita\":{\"official\":\"Repubblica d'Austria\",\"common\":\"Austria\"},\"jpn\":{\"official\":\"\u30aa\u30fc\u30b9\u30c8\u30ea\u30a2\u5171\u548c\u56fd\",\"common\":\"\u30aa\u30fc\u30b9\u30c8\u30ea\u30a2\"},\"kor\":{\"official\":\"\uc624\uc2a4\ud2b8\ub9ac\uc544 \uacf5\ud654\uad6d\",\"common\":\"\uc624\uc2a4\ud2b8\ub9ac\uc544\"},\"nld\":{\"official\":\"Republiek Oostenrijk\",\"common\":\"Oostenrijk\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u0627\u062a\u0631\u06cc\u0634\",\"common\":\"\u0627\u062a\u0631\u06cc\u0634\"},\"pol\":{\"official\":\"Republika Austrii\",\"common\":\"Austria\"},\"por\":{\"official\":\"Rep\u00fablica da \u00c1ustria\",\"common\":\"\u00c1ustria\"},\"rus\":{\"official\":\"\u0410\u0432\u0441\u0442\u0440\u0438\u0439\u0441\u043a\u0430\u044f \u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u0410\u0432\u0441\u0442\u0440\u0438\u044f\"},\"slk\":{\"official\":\"Rak\u00faska republika\",\"common\":\"Rak\u00fasko\"},\"spa\":{\"official\":\"Rep\u00fablica de Austria\",\"common\":\"Austria\"},\"srp\":{\"official\":\"\u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u0410\u0443\u0441\u0442\u0440\u0438\u0458\u0430\",\"common\":\"\u0410\u0443\u0441\u0442\u0440\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Republiken \u00d6sterrike\",\"common\":\"\u00d6sterrike\"},\"tur\":{\"official\":\"Avusturya Cumhuriyeti\",\"common\":\"Avusturya\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u0622\u0633\u0679\u0631\u06cc\u0627\",\"common\":\"\u0622\u0633\u0679\u0631\u06cc\u0627\"},\"zho\":{\"official\":\"\u5965\u5730\u5229\u5171\u548c\u56fd\",\"common\":\"\u5965\u5730\u5229\"}},\"gini\":{\"2018\":30.8},\"flags\":{\"png\":\"https://flagcdn.com/w320/at.png\",\"svg\":\"https://flagcdn.com/at.svg\",\"alt\":\"The flag of Austria is composed of three equal horizontal bands of red, white and red.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/at.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/at.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[48.2,16.37]},\"postalCode\":{\"format\":\"####\",\"regex\":\"^(\\\\d{4})$\"}},{\"tld\":[\".pt\"],\"cca2\":\"PT\",\"ccn3\":\"620\",\"cca3\":\"PRT\",\"cioc\":\"POR\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"51\"]},\"capital\":[\"Lisbon\"],\"altSpellings\":[\"PT\",\"Portuguesa\",\"Portuguese Republic\",\"Rep\u00fablica Portuguesa\"],\"region\":\"Europe\",\"subregion\":\"Southern Europe\",\"landlocked\":false,\"borders\":[\"ESP\"],\"area\":92090.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/BaTBSyc4GWMmbAKB8\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/295480\"},\"population\":10749635,\"fifa\":\"POR\",\"car\":{\"signs\":[\"P\"],\"side\":\"right\"},\"timezones\":[\"UTC-01:00\",\"UTC\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF5\\uD83C\\uDDF9\",\"name\":{\"common\":\"Portugal\",\"official\":\"Portuguese Republic\",\"nativeName\":{\"por\":{\"official\":\"Rep\u00fablica Portuguesa\",\"common\":\"Portugal\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"por\":\"Portuguese\"},\"latlng\":[39.5,-8.0],\"demonyms\":{\"eng\":{\"f\":\"Portuguese\",\"m\":\"Portuguese\"},\"fra\":{\"f\":\"Portugaise\",\"m\":\"Portugais\"}},\"translations\":{\"ara\":{\"official\":\"\u0627\u0644\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0627\u0644\u0628\u0631\u062a\u063a\u0627\u0644\u064a\u0629\",\"common\":\"\u0627\u0644\u0628\u0631\u062a\u063a\u0627\u0644\"},\"bre\":{\"official\":\"Republik Portugalat\",\"common\":\"Portugal\"},\"ces\":{\"official\":\"Portugalsk\u00e1 republika\",\"common\":\"Portugalsko\"},\"cym\":{\"official\":\"Portuguese Republic\",\"common\":\"Portugal\"},\"deu\":{\"official\":\"Portugiesische Republik\",\"common\":\"Portugal\"},\"est\":{\"official\":\"Portugali Vabariik\",\"common\":\"Portugal\"},\"fin\":{\"official\":\"Portugalin tasavalta\",\"common\":\"Portugali\"},\"fra\":{\"official\":\"R\u00e9publique portugaise\",\"common\":\"Portugal\"},\"hrv\":{\"official\":\"Portugalska Republika\",\"common\":\"Portugal\"},\"hun\":{\"official\":\"Portug\u00e1l K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"Portug\u00e1lia\"},\"ind\":{\"official\":\"Republik Portugal\",\"common\":\"Portugal\"},\"ita\":{\"official\":\"Repubblica portoghese\",\"common\":\"Portogallo\"},\"jpn\":{\"official\":\"\u30dd\u30eb\u30c8\u30ac\u30eb\u5171\u548c\u56fd\",\"common\":\"\u30dd\u30eb\u30c8\u30ac\u30eb\"},\"kor\":{\"official\":\"\ud3ec\ub974\ud22c\uac08 \uacf5\ud654\uad6d\",\"common\":\"\ud3ec\ub974\ud22c\uac08\"},\"nld\":{\"official\":\"Portugese Republiek\",\"common\":\"Portugal\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u067e\u0631\u062a\u063a\u0627\u0644\",\"common\":\"\u067e\u0631\u062a\u063a\u0627\u0644\"},\"pol\":{\"official\":\"Republika Portugalska\",\"common\":\"Portugalia\"},\"por\":{\"official\":\"Rep\u00fablica portugu\u00eas\",\"common\":\"Portugal\"},\"rus\":{\"official\":\"\u041f\u043e\u0440\u0442\u0443\u0433\u0430\u043b\u044c\u0441\u043a\u0430\u044f \u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u041f\u043e\u0440\u0442\u0443\u0433\u0430\u043b\u0438\u044f\"},\"slk\":{\"official\":\"Portugalsk\u00e1 republika\",\"common\":\"Portugalsko\"},\"spa\":{\"official\":\"Rep\u00fablica Portuguesa\",\"common\":\"Portugal\"},\"srp\":{\"official\":\"\u041f\u043e\u0440\u0442\u0443\u0433\u0430\u043b\u0441\u043a\u0430 \u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u041f\u043e\u0440\u0442\u0443\u0433\u0430\u043b\"},\"swe\":{\"official\":\"Republiken Portugal\",\"common\":\"Portugal\"},\"tur\":{\"official\":\"Portekiz Cumhuriyeti\",\"common\":\"Portekiz\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u067e\u0631\u062a\u06af\u0627\u0644\",\"common\":\"\u067e\u0631\u062a\u06af\u0627\u0644\"},\"zho\":{\"official\":\"\u8461\u8404\u7259\u5171\u548c\u56fd\",\"common\":\"\u8461\u8404\u7259\"}},\"gini\":{\"2018\":33.5},\"flags\":{\"png\":\"https://flagcdn.com/w320/pt.png\",\"svg\":\"https://flagcdn.com/pt.svg\",\"alt\":\"The flag of Portugal is composed of two vertical bands of green and red in the ratio of 2:3, with the coat of arms of Portugal centered over the two-color boundary.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/pt.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/pt.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[38.72,-9.13]},\"postalCode\":{\"format\":\"####-###\",\"regex\":\"^(\\\\d{7})$\"}},{\"tld\":[\".bl\"],\"cca2\":\"BL\",\"ccn3\":\"652\",\"cca3\":\"BLM\",\"independent\":false,\"status\":\"officially-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+5\",\"suffixes\":[\"90\"]},\"capital\":[\"Gustavia\"],\"altSpellings\":[\"BL\",\"St. Barthelemy\",\"Collectivity of Saint Barth\u00e9lemy\",\"Collectivit\u00e9 de Saint-Barth\u00e9lemy\"],\"region\":\"Americas\",\"subregion\":\"Caribbean\",\"landlocked\":false,\"area\":21.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/Mc7GqH466S7AAk297\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/7552779\"},\"population\":10562,\"car\":{\"signs\":[\"F\"],\"side\":\"right\"},\"timezones\":[\"UTC-04:00\"],\"continents\":[\"North America\"],\"flag\":\"\\uD83C\\uDDE7\\uD83C\\uDDF1\",\"name\":{\"common\":\"Saint Barth\u00e9lemy\",\"official\":\"Collectivity of Saint Barth\u00e9lemy\",\"nativeName\":{\"fra\":{\"official\":\"Collectivit\u00e9 de Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"fra\":\"French\"},\"latlng\":[18.5,-63.41666666],\"demonyms\":{\"eng\":{\"f\":\"Saint Barth\u00e9lemy Islander\",\"m\":\"Saint Barth\u00e9lemy Islander\"},\"fra\":{\"f\":\"Barth\u00e9lom\u00e9enne\",\"m\":\"Barth\u00e9lom\u00e9en\"}},\"translations\":{\"ara\":{\"official\":\"\u0627\u0644\u062a\u062c\u0645\u0639 \u0627\u0644\u0625\u0642\u0644\u064a\u0645\u064a \u0644\u0633\u0627\u0646\u062a \u0628\u0627\u0631\u062a\u064a\u0644\u064a\u0645\u064a\",\"common\":\"\u0633\u0627\u0646 \u0628\u0627\u0631\u062a\u0644\u064a\u0645\u064a\"},\"bre\":{\"official\":\"Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"ces\":{\"official\":\"Svat\u00fd Bartolom\u011bj\",\"common\":\"Svat\u00fd Bartolom\u011bj\"},\"cym\":{\"official\":\"Collectivity of Saint Barth\u00e9lemy\",\"common\":\"Saint Barth\u00e9lemy\"},\"deu\":{\"official\":\"Gebietsk\u00f6rperschaft Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"est\":{\"official\":\"Saint-Barth\u00e9lemy territoriaal\u00fchendus\",\"common\":\"Saint-Barth\u00e9lemy\"},\"fin\":{\"official\":\"Saint-Barth\u00e9lemyn yhteis\u00f6\",\"common\":\"Saint-Barth\u00e9lemy\"},\"fra\":{\"official\":\"Collectivit\u00e9 de Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"hrv\":{\"official\":\"Kolektivnost sv Barth\u00e9lemy\",\"common\":\"Saint Barth\u00e9lemy\"},\"hun\":{\"official\":\"Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"ind\":{\"official\":\"Wilayah Jajahan Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"ita\":{\"official\":\"Collettivit\u00e0 di Saint Barth\u00e9lemy\",\"common\":\"Antille Francesi\"},\"jpn\":{\"official\":\"\u30b5\u30f3\u00b7\u30d0\u30eb\u30c6\u30eb\u30df\u30fc\u5cf6\u306e\u96c6\u5408\u4f53\",\"common\":\"\u30b5\u30f3\u30fb\u30d0\u30eb\u30c6\u30eb\u30df\u30fc\"},\"kor\":{\"official\":\"\uc0dd\ubc14\ub974\ud154\ub808\ubbf8\",\"common\":\"\uc0dd\ubc14\ub974\ud154\ub808\ubbf8\"},\"nld\":{\"official\":\"Gemeenschap Saint Barth\u00e9lemy\",\"common\":\"Saint Barth\u00e9lemy\"},\"per\":{\"official\":\"\u0633\u0646 \u0628\u0627\u0631\u062a\u0644\u0645\u06cc\",\"common\":\"\u0633\u0646 \u0628\u0627\u0631\u062a\u0644\u0645\u06cc\"},\"pol\":{\"official\":\"Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"por\":{\"official\":\"Coletividade de Saint Barth\u00e9lemy\",\"common\":\"S\u00e3o Bartolomeu\"},\"rus\":{\"official\":\"\u041a\u043e\u043b\u043b\u0435\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c \u0421\u0430\u043d\u043a\u0442 -\u0411\u0430\u0440\u0442\u0435\u043b\u044c\u043c\u0438\",\"common\":\"\u0421\u0435\u043d-\u0411\u0430\u0440\u0442\u0435\u043b\u0435\u043c\u0438\"},\"slk\":{\"official\":\"Sv\u00e4t\u00fd Bartolomej\",\"common\":\"Sv\u00e4t\u00fd Bartolomej\"},\"spa\":{\"official\":\"Colectividad de San Barth\u00e9lemy\",\"common\":\"San Bartolom\u00e9\"},\"srp\":{\"official\":\"\u0421\u0435\u043d \u0411\u0430\u0440\u0442\u0435\u043b\u0435\u043c\u0438\",\"common\":\"\u0422\u0435\u0440\u0438\u0442\u043e\u0440\u0438\u0458\u0430\u043b\u043d\u0438 K\u043e\u043b\u0435\u043a\u0442\u0438\u0432 \u0421\u0435\u043d \u0411\u0430\u0440\u0442\u0435\u043b\u0435\u043c\u0438\"},\"swe\":{\"official\":\"Saint-Barth\u00e9lemy\",\"common\":\"Saint-Barth\u00e9lemy\"},\"tur\":{\"official\":\"Saint Barth\u00e9lemy\",\"common\":\"Saint Barth\u00e9lemy\"},\"urd\":{\"official\":\"\u0633\u06cc\u0646\u0679 \u0628\u0627\u0631\u062a\u06be\u06cc\u0645\u0644\u06d2\",\"common\":\"\u0633\u06cc\u0646\u0679 \u0628\u0627\u0631\u062a\u06be\u06cc\u0645\u0644\u06d2\"},\"zho\":{\"official\":\"\u5723\u5df4\u6cf0\u52d2\u7c73\u96c6\u4f53\",\"common\":\"\u5723\u5df4\u6cf0\u52d2\u7c73\"}},\"flags\":{\"png\":\"https://flagcdn.com/w320/bl.png\",\"svg\":\"https://flagcdn.com/bl.svg\",\"alt\":\"The flag of Saint Barth\u00e9lemy features the national coat of arms centered on a white field. The coat of arms is a shield divided into three horizontal stripes: three gold fleurs-de-lis on blue, above a white Maltese cross on red, over three gold crowns on blue. Below the shield is a banner with \\\"OUANALAO,\\\" which is what the indigenous people called the island. On top of the shield is a mural crown.\"},\"coatOfArms\":{},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[17.88,-62.85]},\"postalCode\":{\"format\":\"### ###\",\"regex\":null}},{\"tld\":[\".gf\"],\"cca2\":\"GF\",\"ccn3\":\"254\",\"cca3\":\"GUF\",\"independent\":false,\"status\":\"officially-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+5\",\"suffixes\":[\"94\"]},\"capital\":[\"Cayenne\"],\"altSpellings\":[\"GF\",\"Guiana\",\"Guyane\"],\"region\":\"Americas\",\"subregion\":\"South America\",\"landlocked\":false,\"borders\":[\"BRA\",\"SUR\"],\"area\":83534.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/NJawFwMzG7YtCrVP7\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/2502058\"},\"population\":292354,\"car\":{\"signs\":[\"F\"],\"side\":\"right\"},\"timezones\":[\"UTC-03:00\"],\"continents\":[\"South America\"],\"flag\":\"\\uD83C\\uDDEC\\uD83C\\uDDEB\",\"name\":{\"common\":\"French Guiana\",\"official\":\"Guiana\",\"nativeName\":{\"fra\":{\"official\":\"Guyane\",\"common\":\"Guyane fran\u00e7aise\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"fra\":\"French\"},\"latlng\":[4.0,-53.0],\"demonyms\":{\"eng\":{\"f\":\"Guianan\",\"m\":\"Guianan\"},\"fra\":{\"f\":\"Guyanaise\",\"m\":\"Guyanais\"}},\"translations\":{\"ara\":{\"official\":\"\u063a\u0648\u064a\u0627\u0646\u0627 \u0627\u0644\u0641\u0631\u0646\u0633\u064a\u0629\",\"common\":\"\u063a\u0648\u064a\u0627\u0646\u0627\"},\"bre\":{\"official\":\"Gwiana C'hall\",\"common\":\"Gwiana C'hall\"},\"ces\":{\"official\":\"Francouzsk\u00e1 Guyana\",\"common\":\"Francouzsk\u00e1 Guyana\"},\"cym\":{\"official\":\"Guiana\",\"common\":\"French Guiana\"},\"deu\":{\"official\":\"Franz\u00f6sisch-Guayana\",\"common\":\"Franz\u00f6sisch-Guayana\"},\"est\":{\"official\":\"Guajaana departemang\",\"common\":\"Prantsuse Guajaana\"},\"fin\":{\"official\":\"Ranskan Guayana\",\"common\":\"Ranskan Guayana\"},\"fra\":{\"official\":\"Guyane\",\"common\":\"Guyane\"},\"hrv\":{\"official\":\"Gijana\",\"common\":\"Francuska Gvajana\"},\"hun\":{\"official\":\"Francia Guyana\",\"common\":\"Francia Guyana\"},\"ind\":{\"official\":\"Guyana Prancis\",\"common\":\"Guyana Prancis\"},\"ita\":{\"official\":\"Guiana\",\"common\":\"Guyana francese\"},\"jpn\":{\"official\":\"\u30ae\u30a2\u30ca\",\"common\":\"\u30d5\u30e9\u30f3\u30b9\u9818\u30ae\u30a2\u30ca\"},\"kor\":{\"official\":\"\ud504\ub791\uc2a4\ub839 \uae30\uc544\ub098\",\"common\":\"\ud504\ub791\uc2a4\ub839 \uae30\uc544\ub098\"},\"nld\":{\"official\":\"Guyana\",\"common\":\"Frans-Guyana\"},\"per\":{\"official\":\"\u06af\u0648\u06cc\u0627\u0646 \u0641\u0631\u0627\u0646\u0633\u0647\",\"common\":\"\u06af\u0648\u06cc\u0627\u0646 \u0641\u0631\u0627\u0646\u0633\u0647\"},\"pol\":{\"official\":\"Gujana Francuska\",\"common\":\"Gujana Francuska\"},\"por\":{\"official\":\"Guiana\",\"common\":\"Guiana Francesa\"},\"rus\":{\"official\":\"\u0413\u0432\u0438\u0430\u043d\u0430\",\"common\":\"\u0424\u0440\u0430\u043d\u0446\u0443\u0437\u0441\u043a\u0430\u044f \u0413\u0432\u0438\u0430\u043d\u0430\"},\"slk\":{\"official\":\"Franc\u00fazska Guyana\",\"common\":\"Guyana\"},\"spa\":{\"official\":\"Guayana\",\"common\":\"Guayana Francesa\"},\"srp\":{\"official\":\"\u0424\u0440\u0430\u043d\u0446\u0443\u0441\u043a\u0430 \u0413\u0432\u0430\u0458\u0430\u043d\u0430\",\"common\":\"\u0424\u0440\u0430\u043d\u0446\u0443\u0441\u043a\u0430 \u0413\u0432\u0430\u0458\u0430\u043d\u0430\"},\"swe\":{\"official\":\"Franska Guyana\",\"common\":\"Franska Guyana\"},\"tur\":{\"official\":\"Frans\u0131z Guyanas\u0131\",\"common\":\"Frans\u0131z Guyanas\u0131\"},\"urd\":{\"official\":\"\u06af\u06cc\u0627\u0646\u0627\",\"common\":\"\u0641\u0631\u0627\u0646\u0633\u06cc\u0633\u06cc \u06af\u06cc\u0627\u0646\u0627\"},\"zho\":{\"official\":\"\u6cd5\u5c5e\u572d\u4e9a\u90a3\",\"common\":\"\u6cd5\u5c5e\u572d\u4e9a\u90a3\"}},\"flags\":{\"png\":\"https://flagcdn.com/w320/gf.png\",\"svg\":\"https://flagcdn.com/gf.svg\",\"alt\":\"The flag of French Guiana divides diagonally with green in the upper fly and yellow in the lower hoist and bears a red five-pointed star in the center.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/gf.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/gf.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[4.94,-52.33]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^((97|98)3\\\\d{2})$\"}},{\"tld\":[\".pm\"],\"cca2\":\"PM\",\"ccn3\":\"666\",\"cca3\":\"SPM\",\"independent\":false,\"status\":\"officially-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+5\",\"suffixes\":[\"08\"]},\"capital\":[\"Saint-Pierre\"],\"altSpellings\":[\"PM\",\"Collectivit\u00e9 territoriale de Saint-Pierre-et-Miquelon\"],\"region\":\"Americas\",\"subregion\":\"North America\",\"landlocked\":false,\"area\":242.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/bUM8Yc8pA8ghyhmt6\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/3406826\"},\"population\":5819,\"car\":{\"signs\":[\"F\"],\"side\":\"right\"},\"timezones\":[\"UTC-03:00\"],\"continents\":[\"North America\"],\"flag\":\"\\uD83C\\uDDF5\\uD83C\\uDDF2\",\"name\":{\"common\":\"Saint Pierre and Miquelon\",\"official\":\"Saint Pierre and Miquelon\",\"nativeName\":{\"fra\":{\"official\":\"Collectivit\u00e9 territoriale de Saint-Pierre-et-Miquelon\",\"common\":\"Saint-Pierre-et-Miquelon\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"fra\":\"French\"},\"latlng\":[46.83333333,-56.33333333],\"demonyms\":{\"eng\":{\"f\":\"Saint-Pierrais, Miquelonnais\",\"m\":\"Saint-Pierrais, Miquelonnais\"},\"fra\":{\"f\":\"Saint-Pierraise, Miquelonaise\",\"m\":\"Saint-Pierrais, Miquelonais\"}},\"translations\":{\"ara\":{\"official\":\"\u0633\u0627\u0646 \u0628\u064a\u064a\u0631 \u0648\u0645\u064a\u0643\u0644\u0648\u0646\",\"common\":\"\u0633\u0627\u0646 \u0628\u064a\u064a\u0631 \u0648\u0645\u064a\u0643\u0644\u0648\u0646\"},\"bre\":{\"official\":\"Sant-P\u00ear-ha-Mikelon\",\"common\":\"Sant-P\u00ear-ha-Mikelon\"},\"ces\":{\"official\":\"Saint-Pierre a Miquelon\",\"common\":\"Saint-Pierre a Miquelon\"},\"cym\":{\"official\":\"Saint Pierre and Miquelon\",\"common\":\"Saint Pierre and Miquelon\"},\"deu\":{\"official\":\"St. Pierre und Miquelon\",\"common\":\"St. Pierre und Miquelon\"},\"est\":{\"official\":\"Saint-Pierre\u2019i ja Miqueloni territoriaal\u00fchendus\",\"common\":\"Saint-Pierre ja Miquelon\"},\"fin\":{\"official\":\"Saint-Pierre ja Miquelon\",\"common\":\"Saint-Pierre ja Miquelon\"},\"fra\":{\"official\":\"Saint-Pierre-et-Miquelon\",\"common\":\"Saint-Pierre-et-Miquelon\"},\"hrv\":{\"official\":\"Saint Pierre i Miquelon\",\"common\":\"Sveti Petar i Mikelon\"},\"hun\":{\"official\":\"Saint-Pierre \u00e9s Miquelon\",\"common\":\"Saint-Pierre \u00e9s Miquelon\"},\"ind\":{\"official\":\"Wilayah Jajahan Saint Pierre dan Miquelon\",\"common\":\"Saint Pierre dan Miquelon\"},\"ita\":{\"official\":\"Saint Pierre e Miquelon\",\"common\":\"Saint-Pierre e Miquelon\"},\"jpn\":{\"official\":\"\u30b5\u30f3\u30d4\u30a8\u30fc\u30eb\u5cf6\u00b7\u30df\u30af\u30ed\u30f3\u5cf6\",\"common\":\"\u30b5\u30f3\u30d4\u30a8\u30fc\u30eb\u5cf6\u30fb\u30df\u30af\u30ed\u30f3\u5cf6\"},\"kor\":{\"official\":\"\uc0dd\ud53c\uc5d0\ub974 \ubbf8\ud074\ub871\",\"common\":\"\uc0dd\ud53c\uc5d0\ub974 \ubbf8\ud074\ub871\"},\"nld\":{\"official\":\"Saint-Pierre en Miquelon\",\"common\":\"Saint Pierre en Miquelon\"},\"per\":{\"official\":\"\u0633\u0646-\u067e\u06cc\u0631-\u0627-\u0645\u06cc\u06a9\u0644\u0648\u0646\",\"common\":\"\u0633\u0646-\u067e\u06cc\u0650\u0631 \u0648 \u0645\u06cc\u06a9\u0644\u064f\u0646\"},\"pol\":{\"official\":\"Saint-Pierre i Miquelon\",\"common\":\"Saint-Pierre i Miquelon\"},\"por\":{\"official\":\"Saint Pierre e Miquelon\",\"common\":\"Saint-Pierre e Miquelon\"},\"rus\":{\"official\":\"\u0421\u0435\u043d-\u041f\u044c\u0435\u0440 \u0438 \u041c\u0438\u043a\u0435\u043b\u043e\u043d\",\"common\":\"\u0421\u0435\u043d-\u041f\u044c\u0435\u0440 \u0438 \u041c\u0438\u043a\u0435\u043b\u043e\u043d\"},\"slk\":{\"official\":\"Ostrovy Saint Pierre a Miquelon\",\"common\":\"Saint Pierre a Miquelon\"},\"spa\":{\"official\":\"San Pedro y Miquel\u00f3n\",\"common\":\"San Pedro y Miquel\u00f3n\"},\"srp\":{\"official\":\"\u0421\u0435\u043d \u041f\u0458\u0435\u0440 \u0438 \u041c\u0438\u043a\u0435\u043b\u043e\u043d\",\"common\":\"\u0421\u0435\u043d \u041f\u0458\u0435\u0440 \u0438 \u041c\u0438\u043a\u0435\u043b\u043e\u043d\"},\"swe\":{\"official\":\"Saint-Pierre och Miquelon\",\"common\":\"Saint-Pierre och Miquelon\"},\"tur\":{\"official\":\"Saint Pierre ve Miquelon\",\"common\":\"Saint Pierre ve Miquelon\"},\"urd\":{\"official\":\"\u0633\u06cc\u0646\u0679 \u067e\u06cc\u0626\u0631 \u0648 \u0645\u06cc\u06a9\u06cc\u0644\u0648\u0646\",\"common\":\"\u0633\u06cc\u0646\u0679 \u067e\u06cc\u0626\u0631 \u0648 \u0645\u06cc\u06a9\u06cc\u0644\u0648\u0646\"},\"zho\":{\"official\":\"\u5723\u76ae\u57c3\u5c14\u548c\u5bc6\u514b\u9686\",\"common\":\"\u5723\u76ae\u57c3\u5c14\u548c\u5bc6\u514b\u9686\"}},\"flags\":{\"png\":\"https://flagcdn.com/w320/pm.png\",\"svg\":\"https://flagcdn.com/pm.svg\",\"alt\":\"The flag of Saint Pierre and Miquelon features a yellow three-masted sailing ship facing the hoist side riding on a blue background with wavy white lines. A black-over-white wavy line divides the ship from the white wavy lines. On the hoist side, a vertical band is divided into three heraldic arms: the top is red with a green diagonal cross extending to the corners and overlaid with a white cross, the middle is white with an ermine pattern, and the bottom is red with two yellow lions outlined in black.\"},\"coatOfArms\":{},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[46.77,-56.18]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(97500)$\"}},{\"tld\":[\".fr\"],\"cca2\":\"FR\",\"ccn3\":\"250\",\"cca3\":\"FRA\",\"cioc\":\"FRA\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"3\"]},\"capital\":[\"Paris\"],\"altSpellings\":[\"FR\",\"French Republic\",\"R\u00e9publique fran\u00e7aise\"],\"region\":\"Europe\",\"subregion\":\"Western Europe\",\"landlocked\":false,\"borders\":[\"AND\",\"BEL\",\"DEU\",\"ITA\",\"LUX\",\"MCO\",\"ESP\",\"CHE\"],\"area\":543908.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/g7QxxSFsWyTPKuzd7\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/1403916\"},\"population\":66351959,\"fifa\":\"FRA\",\"car\":{\"signs\":[\"F\"],\"side\":\"right\"},\"timezones\":[\"UTC-10:00\",\"UTC-09:30\",\"UTC-09:00\",\"UTC-08:00\",\"UTC-04:00\",\"UTC-03:00\",\"UTC+01:00\",\"UTC+02:00\",\"UTC+03:00\",\"UTC+04:00\",\"UTC+05:00\",\"UTC+10:00\",\"UTC+11:00\",\"UTC+12:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDEB\\uD83C\\uDDF7\",\"name\":{\"common\":\"France\",\"official\":\"French Republic\",\"nativeName\":{\"fra\":{\"official\":\"R\u00e9publique fran\u00e7aise\",\"common\":\"France\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"fra\":\"French\"},\"latlng\":[46.0,2.0],\"demonyms\":{\"eng\":{\"f\":\"French\",\"m\":\"French\"},\"fra\":{\"f\":\"Fran\u00e7aise\",\"m\":\"Fran\u00e7ais\"}},\"translations\":{\"ara\":{\"official\":\"\u0627\u0644\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0627\u0644\u0641\u0631\u0646\u0633\u064a\u0629\",\"common\":\"\u0641\u0631\u0646\u0633\u0627\"},\"bre\":{\"official\":\"Republik Fra\u00f1s\",\"common\":\"Fra\u00f1s\"},\"ces\":{\"official\":\"Francouzsk\u00e1 republika\",\"common\":\"Francie\"},\"cym\":{\"official\":\"French Republic\",\"common\":\"France\"},\"deu\":{\"official\":\"Franz\u00f6sische Republik\",\"common\":\"Frankreich\"},\"est\":{\"official\":\"Prantsuse Vabariik\",\"common\":\"Prantsusmaa\"},\"fin\":{\"official\":\"Ranskan tasavalta\",\"common\":\"Ranska\"},\"fra\":{\"official\":\"R\u00e9publique fran\u00e7aise\",\"common\":\"France\"},\"hrv\":{\"official\":\"Francuska Republika\",\"common\":\"Francuska\"},\"hun\":{\"official\":\"Francia K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"Franciaorsz\u00e1g\"},\"ind\":{\"official\":\"Republik Prancis\",\"common\":\"Prancis\"},\"ita\":{\"official\":\"Repubblica francese\",\"common\":\"Francia\"},\"jpn\":{\"official\":\"\u30d5\u30e9\u30f3\u30b9\u5171\u548c\u56fd\",\"common\":\"\u30d5\u30e9\u30f3\u30b9\"},\"kor\":{\"official\":\"\ud504\ub791\uc2a4 \uacf5\ud654\uad6d\",\"common\":\"\ud504\ub791\uc2a4\"},\"nld\":{\"official\":\"Franse Republiek\",\"common\":\"Frankrijk\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u0641\u0631\u0627\u0646\u0633\u0647\",\"common\":\"\u0641\u0631\u0627\u0646\u0633\u0647\"},\"pol\":{\"official\":\"Republika Francuska\",\"common\":\"Francja\"},\"por\":{\"official\":\"Rep\u00fablica Francesa\",\"common\":\"Fran\u00e7a\"},\"rus\":{\"official\":\"\u0424\u0440\u0430\u043d\u0446\u0443\u0437\u0441\u043a\u0430\u044f \u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u0424\u0440\u0430\u043d\u0446\u0438\u044f\"},\"slk\":{\"official\":\"Franc\u00fazska republika\",\"common\":\"Franc\u00fazsko\"},\"spa\":{\"official\":\"Rep\u00fablica franc\u00e9s\",\"common\":\"Francia\"},\"srp\":{\"official\":\"\u0424\u0440\u0430\u043d\u0446\u0443\u0441\u043a\u0430 \u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u0424\u0440\u0430\u043d\u0446\u0443\u0441\u043a\u0430\"},\"swe\":{\"official\":\"Republiken Frankrike\",\"common\":\"Frankrike\"},\"tur\":{\"official\":\"Fransa Cumhuriyeti\",\"common\":\"Fransa\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u0641\u0631\u0627\u0646\u0633\",\"common\":\"\u0641\u0631\u0627\u0646\u0633\"},\"zho\":{\"official\":\"\u6cd5\u5170\u897f\u5171\u548c\u56fd\",\"common\":\"\u6cd5\u56fd\"}},\"gini\":{\"2018\":32.4},\"flags\":{\"png\":\"https://flagcdn.com/w320/fr.png\",\"svg\":\"https://flagcdn.com/fr.svg\",\"alt\":\"The flag of France is composed of three equal vertical bands of blue, white and red.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/fr.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/fr.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[48.87,2.33]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(\\\\d{5})$\"}},{\"tld\":[\".nl\"],\"cca2\":\"NL\",\"ccn3\":\"528\",\"cca3\":\"NLD\",\"cioc\":\"NED\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"1\"]},\"capital\":[\"Amsterdam\"],\"altSpellings\":[\"NL\",\"Holland\",\"Nederland\",\"The Netherlands\"],\"region\":\"Europe\",\"subregion\":\"Western Europe\",\"landlocked\":false,\"borders\":[\"BEL\",\"DEU\"],\"area\":41865.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/Hv6zQswGhFxoVVBm6\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/47796\"},\"population\":18100436,\"fifa\":\"NED\",\"car\":{\"signs\":[\"NL\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF3\\uD83C\\uDDF1\",\"name\":{\"common\":\"Netherlands\",\"official\":\"Kingdom of the Netherlands\",\"nativeName\":{\"nld\":{\"official\":\"Koninkrijk der Nederlanden\",\"common\":\"Nederland\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"nld\":\"Dutch\"},\"latlng\":[52.5,5.75],\"demonyms\":{\"eng\":{\"f\":\"Dutch\",\"m\":\"Dutch\"},\"fra\":{\"f\":\"N\u00e9erlandaise\",\"m\":\"N\u00e9erlandais\"}},\"translations\":{\"ara\":{\"official\":\"\u0645\u0645\u0644\u0643\u0629 \u0647\u0648\u0644\u0646\u062f\u0627\",\"common\":\"\u0647\u0648\u0644\u0646\u062f\u0627\"},\"bre\":{\"official\":\"Rouantelezh an Izelvroio\u00f9\",\"common\":\"Izelvroio\u00f9\"},\"ces\":{\"official\":\"Nizozemsk\u00e9 kr\u00e1lovstv\u00ed\",\"common\":\"Nizozemsko\"},\"cym\":{\"official\":\"Kingdom of the Netherlands\",\"common\":\"Netherlands\"},\"deu\":{\"official\":\"Niederlande\",\"common\":\"Niederlande\"},\"est\":{\"official\":\"Madalmaade Kuningriik\",\"common\":\"Holland\"},\"fin\":{\"official\":\"Alankomaat\",\"common\":\"Alankomaat\"},\"fra\":{\"official\":\"Pays-Bas\",\"common\":\"Pays-Bas\"},\"hrv\":{\"official\":\"Holandija\",\"common\":\"Nizozemska\"},\"hun\":{\"official\":\"Holland Kir\u00e1lys\u00e1g\",\"common\":\"Hollandia\"},\"ind\":{\"official\":\"Kerajaan Belanda\",\"common\":\"Belanda\"},\"ita\":{\"official\":\"Paesi Bassi\",\"common\":\"Paesi Bassi\"},\"jpn\":{\"official\":\"\u30aa\u30e9\u30f3\u30c0\",\"common\":\"\u30aa\u30e9\u30f3\u30c0\"},\"kor\":{\"official\":\"\ub124\ub35c\ub780\ub4dc \uc655\uad6d\",\"common\":\"\ub124\ub35c\ub780\ub4dc\"},\"nld\":{\"official\":\"Nederland\",\"common\":\"Nederland\"},\"per\":{\"official\":\"\u0647\u0644\u0646\u062f\",\"common\":\"\u0647\u0644\u0646\u062f\"},\"pol\":{\"official\":\"Kr\u00f3lestwo Niderland\u00f3w\",\"common\":\"Holandia\"},\"por\":{\"official\":\"Holanda\",\"common\":\"Holanda\"},\"rus\":{\"official\":\"\u041d\u0438\u0434\u0435\u0440\u043b\u0430\u043d\u0434\u044b\",\"common\":\"\u041d\u0438\u0434\u0435\u0440\u043b\u0430\u043d\u0434\u044b\"},\"slk\":{\"official\":\"Holandsk\u00e9 kr\u00e1\u013eovstvo\",\"common\":\"Holansko\"},\"spa\":{\"official\":\"Pa\u00edses Bajos\",\"common\":\"Pa\u00edses Bajos\"},\"srp\":{\"official\":\"\u041a\u0440\u0430\u0459\u0435\u0432\u0438\u043d\u0430 \u0425\u043e\u043b\u0430\u043d\u0434\u0438\u0458\u0430\",\"common\":\"\u0425\u043e\u043b\u0430\u043d\u0434\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Nederl\u00e4nderna\",\"common\":\"Nederl\u00e4nderna\"},\"tur\":{\"official\":\"Hollanda\",\"common\":\"Hollanda\"},\"urd\":{\"official\":\"\u0645\u0645\u0644\u06a9\u062a\u0650 \u0646\u06cc\u062f\u0631\u0644\u06cc\u0646\u0688\u0632\",\"common\":\"\u0646\u06cc\u062f\u0631\u0644\u06cc\u0646\u0688\u0632\"},\"zho\":{\"official\":\"\u8377\u5170\",\"common\":\"\u8377\u5170\"}},\"gini\":{\"2018\":28.1},\"flags\":{\"png\":\"https://flagcdn.com/w320/nl.png\",\"svg\":\"https://flagcdn.com/nl.svg\",\"alt\":\"The flag of the Netherlands is composed of three equal horizontal bands of red, white and blue.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/nl.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/nl.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[52.35,4.92]},\"postalCode\":{\"format\":\"#### @@\",\"regex\":\"^(\\\\d{4}[A-Z]{2})$\"}},{\"tld\":[\".yt\"],\"cca2\":\"YT\",\"ccn3\":\"175\",\"cca3\":\"MYT\",\"independent\":false,\"status\":\"officially-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+2\",\"suffixes\":[\"62\"]},\"capital\":[\"Mamoudzou\"],\"altSpellings\":[\"YT\",\"Department of Mayotte\",\"D\u00e9partement de Mayotte\"],\"region\":\"Africa\",\"subregion\":\"Eastern Africa\",\"landlocked\":false,\"area\":374.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/1e7MXmfBwQv3TQGF7\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/1259885\"},\"population\":320901,\"car\":{\"signs\":[\"F\"],\"side\":\"right\"},\"timezones\":[\"UTC+03:00\"],\"continents\":[\"Africa\"],\"flag\":\"\\uD83C\\uDDFE\\uD83C\\uDDF9\",\"name\":{\"common\":\"Mayotte\",\"official\":\"Department of Mayotte\",\"nativeName\":{\"fra\":{\"official\":\"D\u00e9partement de Mayotte\",\"common\":\"Mayotte\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"fra\":\"French\"},\"latlng\":[-12.83333333,45.16666666],\"demonyms\":{\"eng\":{\"f\":\"Mahoran\",\"m\":\"Mahoran\"},\"fra\":{\"f\":\"Mahoraise\",\"m\":\"Mahorais\"}},\"translations\":{\"ara\":{\"official\":\"\u0645\u0627\u064a\u0648\u062a\",\"common\":\"\u0645\u0627\u064a\u0648\u062a\"},\"bre\":{\"official\":\"Departamant Mayotte\",\"common\":\"Mayotte\"},\"ces\":{\"official\":\"Mayotte\",\"common\":\"Mayotte\"},\"cym\":{\"official\":\"Department of Mayotte\",\"common\":\"Mayotte\"},\"deu\":{\"official\":\"\u00dcbersee-D\u00e9partement Mayotte\",\"common\":\"Mayotte\"},\"est\":{\"official\":\"Mayotte\",\"common\":\"Mayotte\"},\"fin\":{\"official\":\"Mayotte\",\"common\":\"Mayotte\"},\"fra\":{\"official\":\"D\u00e9partement de Mayotte\",\"common\":\"Mayotte\"},\"hrv\":{\"official\":\"Odjel Mayotte\",\"common\":\"Mayotte\"},\"hun\":{\"official\":\"Mayotte\",\"common\":\"Mayotte\"},\"ind\":{\"official\":\"Region Mayotte\",\"common\":\"Mayotte\"},\"ita\":{\"official\":\"Dipartimento di Mayotte\",\"common\":\"Mayotte\"},\"jpn\":{\"official\":\"\u30de\u30e8\u30c3\u30c8\u79d1\",\"common\":\"\u30de\u30e8\u30c3\u30c8\"},\"kor\":{\"official\":\"\ub9c8\uc694\ud2b8\",\"common\":\"\ub9c8\uc694\ud2b8\"},\"nld\":{\"official\":\"Afdeling Mayotte\",\"common\":\"Mayotte\"},\"per\":{\"official\":\"\u0645\u062c\u0645\u0648\u0639\u0647 \u0634\u0647\u0631\u0633\u062a\u0627\u0646\u06cc \u0645\u0627\u06cc\u0648\u062a\",\"common\":\"\u0645\u0627\u06cc\u0648\u062a\"},\"pol\":{\"official\":\"Majotta\",\"common\":\"Majotta\"},\"por\":{\"official\":\"Departamento de Mayotte\",\"common\":\"Mayotte\"},\"rus\":{\"official\":\"\u0414\u0435\u043f\u0430\u0440\u0442\u0430\u043c\u0435\u043d\u0442 \u041c\u0430\u0439\u043e\u0442\u0442\u0430\",\"common\":\"\u041c\u0430\u0439\u043e\u0442\u0442\u0430\"},\"slk\":{\"official\":\"Department Mayotte\",\"common\":\"Mayotte\"},\"spa\":{\"official\":\"Departamento de Mayotte\",\"common\":\"Mayotte\"},\"srp\":{\"official\":\"\u041c\u0430\u0458\u043e\u0442\",\"common\":\"\u041c\u0430\u0458\u043e\u0442\"},\"swe\":{\"official\":\"Departementsomr\u00e5det Mayotte\",\"common\":\"Mayotte\"},\"tur\":{\"official\":\"Mayotte\",\"common\":\"Mayotte\"},\"urd\":{\"official\":\"\u0645\u0627\u06cc\u0648\u0679\",\"common\":\"\u0645\u0627\u06cc\u0648\u0679\"},\"zho\":{\"official\":\"\u9a6c\u7ea6\u7279\",\"common\":\"\u9a6c\u7ea6\u7279\"}},\"flags\":{\"png\":\"https://flagcdn.com/w320/yt.png\",\"svg\":\"https://flagcdn.com/yt.svg\",\"alt\":\"The flag of Mayotte bears a white field with the national coat of arms in the center and the country's name in red above it. The coat of arms consists of a shield supported by two seahorses and the national motto in a banner below it. The shield has a white fringe and bears a blue field with an upwards-facing white crescent on the top half and a red field with two yellow ylang-ylang flowers on the bottom half.\"},\"coatOfArms\":{},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[-12.78,45.22]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(\\\\d{5})$\"}},{\"tld\":[\".me\"],\"cca2\":\"ME\",\"ccn3\":\"499\",\"cca3\":\"MNE\",\"cioc\":\"MNE\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"82\"]},\"capital\":[\"Podgorica\"],\"altSpellings\":[\"ME\",\"Crna Gora\"],\"region\":\"Europe\",\"subregion\":\"Southeast Europe\",\"landlocked\":false,\"borders\":[\"ALB\",\"BIH\",\"HRV\",\"UNK\",\"SRB\"],\"area\":13812.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/4THX1fM7WqANuPbB8\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/53296\"},\"population\":623327,\"fifa\":\"MNE\",\"car\":{\"signs\":[\"SCG\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF2\\uD83C\\uDDEA\",\"name\":{\"common\":\"Montenegro\",\"official\":\"Montenegro\",\"nativeName\":{\"cnr\":{\"official\":\"\u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430\",\"common\":\"\u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"cnr\":\"Montenegrin\"},\"latlng\":[42.5,19.3],\"demonyms\":{\"eng\":{\"f\":\"Montenegrin\",\"m\":\"Montenegrin\"},\"fra\":{\"f\":\"Mont\u00e9n\u00e9grine\",\"m\":\"Mont\u00e9n\u00e9grin\"}},\"translations\":{\"ara\":{\"official\":\"\u0627\u0644\u062c\u0628\u0644 \u0627\u0644\u0627\u0633\u0648\u062f\",\"common\":\"\u0627\u0644\u062c\u0628\u0644 \u0627\u0644\u0627\u0633\u0648\u062f\"},\"bre\":{\"official\":\"Republik Montenegro\",\"common\":\"Montenegro\"},\"ces\":{\"official\":\"\u010cern\u00e1 Hora\",\"common\":\"\u010cern\u00e1 Hora\"},\"cym\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"deu\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"est\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"fin\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"fra\":{\"official\":\"Mont\u00e9n\u00e9gro\",\"common\":\"Mont\u00e9n\u00e9gro\"},\"hrv\":{\"official\":\"Crna Gora\",\"common\":\"Crna Gora\"},\"hun\":{\"official\":\"Montenegr\u00f3\",\"common\":\"Montenegr\u00f3\"},\"ind\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"ita\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"jpn\":{\"official\":\"\u30e2\u30f3\u30c6\u30cd\u30b0\u30ed\",\"common\":\"\u30e2\u30f3\u30c6\u30cd\u30b0\u30ed\"},\"kor\":{\"official\":\"\ubaac\ud14c\ub124\uadf8\ub85c\",\"common\":\"\ubaac\ud14c\ub124\uadf8\ub85c\"},\"nld\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"per\":{\"official\":\"\u0645\u0648\u0646\u062a\u0647\u200c\u0646\u06af\u0631\u0648\",\"common\":\"\u0645\u0648\u0646\u062a\u0647\u200c\u0646\u06af\u0631\u0648\"},\"pol\":{\"official\":\"Czarnog\u00f3ra\",\"common\":\"Czarnog\u00f3ra\"},\"por\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"rus\":{\"official\":\"\u0427\u0435\u0440\u043d\u043e\u0433\u043e\u0440\u0438\u044f\",\"common\":\"\u0427\u0435\u0440\u043d\u043e\u0433\u043e\u0440\u0438\u044f\"},\"slk\":{\"official\":\"\u010cierna Hora\",\"common\":\"\u010cierna Hora\"},\"spa\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"srp\":{\"official\":\"\u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430\",\"common\":\"\u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430\"},\"swe\":{\"official\":\"Montenegro\",\"common\":\"Montenegro\"},\"tur\":{\"official\":\"Karada\u011f\",\"common\":\"Karada\u011f\"},\"urd\":{\"official\":\"\u0645\u0648\u0646\u0679\u06cc\u0646\u06cc\u06af\u0631\u0648\",\"common\":\"\u0645\u0648\u0646\u0679\u06cc\u0646\u06cc\u06af\u0631\u0648\"},\"zho\":{\"official\":\"\u9ed1\u5c71\",\"common\":\"\u9ed1\u5c71\"}},\"gini\":{\"2016\":38.5},\"flags\":{\"png\":\"https://flagcdn.com/w320/me.png\",\"svg\":\"https://flagcdn.com/me.svg\",\"alt\":\"The flag of Montenegro features a large red central rectangular area surrounded by a golden-yellow border. The coat of arms of Montenegro is centered in the red rectangle.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/me.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/me.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[42.43,19.27]},\"postalCode\":{\"format\":\"#####\",\"regex\":\"^(\\\\d{5})$\"}},{\"tld\":[\".fr\",\".gp\"],\"cca2\":\"MF\",\"ccn3\":\"663\",\"cca3\":\"MAF\",\"independent\":false,\"status\":\"officially-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+5\",\"suffixes\":[\"90\"]},\"capital\":[\"Marigot\"],\"altSpellings\":[\"MF\",\"Collectivity of Saint Martin\",\"Collectivit\u00e9 de Saint-Martin\",\"Saint Martin (French part)\"],\"region\":\"Americas\",\"subregion\":\"Caribbean\",\"landlocked\":false,\"borders\":[\"SXM\"],\"area\":53.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/P9ho9QuJ9EAR28JEA\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/63064\"},\"population\":31496,\"car\":{\"signs\":[\"F\"],\"side\":\"right\"},\"timezones\":[\"UTC-04:00\"],\"continents\":[\"North America\"],\"flag\":\"\\uD83C\\uDDF2\\uD83C\\uDDEB\",\"name\":{\"common\":\"Saint Martin\",\"official\":\"Saint Martin\",\"nativeName\":{\"fra\":{\"official\":\"Saint-Martin\",\"common\":\"Saint-Martin\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"fra\":\"French\"},\"latlng\":[18.0708,-63.0501],\"demonyms\":{\"eng\":{\"f\":\"Saint Martin Islander\",\"m\":\"Saint Martin Islander\"},\"fra\":{\"f\":\"Saint-Martinoise\",\"m\":\"Saint-Martinois\"}},\"translations\":{\"ara\":{\"official\":\"\u0633\u0627\u0646\u062a \u0645\u0627\u0631\u062a\u0646\",\"common\":\"\u0633\u0627\u0646\u062a \u0645\u0627\u0631\u062a\u0646\"},\"bre\":{\"official\":\"Saint-Martin\",\"common\":\"Saint-Martin\"},\"ces\":{\"official\":\"Svat\u00fd Martin\",\"common\":\"Svat\u00fd Martin (Francie)\"},\"cym\":{\"official\":\"Saint Martin\",\"common\":\"Saint Martin\"},\"deu\":{\"official\":\"Saint-Martin\",\"common\":\"Saint-Martin\"},\"est\":{\"official\":\"Saint-Martini \u00fchendus\",\"common\":\"Saint-Martin\"},\"fin\":{\"official\":\"Saint-Martin\",\"common\":\"Saint-Martin\"},\"fra\":{\"official\":\"Saint-Martin\",\"common\":\"Saint-Martin\"},\"hrv\":{\"official\":\"Saint Martin\",\"common\":\"Sveti Martin\"},\"hun\":{\"official\":\"Saint-Martin K\u00f6z\u00f6ss\u00e9g\",\"common\":\"Saint-Martin\"},\"ind\":{\"official\":\"Saint Martin\",\"common\":\"Saint Martin\"},\"ita\":{\"official\":\"saint Martin\",\"common\":\"Saint Martin\"},\"jpn\":{\"official\":\"\u30b5\u30f3\u30de\u30eb\u30bf\u30f3\u5cf6\",\"common\":\"\u30b5\u30f3\u30fb\u30de\u30eb\u30bf\u30f3\uff08\u30d5\u30e9\u30f3\u30b9\u9818\uff09\"},\"kor\":{\"official\":\"\uc0dd\ub9c8\ub974\ud0f1\",\"common\":\"\uc0dd\ub9c8\ub974\ud0f1\"},\"nld\":{\"official\":\"Saint Martin\",\"common\":\"Saint-Martin\"},\"per\":{\"official\":\"\u0633\u0646 \u0645\u0627\u0631\u062a\u0646\",\"common\":\"\u0633\u0646 \u0645\u0627\u0631\u062a\u0646\"},\"pol\":{\"official\":\"Wsp\u00f3lnota Saint-Martin\",\"common\":\"Saint-Martin\"},\"por\":{\"official\":\"saint Martin\",\"common\":\"S\u00e3o Martinho\"},\"rus\":{\"official\":\"\u0421\u0435\u043d-\u041c\u0430\u0440\u0442\u0435\u043d\",\"common\":\"\u0421\u0435\u043d-\u041c\u0430\u0440\u0442\u0435\u043d\"},\"slk\":{\"official\":\"Saint-Martin\",\"common\":\"Saint-Martin\"},\"spa\":{\"official\":\"Saint Martin\",\"common\":\"Saint Martin\"},\"srp\":{\"official\":\"\u0421\u0432\u0435\u0442\u0438 \u041c\u0430\u0440\u0442\u0438\u043d\",\"common\":\"\u0421\u0432\u0435\u0442\u0438 \u041c\u0430\u0440\u0442\u0438\u043d\"},\"swe\":{\"official\":\"F\u00f6rvaltningsomr\u00e5det Saint-Martin\",\"common\":\"Saint-Martin\"},\"tur\":{\"official\":\"Saint Martin\",\"common\":\"Saint Martin\"},\"urd\":{\"official\":\"\u0633\u06cc\u0646\u0679 \u0645\u0627\u0631\u0679\u0646\",\"common\":\"\u0633\u06cc\u0646\u0679 \u0645\u0627\u0631\u0679\u0646\"},\"zho\":{\"official\":\"\u5723\u9a6c\u4e01\",\"common\":\"\u5723\u9a6c\u4e01\"}},\"flags\":{\"png\":\"https://flagcdn.com/w320/mf.png\",\"svg\":\"https://flagcdn.com/mf.svg\",\"alt\":\"The flag of Saint Martin is composed of three equal vertical bands of blue, white and red.\"},\"coatOfArms\":{},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[18.07,-63.08]},\"postalCode\":{\"format\":\"### ###\",\"regex\":null}},{\"cca2\":\"XK\",\"cca3\":\"UNK\",\"cioc\":\"KOS\",\"independent\":true,\"status\":\"user-assigned\",\"unMember\":false,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"83\"]},\"capital\":[\"Pristina\"],\"altSpellings\":[\"XK\",\"\u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041a\u043e\u0441\u043e\u0432\u043e\"],\"region\":\"Europe\",\"subregion\":\"Southeast Europe\",\"landlocked\":true,\"borders\":[\"ALB\",\"MKD\",\"MNE\",\"SRB\"],\"area\":10908.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/CSC4Yc8SWPgburuD9\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/2088990\"},\"population\":1585566,\"fifa\":\"KVX\",\"car\":{\"signs\":[\"CS\"],\"side\":\"right\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDFD\\uD83C\\uDDF0\",\"name\":{\"common\":\"Kosovo\",\"official\":\"Republic of Kosovo\",\"nativeName\":{\"sqi\":{\"official\":\"Republika e Kosov\u00ebs\",\"common\":\"Kosova\"},\"srp\":{\"official\":\"\u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041a\u043e\u0441\u043e\u0432\u043e\",\"common\":\"\u041a\u043e\u0441\u043e\u0432\u043e\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"sqi\":\"Albanian\",\"srp\":\"Serbian\"},\"latlng\":[42.666667,21.166667],\"demonyms\":{\"eng\":{\"f\":\"Kosovar\",\"m\":\"Kosovar\"},\"fra\":{\"f\":\"Kosovare\",\"m\":\"Kosovar\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0643\u0648\u0633\u0648\u0641\u0648\",\"common\":\"\u0643\u0648\u0633\u0648\u0641\u0648\"},\"bre\":{\"official\":\"Republik Kosovo\",\"common\":\"Kosovo\"},\"ces\":{\"official\":\"Kosovsk\u00e1 republika\",\"common\":\"Kosovo\"},\"cym\":{\"official\":\"Republic of Kosovo\",\"common\":\"Kosovo\"},\"deu\":{\"official\":\"Republik Kosovo\",\"common\":\"Kosovo\"},\"est\":{\"official\":\"Kosovo Vabariik\",\"common\":\"Kosovo\"},\"fin\":{\"official\":\"Kosovon tasavalta\",\"common\":\"Kosovo\"},\"fra\":{\"official\":\"R\u00e9publique du Kosovo\",\"common\":\"Kosovo\"},\"hrv\":{\"official\":\"Republika Kosovo\",\"common\":\"Kosovo\"},\"hun\":{\"official\":\"Koszov\u00f3\",\"common\":\"Koszov\u00f3\"},\"ind\":{\"official\":\"Republik Kosovo\",\"common\":\"Kosovo\"},\"ita\":{\"official\":\"Repubblica del Kosovo\",\"common\":\"Kosovo\"},\"kor\":{\"official\":\"\ucf54\uc18c\ubcf4 \uacf5\ud654\uad6d\",\"common\":\"\ucf54\uc18c\ubcf4\"},\"nld\":{\"official\":\"Republiek Kosovo\",\"common\":\"Kosovo\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u06a9\u0648\u0632\u0648\u0648\",\"common\":\"\u06a9\u0648\u0632\u0648\u0648\"},\"pol\":{\"official\":\"Republika Kosowa\",\"common\":\"Kosowo\"},\"por\":{\"official\":\"Rep\u00fablica do Kosovo\",\"common\":\"Kosovo\"},\"rus\":{\"official\":\"\u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041a\u043e\u0441\u043e\u0432\u043e\",\"common\":\"\u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041a\u043e\u0441\u043e\u0432\u043e\"},\"slk\":{\"official\":\"Republika Kosovo\",\"common\":\"Kosovo\"},\"spa\":{\"official\":\"Rep\u00fablica de Kosovo\",\"common\":\"Kosovo\"},\"srp\":{\"official\":\"\u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041a\u043e\u0441\u043e\u0432\u043e\",\"common\":\"\u041a\u043e\u0441\u043e\u0432\u043e\"},\"swe\":{\"official\":\"Republiken Kosovo\",\"common\":\"Kosovo\"},\"tur\":{\"official\":\"Kosova Cumhuriyeti\",\"common\":\"Kosova\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u06a9\u0648\u0633\u0648\u0648\u06c1\",\"common\":\"\u06a9\u0648\u0633\u0648\u0648\u06c1\"},\"zho\":{\"official\":\"\u79d1\u7d22\u6c83\u5171\u548c\u56fd\",\"common\":\"\u79d1\u7d22\u6c83\"}},\"gini\":{\"2017\":29.0},\"flags\":{\"png\":\"https://flagcdn.com/w320/xk.png\",\"svg\":\"https://flagcdn.com/xk.svg\",\"alt\":\"The flag of Kosovo has a dark blue field with a gold-colored silhouette of the country in the center, with six five-pointed white stars in a slight arc over it.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/xk.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/xk.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[42.67,21.17]},\"postalCode\":{\"format\":null,\"regex\":null}},{\"tld\":[\".mt\"],\"cca2\":\"MT\",\"ccn3\":\"470\",\"cca3\":\"MLT\",\"cioc\":\"MLT\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"56\"]},\"capital\":[\"Valletta\"],\"altSpellings\":[\"MT\",\"Republic of Malta\",\"Repubblika ta' Malta\"],\"region\":\"Europe\",\"subregion\":\"Southern Europe\",\"landlocked\":false,\"area\":316.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/skXCqguxDxxEKVk47\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/365307\"},\"population\":574250,\"fifa\":\"MLT\",\"car\":{\"signs\":[\"M\"],\"side\":\"left\"},\"timezones\":[\"UTC+01:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF2\\uD83C\\uDDF9\",\"name\":{\"common\":\"Malta\",\"official\":\"Republic of Malta\",\"nativeName\":{\"eng\":{\"official\":\"Republic of Malta\",\"common\":\"Malta\"},\"mlt\":{\"official\":\"Repubblika ta ' Malta\",\"common\":\"Malta\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"eng\":\"English\",\"mlt\":\"Maltese\"},\"latlng\":[35.9375,14.3754],\"demonyms\":{\"eng\":{\"f\":\"Maltese\",\"m\":\"Maltese\"},\"fra\":{\"f\":\"Maltaise\",\"m\":\"Maltais\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0645\u0627\u0644\u0637\u0627\",\"common\":\"\u0645\u0627\u0644\u0637\u0627\"},\"bre\":{\"official\":\"Republik Malta\",\"common\":\"Malta\"},\"ces\":{\"official\":\"Maltsk\u00e1 republika\",\"common\":\"Malta\"},\"cym\":{\"official\":\"Republic of Malta\",\"common\":\"Malta\"},\"deu\":{\"official\":\"Republik Malta\",\"common\":\"Malta\"},\"est\":{\"official\":\"Malta Vabariik\",\"common\":\"Malta\"},\"fin\":{\"official\":\"Maltan tasavalta\",\"common\":\"Malta\"},\"fra\":{\"official\":\"R\u00e9publique de Malte\",\"common\":\"Malte\"},\"hrv\":{\"official\":\"Republika Malta\",\"common\":\"Malta\"},\"hun\":{\"official\":\"M\u00e1ltai K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"M\u00e1lta\"},\"ind\":{\"official\":\"Republik Malta\",\"common\":\"Malta\"},\"ita\":{\"official\":\"Repubblica di Malta\",\"common\":\"Malta\"},\"jpn\":{\"official\":\"\u30de\u30eb\u30bf\u5171\u548c\u56fd\",\"common\":\"\u30de\u30eb\u30bf\"},\"kor\":{\"official\":\"\ubab0\ud0c0 \uacf5\ud654\uad6d\",\"common\":\"\ubab0\ud0c0\"},\"nld\":{\"official\":\"Republiek Malta\",\"common\":\"Malta\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u0645\u0627\u0644\u062a\",\"common\":\"\u0645\u0627\u0644\u062a\"},\"pol\":{\"official\":\"Republika Malty\",\"common\":\"Malta\"},\"por\":{\"official\":\"Rep\u00fablica de Malta\",\"common\":\"Malta\"},\"rus\":{\"official\":\"\u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041c\u0430\u043b\u044c\u0442\u0430\",\"common\":\"\u041c\u0430\u043b\u044c\u0442\u0430\"},\"slk\":{\"official\":\"Maltsk\u00e1 republika\",\"common\":\"Malta\"},\"spa\":{\"official\":\"Rep\u00fablica de Malta\",\"common\":\"Malta\"},\"srp\":{\"official\":\" \u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430 \u041c\u0430\u043b\u0442\u0430\",\"common\":\"\u041c\u0430\u043b\u0442\u0430\"},\"swe\":{\"official\":\"Republiken Malta\",\"common\":\"Malta\"},\"tur\":{\"official\":\"Malta Cumhuriyeti\",\"common\":\"Malta\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u0645\u0627\u0644\u0679\u0627\",\"common\":\"\u0645\u0627\u0644\u0679\u0627\"},\"zho\":{\"official\":\"\u9a6c\u8033\u4ed6\u5171\u548c\u56fd\",\"common\":\"\u9a6c\u8033\u4ed6\"}},\"gini\":{\"2018\":28.7},\"flags\":{\"png\":\"https://flagcdn.com/w320/mt.png\",\"svg\":\"https://flagcdn.com/mt.svg\",\"alt\":\"The flag of Malta is composed of two equal vertical bands of white and red. A representation of the George cross edged in red is situated on the upper hoist-side corner of the white band.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/mt.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/mt.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[35.88,14.5]},\"postalCode\":{\"format\":\"@@@ ###|@@@ ##\",\"regex\":\"^([A-Z]{3}\\\\d{2}\\\\d?)$\"}},{\"tld\":[\".lt\"],\"cca2\":\"LT\",\"ccn3\":\"440\",\"cca3\":\"LTU\",\"cioc\":\"LTU\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"70\"]},\"capital\":[\"Vilnius\"],\"altSpellings\":[\"LT\",\"Republic of Lithuania\",\"Lietuvos Respublika\"],\"region\":\"Europe\",\"subregion\":\"Northern Europe\",\"landlocked\":false,\"borders\":[\"BLR\",\"LVA\",\"POL\",\"RUS\"],\"area\":65300.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/dd1s9rrLjrK2G8yY6\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/72596\"},\"population\":2894886,\"fifa\":\"LTU\",\"car\":{\"signs\":[\"LT\"],\"side\":\"right\"},\"timezones\":[\"UTC+02:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDF1\\uD83C\\uDDF9\",\"name\":{\"common\":\"Lithuania\",\"official\":\"Republic of Lithuania\",\"nativeName\":{\"lit\":{\"official\":\"Lietuvos Respublikos\",\"common\":\"Lietuva\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"lit\":\"Lithuanian\"},\"latlng\":[56.0,24.0],\"demonyms\":{\"eng\":{\"f\":\"Lithuanian\",\"m\":\"Lithuanian\"},\"fra\":{\"f\":\"Lituanienne\",\"m\":\"Lituanien\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0644\u064a\u062a\u0648\u0627\u0646\u064a\u0627\",\"common\":\"\u0644\u064a\u062a\u0648\u0627\u0646\u064a\u0627\"},\"bre\":{\"official\":\"Republik Lituania\",\"common\":\"Lituania\"},\"ces\":{\"official\":\"Litevsk\u00e1 republika\",\"common\":\"Litva\"},\"cym\":{\"official\":\"Republic of Lithuania\",\"common\":\"Lithuania\"},\"deu\":{\"official\":\"Republik Litauen\",\"common\":\"Litauen\"},\"est\":{\"official\":\"Leedu Vabariik\",\"common\":\"Leedu\"},\"fin\":{\"official\":\"Liettuan tasavalta\",\"common\":\"Liettua\"},\"fra\":{\"official\":\"R\u00e9publique de Lituanie\",\"common\":\"Lituanie\"},\"hrv\":{\"official\":\"Republika Litva\",\"common\":\"Litva\"},\"hun\":{\"official\":\"Litv\u00e1n K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"Litv\u00e1nia\"},\"ind\":{\"official\":\"Republik Lituania\",\"common\":\"Lituania\"},\"ita\":{\"official\":\"Repubblica di Lituania\",\"common\":\"Lituania\"},\"jpn\":{\"official\":\"\u30ea\u30c8\u30a2\u30cb\u30a2\u5171\u548c\u56fd\",\"common\":\"\u30ea\u30c8\u30a2\u30cb\u30a2\"},\"kor\":{\"official\":\"\ub9ac\ud22c\uc544\ub2c8\uc544 \uacf5\ud654\uad6d\",\"common\":\"\ub9ac\ud22c\uc544\ub2c8\uc544\"},\"nld\":{\"official\":\"Republiek Litouwen\",\"common\":\"Litouwen\"},\"per\":{\"official\":\"\u0644\u06cc\u062a\u0648\u0627\u0646\u06cc\u0627\u06cc\u06cc\u200c\u0647\u0627\",\"common\":\"\u0644\u06cc\u062a\u0648\u0627\u0646\u06cc\u0627\u06cc\u06cc\u200c\u0647\u0627\"},\"pol\":{\"official\":\"Republika Litewska\",\"common\":\"Litwa\"},\"por\":{\"official\":\"Rep\u00fablica da Litu\u00e2nia\",\"common\":\"Litu\u00e2nia\"},\"rus\":{\"official\":\"\u041b\u0438\u0442\u043e\u0432\u0441\u043a\u0430\u044f \u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u041b\u0438\u0442\u0432\u0430\"},\"slk\":{\"official\":\"Litovsk\u00e1 republika\",\"common\":\"Litva\"},\"spa\":{\"official\":\"Rep\u00fablica de Lituania\",\"common\":\"Lituania\"},\"srp\":{\"official\":\"\u041b\u0438\u0442\u0432\u0430\u043d\u0441\u043a\u0430 \u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u041b\u0438\u0442\u0432\u0430\u043d\u0438\u0458\u0430\"},\"swe\":{\"official\":\"Republiken Litauen\",\"common\":\"Litauen\"},\"tur\":{\"official\":\"Litvanya Cumhuriyeti\",\"common\":\"Litvanya\"},\"urd\":{\"official\":\"\u062c\u0645\u06c1\u0648\u0631\u06cc\u06c1 \u0644\u062a\u06be\u0648\u0648\u06cc\u0646\u06cc\u0627\",\"common\":\"\u0644\u062a\u06be\u0648\u0648\u06cc\u0646\u06cc\u0627\"},\"zho\":{\"official\":\"\u7acb\u9676\u5b9b\u5171\u548c\u56fd\",\"common\":\"\u7acb\u9676\u5b9b\"}},\"gini\":{\"2018\":35.7},\"flags\":{\"png\":\"https://flagcdn.com/w320/lt.png\",\"svg\":\"https://flagcdn.com/lt.svg\",\"alt\":\"The flag of Lithuania is composed of three equal horizontal bands of yellow, green and red.\"},\"coatOfArms\":{\"png\":\"https://mainfacts.com/media/images/coats_of_arms/lt.png\",\"svg\":\"https://mainfacts.com/media/images/coats_of_arms/lt.svg\"},\"startOfWeek\":\"monday\",\"capitalInfo\":{\"latlng\":[54.68,25.32]},\"postalCode\":{\"format\":\"LT-#####\",\"regex\":\"^(?:LT)*(\\\\d{5})$\"}},{\"tld\":[\".ee\"],\"cca2\":\"EE\",\"ccn3\":\"233\",\"cca3\":\"EST\",\"cioc\":\"EST\",\"independent\":true,\"status\":\"officially-assigned\",\"unMember\":true,\"idd\":{\"root\":\"+3\",\"suffixes\":[\"72\"]},\"capital\":[\"Tallinn\"],\"altSpellings\":[\"EE\",\"Eesti\",\"Republic of Estonia\",\"Eesti Vabariik\"],\"region\":\"Europe\",\"subregion\":\"Northern Europe\",\"landlocked\":false,\"borders\":[\"LVA\",\"RUS\"],\"area\":45227.0,\"maps\":{\"googleMaps\":\"https://goo.gl/maps/6SsynwGUodL1sDvq8\",\"openStreetMaps\":\"https://www.openstreetmap.org/relation/79510\"},\"population\":1369995,\"fifa\":\"EST\",\"car\":{\"signs\":[\"EST\"],\"side\":\"right\"},\"timezones\":[\"UTC+02:00\"],\"continents\":[\"Europe\"],\"flag\":\"\\uD83C\\uDDEA\\uD83C\\uDDEA\",\"name\":{\"common\":\"Estonia\",\"official\":\"Republic of Estonia\",\"nativeName\":{\"est\":{\"official\":\"Eesti Vabariik\",\"common\":\"Eesti\"}}},\"currencies\":{\"EUR\":{\"symbol\":\"\u20ac\",\"name\":\"euro\"}},\"languages\":{\"est\":\"Estonian\"},\"latlng\":[59.0,26.0],\"demonyms\":{\"eng\":{\"f\":\"Estonian\",\"m\":\"Estonian\"},\"fra\":{\"f\":\"Estonienne\",\"m\":\"Estonien\"}},\"translations\":{\"ara\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u064a\u0629 \u0625\u0633\u062a\u0648\u0646\u064a\u0627\",\"common\":\"\u0625\u0633\u062a\u0648\u0646\u064a\u0627\"},\"bre\":{\"official\":\"Republik Estonia\",\"common\":\"Estonia\"},\"ces\":{\"official\":\"Estonsk\u00e1 republika\",\"common\":\"Estonsko\"},\"cym\":{\"official\":\"Gweriniaeth Estonia\",\"common\":\"Estonia\"},\"deu\":{\"official\":\"Republik Estland\",\"common\":\"Estland\"},\"est\":{\"official\":\"Eesti Vabariik\",\"common\":\"Eesti\"},\"fin\":{\"official\":\"Viron tasavalta\",\"common\":\"Viro\"},\"fra\":{\"official\":\"R\u00e9publique d'Estonie\",\"common\":\"Estonie\"},\"hrv\":{\"official\":\"Republika Estonija\",\"common\":\"Estonija\"},\"hun\":{\"official\":\"\u00c9szt K\u00f6zt\u00e1rsas\u00e1g\",\"common\":\"\u00c9sztorsz\u00e1g\"},\"ind\":{\"official\":\"Republik Estonia\",\"common\":\"Estonia\"},\"ita\":{\"official\":\"Repubblica di Estonia\",\"common\":\"Estonia\"},\"jpn\":{\"official\":\"\u30a8\u30b9\u30c8\u30cb\u30a2\u5171\u548c\u56fd\",\"common\":\"\u30a8\u30b9\u30c8\u30cb\u30a2\"},\"kor\":{\"official\":\"\uc5d0\uc2a4\ud1a0\ub2c8\uc544 \uacf5\ud654\uad6d\",\"common\":\"\uc5d0\uc2a4\ud1a0\ub2c8\uc544\"},\"nld\":{\"official\":\"Republiek Estland\",\"common\":\"Estland\"},\"per\":{\"official\":\"\u062c\u0645\u0647\u0648\u0631\u06cc \u0627\u0633\u062a\u0648\u0646\u06cc\",\"common\":\"\u0627\u0650\u0633\u062a\u0648\u0646\u06cc\"},\"pol\":{\"official\":\"Republika Esto\u0144ska\",\"common\":\"Estonia\"},\"por\":{\"official\":\"Rep\u00fablica da Est\u00f3nia\",\"common\":\"Est\u00f3nia\"},\"rus\":{\"official\":\"\u042d\u0441\u0442\u043e\u043d\u0441\u043a\u0430\u044f \u0420\u0435\u0441\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u042d\u0441\u0442\u043e\u043d\u0438\u044f\"},\"slk\":{\"official\":\"Est\u00f3nska republika\",\"common\":\"Est\u00f3nsko\"},\"spa\":{\"official\":\"Rep\u00fablica de Estonia\",\"common\":\"Estonia\"},\"srp\":{\"official\":\"\u0415\u0441\u0442\u043e\u043d\u0441\u043a\u0430 \u0420\u0435\u043f\u0443\u0431\u043b\u0438\u043a\u0430\",\"common\":\"\u0415\u0441\u0442\u043e\u043d\u0438\u0458\u0430\"
[...]
