{
    "openapi": "3.1.0",
    "info": {
        "title": "Weather API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average GET route discovery rate of 85.05% and query parameter discovery rate of 81.05%. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The Weather API provides real-time and forecasted weather data for locations around the world.",
        "termsOfService": "https://www.weatherapi.com/terms.aspx",
        "contact": {
            "name": "Weather API Contact",
            "url": "",
            "email": "contact@weatherapi.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.openweathermap.org",
            "description": "Production Server of the Weather API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.weatherapi.com/docs",
        "description": "Find more about the Weather API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/current": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "lat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "appid",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "abcdef123456": {
                                "value": "abcdef123456"
                            }
                        }
                    },
                    {
                        "name": "exclude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "minutely": {
                                "value": "minutely"
                            }
                        }
                    },
                    {
                        "name": "hourly",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "daily",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_current"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/forecast": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "days",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "7": {
                                "value": "7"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "now": {
                                "value": "now"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "appid",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234567890": {
                                "value": "1234567890"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_forecast"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/alerts": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York+City": {
                                "value": "New+York+City"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zip_code",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country_code",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "min_severity",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "moderate": {
                                "value": "moderate"
                            }
                        }
                    },
                    {
                        "name": "start_time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2023-10-31T08:00:00": {
                                "value": "2023-10-31T08:00:00"
                            }
                        }
                    },
                    {
                        "name": "end_time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2023-11-01T20:00:00": {
                                "value": "2023-11-01T20:00:00"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fire": {
                                "value": "fire"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_alerts"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/historical": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-03-15": {
                                "value": "2022-03-15"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_historical"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/hourly": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_hourly"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/daily": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            },
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-05-15": {
                                "value": "2022-05-15"
                            },
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "forecast",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "7": {
                                "value": "7"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "humidity",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "wind_speed",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "longitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "-74.0060": {
                                "value": "-74.0060"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "temperature_units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "F": {
                                "value": "F"
                            }
                        }
                    },
                    {
                        "name": "wind_speed_units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "MPH": {
                                "value": "MPH"
                            }
                        }
                    },
                    {
                        "name": "humidity_threshold",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "forecast_days",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "7": {
                                "value": "7"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_daily"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/conditions": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_conditions"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/radar": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_radar"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/satellite": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_satellite"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/airquality": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-10-10": {
                                "value": "2022-10-10"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "longitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "-74.0060": {
                                "value": "-74.0060"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "forecast",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hourly": {
                                "value": "hourly"
                            }
                        }
                    },
                    {
                        "name": "aqi",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_airquality"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "lat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "appid",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "abcdef123456": {
                                "value": "abcdef123456"
                            }
                        }
                    },
                    {
                        "name": "exclude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hourly": {
                                "value": "hourly"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "London": {
                                "value": "London"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2172797": {
                                "value": "2172797"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_id"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/history": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_history"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/air-quality": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_air-quality"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/sunrise-sunset": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_sunrise-sunset"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/maps": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "timeZone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EST": {
                                "value": "EST"
                            }
                        }
                    },
                    {
                        "name": "forecast",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7day": {
                                "value": "7day"
                            }
                        }
                    },
                    {
                        "name": "hourly",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "alerts",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_maps"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        },
        "/storm": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "day",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "today": {
                                "value": "today"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "forecast",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hourly": {
                                "value": "hourly"
                            }
                        }
                    },
                    {
                        "name": "alerts",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_storm"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema": {},
            "ResponseSchema_current": {},
            "ResponseSchema_forecast": {},
            "ResponseSchema_alerts": {},
            "ResponseSchema_historical": {},
            "ResponseSchema_hourly": {},
            "ResponseSchema_daily": {},
            "ResponseSchema_conditions": {},
            "ResponseSchema_radar": {},
            "ResponseSchema_satellite": {},
            "ResponseSchema_airquality": {},
            "ResponseSchema_id": {},
            "ResponseSchema_history": {},
            "ResponseSchema_air-quality": {},
            "ResponseSchema_sunrise-sunset": {},
            "ResponseSchema_maps": {},
            "ResponseSchema_storm": {}
        }
    }
}