{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator API",
        "description": "**API Description** - The Random User Generator API is an API that generates random user data for applications or websites.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://randomuser.me/documentation",
        "contact": {
            "name": "Random User Generator API Contact",
            "url": "https://randomuser.me/documentation#contact",
            "email": "support@randomuser.me"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Production Server of the Random User Generator API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://randomuser.me/documentation",
        "description": "Find more about the Random User Generator API here:"
    },
    "paths": {
        "/api": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "results",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "nat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "us": {
                                "value": "us"
                            },
                            "gb": {
                                "value": "gb"
                            },
                            "au": {
                                "value": "au"
                            },
                            "gb,fr": {
                                "value": "gb,fr"
                            },
                            "ca": {
                                "value": "ca"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "inc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,email": {
                                "value": "name,email"
                            },
                            "dob": {
                                "value": "dob"
                            }
                        }
                    },
                    {
                        "name": "exc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "login": {
                                "value": "login"
                            },
                            "gender": {
                                "value": "gender"
                            },
                            "address": {
                                "value": "address"
                            },
                            "id": {
                                "value": "id"
                            }
                        }
                    },
                    {
                        "name": "gender",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "female": {
                                "value": "female"
                            },
                            "male": {
                                "value": "male"
                            }
                        }
                    },
                    {
                        "name": "seed",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "abc123": {
                                "value": "abc123"
                            },
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "pretty": {
                                "value": "pretty"
                            },
                            "csv": {
                                "value": "csv"
                            },
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "noinfo",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Derrick",
                                                "last": "Burns"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 9266,
                                                    "name": "Lovers Ln"
                                                },
                                                "city": "Grand Prairie",
                                                "state": "Alabama",
                                                "country": "United States",
                                                "postcode": 91534,
                                                "coordinates": {
                                                    "latitude": "19.7976",
                                                    "longitude": "-144.7097"
                                                },
                                                "timezone": {
                                                    "offset": "-7:00",
                                                    "description": "Mountain Time (US & Canada)"
                                                }
                                            },
                                            "email": "derrick.burns@example.com",
                                            "login": {
                                                "uuid": "412e750e-b7d6-424c-881b-e4b2473b9800",
                                                "username": "bigpanda943",
                                                "password": "lancer",
                                                "salt": "RC1yktWa",
                                                "md5": "3867269f460d43abdb30c28156d236d0",
                                                "sha1": "40850c013bd2d1ac5ba3fda8e060bc1ce4ea4a35",
                                                "sha256": "31cb10c9272d0224d3b0e48c309d97fd7d1d30be614ae50f6de03a40d0de9361"
                                            },
                                            "dob": {
                                                "date": "1961-02-24T17:15:25.446Z",
                                                "age": 62
                                            },
                                            "registered": {
                                                "date": "2016-10-06T00:00:10.426Z",
                                                "age": 7
                                            },
                                            "phone": "(442) 755-0056",
                                            "cell": "(283) 356-1184",
                                            "id": {
                                                "name": "SSN",
                                                "value": "479-27-4620"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/15.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/15.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/15.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "female",
                                            "name": {
                                                "title": "Mrs",
                                                "first": "Rhonda",
                                                "last": "Mcdonalid"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 7992,
                                                    "name": "Central St"
                                                },
                                                "city": "Killeen",
                                                "state": "Texas",
                                                "country": "United States",
                                                "postcode": 70094,
                                                "coordinates": {
                                                    "latitude": "4.2626",
                                                    "longitude": "44.9657"
                                                },
                                                "timezone": {
                                                    "offset": "+5:00",
                                                    "description": "Ekaterinburg, Islamabad, Karachi, Tashkent"
                                                }
                                            },
                                            "email": "rhonda.mcdonalid@example.com",
                                            "login": {
                                                "uuid": "0d529a21-d76c-4f3c-ba40-5dc9abc17daf",
                                                "username": "yellowladybug453",
                                                "password": "denise",
                                                "salt": "7WS22Jnh",
                                                "md5": "ef1f069543a67f6711c3d21a544805af",
                                                "sha1": "a883bbfedc24c888fb2ab23be37de438cae88e05",
                                                "sha256": "825aa9ada6dbb964c618cd2c7593c12083d4c56c6638449d6e54e4b3d32d44ad"
                                            },
                                            "dob": {
                                                "date": "1992-04-15T00:17:55.887Z",
                                                "age": 31
                                            },
                                            "registered": {
                                                "date": "2020-12-04T09:31:54.662Z",
                                                "age": 2
                                            },
                                            "phone": "(462) 323-3416",
                                            "cell": "(649) 448-8372",
                                            "id": {
                                                "name": "SSN",
                                                "value": "335-33-1138"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/women/49.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/women/49.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/women/49.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Kyle",
                                                "last": "Dunn"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 9231,
                                                    "name": "Washington Ave"
                                                },
                                                "city": "Miramar",
                                                "state": "Ohio",
                                                "country": "United States",
                                                "postcode": 43901,
                                                "coordinates": {
                                                    "latitude": "52.1273",
                                                    "longitude": "76.4758"
                                                },
                                                "timezone": {
                                                    "offset": "+8:00",
                                                    "description": "Beijing, Perth, Singapore, Hong Kong"
                                                }
                                            },
                                            "email": "kyle.dunn@example.com",
                                            "login": {
                                                "uuid": "dd9314f7-6de8-4594-b465-73a96f47dd6c",
                                                "username": "brownladybug142",
                                                "password": "sony",
                                                "salt": "W4gK1sFN",
                                                "md5": "e10b557aa76c11568d5b26bfebd24f6c",
                                                "sha1": "7ba83650a861528c64df30d64fd29e9a4d5f7cf0",
                                                "sha256": "2665eca856f0683c8911a69a0d84b8405ffb17f71fba7ab5cbffac694c7c06fe"
                                            },
                                            "dob": {
                                                "date": "1949-10-25T22:13:21.795Z",
                                                "age": 74
                                            },
                                            "registered": {
                                                "date": "2020-04-28T17:50:59.205Z",
                                                "age": 3
                                            },
                                            "phone": "(656) 336-6108",
                                            "cell": "(305) 828-8795",
                                            "id": {
                                                "name": "SSN",
                                                "value": "546-66-4025"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/92.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/92.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/92.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Mathew",
                                                "last": "Wagner"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 6447,
                                                    "name": "Harrison Ct"
                                                },
                                                "city": "Vernon",
                                                "state": "Tennessee",
                                                "country": "United States",
                                                "postcode": 43394,
                                                "coordinates": {
                                                    "latitude": "-51.9514",
                                                    "longitude": "-62.8648"
                                                },
                                                "timezone": {
                                                    "offset": "-12:00",
                                                    "description": "Eniwetok, Kwajalein"
                                                }
                                            },
                                            "email": "mathew.wagner@example.com",
                                            "login": {
                                                "uuid": "6954216d-5693-4def-9b6c-e19d48ad3701",
                                                "username": "bigleopard207",
                                                "password": "trance",
                                                "salt": "U5G6MFau",
                                                "md5": "969fc43f97d10a0f6135ef38456f8580",
                                                "sha1": "759992e87524951d8ca9a62cc52d2a35d783e9f3",
                                                "sha256": "d4700dc80289e384d2a79aabd304899208d8943e069af51d3869badd28c2aa4b"
                                            },
                                            "dob": {
                                                "date": "1953-02-22T13:20:18.535Z",
                                                "age": 70
                                            },
                                            "registered": {
                                                "date": "2017-07-31T17:15:12.311Z",
                                                "age": 6
                                            },
                                            "phone": "(248) 528-0719",
                                            "cell": "(612) 206-2705",
                                            "id": {
                                                "name": "SSN",
                                                "value": "230-22-9051"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/46.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/46.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/46.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "female",
                                            "name": {
                                                "title": "Ms",
                                                "first": "Genesis",
                                                "last": "Black"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 1419,
                                                    "name": "Cackson St"
                                                },
                                                "city": "Ventura",
                                                "state": "Ohio",
                                                "country": "United States",
                                                "postcode": 14217,
                                                "coordinates": {
                                                    "latitude": "71.5527",
                                                    "longitude": "151.8299"
                                                },
                                                "timezone": {
                                                    "offset": "-9:00",
                                                    "description": "Alaska"
                                                }
                                            },
                                            "email": "genesis.black@example.com",
                                            "login": {
                                                "uuid": "88a259a3-0d20-49d3-9dbf-987aaa7139f7",
                                                "username": "bluemeercat775",
                                                "password": "jones1",
                                                "salt": "VSlnmB5Y",
                                                "md5": "bf319cb0ec8ee497f236a5ef420234cf",
                                                "sha1": "997b3998604f38df29dffb80df48f6fb24fd3841",
                                                "sha256": "b5bcc170825ac876e5bb74933b7bbbae78911e5e2d4016414765541a46d35717"
                                            },
                                            "dob": {
                                                "date": "1983-09-08T02:16:00.149Z",
                                                "age": 40
                                            },
                                            "registered": {
                                                "date": "2017-07-16T09:42:05.295Z",
                                                "age": 6
                                            },
                                            "phone": "(374) 934-6996",
                                            "cell": "(223) 397-4583",
                                            "id": {
                                                "name": "SSN",
                                                "value": "184-64-3159"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/women/19.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/women/19.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/women/19.jpg"
                                            },
                                            "nat": "US"
                                        }
                                    ],
                                    "info": {
                                        "seed": "483c744fa92f8ef3",
                                        "results": 5,
                                        "page": 1,
                                        "version": "1.4"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/plain; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "Not Found"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema_api": {}
        }
    }
}