{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**API Description** - The GBIF Species API is an application programming interface that provides access to species occurrence data from the Global Biodiversity Information Facility (GBIF) database.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.gbif.org/developer/species",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "Creative Commons Attribution (CC BY)",
            "url": "https://creativecommons.org/licenses/by/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "birds": {
                                "value": "birds"
                            },
                            "orchid": {
                                "value": "orchid"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "genus": {
                                "value": "genus"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "taxonomicStatus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7d6dbd88-4b52-4b6f-aa5a-8b8a8a5dce4c": {
                                "value": "7d6dbd88-4b52-4b6f-aa5a-8b8a8a5dce4c"
                            }
                        }
                    },
                    {
                        "name": "nameLanguage",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "text": {
                                "value": "text"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 10,
                                    "endOfRecords": false,
                                    "count": 98308,
                                    "results": [
                                        {
                                            "key": 178938596,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 178938584,
                                            "parent": "unclassified Plantago",
                                            "kingdom": "Viridiplantae",
                                            "phylum": "Streptophyta",
                                            "order": "Lamiales",
                                            "family": "Plantaginaceae",
                                            "genus": "Plantago",
                                            "species": "Plantago sp.Plant",
                                            "kingdomKey": 178899640,
                                            "phylumKey": 178899748,
                                            "classKey": 178921506,
                                            "orderKey": 178937070,
                                            "familyKey": 178937469,
                                            "genusKey": 178938434,
                                            "speciesKey": 178938596,
                                            "scientificName": "Plantago sp. PLANT",
                                            "canonicalName": "Plantago sp.Plant",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "178899640": "Viridiplantae",
                                                "178899748": "Streptophyta",
                                                "178921506": "Magnoliopsida",
                                                "178937070": "Lamiales",
                                                "178937469": "Plantaginaceae",
                                                "178938434": "Plantago",
                                                "178938584": "unclassified Plantago"
                                            },
                                            "class": "Magnoliopsida"
                                        },
                                        {
                                            "key": 120800247,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 166824477,
                                            "parent": "unclassified Plantago",
                                            "kingdom": "Viridiplantae",
                                            "phylum": "Streptophyta",
                                            "order": "Lamiales",
                                            "family": "Plantaginaceae",
                                            "genus": "Plantago",
                                            "species": "Plantago sp.Plant",
                                            "kingdomKey": 102974832,
                                            "phylumKey": 102986054,
                                            "classKey": 103019693,
                                            "orderKey": 103232288,
                                            "familyKey": 103270886,
                                            "genusKey": 103274312,
                                            "speciesKey": 120800247,
                                            "scientificName": "Plantago sp. PLANT",
                                            "canonicalName": "Plantago sp.Plant",
                                            "nameType": "INFORMAL",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "102974832": "Viridiplantae",
                                                "102986054": "Streptophyta",
                                                "103019693": "Magnoliopsida",
                                                "103232288": "Lamiales",
                                                "103270886": "Plantaginaceae",
                                                "103274312": "Plantago",
                                                "166824477": "unclassified Plantago"
                                            },
                                            "class": "Magnoliopsida"
                                        },
                                        {
                                            "key": 214038621,
                                            "datasetKey": "87461d16-eabb-4a94-9187-64b60b86f61a",
                                            "nubKey": 11387779,
                                            "parentKey": 214038634,
                                            "parent": "Plantae",
                                            "kingdom": "Plantae",
                                            "genus": "Plantae",
                                            "kingdomKey": 214038634,
                                            "genusKey": 214038621,
                                            "scientificName": "Plantae",
                                            "canonicalName": "Plantae",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "GENUS",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Key to Dichorisandra species occurring in the state of Goi\u00e1s 1. Leaves rosulate or more rarely alternate-spiral on the upper third of the plant; inflorescence present at the apex of the branch or apparently lateral and perforating the leaf-sheath near the base of the stem; capsules cylindrical.............. Dichorisandra perforans - Leaves cauline, alternate distichous or spiral near to inflorescence; inflorescence always at the apex of the branches (terminal); capsules globose or ovoid...................................................................................................................................................................2 2. Herbs scandent or growing supported on shrubs; leaf base symmetric or discretely assymentric; petals purplish blue with basal white............................................................................................................................................................. Dichorisandra hexandra - Herbs always erect; leaf base conspicuously asymmetric; petals lilac to pink, lilac, purple or blue.................................................3 3. Stems glabrous; leaves firmly chartaceous, glabrous, margin not ciliate; petals and pollen sacs lilac to pink......................................................................................................................................................................................................... Dichorisandra rigidifolia - Stems indumented; leaves membranaceous, hairy on both surfaces, margin ciliate; petals and pollen sacs lilac or purple or blue...............................................................................................................................................................................................................4 4. Stems with (1.6\u2013) 2\u20132.6 cm diam; leaves elliptic or oblong-elliptic with caudate at apex; petals and pollen sacs lilac or purple; capsules verrucose at apex....................................................................................................................... Dichorisandra pulcherrima - Stems with 0.4\u20130.5 cm diam; leaves lanceolate with apex acuminate; pollen sacs blue; capsules smooth at apex................................................................................................................................................................................................. Dichorisandra pubescens"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "214038634": "Plantae"
                                            }
                                        },
                                        {
                                            "key": 119586536,
                                            "datasetKey": "089d3fcb-fa57-4f3e-8ba0-d8c86d970c81",
                                            "nubKey": 8570061,
                                            "parentKey": 215779696,
                                            "parent": "Oropezella",
                                            "kingdom": "Animalia",
                                            "phylum": "Arthropoda",
                                            "order": "Diptera",
                                            "family": "Hybotidae",
                                            "genus": "Oropezella",
                                            "species": "Oropezella planti",
                                            "kingdomKey": 215779691,
                                            "phylumKey": 215779692,
                                            "classKey": 215779693,
                                            "orderKey": 215779694,
                                            "familyKey": 215779695,
                                            "genusKey": 215779696,
                                            "speciesKey": 119586536,
                                            "scientificName": "Oropezella planti",
                                            "canonicalName": "Oropezella planti",
                                            "publishedIn": "Ale-Rocha, Rosaly, Freitas-Silva, Rafael Augusto Pinheiro De (2014): New species of Oropezella Collin (Diptera, Hybotidae, Ocydromiinae) from Brazil and Costa Rica, with comments on the relationships among species-groups. Zootaxa 3852 (5): 501-539, DOI: 10.11646/zootaxa.3852.5.1",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Description. Holotype male. Body: 2.6 mm. Wing: 3.2 mm. Head: antenna dark brown, located above middle of head; scape somewhat shorter than pedicel; postpedicel conical, flattened, as long as scape and pedicel combined, 2.5 times longer than wide; stylus bare, apical. Ocellar triangle protuberant, two pairs of ocellar setae, anterior pair proclinate and elongate, posterior pair short, erect. Narrowly dichoptic, frons shorter than half length of face, eyes almost touching at short area just above antenna. Proboscis and palpus brown, palpus bearing 1 long median and 1 shorter lateral bristle. Postcranium black with gray pruinescence; postoculars elongate, scattered, upper setae longest. Thorax: entirely covered with dense gray pruinescence; scutum dark brown, postpronotal lobe with small yellow posterior mark, mesopleuron brown. Bristle thin, short but easily identified and scattered; acr and dc uniserial. Differentiated bristles: 1 strong npl; posterior dc longer than anterior dc; 1 medium length pal; 1 long and strong apical sctl and 1 lateral bristle half length of apical. Wing (Fig. 119): sub-hyaline, smoothly brown infuscate; R 1 meeting C beyond middle of wing; cell dm emitting 2 veins; cell cu p present. Legs: dark yellow to brown, fore and mid tarsomeres 3 \u2013 5 and hind tarsus pale brown, coxae and trochanters with gray pruinescence. Hind tibia somewhat clavate near apex. Differentiated bristles: fore tibia with 1 PV at basal third and 1 PV at distal third; mid femur with 1 AV at basal third, 1 AV at apical third and 1 A sub-apical; mid tibia with 1 A near base and 1 A at middle, 1 D at basal third, 2 AV and 2 PV near apex, 1 AV and 1 PV apicals; hind femur bearing 1 AV at basal third, 1 AV at apical third and 1 A sub-apical; hind tibia with 1 A at middle, 1 AV at basal third, 1 AV at apical third, 1 AV apical, 1 AV and 1 PV at basal third and 1 D and 1 A spine-like apical. Abdomen: tergites and sternites brown, black on distal margin; gray pruinescence dense on tergite 8 and sternites 7 and 8, scattered on sternites 5 and 6. Bristles brown, thin, scattered, lateral ones longest. Terminalia: hypandrium about twice longer than wide, with slightly concave apex (Fig. 67); epandrium short, not deeply cleft dorsally, epandrial lamellae broadly fused basally (Fig. 68); left epandrial lamella shorter than right, with knob-like dorsoapical process arising behind protuberance in dorsal view (Figs 68, 70); right surstylus shorter than left surstylus, wide in basal half (Fig. 71); left surstylus simple, slightly concave on inner surface (Fig. 70); articulated distal portion of the phallus simple, elongate, more than half lenght of basal portion, basal process absent (Fig. 69). Female. Similar to male. Ovipositor (Figs 72 \u2013 74): eighth segment somewhat short; tergite 8 shallowly cleft medially on distal margin, expanded towards the ventral side; sternite 8 narrow, three times longer than wide."
                                                },
                                                {
                                                    "description": "Diagnosis. Brown; narrowly dichoptic, eyes almost touching at short area just above the antennae; legs dark yellow to brown, fore and mid tarsomeres 3 \u2013 5 and hind tarsus pale brown; wing brown infuscate."
                                                },
                                                {
                                                    "description": "Distribution. Brazil (Goi\u00e1s)."
                                                },
                                                {
                                                    "description": "Etymology. Named in honour of Adrian Plant, of the National Museum of Wales, for his contribution to the knowledge on the taxonomy of Ocydromiinae."
                                                },
                                                {
                                                    "description": "Type material. HOLOTYPE \u2642, labelled: [BRASIL], Est [ado] de Goi\u00e1s / Corumb\u00e1 [today Corumb\u00e1 de Goi\u00e1s] / F. Monjolinho / Barreto col. / 11. [1] 945 (MZSP) (in excellent condition, not dissected). Paratypes: 5 \u2642, 3 \u2640, same data from holotype (MZSP)."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "215779691": "Animalia",
                                                "215779692": "Arthropoda",
                                                "215779693": "Insecta",
                                                "215779694": "Diptera",
                                                "215779695": "Hybotidae",
                                                "215779696": "Oropezella"
                                            },
                                            "class": "Insecta"
                                        },
                                        {
                                            "key": 165745937,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "parentKey": 165745936,
                                            "parent": "Selliguea",
                                            "genus": "Selliguea",
                                            "species": "Selliguea plantaginea",
                                            "genusKey": 165745936,
                                            "speciesKey": 165745937,
                                            "scientificName": "Selliguea plantaginea International Plant Names Index.Accessed",
                                            "canonicalName": "Selliguea plantaginea",
                                            "authorship": "Brack.IPNI: Selliguea plantaginea. International Plant Names Index. Accessed 27 July 2018.Brackenridge, W.D. (1854) United States Exploring Expedition. Botany. Cryptogamia. Filices 16: 58",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Selliguea plantaginea is a fern species in the genus Selliguea. A holotype, collected on the Iles du Vent, Tahiti, in 1838 during the Wilkes expedition, is held at United States National Herbarium, Smithsonian Institution (Herbarium code: US)JSTOR Global Plants: Selliguea plantaginea US001344691. Retrieved 28 July 2018>"
                                                },
                                                {
                                                    "description": "Selliguea plantaginea has often been confused with S. feeoides, but differs in that S. feeoides has frequent hydathodes on the upper surface of the fronds, while in S. plantaginea, hydathodes are absent or infrequent."
                                                },
                                                {
                                                    "description": "Selliguea plantaginea has been found in Sulawesi, New Guinea, Fiji, the Society Islands (Tahiti and Huahine)."
                                                },
                                                {
                                                    "description": "Sets of images from specimens found in the cloud forest on Mount Tohiea, Mo'oreaNitta, JH, Meyer, J-Y, Smith, AR (2011) Pteridophytes of Mo'orea, French Polynesia: Additional New Records. American Fern Journal 101, 36-49 may be found at http://n2t.net/ark:/21547/R2MBIO36935 and http://n2t.net/ark:/21547/R2MBIO40051."
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "165745936": "Selliguea"
                                            }
                                        },
                                        {
                                            "key": 1458494,
                                            "nameKey": 40111,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "nubKey": 1458494,
                                            "parentKey": 9706,
                                            "parent": "Hybotidae",
                                            "kingdom": "Animalia",
                                            "phylum": "Arthropoda",
                                            "order": "Diptera",
                                            "family": "Hybotidae",
                                            "genus": "Abocciputa",
                                            "kingdomKey": 1,
                                            "phylumKey": 54,
                                            "classKey": 216,
                                            "orderKey": 811,
                                            "familyKey": 9706,
                                            "genusKey": 1458494,
                                            "scientificName": "Abocciputa Plant, 1989",
                                            "canonicalName": "Abocciputa",
                                            "authorship": "Plant, 1989",
                                            "publishedIn": "N Z J Zool 16 (2)",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "GENUS",
                                            "origin": "SOURCE",
                                            "numDescendants": 1,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "1": "Animalia",
                                                "54": "Arthropoda",
                                                "216": "Insecta",
                                                "811": "Diptera",
                                                "9706": "Hybotidae"
                                            },
                                            "class": "Insecta"
                                        },
                                        {
                                            "key": 183101517,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "genus": "Abocciputa",
                                            "genusKey": 183101517,
                                            "scientificName": "Abocciputa Plant, 1989",
                                            "canonicalName": "Abocciputa",
                                            "authorship": "Plant, 1989",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "GENUS",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [
                                                {
                                                    "description": "Abocciputa is a genus of flies belonging to the family Hybotidae. The species of this genus are found in New Zealand. Species: Abocciputa pilosa Plant, 1989"
                                                }
                                            ],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {}
                                        },
                                        {
                                            "key": 1586083,
                                            "nameKey": 1224954,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "nubKey": 1586083,
                                            "parentKey": 9706,
                                            "parent": "Hybotidae",
                                            "kingdom": "Animalia",
                                            "phylum": "Arthropoda",
                                            "order": "Diptera",
                                            "family": "Hybotidae",
                                            "genus": "Austropeza",
                                            "kingdomKey": 1,
                                            "phylumKey": 54,
                                            "classKey": 216,
                                            "orderKey": 811,
                                            "familyKey": 9706,
                                            "genusKey": 1586083,
                                            "scientificName": "Austropeza Plant, 1989",
                                            "canonicalName": "Austropeza",
                                            "authorship": "Plant, 1989",
                                            "publishedIn": "N Z J Zool 16 (2)",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "GENUS",
                                            "origin": "SOURCE",
                                            "numDescendants": 1,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "1": "Animalia",
                                                "54": "Arthropoda",
                                                "216": "Insecta",
                                                "811": "Diptera",
                                                "9706": "Hybotidae"
                                            },
                                            "class": "Insecta"
                                        },
                                        {
                                            "key": 128371762,
                                            "nameKey": 776389,
                                            "datasetKey": "c8227bb4-4143-443f-8cb2-51f9576aff14",
                                            "nubKey": 9093609,
                                            "genus": "Antipodromia",
                                            "genusKey": 128371762,
                                            "scientificName": "Antipodromia Plant, 2011",
                                            "canonicalName": "Antipodromia",
                                            "authorship": "Plant, 2011",
                                            "publishedIn": "Plant, Adrian R. 2011. The Hemerodromiinae (Diptera: Empididae) of New Zealand III. Antipodromia new genus. New Zealand Entomologist 34: 52-55.",
                                            "accordingTo": "Plant, Adrian R. 2011. The Hemerodromiinae (Diptera: Empididae) of New Zealand III. Antipodromia new genus. New Zealand Entomologist 34: 52-55.",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "GENUS",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {}
                                        },
                                        {
                                            "key": 163105623,
                                            "datasetKey": "0938172b-2086-439c-a1dd-c21cb0109ed5",
                                            "nubKey": 9093609,
                                            "parentKey": 163105592,
                                            "parent": "Empididae",
                                            "kingdom": "Animalia",
                                            "phylum": "Arthropoda",
                                            "order": "Diptera",
                                            "family": "Empididae",
                                            "genus": "Antipodromia",
                                            "kingdomKey": 162851632,
                                            "phylumKey": 163029190,
                                            "classKey": 163040933,
                                            "orderKey": 163077779,
                                            "familyKey": 163105592,
                                            "genusKey": 163105623,
                                            "scientificName": "Antipodromia Plant, 2011",
                                            "canonicalName": "Antipodromia",
                                            "authorship": "Plant, 2011",
                                            "publishedIn": "Article title: The Hemerodromiinae (Diptera: Empididae) of New Zealand III. Antipodromia new genus.",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "GENUS",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "162851632": "Animalia",
                                                "163029190": "Arthropoda",
                                                "163040933": "Insecta",
                                                "163077779": "Diptera",
                                                "163105592": "Empididae"
                                            },
                                            "class": "Insecta"
                                        }
                                    ],
                                    "facets": []
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 517473824</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "orchid": {
                                "value": "orchid"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "nameLanguage",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 10,
                                    "endOfRecords": false,
                                    "results": [
                                        {
                                            "key": 0,
                                            "nubKey": 0,
                                            "nameKey": 130332213,
                                            "taxonID": "gbif:0",
                                            "sourceTaxonKey": 0,
                                            "kingdom": "incertae sedis",
                                            "kingdomKey": 0,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "incertae sedis",
                                            "canonicalName": "incertae sedis",
                                            "authorship": "",
                                            "nameType": "PLACEHOLDER",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 3613,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:19:21.731+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 1,
                                            "nubKey": 1,
                                            "nameKey": 130188353,
                                            "taxonID": "gbif:1",
                                            "sourceTaxonKey": 1,
                                            "kingdom": "Animalia",
                                            "kingdomKey": 1,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Animalia",
                                            "canonicalName": "Animalia",
                                            "vernacularName": "Animals",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 2981931,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:11:51.237+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 2,
                                            "nubKey": 2,
                                            "nameKey": 130277256,
                                            "taxonID": "gbif:2",
                                            "sourceTaxonKey": 170809364,
                                            "kingdom": "Archaea",
                                            "kingdomKey": 2,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Archaea",
                                            "canonicalName": "Archaea",
                                            "vernacularName": "Archaea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 4358,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:34.813+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 3,
                                            "nubKey": 3,
                                            "nameKey": 130277260,
                                            "taxonID": "gbif:3",
                                            "sourceTaxonKey": 3,
                                            "kingdom": "Bacteria",
                                            "kingdomKey": 3,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Bacteria",
                                            "canonicalName": "Bacteria",
                                            "vernacularName": "Bacteria",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 67224,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:35.110+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 4,
                                            "nubKey": 4,
                                            "nameKey": 130277610,
                                            "taxonID": "gbif:4",
                                            "sourceTaxonKey": 172299416,
                                            "kingdom": "Chromista",
                                            "kingdomKey": 4,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Chromista",
                                            "canonicalName": "Chromista",
                                            "vernacularName": "Kelp, Diatoms, And Allies",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 163420,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:01.037+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 5,
                                            "nubKey": 5,
                                            "nameKey": 130279178,
                                            "taxonID": "gbif:5",
                                            "sourceTaxonKey": 5,
                                            "kingdom": "Fungi",
                                            "kingdomKey": 5,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Fungi",
                                            "canonicalName": "Fungi",
                                            "vernacularName": "Fungi",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 486142,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:54:41.047+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 6,
                                            "nubKey": 6,
                                            "nameKey": 130293770,
                                            "taxonID": "gbif:6",
                                            "sourceTaxonKey": 6,
                                            "kingdom": "Plantae",
                                            "kingdomKey": 6,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Plantae",
                                            "canonicalName": "Plantae",
                                            "vernacularName": "Plants",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 716896,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:01:27.670+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 7,
                                            "nubKey": 7,
                                            "nameKey": 130322419,
                                            "taxonID": "gbif:7",
                                            "sourceTaxonKey": 170809337,
                                            "kingdom": "Protozoa",
                                            "kingdomKey": 7,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Protozoa",
                                            "canonicalName": "Protozoa",
                                            "vernacularName": "protozoans",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 9113,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:47.242+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 8,
                                            "nubKey": 8,
                                            "nameKey": 130323256,
                                            "taxonID": "gbif:8",
                                            "sourceTaxonKey": 170809368,
                                            "kingdom": "Viruses",
                                            "kingdomKey": 8,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Viruses",
                                            "canonicalName": "Viruses",
                                            "vernacularName": "Viruses",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 19564,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:56.817+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 9,
                                            "nubKey": 9,
                                            "nameKey": 6689984,
                                            "taxonID": "gbif:9",
                                            "sourceTaxonKey": 117196334,
                                            "kingdom": "Plantae",
                                            "phylum": "Marchantiophyta",
                                            "kingdomKey": 6,
                                            "phylumKey": 9,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "daacce49-b206-469b-8dc2-2257719f3afa",
                                            "parentKey": 6,
                                            "parent": "Plantae",
                                            "scientificName": "Marchantiophyta",
                                            "canonicalName": "Marchantiophyta",
                                            "vernacularName": "liverwort",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Crandall-Stotler, B. J., & Stotler, R. E. (2000). Morphology and classification of the Marchantiophyta. In A. J. Shaw & B. Goffinet, Bryophyte Biology (pp. 21\u201370). Cambridge University Press. https://www.tropicos.org/reference/9021946",
                                            "numDescendants": 12141,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:32.752+00:00",
                                            "issues": []
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 517473824</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/suggest": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "cat": {
                                "value": "cat"
                            },
                            "bird": {
                                "value": "bird"
                            },
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "kingdom": {
                                "value": "kingdom"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7ddf754f-d193-4cc9-b351-99906754a03b": {
                                "value": "7ddf754f-d193-4cc9-b351-99906754a03b"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            }
                        }
                    },
                    {
                        "name": "nameLanguage",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "es": {
                                "value": "es"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "nameUsage",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ACCEPTED": {
                                "value": "ACCEPTED"
                            },
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "nameStatus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "synonym": {
                                "value": "synonym"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Plantae": {
                                "value": "Plantae"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Arthropoda": {
                                "value": "Arthropoda"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Aves": {
                                "value": "Aves"
                            }
                        }
                    },
                    {
                        "name": "kingdomKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "text": {
                                "value": "text"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_suggest"
                                },
                                "example": [
                                    {
                                        "key": 1888501,
                                        "nameKey": 8842172,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Lepidoptera",
                                        "family": "Crambidae",
                                        "genus": "Plantegumia",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 797,
                                        "familyKey": 8841,
                                        "genusKey": 1888501,
                                        "parent": "Crambidae",
                                        "parentKey": 8841,
                                        "nubKey": 1888501,
                                        "scientificName": "Plantegumia Amsel, 1956",
                                        "canonicalName": "Plantegumia",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "797": "Lepidoptera",
                                            "8841": "Crambidae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 7965202,
                                        "nameKey": 30468378,
                                        "kingdom": "Bacteria",
                                        "phylum": "Actinobacteriota",
                                        "order": "Mycobacteriales",
                                        "family": "Micromonosporaceae",
                                        "genus": "Plantactinospora",
                                        "kingdomKey": 3,
                                        "phylumKey": 10813635,
                                        "classKey": 10701801,
                                        "orderKey": 10877327,
                                        "familyKey": 3838,
                                        "genusKey": 7965202,
                                        "parent": "Micromonosporaceae",
                                        "parentKey": 3838,
                                        "nubKey": 7965202,
                                        "scientificName": "Plantactinospora Qin et al., 2009",
                                        "canonicalName": "Plantactinospora",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "3": "Bacteria",
                                            "10813635": "Actinobacteriota",
                                            "10701801": "Actinomycetia",
                                            "10877327": "Mycobacteriales",
                                            "3838": "Micromonosporaceae"
                                        },
                                        "class": "Actinomycetia"
                                    },
                                    {
                                        "key": 1458494,
                                        "nameKey": 40111,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Diptera",
                                        "family": "Hybotidae",
                                        "genus": "Abocciputa",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 811,
                                        "familyKey": 9706,
                                        "genusKey": 1458494,
                                        "parent": "Hybotidae",
                                        "parentKey": 9706,
                                        "nubKey": 1458494,
                                        "scientificName": "Abocciputa Plant, 1989",
                                        "canonicalName": "Abocciputa",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "811": "Diptera",
                                            "9706": "Hybotidae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 1586083,
                                        "nameKey": 1224954,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Diptera",
                                        "family": "Hybotidae",
                                        "genus": "Austropeza",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 811,
                                        "familyKey": 9706,
                                        "genusKey": 1586083,
                                        "parent": "Hybotidae",
                                        "parentKey": 9706,
                                        "nubKey": 1586083,
                                        "scientificName": "Austropeza Plant, 1989",
                                        "canonicalName": "Austropeza",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "811": "Diptera",
                                            "9706": "Hybotidae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 10738737,
                                        "nameKey": 37600038,
                                        "kingdom": "Fungi",
                                        "phylum": "Mucoromycota",
                                        "genus": "Planticonsortium",
                                        "kingdomKey": 5,
                                        "phylumKey": 12238325,
                                        "genusKey": 10738737,
                                        "parent": "Mucoromycota",
                                        "parentKey": 12238325,
                                        "nubKey": 10738737,
                                        "scientificName": "Planticonsortium",
                                        "canonicalName": "Planticonsortium",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "5": "Fungi",
                                            "12238325": "Mucoromycota"
                                        }
                                    },
                                    {
                                        "key": 9093609,
                                        "nameKey": 776389,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Diptera",
                                        "family": "Empididae",
                                        "genus": "Antipodromia",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 811,
                                        "familyKey": 9483,
                                        "genusKey": 9093609,
                                        "parent": "Empididae",
                                        "parentKey": 9483,
                                        "nubKey": 9093609,
                                        "scientificName": "Antipodromia Plant, 2011",
                                        "canonicalName": "Antipodromia",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "811": "Diptera",
                                            "9483": "Empididae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 9289572,
                                        "nameKey": 13324913,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Diptera",
                                        "family": "Brachystomatidae",
                                        "genus": "Gondwanamyia",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 811,
                                        "familyKey": 3334,
                                        "genusKey": 9289572,
                                        "parent": "Brachystomatidae",
                                        "parentKey": 3334,
                                        "nubKey": 9289572,
                                        "scientificName": "Gondwanamyia Sinclair, Cumming, Brooks, Plant & Saigusa, 2016",
                                        "canonicalName": "Gondwanamyia",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "811": "Diptera",
                                            "3334": "Brachystomatidae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 1582520,
                                        "nameKey": 5368106,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Diptera",
                                        "family": "Empididae",
                                        "genus": "Hybomyia",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 811,
                                        "familyKey": 9483,
                                        "genusKey": 1582520,
                                        "parent": "Empididae",
                                        "parentKey": 9483,
                                        "nubKey": 1582520,
                                        "scientificName": "Hybomyia Plant, 1995",
                                        "canonicalName": "Hybomyia",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "811": "Diptera",
                                            "9483": "Empididae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 9496445,
                                        "nameKey": 15825907,
                                        "kingdom": "Animalia",
                                        "phylum": "Arthropoda",
                                        "order": "Diptera",
                                        "family": "Empididae",
                                        "genus": "Sororsenexa",
                                        "kingdomKey": 1,
                                        "phylumKey": 54,
                                        "classKey": 216,
                                        "orderKey": 811,
                                        "familyKey": 9483,
                                        "genusKey": 9496445,
                                        "parent": "Empididae",
                                        "parentKey": 9483,
                                        "nubKey": 9496445,
                                        "scientificName": "Sororsenexa Plant, 2011",
                                        "canonicalName": "Sororsenexa",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "1": "Animalia",
                                            "54": "Arthropoda",
                                            "216": "Insecta",
                                            "811": "Diptera",
                                            "9483": "Empididae"
                                        },
                                        "class": "Insecta"
                                    },
                                    {
                                        "key": 3225305,
                                        "nameKey": 30472518,
                                        "kingdom": "Bacteria",
                                        "phylum": "Actinobacteriota",
                                        "order": "Actinomycetales",
                                        "family": "Microbacteriaceae",
                                        "genus": "Plantibacter",
                                        "kingdomKey": 3,
                                        "phylumKey": 10813635,
                                        "classKey": 10701801,
                                        "orderKey": 1198,
                                        "familyKey": 3837,
                                        "genusKey": 3225305,
                                        "parent": "Microbacteriaceae",
                                        "parentKey": 3837,
                                        "nubKey": 3225305,
                                        "scientificName": "Plantibacter Behrendt et al., 2002",
                                        "canonicalName": "Plantibacter",
                                        "rank": "GENUS",
                                        "status": "ACCEPTED",
                                        "synonym": false,
                                        "higherClassificationMap": {
                                            "3": "Bacteria",
                                            "10813635": "Actinobacteriota",
                                            "10701801": "Actinomycetia",
                                            "1198": "Actinomycetales",
                                            "3837": "Microbacteriaceae"
                                        },
                                        "class": "Actinomycetia"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 517473824</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "nameLanguage",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "creator",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Smith": {
                                "value": "Smith"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "text": {
                                "value": "text"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "No description.",
                        "in": "query",
[...]
