{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - The CoinCap API is a cryptocurrency data provider that offers real-time and historical market data for various digital currencies.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "d7": {
                                "value": "d7"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "713130941264.2110244908658730",
                                            "volumeUsd24Hr": "12203995477.2554699482579955",
                                            "priceUsd": "36482.7686771654494415",
                                            "changePercent24Hr": "-2.2745651448595052",
                                            "vwap24Hr": "36786.0935569562205375",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "239774593171.7577270163892317",
                                            "volumeUsd24Hr": "7422560599.2437833909854836",
                                            "priceUsd": "1993.9230135893384299",
                                            "changePercent24Hr": "-0.8149825145718875",
                                            "vwap24Hr": "1983.2830853431975228",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87722736876.5143790253437722",
                                            "volumeUsd24Hr": "19265100529.8978449384625104",
                                            "priceUsd": "1.0003324404425498",
                                            "changePercent24Hr": "-0.0681024146143367",
                                            "vwap24Hr": "1.0006538060814207",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "38858528008.8919538936160664",
                                            "volumeUsd24Hr": "1423542530.1461817792129671",
                                            "priceUsd": "232.9631928486005018",
                                            "changePercent24Hr": "-9.8244157215519188",
                                            "vwap24Hr": "244.9640545876146197",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "26967018664.8021399296664480",
                                            "volumeUsd24Hr": "645663002.3284277145250575",
                                            "priceUsd": "0.5939344915540107",
                                            "changePercent24Hr": "-2.6659359379356750",
                                            "vwap24Hr": "0.5984540544196293",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "6",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24430119478.5514025011251319",
                                            "volumeUsd24Hr": "1445181561.0986876660470770",
                                            "priceUsd": "0.9997235991077049",
                                            "changePercent24Hr": "-0.0705373924267213",
                                            "vwap24Hr": "1.0001901920697421",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "7",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "23155347008.4014571012782820",
                                            "volumeUsd24Hr": "842502571.6707304178262295",
                                            "priceUsd": "54.7577073061955701",
                                            "changePercent24Hr": "-1.6345018200932661",
                                            "vwap24Hr": "54.2816851955011059",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13009058249.2572155585911184",
                                            "volumeUsd24Hr": "177113925.6465030067873534",
                                            "priceUsd": "0.3687204294002380",
                                            "changePercent24Hr": "-4.1137271583750315",
                                            "vwap24Hr": "0.3714854544382739",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10533968888.0094861618166929",
                                            "volumeUsd24Hr": "373699281.0645340899981685",
                                            "priceUsd": "0.0742367971645296",
                                            "changePercent24Hr": "-3.0287100573144121",
                                            "vwap24Hr": "0.0747834761775893",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8729888273.7278516981740724",
                                            "volumeUsd24Hr": "158089677.5837523720189230",
                                            "priceUsd": "0.0985001973501384",
                                            "changePercent24Hr": "-3.1371266116464400",
                                            "vwap24Hr": "0.0992698926632020",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700639467288
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/bitcoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "h1": {
                                "value": "h1"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "ripple": {
                                "value": "ripple"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            },
                            "2019-01-01": {
                                "value": "2019-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-12-31": {
                                "value": "2021-12-31"
                            },
                            "2020-01-01": {
                                "value": "2020-01-01"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1609459200000": {
                                "value": "1609459200000"
                            },
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_bitcoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "bitcoin",
                                        "rank": "1",
                                        "symbol": "BTC",
                                        "name": "Bitcoin",
                                        "supply": "19547062.0000000000000000",
                                        "maxSupply": "21000000.0000000000000000",
                                        "marketCapUsd": "713125167650.4714576705048778",
                                        "volumeUsd24Hr": "12196019292.4716996087227681",
                                        "priceUsd": "36482.4733072658928319",
                                        "changePercent24Hr": "-2.2977901706637595",
                                        "vwap24Hr": "36786.0935569562205375",
                                        "explorer": "https://blockchain.info/"
                                    },
                                    "timestamp": 1700639559677
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/ethereum": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_ethereum"
                                },
                                "example": {
                                    "data": {
                                        "id": "ethereum",
                                        "rank": "2",
                                        "symbol": "ETH",
                                        "name": "Ethereum",
                                        "supply": "120252683.5477615300000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "239748134920.3705182492381078",
                                        "volumeUsd24Hr": "7451087234.4609696894513044",
                                        "priceUsd": "1993.7029914608784012",
                                        "changePercent24Hr": "-0.8178586957771325",
                                        "vwap24Hr": "1983.2830853431975228",
                                        "explorer": "https://etherscan.io/"
                                    },
                                    "timestamp": 1700639560211
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/litecoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "1546300800000": {
                                "value": "1546300800000"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            },
                            "1h": {
                                "value": "1h"
                            },
                            "d1": {
                                "value": "d1"
                            },
                            "h1": {
                                "value": "h1"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            },
                            "1617235200000": {
                                "value": "1617235200000"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            },
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_litecoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "litecoin",
                                        "rank": "17",
                                        "symbol": "LTC",
                                        "name": "Litecoin",
                                        "supply": "73891457.9735888800000000",
                                        "maxSupply": "84000000.0000000000000000",
                                        "marketCapUsd": "5001042826.7739359822626107",
                                        "volumeUsd24Hr": "176808754.3333925126205293",
                                        "priceUsd": "67.6809331406272323",
                                        "changePercent24Hr": "-2.9958591531810507",
                                        "vwap24Hr": "68.7243830404778919",
                                        "explorer": "http://explorer.litecoin.net/chain/Litecoin"
                                    },
                                    "timestamp": 1700639560876
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/cardano": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_cardano"
                                },
                                "example": {
                                    "data": {
                                        "id": "cardano",
                                        "rank": "8",
                                        "symbol": "ADA",
                                        "name": "Cardano",
                                        "supply": "35281631317.3040000000000000",
                                        "maxSupply": "45000000000.0000000000000000",
                                        "marketCapUsd": "13011307891.6015474487260528",
                                        "volumeUsd24Hr": "177128794.6907594063687542",
                                        "priceUsd": "0.3687841918244893",
                                        "changePercent24Hr": "-4.1137271583750315",
                                        "vwap24Hr": "0.3714854544382739",
                                        "explorer": "https://cardanoexplorer.com/"
                                    },
                                    "timestamp": 1700639561949
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/stellar": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "h12": {
                                "value": "h12"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            },
                            "usd": {
                                "value": "usd"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "id": {
                                "value": "id"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            },
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ripple": {
                                "value": "bitcoin,ripple"
                            },
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2019-01-01": {
                                "value": "2019-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2019-12-31": {
                                "value": "2019-12-31"
                            }
                        }
                    },
                    {
                        "name": "min_market_cap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000000": {
                                "value": "1000000000"
                            }
                        }
                    },
                    {
                        "name": "max_market_cap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000000000": {
                                "value": "10000000000"
                            }
                        }
                    },
                    {
                        "name": "min_volume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_stellar"
                                },
                                "example": {
                                    "data": {
                                        "id": "stellar",
                                        "rank": "23",
                                        "symbol": "XLM",
                                        "name": "Stellar",
                                        "supply": "27988596865.9852640000000000",
                                        "maxSupply": "50001806812.0000000000000000",
                                        "marketCapUsd": "3240874918.4724032450576273",
                                        "volumeUsd24Hr": "46746392.1816923386791017",
                                        "priceUsd": "0.1157926899297714",
                                        "changePercent24Hr": "-2.6601711560253248",
                                        "vwap24Hr": "0.1166676281521724",
                                        "explorer": "https://dashboard.stellar.org/"
                                    },
                                    "timestamp": 1700639562505
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/eos": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "h1": {
                                "value": "h1"
                            },
                            "m5": {
                                "value": "m5"
                            },
                            "d7": {
                                "value": "d7"
                            },
                            "30d": {
                                "value": "30d"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1609459200": {
                                "value": "1609459200"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            },
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_eos"
                                },
                                "example": {
                                    "data": {
                                        "id": "eos",
                                        "rank": "58",
                                        "symbol": "EOS",
                                        "name": "EOS",
                                        "supply": "1108902828.0334000000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "738115341.4662113815144504",
                                        "volumeUsd24Hr": "90615959.7051948650467859",
                                        "priceUsd": "0.6656267102999754",
                                        "changePercent24Hr": "-5.2610130968518440",
                                        "vwap24Hr": "0.6796622165104077",
                                        "explorer": "https://bloks.io/"
                                    },
                                    "timestamp": 1700639563043
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/tron": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_tron"
                                },
                                "example": {
                                    "data": {
                                        "id": "tron",
                                        "rank": "10",
                                        "symbol": "TRX",
                                        "name": "TRON",
                                        "supply": "88628129776.1845100000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "8730284444.7967174435715312",
                                        "volumeUsd24Hr": "157930768.1061264788971611",
                                        "priceUsd": "0.0985046673876972",
                                        "changePercent24Hr": "-3.1393577723111565",
                                        "vwap24Hr": "0.0992698926632020",
                                        "explorer": "https://tronscan.org/#/"
                                    },
                                    "timestamp": 1700639563602
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/tezos": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_tezos"
                                },
                                "example": {
                                    "data": {
                                        "id": "tezos",
                                        "rank": "55",
                                        "symbol": "XTZ",
                                        "name": "Tezos",
                                        "supply": "958103355.6657850000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "755886192.8740160675329517",
                                        "volumeUsd24Hr": "18978845.8280281662529005",
                                        "priceUsd": "0.7889401372034143",
                                        "changePercent24Hr": "-6.3872350513724990",
                                        "vwap24Hr": "0.8074498891522173",
                                        "explorer": "https://tzkt.io/"
                                    },
                                    "timestamp": 1700639564183
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/chainlink": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_chainlink"
                                },
                                "example": {
                                    "data": {
                                        "id": "chainlink",
                                        "rank": "11",
                                        "symbol": "LINK",
                                        "name": "Chainlink",
                                        "supply": "556849970.4527867000000000",
                                        "maxSupply": "1000000000.0000000000000000",
                                        "marketCapUsd": "7877969509.2124261453486006",
                                        "volumeUsd24Hr": "538066590.5402510494003640",
                                        "priceUsd": "14.1473824678605613",
                                        "changePercent24Hr": "-0.2773553770292768",
                                        "vwap24Hr": "13.9525432490554437",
                                        "explorer": "https://etherscan.io/token/0x514910771af9ca656af840dff83e8264ecf986ca"
                                    },
                                    "timestamp": 1700639564770
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/exchanges": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "h1": {
                                "value": "h1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "volume": {
                                "value": "volume"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "gte10": {
                                "value": "gte10"
                            }
                        }
                    },
                    {
                        "name": "volume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            },
                            "10000000": {
                                "value": "10000000"
                            },
                            "lte10000": {
                                "value": "lte10000"
                            }
                        }
                    },
                    {
                        "name": "minimum",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "0.01": {
                                "value": "0.01"
                            }
                        }
                    },
                    {
                        "name": "maximum",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "spot": {
                                "value": "spot"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Kraken": {
                                "value": "Kraken"
                            },
                            "Binance": {
                                "value": "Binance"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "direction",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "exchangeType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "centralized": {
                                "value": "centralized"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_exchanges"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "binance",
                                            "name": "Binance",
                                            "rank": "1",
                                            "percentTotalVolume": "41.037773036315369721000000000000000000",
                                            "volumeUsd": "9784440409.1501929918475662",
                                            "tradingPairs": "830",
                                            "socket": true,
                                            "exchangeUrl": "https://www.binance.com/",
                                            "updated": 1700639496567
                                        },
                                        {
                                            "exchangeId": "gdax",
                                            "name": "Coinbase Pro",
                                            "rank": "2",
                                            "percentTotalVolume": "9.053709913581660483000000000000000000",
                                            "volumeUsd": "2158632853.9996688013979032",
                                            "tradingPairs": "218",
                                            "socket": true,
                                            "exchangeUrl": "https://pro.coinbase.com/",
                                            "updated": 1700639516890
                                        },
                                        {
                                            "exchangeId": "whitebit",
                                            "name": "WhiteBIT",
                                            "rank": "3",
                                            "percentTotalVolume": "7.045157412904068950000000000000000000",
                                            "volumeUsd": "1679743265.2751918538540007",
                                            "tradingPairs": "90",
                                            "socket": false,
                                            "exchangeUrl": "https://whitebit.com",
                                            "updated": 1700639516214
                                        },
                                        {
                                            "exchangeId": "lbank",
                                            "name": "LBank",
                                            "rank": "4",
                                            "percentTotalVolume": "4.924793735862445610000000000000000000",
                                            "volumeUsd": "1174195071.2886132162802082",
                                            "tradingPairs": "101",
                                            "socket": false,
                                            "exchangeUrl": "https://www.lbank.info",
                                            "updated": 1700639516188
                                        },
                                        {
                                            "exchangeId": "gate",
                                            "name": "Gate",
                                            "rank": "5",
                                            "percentTotalVolume": "4.755520912599590001000000000000000000",
                                            "volumeUsd": "1133836159.7405042473960258",
                                            "tradingPairs": "1298",
                                            "socket": false,
                                            "exchangeUrl": "https://gate.io/",
                                            "updated": 1700639516931
                                        },
                                        {
                                            "exchangeId": "digifinex",
                                            "name": "DigiFinex",
                                            "rank": "6",
                                            "percentTotalVolume": "4.682232064874414931000000000000000000",
                                            "volumeUsd": "1116362249.4825648937568229",
                                            "tradingPairs": "135",
                                            "socket": false,
                                            "exchangeUrl": "https://www.digifinex.com/",
                                            "updated": 1700639515684
                                        },
                                        {
                                            "exchangeId": "kraken",
                                            "name": "Kraken",
                                            "rank": "7",
                                            "percentTotalVolume": "4.341574364949452037000000000000000000",
                                            "volumeUsd": "1035140859.5722405007023166",
                                            "tradingPairs": "340",
                                            "socket": false,
                                            "exchangeUrl": "https://kraken.com",
                                            "updated": 1700639516761
                                        },
                                        {
                                            "exchangeId": "uniswap-v3",
                                            "name": "Uniswap (V3)",
                                            "rank": "8",
                                            "percentTotalVolume": "3.825390705892868070000000000000000000",
                                            "volumeUsd": "912069652.7660897435264665",
                                            "tradingPairs": "294",
                                            "socket": false,
                                            "exchangeUrl": "https://uniswap.org/",
                                            "updated": 1700639457056
                                        },
                                        {
                                            "exchangeId": "huobi",
                                            "name": "Huobi",
                                            "rank": "9",
                                            "percentTotalVolume": "3.159882919168680159000000000000000000",
                                            "volumeUsd": "753395806.7153804823107275",
                                            "tradingPairs": "219",
                                            "socket": true,
                                            "exchangeUrl": "https://www.hbg.com/",
                                            "updated": 1700639511784
                                        },
                                        {
                                            "exchangeId": "kucoin",
                                            "name": "Kucoin",
                                            "rank": "10",
                                            "percentTotalVolume": "2.580044743462378353000000000000000000",
                                            "volumeUsd": "615147757.2384232382944069",
                                            "tradingPairs": "624",
                                            "socket": false,
                                            "exchangeUrl": "https://www.kucoin.io/",
                                            "updated": 1700639515583
                                        }
                                    ],
                                    "timestamp": 1700639568597
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usdt": {
                                "value": "usdt"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "FMA",
                                            "baseId": "flama",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000038100000000",
                                            "priceUsd": "0.1389984115717075",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700639506120
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "BBC",
                                            "baseId": "b2bcoin",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.9999999900000000",
                                            "priceUsd": "1.0002331209818591",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700639529810
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "NEO",
                                            "baseId": "neo",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0002710000000000",
                                            "priceUsd": "9.8867636577251290",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "29",
                                            "updated": 1700639484130
                                        },
                                        {
                                            "exchangeId": "alterdice",
[...]
