{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Online server URL of the 'Random User Generator' REST API."
        }
    ],
    "paths": {
        "/api": {
            "get": {
                "summary": "Retrieves data at the path /api.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "male"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "10"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "2"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[{\"gender\":\"female\",\"name\":{\"title\":\"Miss\",\"first\":\"Generosa\",\"last\":\"Silva\"},\"location\":{\"street\":{\"number\":6702,\"name\":\"Avenida Vin\u00edcius de Morais\"},\"city\":\"Santa Rita\",\"state\":\"Distrito Federal\",\"country\":\"Brazil\",\"postcode\":41994,\"coordinates\":{\"latitude\":\"-73.9129\",\"longitude\":\"136.7780\"},\"timezone\":{\"offset\":\"-6:00\",\"description\":\"Central Time (US & Canada), Mexico City\"}},\"email\":\"generosa.silva@example.com\",\"login\":{\"uuid\":\"5e13a1c3-54ec-4e9d-9b5e-f1afb44a5213\",\"username\":\"whitewolf181\",\"password\":\"f**k\",\"salt\":\"s4V5KZgS\",\"md5\":\"06beb69b453656fbf364a296a63914c5\",\"sha1\":\"db568461bf12e03714eaebbc22ee68c19ee91912\",\"sha256\":\"e957d9e5eb314931d3397a2d2d928c3c39fa9afeb06374095cf0c72d46fc615d\"},\"dob\":{\"date\":\"1981-10-24T23:54:17.069Z\",\"age\":44},\"registered\":{\"date\":\"2021-08-11T06:16:47.032Z\",\"age\":4},\"phone\":\"(22) 6310-1612\",\"cell\":\"(63) 4365-5749\",\"id\":{\"name\":\"CPF\",\"value\":\"474.918.353-84\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/72.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/72.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/72.jpg\"},\"nat\":\"BR\"}],\"info\":{\"seed\":\"68545e411c392302\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/location": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/location.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "female"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncLocation",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat": {
            "get": {
                "summary": "Retrieves data at the path /api/nat.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNat",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/{country-code}": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/{country-code}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "country-code",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'country-code'.",
                        "schema": {
                            "type": "string",
                            "example": "CA"
                        }
                    }
                ],
                "operationId": "getApiNat{country-code}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/portraits/men/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /portraits/men/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getPortraitsMen{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "\ufffd\ufffd\ufffd\ufffd\u0000\u0010JFIF\u0000\u0001\u0001\u0001\u0000H\u0000H\u0000\u0000\ufffd\ufffd\u0002\ufffdICC_PROFILE\u0000\u0001\u0001\u0000\u0000\u0002\ufffdlcms\u00040\u0000\u0000mntrRGB XYZ \u0007\ufffd\u0000\f\u0000\u0010\u0000\u0006\u0000\u0000\u0000$acspAPPL\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\ufffd\ufffd\u0000\u0001\u0000\u0000\u0000\u0000\ufffd-lcms\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u000bdesc\u0000\u0000\u0001\b\u0000\u0000\u00008cprt\u0000\u0000\u0001@\u0000\u0000\u0000Nwtpt\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014chad\u0000\u0000\u0001\ufffd\u0000\u0000\u0000,rXYZ\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014bXYZ\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014gXYZ\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014rTRC\u0000\u0000\u0002\f\u0000\u0000\u0000 gTRC\u0000\u0000\u0002,\u0000\u0000\u0000 bTRC\u0000\u0000\u0002L\u0000\u0000\u0000 chrm\u0000\u0000\u0002l\u0000\u0000\u0000$mluc\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0000\u0000\u0000\fenUS\u0000\u0000\u0000\u001c\u0000\u0000\u0000\u001c\u0000s\u0000R\u0000G\u0000B\u0000 \u0000b\u0000u\u0000i\u0000l\u0000t\u0000-\u0000i\u0000n\u0000\u0000mluc\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0000\u0000\u0000\fenUS\u0000\u0000\u00002\u0000\u0000\u0000\u001c\u0000N\u0000o\u0000 \u0000c\u0000o\u0000p\u0000y\u0000r\u0000i\u0000g\u0000h\u0000t\u0000,\u0000 \u0000u\u0000s\u0000e\u0000 \u0000f\u0000r\u0000e\u0000e\u0000l\u0000y\u0000\u0000\u0000\u0000XYZ \u0000\u0000\u0000\u0000\u0000\u0000\ufffd\ufffd\u0000\u0001\u0000\u0000\u0000\u0000\ufffd-sf32\u0000\u0000\u0000\u0000\u0000\u0001\fJ\u0000\u0000\u0005\ufffd\ufffd\ufffd\ufffd*\u0000\u0000\u0007\ufffd\u0000\u0000\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000\u0000\u0003\ufffd\u0000\u0000\ufffd\ufffdXYZ \u0000\u0000\u0000\u0000\u0000\u0000o\ufffd\u0000\u00008\ufffd\u0000\u0000\u0003\ufffdXYZ \u0000\u0000\u0000\u0000\u0000\u0000$\ufffd\u0000\u0000\u000f\ufffd\u0000\u0000\ufffd\ufffdXYZ \u0000\u0000\u0000\u0000\u0000\u0000b\ufffd\u0000\u0000\ufffd\ufffd\u0000\u0000\u0018\ufffdpara\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0002ff\u0000\u0000\ufffd\u0000\u0000\rY\u0000\u0000\u0013\ufffd\u0000\u0000\n[para\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0002ff\u0000\u0000\ufffd\u0000\u0000\rY\u0000\u0000\u0013\ufffd\u0000\u0000\n[para\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0002ff\u0000\u0000\ufffd\u0000\u0000\rY\u0000\u0000\u0013\ufffd\u0000\u0000\n[chrm\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0000\ufffd\ufffd\u0000\u0000T{\u0000\u0000L\ufffd\u0000\u0000\ufffd\ufffd\u0000\u0000&f\u0000\u0000\u000f\\\ufffd\ufffd\u0000C\u0000\b\u0006\u0006\u0007\u0006\u0005\b\u0007\u0007\u0007\t\t\b\n\f\u0014\r\f\u000b\u000b\f\u0019\u0012\u0013\u000f\u0014\u001d\u001a\u001f\u001e\u001d\u001a\u001c\u001c $.' \",#\u001c\u001c(7),01444\u001f'9=82<.342\ufffd\ufffd\u0000C\u0001\t\t\t\f\u000b\f\u0018\r\r\u00182!\u001c!22222222222222222222222222222222222222222222222222\ufffd\ufffd\u0000\u0011\b\u0000\ufffd\u0000\ufffd\u0003\u0001\"\u0000\u0002\u0011\u0001\u0003\u0011\u0001\ufffd\ufffd\u0000\u001c\u0000\u0000\u0001\u0005\u0001\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0000\u0004\u0005\u0006\u0007\u0002\u0003\b\ufffd\ufffd\u0000:\u0010\u0000\u0001\u0003\u0002\u0004\u0004\u0003\u0006\u0004\u0005\u0004\u0003\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0000\u0011\u0005\u0012!1\u0006\u0013AQ\"a\ufffd\u0014q\ufffd\ufffd\ufffd\ufffd\u0007#2\ufffd\u0015BRb\ufffd\u0016$%Cr\ufffd\ufffd\ufffd\ufffd\u0000\u0019\u0001\u0000\u0003\u0001\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0005\ufffd\ufffd\u0000\u001d\u0011\u0001\u0001\u0000\u0003\u0000\u0003\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0011\u0012!1AQ\ufffd\ufffd\u0000\f\u0003\u0001\u0000\u0002\u0011\u0003\u0011\u0000?\u0000\u0528\u042e\ufffd\u0000\ufffd\u0423@*4\ufffdP\n\ufffd*T\u0002\ufffdJ\ufffdbX\ufffd\\&\u0003\ufffde\ufffd\ufffd\ufffd\ufffd\u0275\ufffd=\u0000\u001d\ufffd\u0007*PJJ\ufffd@\u0003rMG9\ufffd\ufffd\r>\ufffd\u001c\u0122\ufffd\ufffdh\ufffd\ufffd\u0006\ufffdk\u001f:\ufffdx\ufffd\ufffd\ufffd\u000e#y1\ufffd\ufffdH!~\u00147r\ufffd\ufffd\ufffd\ufffd\ufffd@F\ufffd!rRQ\ufffd\ufffd\ufffd\u0017[\ufffd\u011f}\ufffdY\ufffd\ufffd\ufffdk\ufffd\ufffd#\u0018\ufffd9D\b\ufffd\ufffdt\ufffdC\ufffd\u04c2k\u000e\ufffd\u04d1\ufffd\u0017\u001drB\ufffd\u0352\ufffd\ufffdleU\ufffdRw\u0000m\ufffd\ufffd\ufffd\bq\ufffd\ufffd\ufffd\ufffda\ufffd)acu\ufffd\u001e+\ufffd\ufffdc\ufffd\ufffd\ufffd\ufffd\ufffdN\ufffd&\ufffd4\ufffdB\ufffd\ufffd'\ufffd\u0011J\ufffd\u0000h\u0423H\u0015*4\ufffd\ufffd\ufffdF\ufffd\u0000+9\ufffdOq\ufffd\ufffd\u0006\u001a\u0001\u4529\ufffdv\ufffd\ufffd+F\ufffd\ufffd\u0015\ufffdjZX*P\u001b\ufffd\ufffd\ufffdy\ufffdMS\ufffd2\ufffd\u001f\u0003rf\"\ufffd\u0012\ufffd\u0000\u0004_\ufffd\ufffd\ufffd\ufffd\u0017\ufffd^i\ufffd)\ufffd\ufffd\\@\ufffd\u06ba\ufffd\u0019\ufffd7.ApN\ufffd\ufffdj\ufffd\u0019\u0138\ufffdU\ufffd\u04b9=\ufffd}\ufffd\ufffdI\ufffd'\ufffd\ufffd\ufffd\u0013!I\ufffd\u0001|\ufffdv\u001a\ufffdZ\ufffdW\u000e\u001c\t\ufffd\ufffda\u0557\ufffdVa\uefb5\ufffd>\ufffdnm\u04ab\u0018\ufffd@%JZ\ufffd\u0004\u0013rt\u0014\ufffd\ufffd\ufffdK\u0016t/;HWt\ufffd\ufffdz\ufffd\ufffd1\ufffd\ufffd\ufffd\u001c\ufffd\u0002\u06ed\u0010\ufffd\u032b\ufffd6\ufffd6=\ufffd\ufffd\u001e\ufffd\ufffd\ufffd^\ufffd\u03674hQ\ufffd\u0015\u001aT\u0014r\ufffdT\u0011\ufffd\ufffd\ufffd\u000f\ufffd\u0001\ufffd\"l.t\u0015W\u0165b\ufffd\ufffdXC\u0013C02\u0017\n\ufffd)R\u05ad\ufffd\ufffd\ufffd\r\ufffd|\ufffd8\ufffd\ufffd\ufffd\ufffd\ufffd:\ufffd\ufffd\ufffd\u0011{\ufffd\u0000\ufffd\ufffd=\ufffd\u001f\u0198\ufffd\ufffdy\ufffdJ\u001b\u0003\ufffd%\ufffd\ufffdI\ufffd~\u0002\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdZR\ufffd\ufffd~\u001d;\ufffd\ufffd7\ufffdX)PZ\u0019k'\ufffd\ufffdf'\ufffd\ufffd*\u001a_\u00102\ufffd\ufffd2@\u001f\u03be\ufffd\ufffd:\ufffd\ufffd\u02fc\ufffd\ufffd^?\ufffdJ1\ufffd)\ufffd\ufffd\u0011\ufffd$fBS\u04fd{I\ufffd\ufffd\u65b6\ufffd\ufffd\u0006\u9eb6\u0017\u001b\ufffd\u0000\ufffdz\ufffdE\ufffd\ufffd\ufffdH,Bq\ufffd\ufffd\ufffd\u0007\u001e9.>\ufffdk\ufffdyI\ufffd\u001aSm\ufffd\ufffd\ufffd]+\ufffdO1FX\ufffdi\ufffdX\ufffd}!\ufffd\ufffdO{cg\u000fZa\ufffd`\ufffd\ufffd9\ufffdQ\u001d\u0016\ufffd\ufffd\ufffd\u0001\u0138\ufffd\u0016\ufffdPq<\rH\ufffd\ufffd\ufffdl9\u0011Y\ufffdt\ufffd6\u02f6\u01a6T\ufffd\u07d9%\t\r\ufffd!-\f\ufffd\ufffd\ufffd\ufffd_\u05a49\ufffd\ufffdP\ufffd\u0012.\r\ufffdb\b\ufffd\u001f}G<}V\ufffd\ufffd\ufffd\u0014\ufffdq\u001c\ufffd\ufffd \ufffdn4f\ufffdTT\ufffdf\ufffd\ufffd\\\u001f\ufffdC\u03cb\ufffd?\ufffd7\ufffd\ufffdy\ufffd6\ufffd%mDa*RM\u01a0\ufffd\u0007z\ufffdr#\ufffd\ufffd\u000b\ufffds \ufffdT\ufffdA=\ufffd&\u05e8N)\u01b0\ufffd\u0018e\ufffd$\u0005\ufffdi\ufffdX\u00024\ufffd{\ufffdQ2\ufffd+\u01ffSXL8\ufffdS\ufffd\ufffd`2d!(\t\u0000\u000f\nok\ufffd\ufffd\ufffd5%zc\ufffd,\ufffd\u0007\ufffd\ufffd-\ufffd\ufffd\ufffdC\ufffd\ufffdd\ufffdd\ufffd\ufffd\ufffd\ufffdO\ufffd\u0423L\ufffd2\ufffd\rFY7\ufffd\u0010,lv\ufffdU6P\ufffd\r\ufffdAq\ufffd\u000e\ufffduej'\ufffd\ufffdZ\ufffd\ufffdL)\ufffdJJE\ufffd5\u0003\ufffdTV\ufffd\ufffd\u0014\u001b\ufffd:*\ufffd8r\ufffd\ufffd\ufffd)\ufffd}\ufffdEDc3\ufffd\ufffd\rnan2\ufffdA\t.\ufffd\ufffd\ufffd5\t\ufffd\ufffd\ufffdk\ufffdc\ufffdCen4\ufffd\ufffdn\ufffd\ufffd-\ufffdV\ufffd\u0005\ufffd\ufffd\ufffd\ufffds\u0013\u0286H%\u0005\ufffd\ufffdV\ufffd\ufffd\ufffd\ufffd5\ufffd\ufffd\u007f\u000ff\ufffd\u000fH\ufffd\ufffd,I\ufffd\ufffdmb\ufffd\ufffdjt\u0004\ufffd\ufffd\ufffd\ufffd{\ufffd\ufffd\ufffd\ufffd\ufffd(\ufffdJ\ufffd\ufffdmo\ufffd\ufffd$_=\ufffdv\ufffd\ufffdq\ufffd\u025d/\ufffdd\ufffdG0\u0001\u0019\ufffd\ufffd\r\ufffd\ufffd\ufffdSxx%\ufffd\ufffd6B\ufffdU_\ufffdT;\u0498L~\u001d\ufffd\ufffd\u02be!\ufffdP\ufffd-S\ufffd\ufffdk\ufffd\u010f\ufffdU\ufffd\u0018bj\ufffd$\ufffd\ufffdb;\ufffd\ufffd\u068a3\u0012\ufffd\u0002\ufffd\ufffd\ufffdz\u001bU^Z\ufffdd\ufffd\ufffd6m\ufffd\u0005\u0011\ufffd\n\u000f\ufffdv.-\u0019\ufffd\u0013\u00161*Y\u001f\u07e0#\ufffd\u000f\ufffd>\ufffd\ufffdPc3\ufffd\u001e&fL\ufffd(\ufffd\u001f\ufffd\ufffdcL\ufffd\ufffd\ufffd)\u001eD\ufffd\ufffd:\ufffd\u0256\ufffdL\ufffd!\nRM\ufffdC\ufffd\u007f:\ufffd\ufffd\u0019\ufffd\u0011\u0019\u0351\ufffd\ufffd\ufffd\u0014$\ufffd\ufffdo\u001c\u066da\ufffdUp\u000f\ufffd,;\u0014\ufffd\r\fG\ufffd,\ufffd\ufffd!\ufffd\u0016]y\u000b$\u001c\ufffd\ufffd\ufffd\u001a\ufffd\u007f\ufffdF\ufffd~S\ufffd5\u055f/\ufffdN\ufffdu\u0012\ufffdy\ufffdiq\u0017U\ufffd@V\ufffd\u03fdT8\ufffd\ufffd\ufffd7\ufffdC\u0005*Z\ufffdan.\ufffd\ufffd\ufffd>!\ufffd\ufffd\ufffd!=\u023e\ufffdm\ufffd\u001f\u06b3\ufffd!\ufffd&\u0017\ufffd\ufffdO!kuaynS\ufffd\ufffd\ufffdn\u05f9\u04b9\ufffd\ufffd\ufffd#\ufffd<\ufffd\ufffd\u0563\ufffd\ufffd\u0010\ufffd*\u001a\u0018\ufffd\ufffd(6\ufffd%\u000e7\ufffdJv\u0017\u001d5\u0016\ufffd\ufffdR\u0610\u0007)\ufffd\ufffdqp\u0002\ufffd\ufffd\u0015\ufffd\ufffd\ufffd9l-\ufffd\u001a\ufffdJV\ufffdI9\ufffd\ufffd\u01a3~\ufffd5\u0001\ufffd\ufffd\ufffdT\ufffd\ufffde\ufffd\ufffd-vu\ufffd\ufffd\ufffdF\ufffd\u001a\ufffd\u001a\ufffd\ufffdp^u\ufffdFO\ufffdu u\ufffd\u0015=J\ufffd\ufffd\u0326s2\ufffd\ufffdl\r\ufffd5_\ufffd\u001f\ufffd%E\ufffd\bO\ufffd\ufffdkX\ufffd\u0007\u001b\u0011IU\ufffdo\u001f\ufffd\u0003C\ufffd\u001dj\ufffd\ufffd\ufffd\u0012a\ufffd\ufffd\ufffdg)\ufffd(l}\ufffd6q_U\ufffd1\ufffd\ufffd\u0145\ufffd\ufffd\ufffd\u06f9\ufffd\ufffd\ufffd\ufffd\u0018E3\ufffd(\u000bN\ufffd+\ufffd\ufffd\ufffd\ufffdRL\ufffd<\ufffdNC\ufffd\u0329\u0000\ube75{-\ufffd\ufffd\ufffd\u0016t\ufffd\ufffd\ufffd\u0680j\ufffd\u02d1\u0001m\ufffd6PN\ufffd\ufffd\u050b`J\ufffd\ufffd\ufffd\u0010\u001d[i\u0017=\ufffd\ufffd\ufffdW\ufffdi\u001c\u0570\ufffd;\u001ap\ufffd\ufffdCI\u0000\r\u00106\ufffd]~\ufffd\ufffd\ufffd\u0018\ufffd\ufffd\ufffd!\ufffd\t\u000b\ufffd\ufffd\u001dt\u0003\ufffdD\ufffd\u001d{\ufffd\ufffd+\ufffd\u0013\ufffdp\ufffd8\ufffd9\ufffdQBV\ufffd-\u056d*Y\u000e\ufffdY\u000eXu>\u001f\ufffdFpl\u01d1\u001avi\ufffd8V&r%\ufffd3\u001b\ufffd\u0012ln\r\ufffd\ufffd\ufffd\ufffd{\u0011i\n\\\ufffd\ufffd\ufffd?\f!\ufffdh\ufffd6M\ufffd\ufffd7\ufffd\u0000\ufffd\u07b4\ufffd>\u00b1\ufffdF\u000eW6Cc\ufffd\ufffd\ufffdk\ufffd\ufffdn>U\f\ufffd\u05ce\ufffdHyQ\ufffd1c\ufffd\ufffds\u0010n\ufffd\ufffdS\u5d95Z\ufffde\ufffd^,\ufffdk\u000f\ufffd/\u000eZ\ufffd\ufffd-\ufffd\ufffd*\ufffdl6\ufffd\ufffd^\ufffd\ufffd\t\ufffd\u0517e%\u0018d\ufffd!9\u0013\ufffd(\u070c\ufffd+9\ufffd\ufffd\ufffd\ufffd[|\ufffd\u0015y\ufffd\ufffd\u0198\ufffd,!-\ufffd\ufffd\ufffdPn\u0001\ufffdL\ufffd\ufffd\ufffd\u0007\u001c\ufffd\ufffd8Uc\ufffd\ufffd\u0001\ufffd\u0015+;\"\ufffdiB\ufffd\ufffd\u000f\ufffd,G\ufffd\ufffdp\ufffdxe\ufffd\u02caR\ufffd\u0003\ufffd&\ufffd5J5\u0223Z E\u001a\u0014h\u0005\\\ufffd\ufffd8\ufffd\ufffd\u0012\u0014\ufffd\ufffd#z\ufffd\u0001_\u0130\ufffd\u0010\ufffd\ufffdf\ufffd@\ufffd\ufffd\ufffd\ufffd>E\ufffd\u0011\ufffd\ud030#J\ufffdf\ufffd+\ufffd\ufffd\ufffd\uc6cf}g\u0013G\ufffd\ufffdj\ufffd\ufffd\ufffdX\ufffd{1\u0005\ufffd\bxZ\ufffdi\u00da\ufffd\u0685\ufffd\u0004t\ufffdE\ufffd\ufffdM\ufffdu\ufffd\ufffd\u001c\ufffd\ufffd\u0001\ufffd\u0012\ufffd=?\ufffd#Hp\ufffdwQ\ufffd).6\ufffd\u001ans\ufffd\u000bNl\ufffd\u0102;\u0011{iSsp\ufffd\ufffdYZyJd\ufffd3\ufffd\ufffd\u001d\u0724\u0003n\ufffd\u001fZ\ufffd\ufffd\ufffd&\u001chm?\r\ufffd%A\ufffd\ufffd\u023d\ufffdueM\ufffd>\ufffd\ufffdf#\u001e:e\b\ufffds3\ufffd\ufffd\t\t($\ufffd\ufffdM~\ufffdig\ufffd8~\"\ufffd\ufffd?\u0017\u0011\u0001/4L\ufffd\ufffd\u000f4\ufffd\ufffdP\ufffd\ufffd\u05b4_\ufffd1\u0319\ufffd\ufffd4\u0012\ufffdM\ufffdmd\ufffd\ufffd\ufffd\ufffdo'\fJ\ufffd\ufffd\ufffd\ufffd\ufffd\"\ufffd\ufffd}\u0013\ufffdJ\ufffd\u000eg\ufffd\ufffd\ufffd\ufffd\u0003t\ufffd\u0002\b>\u001f}:J\u001e,9\u000fMVe)-!V+\ufffd\ufffd\u0003\ufffd*-\ufffd\ufffd\t\ufffd\u0003\ufffd\u0007_*\ufffd\ufffd=D\ufffdk\u0015\ufffd \ufffdP\u001f\ufffd3 $\u000f\ufffdSN\ufffd\\\ufffd5iuJ\ufffd\u001a\u0000\u04a1J\ufffd\ufffdm\u0005\ufffd\ufffd\rg\ufffdE\ufffd$\ufffd\ufffd\u07f5_\ufffd#l=\ufffdv\u0003\ufffdT972\u0007b}*j\ufffdB\ufffd\ufffd\ufffd\ufffdM\ufffdG\ufffds#d\u0003\ufffdq6\ufa37\u079e4\ufffd[\u0000|\ufffd:Z\ufffd1\b\ufffd\u0004\u0017\u0014\ufffdl$ u\ufffd\ufffd?*\ufffd\ufffdD\u00bd\ufffd\ufffd\ufffd<\ufffdZ\ufffd\ufffdmdt\u001bh.|\ufffdUF\ufffd\ufffd\ufffd+\u0018S\ufffd#\ufffdA\ufffd\ufffd\ufffd\ufffd9\u0014\ufffdnH\ufffd\ufffdqV\ufffd\ufffd\ufffd\ufffd\u0005\u0002\ufffd]7\n\u0016\ufffdP\ufffd\ufffd\u001b\u0018J\ufffd\u0019y\ufffd\t%\u0004\ufffd\ufffd\ufffd=\u0564\ufffd\ufffd`Ei\ufffdp\ufffd*\ufffd\ufffdX\ufffd2\u02c5ir\ufffd?\ufffdnE\ufffd\ufffd\ufffd\u001a,\u0019S\ufffd\ufffd=\ufffd\ufffd\ufffd\ufffd\u0000\ufffd4\ufffd0\ufffd\ufffdq\\!\t}\ufffd%\ufffd\ufffd\n\ufffd\r\u028e\ufffd\ufffd\u000b\nW#1yZ\ufffdJ\ufffd\u000f\ufffd>TZR3\ufffdu\u030be\ufffd\ufffd2H'1\u0500\t\ufffd\ufffd\ufffd\ufffd\u0012\ufffd/\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u001b\ufffd\ufffdP\ufffd\ufffdw\ufffd\ufffd\ufffd%\ufffd\u04196\ufffdNk\ufffd[W\ufffd\\\ufffd5h\u0011F\ufffd\u001a\u0000\u04a5J\ufffdc\ufffd\ufffd,\u00125\ufffdCj\ufffdHM\ufffd\ufffd\u03aeX\ufffdb\ufffd;\ufffd\ufffd*\ufffd\ufffd\"@9\ufffd\ufffdSU\u000f\u001a' \ufffd\u02a03\ufffdO\u001ba\ufffd\ufffd_\ufffd%\ufffd%\ufffd\ufffd.D\ufffd_\ufffd\ufffd(\ufffd\u0012\t\ufffd#Ri\ufffd\ufffd\ufffdJ\ufffd\ufffd\ufffd\ufffd\ufffd\u0014,V\ufffd\u0010\b6\ufffd\ufffd\ufffdD\u0015l\u00e5\ufffd-\u001559\ufffdIq\u0568%\ufffd\ufffd\ufffd1\u0000k\ufffd\ufffd^\ufffd_\ufffd\ufffdH\ufffdL\u009fFw\ufffd#\ufffd\ufffd@\u0002\ufffd\ufffd\ufffdM~\ufffdp\\F\u0015\u0006\ufffd\ufffdIPl\ufffd3F\ufffd\ufffd\ufffd\ufffdE\ufffd\ufffd%\ufffd\ufffd\u0016\"\ufffd\u0012 \ufffd\ufffd\ufffd@\ufffd\ufffdK\ufffd\ufffdU\ufffdu5\ufffd\u000e\ufffd\u0016\u001d3\u0014\ufffd!*\ufffd\ufffdb\ufffd\ufffd.\ufffd\ufffdX\u0001\ufffd5ek\u0013\ufffd\ufffd\u0004(Ipeh*\ufffdE\ufffd\ufffd\ufffdU\ufffd>,\ufffdc\ufffd1\u019d\ufffd\u0016JWo\u0001\ufffd\ufffd3:6 0\u01c0r#\ufffd2G\ufffd\u0003\ufffd\ufffdR\ufffd8\ufffdq\ufffds8\ufffd\ufffd\ufffd\ufffd\"\r\ufffd\ufffdD\u04e9#\ufffd\ufffd\u0007|\ufffd(\ufffd\fQ\ufffd\ufffd]?c\ufffdKm\ufffdD\u0513\ufffd6\u001b\ufffdM\ufffd\u000e?\ufffd\ufffd"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/results": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/results.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "female"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": "false"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncResults",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/noinfo": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/noinfo.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "gender"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "xml"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncNoinfo",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExc",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/format": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/format.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncFormat",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/gb": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/gb.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatGb",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/seed=abc": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/seed=abc.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatSeed=abc",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/uuid": {
            "get": {
                "summary": "Retrieves data at the path /api/uuid.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiUuid",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/{country-code}/name": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/{country-code}/name.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "country-code",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'country-code'.",
                        "schema": {
                            "type": "string",
                            "example": "CA"
                        }
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "female"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNat{country-code}Name",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/ca": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/ca.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "gender"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "pretty"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatCa",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/ch": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/ch.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatNatCh",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/es": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/es.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatEs",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/fi": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/fi.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatFi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/gb": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/gb.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'password'.",
                        "schema": {
                            "type": "string",
                            "example": "upper"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "special",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'special'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatGb",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/ie": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/ie.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatNatIe",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/nl": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/nl.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatNl",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/nz": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/nz.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatNz",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/tr": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/tr.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatTr",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nat/us": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nat/us.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNatUs",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc/name": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc/name.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExcName",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc/email": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc/email.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExcEmail",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc/registered": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc/registered.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExcRegistered",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc/dob": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc/dob.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExcDob",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc/location": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc/location.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExcLocation",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/exc/cell": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/exc/cell.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncExcCell",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/dob": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/dob.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncDob",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/phone": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/phone.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncPhone",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/cell": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/cell.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncCell",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/format/gender/name": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/format/gender/name.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncFormatGenderName",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/format/gender/nat": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/format/gender/nat.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncFormatGenderNat",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/format/gender/name/nat": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/format/gender/name/nat.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncFormatGenderNameNat",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/inc/format/gender/nat/email": {
            "get": {
                "summary": "Retrieves data at the path /api/inc/format/gender/nat/email.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiIncFormatGenderNatEmail",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/es": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/es.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatEs",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/fi": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/fi.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatFi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/ir": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/ir.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatIr",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/ie": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/ie.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatIe",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/nz": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/nz.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatNz",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/tr": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/tr.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatTr",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/ch": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/ch.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatCh",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/pt": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/pt.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "au"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatPt",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/ma": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/ma.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatMa",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/md": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/md.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatMd",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/ve": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/ve.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatVe",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/mx": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/mx.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiNatMx",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/in": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/in.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatIn",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/id": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/id.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNatId",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/seed=abc/password": {
            "get": {
[...]
