{
    "openapi": "3.1.0",
    "info": {
        "title": "Balldontlie API",
        "description": "**API Description** - The Balldontlie API is a sports API that provides data on basketball games, players, teams, and statistics.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Balldontlie API Contact",
            "url": "https://www.balldontlie.io/#contact",
            "email": ""
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.balldontlie.io",
            "description": "Production Server of the Balldontlie API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.balldontlie.io",
        "description": "Find more about the Balldontlie API here:"
    },
    "paths": {
        "/api/v1/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron+James": {
                                "value": "LeBron+James"
                            },
                            "kobe": {
                                "value": "kobe"
                            },
                            "Jordan": {
                                "value": "Jordan"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "points": {
                                "value": "points"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "min_year_experience",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "max_salary",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20000000": {
                                "value": "20000000"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "west": {
                                "value": "west"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 237,
                                            "first_name": "LeBron",
                                            "height_feet": 6,
                                            "height_inches": 8,
                                            "last_name": "James",
                                            "position": "F",
                                            "team": {
                                                "id": 14,
                                                "abbreviation": "LAL",
                                                "city": "Los Angeles",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Los Angeles Lakers",
                                                "name": "Lakers"
                                            },
                                            "weight_pounds": 250
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 1,
                                        "current_page": 1,
                                        "next_page": null,
                                        "per_page": 50,
                                        "total_count": 1
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/players/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /api/v1/players/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron+James": {
                                "value": "LeBron+James"
                            },
                            "james": {
                                "value": "james"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "25": {
                                "value": "25"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2018": {
                                "value": "2018"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "22": {
                                "value": "22"
                            },
                            "2": {
                                "value": "2"
                            },
                            "6": {
                                "value": "6"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "6-8": {
                                "value": "6-8"
                            }
                        }
                    },
                    {
                        "name": "weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "250": {
                                "value": "250"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "West": {
                                "value": "West"
                            },
                            "east": {
                                "value": "east"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Pacific": {
                                "value": "Pacific"
                            },
                            "atlantic": {
                                "value": "atlantic"
                            }
                        }
                    },
                    {
                        "name": "game_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234": {
                                "value": "1234"
                            },
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-01-01": {
                                "value": "2020-01-01"
                            }
                        }
                    },
                    {
                        "name": "stats",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-12-31": {
                                "value": "2020-12-31"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "fields[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "value": "id"
                            }
                        }
                    },
                    {
                        "name": "player_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123": {
                                "value": "123"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players_id"
                                },
                                "example": {
                                    "id": 86,
                                    "first_name": "Michael",
                                    "height_feet": null,
                                    "height_inches": null,
                                    "last_name": "Carter-Williams",
                                    "position": "G",
                                    "team": {
                                        "id": 22,
                                        "abbreviation": "ORL",
                                        "city": "Orlando",
                                        "conference": "East",
                                        "division": "Southeast",
                                        "full_name": "Orlando Magic",
                                        "name": "Magic"
                                    },
                                    "weight_pounds": null
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron+James": {
                                "value": "LeBron+James"
                            },
                            "Stephen+Curry": {
                                "value": "Stephen+Curry"
                            },
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "10": {
                                "value": "10"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "player_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123": {
                                "value": "123"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "east": {
                                "value": "east"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "atlantic": {
                                "value": "atlantic"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            },
                            "Boston": {
                                "value": "Boston"
                            }
                        }
                    },
                    {
                        "name": "abbreviations[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LAL": {
                                "value": "LAL"
                            }
                        }
                    },
                    {
                        "name": "full_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Cleveland+Cavaliers": {
                                "value": "Cleveland+Cavaliers"
                            }
                        }
                    },
                    {
                        "name": "abbreviation",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LAL": {
                                "value": "LAL"
                            }
                        }
                    },
                    {
                        "name": "stats",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "first_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron": {
                                "value": "LeBron"
                            }
                        }
                    },
                    {
                        "name": "last_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "James": {
                                "value": "James"
                            }
                        }
                    },
                    {
                        "name": "slug",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "celtics": {
                                "value": "celtics"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chicago": {
                                "value": "Chicago"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2022": {
                                "value": "2022"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_teams"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "abbreviation": "ATL",
                                            "city": "Atlanta",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Atlanta Hawks",
                                            "name": "Hawks"
                                        },
                                        {
                                            "id": 2,
                                            "abbreviation": "BOS",
                                            "city": "Boston",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Boston Celtics",
                                            "name": "Celtics"
                                        },
                                        {
                                            "id": 3,
                                            "abbreviation": "BKN",
                                            "city": "Brooklyn",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Brooklyn Nets",
                                            "name": "Nets"
                                        },
                                        {
                                            "id": 4,
                                            "abbreviation": "CHA",
                                            "city": "Charlotte",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Charlotte Hornets",
                                            "name": "Hornets"
                                        },
                                        {
                                            "id": 5,
                                            "abbreviation": "CHI",
                                            "city": "Chicago",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Chicago Bulls",
                                            "name": "Bulls"
                                        },
                                        {
                                            "id": 6,
                                            "abbreviation": "CLE",
                                            "city": "Cleveland",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Cleveland Cavaliers",
                                            "name": "Cavaliers"
                                        },
                                        {
                                            "id": 7,
                                            "abbreviation": "DAL",
                                            "city": "Dallas",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Dallas Mavericks",
                                            "name": "Mavericks"
                                        },
                                        {
                                            "id": 8,
                                            "abbreviation": "DEN",
                                            "city": "Denver",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Denver Nuggets",
                                            "name": "Nuggets"
                                        },
                                        {
                                            "id": 9,
                                            "abbreviation": "DET",
                                            "city": "Detroit",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Detroit Pistons",
                                            "name": "Pistons"
                                        },
                                        {
                                            "id": 10,
                                            "abbreviation": "GSW",
                                            "city": "Golden State",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Golden State Warriors",
                                            "name": "Warriors"
                                        },
                                        {
                                            "id": 11,
                                            "abbreviation": "HOU",
                                            "city": "Houston",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Houston Rockets",
                                            "name": "Rockets"
                                        },
                                        {
                                            "id": 12,
                                            "abbreviation": "IND",
                                            "city": "Indiana",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Indiana Pacers",
                                            "name": "Pacers"
                                        },
                                        {
                                            "id": 13,
                                            "abbreviation": "LAC",
                                            "city": "LA",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "LA Clippers",
                                            "name": "Clippers"
                                        },
                                        {
                                            "id": 14,
                                            "abbreviation": "LAL",
                                            "city": "Los Angeles",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Los Angeles Lakers",
                                            "name": "Lakers"
                                        },
                                        {
                                            "id": 15,
                                            "abbreviation": "MEM",
                                            "city": "Memphis",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Memphis Grizzlies",
                                            "name": "Grizzlies"
                                        },
                                        {
                                            "id": 16,
                                            "abbreviation": "MIA",
                                            "city": "Miami",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Miami Heat",
                                            "name": "Heat"
                                        },
                                        {
                                            "id": 17,
                                            "abbreviation": "MIL",
                                            "city": "Milwaukee",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Milwaukee Bucks",
                                            "name": "Bucks"
                                        },
                                        {
                                            "id": 18,
                                            "abbreviation": "MIN",
                                            "city": "Minnesota",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Minnesota Timberwolves",
                                            "name": "Timberwolves"
                                        },
                                        {
                                            "id": 19,
                                            "abbreviation": "NOP",
                                            "city": "New Orleans",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "New Orleans Pelicans",
                                            "name": "Pelicans"
                                        },
                                        {
                                            "id": 20,
                                            "abbreviation": "NYK",
                                            "city": "New York",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "New York Knicks",
                                            "name": "Knicks"
                                        },
                                        {
                                            "id": 21,
                                            "abbreviation": "OKC",
                                            "city": "Oklahoma City",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Oklahoma City Thunder",
                                            "name": "Thunder"
                                        },
                                        {
                                            "id": 22,
                                            "abbreviation": "ORL",
                                            "city": "Orlando",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Orlando Magic",
                                            "name": "Magic"
                                        },
                                        {
                                            "id": 23,
                                            "abbreviation": "PHI",
                                            "city": "Philadelphia",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Philadelphia 76ers",
                                            "name": "76ers"
                                        },
                                        {
                                            "id": 24,
                                            "abbreviation": "PHX",
                                            "city": "Phoenix",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Phoenix Suns",
                                            "name": "Suns"
                                        },
                                        {
                                            "id": 25,
                                            "abbreviation": "POR",
                                            "city": "Portland",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Portland Trail Blazers",
                                            "name": "Trail Blazers"
                                        },
                                        {
                                            "id": 26,
                                            "abbreviation": "SAC",
                                            "city": "Sacramento",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Sacramento Kings",
                                            "name": "Kings"
                                        },
                                        {
                                            "id": 27,
                                            "abbreviation": "SAS",
                                            "city": "San Antonio",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "San Antonio Spurs",
                                            "name": "Spurs"
                                        },
                                        {
                                            "id": 28,
                                            "abbreviation": "TOR",
                                            "city": "Toronto",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Toronto Raptors",
                                            "name": "Raptors"
                                        },
                                        {
                                            "id": 29,
                                            "abbreviation": "UTA",
                                            "city": "Utah",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Utah Jazz",
                                            "name": "Jazz"
                                        },
                                        {
                                            "id": 30,
                                            "abbreviation": "WAS",
                                            "city": "Washington",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Washington Wizards",
                                            "name": "Wizards"
                                        },
                                        {
                                            "id": 37,
                                            "abbreviation": "CHS",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Chicago Stags",
                                            "name": "Chicago Stags"
                                        },
                                        {
                                            "id": 38,
                                            "abbreviation": "BOM",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "St. Louis Bombers",
                                            "name": "St. Louis Bombers"
                                        },
                                        {
                                            "id": 39,
                                            "abbreviation": "CLR",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Cleveland Rebels",
                                            "name": "Cleveland Rebels"
                                        },
                                        {
                                            "id": 40,
                                            "abbreviation": "DEF",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Detroit Falcons",
                                            "name": "Detroit Falcons"
                                        },
                                        {
                                            "id": 41,
                                            "abbreviation": "HUS",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Toronto Huskies",
                                            "name": "Toronto Huskies"
                                        },
                                        {
                                            "id": 42,
                                            "abbreviation": "WAS",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Washington Capitols",
                                            "name": "Washington Capitols"
                                        },
                                        {
                                            "id": 43,
                                            "abbreviation": "PRO",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Providence Steamrollers",
                                            "name": "Providence Steamrollers"
                                        },
                                        {
                                            "id": 44,
                                            "abbreviation": "PIT",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Pittsburgh Ironmen",
                                            "name": "Pittsburgh Ironmen"
                                        },
                                        {
                                            "id": 45,
                                            "abbreviation": "BAL",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Baltimore Bullets",
                                            "name": "Baltimore Bullets"
                                        },
                                        {
                                            "id": 46,
                                            "abbreviation": "JET",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Indianapolis Jets",
                                            "name": "Indianapolis Jets"
                                        },
                                        {
                                            "id": 47,
                                            "abbreviation": "AND",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Anderson Packers",
                                            "name": "Anderson Packers"
                                        },
                                        {
                                            "id": 48,
                                            "abbreviation": "WAT",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Waterloo Hawks",
                                            "name": "Waterloo Hawks"
                                        },
                                        {
                                            "id": 49,
                                            "abbreviation": "INO",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Indianapolis Olympians",
                                            "name": "Indianapolis Olympians"
                                        },
                                        {
                                            "id": 50,
                                            "abbreviation": "DN",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Denver Nuggets",
                                            "name": "Denver Nuggets"
                                        },
                                        {
                                            "id": 51,
                                            "abbreviation": "SHE",
                                            "city": "",
                                            "conference": "    ",
                                            "division": "",
                                            "full_name": "Sheboygan Redskins",
                                            "name": "Sheboygan Redskins"
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 1,
                                        "current_page": 1,
                                        "next_page": null,
                                        "per_page": 50,
                                        "total_count": 45
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/games": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron+James": {
                                "value": "LeBron+James"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "opponent_team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "venue_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "postseason",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_games"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 47179,
                                            "date": "2019-01-30T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 126,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": " ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 94
                                        },
                                        {
                                            "id": 48751,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 112,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "visitor_team_score": 123
                                        },
                                        {
                                            "id": 48739,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "home_team_score": 117,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 8,
                                                "abbreviation": "DEN",
                                                "city": "Denver",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Denver Nuggets",
                                                "name": "Nuggets"
                                            },
                                            "visitor_team_score": 110
                                        },
                                        {
                                            "id": 48740,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "home_team_score": 119,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 106
                                        },
                                        {
                                            "id": 48746,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "home_team_score": 102,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 16,
                                                "abbreviation": "MIA",
                                                "city": "Miami",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Miami Heat",
                                                "name": "Heat"
                                            },
                                            "visitor_team_score": 96
                                        },
                                        {
                                            "id": 48762,
                                            "date": "2019-02-11T00:00:00.000Z",
                                            "home_team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "home_team_score": 121,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "visitor_team_score": 112
                                        },
                                        {
                                            "id": 48745,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 19,
                                                "abbreviation": "NOP",
                                                "city": "New Orleans",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "New Orleans Pelicans",
                                                "name": "Pelicans"
                                            },
                                            "home_team_score": 122,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 18,
                                                "abbreviation": "MIN",
                                                "city": "Minnesota",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Minnesota Timberwolves",
                                                "name": "Timberwolves"
                                            },
                                            "visitor_team_score": 117
                                        },
                                        {
                                            "id": 48748,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 12,
                                                "abbreviation": "IND",
                                                "city": "Indiana",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Indiana Pacers",
                                                "name": "Pacers"
                                            },
                                            "home_team_score": 105,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 90
                                        },
                                        {
                                            "id": 48749,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "home_team_score": 120,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 129
                                        },
                                        {
                                            "id": 48747,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 29,
                                                "abbreviation": "UTA",
                                                "city": "Utah",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Utah Jazz",
                                                "name": "Jazz"
                                            },
                                            "home_team_score": 125,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 27,
                                                "abbreviation": "SAS",
                                                "city": "San Antonio",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "San Antonio Spurs",
                                                "name": "Spurs"
                                            },
                                            "visitor_team_score": 105
                                        },
                                        {
                                            "id": 48752,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 5,
                                                "abbreviation": "CHI",
                                                "city": "Chicago",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Chicago Bulls",
                                                "name": "Bulls"
                                            },
                                            "home_team_score": 125,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "visitor_team_score": 134
                                        },
                                        {
                                            "id": 48756,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 7,
                                                "abbreviation": "DAL",
                                                "city": "Dallas",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Dallas Mavericks",
                                                "name": "Mavericks"
                                            },
                                            "home_team_score": 102,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 25,
                                                "abbreviation": "POR",
                                                "city": "Portland",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Portland Trail Blazers",
                                                "name": "Trail Blazers"
                                            },
                                            "visitor_team_score": 101
                                        },
                                        {
                                            "id": 48760,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "home_team_score": 143,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 14,
                                                "abbreviation": "LAL",
                                                "city": "Los Angeles",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Los Angeles Lakers",
                                                "name": "Lakers"
                                            },
                                            "visitor_team_score": 120
                                        },
                                        {
                                            "id": 48757,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "home_team_score": 117,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 24,
                                                "abbreviation": "PHX",
                                                "city": "Phoenix",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Phoenix Suns",
                                                "name": "Suns"
                                            },
                                            "visitor_team_score": 104
                                        },
                                        {
                                            "id": 48755,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 17,
                                                "abbreviation": "MIL",
                                                "city": "Milwaukee",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Milwaukee Bucks",
                                                "name": "Bucks"
                                            },
                                            "home_team_score": 83,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 22,
                                                "abbreviation": "ORL",
                                                "city": "Orlando",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Orlando Magic",
                                                "name": "Magic"
                                            },
                                            "visitor_team_score": 103
                                        },
                                        {
                                            "id": 48754,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 11,
                                                "abbreviation": "HOU",
                                                "city": "Houston",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Houston Rockets",
                                                "name": "Rockets"
                                            },
                                            "home_team_score": 112,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 21,
                                                "abbreviation": "OKC",
                                                "city": "Oklahoma City",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Oklahoma City Thunder",
                                                "name": "Thunder"
                                            },
                                            "visitor_team_score": 117
                                        },
                                        {
                                            "id": 48759,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 10,
                                                "abbreviation": "GSW",
                                                "city": "Golden State",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Golden State Warriors",
                                                "name": "Warriors"
                                            },
                                            "home_team_score": 120,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 16,
                                                "abbreviation": "MIA",
                                                "city": "Miami",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Miami Heat",
                                                "name": "Heat"
                                            },
                                            "visitor_team_score": 118
                                        },
                                        {
                                            "id": 48758,
                                            "date": "2019-02-10T00:00:00.000Z",
                                            "home_team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
[...]
