{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Brewery DB API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The Open Brewery DB API is a free and open database of breweries around the world, allowing users to access information such as brewery names, locations, and beer availability.",
        "termsOfService": "",
        "contact": {
            "name": "Open Brewery DB API Contact",
            "url": "",
            "email": "hello@openbrewerydb.org"
        },
        "license": {
            "name": "ODbL",
            "url": "https://opendatacommons.org/licenses/odbl"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.openbrewerydb.org",
            "description": "Production Server of the Open Brewery DB API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.openbrewerydb.org",
        "description": "Find more about the Open Brewery DB API here:"
    },
    "paths": {
        "/breweries": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "Portland": {
                                "value": "Portland"
                            },
                            "San%20Diego": {
                                "value": "San%20Diego"
                            },
                            "San_Diego": {
                                "value": "San_Diego"
                            },
                            "Austin": {
                                "value": "Austin"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "california": {
                                "value": "california"
                            },
                            "Texas": {
                                "value": "Texas"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "dogfish_head_brewery": {
                                "value": "dogfish_head_brewery"
                            },
                            "Stone": {
                                "value": "Stone"
                            },
                            "Stone%20Brewing": {
                                "value": "Stone%20Brewing"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "type": {
                                "value": "type"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Sunset+Brewery": {
                                "value": "Sunset+Brewery"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Portland": {
                                "value": "Portland"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Oregon": {
                                "value": "Oregon"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "97202": {
                                "value": "97202"
                            }
                        }
                    },
                    {
                        "name": "brewery_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "503-555-1234": {
                                "value": "503-555-1234"
                            },
                            "1234567890": {
                                "value": "1234567890"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "organic": {
                                "value": "organic"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            },
                            "94103": {
                                "value": "94103"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "main_street": {
                                "value": "main_street"
                            }
                        }
                    },
                    {
                        "name": "by_updated_since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/random": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "city": {
                                "value": "city"
                            },
                            "state": {
                                "value": "state"
                            },
                            "type": {
                                "value": "type"
                            },
                            "postal_code": {
                                "value": "postal_code"
                            },
                            "country": {
                                "value": "country"
                            },
                            "-city": {
                                "value": "-city"
                            },
                            "type,-name": {
                                "value": "type,-name"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "california": {
                                "value": "california"
                            },
                            "colorado": {
                                "value": "colorado"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San_Francisco": {
                                "value": "San_Francisco"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "Portland": {
                                "value": "Portland"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            },
                            "2015": {
                                "value": "2015"
                            },
                            "2010-01-01": {
                                "value": "2010-01-01"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "dog_friendly": {
                                "value": "dog_friendly"
                            },
                            "IPA": {
                                "value": "IPA"
                            },
                            "pet-friendly": {
                                "value": "pet-friendly"
                            },
                            "outdoor-seating": {
                                "value": "outdoor-seating"
                            },
                            "food-truck": {
                                "value": "food-truck"
                            },
                            "gluten-free-options": {
                                "value": "gluten-free-options"
                            },
                            "brewery-tours": {
                                "value": "brewery-tours"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            },
                            "stone_brewing_co": {
                                "value": "stone_brewing_co"
                            },
                            "stone_brewing": {
                                "value": "stone_brewing"
                            },
                            "stone": {
                                "value": "stone"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "Sierra+Nevada+Brewing+Co": {
                                "value": "Sierra+Nevada+Brewing+Co"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94103": {
                                "value": "94103"
                            },
                            "92101": {
                                "value": "92101"
                            },
                            "97202": {
                                "value": "97202"
                            },
                            "97209": {
                                "value": "97209"
                            },
                            "94110": {
                                "value": "94110"
                            }
                        }
                    },
                    {
                        "name": "by_dist",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "main_street": {
                                "value": "main_street"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "555-1234": {
                                "value": "555-1234"
                            },
                            "555-5555": {
                                "value": "555-5555"
                            },
                            "1234567890": {
                                "value": "1234567890"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    },
                    {
                        "name": "by_updated_since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Portland": {
                                "value": "Portland"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            }
                        }
                    },
                    {
                        "name": "by_distance",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "is_organic",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ballast+Point+Brewing+Co": {
                                "value": "Ballast+Point+Brewing+Co"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "555-555-5555": {
                                "value": "555-555-5555"
                            },
                            "503-555-1234": {
                                "value": "503-555-1234"
                            }
                        }
                    },
                    {
                        "name": "website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "https:": {
                                "value": "https:"
                            }
                        }
                    },
                    {
                        "name": "by_district",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Midwest": {
                                "value": "Midwest"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "before",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-12-31": {
                                "value": "2020-12-31"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "97209": {
                                "value": "97209"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "brewed_before",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "tags",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog_friendly": {
                                "value": "dog_friendly"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_random"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/search": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Portland": {
                                "value": "Portland"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "IPA": {
                                "value": "IPA"
                            },
                            "dog": {
                                "value": "dog"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "type": {
                                "value": "type"
                            },
                            "type,-name": {
                                "value": "type,-name"
                            },
                            "city": {
                                "value": "city"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "california": {
                                "value": "california"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "established",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            },
                            "97201": {
                                "value": "97201"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            },
                            "example_brewery": {
                                "value": "example_brewery"
                            },
                            "Sunshine+Brewery": {
                                "value": "Sunshine+Brewery"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234567890": {
                                "value": "1234567890"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            },
                            "united_states": {
                                "value": "united_states"
                            }
                        }
                    },
                    {
                        "name": "brewed",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "collaboratively": {
                                "value": "collaboratively"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94103": {
                                "value": "94103"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "updated_since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Diego": {
                                "value": "San+Diego"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2010-01-01": {
                                "value": "2010-01-01"
                            }
                        }
                    },
                    {
                        "name": "is_organic",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "is_closed",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "brewed_before",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "brewed_after",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2015": {
                                "value": "2015"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_search"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema_breweries": {},
            "ResponseSchema_breweries_random": {},
            "ResponseSchema_breweries_search": {}
        }
    }
}