{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**API Description** - The GBIF Species API is an application programming interface that provides access to species information and data from the Global Biodiversity Information Facility (GBIF) database.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.gbif.org/terms",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "https://www.gbif.org/contact-us",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "Creative Commons Attribution (CC-BY)",
            "url": "https://creativecommons.org/licenses/by/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Canis+lupus": {
                                "value": "Canis+lupus"
                            },
                            "Panthera+leo": {
                                "value": "Panthera+leo"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "100": {
                                "value": "100"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            },
                            "VERNACULAR": {
                                "value": "VERNACULAR"
                            },
                            "SYNONYM": {
                                "value": "SYNONYM"
                            },
                            "BASIONYM": {
                                "value": "BASIONYM"
                            },
                            "HOMOTYPIC_SYNONYM": {
                                "value": "HOMOTYPIC_SYNONYM"
                            },
                            "MISAPPLIED": {
                                "value": "MISAPPLIED"
                            },
                            "PROPARTE_SYNONYM": {
                                "value": "PROPARTE_SYNONYM"
                            },
                            "INVALID": {
                                "value": "INVALID"
                            },
                            "ALTERNATIVE": {
                                "value": "ALTERNATIVE"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            },
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "StillImage": {
                                "value": "StillImage"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2481709": {
                                "value": "2481709"
                            },
                            "123456": {
                                "value": "123456"
                            }
                        }
                    },
                    {
                        "name": "parent",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123456": {
                                "value": "123456"
                            }
                        }
                    },
                    {
                        "name": "nameStatus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "synonym": {
                                "value": "synonym"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "popularity": {
                                "value": "popularity"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "publisherKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "xyz789": {
                                "value": "xyz789"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "results": [
                                        {
                                            "key": 5219404,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "gbif:5219404",
                                            "sourceTaxonKey": 172721589,
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 1,
                                            "phylumKey": 44,
                                            "classKey": 359,
                                            "orderKey": 732,
                                            "familyKey": 9703,
                                            "genusKey": 2435194,
                                            "speciesKey": 5219404,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 2435194,
                                            "parent": "Panthera",
                                            "basionymKey": 7630906,
                                            "basionym": "Felis leo Linnaeus, 1758",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "African lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Syst. Nat., 10th ed. vol.1 p.41",
                                            "numDescendants": 10,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:19:08.596+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 100388659,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "47538",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "orderKey": 217678088,
                                            "familyKey": 217678177,
                                            "genusKey": 100388647,
                                            "speciesKey": 100388659,
                                            "datasetKey": "16c3f9cb-4b19-4553-ac8e-ebb90003aa02",
                                            "parentKey": 100388647,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "http://de.wikipedia.org/wiki/L%C3%B6we",
                                            "lastCrawled": "2023-08-24T14:01:22.656+00:00",
                                            "lastInterpreted": "2023-11-16T12:47:46.791+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED",
                                                "VERNACULAR_NAME_INVALID"
                                            ]
                                        },
                                        {
                                            "key": 100690970,
                                            "nubKey": 5219404,
                                            "nameKey": 8115329,
                                            "taxonID": "14000228",
                                            "kingdom": "Animalia",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 217741676,
                                            "classKey": 217741678,
                                            "orderKey": 100688735,
                                            "familyKey": 100691331,
                                            "genusKey": 100690954,
                                            "speciesKey": 100690970,
                                            "datasetKey": "672aca30-f1b5-43d3-8a2b-c1606125fa1b",
                                            "parentKey": 100690954,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo Linnaeus, 1758",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "Linnaeus, 1758",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "Synonyms allocated according to Ellerman and Morrison-Scott (1951); G. M. Allen (1939). Revised by Pocock (1930c). Placed in Panthera by Pocock (1930c), Weigel (1961), Hemmer (1978), Kratochv\u00edl (1982c), and Groves (1982a).",
                                            "publishedIn": "Syst. Nat., 10th ed. vol.1 p.41",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-11-17T14:32:21.905+00:00",
                                            "lastInterpreted": "2023-11-17T14:33:06.858+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 102116236,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "183803",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 101683523,
                                            "phylumKey": 102017110,
                                            "classKey": 102114218,
                                            "orderKey": 102114749,
                                            "familyKey": 102115889,
                                            "genusKey": 102116235,
                                            "speciesKey": 102116236,
                                            "datasetKey": "9ca92552-f23a-41a8-a140-01abaa31c931",
                                            "parentKey": 102116235,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 8,
                                            "lastCrawled": "2023-11-16T13:00:14.439+00:00",
                                            "lastInterpreted": "2023-11-16T14:26:31.981+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 104061133,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "9689",
                                            "kingdom": "Metazoa",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 103832354,
                                            "phylumKey": 103882489,
                                            "classKey": 104045725,
                                            "orderKey": 104059711,
                                            "familyKey": 104060843,
                                            "genusKey": 104061129,
                                            "speciesKey": 104061133,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 104061129,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "code compliant; specified",
                                            "numDescendants": 6,
                                            "lastCrawled": "2023-11-09T12:19:10.678+00:00",
                                            "lastInterpreted": "2023-11-09T16:31:08.006+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 113275902,
                                            "nameKey": 8115323,
                                            "taxonID": "36896",
                                            "species": "Panthera leo",
                                            "speciesKey": 113275902,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "Failed to retrieve taxonomy from {}",
                                            "numDescendants": 0,
                                            "references": "http://en.wikipedia.org/wiki/Lion",
                                            "lastCrawled": "2023-11-09T11:59:51.096+00:00",
                                            "lastInterpreted": "2023-11-09T13:00:12.506+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED",
                                                "BACKBONE_MATCH_NONE"
                                            ]
                                        },
                                        {
                                            "key": 116808497,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "http://services.snsb.info/DTNtaxonlists/rest/v0.1/names/DiversityTaxonNames_TaxaVaria/12472/",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 132774790,
                                            "phylumKey": 116785007,
                                            "classKey": 116807520,
                                            "orderKey": 116808346,
                                            "familyKey": 116808479,
                                            "genusKey": 116808493,
                                            "speciesKey": 116808497,
                                            "datasetKey": "88f4e35a-bdf8-4aa2-9a1b-56401d4eed15",
                                            "parentKey": 116808493,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "http://services.snsb.info/DTNtaxonlists/rest/v0.1/names/DiversityTaxonNames_TaxaVaria/12472/",
                                            "lastCrawled": "2023-11-23T11:42:13.425+00:00",
                                            "lastInterpreted": "2023-11-23T11:46:03.464+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 116907245,
                                            "nubKey": 5219404,
                                            "nameKey": 8115329,
                                            "taxonID": "e882e576-277c-4b8f-8f05-b4d3d8f200e2",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "classKey": 116891947,
                                            "orderKey": 116906073,
                                            "familyKey": 116907101,
                                            "genusKey": 116907242,
                                            "speciesKey": 116907245,
                                            "datasetKey": "71667154-257d-4d8e-a2a5-711aaf9b2d74",
                                            "parentKey": 116907242,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo Linnaeus, 1758",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "Linnaeus, 1758",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-11-23T11:52:37.628+00:00",
                                            "lastInterpreted": "2023-11-23T11:59:40.194+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammals"
                                        },
                                        {
                                            "key": 116940958,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "NMK:ODK:121",
                                            "family": "Felidae",
                                            "classKey": 135074284,
                                            "familyKey": 135074295,
                                            "datasetKey": "086d0402-a5e1-42ae-b67f-ac6244178fa2",
                                            "parentKey": 135074295,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "African lion",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T13:40:30.423+00:00",
                                            "lastInterpreted": "2017-09-30T16:09:26.880+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 119232102,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "234aea5f-dbc2-4bf6-863d-477bb2283e83",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "phylumKey": 119231486,
                                            "classKey": 119231491,
                                            "orderKey": 119231578,
                                            "familyKey": 119231588,
                                            "genusKey": 119232062,
                                            "speciesKey": 119232102,
                                            "datasetKey": "bb395a0a-72f0-4c50-b9b6-e1010b79d5c9",
                                            "parentKey": 119232062,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 11,
                                            "lastCrawled": "2023-11-23T11:52:38.114+00:00",
                                            "lastInterpreted": "2023-11-23T12:04:32.634+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 137373083,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "49734",
                                            "phylum": "Chordata",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Felis leo",
                                            "phylumKey": 121445866,
                                            "familyKey": 121507697,
                                            "genusKey": 121508256,
                                            "speciesKey": 121508279,
                                            "datasetKey": "c33ce2f2-c3cc-43a5-a380-fe4526d63650",
                                            "parentKey": 121508256,
                                            "parent": "Panthera",
                                            "acceptedKey": 121508279,
                                            "accepted": "Felis leo (Linnaeus, 1758)",
                                            "basionymKey": 121508279,
                                            "basionym": "Felis leo (Linnaeus, 1758)",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "SYNONYM",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T14:50:50.001+00:00",
                                            "lastInterpreted": "2022-09-15T07:47:05.887+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ]
                                        },
                                        {
                                            "key": 147219416,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "2018_2339",
                                            "kingdom": "Animalia",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 196663865,
                                            "classKey": 196664199,
                                            "orderKey": 196664268,
                                            "familyKey": 196664271,
                                            "speciesKey": 147219416,
                                            "datasetKey": "7e413e16-cac8-40cd-a7ba-aec020637d28",
                                            "parentKey": 196664271,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T11:36:07.327+00:00",
                                            "lastInterpreted": "2022-07-09T11:06:13.223+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 147345877,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "MIP3",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "genusKey": 147345875,
                                            "speciesKey": 147345877,
                                            "datasetKey": "6d38b742-709e-4b8c-90f7-b5db25be0b22",
                                            "parentKey": 147345875,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T12:02:34.529+00:00",
                                            "lastInterpreted": "2018-08-22T16:50:31.537+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 148736668,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "31455",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 201360331,
                                            "phylumKey": 201360485,
                                            "classKey": 201360568,
                                            "orderKey": 201360569,
                                            "familyKey": 201360570,
                                            "speciesKey": 148736668,
                                            "datasetKey": "168568e7-eb5f-4ef6-8c59-f73ceaf57e91",
                                            "parentKey": 201360570,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T11:27:46.094+00:00",
                                            "lastInterpreted": "2022-10-01T16:38:05.128+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 161387042,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "644245",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 134521164,
                                            "phylumKey": 161376443,
                                            "classKey": 161380414,
                                            "orderKey": 161386450,
                                            "familyKey": 161387024,
                                            "genusKey": 161387029,
                                            "speciesKey": 161387042,
                                            "datasetKey": "0e61f8fe-7d25-4f81-ada7-d970bbb2c6d6",
                                            "parentKey": 161387029,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "accordingTo": "TAXREF",
                                            "numDescendants": 0,
                                            "references": "https://inpn.mnhn.fr/espece/cd_nom/644245",
                                            "lastCrawled": "2023-08-24T14:06:31.871+00:00",
                                            "lastInterpreted": "2023-06-22T04:28:49.231+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 162236301,
                                            "nubKey": 5219404,
                                            "nameKey": 32421060,
                                            "taxonID": "1141",
                                            "kingdom": "Animalia",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 196489986,
                                            "familyKey": 196490672,
                                            "speciesKey": 162236301,
                                            "datasetKey": "69a62746-42bd-4497-853d-653c157dc608",
                                            "parentKey": 196490672,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (Linnaeus",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T10:49:08.949+00:00",
                                            "lastInterpreted": "2022-07-08T21:23:46.945+00:00",
                                            "issues": [
                                                "PARTIALLY_PARSABLE"
                                            ]
                                        },
                                        {
                                            "key": 168211534,
                                            "nubKey": 5219404,
                                            "nameKey": 34625778,
                                            "taxonID": "42397",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 201325915,
                                            "phylumKey": 201325917,
                                            "classKey": 201325956,
                                            "orderKey": 201325962,
                                            "familyKey": 201325967,
                                            "speciesKey": 168211534,
                                            "datasetKey": "1df9467e-0c60-4e5a-a7b0-2b60bd6648ed",
                                            "parentKey": 201325967,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (\u200eLinnaeus\u200e, \u200e1758\u200e)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "DOUBTFUL",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T11:06:03.184+00:00",
                                            "lastInterpreted": "2022-10-01T15:31:20.449+00:00",
                                            "issues": [
                                                "PARTIALLY_PARSABLE"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 176685200,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "15951",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 217689654,
                                            "phylumKey": 217689701,
                                            "classKey": 217696602,
                                            "orderKey": 217697675,
                                            "familyKey": 217697781,
                                            "genusKey": 217697796,
                                            "speciesKey": 176685200,
                                            "datasetKey": "19491596-35ae-4a91-9a98-85cf505f1bd3",
                                            "parentKey": 217697796,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "https://apiv3.iucnredlist.org/api/v3/taxonredirect/15951",
                                            "lastCrawled": "2023-11-16T12:49:40.233+00:00",
                                            "lastInterpreted": "2023-11-16T13:09:03.896+00:00",
                                            "issues": [
                                                "VERNACULAR_NAME_INVALID"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 177672861,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "9689",
                                            "kingdom": "Metazoa",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 177651702,
                                            "phylumKey": 177654008,
                                            "classKey": 177654674,
                                            "orderKey": 177670859,
                                            "familyKey": 177672533,
                                            "genusKey": 177672804,
                                            "speciesKey": 177672861,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 177672804,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 7,
                                            "lastCrawled": "2023-11-21T16:28:20.167+00:00",
                                            "lastInterpreted": "2023-11-21T18:42:47.762+00:00",
                                            "issues": [
                                                "CLASSIFICATION_NOT_APPLIED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 183823434,
                                            "nubKey": 5219404,
                                            "nameKey": 54597869,
                                            "taxonID": "03A01B3B5C2FFFE96245FB3BFE5FF8D3.taxon",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 217222105,
                                            "phylumKey": 217222106,
                                            "classKey": 217222107,
                                            "orderKey": 217222215,
                                            "familyKey": 217222221,
                                            "genusKey": 217222224,
                                            "speciesKey": 183823434,
                                            "datasetKey": "3034d59c-159d-493f-84f1-54058652b307",
                                            "parentKey": 217222224,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "https://treatment.plazi.org/id/03A01B3B5C2FFFE96245FB3BFE5FF8D3",
                                            "lastCrawled": "2023-11-03T23:06:22.700+00:00",
                                            "lastInterpreted": "2023-11-03T23:06:27.301+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 652182866</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "kingdom": {
                                "value": "kingdom"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Panthera+leo": {
                                "value": "Panthera+leo"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "issue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "NAME_MATCH_NONE": {
                                "value": "NAME_MATCH_NONE"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ASC": {
                                "value": "ASC"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2022": {
                                "value": "2022"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "StillImage": {
                                "value": "StillImage"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBIF": {
                                "value": "GBIF"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "present": {
                                "value": "present"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "tree": {
                                "value": "tree"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id"
                                },
                                "example": {
                                    "key": 69,
                                    "nubKey": 69,
                                    "nameKey": 3059652,
                                    "taxonID": "gbif:69",
                                    "sourceTaxonKey": 172308406,
                                    "kingdom": "Chromista",
                                    "phylum": "Cryptophyta",
                                    "kingdomKey": 4,
                                    "phylumKey": 69,
                                    "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                    "constituentKey": "daacce49-b206-469b-8dc2-2257719f3afa",
                                    "parentKey": 4,
                                    "parent": "Chromista",
                                    "scientificName": "Cryptophyta",
                                    "canonicalName": "Cryptophyta",
                                    "vernacularName": "cryptophytes",
                                    "authorship": "",
                                    "nameType": "SCIENTIFIC",
                                    "rank": "PHYLUM",
                                    "origin": "SOURCE",
                                    "taxonomicStatus": "ACCEPTED",
                                    "nomenclaturalStatus": [],
                                    "remarks": "",
                                    "numDescendants": 274,
                                    "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                    "lastInterpreted": "2023-08-22T22:53:02.912+00:00",
                                    "issues": []
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 652182866</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/children": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/children route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "StillImage": {
                                "value": "StillImage"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ailurus+fulgens": {
                                "value": "Ailurus+fulgens"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "genus": {
                                "value": "genus"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "NAME": {
                                "value": "NAME"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ACCEPTED": {
                                "value": "ACCEPTED"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            },
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7ce8aef0-9e92-11dc-8738-b8a03c50a862": {
                                "value": "7ce8aef0-9e92-11dc-8738-b8a03c50a862"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ES": {
                                "value": "ES"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_children"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": true,
                                    "results": [
                                        {
                                            "key": 257,
                                            "nubKey": 257,
                                            "nameKey": 3060983,
                                            "taxonID": "gbif:257",
                                            "sourceTaxonKey": 176068566,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 257,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ea21580-4f06-469d-995b-3f713fdcc37c",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Cryptophyceae",
                                            "canonicalName": "Cryptophyceae",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 246,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:02.968+00:00",
                                            "issues": [],
                                            "class": "Cryptophyceae"
                                        },
                                        {
                                            "key": 10986212,
                                            "nubKey": 10986212,
                                            "nameKey": 16355387,
                                            "taxonID": "gbif:10986212",
                                            "sourceTaxonKey": 172308238,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 10986212,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Goniomonadea",
                                            "canonicalName": "Goniomonadea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Cavalier-Smith, T. (1993). Kingdom Protozoa and its 18 phyla. Microbiological Reviews. 57(4): 953-994.",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:02.913+00:00",
                                            "issues": [],
                                            "class": "Goniomonadea"
                                        },
                                        {
                                            "key": 7461897,
                                            "nubKey": 7461897,
                                            "nameKey": 4795636,
                                            "taxonID": "gbif:7461897",
                                            "sourceTaxonKey": 117199992,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 7461897,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ea21580-4f06-469d-995b-3f713fdcc37c",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Goniomonadophyceae",
                                            "canonicalName": "Goniomonadophyceae",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 2,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:03.623+00:00",
                                            "issues": [],
                                            "class": "Goniomonadophyceae"
                                        },
                                        {
                                            "key": 8364895,
                                            "nubKey": 8364895,
                                            "nameKey": 5854476,
                                            "taxonID": "gbif:8364895",
                                            "sourceTaxonKey": 117199990,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 8364895,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ea21580-4f06-469d-995b-3f713fdcc37c",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Katablepharidophyceae",
                                            "canonicalName": "Katablepharidophyceae",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 12,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:02.931+00:00",
                                            "issues": [],
                                            "class": "Katablepharidophyceae"
                                        },
                                        {
                                            "key": 9808658,
                                            "nubKey": 9808658,
                                            "nameKey": 16355389,
                                            "taxonID": "gbif:9808658",
                                            "sourceTaxonKey": 172308208,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 9808658,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Leucocryptea",
                                            "canonicalName": "Leucocryptea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Cavalier-Smith, T.; Chao, E. (2004). Protalveolate phylogeny and systematics and the origins of Sporozoa and dinoflagellates (phylum Myzozoa nom. nov.). European Journal of Protistology. 40(3): 185-212.",
                                            "numDescendants": 1,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:02.915+00:00",
                                            "issues": [],
                                            "class": "Leucocryptea"
                                        },
                                        {
                                            "key": 9665066,
                                            "nubKey": 9665066,
                                            "nameKey": 15807151,
                                            "taxonID": "gbif:9665066",
                                            "sourceTaxonKey": 172308397,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 9665066,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Palpitea",
                                            "canonicalName": "Palpitea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 4,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:02.923+00:00",
                                            "issues": [],
                                            "class": "Palpitea"
                                        },
                                        {
                                            "key": 7969060,
                                            "nubKey": 7969060,
                                            "nameKey": 11066124,
                                            "taxonID": "gbif:7969060",
                                            "sourceTaxonKey": 117199988,
                                            "kingdom": "Chromista",
                                            "phylum": "Cryptophyta",
                                            "kingdomKey": 4,
                                            "phylumKey": 69,
                                            "classKey": 7969060,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ea21580-4f06-469d-995b-3f713fdcc37c",
                                            "parentKey": 69,
                                            "parent": "Cryptophyta",
                                            "scientificName": "Telonemea",
                                            "canonicalName": "Telonemea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "CLASS",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
[...]
