{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**API Description** - The GBIF Species API is an application programming interface that provides access to species-related data from the Global Biodiversity Information Facility (GBIF) database.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.gbif.org/terms",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "https://www.gbif.org/contact-us",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "CC0",
            "url": "https://creativecommons.org/publicdomain/zero/1.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "genus": {
                                "value": "genus"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            },
                            "Insecta": {
                                "value": "Insecta"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            },
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            },
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2022": {
                                "value": "2022"
                            },
                            "2000": {
                                "value": "2000"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera+tigris": {
                                "value": "Panthera+tigris"
                            },
                            "Canis": {
                                "value": "Canis"
                            },
                            "Homo+sapiens": {
                                "value": "Homo+sapiens"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "image": {
                                "value": "image"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "publishingCountry",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "DE": {
                                "value": "DE"
                            }
                        }
                    },
                    {
                        "name": "institutionCode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "MOBOT": {
                                "value": "MOBOT"
                            }
                        }
                    },
                    {
                        "name": "nameStatus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "synonym": {
                                "value": "synonym"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "results": [
                                        {
                                            "key": 0,
                                            "nubKey": 0,
                                            "nameKey": 130332213,
                                            "taxonID": "gbif:0",
                                            "sourceTaxonKey": 0,
                                            "kingdom": "incertae sedis",
                                            "kingdomKey": 0,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "incertae sedis",
                                            "canonicalName": "incertae sedis",
                                            "authorship": "",
                                            "nameType": "PLACEHOLDER",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 3613,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:19:21.731+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 1,
                                            "nubKey": 1,
                                            "nameKey": 130188353,
                                            "taxonID": "gbif:1",
                                            "sourceTaxonKey": 1,
                                            "kingdom": "Animalia",
                                            "kingdomKey": 1,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Animalia",
                                            "canonicalName": "Animalia",
                                            "vernacularName": "Animals",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 2981931,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:11:51.237+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 2,
                                            "nubKey": 2,
                                            "nameKey": 130277256,
                                            "taxonID": "gbif:2",
                                            "sourceTaxonKey": 170809364,
                                            "kingdom": "Archaea",
                                            "kingdomKey": 2,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Archaea",
                                            "canonicalName": "Archaea",
                                            "vernacularName": "Archaea",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 4358,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:34.813+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 3,
                                            "nubKey": 3,
                                            "nameKey": 130277260,
                                            "taxonID": "gbif:3",
                                            "sourceTaxonKey": 3,
                                            "kingdom": "Bacteria",
                                            "kingdomKey": 3,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Bacteria",
                                            "canonicalName": "Bacteria",
                                            "vernacularName": "Bacteria",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 67224,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:35.110+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 4,
                                            "nubKey": 4,
                                            "nameKey": 130277610,
                                            "taxonID": "gbif:4",
                                            "sourceTaxonKey": 172299416,
                                            "kingdom": "Chromista",
                                            "kingdomKey": 4,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Chromista",
                                            "canonicalName": "Chromista",
                                            "vernacularName": "Kelp, Diatoms, And Allies",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 163420,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:01.037+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 5,
                                            "nubKey": 5,
                                            "nameKey": 130279178,
                                            "taxonID": "gbif:5",
                                            "sourceTaxonKey": 5,
                                            "kingdom": "Fungi",
                                            "kingdomKey": 5,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Fungi",
                                            "canonicalName": "Fungi",
                                            "vernacularName": "Fungi",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 486142,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:54:41.047+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 6,
                                            "nubKey": 6,
                                            "nameKey": 130293770,
                                            "taxonID": "gbif:6",
                                            "sourceTaxonKey": 6,
                                            "kingdom": "Plantae",
                                            "kingdomKey": 6,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Plantae",
                                            "canonicalName": "Plantae",
                                            "vernacularName": "Plants",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 716896,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:01:27.670+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 7,
                                            "nubKey": 7,
                                            "nameKey": 130322419,
                                            "taxonID": "gbif:7",
                                            "sourceTaxonKey": 170809337,
                                            "kingdom": "Protozoa",
                                            "kingdomKey": 7,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Protozoa",
                                            "canonicalName": "Protozoa",
                                            "vernacularName": "protozoans",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 9113,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:47.242+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 8,
                                            "nubKey": 8,
                                            "nameKey": 130323256,
                                            "taxonID": "gbif:8",
                                            "sourceTaxonKey": 170809368,
                                            "kingdom": "Viruses",
                                            "kingdomKey": 8,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "scientificName": "Viruses",
                                            "canonicalName": "Viruses",
                                            "vernacularName": "Viruses",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 19564,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:56.817+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 9,
                                            "nubKey": 9,
                                            "nameKey": 6689984,
                                            "taxonID": "gbif:9",
                                            "sourceTaxonKey": 117196334,
                                            "kingdom": "Plantae",
                                            "phylum": "Marchantiophyta",
                                            "kingdomKey": 6,
                                            "phylumKey": 9,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "daacce49-b206-469b-8dc2-2257719f3afa",
                                            "parentKey": 6,
                                            "parent": "Plantae",
                                            "scientificName": "Marchantiophyta",
                                            "canonicalName": "Marchantiophyta",
                                            "vernacularName": "liverwort",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Crandall-Stotler, B. J., & Stotler, R. E. (2000). Morphology and classification of the Marchantiophyta. In A. J. Shaw & B. Goffinet, Bryophyte Biology (pp. 21\u201370). Cambridge University Press. https://www.tropicos.org/reference/9021946",
                                            "numDescendants": 12141,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:32.752+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 11,
                                            "nubKey": 11,
                                            "nameKey": 4696769,
                                            "taxonID": "gbif:11",
                                            "sourceTaxonKey": 117196348,
                                            "kingdom": "Plantae",
                                            "phylum": "Tracheophyta",
                                            "kingdomKey": 6,
                                            "phylumKey": 7707728,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "daacce49-b206-469b-8dc2-2257719f3afa",
                                            "parentKey": 6,
                                            "parent": "Plantae",
                                            "acceptedKey": 7707728,
                                            "accepted": "Tracheophyta",
                                            "scientificName": "Ginkgophyta",
                                            "canonicalName": "Ginkgophyta",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "SYNONYM",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:23.184+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 12,
                                            "nubKey": 12,
                                            "nameKey": 6531877,
                                            "taxonID": "gbif:12",
                                            "sourceTaxonKey": 117196343,
                                            "kingdom": "Plantae",
                                            "phylum": "Tracheophyta",
                                            "kingdomKey": 6,
                                            "phylumKey": 7707728,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "daacce49-b206-469b-8dc2-2257719f3afa",
                                            "parentKey": 6,
                                            "parent": "Plantae",
                                            "acceptedKey": 7707728,
                                            "accepted": "Tracheophyta",
                                            "scientificName": "Lycopodiophyta",
                                            "canonicalName": "Lycopodiophyta",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "SYNONYM",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:18:23.199+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 13,
                                            "nubKey": 13,
                                            "nameKey": 747615,
                                            "taxonID": "gbif:13",
                                            "kingdom": "Plantae",
                                            "phylum": "Anthocerotophyta",
                                            "kingdomKey": 6,
                                            "phylumKey": 13,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 6,
                                            "parent": "Plantae",
                                            "scientificName": "Anthocerotophyta",
                                            "canonicalName": "Anthocerotophyta",
                                            "vernacularName": "Hornworts",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Stotler, R. E., & Crandall-Stotler, B. J. (1977). A checklist of the liverworts and hornworts of North America. The Bryologist, 80, 405\u2013428. https://www.tropicos.org/reference/9009740",
                                            "numDescendants": 370,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:01:39.646+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 14,
                                            "nubKey": 14,
                                            "nameKey": 11029912,
                                            "taxonID": "gbif:14",
                                            "sourceTaxonKey": 174750394,
                                            "kingdom": "Animalia",
                                            "phylum": "Tardigrada",
                                            "kingdomKey": 1,
                                            "phylumKey": 14,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 1,
                                            "parent": "Animalia",
                                            "scientificName": "Tardigrada",
                                            "canonicalName": "Tardigrada",
                                            "vernacularName": "water bear",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 2280,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:31.574+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 17,
                                            "nubKey": 17,
                                            "nameKey": 7424162,
                                            "taxonID": "gbif:17",
                                            "sourceTaxonKey": 210295529,
                                            "kingdom": "Fungi",
                                            "phylum": "Neocallimastigomycota",
                                            "kingdomKey": 5,
                                            "phylumKey": 17,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 5,
                                            "parent": "Fungi",
                                            "scientificName": "Neocallimastigomycota",
                                            "canonicalName": "Neocallimastigomycota",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 262,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:58:55.112+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 18,
                                            "nubKey": 18,
                                            "nameKey": 4730254,
                                            "taxonID": "gbif:18",
                                            "sourceTaxonKey": 172297899,
                                            "kingdom": "Fungi",
                                            "phylum": "Glomeromycota",
                                            "kingdomKey": 5,
                                            "phylumKey": 18,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 5,
                                            "parent": "Fungi",
                                            "scientificName": "Glomeromycota",
                                            "canonicalName": "Glomeromycota",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 8540,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T23:01:27.069+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 19,
                                            "nubKey": 19,
                                            "nameKey": 8623041,
                                            "taxonID": "gbif:19",
                                            "sourceTaxonKey": 174755193,
                                            "kingdom": "Animalia",
                                            "phylum": "Phoronida",
                                            "kingdomKey": 1,
                                            "phylumKey": 19,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 1,
                                            "parent": "Animalia",
                                            "scientificName": "Phoronida",
                                            "canonicalName": "Phoronida",
                                            "vernacularName": "horseshoe worms",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 56,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:13:19.546+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 22,
                                            "nubKey": 22,
                                            "nameKey": 4614232,
                                            "taxonID": "gbif:22",
                                            "sourceTaxonKey": 210593997,
                                            "kingdom": "Animalia",
                                            "phylum": "Gastrotricha",
                                            "kingdomKey": 1,
                                            "phylumKey": 22,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 1,
                                            "parent": "Animalia",
                                            "scientificName": "Gastrotricha",
                                            "canonicalName": "Gastrotricha",
                                            "vernacularName": "gastrotrichs",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 1265,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:10.271+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 25,
                                            "nubKey": 25,
                                            "nameKey": 136597,
                                            "taxonID": "gbif:25",
                                            "sourceTaxonKey": 176584824,
                                            "kingdom": "Bacteria",
                                            "phylum": "Acidobacteriota",
                                            "kingdomKey": 3,
                                            "phylumKey": 10841181,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "aa1bc573-f338-482d-b6aa-f371d57f20f5",
                                            "parentKey": 3,
                                            "parent": "Bacteria",
                                            "acceptedKey": 10841181,
                                            "accepted": "Acidobacteriota",
                                            "scientificName": "Acidobacteria",
                                            "canonicalName": "Acidobacteria",
                                            "vernacularName": "Acidobacteria",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "SYNONYM",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:52:54.732+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 26,
                                            "nubKey": 26,
                                            "nameKey": 204444,
                                            "taxonID": "gbif:26",
                                            "sourceTaxonKey": 176073773,
                                            "kingdom": "Bacteria",
                                            "phylum": "Actinobacteriota",
                                            "kingdomKey": 3,
                                            "phylumKey": 10813635,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "aa1bc573-f338-482d-b6aa-f371d57f20f5",
                                            "parentKey": 3,
                                            "parent": "Bacteria",
                                            "acceptedKey": 10813635,
                                            "accepted": "Actinobacteriota",
                                            "scientificName": "Actinobacteria",
                                            "canonicalName": "Actinobacteria",
                                            "vernacularName": "Actinobacteria",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "PHYLUM",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "SYNONYM",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:53:12.448+00:00",
                                            "issues": []
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 851350676</p>\n    <hr>\n    <p>Varnish cache..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "genus": {
                                "value": "genus"
                            },
                            "family": {
                                "value": "family"
                            },
                            "order": {
                                "value": "order"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Aves": {
                                "value": "Aves"
                            },
                            "cat": {
                                "value": "cat"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2000": {
                                "value": "2000"
                            },
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c": {
                                "value": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "continent",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Passer+domesticus": {
                                "value": "Passer+domesticus"
                            }
                        }
                    },
                    {
                        "name": "hasCoordinate",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "hasGeospatialIssue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "count": 25589301,
                                    "results": [
                                        {
                                            "key": 1000003,
                                            "nameKey": 1800983,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "a97f36e5-ded1-49cc-bdec-ac6170fc7b9c",
                                            "nubKey": 1000003,
                                            "parentKey": 1000002,
                                            "parent": "Caldisphaera",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Acidilobaceae",
                                            "genus": "Caldisphaera",
                                            "species": "Caldisphaera lagunensis",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 5900544,
                                            "genusKey": 1000002,
                                            "speciesKey": 1000003,
                                            "scientificName": "Caldisphaera lagunensis Itoh et al., 2003",
                                            "canonicalName": "Caldisphaera lagunensis",
                                            "authorship": "Itoh et al., 2003",
                                            "publishedIn": "Int. J. Syst. Evol. Microbiol. 53::1153",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "5900544": "Acidilobaceae",
                                                "1000002": "Caldisphaera"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000005,
                                            "nameKey": 9579814,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "a97f36e5-ded1-49cc-bdec-ac6170fc7b9c",
                                            "nubKey": 1000005,
                                            "parentKey": 1000004,
                                            "parent": "Pyrodictium",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Pyrodictiaceae",
                                            "genus": "Pyrodictium",
                                            "species": "Pyrodictium occultum",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 3797,
                                            "genusKey": 1000004,
                                            "speciesKey": 1000005,
                                            "scientificName": "Pyrodictium occultum Stetter et al., 1984",
                                            "canonicalName": "Pyrodictium occultum",
                                            "authorship": "Stetter et al., 1984",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 34::270",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "3797": "Pyrodictiaceae",
                                                "1000004": "Pyrodictium"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000006,
                                            "nameKey": 9579774,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "52a423d2-0486-4e77-bcee-6350d708d6ff",
                                            "nubKey": 1000006,
                                            "parentKey": 1000004,
                                            "parent": "Pyrodictium",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Pyrodictiaceae",
                                            "genus": "Pyrodictium",
                                            "species": "Pyrodictium abyssi",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 3797,
                                            "genusKey": 1000004,
                                            "speciesKey": 1000006,
                                            "scientificName": "Pyrodictium abyssi Pley & Stetter, 1991",
                                            "canonicalName": "Pyrodictium abyssi",
                                            "authorship": "Pley & Stetter, 1991",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 41::580",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "3797": "Pyrodictiaceae",
                                                "1000004": "Pyrodictium"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000007,
                                            "nameKey": 9579800,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "52a423d2-0486-4e77-bcee-6350d708d6ff",
                                            "nubKey": 1000007,
                                            "parentKey": 1000004,
                                            "parent": "Pyrodictium",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Pyrodictiaceae",
                                            "genus": "Pyrodictium",
                                            "species": "Pyrodictium brockii",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 3797,
                                            "genusKey": 1000004,
                                            "speciesKey": 1000007,
                                            "scientificName": "Pyrodictium brockii Stetter et al., 1984",
                                            "canonicalName": "Pyrodictium brockii",
                                            "authorship": "Stetter et al., 1984",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 34::270",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "3797": "Pyrodictiaceae",
                                                "1000004": "Pyrodictium"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000009,
                                            "nameKey": 5464631,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "a97f36e5-ded1-49cc-bdec-ac6170fc7b9c",
                                            "nubKey": 1000009,
                                            "parentKey": 1000008,
                                            "parent": "Hyperthermus",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Pyrodictiaceae",
                                            "genus": "Hyperthermus",
                                            "species": "Hyperthermus butylicus",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 3797,
                                            "genusKey": 1000008,
                                            "speciesKey": 1000009,
                                            "scientificName": "Hyperthermus butylicus Zillig et al., 1991",
                                            "canonicalName": "Hyperthermus butylicus",
                                            "authorship": "Zillig et al., 1991",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 41::170",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "3797": "Pyrodictiaceae",
                                                "1000008": "Hyperthermus"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000011,
                                            "nameKey": 9580269,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "a97f36e5-ded1-49cc-bdec-ac6170fc7b9c",
                                            "nubKey": 1000011,
                                            "parentKey": 1000010,
                                            "parent": "Pyrolobus",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Pyrodictiaceae",
                                            "genus": "Pyrolobus",
                                            "species": "Pyrolobus fumarii",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 3797,
                                            "genusKey": 1000010,
                                            "speciesKey": 1000011,
                                            "scientificName": "Pyrolobus fumarii Bl\u00f6chl et al., 1999",
                                            "canonicalName": "Pyrolobus fumarii",
                                            "authorship": "Bl\u00f6chl et al., 1999",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 49::1325",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "3797": "Pyrodictiaceae",
                                                "1000010": "Pyrolobus"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000013,
                                            "nameKey": 136362,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "52a423d2-0486-4e77-bcee-6350d708d6ff",
                                            "nubKey": 1000013,
                                            "parentKey": 1000012,
                                            "parent": "Acidilobus",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Acidilobaceae",
                                            "genus": "Acidilobus",
                                            "species": "Acidilobus aceticus",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 5900544,
                                            "genusKey": 1000012,
                                            "speciesKey": 1000013,
                                            "scientificName": "Acidilobus aceticus Prokofeva et al., 2000",
                                            "canonicalName": "Acidilobus aceticus",
                                            "authorship": "Prokofeva et al., 2000",
                                            "publishedIn": "Int. J. Syst. Evol. Microbiol. 50::2007",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "5900544": "Acidilobaceae",
                                                "1000012": "Acidilobus"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000015,
                                            "nameKey": 52525961,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "a97f36e5-ded1-49cc-bdec-ac6170fc7b9c",
                                            "nubKey": 1000015,
                                            "parentKey": 1000014,
                                            "parent": "Ignisphaera",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Ignisphaeraceae",
                                            "genus": "Ignisphaera",
                                            "species": "Ignisphaera aggregans",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 10697587,
                                            "genusKey": 1000014,
                                            "speciesKey": 1000015,
                                            "scientificName": "Ignisphaera aggregans_A",
                                            "canonicalName": "Ignisphaera aggregans",
                                            "authorship": "A",
                                            "publishedIn": "Int. J. Syst. Evol. Microbiol. 56::970",
                                            "nameType": "OTU",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "10697587": "Ignisphaeraceae",
                                                "1000014": "Ignisphaera"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000017,
                                            "nameKey": 52525969,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "a97f36e5-ded1-49cc-bdec-ac6170fc7b9c",
                                            "nubKey": 1000017,
                                            "parentKey": 1000016,
                                            "parent": "Thermosphaera",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Desulfurococcaceae",
                                            "genus": "Thermosphaera",
                                            "species": "Thermosphaera aggregans",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 7786,
                                            "genusKey": 1000016,
                                            "speciesKey": 1000017,
                                            "scientificName": "Thermosphaera aggregans_A",
                                            "canonicalName": "Thermosphaera aggregans",
                                            "authorship": "A",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 48::36",
                                            "nameType": "OTU",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "7786": "Desulfurococcaceae",
                                                "1000016": "Thermosphaera"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000019,
                                            "nameKey": 10747550,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "52a423d2-0486-4e77-bcee-6350d708d6ff",
                                            "nubKey": 1000019,
                                            "parentKey": 1000018,
                                            "parent": "Stetteria",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Desulfurococcaceae",
                                            "genus": "Stetteria",
                                            "species": "Stetteria hydrogenophila",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 7786,
                                            "genusKey": 1000018,
                                            "speciesKey": 1000019,
                                            "scientificName": "Stetteria hydrogenophila Jochimsen et al., 1998",
                                            "canonicalName": "Stetteria hydrogenophila",
                                            "authorship": "Jochimsen et al., 1998",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 48::328",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "7786": "Desulfurococcaceae",
                                                "1000018": "Stetteria"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000021,
                                            "nameKey": 10880413,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "52a423d2-0486-4e77-bcee-6350d708d6ff",
                                            "nubKey": 1000021,
                                            "parentKey": 1000020,
                                            "parent": "Sulfophobococcus",
                                            "kingdom": "Archaea",
                                            "phylum": "Thermoproteota",
                                            "order": "Sulfolobales",
                                            "family": "Desulfurococcaceae",
                                            "genus": "Sulfophobococcus",
                                            "species": "Sulfophobococcus zilligii",
                                            "kingdomKey": 2,
                                            "phylumKey": 10807497,
                                            "classKey": 10705623,
                                            "orderKey": 564,
                                            "familyKey": 7786,
                                            "genusKey": 1000020,
                                            "speciesKey": 1000021,
                                            "scientificName": "Sulfophobococcus zilligii Hensel et al., 1997",
                                            "canonicalName": "Sulfophobococcus zilligii",
                                            "authorship": "Hensel et al., 1997",
                                            "publishedIn": "Int. J. Syst. Bacteriol. 47::915",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "numDescendants": 0,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {
                                                "2": "Archaea",
                                                "10807497": "Thermoproteota",
                                                "10705623": "Thermoproteia",
                                                "564": "Sulfolobales",
                                                "7786": "Desulfurococcaceae",
                                                "1000020": "Sulfophobococcus"
                                            },
                                            "class": "Thermoproteia"
                                        },
                                        {
                                            "key": 1000023,
                                            "nameKey": 3426803,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "52a423d2-0486-4e77-bcee-6350d708d6ff",
                                            "nubKey": 1000023,
                                            "parentKey": 1000022,
[...]
