{
    "openapi": "3.1.0",
    "info": {
        "title": "Soccer API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average GET route discovery rate of 85.05% and query parameter discovery rate of 81.05%. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - A sports API that provides data and statistics for soccer matches.",
        "termsOfService": "",
        "contact": {
            "name": "Soccer API Contact",
            "url": "",
            "email": "info@soccerapi.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.soccerapi.com",
            "description": "Production Server of the Soccer API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.football-data.org",
        "description": "Find more about the Soccer API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            },
                            "England": {
                                "value": "England"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier%20League": {
                                "value": "Premier%20League"
                            },
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Liverpool": {
                                "value": "Liverpool"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "manager",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jurgen+Klopp": {
                                "value": "Jurgen+Klopp"
                            }
                        }
                    },
                    {
                        "name": "stadium",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Anfield": {
                                "value": "Anfield"
                            },
                            "Old+Trafford": {
                                "value": "Old+Trafford"
                            }
                        }
                    },
                    {
                        "name": "top_scorer",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Salah": {
                                "value": "Salah"
                            },
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "captain",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Henderson": {
                                "value": "Henderson"
                            }
                        }
                    },
                    {
                        "name": "matches_played",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "wins",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "15": {
                                "value": "15"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "London": {
                                "value": "London"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "home_matches",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "away_matches",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "coach",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Guardiola": {
                                "value": "Guardiola"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_teams"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_players"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/fixtures": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-25": {
                                "value": "2022-12-25"
                            },
                            "2022-10-15": {
                                "value": "2022-10-15"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_fixtures"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/standings": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_standings"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/topscorers": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PremierLeague": {
                                "value": "PremierLeague"
                            },
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Liverpool": {
                                "value": "Liverpool"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "age",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "30": {
                                "value": "30"
                            }
                        }
                    },
                    {
                        "name": "goals_min",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "assists_min",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "min_goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "max_goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "30": {
                                "value": "30"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_topscorers"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/leagues": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Liverpool": {
                                "value": "Liverpool"
                            },
                            "Manchester+United": {
                                "value": "Manchester+United"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "min_goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "max_goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Wembley": {
                                "value": "Wembley"
                            },
                            "Wembley+Stadium": {
                                "value": "Wembley+Stadium"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-15": {
                                "value": "2022-01-15"
                            },
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "topScorers",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "standings",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "full": {
                                "value": "full"
                            }
                        }
                    },
                    {
                        "name": "matches",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "last5": {
                                "value": "last5"
                            }
                        }
                    },
                    {
                        "name": "round",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "top_scorer",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "completed": {
                                "value": "completed"
                            }
                        }
                    },
                    {
                        "name": "minGoals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "maxGoals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "minAssists",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "maxAssists",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "sortBy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "points": {
                                "value": "points"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_leagues"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/results": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_results"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/statistics": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_statistics"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/transfers": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_transfers"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_news"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_id"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/matches": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-15": {
                                "value": "2022-01-15"
                            },
                            "2022-10-01": {
                                "value": "2022-10-01"
                            },
                            "2022-09-10": {
                                "value": "2022-09-10"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Manchester+United": {
                                "value": "Manchester+United"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "completed": {
                                "value": "completed"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Old+Trafford": {
                                "value": "Old+Trafford"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ronaldo": {
                                "value": "Ronaldo"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2022": {
                                "value": "2022"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "England": {
                                "value": "England"
                            }
                        }
                    },
                    {
                        "name": "competition",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Champions+League": {
                                "value": "Champions+League"
                            }
                        }
                    },
                    {
                        "name": "result",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "draw": {
                                "value": "draw"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_matches"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/stats": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_stats"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/lineups": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_lineups"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/squad": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_squad"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        },
        "/venues": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_venues"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en-US\"><!--<![endif]--><!--[if IE 6 ]><html lang=\"en-US\" class=\"ie ie6\"><![endif]--><!--[if IE 7 ]><html lang=\"en-US\" class=\"ie ie7\"><![endif]--><!--[if IE 8 ]><html lang=\"en-US\" class=\"ie ie8\"><![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<meta name=\"application-name\" content=\"SoccersAPI\">\n<title>Reliable Soccer Data F..."
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema": {},
            "ResponseSchema_teams": {},
            "ResponseSchema_players": {},
            "ResponseSchema_fixtures": {},
            "ResponseSchema_standings": {},
            "ResponseSchema_topscorers": {},
            "ResponseSchema_leagues": {},
            "ResponseSchema_results": {},
            "ResponseSchema_statistics": {},
            "ResponseSchema_transfers": {},
            "ResponseSchema_news": {},
            "ResponseSchema_id": {},
            "ResponseSchema_matches": {},
            "ResponseSchema_stats": {},
            "ResponseSchema_lineups": {},
            "ResponseSchema_squad": {},
            "ResponseSchema_venues": {}
        }
    }
}