{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - The CoinCap API is a cryptocurrency data service that provides real-time market and pricing information for various digital currencies.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://docs.coincap.io/#introduction",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1621900000": {
                                "value": "1621900000"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "supplyMax",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000000": {
                                "value": "10000000"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "730898401621.8264813162704646",
                                            "volumeUsd24Hr": "6074348858.2399848142820417",
                                            "priceUsd": "37391.7267782660371833",
                                            "changePercent24Hr": "2.3848149145296666",
                                            "vwap24Hr": "37267.5154684320575842",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "247913810247.7734282318472306",
                                            "volumeUsd24Hr": "4431210405.6618061150209513",
                                            "priceUsd": "2061.6073000093000779",
                                            "changePercent24Hr": "2.1406602469037478",
                                            "vwap24Hr": "2066.4174884725134473",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87738714281.2488382497291944",
                                            "volumeUsd24Hr": "13309505090.9099884228707409",
                                            "priceUsd": "1.0005146362658796",
                                            "changePercent24Hr": "0.0027719382265470",
                                            "vwap24Hr": "1.0005677655136049",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "38849178279.8260837129410220",
                                            "volumeUsd24Hr": "421787966.0047855105494760",
                                            "priceUsd": "232.9071397028159765",
                                            "changePercent24Hr": "-0.6276935135342320",
                                            "vwap24Hr": "234.6078955422590064",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "27851047823.1272206414284960",
                                            "volumeUsd24Hr": "513042558.4198264452448588",
                                            "priceUsd": "0.6134047717208739",
                                            "changePercent24Hr": "3.0707367048131479",
                                            "vwap24Hr": "0.6066866471901279",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "6",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24602332849.6046089286372614",
                                            "volumeUsd24Hr": "585022273.1535283098891854",
                                            "priceUsd": "58.1795358428209562",
                                            "changePercent24Hr": "6.4282982121374077",
                                            "vwap24Hr": "56.8083003967621408",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "7",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24445176254.0164433024508914",
                                            "volumeUsd24Hr": "1047233815.1833215613059403",
                                            "priceUsd": "1.0003397489293250",
                                            "changePercent24Hr": "-0.0253318280204081",
                                            "vwap24Hr": "1.0003616230969214",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13499596339.4024182132523183",
                                            "volumeUsd24Hr": "119462236.4688980884845400",
                                            "priceUsd": "0.3826239273914042",
                                            "changePercent24Hr": "3.6091622396718739",
                                            "vwap24Hr": "0.3787428268041283",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10736938007.8556064863331761",
                                            "volumeUsd24Hr": "181392045.3445596286578225",
                                            "priceUsd": "0.0756671960522490",
                                            "changePercent24Hr": "1.6741881604522010",
                                            "vwap24Hr": "0.0756421939389083",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8985065077.6193147408259949",
                                            "volumeUsd24Hr": "106209373.8594812522208849",
                                            "priceUsd": "0.1013793825990641",
                                            "changePercent24Hr": "0.5993330961135212",
                                            "vwap24Hr": "0.1011284452790552",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700741265872
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USDT": {
                                "value": "USDT"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "XRP",
                                            "baseId": "xrp",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0003100100000000",
                                            "priceUsd": "0.6395305888443525",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "512",
                                            "updated": 1700741235342
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "DASH",
                                            "baseId": "dash",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "26.5300000000000000",
                                            "priceUsd": "26.5475515663406659",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "62",
                                            "updated": 1700741253107
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "LTC",
                                            "baseId": "litecoin",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "66.2300000000000000",
                                            "priceUsd": "66.2738160662925858",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "198",
                                            "updated": 1700741251902
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "4",
                                            "baseSymbol": "POLY",
                                            "baseId": "polymath-network",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001000000000000",
                                            "priceUsd": "0.2062935353196195",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700741248831
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "5",
                                            "baseSymbol": "FTM",
                                            "baseId": "fantom",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000078300000000",
                                            "priceUsd": "0.2929945661047007",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "771",
                                            "updated": 1700741263965
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "6",
                                            "baseSymbol": "GLM",
                                            "baseId": "golem-network-tokens",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000066500000000",
                                            "priceUsd": "0.2488395740225108",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700741245183
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "7",
                                            "baseSymbol": "LRC",
                                            "baseId": "loopring",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001108500000000",
                                            "priceUsd": "0.2286763839017983",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "73",
                                            "updated": 1700741245782
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "8",
                                            "baseSymbol": "YFID",
                                            "baseId": "yfidapp",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0999000000000000",
                                            "priceUsd": "0.0999660912731788",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700741273103
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "9",
                                            "baseSymbol": "QTUM",
                                            "baseId": "qtum",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000848000000000",
                                            "priceUsd": "3.1731723123472057",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "103",
                                            "updated": 1700741237848
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "10",
                                            "baseSymbol": "SHDC",
                                            "baseId": "shd-cash",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0000900000000000",
                                            "priceUsd": "0.0000900595416875",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700741281309
                                        }
                                    ],
                                    "timestamp": 1700741328470
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/rates": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "assetId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "daily": {
                                "value": "daily"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum,litecoin": {
                                "value": "bitcoin,ethereum,litecoin"
                            }
                        }
                    },
                    {
                        "name": "exchange",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_rates"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "nicaraguan-c\u00f3rdoba",
                                            "symbol": "NIO",
                                            "currencySymbol": "C$",
                                            "type": "fiat",
                                            "rateUsd": "0.0273060155397988"
                                        },
                                        {
                                            "id": "tajikistani-somoni",
                                            "symbol": "TJS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0915231614003630"
                                        },
                                        {
                                            "id": "philippine-peso",
                                            "symbol": "PHP",
                                            "currencySymbol": "\u20b1",
                                            "type": "fiat",
                                            "rateUsd": "0.0180305253548764"
                                        },
                                        {
                                            "id": "multi-collateral-dai",
                                            "symbol": "DAI",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "1.0000436792533933"
                                        },
                                        {
                                            "id": "dominican-peso",
                                            "symbol": "DOP",
                                            "currencySymbol": "RD$",
                                            "type": "fiat",
                                            "rateUsd": "0.0175784117135082"
                                        },
                                        {
                                            "id": "malagasy-ariary",
                                            "symbol": "MGA",
                                            "currencySymbol": "Ar",
                                            "type": "fiat",
                                            "rateUsd": "0.0002203265065209"
                                        },
                                        {
                                            "id": "qtum",
                                            "symbol": "QTUM",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "3.0673436307863759"
                                        },
                                        {
                                            "id": "special-drawing-rights",
                                            "symbol": "XDR",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "1.3304560004896078"
                                        },
                                        {
                                            "id": "bosnia-herzegovina-convertible-mark",
                                            "symbol": "BAM",
                                            "currencySymbol": "KM",
                                            "type": "fiat",
                                            "rateUsd": "0.5570661332201375"
                                        },
                                        {
                                            "id": "eos",
                                            "symbol": "EOS",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.6708138394423032"
                                        },
                                        {
                                            "id": "omani-rial",
                                            "symbol": "OMR",
                                            "currencySymbol": "\ufdfc",
                                            "type": "fiat",
                                            "rateUsd": "2.5976994773428650"
                                        },
                                        {
                                            "id": "israeli-new-sheqel",
                                            "symbol": "ILS",
                                            "currencySymbol": "\u20aa",
                                            "type": "fiat",
                                            "rateUsd": "0.2680162535776820"
                                        },
                                        {
                                            "id": "uzbekistan-som",
                                            "symbol": "UZS",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0000813246775695"
                                        },
                                        {
                                            "id": "czech-republic-koruna",
                                            "symbol": "CZK",
                                            "currencySymbol": "K\u010d",
                                            "type": "fiat",
                                            "rateUsd": "0.0448149405124239"
                                        },
                                        {
                                            "id": "botswanan-pula",
                                            "symbol": "BWP",
                                            "currencySymbol": "P",
                                            "type": "fiat",
                                            "rateUsd": "0.0738600768115255"
                                        },
                                        {
                                            "id": "burundian-franc",
                                            "symbol": "BIF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003515820297088"
                                        },
                                        {
                                            "id": "cfa-franc-beac",
                                            "symbol": "XAF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0016645928503100"
                                        },
                                        {
                                            "id": "ethereum",
                                            "symbol": "ETH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "2063.1732692347604985"
                                        },
                                        {
                                            "id": "kuwaiti-dinar",
                                            "symbol": "KWD",
                                            "currencySymbol": "\u0643",
                                            "type": "fiat",
                                            "rateUsd": "3.2448147859720167"
                                        },
                                        {
                                            "id": "nepalese-rupee",
                                            "symbol": "NPR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0074999505190765"
                                        },
                                        {
                                            "id": "colombian-peso",
                                            "symbol": "COP",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0002460237036418"
                                        },
                                        {
                                            "id": "ugandan-shilling",
                                            "symbol": "UGX",
                                            "currencySymbol": "UGX",
                                            "type": "fiat",
                                            "rateUsd": "0.0002639326867807"
                                        },
                                        {
                                            "id": "kazakhstani-tenge",
                                            "symbol": "KZT",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0021840446557109"
                                        },
                                        {
                                            "id": "swazi-lilangeni",
                                            "symbol": "SZL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0535009639803690"
                                        },
                                        {
                                            "id": "papua-new-guinean-kina",
                                            "symbol": "PGK",
                                            "currencySymbol": "K",
                                            "type": "fiat",
                                            "rateUsd": "0.2645750422129480"
                                        },
                                        {
                                            "id": "nigerian-naira",
                                            "symbol": "NGN",
                                            "currencySymbol": "\u20a6",
                                            "type": "fiat",
                                            "rateUsd": "0.0012238919012459"
                                        },
                                        {
                                            "id": "mauritanian-ouguiya",
                                            "symbol": "MRU",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0250738745296799"
                                        },
                                        {
                                            "id": "manx-pound",
                                            "symbol": "IMP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2550752103819822"
                                        },
                                        {
                                            "id": "tanzanian-shilling",
                                            "symbol": "TZS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003992015968064"
                                        },
                                        {
                                            "id": "armenian-dram",
                                            "symbol": "AMD",
                                            "currencySymbol": "\u058f",
                                            "type": "fiat",
                                            "rateUsd": "0.0024829302826125"
                                        },
                                        {
                                            "id": "macanese-pataca",
                                            "symbol": "MOP",
                                            "currencySymbol": "MOP$",
                                            "type": "fiat",
                                            "rateUsd": "0.1244699137547968"
                                        },
                                        {
                                            "id": "litecoin",
                                            "symbol": "LTC",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "69.2225846560637994"
                                        },
                                        {
                                            "id": "paraguayan-guarani",
                                            "symbol": "PYG",
                                            "currencySymbol": "Gs",
                                            "type": "fiat",
                                            "rateUsd": "0.0001343094321637"
                                        },
                                        {
                                            "id": "honduran-lempira",
                                            "symbol": "HNL",
                                            "currencySymbol": "L",
                                            "type": "fiat",
                                            "rateUsd": "0.0404736419858668"
                                        },
                                        {
                                            "id": "brazilian-real",
                                            "symbol": "BRL",
                                            "currencySymbol": "R$",
                                            "type": "fiat",
                                            "rateUsd": "0.2037821975872188"
                                        },
                                        {
                                            "id": "bitcoin",
                                            "symbol": "BTC",
                                            "currencySymbol": "\u20bf",
                                            "type": "crypto",
                                            "rateUsd": "37426.4190084453997066"
                                        },
                                        {
                                            "id": "chinese-yuan-renminbi",
                                            "symbol": "CNY",
                                            "currencySymbol": "\u00a5",
                                            "type": "fiat",
                                            "rateUsd": "0.1410039481105471"
                                        },
                                        {
                                            "id": "swiss-franc",
                                            "symbol": "CHF",
                                            "currencySymbol": "CHF",
                                            "type": "fiat",
                                            "rateUsd": "1.1330302099844890"
                                        },
                                        {
                                            "id": "moldovan-leu",
                                            "symbol": "MDL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0560847211310628"
                                        },
                                        {
                                            "id": "macedonian-denar",
                                            "symbol": "MKD",
                                            "currencySymbol": "\u0434\u0435\u043d",
                                            "type": "fiat",
                                            "rateUsd": "0.0177633709733835"
                                        },
                                        {
                                            "id": "south-korean-won",
                                            "symbol": "KRW",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0007691541969722"
                                        },
                                        {
                                            "id": "serbian-dinar",
                                            "symbol": "RSD",
                                            "currencySymbol": "\u0414\u0438\u043d.",
                                            "type": "fiat",
                                            "rateUsd": "0.0092956053343277"
                                        },
                                        {
                                            "id": "congolese-franc",
                                            "symbol": "CDF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0004026756367368"
                                        },
                                        {
                                            "id": "crypto-com-coin",
                                            "symbol": "CRO",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0940089825872970"
                                        },
                                        {
                                            "id": "iraqi-dinar",
                                            "symbol": "IQD",
                                            "currencySymbol": "\u062f.\u0639",
                                            "type": "fiat",
                                            "rateUsd": "0.0007634971936733"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "symbol": "BNB",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "233.1219343345712604"
                                        },
                                        {
                                            "id": "united-arab-emirates-dirham",
                                            "symbol": "AED",
                                            "currencySymbol": "\u0641\u0644\u0633",
                                            "type": "fiat",
                                            "rateUsd": "0.2722996385222299"
                                        },
                                        {
                                            "id": "mongolian-tugrik",
                                            "symbol": "MNT",
                                            "currencySymbol": "\u20ae",
                                            "type": "fiat",
                                            "rateUsd": "0.0002898550724638"
                                        },
                                        {
                                            "id": "danish-krone",
                                            "symbol": "DKK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.1464505798124905"
                                        },
                                        {
                                            "id": "guyanaese-dollar",
                                            "symbol": "GYD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0047770872323024"
                                        },
                                        {
                                            "id": "rwandan-franc",
                                            "symbol": "RWF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0008090833483247"
                                        },
                                        {
                                            "id": "kyrgystani-som",
                                            "symbol": "KGS",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0112590297418530"
                                        },
                                        {
                                            "id": "singapore-dollar",
                                            "symbol": "SGD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7463254665653654"
                                        },
                                        {
                                            "id": "sri-lankan-rupee",
                                            "symbol": "LKR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0030403507630785"
                                        },
                                        {
                                            "id": "mozambican-metical",
                                            "symbol": "MZN",
                                            "currencySymbol": "MT",
                                            "type": "fiat",
                                            "rateUsd": "0.0156617068807877"
                                        },
                                        {
                                            "id": "polish-zloty",
                                            "symbol": "PLN",
                                            "currencySymbol": "z\u0142",
                                            "type": "fiat",
                                            "rateUsd": "0.2501576618663913"
                                        },
                                        {
                                            "id": "lebanese-pound",
                                            "symbol": "LBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "0.0000664952843496"
                                        },
                                        {
                                            "id": "venezuelan-bol\u00edvar-soberano",
                                            "symbol": "VES",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0282431543536399"
                                        },
                                        {
                                            "id": "new-taiwan-dollar",
                                            "symbol": "TWD",
                                            "currencySymbol": "NT$",
                                            "type": "fiat",
                                            "rateUsd": "0.0316475726311792"
                                        },
                                        {
                                            "id": "chinese-yuan-(offshore)",
                                            "symbol": "CNH",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.1399668278617968"
                                        },
                                        {
                                            "id": "mauritian-rupee",
                                            "symbol": "MUR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0226500566251416"
                                        },
                                        {
                                            "id": "bulgarian-lev",
                                            "symbol": "BGN",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.5577898136424232"
                                        },
                                        {
                                            "id": "s\u00e3o-tom\u00e9-and-pr\u00edncipe-dobra",
                                            "symbol": "STN",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0444702035628015"
                                        },
                                        {
                                            "id": "barbadian-dollar",
                                            "symbol": "BBD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.5000000000000000"
                                        },
                                        {
                                            "id": "surinamese-dollar",
                                            "symbol": "SRD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0264462809917355"
                                        },
                                        {
                                            "id": "silver-ounce",
                                            "symbol": "XAG",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "23.6734970229393830"
                                        },
                                        {
                                            "id": "ethiopian-birr",
                                            "symbol": "ETB",
                                            "currencySymbol": "Br",
                                            "type": "fiat",
                                            "rateUsd": "0.0177993974797157"
                                        },
                                        {
                                            "id": "canadian-dollar",
                                            "symbol": "CAD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7307398887521593"
                                        },
                                        {
                                            "id": "salvadoran-col\u00f3n",
                                            "symbol": "SVC",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.1142163751560196"
                                        },
                                        {
                                            "id": "samoan-tala",
                                            "symbol": "WST",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.3571428571428572"
                                        },
                                        {
                                            "id": "algerian-dinar",
                                            "symbol": "DZD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0074531683705690"
                                        },
                                        {
                                            "id": "seychellois-rupee",
                                            "symbol": "SCR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0747699105542514"
                                        },
                                        {
                                            "id": "libyan-dinar",
                                            "symbol": "LYD",
                                            "currencySymbol": "LD",
                                            "type": "fiat",
                                            "rateUsd": "0.2078027868431743"
                                        },
                                        {
                                            "id": "cuban-convertible-peso",
                                            "symbol": "CUC",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.0000000000000000"
                                        },
                                        {
                                            "id": "haitian-gourde",
                                            "symbol": "HTG",
                                            "currencySymbol": "G",
                                            "type": "fiat",
                                            "rateUsd": "0.0075352385430466"
                                        },
                                        {
                                            "id": "indonesian-rupiah",
                                            "symbol": "IDR",
                                            "currencySymbol": "Rp",
                                            "type": "fiat",
                                            "rateUsd": "0.0000642146373040"
                                        },
                                        {
                                            "id": "costa-rican-col\u00f3n",
                                            "symbol": "CRC",
                                            "currencySymbol": "\u20a1",
                                            "type": "fiat",
                                            "rateUsd": "0.0018830114050103"
                                        },
                                        {
                                            "id": "indian-rupee",
                                            "symbol": "INR",
                                            "currencySymbol": "\u20b9",
                                            "type": "fiat",
                                            "rateUsd": "0.0119991549715103"
                                        },
                                        {
                                            "id": "belize-dollar",
                                            "symbol": "BZD",
                                            "currencySymbol": "BZ$",
                                            "type": "fiat",
                                            "rateUsd": "0.4958177770505784"
                                        },
                                        {
                                            "id": "waves",
                                            "symbol": "WAVES",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "2.0873337573400047"
                                        },
                                        {
                                            "id": "namibian-dollar",
                                            "symbol": "NAD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0537056928034372"
                                        },
                                        {
                                            "id": "thai-baht",
                                            "symbol": "THB",
                                            "currencySymbol": "\u0e3f",
                                            "type": "fiat",
                                            "rateUsd": "0.0283527076835838"
                                        },
                                        {
                                            "id": "angolan-kwanza",
                                            "symbol": "AOA",
                                            "currencySymbol": "Kz",
                                            "type": "fiat",
                                            "rateUsd": "0.0012081438561052"
                                        },
                                        {
                                            "id": "icelandic-kr\u00f3na",
                                            "symbol": "ISK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.0071311416957855"
                                        },
                                        {
                                            "id": "vietnamese-dong",
                                            "symbol": "VND",
                                            "currencySymbol": "\u20ab",
                                            "type": "fiat",
                                            "rateUsd": "0.0000412399975744"
                                        },
                                        {
                                            "id": "malaysian-ringgit",
                                            "symbol": "MYR",
                                            "currencySymbol": "RM",
                                            "type": "fiat",
                                            "rateUsd": "0.2137208805300278"
                                        },
                                        {
                                            "id": "swedish-krona",
                                            "symbol": "SEK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.0954672438998102"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "symbol": "DOGE",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.0757497939199844"
                                        },
                                        {
                                            "id": "saudi-riyal",
                                            "symbol": "SAR",
                                            "currencySymbol": "\ufdfc",
                                            "type": "fiat",
                                            "rateUsd": "0.2666300494732057"
                                        },
                                        {
                                            "id": "gibraltar-pound",
                                            "symbol": "GIP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2550752103819822"
                                        },
                                        {
                                            "id": "yemeni-rial",
                                            "symbol": "YER",
                                            "currencySymbol": "\ufdfc",
                                            "type": "fiat",
                                            "rateUsd": "0.0039952064234865"
                                        },
                                        {
                                            "id": "fijian-dollar",
                                            "symbol": "FJD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.4460800713728114"
                                        },
                                        {
                                            "id": "comorian-franc",
                                            "symbol": "KMF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0022175417652315"
                                        },
                                        {
                                            "id": "hungarian-forint",
                                            "symbol": "HUF",
                                            "currencySymbol": "Ft",
                                            "type": "fiat",
                                            "rateUsd": "0.0028745491639735"
                                        },
                                        {
                                            "id": "falkland-islands-pound",
                                            "symbol": "FKP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2550752103819822"
                                        },
                                        {
                                            "id": "georgian-lari",
                                            "symbol": "GEL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.3696857670979667"
                                        },
                                        {
                                            "id": "bangladeshi-taka",
                                            "symbol": "BDT",
                                            "currencySymbol": "Tk",
                                            "type": "fiat",
                                            "rateUsd": "0.0090243526849868"
                                        },
                                        {
                                            "id": "euro",
                                            "symbol": "EUR",
                                            "currencySymbol": "\u20ac",
                                            "type": "fiat",
                                            "rateUsd": "1.0919009340120590"
                                        },
                                        {
                                            "id": "croatian-kuna",
                                            "symbol": "HRK",
                                            "currencySymbol": "kn",
                                            "type": "fiat",
                                            "rateUsd": "0.1449198911825521"
                                        },
                                        {
                                            "id": "peruvian-nuevo-sol",
                                            "symbol": "PEN",
                                            "currencySymbol": "S/.",
                                            "type": "fiat",
                                            "rateUsd": "0.2675153680891083"
                                        },
                                        {
                                            "id": "cayman-islands-dollar",
                                            "symbol": "KYD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.1992406408262288"
                                        },
                                        {
                                            "id": "turkish-lira",
                                            "symbol": "TRY",
                                            "currencySymbol": "Kr",
                                            "type": "fiat",
                                            "rateUsd": "0.0347055936636471"
                                        },
                                        {
                                            "id": "british-pound-sterling",
                                            "symbol": "GBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2550752103819822"
                                        },
                                        {
                                            "id": "solomon-islands-dollar",
                                            "symbol": "SBD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.1180915275469745"
                                        },
                                        {
                                            "id": "moroccan-dirham",
                                            "symbol": "MAD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0986071153316710"
                                        },
                                        {
                                            "id": "japanese-yen",
                                            "symbol": "JPY",
                                            "currencySymbol": "\u00a5",
                                            "type": "fiat",
                                            "rateUsd": "0.0067009756620564"
                                        },
                                        {
                                            "id": "united-states-dollar",
                                            "symbol": "USD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.0000000000000000"
                                        },
                                        {
                                            "id": "somali-shilling",
                                            "symbol": "SOS",
                                            "currencySymbol": "S",
                                            "type": "fiat",
                                            "rateUsd": "0.0017488112027391"
                                        },
                                        {
                                            "id": "afghan-afghani",
                                            "symbol": "AFN",
                                            "currencySymbol": "\u060b ",
                                            "type": "fiat",
                                            "rateUsd": "0.0144748241410191"
                                        },
                                        {
                                            "id": "bahraini-dinar",
                                            "symbol": "BHD",
                                            "currencySymbol": "BD",
                                            "type": "fiat",
                                            "rateUsd": "2.6527309865506536"
                                        },
                                        {
                                            "id": "cfp-franc",
                                            "symbol": "XPF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0091501331614304"
                                        },
                                        {
                                            "id": "djiboutian-franc",
                                            "symbol": "DJF",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0056131369858016"
                                        },
                                        {
                                            "id": "tunisian-dinar",
                                            "symbol": "TND",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.3221908981071285"
                                        },
                                        {
                                            "id": "gambian-dalasi",
                                            "symbol": "GMD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0148698884758364"
                                        },
                                        {
                                            "id": "dash",
                                            "symbol": "DASH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "29.3304620210360962"
                                        },
                                        {
                                            "id": "chilean-unit-of-account-(uf)",
                                            "symbol": "CLF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "31.6585937252667260"
                                        },
                                        {
                                            "id": "bitcoin-cash",
                                            "symbol": "BCH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "225.5363598595874029"
                                        },
                                        {
                                            "id": "romanian-leu",
                                            "symbol": "RON",
                                            "currencySymbol": "lei",
                                            "type": "fiat",
                                            "rateUsd": "0.2196573564896119"
                                        },
                                        {
                                            "id": "brunei-dollar",
                                            "symbol": "BND",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7456337551383486"
                                        },
                                        {
                                            "id": "guinean-franc",
                                            "symbol": "GNF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0001163393905104"
                                        },
                                        {
                                            "id": "north-korean-won",
                                            "symbol": "KPW",
                                            "currencySymbol": "\u20a9",
                                            "type": "fiat",
                                            "rateUsd": "0.0011111111111111"
                                        },
                                        {
                                            "id": "panamanian-balboa",
                                            "symbol": "PAB",
                                            "currencySymbol": "B/.",
                                            "type": "fiat",
                                            "rateUsd": "1.0000000000000000"
                                        },
                                        {
                                            "id": "sudanese-pound",
                                            "symbol": "SDG",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0016638935108153"
                                        },
                                        {
                                            "id": "jersey-pound",
                                            "symbol": "JEP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2550752103819822"
                                        },
                                        {
                                            "id": "azerbaijani-manat",
                                            "symbol": "AZN",
                                            "currencySymbol": "\u20bc",
                                            "type": "fiat",
                                            "rateUsd": "0.5882352941176471"
                                        },
                                        {
                                            "id": "belarusian-ruble",
                                            "symbol": "BYN",
                                            "currencySymbol": "Br",
                                            "type": "fiat",
                                            "rateUsd": "0.3034001754259814"
                                        },
                                        {
                                            "id": "maldivian-rufiyaa",
                                            "symbol": "MVR",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0649350649350649"
                                        },
                                        {
                                            "id": "trinidad-and-tobago-dollar",
                                            "symbol": "TTD",
                                            "currencySymbol": "TT$",
                                            "type": "fiat",
                                            "rateUsd": "0.1471118054134496"
                                        },
                                        {
                                            "id": "platinum-ounce",
                                            "symbol": "XPT",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "922.7475731738825000"
                                        },
                                        {
                                            "id": "vanuatu-vatu",
                                            "symbol": "VUV",
                                            "currencySymbol": "VT",
                                            "type": "fiat",
                                            "rateUsd": "0.0084230386954398"
                                        },
                                        {
                                            "id": "qatari-rial",
                                            "symbol": "QAR",
                                            "currencySymbol": "\ufdfc",
                                            "type": "fiat",
                                            "rateUsd": "0.2741802285347041"
                                        },
                                        {
                                            "id": "saint-helena-pound",
                                            "symbol": "SHP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2550752103819822"
                                        },
                                        {
                                            "id": "kenyan-shilling",
                                            "symbol": "KES",
                                            "currencySymbol": "KSh",
                                            "type": "fiat",
                                            "rateUsd": "0.0065423617926071"
                                        },
                                        {
                                            "id": "persistence",
                                            "symbol": "XPRT",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "0.2687308383239039"
                                        },
                                        {
                                            "id": "chilean-peso",
                                            "symbol": "CLP",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0011473811026332"
                                        },
                                        {
                                            "id": "cuban-peso",
                                            "symbol": "CUP",
                                            "currencySymbol": "\u20b1",
                                            "type": "fiat",
                                            "rateUsd": "0.0388349514563107"
                                        },
                                        {
                                            "id": "malawian-kwacha",
                                            "symbol": "MWK",
                                            "currencySymbol": "MK",
                                            "type": "fiat",
                                            "rateUsd": "0.0005937041217552"
                                        },
                                        {
[...]
