{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - CoinCap API is a cryptocurrency data platform that provides real-time market data and historical information for various digital assets.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://docs.coincap.io/#terms-of-service",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets/bitcoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_bitcoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "bitcoin",
                                        "rank": "1",
                                        "symbol": "BTC",
                                        "name": "Bitcoin",
                                        "supply": "19547062.0000000000000000",
                                        "maxSupply": "21000000.0000000000000000",
                                        "marketCapUsd": "717247356759.5219475420740814",
                                        "volumeUsd24Hr": "12095044277.7454754178540367",
                                        "priceUsd": "36693.3586622645360997",
                                        "changePercent24Hr": "-1.9068320474986221",
                                        "vwap24Hr": "36772.0260527687872262",
                                        "explorer": "https://blockchain.info/"
                                    },
                                    "timestamp": 1700650486719
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/bitcoin/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "m1": {
                                "value": "m1"
                            },
                            "h1": {
                                "value": "h1"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "2022-01-01T00:00:00Z": {
                                "value": "2022-01-01T00:00:00Z"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            },
                            "2022-01-31T23:59:59Z": {
                                "value": "2022-01-31T23:59:59Z"
                            },
                            "2022-01-31T00:00:00Z": {
                                "value": "2022-01-31T00:00:00Z"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "exchange",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usd": {
                                "value": "usd"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1641792000000": {
                                "value": "1641792000000"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "min",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_bitcoin_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "2038443621.7663008938785570",
                                            "priceUsd": "36758.0577373524478065",
                                            "volumePercent": "16.8408843940722308"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "852803304.9344046504000000",
                                            "priceUsd": "36622.1800000000000000",
                                            "volumePercent": "7.0455526539598241"
                                        },
                                        {
                                            "exchangeId": "WhiteBIT",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "576563495.5322338505124223",
                                            "priceUsd": "36669.9845202566200097",
                                            "volumePercent": "4.7633591973895289"
                                        },
                                        {
                                            "exchangeId": "DigiFinex",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "525178310.5850325276642415",
                                            "priceUsd": "36727.1420364877873446",
                                            "volumePercent": "4.3388333728715088"
                                        },
                                        {
                                            "exchangeId": "LBank",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "497838350.2521907149035062",
                                            "priceUsd": "36699.0586902183677085",
                                            "volumePercent": "4.1129605028114822"
                                        },
                                        {
                                            "exchangeId": "Gate",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "475466039.9128377919257362",
                                            "priceUsd": "36759.3588189686361717",
                                            "volumePercent": "3.9281285614076378"
                                        },
                                        {
                                            "exchangeId": "WhiteBIT",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "348348905.3988781027135196",
                                            "priceUsd": "36754.2462435027752159",
                                            "volumePercent": "2.8810259499680949"
                                        },
                                        {
                                            "exchangeId": "Kraken",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "258729661.7172341180000000",
                                            "priceUsd": "36648.2000000000000000",
                                            "volumePercent": "2.1375309455563126"
                                        },
                                        {
                                            "exchangeId": "Coinsbit",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "201329743.7752636314588569",
                                            "priceUsd": "36680.5182829524758964",
                                            "volumePercent": "1.6633135711006252"
                                        },
                                        {
                                            "exchangeId": "Huobi",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "196286127.8063671410304991",
                                            "priceUsd": "36667.3723487041187535",
                                            "volumePercent": "1.6216450390140310"
                                        },
                                        {
                                            "exchangeId": "Crypto.com Exchange",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "195281860.4928059018253306",
                                            "priceUsd": "36736.0994829992380126",
                                            "volumePercent": "1.6133481454684664"
                                        },
                                        {
                                            "exchangeId": "Tidex",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "191878321.9641424170540310",
                                            "priceUsd": "36719.5322056472518696",
                                            "volumePercent": "1.5852293403762136"
                                        },
                                        {
                                            "exchangeId": "Kucoin",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "136814063.9049989339662943",
                                            "priceUsd": "36704.0128086800080221",
                                            "volumePercent": "1.1303083436326940"
                                        },
                                        {
                                            "exchangeId": "Bitstamp",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "107651300.5944117000000000",
                                            "priceUsd": "36701.0000000000000000",
                                            "volumePercent": "0.8893761342347554"
                                        },
                                        {
                                            "exchangeId": "coincheck",
                                            "baseId": "bitcoin",
                                            "quoteId": "japanese-yen",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "JPY",
                                            "volumeUsd24Hr": "105008866.5653007279073807",
                                            "priceUsd": "36794.9131524467519040",
                                            "volumePercent": "0.8675452994115384"
                                        },
                                        {
                                            "exchangeId": "Bitfinex",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "97418069.7573880000000000",
                                            "priceUsd": "36700.0000000000000000",
                                            "volumePercent": "0.8048328799283929"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "binance-coin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "BNB",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "93384674.5282943791691659",
                                            "priceUsd": "36721.4310122364513866",
                                            "volumePercent": "0.7717893456086529"
                                        },
                                        {
                                            "exchangeId": "Bitflyer",
                                            "baseId": "bitcoin",
                                            "quoteId": "japanese-yen",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "JPY",
                                            "volumeUsd24Hr": "84641128.5121092663045622",
                                            "priceUsd": "36745.9815527335272000",
                                            "volumePercent": "0.6992744096700178"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "79315168.5855767998789569",
                                            "priceUsd": "36645.1279164945482946",
                                            "volumePercent": "0.6542742267187173"
                                        },
                                        {
                                            "exchangeId": "Currency.com",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "74181872.7920000000000000",
                                            "priceUsd": "36632.3000000000000000",
                                            "volumePercent": "0.6128638194777947"
                                        },
                                        {
                                            "exchangeId": "Bilaxy",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "70282335.6404449141123324",
                                            "priceUsd": "36728.0327769788701485",
                                            "volumePercent": "0.5806472530452020"
                                        },
                                        {
                                            "exchangeId": "HitBTC",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "69591309.0116517536925254",
                                            "priceUsd": "36727.6024192135155354",
                                            "volumePercent": "0.5749382408142690"
                                        },
                                        {
                                            "exchangeId": "AscendEX (Bitmax)",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "60012073.0948926892730163",
                                            "priceUsd": "36702.0411696154764226",
                                            "volumePercent": "0.4957980561483333"
                                        },
                                        {
                                            "exchangeId": "BigONE",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "59247112.6921671177266875",
                                            "priceUsd": "36680.4832480672476641",
                                            "volumePercent": "0.4894782298010235"
                                        },
                                        {
                                            "exchangeId": "CoinTiger",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "54947571.0511691498749460",
                                            "priceUsd": "36727.0319449664175599",
                                            "volumePercent": "0.4539569708609282"
                                        },
                                        {
                                            "exchangeId": "Kraken",
                                            "baseId": "bitcoin",
                                            "quoteId": "euro",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "EUR",
                                            "volumeUsd24Hr": "51081351.6012816250470328",
                                            "priceUsd": "36674.3530617473706067",
                                            "volumePercent": "0.4220156632366087"
                                        },
                                        {
                                            "exchangeId": "Dex-Trade",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "40588354.8654860336091655",
                                            "priceUsd": "36705.2938736559473355",
                                            "volumePercent": "0.3353263169686990"
                                        },
                                        {
                                            "exchangeId": "ExMarkets",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "36463096.0608466783461132",
                                            "priceUsd": "36659.3256593239999411",
                                            "volumePercent": "0.3012449198269120"
                                        },
                                        {
                                            "exchangeId": "ProBit",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "35600054.0997563753563011",
                                            "priceUsd": "36713.0202967920813195",
                                            "volumePercent": "0.2941147790966223"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "33904922.8000666997115642",
                                            "priceUsd": "36713.8609956825414939",
                                            "volumePercent": "0.2801102170150323"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "solana",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "SOL",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "30354368.9009906415645811",
                                            "priceUsd": "36677.9070942394431271",
                                            "volumePercent": "0.2505249321434029"
                                        },
                                        {
                                            "exchangeId": "Gemini",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "30295486.0534387100000000",
                                            "priceUsd": "36647.0000000000000000",
                                            "volumePercent": "0.2502903552692327"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "bitcoin",
                                            "quoteId": "euro",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "EUR",
                                            "volumeUsd24Hr": "22043248.4155411913708094",
                                            "priceUsd": "36719.7954655720335733",
                                            "volumePercent": "0.1821133507309258"
                                        },
                                        {
                                            "exchangeId": "BTCBOX",
                                            "baseId": "bitcoin",
                                            "quoteId": "japanese-yen",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "JPY",
                                            "volumeUsd24Hr": "19985616.8111621326753530",
                                            "priceUsd": "36765.7594156110353760",
                                            "volumePercent": "0.1651139421601305"
                                        },
                                        {
                                            "exchangeId": "ProBit",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "19800522.7359015501768229",
                                            "priceUsd": "36738.2371344311950597",
                                            "volumePercent": "0.1636892534964280"
                                        },
                                        {
                                            "exchangeId": "Bitfinex",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "19234834.8437025739359127",
                                            "priceUsd": "36729.5340249975490314",
                                            "volumePercent": "0.1589112529200991"
                                        },
                                        {
                                            "exchangeId": "Bitbank",
                                            "baseId": "bitcoin",
                                            "quoteId": "japanese-yen",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "JPY",
                                            "volumeUsd24Hr": "17356339.3798719111242917",
                                            "priceUsd": "36799.9498343799525280",
                                            "volumePercent": "0.1433918023925690"
                                        },
                                        {
                                            "exchangeId": "Kraken",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "17099704.0403384777656611",
                                            "priceUsd": "36643.9628879328527061",
                                            "volumePercent": "0.1412715739798887"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "avalanche",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "AVAX",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "16730530.0382139217798948",
                                            "priceUsd": "36708.6438535844873918",
                                            "volumePercent": "0.1381984714901761"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "bitcoin",
                                            "quoteId": "euro",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "EUR",
                                            "volumeUsd24Hr": "16696862.4954290465711090",
                                            "priceUsd": "36741.8843115770160998",
                                            "volumePercent": "0.1379434427455940"
                                        },
                                        {
                                            "exchangeId": "Binance.US",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "16593685.0262393895677724",
                                            "priceUsd": "36753.4939433756640025",
                                            "volumePercent": "0.1370910277893293"
                                        },
                                        {
                                            "exchangeId": "CoinEx",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "15427764.6153216462832664",
                                            "priceUsd": "36696.5566101872362370",
                                            "volumePercent": "0.1274586147839889"
                                        },
                                        {
                                            "exchangeId": "Bitstamp",
                                            "baseId": "bitcoin",
                                            "quoteId": "euro",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "EUR",
                                            "volumeUsd24Hr": "15228954.8213042872400805",
                                            "priceUsd": "36728.9755289166511880",
                                            "volumePercent": "0.1258161201269355"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "xrp",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "XRP",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "14295278.6533107377219076",
                                            "priceUsd": "36697.2122983336020794",
                                            "volumePercent": "0.1180784234319417"
                                        },
                                        {
                                            "exchangeId": "BTCTurk",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "12085183.9811276566062518",
                                            "priceUsd": "36738.5415131096223288",
                                            "volumePercent": "0.0998434217822080"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "wrapped-bitcoin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "WBTC",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "11996188.5625041451822005",
                                            "priceUsd": "36745.7488290293014230",
                                            "volumePercent": "0.0991917574346191"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "chainlink",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "LINK",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "11161913.3246298024645168",
                                            "priceUsd": "36646.9767702829467123",
                                            "volumePercent": "0.0916690715368083"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "bitcoin",
                                            "quoteId": "british-pound-sterling",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "GBP",
                                            "volumeUsd24Hr": "10426841.8075872610738118",
                                            "priceUsd": "36727.9101294783043890",
                                            "volumePercent": "0.0861427981631899"
                                        },
                                        {
                                            "exchangeId": "ExMarkets",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "9970241.1588540303478226",
                                            "priceUsd": "36914.4348908065511934",
                                            "volumePercent": "0.0828184478095715"
                                        },
                                        {
                                            "exchangeId": "CoinTiger",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "9916106.9138673731132242",
                                            "priceUsd": "36658.4003279094322309",
                                            "volumePercent": "0.0817974772154465"
                                        },
                                        {
                                            "exchangeId": "Itbit",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "9729355.4969990400000000",
                                            "priceUsd": "36701.0000000000000000",
                                            "volumePercent": "0.0803804183761609"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "bitcoin",
                                            "quoteId": "brazilian-real",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "BRL",
                                            "volumeUsd24Hr": "9460268.1285125472325013",
                                            "priceUsd": "36929.8102428075854979",
                                            "volumePercent": "0.0781573158011388"
                                        },
                                        {
                                            "exchangeId": "BigONE",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "9425895.0429519159812441",
                                            "priceUsd": "36811.7269704884314928",
                                            "volumePercent": "0.0780789548006517"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "8771234.4993848400759186",
                                            "priceUsd": "36798.3433213444618759",
                                            "volumePercent": "0.0726296896198770"
                                        },
                                        {
                                            "exchangeId": "Mercatox",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "8655237.5497481551266835",
                                            "priceUsd": "37592.8152964590117523",
                                            "volumePercent": "0.0732165131094183"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "polygon",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "MATIC",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "7541558.9077336786092790",
                                            "priceUsd": "36670.9768488994353023",
                                            "volumePercent": "0.0622312903193648"
                                        },
                                        {
                                            "exchangeId": "Exmo",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "7297371.7968018200000000",
                                            "priceUsd": "38407.0000000000000000",
                                            "volumePercent": "0.0602882481017628"
                                        },
                                        {
                                            "exchangeId": "Bitkub",
                                            "baseId": "bitcoin",
                                            "quoteId": "thai-baht",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "THB",
                                            "volumeUsd24Hr": "7292695.3113804862594733",
                                            "priceUsd": "36730.4743214344038168",
                                            "volumePercent": "0.0602496126695584"
                                        },
                                        {
                                            "exchangeId": "Tidex",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "6970139.7969059165918282",
                                            "priceUsd": "36709.7487704126316454",
                                            "volumePercent": "0.0575768763847224"
                                        },
                                        {
                                            "exchangeId": "Coinsbit",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "6960043.9377098185121221",
                                            "priceUsd": "36681.3377888628808958",
                                            "volumePercent": "0.0574489832361172"
                                        },
                                        {
                                            "exchangeId": "Bibox",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "6754964.3559862844600329",
                                            "priceUsd": "36725.9310297527197124",
                                            "volumePercent": "0.0558070738825102"
                                        },
                                        {
                                            "exchangeId": "DigiFinex",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "6487867.3289599813181230",
                                            "priceUsd": "36778.2860847957639497",
                                            "volumePercent": "0.0533139532913082"
                                        },
                                        {
                                            "exchangeId": "Kraken",
                                            "baseId": "bitcoin",
                                            "quoteId": "british-pound-sterling",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "GBP",
                                            "volumeUsd24Hr": "6276992.1741499464993534",
                                            "priceUsd": "36685.9368069703294560",
                                            "volumePercent": "0.0518582404823922"
                                        },
                                        {
                                            "exchangeId": "Kucoin",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "6274879.4970158868271715",
                                            "priceUsd": "36676.9978639505516704",
                                            "volumePercent": "0.0517874311848933"
                                        },
                                        {
                                            "exchangeId": "Coinsbit",
                                            "baseId": "binance-coin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "BNB",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "5761449.8727456530645473",
                                            "priceUsd": "36743.7833371490830235",
                                            "volumePercent": "0.0476366111581936"
                                        },
                                        {
                                            "exchangeId": "BTCTurk",
                                            "baseId": "bitcoin",
                                            "quoteId": "turkish-lira",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "TRY",
                                            "volumeUsd24Hr": "5656242.9222885577729892",
                                            "priceUsd": "37071.1649593987027340",
                                            "volumePercent": "0.0467298345374457"
                                        },
                                        {
                                            "exchangeId": "Exmo",
                                            "baseId": "bitcoin",
                                            "quoteId": "british-pound-sterling",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "GBP",
                                            "volumeUsd24Hr": "5495899.9873500758963966",
                                            "priceUsd": "37241.5508328258961431",
                                            "volumePercent": "0.0454051391660008"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "thorchain",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "RUNE",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "5264838.4392876138392964",
                                            "priceUsd": "36724.8767826238990874",
                                            "volumePercent": "0.0435081478002920"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "monero",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "XMR",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "5115445.3428551728152909",
                                            "priceUsd": "36650.9741735266131169",
                                            "volumePercent": "0.0421977597005803"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "tron",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "TRX",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "4886540.0095639532481724",
                                            "priceUsd": "36627.5348851660816790",
                                            "volumePercent": "0.0402738270531166"
                                        },
                                        {
                                            "exchangeId": "Luno",
                                            "baseId": "bitcoin",
                                            "quoteId": "south-african-rand",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "ZAR",
                                            "volumeUsd24Hr": "4878527.1188486944997872",
                                            "priceUsd": "37307.1229699615628251",
                                            "volumePercent": "0.0403046276799586"
                                        },
                                        {
                                            "exchangeId": "BTCMarket",
                                            "baseId": "bitcoin",
                                            "quoteId": "australian-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "AUD",
                                            "volumeUsd24Hr": "4745482.0189022708085602",
                                            "priceUsd": "36768.6751804844179308",
                                            "volumePercent": "0.0392054571542347"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "litecoin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "LTC",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "4320133.5029559184481228",
                                            "priceUsd": "36734.4420127105229537",
                                            "volumePercent": "0.0357207835595658"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "dogecoin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "DOGE",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "3893793.0690949611090961",
                                            "priceUsd": "36767.3123161219289144",
                                            "volumePercent": "0.0322151346661464"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "cardano",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ADA",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "3641387.7120202459007667",
                                            "priceUsd": "36712.6950769932304909",
                                            "volumePercent": "0.0299991773655572"
                                        },
                                        {
                                            "exchangeId": "Independent Reserve",
                                            "baseId": "bitcoin",
                                            "quoteId": "australian-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "AUD",
                                            "volumeUsd24Hr": "3551623.4289720580941952",
                                            "priceUsd": "36709.7010988002681132",
                                            "volumePercent": "0.0293422290123333"
                                        },
                                        {
                                            "exchangeId": "Independent Reserve",
                                            "baseId": "bitcoin",
                                            "quoteId": "singapore-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "SGD",
                                            "volumeUsd24Hr": "3541631.1954816592912434",
                                            "priceUsd": "36606.4210320708604621",
                                            "volumePercent": "0.0292596767909946"
                                        },
                                        {
                                            "exchangeId": "Independent Reserve",
                                            "baseId": "bitcoin",
                                            "quoteId": "united-states-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USD",
                                            "volumeUsd24Hr": "3541565.3063737028000000",
                                            "priceUsd": "36605.7400000000000000",
                                            "volumePercent": "0.0292591324390007"
                                        },
                                        {
                                            "exchangeId": "Independent Reserve",
                                            "baseId": "bitcoin",
                                            "quoteId": "new-zealand-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "NZD",
                                            "volumeUsd24Hr": "3532254.6857811637901030",
                                            "priceUsd": "36509.5051074693564645",
                                            "volumePercent": "0.0291822114570507"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "wrapped-bitcoin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "WBTC",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "3225148.9213532851516614",
                                            "priceUsd": "36749.4281870776672287",
                                            "volumePercent": "0.0266701561326377"
                                        },
                                        {
                                            "exchangeId": "Dex-Trade",
                                            "baseId": "binance-coin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "BNB",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "3150165.2607072530963347",
                                            "priceUsd": "36773.0543922911418056",
                                            "volumePercent": "0.0260668312974154"
                                        },
                                        {
                                            "exchangeId": "Bitstamp",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "3057626.4715322098356226",
                                            "priceUsd": "36662.4782801632255952",
                                            "volumePercent": "0.0252610047084405"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "near-protocol",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "NEAR",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "3008812.7245492997311985",
                                            "priceUsd": "36697.0162145636519231",
                                            "volumePercent": "0.0248456927377651"
                                        },
                                        {
                                            "exchangeId": "Bitflyer",
                                            "baseId": "bitcoin",
                                            "quoteId": "euro",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "EUR",
                                            "volumeUsd24Hr": "2995916.4900129308710806",
                                            "priceUsd": "36676.8497773125932121",
                                            "volumePercent": "0.0247511791466101"
                                        },
                                        {
                                            "exchangeId": "Max",
                                            "baseId": "bitcoin",
                                            "quoteId": "tether",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "USDT",
                                            "volumeUsd24Hr": "2932640.2941923163681125",
                                            "priceUsd": "36748.7399913165142066",
                                            "volumePercent": "0.0242284140883406"
                                        },
                                        {
                                            "exchangeId": "Kraken",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2846091.3121262591024118",
                                            "priceUsd": "36751.5770898176987616",
                                            "volumePercent": "0.0235369404816896"
                                        },
                                        {
                                            "exchangeId": "Tidex",
                                            "baseId": "sola-token",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "SOL",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2808049.2008034979982106",
                                            "priceUsd": "36701.7951481147907879",
                                            "volumePercent": "0.0231908794846524"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "dydx",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "DYDX",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2713545.3370655869499117",
                                            "priceUsd": "36718.3390721291245749",
                                            "volumePercent": "0.0224205008070405"
                                        },
                                        {
                                            "exchangeId": "Kraken",
                                            "baseId": "bitcoin",
                                            "quoteId": "canadian-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "CAD",
                                            "volumeUsd24Hr": "2703916.6363224523052659",
                                            "priceUsd": "36495.7829062758689461",
                                            "volumePercent": "0.0223387819007023"
                                        },
                                        {
                                            "exchangeId": "Dex-Trade",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2682888.6203846084230639",
                                            "priceUsd": "36778.2860847957639497",
                                            "volumePercent": "0.0222033921453741"
                                        },
                                        {
                                            "exchangeId": "Kucoin",
                                            "baseId": "monero",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "XMR",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2595766.7591668936104875",
                                            "priceUsd": "36642.7509349864456022",
                                            "volumePercent": "0.0214032111761214"
                                        },
                                        {
                                            "exchangeId": "Coinbase Pro",
                                            "baseId": "solana",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "SOL",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2587082.9973628014388291",
                                            "priceUsd": "36741.5457718804324845",
                                            "volumePercent": "0.0213891233340833"
                                        },
                                        {
                                            "exchangeId": "Bitso",
                                            "baseId": "bitcoin",
                                            "quoteId": "mexican-peso",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "MXN",
                                            "volumeUsd24Hr": "2573247.1201014804615649",
                                            "priceUsd": "36520.2296701829106700",
                                            "volumePercent": "0.0212592375890475"
                                        },
                                        {
                                            "exchangeId": "Mercatox",
                                            "baseId": "litecoin",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "LTC",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2564037.7555044071003499",
                                            "priceUsd": "35487.7663713724183752",
                                            "volumePercent": "0.0204752060276622"
                                        },
                                        {
                                            "exchangeId": "Max",
                                            "baseId": "bitcoin",
                                            "quoteId": "new-taiwan-dollar",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "TWD",
                                            "volumeUsd24Hr": "2480659.3675582946925501",
                                            "priceUsd": "36934.9051252632291242",
                                            "volumePercent": "0.0204943110439927"
                                        },
                                        {
                                            "exchangeId": "Exmo",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2461743.0526573159692465",
                                            "priceUsd": "36689.9808202742934618",
                                            "volumePercent": "0.0202955988358458"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "fetch",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "FET",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2437156.1284237428389633",
                                            "priceUsd": "36755.2657145386357613",
                                            "volumePercent": "0.0201571031240426"
                                        },
                                        {
                                            "exchangeId": "Luno",
                                            "baseId": "bitcoin",
                                            "quoteId": "malaysian-ringgit",
                                            "baseSymbol": "BTC",
                                            "quoteSymbol": "MYR",
                                            "volumeUsd24Hr": "2425498.2448345453296715",
                                            "priceUsd": "36901.0260795211728165",
                                            "volumePercent": "0.0200385897864026"
                                        },
                                        {
                                            "exchangeId": "Binance",
                                            "baseId": "vechain",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "VET",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2415927.1307915334627020",
                                            "priceUsd": "36999.0514774459242501",
                                            "volumePercent": "0.0201140544112824"
                                        },
                                        {
                                            "exchangeId": "Huobi",
                                            "baseId": "ethereum",
                                            "quoteId": "bitcoin",
                                            "baseSymbol": "ETH",
                                            "quoteSymbol": "BTC",
                                            "volumeUsd24Hr": "2334447.6651595693096174",
                                            "priceUsd": "36649.7721671312231418",
                                            "volumePercent": "0.0192522113431354"
                                        }
                                    ],
                                    "timestamp": 1700650532326
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "side",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "sell": {
                                "value": "sell"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "717716189308.5746305733445426",
                                            "volumeUsd24Hr": "12106680613.8915294392476246",
                                            "priceUsd": "36717.3434712886586523",
                                            "changePercent24Hr": "-1.8000527908807358",
                                            "vwap24Hr": "36772.0260527687872262",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "243427242565.3464450203844802",
                                            "volumeUsd24Hr": "7691340512.2729551916336887",
                                            "priceUsd": "2024.2977984658686223",
                                            "changePercent24Hr": "0.4217599637419307",
                                            "vwap24Hr": "1979.5661842821884647",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87766887827.2416578656008372",
                                            "volumeUsd24Hr": "19913046251.2690836562074658",
                                            "priceUsd": "1.0008359088688832",
                                            "changePercent24Hr": "0.0074510630267936",
                                            "vwap24Hr": "1.0006284710165999",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "39295472149.3199011283133860",
                                            "volumeUsd24Hr": "1476906230.0120947367451980",
                                            "priceUsd": "235.5827440067732695",
                                            "changePercent24Hr": "-9.6845612784362967",
                                            "vwap24Hr": "243.9453414216025675",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "27090964525.3999496504715360",
                                            "volumeUsd24Hr": "654312918.1141716778883334",
                                            "priceUsd": "0.5966643343523349",
                                            "changePercent24Hr": "-2.9044522411513880",
                                            "vwap24Hr": "0.5961640788806639",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "6",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24480952058.4647719947893532",
                                            "volumeUsd24Hr": "1564847963.8022845466266917",
                                            "priceUsd": "1.0018037579782966",
                                            "changePercent24Hr": "0.1454044480682223",
                                            "vwap24Hr": "1.0002218018046110",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "7",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "23315737869.0732724382329242",
                                            "volumeUsd24Hr": "836317254.8191221407139711",
                                            "priceUsd": "55.1369992166156322",
                                            "changePercent24Hr": "-2.8885765736411384",
                                            "vwap24Hr": "54.1772409893033046",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13088979298.2354956615741154",
                                            "volumeUsd24Hr": "178922207.0440006482423098",
                                            "priceUsd": "0.3709856605132643",
                                            "changePercent24Hr": "-3.1664935781390362",
                                            "vwap24Hr": "0.3701974509538702",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10597961536.3736989518506145",
                                            "volumeUsd24Hr": "365306698.3126817615602062",
                                            "priceUsd": "0.0746877771614463",
                                            "changePercent24Hr": "-3.6010320110933687",
                                            "vwap24Hr": "0.0745715479359772",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "9026491968.6370327301440176",
                                            "volumeUsd24Hr": "190050420.3340233886414560",
                                            "priceUsd": "0.1018468063292312",
                                            "changePercent24Hr": "0.0009207033423051",
                                            "vwap24Hr": "0.0988577352959615",
                                            "explorer": "https://tronscan.org/#/"
                                        },
                                        {
                                            "id": "chainlink",
                                            "rank": "11",
                                            "symbol": "LINK",
                                            "name": "Chainlink",
                                            "supply": "556849970.4527867000000000",
                                            "maxSupply": "1000000000.0000000000000000",
                                            "marketCapUsd": "7904175150.3759470903185113",
                                            "volumeUsd24Hr": "534030256.9805281235345754",
                                            "priceUsd": "14.1944429734797186",
                                            "changePercent24Hr": "-0.8578539354699684",
                                            "vwap24Hr": "13.9470043705182238",
                                            "explorer": "https://etherscan.io/token/0x514910771af9ca656af840dff83e8264ecf986ca"
                                        },
                                        {
                                            "id": "avalanche",
                                            "rank": "12",
                                            "symbol": "AVAX",
                                            "name": "Avalanche",
                                            "supply": "355601305.3221084000000000",
                                            "maxSupply": "720000000.0000000000000000",
                                            "marketCapUsd": "7187566019.0783824634854065",
                                            "volumeUsd24Hr": "440323267.0867815339741483",
                                            "priceUsd": "20.2124286708334476",
                                            "changePercent24Hr": "-6.0352452321024975",
                                            "vwap24Hr": "20.6642534344618427",
                                            "explorer": "https://avascan.info/"
                                        },
                                        {
                                            "id": "polygon",
                                            "rank": "13",
                                            "symbol": "MATIC",
                                            "name": "Polygon",
                                            "supply": "9260252800.9023500000000000",
                                            "maxSupply": "10000000000.0000000000000000",
                                            "marketCapUsd": "7055556749.9573238704416767",
                                            "volumeUsd24Hr": "350503470.6083873316002868",
                                            "priceUsd": "0.7619183732510852",
                                            "changePercent24Hr": "-4.4511143554395267",
                                            "vwap24Hr": "0.7608761262066950",
                                            "explorer": "https://etherscan.io/token/0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0"
                                        },
                                        {
[...]
