{
    "openapi": "3.1.0",
    "info": {
        "title": "Datamuse API",
        "description": "**API Description** - The Datamuse API is a language tool that provides access to a wide range of linguistic data and word-related information.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Datamuse API Contact",
            "url": "https://www.datamuse.com/api",
            "email": "support@datamuse.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.datamuse.com",
            "description": "Production Server of the Datamuse API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.datamuse.com/api",
        "description": "Find more about the Datamuse API here:"
    },
    "paths": {
        "/words": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "ml",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "dog": {
                                "value": "dog"
                            },
                            "apple": {
                                "value": "apple"
                            }
                        }
                    },
                    {
                        "name": "rel_rhy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "snapple": {
                                "value": "snapple"
                            }
                        }
                    },
                    {
                        "name": "rel_nry",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "orange": {
                                "value": "orange"
                            }
                        }
                    },
                    {
                        "name": "sl",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "sp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "rel_jja",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "red": {
                                "value": "red"
                            }
                        }
                    },
                    {
                        "name": "rel_jjb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "juicy": {
                                "value": "juicy"
                            },
                            "delicious": {
                                "value": "delicious"
                            }
                        }
                    },
                    {
                        "name": "rel_ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "banana": {
                                "value": "banana"
                            },
                            "orange": {
                                "value": "orange"
                            }
                        }
                    },
                    {
                        "name": "rel_trg",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    },
                    {
                        "name": "rel_bga",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    },
                    {
                        "name": "rel_cns",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "seed": {
                                "value": "seed"
                            }
                        }
                    },
                    {
                        "name": "rel_spc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "pear": {
                                "value": "pear"
                            },
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    },
                    {
                        "name": "rel_gen",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "food": {
                                "value": "food"
                            },
                            "botany": {
                                "value": "botany"
                            }
                        }
                    },
                    {
                        "name": "rel_syn",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    },
                    {
                        "name": "rel_com",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "pear": {
                                "value": "pear"
                            }
                        }
                    },
                    {
                        "name": "rel_par",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_words"
                                },
                                "example": [
                                    {
                                        "word": "hi",
                                        "score": 51526,
                                        "tags": [
                                            "syn",
                                            "n",
                                            "adj",
                                            "results_type:primary_rel"
                                        ]
                                    },
                                    {
                                        "word": "how-do-you-do",
                                        "score": 51526,
                                        "tags": [
                                            "syn",
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "howdy",
                                        "score": 51526,
                                        "tags": [
                                            "syn",
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "hullo",
                                        "score": 51526,
                                        "tags": [
                                            "syn",
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "afternoon",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "adv"
                                        ]
                                    },
                                    {
                                        "word": "aha",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "ahoy",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "allo",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "all\u00f4",
                                        "score": 51525
                                    },
                                    {
                                        "word": "alo",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "aloo",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "amy",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "announcer",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "anybody",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "anyone",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "ave",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "bonjour",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "bonsoir",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "bow",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "breaker",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "bye",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "bye-bye",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "cheerio",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "cheers",
                                        "score": 51525,
                                        "tags": [
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "ciao",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "cooee",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "cracker",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "cuckoo",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "eleanor",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "elise",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "evening",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "good-bye",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "goodbye",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "goodnight",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "greeting",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "greetings",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "hagrid",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "hail",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "hal",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "hallo",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "hei",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "hey",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "hiya",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "hola",
                                        "score": 51525,
                                        "tags": [
                                            "N",
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "holla",
                                        "score": 51525,
                                        "tags": [
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "holler",
                                        "score": 51525,
                                        "tags": [
                                            "v",
                                            "n",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "kawasaki",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "laters",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "lookit",
                                        "score": 51525,
                                        "tags": [
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "lou",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "macy",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "mademoiselle",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "mnu",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "molly",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "mom",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "morning",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "mum",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "adj",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "night",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "operator",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "patty",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "pedicure",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "peek-a-boo",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "peekaboo",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "adj",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "pete",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "pie",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "please",
                                        "score": 51525,
                                        "tags": [
                                            "v",
                                            "adv"
                                        ]
                                    },
                                    {
                                        "word": "roy",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "adj",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "sakes",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "salut",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "salutation",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "salutations",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "salute",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "salvation",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "salve",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "shalom",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "somebody",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "someone",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "toodles",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "welcome",
                                        "score": 51525,
                                        "tags": [
                                            "adj",
                                            "v",
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "well",
                                        "score": 51525,
                                        "tags": [
                                            "adv",
                                            "adj",
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "whatcha",
                                        "score": 51525
                                    },
                                    {
                                        "word": "whoa",
                                        "score": 51525,
                                        "tags": [
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "wow",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "yeah",
                                        "score": 51525,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "yello",
                                        "score": 51525,
                                        "tags": [
                                            "N"
                                        ]
                                    },
                                    {
                                        "word": "yes",
                                        "score": 51525,
                                        "tags": [
                                            "n",
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "ello",
                                        "score": 51518,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "goodby",
                                        "score": 51516,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "heys",
                                        "score": 51514,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "heya",
                                        "score": 51513,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "adios",
                                        "score": 51511,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "hooray",
                                        "score": 51509,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "greet",
                                        "score": 51508,
                                        "tags": [
                                            "v"
                                        ]
                                    },
                                    {
                                        "word": "thankyou",
                                        "score": 51507,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "yoohoo",
                                        "score": 51505,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "dahlin",
                                        "score": 51504,
                                        "tags": [
                                            "n",
                                            "prop"
                                        ]
                                    },
                                    {
                                        "word": "ahhh",
                                        "score": 51503
                                    },
                                    {
                                        "word": "ohhh",
                                        "score": 51500
                                    },
                                    {
                                        "word": "thanks",
                                        "score": 51499,
                                        "tags": [
                                            "n"
                                        ]
                                    },
                                    {
                                        "word": "ummm",
                                        "score": 51498
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "code": 404,
                                    "message": "HTTP 404 Not Found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sug": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "ml",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "apple": {
                                "value": "apple"
                            },
                            "goodbye": {
                                "value": "goodbye"
                            }
                        }
                    },
                    {
                        "name": "s",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "": {
                                "value": ""
                            },
                            "h": {
                                "value": "h"
                            },
                            "he": {
                                "value": "he"
                            },
                            "hel": {
                                "value": "hel"
                            },
                            "hell": {
                                "value": "hell"
                            },
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "max",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "term",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "apple": {
                                "value": "apple"
                            },
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "rel_rhy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_nry",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "sl",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "rel_jja",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "big": {
                                "value": "big"
                            },
                            "world": {
                                "value": "world"
                            }
                        }
                    },
                    {
                        "name": "rel_jjb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "small": {
                                "value": "small"
                            },
                            "world": {
                                "value": "world"
                            }
                        }
                    },
                    {
                        "name": "rel_ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "good": {
                                "value": "good"
                            }
                        }
                    },
                    {
                        "name": "rel_spc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    },
                    {
                        "name": "rel_gen",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "animal": {
                                "value": "animal"
                            }
                        }
                    },
                    {
                        "name": "rel_com",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "car": {
                                "value": "car"
                            }
                        }
                    },
                    {
                        "name": "rel_par",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "cat": {
                                "value": "cat"
                            }
                        }
                    },
                    {
                        "name": "rel_bga",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "tree": {
                                "value": "tree"
                            }
                        }
                    },
                    {
                        "name": "rel_bgb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "house": {
                                "value": "house"
                            }
                        }
                    },
                    {
                        "name": "topics",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "science": {
                                "value": "science"
                            }
                        }
                    },
                    {
                        "name": "lc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "rc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "ipa",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "sp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "^b": {
                                "value": "^b"
                            }
                        }
                    },
                    {
                        "name": "md",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d": {
                                "value": "d"
                            }
                        }
                    },
                    {
                        "name": "qe",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "leftcontext",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "rightcontext",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "rd",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "qd",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "qf",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "rel_trg",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "book": {
                                "value": "book"
                            },
                            "computer": {
                                "value": "computer"
                            },
                            "movie": {
                                "value": "movie"
                            },
                            "food": {
                                "value": "food"
                            },
                            "song": {
                                "value": "song"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json;charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_sug"
                                },
                                "example": []
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "code": 404,
                                    "message": "HTTP 404 Not Found"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "ResponseSchema_words": {},
            "ResponseSchema_sug": {}
        }
    }
}