{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Online server URL of the 'Random User Generator' REST API."
        }
    ],
    "paths": {
        "/api": {
            "get": {
                "summary": "Retrieves data at the path /api.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "female"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "10"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "2"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[{\"gender\":\"female\",\"name\":{\"title\":\"Miss\",\"first\":\"L\u00e9onie\",\"last\":\"Fournier\"},\"location\":{\"street\":{\"number\":6263,\"name\":\"Rue Pierre-Delore\"},\"city\":\"Paris\",\"state\":\"Haute-Garonne\",\"country\":\"France\",\"postcode\":71254,\"coordinates\":{\"latitude\":\"-18.6116\",\"longitude\":\"43.5187\"},\"timezone\":{\"offset\":\"+5:30\",\"description\":\"Bombay, Calcutta, Madras, New Delhi\"}},\"email\":\"leonie.fournier@example.com\",\"login\":{\"uuid\":\"a51bafa6-a0d6-4acd-a533-768008aa6fbd\",\"username\":\"brownkoala470\",\"password\":\"catfish\",\"salt\":\"bYzPW2Ow\",\"md5\":\"4e27635eeaa972a0ec8e871ec6bdcf41\",\"sha1\":\"5c9382a96077213e5fcdea7a72d24d9d02e557f0\",\"sha256\":\"09293e6e15841a8a0c54ed29554ea6a4470a5f2d1c4b490366a3b4e501669ba5\"},\"dob\":{\"date\":\"1976-07-25T01:44:12.854Z\",\"age\":49},\"registered\":{\"date\":\"2002-06-07T03:30:21.548Z\",\"age\":23},\"phone\":\"03-66-39-68-77\",\"cell\":\"06-62-60-30-57\",\"id\":{\"name\":\"INSEE\",\"value\":\"2760619627535 82\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/3.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/3.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/3.jpg\"},\"nat\":\"FR\"}],\"info\":{\"seed\":\"739ae0051d84111b\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "": {
            "get": {
                "summary": "Retrieves data at the path .",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "<!DOCTYPE html><html lang=\"en\"><head><title>Random User Generator | Home</title><!-- META --><meta charset='utf-8'><meta name=\"description\" content=\"Random user generator is a FREE API for generating placeholder user information. Get profile photos, names, and more. It's like Lorem Ipsum, for people.\"><meta name=\"apple-mobile-web-app-capable\" content=\"yes\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, user-scalable=no\"><!-- CSS --><link rel=\"stylesheet\" type=\"text/css\" href=\"dist/style.css\"><!-- JS --><script src=\"dist/all.js\"></script></head><body class=\"\"><div id=\"navbar\" class=\"\"><div class=\"nav_toggle\"><div class=\"icon\"><div></div><div></div><div></div></div></div><ul><li><a href=\"index\">Home</a></li><li><a href=\"photos\">User Photos</a></li><li><a href=\"documentation\">Documentation</a></li><li><a href=\"changelog\">Change Log</a></li><li><a href=\"stats\">Stats &amp; Graphs</a></li><li><a href=\"donate\">Donate</a></li><li><a href=\"copyright\">Copyright Notice</a></li><li class=\"blank\"></li><li><a href=\"photoshop\">Photoshop Extension</a></li><!--<li><a href=\"sketch\">Sketch Extension</a></li>--></ul></div><header><h1>Random User Generator</h1><p>A free, <a id=\"openSource\" href=\"https://github.com/RandomAPI/Randomuser.me-Node\">open-source</a> API for generating random user data. Like Lorem Ipsum, but for people. </p><a href=\"https://twitter.com/randomapi\" class=\"twitter\"><img src=\"img/twitter.png\">Follow us @randomapi</a></header><div class=\"frame card_offset\"><div class=\"card\"><div class=\"details\"><div class=\"user_photo horizontal_center\" id=\"user_photo\"><a href=\"javascript:getNewUser();\" class=\"refresh\">New</a><img src=\"\"></div><p id=\"user_title\">Hi, My name is</p><p id=\"user_value\">...</p></div><ul class=\"values_list horizontal_center\" id=\"values_list\"><li data-title=\"Hi, My name is\"data-value=\"...\"data-label=\"name\"class=\"active\"></li><li data-title=\"My email address is\"data-value=\"...\"data-label=\"email\"data-caps=\"false\"></li><li data-title=\"My birthday is\"data-value=\"...\"data-label=\"birthday\"></li><li data-title=\"My address is\"data-value=\"...\"data-label=\"location\"></li><li data-title=\"My phone number is\"data-value=\"...\"data-label=\"phone\"></li><li data-title=\"My password is\"data-value=\"...\"data-label=\"pass\"data-caps=\"false\"></li></ul></div><section class=\"sponsor\"><h2>Sponsored</h2><h3>RandomAPI</h3><p>Want to create your own <b>customized</b> data generator for your application?<br>Check out our other service RandomAPI!</p><button id=\"learnmore\" class=\"button\" onClick=\"window.open('https://randomapi.com');\">Learn More</button></section><section class=\"advertisement\"><!-- ADS --><script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script><ins class=\"adsbygoogle\"style=\"display:inline-block;width:230px;height:200px\"data-ad-client=\"ca-pub-2036801804961954\"data-ad-slot=\"7646598623\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><ins class=\"adsbygoogle\"style=\"display:inline-block;width:230px;height:200px;margin:0 16px;\"data-ad-client=\"ca-pub-2036801804961954\"data-ad-slot=\"7646598623\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><ins class=\"adsbygoogle\"style=\"display:inline-block;width:230px;height:200px\"data-ad-client=\"ca-pub-2036801804961954\"data-ad-slot=\"7646598623\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></section><section><h2>How to use</h2><p>You can use AJAX to call the Random User Generator API and will receive a randomly generated user in return. If you are using jQuery, you can use the $.ajax() function in the code snippet below to get started.</p><pre>\n$.ajax({\n  url: '<span>https://randomuser.me/api/</span>',\n  dataType: '<span>json</span>',\n  success: function(<span>data</span>) {\n    console.log(<span>data</span>);\n  }\n});\n      </pre></section><section><h2>Results</h2><p>The application will provide you with a JSON, XML, CSV, or YAML object that you can parse and apply to your application.</p><p>You can specify the format you want the results in using the <a href=\"documentation#format\">format</a> parameter.</p><pre>\n{\n  \"results\": [\n    {\n      \"gender\": \"<span>female</span>\",\n      \"name\": {\n        \"title\": \"<span>Miss</span>\",\n        \"first\": \"<span>Jennie</span>\",\n        \"last\": \"<span>Nichols</span>\"\n      },\n      \"location\": {\n        \"street\": {\n          \"number\": <span>8929</span>,\n          \"name\": \"<span>Valwood Pkwy</span>\",\n        },\n        \"city\": \"<span>Billings</span>\",\n        \"state\": \"<span>Michigan</span>\",\n        \"country\": \"<span>United States</span>\",\n        \"postcode\": \"<span>63104</span>\",\n        \"coordinates\": {\n          \"latitude\": \"<span>-69.8246</span>\",\n          \"longitude\": \"<span>134.8719</span>\"\n        },\n        \"timezone\": {\n          \"offset\": \"<span>+9:30</span>\",\n          \"description\": \"<span>Adelaide, Darwin</span>\"\n        }\n      },\n      \"email\": \"<span><a href=\"/cdn-cgi/l/email-protection\" class=\"__cf_email__\" data-cfemail=\"c8a2ada6a6a1ade6a6a1aba0a7a4bb88adb0a9a5b8a4ade6aba7a5\">[email&#160;protected]</a></span>\",\n      \"login\": {\n        \"uuid\": \"<span>7a0eed16-9430-4d68-901f-c0d4c1c3bf00</span>\",\n        \"username\": \"<span>yellowpeacock117</span>\",\n        \"password\": \"<span>addison</span>\",\n        \"salt\": \"<span>sld1yGtd</span>\",\n        \"md5\": \"<span>ab54ac4c0be9480ae8fa5e9e2a5196a3</span>\",\n        \"sha1\": \"<span>edcf2ce613cbdea349133c52dc2f3b83168dc51b</span>\",\n        \"sha256\": \"<span>48df5229235ada28389b91e60a935e4f9b73eb4bdb855ef9258a1751f10bdc5d</span>\"\n      },\n      \"dob\": {\n        \"date\": \"<span>1992-03-08T15:13:16.688Z</span>\",\n        \"age\": <span>30</span>\n      },\n      \"registered\": {\n        \"date\": \"<span>2007-07-09T05:51:59.390Z</span>\",\n        \"age\": <span>14</span>\n      },\n      \"phone\": \"<span>(272) 790-0888</span>\",\n      \"cell\": \"<span>(489) 330-2385</span>\",\n      \"id\": {\n        \"name\": \"<span>SSN</span>\",\n        \"value\": \"<span>405-88-3636</span>\"\n      },\n      \"picture\": {\n        \"large\": \"<span>https://randomuser.me/api/portraits/men/75.jpg</span>\",\n        \"medium\": \"<span>https://randomuser.me/api/portraits/med/men/75.jpg</span>\",\n        \"thumbnail\": \"<span>https://randomuser.me/api/portraits/thumb/men/75.jpg</span>\"\n      },\n      \"nat\": \"<span>US</span>\"\n    }\n  ],\n  \"info\": {\n    \"seed\": \"<span>56d27f4a53bd5441</span>\",\n    \"results\": <span>1</span>,\n    \"page\": <span>1</span>,\n    \"version\": \"<span>1.4</span>\"\n  }\n}\n</pre></section><section><h2>Thank you for helping us help you help us all</h2><p>Found a bug or have an idea?<br>Contribute to randomuser.me's database on our <a href=\"https://github.com/RandomAPI/Randomuser.me-Node\">Github Repo</a>.</p><h2>Contact Us</h2><p>If you have any questions/feedback or would like to get in touch with us, tweet us <a href=\"https://twitter.com/randomapi\">@randomapi</a></p></section><section class=\"cheat\"><p>&uarr; &uarr; &darr; &darr; &larr; &rarr; &larr; &rarr; B A</p></section></div><footer><div class=\"frame\"><h1>Random User Generator</h1><div class=\"block\"><div class=\"builder\"><h3>Designed</h3><a href=\"https://twitter.com/arronhunt\"><img src=\"img/creator_arron.png\" width=\"80px\" alt=\"Designed by Arron Hunt\" title=\"Designed by Arron Hunt\" /></a></div><div class=\"builder\"><h3>Developed</h3><a href=\"https://twitter.com/solewolf1993\"><img src=\"img/creator_keith.png\" width=\"80px\" alt=\"Developed by Keith Armstrong\" title=\"Developed by Keith Armstrong\" /></a></div></div><div class=\"block\"><h3>Copyright Notice</h3><p>All randomly generated photos were hand picked from the authorized section of <a href=\"http://uifaces.com\">UI Faces</a>. Please visit <a href=\"https://web.archive.org/web/20160811185628/http://uifaces.com/faq\">UI Faces FAQ</a> for more information regarding how you can use these faces.<br><br><!-- Everyone says \"Made with \u2665 in blah\" and it annoys me for some unknown reason so...take thatMade with <span class=\"icon-heart-broken\" title=\"hatred\"></span> in North America.</p> --></div></div></footer><script data-cfasync=\"false\" src=\"/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js\"></script><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-42942064-1', 'randomuser.me');ga('send', 'pageview');</script></body></html>"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/gender": {
            "get": {
                "summary": "Retrieves data at the path /api/gender.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "cell"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiGender",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/postcode": {
            "get": {
                "summary": "Retrieves data at the path /api/postcode.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPostcode",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/location": {
            "get": {
                "summary": "Retrieves data at the path /api/location.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiLocation",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/{country-code}": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/{country-code}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "country-code",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'country-code'.",
                        "schema": {
                            "type": "string",
                            "example": "CA"
                        }
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNat{country-code}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "parameters": {}
    }
}