{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Brewery DB - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://api.openbrewerydb.org",
            "description": "Online server URL of the 'Open Brewery DB' REST API."
        }
    ],
    "paths": {
        "/{version}/breweries": {
            "get": {
                "summary": "Retrieves data at the path /{version}/breweries.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "by_city",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_city'.",
                        "schema": {
                            "type": "string",
                            "example": "San+Diego"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_country",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_country'.",
                        "schema": {
                            "type": "string",
                            "example": "United+States"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_dist",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_dist'.",
                        "schema": {
                            "type": "string",
                            "example": "38.1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_name",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_name'.",
                        "schema": {
                            "type": "string",
                            "example": "copper"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_postal",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_postal'.",
                        "schema": {
                            "type": "integer",
                            "example": "44107"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_state",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_state'.",
                        "schema": {
                            "type": "string",
                            "example": "Ohio"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_tag",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_tag'.",
                        "schema": {
                            "type": "string",
                            "example": "patio"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'per_page'.",
                        "schema": {
                            "type": "integer",
                            "example": "25"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sort'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "2"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}Breweries",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"id\":\"5128df48-79fc-4f0f-8b52-d06be54d0cec\",\"name\":\"(405) Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"1716 Topeka St\",\"address_2\":null,\"address_3\":null,\"city\":\"Norman\",\"state_province\":\"Oklahoma\",\"postal_code\":\"73069-8224\",\"country\":\"United States\",\"longitude\":-97.46818222,\"latitude\":35.25738891,\"phone\":\"4058160490\",\"website_url\":\"http:\\/\\/www.405brewing.com\",\"state\":\"Oklahoma\",\"street\":\"1716 Topeka St\"},{\"id\":\"9c5a66c8-cc13-416f-a5d9-0a769c87d318\",\"name\":\"(512) Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"407 Radam Ln Ste F200\",\"address_2\":null,\"address_3\":null,\"city\":\"Austin\",\"state_province\":\"Texas\",\"postal_code\":\"78745-1197\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"5129211545\",\"website_url\":\"http:\\/\\/www.512brewing.com\",\"state\":\"Texas\",\"street\":\"407 Radam Ln Ste F200\"},{\"id\":\"34e8c68b-6146-453f-a4b9-1f6cd99a5ada\",\"name\":\"1 of Us Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"8100 Washington Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Mount Pleasant\",\"state_province\":\"Wisconsin\",\"postal_code\":\"53406-3920\",\"country\":\"United States\",\"longitude\":-87.883363502094,\"latitude\":42.720108268996,\"phone\":\"2624847553\",\"website_url\":\"https:\\/\\/www.1ofusbrewing.com\",\"state\":\"Wisconsin\",\"street\":\"8100 Washington Ave\"},{\"id\":\"6d14b220-8926-4521-8d19-b98a2d6ec3db\",\"name\":\"10 Barrel Brewing Co\",\"brewery_type\":\"large\",\"address_1\":\"62970 18th St\",\"address_2\":null,\"address_3\":null,\"city\":\"Bend\",\"state_province\":\"Oregon\",\"postal_code\":\"97701-9847\",\"country\":\"United States\",\"longitude\":-121.281706,\"latitude\":44.08683531,\"phone\":\"5415851007\",\"website_url\":\"http:\\/\\/www.10barrel.com\",\"state\":\"Oregon\",\"street\":\"62970 18th St\"},{\"id\":\"e2e78bd8-80ff-4a61-a65c-3bfbd9d76ce2\",\"name\":\"10 Barrel Brewing Co\",\"brewery_type\":\"large\",\"address_1\":\"1135 NW Galveston Ave Ste B\",\"address_2\":null,\"address_3\":null,\"city\":\"Bend\",\"state_province\":\"Oregon\",\"postal_code\":\"97703-2465\",\"country\":\"United States\",\"longitude\":-121.3288021,\"latitude\":44.0575649,\"phone\":\"5415851007\",\"website_url\":null,\"state\":\"Oregon\",\"street\":\"1135 NW Galveston Ave Ste B\"},{\"id\":\"e432899b-7f58-455f-9c7b-9a6e2130a1e0\",\"name\":\"10 Barrel Brewing Co\",\"brewery_type\":\"large\",\"address_1\":\"1411 NW Flanders St\",\"address_2\":null,\"address_3\":null,\"city\":\"Portland\",\"state_province\":\"Oregon\",\"postal_code\":\"97209-2620\",\"country\":\"United States\",\"longitude\":-122.6855056,\"latitude\":45.5259786,\"phone\":\"5032241700\",\"website_url\":\"http:\\/\\/www.10barrel.com\",\"state\":\"Oregon\",\"street\":\"1411 NW Flanders St\"},{\"id\":\"ef970757-fe42-416f-931d-722451f1f59c\",\"name\":\"10 Barrel Brewing Co\",\"brewery_type\":\"large\",\"address_1\":\"1501 E St\",\"address_2\":null,\"address_3\":null,\"city\":\"San Diego\",\"state_province\":\"California\",\"postal_code\":\"92101-6618\",\"country\":\"United States\",\"longitude\":-117.129593,\"latitude\":32.714813,\"phone\":\"6195782311\",\"website_url\":\"http:\\/\\/10barrel.com\",\"state\":\"California\",\"street\":\"1501 E St\"},{\"id\":\"9f1852da-c312-42da-9a31-097bac81c4c0\",\"name\":\"10 Barrel Brewing Co - Bend Pub\",\"brewery_type\":\"large\",\"address_1\":\"62950 NE 18th St\",\"address_2\":null,\"address_3\":null,\"city\":\"Bend\",\"state_province\":\"Oregon\",\"postal_code\":\"97701\",\"country\":\"United States\",\"longitude\":-121.2809536,\"latitude\":44.0912109,\"phone\":\"5415851007\",\"website_url\":null,\"state\":\"Oregon\",\"street\":\"62950 NE 18th St\"},{\"id\":\"ea4f30c0-bce6-416b-8904-fab4055a7362\",\"name\":\"10 Barrel Brewing Co - Boise\",\"brewery_type\":\"large\",\"address_1\":\"826 W Bannock St\",\"address_2\":null,\"address_3\":null,\"city\":\"Boise\",\"state_province\":\"Idaho\",\"postal_code\":\"83702-5857\",\"country\":\"United States\",\"longitude\":-116.202929,\"latitude\":43.618516,\"phone\":\"2083445870\",\"website_url\":\"http:\\/\\/www.10barrel.com\",\"state\":\"Idaho\",\"street\":\"826 W Bannock St\"},{\"id\":\"1988eb86-f0a2-4674-ba04-02454efa0d31\",\"name\":\"10 Barrel Brewing Co - Denver\",\"brewery_type\":\"large\",\"address_1\":\"2620 Walnut St\",\"address_2\":null,\"address_3\":null,\"city\":\"Denver\",\"state_province\":\"Colorado\",\"postal_code\":\"80205-2231\",\"country\":\"United States\",\"longitude\":-104.9853655,\"latitude\":39.7592508,\"phone\":\"7205738992\",\"website_url\":null,\"state\":\"Colorado\",\"street\":\"2620 Walnut St\"},{\"id\":\"1ecc330f-6275-42a5-b14e-00adbed62752\",\"name\":\"10 Torr Distilling and Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"490 Mill St\",\"address_2\":null,\"address_3\":null,\"city\":\"Reno\",\"state_province\":\"Nevada\",\"postal_code\":\"89502\",\"country\":\"United States\",\"longitude\":-119.7732015,\"latitude\":39.5171702,\"phone\":\"7755307014\",\"website_url\":\"http:\\/\\/www.10torr.com\",\"state\":\"Nevada\",\"street\":\"490 Mill St\"},{\"id\":\"7531dbd8-afc9-4b5b-95bc-7ece7f2c0bf3\",\"name\":\"10-56 Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"400 Brown Cir\",\"address_2\":null,\"address_3\":null,\"city\":\"Knox\",\"state_province\":\"Indiana\",\"postal_code\":\"46534\",\"country\":\"United States\",\"longitude\":-86.627954,\"latitude\":41.289715,\"phone\":\"6308165790\",\"website_url\":null,\"state\":\"Indiana\",\"street\":\"400 Brown Cir\"},{\"id\":\"49eaa1ab-5cee-40cd-a0dc-da14ba2b7dac\",\"name\":\"1000 Hills Brewing Company\",\"brewery_type\":\"brewpub\",\"address_1\":\"168 Old Main Road\",\"address_2\":\"Botha's Hill\",\"address_3\":null,\"city\":\"Durban\",\"state_province\":\"KwaZulu-Natal\",\"postal_code\":\"3610\",\"country\":\"South Africa\",\"longitude\":30.7063,\"latitude\":-29.7711,\"phone\":\"+27 31 777 1566\",\"website_url\":\"https:\\/\\/1000hillsbrewingcompany.co.za\\/\",\"state\":\"KwaZulu-Natal\",\"street\":\"168 Old Main Road\"},{\"id\":\"5ae467af-66dc-4d7f-8839-44228f89b596\",\"name\":\"101 North Brewing Company\",\"brewery_type\":\"closed\",\"address_1\":\"1304 Scott St Ste D\",\"address_2\":null,\"address_3\":null,\"city\":\"Petaluma\",\"state_province\":\"California\",\"postal_code\":\"94954-7100\",\"country\":\"United States\",\"longitude\":-122.665055,\"latitude\":38.27029381,\"phone\":\"7077534934\",\"website_url\":\"http:\\/\\/www.101northbeer.com\",\"state\":\"California\",\"street\":\"1304 Scott St Ste D\"},{\"id\":\"4ffda196-dd59-44a5-9eeb-5f7fd4b58f5a\",\"name\":\"105 West Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"1043 Park St\",\"address_2\":null,\"address_3\":null,\"city\":\"Castle Rock\",\"state_province\":\"Colorado\",\"postal_code\":\"80109-1585\",\"country\":\"United States\",\"longitude\":-104.8667206,\"latitude\":39.38269495,\"phone\":\"3033257321\",\"website_url\":\"http:\\/\\/www.105westbrewing.com\",\"state\":\"Colorado\",\"street\":\"1043 Park St\"},{\"id\":\"42aa37d5-8384-4ffe-8c81-7c982eff0384\",\"name\":\"10K Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"2005 2nd Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Anoka\",\"state_province\":\"Minnesota\",\"postal_code\":\"55303-2243\",\"country\":\"United States\",\"longitude\":-93.38952559,\"latitude\":45.19812039,\"phone\":\"7633924753\",\"website_url\":\"http:\\/\\/10KBrew.com\",\"state\":\"Minnesota\",\"street\":\"2005 2nd Ave\"},{\"id\":\"232e8f62-9afc-45f5-b4bc-582c26b5c43b\",\"name\":\"10th District Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"491 Washington St\",\"address_2\":null,\"address_3\":null,\"city\":\"Abington\",\"state_province\":\"Massachusetts\",\"postal_code\":\"02351-2419\",\"country\":\"United States\",\"longitude\":-70.94594149,\"latitude\":42.10591754,\"phone\":\"7813071554\",\"website_url\":\"http:\\/\\/www.10thdistrictbrewing.com\",\"state\":\"Massachusetts\",\"street\":\"491 Washington St\"},{\"id\":\"08f78223-24f8-4b71-b381-ea19a5bd82df\",\"name\":\"11 Below Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"6820 Bourgeois Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Houston\",\"state_province\":\"Texas\",\"postal_code\":\"77066-3107\",\"country\":\"United States\",\"longitude\":-95.5186591,\"latitude\":29.9515464,\"phone\":\"2814442337\",\"website_url\":\"http:\\/\\/www.11belowbrewing.com\",\"state\":\"Texas\",\"street\":\"6820 Bourgeois Rd\"},{\"id\":\"58293321-14ae-49d7-9a7b-08436c9e63a6\",\"name\":\"1188 Brewing Co\",\"brewery_type\":\"brewpub\",\"address_1\":\"141 E Main St\",\"address_2\":null,\"address_3\":null,\"city\":\"John Day\",\"state_province\":\"Oregon\",\"postal_code\":\"97845-1210\",\"country\":\"United States\",\"longitude\":-118.9218754,\"latitude\":44.4146563,\"phone\":\"5415751188\",\"website_url\":\"http:\\/\\/www.1188brewing.com\",\"state\":\"Oregon\",\"street\":\"141 E Main St\"},{\"id\":\"e5f3e72a-fee2-4813-82cf-f2e53b439ae6\",\"name\":\"12 Acres Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"Unnamed Street\",\"address_2\":\"Clonmore\",\"address_3\":null,\"city\":\"Killeshin\",\"state_province\":\"Laois\",\"postal_code\":\"R93 X3X8\",\"country\":\"Ireland\",\"longitude\":-6.979343891,\"latitude\":52.84930763,\"phone\":\"353599107299\",\"website_url\":\"https:\\/\\/12acresbrewing.ie\\/\",\"state\":\"Laois\",\"street\":\"Unnamed Street\"},{\"id\":\"d81ff708-b5d2-478f-af6a-6d40f5beb9ac\",\"name\":\"12 Gates Brewing Company\",\"brewery_type\":\"brewpub\",\"address_1\":\"80 Earhart Dr Ste 20\",\"address_2\":null,\"address_3\":null,\"city\":\"Williamsville\",\"state_province\":\"New York\",\"postal_code\":\"14221-7804\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"7169066600\",\"website_url\":\"http:\\/\\/www.12gatesbrewing.com\",\"state\":\"New York\",\"street\":\"80 Earhart Dr Ste 20\"},{\"id\":\"fb94830f-6196-4f59-9189-c9060b778085\",\"name\":\"12 West Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"3000 E Ray Rd Bldg 6\",\"address_2\":null,\"address_3\":null,\"city\":\"Gilbert\",\"state_province\":\"Arizona\",\"postal_code\":\"85296-7832\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"6023395014\",\"website_url\":\"http:\\/\\/www.12westbrewing.com\",\"state\":\"Arizona\",\"street\":\"3000 E Ray Rd Bldg 6\"},{\"id\":\"0faa0fb2-fffa-416d-9eab-46f67477c8ef\",\"name\":\"12 West Brewing Company - Production Facility\",\"brewery_type\":\"micro\",\"address_1\":null,\"address_2\":null,\"address_3\":null,\"city\":\"Mesa\",\"state_province\":\"Arizona\",\"postal_code\":\"85207\",\"country\":\"United States\",\"longitude\":-111.5860662,\"latitude\":33.436188,\"phone\":null,\"website_url\":null,\"state\":\"Arizona\",\"street\":null},{\"id\":\"e54c2f02-acd6-4172-861d-fcfa54c8701a\",\"name\":\"122 West Brewing Co\",\"brewery_type\":\"closed\",\"address_1\":\"2416 Meridian St\",\"address_2\":null,\"address_3\":null,\"city\":\"Bellingham\",\"state_province\":\"Washington\",\"postal_code\":\"98225-2405\",\"country\":\"United States\",\"longitude\":-122.485982,\"latitude\":48.7621709,\"phone\":\"3603063285\",\"website_url\":\"https:\\/\\/www.122westbrew.com\\/\",\"state\":\"Washington\",\"street\":\"2416 Meridian St\"},{\"id\":\"d5cb896d-3e99-4e19-9693-5e06ce987e53\",\"name\":\"127 Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"3090 Shirley Dr\",\"address_2\":null,\"address_3\":null,\"city\":\"Jackson\",\"state_province\":\"Michigan\",\"postal_code\":\"49201-7010\",\"country\":\"United States\",\"longitude\":-84.43116792,\"latitude\":42.28667212,\"phone\":\"5172581346\",\"website_url\":null,\"state\":\"Michigan\",\"street\":\"3090 Shirley Dr\"},{\"id\":\"06e9fffb-e820-45c9-b107-b52b51013e8f\",\"name\":\"12Degree Brewing\",\"brewery_type\":\"brewpub\",\"address_1\":\"820 Main St\",\"address_2\":null,\"address_3\":null,\"city\":\"Louisville\",\"state_province\":\"Colorado\",\"postal_code\":\"80027-1865\",\"country\":\"United States\",\"longitude\":-105.1319826,\"latitude\":39.9782443,\"phone\":\"3035791004\",\"website_url\":\"http:\\/\\/www.12degree.com\",\"state\":\"Colorado\",\"street\":\"820 Main St\"},{\"id\":\"50521ef7-f543-4c5d-98b1-0d0ee1a2be01\",\"name\":\"12welve Eyes Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"141 E 4th St Ste LL2\",\"address_2\":null,\"address_3\":null,\"city\":\"Saint Paul\",\"state_province\":\"Minnesota\",\"postal_code\":\"55101-1639\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"6514938106\",\"website_url\":\"http:\\/\\/www.12welveEyes.com\",\"state\":\"Minnesota\",\"street\":\"141 E 4th St Ste LL2\"},{\"id\":\"950180bd-29c9-46b3-ad0c-e6f09799ec7f\",\"name\":\"13 Below Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"7391 Forbes Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Cincinnati\",\"state_province\":\"Ohio\",\"postal_code\":\"45233-1013\",\"country\":\"United States\",\"longitude\":-84.70634815,\"latitude\":39.12639764,\"phone\":\"5139750613\",\"website_url\":\"http:\\/\\/www.13belowbrewery.com\",\"state\":\"Ohio\",\"street\":\"7391 Forbes Rd\"},{\"id\":\"45119c56-345b-4adc-b481-c5cf7bfe98c4\",\"name\":\"13 Stripes Brewery\",\"brewery_type\":\"brewpub\",\"address_1\":\"250 Mill St, Suite PW3101\",\"address_2\":null,\"address_3\":null,\"city\":\"Taylors\",\"state_province\":\"South Carolina\",\"postal_code\":\"29687\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"8643491430\",\"website_url\":\"http:\\/\\/www.13StripesBrewery.com\",\"state\":\"South Carolina\",\"street\":\"250 Mill St, Suite PW3101\"},{\"id\":\"936c3d7e-5d54-4459-b72c-117cdda059b4\",\"name\":\"13 Virtues Brewing Co\",\"brewery_type\":\"brewpub\",\"address_1\":\"6410 SE Milwaukie Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Portland\",\"state_province\":\"Oregon\",\"postal_code\":\"97202-5518\",\"country\":\"United States\",\"longitude\":-122.6487531,\"latitude\":45.4762536,\"phone\":\"5032393831\",\"website_url\":\"http:\\/\\/www.13virtuesbrewing.com\",\"state\":\"Oregon\",\"street\":\"6410 SE Milwaukie Ave\"},{\"id\":\"5c53b314-ebab-4e3e-89be-e4139d9318ae\",\"name\":\"1323 R & D\",\"brewery_type\":\"micro\",\"address_1\":\"1323 Capital Blvd 1323 R and D\",\"address_2\":null,\"address_3\":null,\"city\":\"Raleigh\",\"state_province\":\"North Carolina\",\"postal_code\":\"27603-1117\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"9199775654\",\"website_url\":\"http:\\/\\/www.1323rnd.com\",\"state\":\"North Carolina\",\"street\":\"1323 Capital Blvd 1323 R and D\"},{\"id\":\"4788221a-a03b-458c-9084-4cadd69ade6d\",\"name\":\"14 Cannons Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"31125 Via Colinas Ste 907\",\"address_2\":null,\"address_3\":null,\"city\":\"Westlake Village\",\"state_province\":\"California\",\"postal_code\":\"91362-3974\",\"country\":\"United States\",\"longitude\":-118.802397,\"latitude\":34.15334,\"phone\":\"8186996165\",\"website_url\":\"http:\\/\\/14cannons.com\",\"state\":\"California\",\"street\":\"31125 Via Colinas Ste 907\"},{\"id\":\"b7b68d22-5045-4501-b9bf-ec94946eaffc\",\"name\":\"14 Lakes Brewery\",\"brewery_type\":\"micro\",\"address_1\":null,\"address_2\":null,\"address_3\":null,\"city\":\"Crosslake\",\"state_province\":\"Minnesota\",\"postal_code\":\"56442\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"2186924129\",\"website_url\":null,\"state\":\"Minnesota\",\"street\":null},{\"id\":\"4b677b60-fef1-42e2-90ef-dadc1bd7fb06\",\"name\":\"14er Brewing Company\",\"brewery_type\":\"proprietor\",\"address_1\":\"2801 Walnut St\",\"address_2\":null,\"address_3\":null,\"city\":\"Denver\",\"state_province\":\"Colorado\",\"postal_code\":\"80205-2235\",\"country\":\"United States\",\"longitude\":-104.9839636,\"latitude\":39.7614112,\"phone\":\"7207731437\",\"website_url\":\"http:\\/\\/www.14erBrewing.com\",\"state\":\"Colorado\",\"street\":\"2801 Walnut St\"},{\"id\":\"6c53984f-fac1-4ea7-9c44-44e25897c71a\",\"name\":\"14th Star Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"133 N Main St Ste 7\",\"address_2\":null,\"address_3\":null,\"city\":\"Saint Albans\",\"state_province\":\"Vermont\",\"postal_code\":\"05478-1735\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"8025285988\",\"website_url\":\"http:\\/\\/www.14thstarbrewing.com\",\"state\":\"Vermont\",\"street\":\"133 N Main St Ste 7\"},{\"id\":\"85192a9c-58a4-48c3-bd9d-496d09d22aa3\",\"name\":\"16 Lots Brewing\",\"brewery_type\":\"brewpub\",\"address_1\":\"753 Reading Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Mason\",\"state_province\":\"Ohio\",\"postal_code\":\"45040-1303\",\"country\":\"United States\",\"longitude\":-84.3183801,\"latitude\":39.3545967,\"phone\":\"5134863672\",\"website_url\":\"http:\\/\\/www.16lots.com\",\"state\":\"Ohio\",\"street\":\"753 Reading Rd\"},{\"id\":\"284b44f8-6ccb-4cd6-8d06-f2ad882a47c3\",\"name\":\"16 Mile Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"413 S Bedford St\",\"address_2\":null,\"address_3\":null,\"city\":\"Georgetown\",\"state_province\":\"Delaware\",\"postal_code\":\"19947-1849\",\"country\":\"United States\",\"longitude\":-75.37816436,\"latitude\":38.6788938,\"phone\":\"3022538816\",\"website_url\":\"http:\\/\\/www.16milebrewery.com\",\"state\":\"Delaware\",\"street\":\"413 S Bedford St\"},{\"id\":\"ee6d39c6-092f-4623-8099-5b8643f70dbe\",\"name\":\"16 Stone Brewpub\",\"brewery_type\":\"brewpub\",\"address_1\":\"9542 Main St\",\"address_2\":null,\"address_3\":null,\"city\":\"Holland Patent\",\"state_province\":\"New York\",\"postal_code\":\"13354\",\"country\":\"United States\",\"longitude\":-75.2565195,\"latitude\":43.24211175,\"phone\":\"3158658500\",\"website_url\":\"http:\\/\\/www.16stonebrewpub.com\",\"state\":\"New York\",\"street\":\"9542 Main St\"},{\"id\":\"d35b40b0-a3ff-4878-a6ee-9caa2149b521\",\"name\":\"1623 Brewing Company\",\"brewery_type\":\"brewpub\",\"address_1\":\"5975 Exchange Dr Suite H-L\",\"address_2\":null,\"address_3\":null,\"city\":\"Eldersburg\",\"state_province\":\"Maryland\",\"postal_code\":\"21784\",\"country\":\"United States\",\"longitude\":-76.9773575,\"latitude\":39.4164017,\"phone\":\"4432181410\",\"website_url\":\"https:\\/\\/1623brewing.com\",\"state\":\"Maryland\",\"street\":\"5975 Exchange Dr Suite H-L\"},{\"id\":\"84bd3b3c-bd2d-4e07-bc31-b43a8c8ebf4c\",\"name\":\"1717 Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"322 E Court Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Des Moines\",\"state_province\":\"Iowa\",\"postal_code\":\"50309-2015\",\"country\":\"United States\",\"longitude\":-93.6120353,\"latitude\":41.5872267,\"phone\":\"5152437868\",\"website_url\":\"http:\\/\\/1717brewing.com\",\"state\":\"Iowa\",\"street\":\"322 E Court Ave\"},{\"id\":\"f41a0c47-ba9b-4547-bfed-fcbefe0fc74b\",\"name\":\"1718 Ocracoke Brewing\",\"brewery_type\":\"brewpub\",\"address_1\":\"1129 Irvin Garrish Hwy\",\"address_2\":null,\"address_3\":null,\"city\":\"Ocracoke\",\"state_province\":\"North Carolina\",\"postal_code\":\"27960\",\"country\":\"United States\",\"longitude\":-75.97176063,\"latitude\":35.10715368,\"phone\":\"2529282337\",\"website_url\":\"http:\\/\\/www.ocracokebrewing.com\",\"state\":\"North Carolina\",\"street\":\"1129 Irvin Garrish Hwy\"},{\"id\":\"84d621c4-81a5-44e6-aca7-1566c2e67cc0\",\"name\":\"1781 Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"11109 Plank Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Spotsylvania\",\"state_province\":\"Virginia\",\"postal_code\":\"22553-4258\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"5408412598\",\"website_url\":null,\"state\":\"Virginia\",\"street\":\"11109 Plank Rd\"},{\"id\":\"896f26a1-d80e-4790-9287-026a86c1799d\",\"name\":\"180 and Tapped\",\"brewery_type\":\"micro\",\"address_1\":\"2010 A State Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Coraopolis\",\"state_province\":\"Pennsylvania\",\"postal_code\":\"15108\",\"country\":\"United States\",\"longitude\":-80.15020356,\"latitude\":40.50984957,\"phone\":\"4127375273\",\"website_url\":\"http:\\/\\/www.180andtapped.com\",\"state\":\"Pennsylvania\",\"street\":\"2010 A State Ave\"},{\"id\":\"31935dfe-87ab-4b3c-b845-1347e78f3d98\",\"name\":\"1812 Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"13006 Mason Road NE\",\"address_2\":null,\"address_3\":null,\"city\":\"Cumberland\",\"state_province\":\"Maryland\",\"postal_code\":\"21502\",\"country\":\"United States\",\"longitude\":-78.7008528,\"latitude\":39.7021475,\"phone\":\"3013382490\",\"website_url\":\"http:\\/\\/1812brewery.com\\/\",\"state\":\"Maryland\",\"street\":\"13006 Mason Road NE\"},{\"id\":\"46839a79-b7bf-4733-b91b-ce116d062a57\",\"name\":\"1817 Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"100 B South Olive St\",\"address_2\":null,\"address_3\":null,\"city\":\"okolona\",\"state_province\":\"Mississippi\",\"postal_code\":\"38860\",\"country\":\"United States\",\"longitude\":-88.750264,\"latitude\":34.001703,\"phone\":\"6623055907\",\"website_url\":null,\"state\":\"Mississippi\",\"street\":\"100 B South Olive St\"},{\"id\":\"1a1b2165-73ed-40aa-b89b-56794d140f22\",\"name\":\"1840 Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"342 E Ward St\",\"address_2\":null,\"address_3\":null,\"city\":\"Milwaukee\",\"state_province\":\"Wisconsin\",\"postal_code\":\"53207-1348\",\"country\":\"United States\",\"longitude\":-87.90606942,\"latitude\":43.00436242,\"phone\":\"4142364056\",\"website_url\":\"http:\\/\\/www.1840brewing.com\",\"state\":\"Wisconsin\",\"street\":\"342 E Ward St\"},{\"id\":\"fe6b9893-b93e-43d5-a9f6-3e0c89a3f13c\",\"name\":\"1850 Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":null,\"address_2\":null,\"address_3\":null,\"city\":\"Mariposa\",\"state_province\":\"California\",\"postal_code\":\"95338\",\"country\":\"United States\",\"longitude\":-119.9036592,\"latitude\":37.570148,\"phone\":null,\"website_url\":\"http:\\/\\/www.1850restaurant.com\",\"state\":\"California\",\"street\":null},{\"id\":\"b51f3cdf-60ff-4ae1-94a7-76906c7d62eb\",\"name\":\"18th Street Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"5725 Miller Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Gary\",\"state_province\":\"Indiana\",\"postal_code\":\"46403-2871\",\"country\":\"United States\",\"longitude\":-87.26887786,\"latitude\":41.59928343,\"phone\":null,\"website_url\":\"http:\\/\\/www.18thstreetbrewery.com\",\"state\":\"Indiana\",\"street\":\"5725 Miller Ave\"},{\"id\":\"add7f978-942e-4d56-b209-c80837a51d69\",\"name\":\"18th Street Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"5417 Oakley Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Hammond\",\"state_province\":\"Indiana\",\"postal_code\":\"46320-1817\",\"country\":\"United States\",\"longitude\":-87.517422,\"latitude\":41.61556796,\"phone\":null,\"website_url\":null,\"state\":\"Indiana\",\"street\":\"5417 Oakley Ave\"},{\"id\":\"dbde8235-2b55-4d8b-8b1c-438155abe104\",\"name\":\"1905 Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"1301 S Chestnut St\",\"address_2\":null,\"address_3\":null,\"city\":\"Assumption\",\"state_province\":\"Illinois\",\"postal_code\":\"62510-8504\",\"country\":\"United States\",\"longitude\":-89.0503635,\"latitude\":39.5172564,\"phone\":\"2172549374\",\"website_url\":\"http:\\/\\/1905BrewingCompany.com\",\"state\":\"Illinois\",\"street\":\"1301 S Chestnut St\"}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/breweries/meta": {
            "get": {
                "summary": "Retrieves data at the path /{version}/breweries/meta.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "by_city",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_city'.",
                        "schema": {
                            "type": "string",
                            "example": "San_Diego"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_dist",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_dist'.",
                        "schema": {
                            "type": "string",
                            "example": "38.9072"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_name",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_name'.",
                        "schema": {
                            "type": "string",
                            "example": "cooper"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_state",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_state'.",
                        "schema": {
                            "type": "string",
                            "example": "California"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_postal",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_postal'.",
                        "schema": {
                            "type": "integer",
                            "example": "44107"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_type",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_type'.",
                        "schema": {
                            "type": "string",
                            "example": "micro"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'per_page'.",
                        "schema": {
                            "type": "integer",
                            "example": "20"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sort'.",
                        "schema": {
                            "type": "string",
                            "example": "name:asc"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}BreweriesMeta",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"total\":9560,\"by_state\":{\"ACT\":7,\"Alabama\":52,\"Alaska\":60,\"Argyll\":4,\"Arizona\":125,\"Arkansas\":45,\"Aveiro\":2,\"Beja\":1,\"Berlin\":10,\"Blekinge\":6,\"Bolzano\":4,\"Bouche du Rh\\u00f4ne\":3,\"British Columbia\":119,\"Busan\":9,\"Bute\":1,\"California\":919,\"Carlow\":1,\"Central Finland\":2,\"Central Ostrobothnia\":1,\"Chungcheongbukdo\":1,\"Chungcheongnamdo\":3,\"Clare\":1,\"Coimbra\":1,\"Colorado\":449,\"Connecticut\":94,\"Cork\":11,\"Daejeon\":1,\"Deagu\":1,\"Delaware\":28,\"District of Columbia\":22,\"Dnipropetrovsk Oblast\":1,\"Donegal\":4,\"Drenthe\":1,\"Dublin\":16,\"East Dunbartonshire\":1,\"East Sussex\":31,\"Eastern Cape\":9,\"Faro\":1,\"Flevoland\":1,\"Florida\":312,\"Free State\":3,\"Friesland\":1,\"Galway\":3,\"Gangwondo\":7,\"Gauteng\":17,\"Gelderland\":6,\"Georgia\":100,\"Groningen\":2,\"Gwangju\":1,\"Gyeonggido\":9,\"Gyeongsangbukdo\":3,\"Gyeongsangnamdo\":3,\"Halland\":4,\"Hawaii\":34,\"Idaho\":67,\"Illinois\":257,\"Incheon\":2,\"Indiana\":162,\"Iowa\":91,\"Jejudo\":3,\"Jeollabukdo\":3,\"Jeollanamdo\":1,\"Kainuu\":1,\"Kansas\":47,\"Kanta-H\\u00e4me\":4,\"Kentucky\":58,\"Kerry\":3,\"Kildare\":3,\"Kilkenny\":3,\"KwaZulu-Natal\":17,\"Kymenlaakso\":2,\"K\\ufffdrnten\":3,\"Laois\":2,\"Lapland\":2,\"Leiria\":1,\"Limburg\":7,\"Limerick\":2,\"Limpopo\":1,\"Lisboa\":5,\"Longford\":1,\"Louisiana\":44,\"Louth\":1,\"MIssouri\":1,\"Maine\":114,\"Maryland\":158,\"Massachusetts\":165,\"Mayo\":2,\"Meath\":1,\"Michigan\":375,\"Middle\":2,\"Minnesota\":183,\"Mississippi\":17,\"Missouri\":141,\"Monaghan\":1,\"Montana\":92,\"Mpumalanga\":3,\"NSW\":144,\"NT\":3,\"Nebraska\":62,\"Nevada\":51,\"New Hampshire\":113,\"New Jersey\":115,\"New Mexico\":83,\"New York\":419,\"Nieder\\ufffdsterreich\":2,\"Noord-Brabant\":20,\"Noord-Holland\":18,\"North Carolina\":311,\"North Dakota\":26,\"North Savo\":2,\"North West\":3,\"Northern Ostrobothnia\":3,\"Ober\\u00f6sterreich\":2,\"Offaly\":2,\"Ohio\":303,\"Oklahoma\":44,\"Ontario\":164,\"Oregon\":295,\"Osaka\":10,\"Ostrobothnia\":2,\"Overijssel\":4,\"Pennsylvania\":345,\"Pirkanmaa\":6,\"Portalegre\":1,\"Porto\":2,\"P\\u00e4ij\\u00e4t-H\\u00e4me\":5,\"QLD\":81,\"Rhode Island\":31,\"Roscommon\":1,\"SA\":47,\"Salzburg\":1,\"Satakunta\":2,\"Seoul\":14,\"Singapore\":33,\"Sligo\":2,\"South Carolina\":79,\"South Dakota\":45,\"South Karelia\":1,\"South Ostrobothnia\":4,\"South Savo\":3,\"Steiermark\":7,\"TAS\":26,\"Tennessee\":116,\"Texas\":352,\"Tipperary\":2,\"Utah\":45,\"Utrecht\":5,\"Uusimaa\":19,\"VIC\":160,\"Varsinais-Suomi\":8,\"Vermont\":59,\"Virginia\":255,\"WA\":46,\"Washington\":498,\"Waterford\":2,\"West Dunbartonshire\":4,\"West Sussex\":31,\"West Virginia\":40,\"Western Cape\":51,\"Westmeath\":1,\"Wexford\":2,\"Wicklow\":3,\"Wisconsin\":225,\"Wyoming\":52,\"Zeeland\":2,\"Zuid-Holland\":9,\"dolno\\u015bl\\u0105skie\":34,\"\\u00c5land\":1},\"by_country\":{\"Australia\":514,\"Austria\":15,\"Canada\":283,\"England\":62,\"Finland\":68,\"France\":3,\"Germany\":10,\"Ireland\":70,\"Isle of Man\":2,\"Italy\":4,\"Japan\":10,\"Netherlands\":76,\"Poland\":34,\"Portugal\":14,\"Scotland\":10,\"Singapore\":33,\"South Africa\":104,\"South Korea\":61,\"Sweden\":10,\"Ukraine\":1,\"United States\":8176},\"by_type\":{\"bar\":37,\"beergarden\":3,\"brewpub\":2664,\"cidery\":7,\"closed\":372,\"contract\":184,\"large\":119,\"location\":1,\"micro\":5155,\"nano\":22,\"planning\":643,\"proprietor\":68,\"regional\":240,\"taproom\":45},\"page\":1,\"per_page\":50}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/breweries/random": {
            "get": {
                "summary": "Retrieves data at the path /{version}/breweries/random.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'size'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}BreweriesRandom",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"id\":\"44684d87-a612-43d1-9eda-afd9357f3af1\",\"name\":\"Donegal Brewing Company\",\"brewery_type\":\"regional\",\"address_1\":\"Unit 1 Erneside Business Park\",\"address_2\":\"Portnason\",\"address_3\":null,\"city\":\"Ballyshannon\",\"state_province\":\"Donegal\",\"postal_code\":\"F94 Y2NE\",\"country\":\"Ireland\",\"longitude\":-8.2142367,\"latitude\":54.4977199,\"phone\":\"353719852434\",\"website_url\":\"https:\\/\\/mcmbrands.ie\\/beer\\/\",\"state\":\"Donegal\",\"street\":\"Unit 1 Erneside Business Park\"}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/breweries/search": {
            "get": {
                "summary": "Retrieves data at the path /{version}/breweries/search.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "by_city",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_city'.",
                        "schema": {
                            "type": "string",
                            "example": "San_Diego"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_dist",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_dist'.",
                        "schema": {
                            "type": "string",
                            "example": "38.9072"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_name",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_name'.",
                        "schema": {
                            "type": "string",
                            "example": "cooper"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_state",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_state'.",
                        "schema": {
                            "type": "string",
                            "example": "Colorado"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_postal",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_postal'.",
                        "schema": {
                            "type": "integer",
                            "example": "44107"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_type",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_type'.",
                        "schema": {
                            "type": "string",
                            "example": "micro"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'per_page'.",
                        "schema": {
                            "type": "integer",
                            "example": "20"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "2"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sort'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}BreweriesSearch",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"message\":\"Welcome to the Breweries API, see the documentation at https:\\/\\/www.openbrewerydb.org\\/documentation\"}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/breweries/{uuid}": {
            "get": {
                "summary": "Retrieves data at the path /{version}/breweries/{uuid}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'uuid'.",
                        "schema": {
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    },
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'uuid'.",
                        "schema": {
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    },
                    {
                        "name": "by_city",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_city'.",
                        "schema": {
                            "type": "string",
                            "example": "San_Diego"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_dist",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_dist'.",
                        "schema": {
                            "type": "string",
                            "example": "38.9072"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_name",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_name'.",
                        "schema": {
                            "type": "string",
                            "example": "Coors"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_state",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_state'.",
                        "schema": {
                            "type": "string",
                            "example": "Colorado"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_postal",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_postal'.",
                        "schema": {
                            "type": "integer",
                            "example": "80201"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "by_type",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'by_type'.",
                        "schema": {
                            "type": "string",
                            "example": "micro"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'per_page'.",
                        "schema": {
                            "type": "integer",
                            "example": "20"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sort'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}Breweries{uuid}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"id\":\"5128df48-79fc-4f0f-8b52-d06be54d0cec\",\"name\":\"(405) Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"1716 Topeka St\",\"address_2\":null,\"address_3\":null,\"city\":\"Norman\",\"state_province\":\"Oklahoma\",\"postal_code\":\"73069-8224\",\"country\":\"United States\",\"longitude\":-97.46818222,\"latitude\":35.25738891,\"phone\":\"4058160490\",\"website_url\":\"http:\\/\\/www.405brewing.com\",\"state\":\"Oklahoma\",\"street\":\"1716 Topeka St\"}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/{version}/breweries/autocomplete": {
            "get": {
                "summary": "Retrieves data at the path /{version}/breweries/autocomplete.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'query'.",
                        "schema": {
                            "type": "string",
                            "example": "dog"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get{version}BreweriesAutocomplete",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"id\":\"78c50e54-34e3-415d-9574-ac0cc0505113\",\"name\":\"Dog & Pony Alehouse and Grill\",\"brewery_type\":\"closed\",\"address_1\":\"351 Park Ave N\",\"address_2\":null,\"address_3\":null,\"city\":\"Renton\",\"state_province\":\"Washington\",\"postal_code\":\"98057-5716\",\"country\":\"United States\",\"longitude\":-122.2023129,\"latitude\":47.48758261,\"phone\":\"4252548080\",\"website_url\":\"http:\\/\\/www.thedogandpony.com\",\"state\":\"Washington\",\"street\":\"351 Park Ave N\"},{\"id\":\"b29882fe-e037-4e4a-a164-eb76723893ac\",\"name\":\"Dog and Pony Brewing Company\",\"brewery_type\":\"taproom\",\"address_1\":\"5427 Binder Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Cashmere\",\"state_province\":\"Washington\",\"postal_code\":\"98815-9690\",\"country\":\"United States\",\"longitude\":-120.47773889783,\"latitude\":47.508453646467,\"phone\":\"5092640800\",\"website_url\":\"https:\\/\\/www.facebook.com\\/DogAndPonybrewing\",\"state\":\"Washington\",\"street\":\"5427 Binder Rd\"},{\"id\":\"c27f55b4-f410-4389-ae35-a5a9bada3578\",\"name\":\"Dog Days Brewing\",\"brewery_type\":\"brewpub\",\"address_1\":\"260 4th St\",\"address_2\":null,\"address_3\":null,\"city\":\"Bremerton\",\"state_province\":\"Washington\",\"postal_code\":\"98337-1813\",\"country\":\"United States\",\"longitude\":-122.6259002,\"latitude\":47.5658843,\"phone\":\"3606279925\",\"website_url\":\"https:\\/\\/www.dogdaysbrewing.com\",\"state\":\"Washington\",\"street\":\"260 4th St\"},{\"id\":\"e4054c02-8992-4c0c-8954-89f0d6ebaead\",\"name\":\"Dog Tag Brewing\",\"brewery_type\":\"contract\",\"address_1\":\"2042 Stadium Dr Ste 2\",\"address_2\":null,\"address_3\":null,\"city\":\"Bozeman\",\"state_province\":\"Montana\",\"postal_code\":\"59715-0710\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":null,\"website_url\":\"http:\\/\\/www.dogtagbrewing.org\",\"state\":\"Montana\",\"street\":\"2042 Stadium Dr Ste 2\"},{\"id\":\"e7663a51-2d14-4e31-b52b-a3cd846fd19a\",\"name\":\"Dog Money Restaurant\",\"brewery_type\":\"brewpub\",\"address_1\":\"50 Catoctin Cir NE STE 100\",\"address_2\":null,\"address_3\":null,\"city\":\"Leesburg\",\"state_province\":\"Virginia\",\"postal_code\":\"20176-3102\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"7035775452\",\"website_url\":\"http:\\/\\/dogmoneyllc.com\",\"state\":\"Virginia\",\"street\":\"50 Catoctin Cir NE STE 100\"},{\"id\":\"fe4c36a3-d900-46b0-b445-a4f951b9f7e2\",\"name\":\"Dog Rose Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"77 Bridge St\",\"address_2\":null,\"address_3\":null,\"city\":\"Saint Augustine\",\"state_province\":\"Florida\",\"postal_code\":\"32084-4335\",\"country\":\"United States\",\"longitude\":-81.31306668,\"latitude\":29.88948146,\"phone\":\"9042173355\",\"website_url\":\"http:\\/\\/www.dogrosebrewing.com\",\"state\":\"Florida\",\"street\":\"77 Bridge St\"},{\"id\":\"0ab3dca4-244e-4efd-bf34-92687747499a\",\"name\":\"Wet Dog Cafe & Brewery\",\"brewery_type\":\"brewpub\",\"address_1\":\"990 Astor St\",\"address_2\":null,\"address_3\":null,\"city\":\"Astoria\",\"state_province\":\"Oregon\",\"postal_code\":\"97103-4201\",\"country\":\"United States\",\"longitude\":-123.835821,\"latitude\":46.190557,\"phone\":\"5033256975\",\"website_url\":\"http:\\/\\/www.wetdogcafe.com\",\"state\":\"Oregon\",\"street\":\"990 Astor St\"},{\"id\":\"0f0ea92d-3acc-4f59-bb72-2e6cb404bc6a\",\"name\":\"Little Dog Brewing Co.\",\"brewery_type\":\"micro\",\"address_1\":\"141 Steiner Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Neptune City\",\"state_province\":\"New Jersey\",\"postal_code\":\"07753-6500\",\"country\":\"United States\",\"longitude\":-74.02307257,\"latitude\":40.20003682,\"phone\":\"7323613555\",\"website_url\":\"http:\\/\\/Www.littledogbrewing.com\",\"state\":\"New Jersey\",\"street\":\"141 Steiner Ave\"},{\"id\":\"1799d0b2-7266-4ad9-a3ca-15cc2e3bf833\",\"name\":\"Old Dog Alehouse & Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"13 W William St\",\"address_2\":null,\"address_3\":null,\"city\":\"Delaware\",\"state_province\":\"Ohio\",\"postal_code\":\"43015\",\"country\":\"United States\",\"longitude\":-83.0998526,\"latitude\":40.2984874,\"phone\":\"740-990-4506\",\"website_url\":\"https:\\/\\/www.olddogalehouse.com\\/menu\",\"state\":\"Ohio\",\"street\":\"13 W William St\"},{\"id\":\"189df38b-d6a6-40c0-917e-5b172be8d859\",\"name\":\"Sea Dog Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"1 Main St\",\"address_2\":null,\"address_3\":null,\"city\":\"Camden\",\"state_province\":\"Maine\",\"postal_code\":\"04843-1703\",\"country\":\"United States\",\"longitude\":-69.064576,\"latitude\":44.209809,\"phone\":null,\"website_url\":\"http:\\/\\/www.seadogbrewing.com\",\"state\":\"Maine\",\"street\":\"1 Main St\"},{\"id\":\"2907b143-57b4-49ec-aa41-07df64d1e14b\",\"name\":\"Barrel Dog Brewing\",\"brewery_type\":\"micro\",\"address_1\":null,\"address_2\":null,\"address_3\":null,\"city\":\"Evergreen\",\"state_province\":\"Colorado\",\"postal_code\":\"80439\",\"country\":\"United States\",\"longitude\":-105.321458,\"latitude\":39.6361637,\"phone\":\"5599176846\",\"website_url\":null,\"state\":\"Colorado\",\"street\":null},{\"id\":\"2c048f27-d9fc-4117-ae9a-c3c79ea2470e\",\"name\":\"Big Dog's Brewing Co\",\"brewery_type\":\"brewpub\",\"address_1\":\"4547 N Rancho Dr Ste A\",\"address_2\":null,\"address_3\":null,\"city\":\"Las Vegas\",\"state_province\":\"Nevada\",\"postal_code\":\"89130-3432\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"7023683715\",\"website_url\":\"http:\\/\\/www.bigdogsbrews.com\",\"state\":\"Nevada\",\"street\":\"4547 N Rancho Dr Ste A\"},{\"id\":\"2c797daa-c0a9-4a75-86b0-ed59a6a78b52\",\"name\":\"PUB DOG Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"1203 New Windsor Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Westminster\",\"state_province\":\"Maryland\",\"postal_code\":\"21158-6704\",\"country\":\"United States\",\"longitude\":-77.05229796,\"latitude\":39.55045197,\"phone\":\"4108483993\",\"website_url\":\"http:\\/\\/www.pubdog.com\",\"state\":\"Maryland\",\"street\":\"1203 New Windsor Rd\"},{\"id\":\"2ebb8fea-f982-43a0-bc95-b0ac01ae3f99\",\"name\":\"Bike Dog Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"2534 Industrial Blvd Ste 110\",\"address_2\":null,\"address_3\":null,\"city\":\"West Sacramento\",\"state_province\":\"California\",\"postal_code\":\"95691-3471\",\"country\":\"United States\",\"longitude\":-121.5433734,\"latitude\":38.5660851,\"phone\":null,\"website_url\":null,\"state\":\"California\",\"street\":\"2534 Industrial Blvd Ste 110\"},{\"id\":\"350f58c9-f1e6-4668-bf55-15dc557ec94c\",\"name\":\"Dreaming Dog Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"2501 W Taron Ct\",\"address_2\":null,\"address_3\":null,\"city\":\"Elk Grove\",\"state_province\":\"California\",\"postal_code\":\"95757-8423\",\"country\":\"United States\",\"longitude\":-121.4809068,\"latitude\":38.40805044,\"phone\":null,\"website_url\":null,\"state\":\"California\",\"street\":\"2501 W Taron Ct\"},{\"id\":\"3a6986ab-3cfc-4301-9689-aff66afb46d7\",\"name\":\"Thirsty Dog Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"529 Grant St Ste 103\",\"address_2\":null,\"address_3\":null,\"city\":\"Akron\",\"state_province\":\"Ohio\",\"postal_code\":\"44311-1184\",\"country\":\"United States\",\"longitude\":-81.51788487,\"latitude\":41.0698532,\"phone\":\"3302522739\",\"website_url\":\"http:\\/\\/www.thirstydog.com\",\"state\":\"Ohio\",\"street\":\"529 Grant St Ste 103\"},{\"id\":\"45e0fb3d-250a-43b5-97c7-12bffc42e14e\",\"name\":\"Moon Dog Craft Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"17 Duke Street\",\"address_2\":null,\"address_3\":null,\"city\":\"Abbotsford\",\"state_province\":\"VIC\",\"postal_code\":\"3067\",\"country\":\"Australia\",\"longitude\":145.0055272,\"latitude\":-37.8099105,\"phone\":\"+61 3 9428 2307\",\"website_url\":\"https:\\/\\/moondog.com.au\\/moon-dog-og\",\"state\":\"VIC\",\"street\":\"17 Duke Street\"},{\"id\":\"5a534132-ae7b-462d-b58e-58e7c2d3e785\",\"name\":\"Black Dog Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"339 Booth Road\",\"address_2\":null,\"address_3\":null,\"city\":\"Taminick\",\"state_province\":\"VIC\",\"postal_code\":\"3675\",\"country\":\"Australia\",\"longitude\":146.183609,\"latitude\":-36.3745155,\"phone\":\"+61 3 5766 2282\",\"website_url\":\"http:\\/\\/blackdogbrewery.com.au\\/\",\"state\":\"VIC\",\"street\":\"339 Booth Road\"},{\"id\":\"7c6bc6c6-dd61-41a6-b794-6a1f742c0ebb\",\"name\":\"Lead Dog Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"415 E 4th St\",\"address_2\":null,\"address_3\":null,\"city\":\"Reno\",\"state_province\":\"Nevada\",\"postal_code\":\"89512-3315\",\"country\":\"United States\",\"longitude\":-119.8084451,\"latitude\":39.5316052,\"phone\":\"7753915110\",\"website_url\":\"http:\\/\\/www.leaddogbrewing.com\",\"state\":\"Nevada\",\"street\":\"415 E 4th St\"},{\"id\":\"85958926-717c-4fd4-a9b1-b57958058c21\",\"name\":\"Sea Dog Brewing Co - S. Portland\",\"brewery_type\":\"brewpub\",\"address_1\":\"125 Western Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"S Portland\",\"state_province\":\"Maine\",\"postal_code\":\"04106-2413\",\"country\":\"United States\",\"longitude\":-70.31903067,\"latitude\":43.63519195,\"phone\":\"2078717000\",\"website_url\":\"http:\\/\\/www.seadogbrewing.com\",\"state\":\"Maine\",\"street\":\"125 Western Ave\"},{\"id\":\"88888d5b-1553-4773-806c-4b844a34b996\",\"name\":\"Red Dog Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"16 Carl Street\",\"address_2\":null,\"address_3\":null,\"city\":\"Rural View\",\"state_province\":\"QLD\",\"postal_code\":\"4740\",\"country\":\"Australia\",\"longitude\":149.1611451,\"latitude\":-21.0621985,\"phone\":\"+61 457 827 878\",\"website_url\":\"https:\\/\\/m.facebook.com\\/RedDogBrewery\\/\",\"state\":\"QLD\",\"street\":\"16 Carl Street\"},{\"id\":\"8b52fa56-8b17-4ed8-b670-0bd3c4b39c2d\",\"name\":\"Tin Dog Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"309 S Cloverdale St Ste A2\",\"address_2\":null,\"address_3\":null,\"city\":\"Seattle\",\"state_province\":\"Washington\",\"postal_code\":\"98108-4500\",\"country\":\"United States\",\"longitude\":-122.32975510378,\"latitude\":47.525993524042,\"phone\":\"2064384257\",\"website_url\":\"http:\\/\\/www.tindogbrewing.com\",\"state\":\"Washington\",\"street\":\"309 S Cloverdale St Ste A2\"},{\"id\":\"940212f2-d8e3-4f7d-9a7a-8f89b7a3edd2\",\"name\":\"Spotty Dog Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"11 Bender Drive\",\"address_2\":null,\"address_3\":null,\"city\":\"Derwent Park\",\"state_province\":\"TAS\",\"postal_code\":\"7009\",\"country\":\"Australia\",\"longitude\":147.3039744,\"latitude\":-42.8287176,\"phone\":\"+61 408 692 082\",\"website_url\":\"http:\\/\\/www.spottydogbrewers.com.au\\/\",\"state\":\"TAS\",\"street\":\"11 Bender Drive\"},{\"id\":\"9d64f11c-4f42-41c6-8ba7-768f7bf9ec13\",\"name\":\"Alpine Dog Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"1505 N Ogden St\",\"address_2\":null,\"address_3\":null,\"city\":\"Denver\",\"state_province\":\"Colorado\",\"postal_code\":\"80218-1405\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"3038321245\",\"website_url\":\"http:\\/\\/www.alpinedogbrewery.com\",\"state\":\"Colorado\",\"street\":\"1505 N Ogden St\"},{\"id\":\"a2bdb22b-3649-43a7-85b8-7821e09c1d7c\",\"name\":\"Sleepy Dog Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"1920 E University Dr\",\"address_2\":null,\"address_3\":null,\"city\":\"Tempe\",\"state_province\":\"Arizona\",\"postal_code\":\"85281-4608\",\"country\":\"United States\",\"longitude\":-111.9041833,\"latitude\":33.422606,\"phone\":\"4809675476\",\"website_url\":null,\"state\":\"Arizona\",\"street\":\"1920 E University Dr\"},{\"id\":\"a573715c-9468-4d3f-b90c-4c5754e87531\",\"name\":\"Sea Dog Brewing Co\",\"brewery_type\":\"brewpub\",\"address_1\":\"1976 White Mountain Hwy #9\",\"address_2\":null,\"address_3\":null,\"city\":\"Conway\",\"state_province\":\"New Hampshire\",\"postal_code\":\"03860\",\"country\":\"United States\",\"longitude\":-71.1217669,\"latitude\":44.0333227,\"phone\":\"6033560590\",\"website_url\":null,\"state\":\"New Hampshire\",\"street\":\"1976 White Mountain Hwy #9\"},{\"id\":\"abcd1ceb-8283-4d5f-aeb9-bda3778067c7\",\"name\":\"Trail Dog Brewing Co.\",\"brewery_type\":\"planning\",\"address_1\":null,\"address_2\":null,\"address_3\":null,\"city\":\"Novato\",\"state_province\":\"California\",\"postal_code\":\"94945-3318\",\"country\":\"United States\",\"longitude\":-122.5681191,\"latitude\":38.1061979,\"phone\":\"4157580411\",\"website_url\":\"http:\\/\\/traildogbrewing.com\",\"state\":\"California\",\"street\":null},{\"id\":\"b4835825-07a9-4210-b648-e796a460a11d\",\"name\":\"White Dog Brewing Boise\",\"brewery_type\":\"micro\",\"address_1\":\"705 W Fulton St\",\"address_2\":null,\"address_3\":null,\"city\":\"Boise\",\"state_province\":\"Idaho\",\"postal_code\":\"83702\",\"country\":\"United States\",\"longitude\":-116.2062186,\"latitude\":43.61122761,\"phone\":\"2089060609\",\"website_url\":\"http:\\/\\/www.whitedogbrewing.com\",\"state\":\"Idaho\",\"street\":\"705 W Fulton St\"},{\"id\":\"ba89a4c2-b9c9-4653-bbf1-8bf419c7c5ec\",\"name\":\"Yellow Dog Brewing Company - Port Moody\",\"brewery_type\":\"micro\",\"address_1\":\"2817 Murray St #1\",\"address_2\":null,\"address_3\":null,\"city\":\"Port Moody\",\"state_province\":\"British Columbia\",\"postal_code\":\"V3H 1X3\",\"country\":\"Canada\",\"longitude\":-122.8512888,\"latitude\":49.2786058,\"phone\":null,\"website_url\":\"http:\\/\\/www.yellowdogbeer.com\\/\",\"state\":\"British Columbia\",\"street\":\"2817 Murray St #1\"},{\"id\":\"bf11197a-a50f-4bb6-af48-0719c009eed6\",\"name\":\"White Dog Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"121 W Main St\",\"address_2\":null,\"address_3\":null,\"city\":\"Bozeman\",\"state_province\":\"Montana\",\"postal_code\":\"59715-4644\",\"country\":\"United States\",\"longitude\":-111.0393894,\"latitude\":45.67961135,\"phone\":\"4065955574\",\"website_url\":\"http:\\/\\/www.whitedogbrewing.com\",\"state\":\"Montana\",\"street\":\"121 W Main St\"},{\"id\":\"bf3c0dbf-53cf-40d9-906a-baf2a57bc0a6\",\"name\":\"Sea Dog Brewing Co - Clearwater\",\"brewery_type\":\"micro\",\"address_1\":\"26200 US Highway 19 N\",\"address_2\":null,\"address_3\":null,\"city\":\"Clearwater\",\"state_province\":\"Florida\",\"postal_code\":\"33761-3580\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"7274664916\",\"website_url\":\"http:\\/\\/www.seadogbrewing.com\",\"state\":\"Florida\",\"street\":\"26200 US Highway 19 N\"},{\"id\":\"d4dc69ab-cf58-44b9-9456-cea49cf6dd35\",\"name\":\"Boss Dog Brewing\",\"brewery_type\":\"brewpub\",\"address_1\":\"2179 Lee Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"Cleveland\",\"state_province\":\"Ohio\",\"postal_code\":\"44118-2907\",\"country\":\"United States\",\"longitude\":-81.56529555,\"latitude\":41.50030645,\"phone\":\"2163212337\",\"website_url\":\"http:\\/\\/www.bossdogbrewing.com\",\"state\":\"Ohio\",\"street\":\"2179 Lee Rd\"},{\"id\":\"d6accc58-89f9-43fd-bb06-e87a48ed9f2c\",\"name\":\"Sea Dog Brewing Co - Bangor\",\"brewery_type\":\"brewpub\",\"address_1\":\"26 Front St\",\"address_2\":null,\"address_3\":null,\"city\":\"Bangor\",\"state_province\":\"Maine\",\"postal_code\":\"04401-6418\",\"country\":\"United States\",\"longitude\":-68.770233,\"latitude\":44.7966948,\"phone\":\"2079478009\",\"website_url\":\"http:\\/\\/www.seadogbrewing.com\",\"state\":\"Maine\",\"street\":\"26 Front St\"},{\"id\":\"d6dbff7d-aba1-4ff4-8c87-4aa479bbb8fb\",\"name\":\"River Dog Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":\"591 Browns Cove Rd Unit H\",\"address_2\":null,\"address_3\":null,\"city\":\"Ridgeland\",\"state_province\":\"South Carolina\",\"postal_code\":\"29936-7281\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"8436452302\",\"website_url\":\"http:\\/\\/www.riverdogbrewing.com\",\"state\":\"South Carolina\",\"street\":\"591 Browns Cove Rd Unit H\"},{\"id\":\"d9640321-8cf9-41bd-aeb8-9a2163e23f42\",\"name\":\"Dingo Dog Brewing Co\",\"brewery_type\":\"micro\",\"address_1\":null,\"address_2\":null,\"address_3\":null,\"city\":\"Carrboro\",\"state_province\":\"North Carolina\",\"postal_code\":\"27510\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"9198859793\",\"website_url\":\"http:\\/\\/www.dingodogbrewing.com\",\"state\":\"North Carolina\",\"street\":null},{\"id\":\"e1857ee0-3547-4b8d-82f9-b146e0510014\",\"name\":\"Yellow Dog Brewing Company - Penticton\",\"brewery_type\":\"micro\",\"address_1\":\"169 Estabrook Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Penticton\",\"state_province\":\"British Columbia\",\"postal_code\":\"V2A 1G2\",\"country\":\"Canada\",\"longitude\":-119.5989151,\"latitude\":49.5006478,\"phone\":null,\"website_url\":\"http:\\/\\/www.yellowdogbeer.com\\/\",\"state\":\"British Columbia\",\"street\":\"169 Estabrook Ave\"},{\"id\":\"e2b339ba-8984-497a-ba6b-91882dec1515\",\"name\":\"Flying Dog Brewery\",\"brewery_type\":\"regional\",\"address_1\":\"4607 Wedgewood Blvd\",\"address_2\":null,\"address_3\":null,\"city\":\"Frederick\",\"state_province\":\"Maryland\",\"postal_code\":\"21703-7120\",\"country\":\"United States\",\"longitude\":-77.42679107,\"latitude\":39.3628322,\"phone\":\"3016947899\",\"website_url\":\"http:\\/\\/www.flyingdogbrewery.com\",\"state\":\"Maryland\",\"street\":\"4607 Wedgewood Blvd\"},{\"id\":\"e4c8261f-0f96-4951-81a6-667166ce4586\",\"name\":\"Laughing Dog Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"805 Schweitzer Plaza Dr\",\"address_2\":null,\"address_3\":null,\"city\":\"Ponderay\",\"state_province\":\"Idaho\",\"postal_code\":\"83852-9823\",\"country\":\"United States\",\"longitude\":-116.5464216,\"latitude\":48.3050088,\"phone\":\"2082639222\",\"website_url\":\"http:\\/\\/www.laughingdogbrewing.com\",\"state\":\"Idaho\",\"street\":\"805 Schweitzer Plaza Dr\"},{\"id\":\"e57d55f3-ee8c-45b0-a092-c77def6cd561\",\"name\":\"Triple Dog Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"675 1st St W\",\"address_2\":null,\"address_3\":null,\"city\":\"Havre\",\"state_province\":\"Montana\",\"postal_code\":\"59501-3415\",\"country\":\"United States\",\"longitude\":-109.694577,\"latitude\":48.55500303,\"phone\":\"4068798103\",\"website_url\":null,\"state\":\"Montana\",\"street\":\"675 1st St W\"},{\"id\":\"ecb3dc09-11f9-4844-8cac-83340856e42d\",\"name\":\"Diving Dog Brewhouse\",\"brewery_type\":\"micro\",\"address_1\":\"1802 Telegraph Ave\",\"address_2\":null,\"address_3\":null,\"city\":\"Oakland\",\"state_province\":\"California\",\"postal_code\":\"94612-2110\",\"country\":\"United States\",\"longitude\":-122.2698881,\"latitude\":37.807739,\"phone\":\"5103061914\",\"website_url\":\"http:\\/\\/www.divingdogbrew.com\",\"state\":\"California\",\"street\":\"1802 Telegraph Ave\"},{\"id\":\"f8c5522b-6ccf-44ff-86b4-92498df8a9a5\",\"name\":\"Spotted Dog Brewery\",\"brewery_type\":\"brewpub\",\"address_1\":\"2920 Avenida De Mesilla\",\"address_2\":null,\"address_3\":null,\"city\":\"Las Cruces\",\"state_province\":\"New Mexico\",\"postal_code\":\"88005\",\"country\":\"United States\",\"longitude\":-106.7852399,\"latitude\":32.2938747,\"phone\":\"5756502729\",\"website_url\":\"http:\\/\\/www.spotteddogbrewery.com\",\"state\":\"New Mexico\",\"street\":\"2920 Avenida De Mesilla\"},{\"id\":\"fa2fde2e-51da-470a-a151-ce76e6d529b3\",\"name\":\"Island Dog Brewing\",\"brewery_type\":\"micro\",\"address_1\":\"125 John Roberts Rd\",\"address_2\":null,\"address_3\":null,\"city\":\"South Portland\",\"state_province\":\"Maine\",\"postal_code\":\"04106-3295\",\"country\":\"United States\",\"longitude\":-70.33101442,\"latitude\":43.63059386,\"phone\":\"2073300283\",\"website_url\":\"http:\\/\\/www.islanddogbrewing.com\",\"state\":\"Maine\",\"street\":\"125 John Roberts Rd\"},{\"id\":\"0d782514-4463-44fb-bcc6-7745461a838f\",\"name\":\"The Welder\\u2019s Dog\",\"brewery_type\":\"micro\",\"address_1\":\"101 Beardy Street\",\"address_2\":null,\"address_3\":null,\"city\":\"Armidale\",\"state_province\":\"NSW\",\"postal_code\":\"2350\",\"country\":\"Australia\",\"longitude\":151.6701048,\"latitude\":-30.5142565,\"phone\":\"+61 432 504 444\",\"website_url\":\"https:\\/\\/www.theweldersdog.com.au\\/\",\"state\":\"NSW\",\"street\":\"101 Beardy Street\"},{\"id\":\"1503f786-1afe-44fb-9668-a32cc139df58\",\"name\":\"Hair of the Dog Brewing Co\",\"brewery_type\":\"brewpub\",\"address_1\":\"61 SE Yamhill St\",\"address_2\":null,\"address_3\":null,\"city\":\"Portland\",\"state_province\":\"Oregon\",\"postal_code\":\"97214-2134\",\"country\":\"United States\",\"longitude\":-122.6655236,\"latitude\":45.5160413,\"phone\":\"5032326585\",\"website_url\":\"http:\\/\\/www.hairofthedog.com\",\"state\":\"Oregon\",\"street\":\"61 SE Yamhill St\"},{\"id\":\"5a4a1710-58ca-42f9-985c-0d868860f00e\",\"name\":\"The Welder\\u2019s Dog Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"101 Beardy Street\",\"address_2\":null,\"address_3\":null,\"city\":\"Armidale\",\"state_province\":\"NSW\",\"postal_code\":\"2350\",\"country\":\"Australia\",\"longitude\":151.6701048,\"latitude\":-30.5142565,\"phone\":\"+61 432 504 444\",\"website_url\":\"https:\\/\\/www.theweldersdog.com.au\\/\",\"state\":\"NSW\",\"street\":\"101 Beardy Street\"},{\"id\":\"e2b6a2f4-631c-40a0-97be-47942c7be3d6\",\"name\":\"Foy Enterprises LLC DBA Dog River Brewery\",\"brewery_type\":\"micro\",\"address_1\":\"1400 US Route 302 Ste 4\",\"address_2\":null,\"address_3\":null,\"city\":\"Barre\",\"state_province\":\"Vermont\",\"postal_code\":\"05641-2320\",\"country\":\"United States\",\"longitude\":null,\"latitude\":null,\"phone\":\"8025054053\",\"website_url\":null,\"state\":\"Vermont\",\"street\":\"1400 US Route 302 Ste 4\"},{\"id\":\"095924d8-a631-407e-97ac-1730ca064b30\",\"name\":\"Mondo Brewing Company\",\"brewery_type\":\"micro\",\"address_1\":\"32 Chifley Drive\",\"address_2\":null,\"address_3\":null,\"city\":\"Preston\",\"state_province\":\"VIC\",\"postal_code\":\"3072\",\"country\":\"Australia\",\"longitude\":145.0296148,\"latitude\":-37.7524911,\"phone\":\"+61 3 9428 2307\",\"website_url\":\"https:\\/\\/moondog.com.au\\/moon-dog-world\",\"state\":\"VIC\",\"street\":\"32 Chifley Drive\"},{\"id\":\"ce4632c8-fc13-4412-b5d3-002501d3dd91\",\"name\":\"Moo Brew\",\"brewery_type\":\"micro\",\"address_1\":\"32 Chifley Drive\",\"address_2\":null,\"address_3\":null,\"city\":\"Preston\",\"state_province\":\"VIC\",\"postal_code\":\"3072\",\"country\":\"Australia\",\"longitude\":145.0296148,\"latitude\":-37.7524911,\"phone\":\"+61 3 9428 2307\",\"website_url\":\"https:\\/\\/moondog.com.au\\/moon-dog-world\",\"state\":\"VIC\",\"street\":\"32 Chifley Drive\"}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "parameters": {}
    }
}