{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The GBIF Species API provides access to information about species recorded in the Global Biodiversity Information Facility database.",
        "termsOfService": "",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "Creative Commons Zero (CC0) License",
            "url": "https://creativecommons.org/publicdomain/zero/1.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ailuropoda%20melanoleuca": {
                                "value": "Ailuropoda%20melanoleuca"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SPECIES": {
                                "value": "SPECIES"
                            },
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Primates": {
                                "value": "Primates"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/descriptions": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/descriptions route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_descriptions"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/distributions": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/distributions route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "basisOfRecord",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "HUMAN_OBSERVATION": {
                                "value": "HUMAN_OBSERVATION"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2000": {
                                "value": "2000"
                            },
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SPECIES": {
                                "value": "SPECIES"
                            },
                            "GENUS": {
                                "value": "GENUS"
                            },
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ACCEPTED": {
                                "value": "ACCEPTED"
                            },
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
                            }
                        }
                    },
                    {
                        "name": "isMarine",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "source",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IUCN": {
                                "value": "IUCN"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "geometry",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "eng": {
                                "value": "eng"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_distributions"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/synonyms": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/synonyms route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_synonyms"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/children": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/children route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GENUS": {
                                "value": "GENUS"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            }
                        }
                    },
                    {
                        "name": "nameUsage",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "higherTaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "212": {
                                "value": "212"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "isMarine",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "isTerrestrial",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_children"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/vernacularNames": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/vernacularNames route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "cat": {
                                "value": "cat"
                            },
                            "elephant": {
                                "value": "elephant"
                            },
                            "flower": {
                                "value": "flower"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "isPreferredName",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "isSynonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "isInUse",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GENUS": {
                                "value": "GENUS"
                            },
                            "FAMILY": {
                                "value": "FAMILY"
                            },
                            "KINGDOM": {
                                "value": "KINGDOM"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            },
                            "VERNACULAR": {
                                "value": "VERNACULAR"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "456": {
                                "value": "456"
                            }
                        }
                    },
                    {
                        "name": "isTranslated",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_vernacularNames"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/media": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/media route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_media"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/references": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/references route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2000": {
                                "value": "2000"
                            },
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "citationType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "journal": {
                                "value": "journal"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "dataset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dwc": {
                                "value": "dwc"
                            }
                        }
                    },
                    {
                        "name": "basisOfRecord",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "preserved_specimen": {
                                "value": "preserved_specimen"
                            }
                        }
                    },
                    {
                        "name": "yearType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            },
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "author",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Smith": {
                                "value": "Smith"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "987654": {
                                "value": "987654"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "biology": {
                                "value": "biology"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "abcdefg": {
                                "value": "abcdefg"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "year": {
                                "value": "year"
                            }
                        }
                    },
                    {
                        "name": "hasImage",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_references"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/search": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Primates": {
                                "value": "Primates"
                            },
                            "plantae": {
                                "value": "plantae"
                            },
                            "Primate": {
                                "value": "Primate"
                            },
                            "tiger": {
                                "value": "tiger"
                            },
                            "elephant": {
                                "value": "elephant"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "bear": {
                                "value": "bear"
                            },
                            "Prunus": {
                                "value": "Prunus"
                            },
                            "animalia": {
                                "value": "animalia"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "genus": {
                                "value": "genus"
                            },
                            "species": {
                                "value": "species"
                            },
                            "SPECIES": {
                                "value": "SPECIES"
                            },
                            "GENUS": {
                                "value": "GENUS"
                            }
                        }
                    },
                    {
                        "name": "highertaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "332": {
                                "value": "332"
                            }
                        }
                    },
                    {
                        "name": "kingdomKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "isMarine",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7b5cc48f-f762-11e1-a439-00145eb45e9a": {
                                "value": "7b5cc48f-f762-11e1-a439-00145eb45e9a"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Puma%20concolor": {
                                "value": "Puma%20concolor"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 533072068</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/suggest": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20pardus": {
                                "value": "Panthera%20pardus"
                            },
                            "Panthera+tigris": {
                                "value": "Panthera+tigris"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "elephant": {
                                "value": "elephant"
                            },
                            "Prunus%20serotina": {
                                "value": "Prunus%20serotina"
                            },
                            "Plantae": {
                                "value": "Plantae"
                            },
                            "plantae": {
                                "value": "plantae"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "SPECIES": {
                                "value": "SPECIES"
                            },
                            "genus": {
                                "value": "genus"
                            },
                            "GENUS": {
                                "value": "GENUS"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7b5cc48f-f762-11e1-a439-00145eb45e9a": {
                                "value": "7b5cc48f-f762-11e1-a439-00145eb45e9a"
                            },
                            "7ce8aef0-9e92-11dc-8738-b8a03c50a862": {
                                "value": "7ce8aef0-9e92-11dc-8738-b8a03c50a862"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Primates": {
                                "value": "Primates"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Hominidae": {
                                "value": "Hominidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Homo": {
                                "value": "Homo"
                            },
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "higherTaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "rose": {
                                "value": "rose"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "fuzzy",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "highertaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "7707728": {
                                "value": "7707728"
                            }
                        }
                    },
                    {
                        "name": "verbose",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ACCEPTED": {
                                "value": "ACCEPTED"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_suggest"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
[...]
