{
    "openapi": "3.1.0",
    "info": {
        "title": "CheapShark API",
        "description": "**API Description** - The CheapShark API is a tool that provides access to data and functionality related to video game deals and prices.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.cheapshark.com/terms",
        "contact": {
            "name": "CheapShark API Contact",
            "url": "https://www.cheapshark.com/contact",
            "email": "support@cheapshark.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.cheapshark.com",
            "description": "Production Server of the CheapShark API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://apidocs.cheapshark.com",
        "description": "Find more about the CheapShark API here:"
    },
    "paths": {
        "/api/1.0/deals": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "storeID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "sortBy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "price": {
                                "value": "price"
                            },
                            "title": {
                                "value": "title"
                            },
                            "name": {
                                "value": "name"
                            },
                            "savings": {
                                "value": "savings"
                            }
                        }
                    },
                    {
                        "name": "desc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "title",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "game": {
                                "value": "game"
                            },
                            "call+of+duty": {
                                "value": "call+of+duty"
                            },
                            "": {
                                "value": ""
                            },
                            "Assassin's+Creed": {
                                "value": "Assassin's+Creed"
                            }
                        }
                    },
                    {
                        "name": "steamAppID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "upperPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "lowerPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            },
                            "10": {
                                "value": "10"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "pageNumber",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "onSale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "AAA",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            },
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
                            },
                            "4": {
                                "value": "4"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "release",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-01-01": {
                                "value": "2020-01-01"
                            }
                        }
                    },
                    {
                        "name": "steamRating",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "80": {
                                "value": "80"
                            }
                        }
                    },
                    {
                        "name": "metacritic",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90": {
                                "value": "90"
                            },
                            "75": {
                                "value": "75"
                            }
                        }
                    },
                    {
                        "name": "exact",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_1.0_deals"
                                },
                                "example": [
                                    {
                                        "internalName": "ICECREAMSURFER",
                                        "title": "Ice Cream Surfer",
                                        "metacriticLink": "/game/ice-cream-surfer/",
                                        "dealID": "pv6bYNgGbapa5Lt6jnK1GsmZCqVwQXqkdF84f3HWBFg%3D",
                                        "storeID": "1",
                                        "gameID": "111450",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "40",
                                        "steamRatingCount": "10",
                                        "steamAppID": "361560",
                                        "releaseDate": 1401753600,
                                        "lastChange": 1700610284,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/361560/capsule_sm_120.jpg?t=1456849875"
                                    },
                                    {
                                        "internalName": "PEAKVOXMEWMEWCHAMBERFORSTEAM",
                                        "title": "peakvox Mew Mew Chamber for Steam",
                                        "metacriticLink": "/game/pc/peakvox-mew-mew-chamber-for-steam",
                                        "dealID": "hw4RY2zolwLOtXEfRNXtVQikPodvvNSnQee%2BwkRAZEI%3D",
                                        "storeID": "1",
                                        "gameID": "164185",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "91",
                                        "steamRatingCount": "62",
                                        "steamAppID": "552200",
                                        "releaseDate": 1481760000,
                                        "lastChange": 1700604440,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/552200/capsule_sm_120.jpg?t=1677045451"
                                    },
                                    {
                                        "internalName": "MYPETROCK",
                                        "title": "My Pet Rock",
                                        "metacriticLink": "/game/my-pet-rock/",
                                        "dealID": "6ARZYXmyLIoCeD1t9RNmkvjIet6E0RY9%2BNO8FuTeepY%3D",
                                        "storeID": "1",
                                        "gameID": "165342",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "73",
                                        "steamRatingCount": "15",
                                        "steamAppID": "557830",
                                        "releaseDate": 1651363200,
                                        "lastChange": 1700607985,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/557830/capsule_sm_120.jpg?t=1493416499"
                                    },
                                    {
                                        "internalName": "GEESTE",
                                        "title": "Geeste",
                                        "metacriticLink": "/game/geeste/",
                                        "dealID": "ApFCfYBVo4wV3kckGvOVtqkk4o3smju54gLx9%2B97nDg%3D",
                                        "storeID": "1",
                                        "gameID": "186163",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "45",
                                        "steamRatingCount": "11",
                                        "steamAppID": "831790",
                                        "releaseDate": 1524009600,
                                        "lastChange": 1700607818,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/831790/capsule_sm_120.jpg?t=1621946526"
                                    },
                                    {
                                        "internalName": "GHONEISGONE",
                                        "title": "Ghone is gone",
                                        "metacriticLink": "/game/ghone-is-gone/",
                                        "dealID": "FRBKl3DoYTnP6MQhWwtdvF07e2vDMzibxx8sOFe8Bnw%3D",
                                        "storeID": "1",
                                        "gameID": "210098",
                                        "salePrice": "0.44",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "55.555556",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "62",
                                        "steamRatingCount": "43",
                                        "steamAppID": "1220890",
                                        "releaseDate": 1579651200,
                                        "lastChange": 1700608207,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1220890/capsule_sm_120.jpg?t=1579865439"
                                    },
                                    {
                                        "internalName": "EMBERZONE",
                                        "title": "EMBERZONE",
                                        "metacriticLink": "/game/emberzone/",
                                        "dealID": "9H1XQxA8x7ZKLzAoCUdDnWlDEYH%2FDvIqcE16zQoChFs%3D",
                                        "storeID": "1",
                                        "gameID": "218384",
                                        "salePrice": "0.44",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "55.555556",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "52",
                                        "steamRatingCount": "21",
                                        "steamAppID": "1362460",
                                        "releaseDate": 1595030400,
                                        "lastChange": 1700610238,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1362460/capsule_sm_120.jpg?t=1656669247"
                                    },
                                    {
                                        "internalName": "SUPERINDIESQUAREFIGHTAGAINSTTIME",
                                        "title": "Super Indie Square - Fight Against Time",
                                        "metacriticLink": "/game/super-indie-square-fight-against-time/",
                                        "dealID": "5EdJMUoL1i03GKsdJxkoiOMx1SaySw10lt5QuF%2FJ5AM%3D",
                                        "storeID": "1",
                                        "gameID": "218419",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Positive",
                                        "steamRatingPercent": "100",
                                        "steamRatingCount": "12",
                                        "steamAppID": "1353470",
                                        "releaseDate": 1595203200,
                                        "lastChange": 1700607127,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1353470/capsule_sm_120.jpg?t=1619050043"
                                    },
                                    {
                                        "internalName": "THEQUIETAPOCALYPSE",
                                        "title": "The Quiet Apocalypse",
                                        "metacriticLink": "/game/the-quiet-apocalypse/",
                                        "dealID": "aJWuO94EE072cM915cY4YP70yXXHeD2GyyWFOZX8QSc%3D",
                                        "storeID": "1",
                                        "gameID": "237043",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "65",
                                        "steamRatingCount": "20",
                                        "steamAppID": "1780420",
                                        "releaseDate": 1636588800,
                                        "lastChange": 1700607385,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1780420/capsule_sm_120.jpg?t=1638186817"
                                    },
                                    {
                                        "internalName": "VINCENTSHORRORSTORY",
                                        "title": "Vincents Horror Story",
                                        "metacriticLink": "/game/vincents-horror-story/",
                                        "dealID": "629oOdtmmdUNwFAeoizfg%2Bv2f9eR3SNqaM%2BZpXOpSgY%3D",
                                        "storeID": "1",
                                        "gameID": "257754",
                                        "salePrice": "0.44",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "55.555556",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "46",
                                        "steamRatingCount": "13",
                                        "steamAppID": "2310780",
                                        "releaseDate": 1677456000,
                                        "lastChange": 1700607897,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/2310780/capsule_sm_120.jpg?t=1677492367"
                                    },
                                    {
                                        "internalName": "PEAKVOXROUTECANDLEFORSTEAM",
                                        "title": "peakvox Route Candle for Steam",
                                        "metacriticLink": null,
                                        "dealID": "ZB4FjSrsP2PAflym%2FXl9kLKBrwXSpsuLYi5B03Z6A9Q%3D",
                                        "storeID": "1",
                                        "gameID": "274577",
                                        "salePrice": "0.44",
                                        "normalPrice": "2.99",
                                        "isOnSale": "1",
                                        "savings": "85.284281",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "10",
                                        "steamAppID": "552210",
                                        "releaseDate": 0,
                                        "lastChange": 1700608019,
                                        "dealRating": "0.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/552210/capsule_sm_120.jpg?t=1677045583"
                                    },
                                    {
                                        "internalName": "ANTGRAVITYTINYSADVENTURE",
                                        "title": "Ant-gravity: Tiny's Adventure",
                                        "metacriticLink": "/game/ant-gravity-tinys-adventure/",
                                        "dealID": "89PDc5IPDo9iiyJnLhyKoOb9IKpRF3gSzk%2Bl87qSuc0%3D",
                                        "storeID": "1",
                                        "gameID": "164138",
                                        "salePrice": "0.45",
                                        "normalPrice": "1.99",
                                        "isOnSale": "1",
                                        "savings": "77.386935",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "66",
                                        "steamRatingCount": "15",
                                        "steamAppID": "522890",
                                        "releaseDate": 1481760000,
                                        "lastChange": 1700610294,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/522890/capsule_sm_120.jpg?t=1667218623"
                                    },
                                    {
                                        "internalName": "VRFITNESSGYMCYCLINGMARATHONFOOTBALLETC",
                                        "title": "VR Fitness Gym (Cycling, Marathon, Football, etc)",
                                        "metacriticLink": null,
                                        "dealID": "A2TNExtHRrXt0jZp%2FgL92HW%2BcbaZfhFWYj6tDzfBbdM%3D",
                                        "storeID": "1",
                                        "gameID": "220675",
                                        "salePrice": "0.47",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "52.525253",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "61",
                                        "steamRatingCount": "13",
                                        "steamAppID": "1305380",
                                        "releaseDate": 0,
                                        "lastChange": 1700607581,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1305380/capsule_sm_120.jpg?t=1659581813"
                                    },
                                    {
                                        "internalName": "PRAYINVRMEDIEVALCHRISTIANCHURCHES",
                                        "title": "Pray in VR Medieval Christian Churches",
                                        "metacriticLink": "/game/pray-in-vr-medieval-christian-churches/",
                                        "dealID": "l9ehnL3qQexIfu84ri1dK2y3OUCBYoWQR7PydZucka8%3D",
                                        "storeID": "1",
                                        "gameID": "223402",
                                        "salePrice": "0.47",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "52.525253",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Positive",
                                        "steamRatingPercent": "100",
                                        "steamRatingCount": "11",
                                        "steamAppID": "1409340",
                                        "releaseDate": 1606262400,
                                        "lastChange": 1700603967,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1409340/capsule_sm_120.jpg?t=1658991485"
                                    },
                                    {
                                        "internalName": "THESIBYLANDSIXPENCE",
                                        "title": " the sibyl and sixpence",
                                        "metacriticLink": "/game/the-sibyl-and-sixpence/",
                                        "dealID": "mLfNLFDqM7JFawm3Fgf3l6Rv6Bvl2GNQzSE66ihBLII%3D",
                                        "storeID": "1",
                                        "gameID": "196883",
                                        "salePrice": "0.48",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "51.515152",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "474",
                                        "steamAppID": "982580",
                                        "releaseDate": 1546214400,
                                        "lastChange": 1700604762,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/982580/capsule_sm_120.jpg?t=1616923455"
                                    },
                                    {
                                        "internalName": "SPACEMAYHEM",
                                        "title": "Space Mayhem",
                                        "metacriticLink": "/game/space-mayhem/",
                                        "dealID": "lJhB8mMiaOb3rg%2FQb%2FdRK%2Bdj7XmQIrnTKoBsolx2CkU%3D",
                                        "storeID": "1",
                                        "gameID": "197240",
                                        "salePrice": "0.48",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "51.515152",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Positive",
                                        "steamRatingPercent": "100",
                                        "steamRatingCount": "24",
                                        "steamAppID": "922470",
                                        "releaseDate": 1547683200,
                                        "lastChange": 1700629995,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/922470/capsule_sm_120.jpg?t=1601674976"
                                    },
                                    {
                                        "internalName": "VECTORS",
                                        "title": "Vectors",
                                        "metacriticLink": "/game/vectors/",
                                        "dealID": "9xTvWpNka%2BRmmH5oawH5RjnFw%2FUBvTuPJ4YZ7ihyxGM%3D",
                                        "storeID": "1",
                                        "gameID": "225816",
                                        "salePrice": "0.48",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "51.515152",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Positive",
                                        "steamRatingPercent": "100",
                                        "steamRatingCount": "21",
                                        "steamAppID": "1516550",
                                        "releaseDate": 1612396800,
                                        "lastChange": 1700604563,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1516550/capsule_sm_120.jpg?t=1667069300"
                                    },
                                    {
                                        "internalName": "HACKEREVOLUTIONDUALITY",
                                        "title": "Hacker Evolution Duality",
                                        "metacriticLink": "/game/hacker-evolution-duality/",
                                        "dealID": "kIxrBxe9ZV7sc06EtNweixeDG0j4QmmgHK%2F4ftJU84Y%3D",
                                        "storeID": "1",
                                        "gameID": "356",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "32",
                                        "steamRatingCount": "206",
                                        "steamAppID": "70120",
                                        "releaseDate": 1312934400,
                                        "lastChange": 1700610331,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/70120/capsule_sm_120.jpg?t=1447354299"
                                    },
                                    {
                                        "internalName": "TOKITORI",
                                        "title": "Toki Tori",
                                        "metacriticLink": "/game/toki-tori/",
                                        "dealID": "Ws%2B0c2sUsDPpqLQB7ToTCNhVsyc5uBSRe50G3FFDt58%3D",
                                        "storeID": "1",
                                        "gameID": "574",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "1571",
                                        "steamAppID": "38700",
                                        "releaseDate": 1264636800,
                                        "lastChange": 1700596292,
                                        "dealRating": "9.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/38700/capsule_sm_120.jpg?t=1596256691"
                                    },
                                    {
                                        "internalName": "HACKEREVOLUTION",
                                        "title": "Hacker Evolution",
                                        "metacriticLink": "/game/hacker-evolution/",
                                        "dealID": "JuVWXmvJgirmmcCL1Ut6%2BwF%2BmsxreJc25UmaXxckyqs%3D",
                                        "storeID": "1",
                                        "gameID": "839",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "384",
                                        "steamAppID": "70100",
                                        "releaseDate": 1284422400,
                                        "lastChange": 1700604330,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/70100/capsule_sm_120.jpg?t=1447353497"
                                    },
                                    {
                                        "internalName": "HACKEREVOLUTIONUNTOLD",
                                        "title": "Hacker Evolution: Untold",
                                        "metacriticLink": "/game/hacker-evolution-untold/",
                                        "dealID": "mVYpBC%2B7D2Iedu%2ByRaiSmtaYZLxs2hDb91UKCiBG2jQ%3D",
                                        "storeID": "1",
                                        "gameID": "881",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "64",
                                        "steamRatingCount": "163",
                                        "steamAppID": "70110",
                                        "releaseDate": 1229299200,
                                        "lastChange": 1700607705,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/70110/capsule_sm_120.jpg?t=1447353529"
                                    },
                                    {
                                        "internalName": "INVERSION",
                                        "title": "Inversion",
                                        "metacriticLink": "/game/inversion/",
                                        "dealID": "iBeQV4O0NaOIgrU9bYxkJz9VGCFNBef9yyhyPpbvVjk%3D",
                                        "storeID": "1",
                                        "gameID": "88250",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "59",
                                        "steamRatingText": "Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "17",
                                        "steamAppID": "212410",
                                        "releaseDate": 1343260800,
                                        "lastChange": 1700670547,
                                        "dealRating": "1.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1505430/capsule_sm_120.jpg?t=1693956372"
                                    },
                                    {
                                        "internalName": "DARKSHADOWSARMYOFEVIL",
                                        "title": "Dark Shadows  Army of Evil",
                                        "metacriticLink": "/game/dark-shadows-army-of-evil/",
                                        "dealID": "AFu02mSY1DF%2B6Ow9Bm1UrMQur%2FoXGG3y6Vfo3x7sVto%3D",
                                        "storeID": "1",
                                        "gameID": "93926",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "33",
                                        "steamRatingCount": "71",
                                        "steamAppID": "280640",
                                        "releaseDate": 1354492800,
                                        "lastChange": 1700610373,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/280640/capsule_sm_120.jpg?t=1609433721"
                                    },
                                    {
                                        "internalName": "STRATEGICWARINEUROPE",
                                        "title": "Strategic War in Europe",
                                        "metacriticLink": "/game/strategic-war-in-europe/",
                                        "dealID": "rjKfI%2Fyp%2FC6wuh%2FSBLT93MYuOPORJdCPvYvUSzn5BIY%3D",
                                        "storeID": "1",
                                        "gameID": "87928",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "46",
                                        "steamRatingCount": "77",
                                        "steamAppID": "283000",
                                        "releaseDate": 1339113600,
                                        "lastChange": 1700607701,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/283000/capsule_sm_120.jpg?t=1693870269"
                                    },
                                    {
                                        "internalName": "TITANFALLTHEFINALHOURS",
                                        "title": "Titanfall - The Final Hours",
                                        "metacriticLink": null,
                                        "dealID": "%2BIaDzlurmG7y2YpQ6qdPUB0QJTZN1HNI7ZTtoXAp0hA%3D",
                                        "storeID": "1",
                                        "gameID": "108532",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "34",
                                        "steamRatingCount": "286",
                                        "steamAppID": "292060",
                                        "releaseDate": 0,
                                        "lastChange": 1700610352,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/292060/capsule_sm_120.jpg?t=1447361130"
                                    },
                                    {
                                        "internalName": "OVERCASTWALDENANDTHEWEREWOLF",
                                        "title": "Overcast - Walden and the Werewolf",
                                        "metacriticLink": "/game/overcast-walden-and-the-werewolf/",
                                        "dealID": "rX1GSxbLd7g0D00yNnlxjN0NDajA3Sv1nFaAqqDVQ9I%3D",
                                        "storeID": "1",
                                        "gameID": "102977",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "1203",
                                        "steamAppID": "293180",
                                        "releaseDate": 1382054400,
                                        "lastChange": 1699469660,
                                        "dealRating": "3.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/293180/capsule_sm_120.jpg?t=1637951975"
                                    },
                                    {
                                        "internalName": "STRANDED",
                                        "title": "Stranded",
                                        "metacriticLink": "/game/stranded/",
                                        "dealID": "%2Fu9E%2Fh5oH%2FcM802nJv4EcDXqgq1C2hZhi5i0EcU73vQ%3D",
                                        "storeID": "1",
                                        "gameID": "109613",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "38",
                                        "steamRatingCount": "292",
                                        "steamAppID": "295250",
                                        "releaseDate": 1711843200,
                                        "lastChange": 1700610364,
                                        "dealRating": "5.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/295250/capsule_sm_120.jpg?t=1634658711"
                                    },
                                    {
                                        "internalName": "THECAMPAIGNSERIESFALLWEISS",
                                        "title": "The Campaign Series: Fall Weiss",
                                        "metacriticLink": null,
                                        "dealID": "awQ%2F11VNsEV2f7c8qJxb%2BZrJCYi7ySuzBfolZ8k6XNE%3D",
                                        "storeID": "1",
                                        "gameID": "111377",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "47",
                                        "steamRatingCount": "34",
                                        "steamAppID": "283020",
                                        "releaseDate": 0,
                                        "lastChange": 1700607612,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/283020/capsule_sm_120.jpg?t=1693861553"
                                    },
                                    {
                                        "internalName": "WORLDWAR2TIMEOFWRATH",
                                        "title": "World War 2: Time of Wrath",
                                        "metacriticLink": "/game/pc/world-war-2-time-of-wrath",
                                        "dealID": "p63k541m8CX7dg3c2BWfcNyhLRX6TXEVs1rmBnJInTI%3D",
                                        "storeID": "1",
                                        "gameID": "103415",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "52",
                                        "steamRatingCount": "55",
                                        "steamAppID": "305390",
                                        "releaseDate": 1402012800,
                                        "lastChange": 1700607046,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/305390/capsule_sm_120.jpg?t=1694115374"
                                    },
                                    {
                                        "internalName": "DEADBITS",
                                        "title": "Dead Bits",
                                        "metacriticLink": "/game/dead-bits/",
                                        "dealID": "dOW%2Fz0Tw5oewgNsB%2FlZLpBmR%2Bo38yP8SIkegOn7sjxE%3D",
                                        "storeID": "1",
                                        "gameID": "102966",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "3477",
                                        "steamAppID": "303390",
                                        "releaseDate": 1382486400,
                                        "lastChange": 1698260988,
                                        "dealRating": "1.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/303390/capsule_sm_120.jpg?t=1652177901"
                                    },
                                    {
                                        "internalName": "PULSTAR",
                                        "title": "Pulstar",
                                        "metacriticLink": "/game/pulstar/",
                                        "dealID": "xlETKSJwITn110zTrqU%2FeX%2BMBL9OVTgjGBt3zFTTEGU%3D",
                                        "storeID": "1",
                                        "gameID": "113017",
                                        "salePrice": "0.49",
                                        "normalPrice": "1.99",
                                        "isOnSale": "1",
                                        "savings": "75.376884",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "65",
                                        "steamRatingCount": "55",
                                        "steamAppID": "280460",
                                        "releaseDate": 1514678400,
                                        "lastChange": 1700607947,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/280460/capsule_sm_120.jpg?t=1447360459"
                                    },
                                    {
                                        "internalName": "STORMOVERTHEPACIFIC",
                                        "title": "Storm over the Pacific",
                                        "metacriticLink": "/game/storm-over-the-pacific/",
                                        "dealID": "%2B%2BACouFsEKKkrds%2FWppbBw0PhyruZjMQdhTmbEzSBCs%3D",
                                        "storeID": "1",
                                        "gameID": "2618",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "42",
                                        "steamRatingCount": "28",
                                        "steamAppID": "302320",
                                        "releaseDate": 1276560000,
                                        "lastChange": 1700607635,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/302320/capsule_sm_120.jpg?t=1693870667"
                                    },
                                    {
                                        "internalName": "CRYSTALSOFTIME",
                                        "title": "Crystals of Time",
                                        "metacriticLink": "/game/crystals-of-time/",
                                        "dealID": "oos09dR3lwjcRNr43oj5KTCk4NapDDBYxWUyzuUOa0I%3D",
                                        "storeID": "1",
                                        "gameID": "103847",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "55",
                                        "steamRatingCount": "203",
                                        "steamAppID": "306410",
                                        "releaseDate": 1386028800,
                                        "lastChange": 1700607800,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/306410/capsule_sm_120.jpg?t=1447362207"
                                    },
                                    {
                                        "internalName": "MEMORIESOFAVAGABOND",
                                        "title": "Memories of A Vagabond",
                                        "metacriticLink": "/game/memories-of-a-vagabond/",
                                        "dealID": "vZVii%2BMDLTSKDqPsQ2QzQUCl2zuybHOT79lR3eHYFRA%3D",
                                        "storeID": "1",
                                        "gameID": "102988",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "47",
                                        "steamAppID": "307070",
                                        "releaseDate": 1381276800,
                                        "lastChange": 1700607212,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/307070/capsule_sm_120.jpg?t=1613074136"
                                    },
                                    {
                                        "internalName": "SOULGAMBLER",
                                        "title": "SOUL GAMBLER",
                                        "metacriticLink": "/game/soul-gambler/",
                                        "dealID": "CSzABZ4JmUCj7wGmfH%2B7J3glNFqa3qGFHUqBjpz5dmA%3D",
                                        "storeID": "1",
                                        "gameID": "108232",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "2142",
                                        "steamAppID": "313020",
                                        "releaseDate": 1396915200,
                                        "lastChange": 1700604069,
                                        "dealRating": "4.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/313020/capsule_sm_120.jpg?t=1553009107"
                                    },
                                    {
                                        "internalName": "GUNSHIP",
                                        "title": "Gunship!",
                                        "metacriticLink": "/game/gunship-2/",
                                        "dealID": "4W12KO09AHjFTPI9wIObOSZ16AqVA521DE7WILYHOmE%3D",
                                        "storeID": "1",
                                        "gameID": "117206",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "61",
                                        "steamRatingCount": "21",
                                        "steamAppID": "286730",
                                        "releaseDate": 1680998400,
                                        "lastChange": 1700671166,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/2368650/capsule_sm_120.jpg?t=1681074050"
                                    },
                                    {
                                        "internalName": "WORLDSOFMAGIC",
                                        "title": "Worlds of Magic",
                                        "metacriticLink": "/game/worlds-of-magic/",
                                        "dealID": "ilmBsE7qnqc%2FV4Y%2F1VMnkVelmi6AHF0tvTG1lLZvqUc%3D",
                                        "storeID": "1",
                                        "gameID": "126234",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "52",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "41",
                                        "steamRatingCount": "340",
                                        "steamAppID": "265970",
                                        "releaseDate": 1411171200,
                                        "lastChange": 1700607301,
                                        "dealRating": "5.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/265970/capsule_sm_120.jpg?t=1694101656"
                                    },
                                    {
                                        "internalName": "BLOBFROMSPACE",
                                        "title": "Blob From Space",
                                        "metacriticLink": "/game/pc/blob-from-space",
                                        "dealID": "qpUvjAOoUYr8oYOeqax3y8H6tz8I74T2u%2B0%2BcKQOPh4%3D",
                                        "storeID": "1",
                                        "gameID": "108097",
                                        "salePrice": "0.49",
                                        "normalPrice": "1.99",
                                        "isOnSale": "1",
                                        "savings": "75.376884",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "53",
                                        "steamRatingCount": "28",
                                        "steamAppID": "315070",
                                        "releaseDate": 1409529600,
                                        "lastChange": 1700610230,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/315070/capsule_sm_120.jpg?t=1666624349"
                                    },
                                    {
                                        "internalName": "DEEPECLIPSENEWSPACEODYSSEY",
                                        "title": "Deep Eclipse: New Space Odyssey",
                                        "metacriticLink": "/game/pc/deep-eclipse-new-space-odyssey",
                                        "dealID": "8ayWpMqJTHsIr982lzEPN1QHAGmZlx44rScqSxtVwng%3D",
                                        "storeID": "1",
                                        "gameID": "134654",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "73",
                                        "steamRatingCount": "122",
                                        "steamAppID": "326990",
                                        "releaseDate": 1414454400,
                                        "lastChange": 1700604388,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/326990/capsule_sm_120.jpg?t=1694083441"
                                    },
                                    {
                                        "internalName": "TIMEOFFURY",
                                        "title": "Time of Fury",
                                        "metacriticLink": "/game/time-of-fury/",
                                        "dealID": "W9MXBIX7%2F%2BF8dK1vBYVVxFg9gk6R6A8FC7FZ6dw1gRw%3D",
                                        "storeID": "1",
                                        "gameID": "135773",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "57",
                                        "steamRatingCount": "26",
                                        "steamAppID": "303910",
                                        "releaseDate": 1321660800,
                                        "lastChange": 1700607592,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/303910/capsule_sm_120.jpg?t=1694101891"
                                    },
                                    {
                                        "internalName": "PHOENIXFORCE",
                                        "title": "Phoenix Force",
                                        "metacriticLink": "/game/phoenix-force/",
                                        "dealID": "PG5Xz78C9nuLp1Rw2COjVYdqSeGemA10foblPdVZDcI%3D",
                                        "storeID": "1",
                                        "gameID": "125119",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "84",
                                        "steamRatingCount": "552",
                                        "steamAppID": "332480",
                                        "releaseDate": 1409356800,
                                        "lastChange": 1700604108,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/332480/capsule_sm_120.jpg?t=1659727370"
                                    },
                                    {
                                        "internalName": "ROBOTEX",
                                        "title": "Robotex",
                                        "metacriticLink": "/game/robotex/",
                                        "dealID": "dmjDSXzOl0kcZBncouKdJ1ojI5UTE78oNHfxSI11CBk%3D",
                                        "storeID": "1",
                                        "gameID": "140072",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "29",
                                        "steamRatingCount": "735",
                                        "steamAppID": "330350",
                                        "releaseDate": 1416355200,
                                        "lastChange": 1700610372,
                                        "dealRating": "4.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/330350/capsule_sm_120.jpg?t=1689780195"
                                    },
                                    {
                                        "internalName": "RIFTSCAVE",
                                        "title": "Rift's Cave",
                                        "metacriticLink": "/game/rifts-cave/",
                                        "dealID": "DRI%2B%2Fo3WXNMD5TWvWvcCrHGRqf6%2BSGbO8%2FgTDkFFh5U%3D",
                                        "storeID": "1",
                                        "gameID": "140361",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "62",
                                        "steamRatingCount": "74",
                                        "steamAppID": "335210",
                                        "releaseDate": 1417392000,
                                        "lastChange": 1700607779,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/335210/capsule_sm_120.jpg?t=1682527827"
                                    },
                                    {
                                        "internalName": "STARNOMAD",
                                        "title": "Star Nomad",
                                        "metacriticLink": "/game/star-nomad/",
                                        "dealID": "kYFLfTCQqqLYEKAFbEgv07YDiMFTNAYRM3SNBwybfh0%3D",
                                        "storeID": "1",
                                        "gameID": "128273",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "48",
                                        "steamRatingCount": "37",
                                        "steamAppID": "338830",
                                        "releaseDate": 1419811200,
                                        "lastChange": 1700607252,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/338830/capsule_sm_120.jpg?t=1561604087"
                                    },
                                    {
                                        "internalName": "DUNGEONOFGAIN",
                                        "title": "Dungeon of Gain",
                                        "metacriticLink": "/game/dungeon-of-gain/",
                                        "dealID": "XO8WbWe33BmePXH3dVgBiWOpRpmviCInUY8nFLv%2F1Oc%3D",
                                        "storeID": "1",
                                        "gameID": "123975",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Negative",
                                        "steamRatingPercent": "16",
                                        "steamRatingCount": "30",
                                        "steamAppID": "340030",
                                        "releaseDate": 1408752000,
                                        "lastChange": 1700610457,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/340030/capsule_sm_120.jpg?t=1686994345"
                                    },
                                    {
                                        "internalName": "RETENTION",
                                        "title": "Retention",
                                        "metacriticLink": "/game/retention/",
                                        "dealID": "uuO%2BDyCuPK4rKakzZzSmKcw%2BVpX3wuPLIU%2BAt9dnO2M%3D",
                                        "storeID": "1",
                                        "gameID": "103467",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "45",
                                        "steamRatingCount": "197",
                                        "steamAppID": "339470",
                                        "releaseDate": 1317859200,
                                        "lastChange": 1700607897,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/339470/capsule_sm_120.jpg?t=1693062608"
                                    },
                                    {
                                        "internalName": "PARTICULA",
                                        "title": "Particula",
                                        "metacriticLink": "/game/particula-2015/",
                                        "dealID": "X8Ry0321yg0TikTIPvrAjjknrXD1IOTjxvcWAh9NTsQ%3D",
                                        "storeID": "1",
                                        "gameID": "141355",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "603",
                                        "steamAppID": "343360",
                                        "releaseDate": 1422835200,
                                        "lastChange": 1698260436,
                                        "dealRating": "1.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/343360/capsule_sm_120.jpg?t=1652177957"
                                    },
                                    {
                                        "internalName": "ASTROEMPORIA",
                                        "title": "Astro Emporia",
                                        "metacriticLink": "/game/astro-emporia/",
                                        "dealID": "sva6Ug4aJDaRJoolZWnx%2FO4fWHYQ8qTrcLR1H0ymgsw%3D",
                                        "storeID": "1",
                                        "gameID": "103098",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "52",
                                        "steamRatingCount": "46",
                                        "steamAppID": "346080",
                                        "releaseDate": 1374278400,
                                        "lastChange": 1700608076,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/346080/capsule_sm_120.jpg?t=1447368054"
                                    },
                                    {
                                        "internalName": "REFLEX",
                                        "title": "RefleX",
                                        "metacriticLink": "/game/reflex/",
                                        "dealID": "Y12FQMk6x2kmY2OJiLJvrtlHSu7E2OGc45RmvbpYvsg%3D",
                                        "storeID": "1",
                                        "gameID": "98289",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "619",
                                        "steamAppID": "281860",
                                        "releaseDate": 1648252800,
                                        "lastChange": 1700667034,
                                        "dealRating": "2.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/745740/capsule_sm_120.jpg?t=1691506930"
                                    },
                                    {
                                        "internalName": "AGENTAWESOME",
                                        "title": "Agent Awesome",
                                        "metacriticLink": "/game/agent-awesome/",
                                        "dealID": "SBeMs8Urq9emaQ2kjIAR3yaXnlibwzyJ%2BIJIZei3WTQ%3D",
                                        "storeID": "1",
                                        "gameID": "141184",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "33",
                                        "steamAppID": "345220",
                                        "releaseDate": 1421798400,
                                        "lastChange": 1700607894,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/345220/capsule_sm_120.jpg?t=1694112855"
                                    },
                                    {
                                        "internalName": "ERON",
                                        "title": "Eron",
                                        "metacriticLink": "/game/eron/",
                                        "dealID": "CaQsJTrl0zJg4GZj5ALq%2FVGT%2F2k8i7iG97NuJgmK5xY%3D",
                                        "storeID": "1",
                                        "gameID": "142500",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "68",
                                        "steamRatingCount": "214",
                                        "steamAppID": "356880",
                                        "releaseDate": 1426550400,
                                        "lastChange": 1700607719,
                                        "dealRating": "4.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/356880/capsule_sm_120.jpg?t=1613074049"
                                    },
                                    {
                                        "internalName": "SKYBATTLES",
                                        "title": "Sky Battles",
                                        "metacriticLink": "/game/sky-battles/",
                                        "dealID": "IaKzrIUxfQdnXRTkIjkKrP36pwS5H9amMn%2BhAnATuFA%3D",
                                        "storeID": "1",
                                        "gameID": "142862",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "66",
                                        "steamRatingCount": "60",
                                        "steamAppID": "346670",
                                        "releaseDate": 1427241600,
                                        "lastChange": 1700607789,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/346670/capsule_sm_120.jpg?t=1609673860"
                                    },
                                    {
                                        "internalName": "UBERMOSH",
                                        "title": "UBERMOSH",
                                        "metacriticLink": "/game/ubermosh/",
                                        "dealID": "8QFqQYkOJmxLo9J4sQdwo8nIes0WSV%2FqiVbG3jBzPIM%3D",
                                        "storeID": "1",
                                        "gameID": "142868",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "2640",
                                        "steamAppID": "357070",
                                        "releaseDate": 1439424000,
                                        "lastChange": 1699477436,
                                        "dealRating": "0.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/357070/capsule_sm_120.jpg?t=1699491220"
                                    },
                                    {
                                        "internalName": "REDLAKE",
                                        "title": "Red Lake",
                                        "metacriticLink": "/game/red-lake/",
                                        "dealID": "1PH0clMYZaM9dS19saefpxjHS2RE6jqW%2FmMnP2j3cKU%3D",
                                        "storeID": "1",
                                        "gameID": "142869",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "48",
                                        "steamRatingCount": "683",
                                        "steamAppID": "357290",
                                        "releaseDate": 1427241600,
                                        "lastChange": 1700607834,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/357290/capsule_sm_120.jpg?t=1667035810"
                                    },
                                    {
                                        "internalName": "MAKEITINDIE",
                                        "title": "Make it indie!",
                                        "metacriticLink": "/game/make-it-indie/",
                                        "dealID": "uQcCIM2cIZooW0cJgjEGhF9iQzx4HeeO088Nfy%2F%2F1B0%3D",
                                        "storeID": "1",
                                        "gameID": "108722",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "52",
                                        "steamRatingCount": "394",
                                        "steamAppID": "357900",
                                        "releaseDate": 1398902400,
                                        "lastChange": 1700607736,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/357900/capsule_sm_120.jpg?t=1693047094"
                                    },
                                    {
                                        "internalName": "99WAVESTODIE",
                                        "title": "99 Waves to Die",
                                        "metacriticLink": "/game/99-waves-to-die/",
                                        "dealID": "kBAYgli1GlGg%2Bzs6Tu%2FAZHTpxskZkEOwS4UKXrtKPRM%3D",
                                        "storeID": "1",
                                        "gameID": "107511",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "76",
                                        "steamRatingCount": "55",
                                        "steamAppID": "360600",
                                        "releaseDate": 1394668800,
                                        "lastChange": 1699564907,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/360600/capsule_sm_120.jpg?t=1686136262"
                                    },
                                    {
                                        "internalName": "THELOSTBATTALIONALLOUTWARFARE",
                                        "title": "The Lost Battalion: All Out Warfare",
                                        "metacriticLink": "/game/the-lost-battalion-all-out-warfare/",
                                        "dealID": "1v0EvMdi%2FHFLHyUSlX7s5r%2BsjlLVt%2FB9xiFQqsqVp9g%3D",
                                        "storeID": "1",
                                        "gameID": "143376",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "50",
                                        "steamRatingCount": "62",
                                        "steamAppID": "364890",
                                        "releaseDate": 1429747200,
                                        "lastChange": 1700607811,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/364890/capsule_sm_120.jpg?t=1696715773"
                                    },
                                    {
                                        "internalName": "LORDOFTHEDARKCASTLE",
                                        "title": "Lord of the Dark Castle",
                                        "metacriticLink": "/game/lord-of-the-dark-castle/",
                                        "dealID": "4xKbXqS8NftMik0Jjv2oWNGnFaMYUxMYE6FmHhcEUYE%3D",
                                        "storeID": "1",
                                        "gameID": "143390",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "84",
                                        "steamAppID": "349460",
                                        "releaseDate": 1429833600,
                                        "lastChange": 1700604523,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/349460/capsule_sm_120.jpg?t=1693953863"
                                    },
                                    {
                                        "internalName": "DWARVENBRAWLBROS",
                                        "title": "Dwarven Brawl Bros",
                                        "metacriticLink": "/game/dwarven-brawl-bros/",
                                        "dealID": "2QbHuA7JKhhh94ECN%2Fa6m%2B7N3feMpYofFOFbDXy8yPM%3D",
                                        "storeID": "1",
                                        "gameID": "143227",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "76",
                                        "steamRatingCount": "30",
                                        "steamAppID": "367260",
                                        "releaseDate": 1430611200,
                                        "lastChange": 1700607280,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/367260/capsule_sm_120.jpg?t=1450807707"
                                    },
                                    {
                                        "internalName": "APOLLO4X",
                                        "title": "Apollo4x",
                                        "metacriticLink": "/game/apollo4x/",
                                        "dealID": "Jqs7RDBGWKRI2r7X%2FOWZp49WO1n%2Bvd7B0Z5WlNVtbtE%3D",
                                        "storeID": "1",
                                        "gameID": "143701",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "40",
                                        "steamRatingCount": "35",
                                        "steamAppID": "365420",
                                        "releaseDate": 1430784000,
                                        "lastChange": 1700607778,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/365420/capsule_sm_120.jpg?t=1685192456"
                                    },
                                    {
                                        "internalName": "SPOKOANDPOKO",
                                        "title": "Spoko and Poko",
                                        "metacriticLink": "/game/spoko-and-poko/",
                                        "dealID": "pfx32LQzAGJRvb5KXe9uatMON9YVM%2FVYKWPyLN8ftiQ%3D",
                                        "storeID": "1",
                                        "gameID": "143816",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "34",
                                        "steamAppID": "365400",
                                        "releaseDate": 1431302400,
                                        "lastChange": 1700607285,
                                        "dealRating": "0.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/365400/capsule_sm_120.jpg?t=1633954668"
                                    }
[...]
