{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Online server URL of the 'Random User Generator' REST API."
        }
    ],
    "paths": {
        "/api": {
            "get": {
                "summary": "Retrieves data at the path /api.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "any"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'password'.",
                        "schema": {
                            "type": "string",
                            "example": "upper"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter ''.",
                        "schema": {
                            "type": "boolean"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[{\"gender\":\"female\",\"name\":{\"title\":\"Mrs\",\"first\":\"Lotty\",\"last\":\"Van der Roest\"},\"location\":{\"street\":{\"number\":740,\"name\":\"Adolf van Nieuwenaarlaan\"},\"city\":\"Stroobos\",\"state\":\"Noord-Holland\",\"country\":\"Netherlands\",\"postcode\":\"0758 XB\",\"coordinates\":{\"latitude\":\"30.2050\",\"longitude\":\"2.9491\"},\"timezone\":{\"offset\":\"+3:00\",\"description\":\"Baghdad, Riyadh, Moscow, St. Petersburg\"}},\"email\":\"lotty.vanderroest@example.com\",\"login\":{\"uuid\":\"8ca810c9-b423-42fc-94b7-11d63caf5806\",\"username\":\"heavybutterfly199\",\"password\":\"pink\",\"salt\":\"shmh9W1s\",\"md5\":\"77f657f5f9f7508a671d625baae68791\",\"sha1\":\"ba324ca4caf4a37e62d78096ec7b2a68adc6bcaa\",\"sha256\":\"7317c120b494b1fce9517b03cda2392ea2297baf1590c19c8eb1c9fc44ac7905\"},\"dob\":{\"date\":\"1992-04-01T15:27:58.348Z\",\"age\":34},\"registered\":{\"date\":\"2010-06-22T16:33:33.183Z\",\"age\":15},\"phone\":\"(0874) 405952\",\"cell\":\"(06) 32946980\",\"id\":{\"name\":\"BSN\",\"value\":\"67130227\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/20.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/20.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/20.jpg\"},\"nat\":\"NL\"}],\"info\":{\"seed\":\"a073dc677cdc09a8\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/registered": {
            "get": {
                "summary": "Retrieves data at the path /api/registered.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "password",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'password'.",
                        "schema": {
                            "type": "string",
                            "example": "upper"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiRegistered",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/users/format": {
            "get": {
                "summary": "Retrieves data at the path /api/users/format.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiUsersFormat",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/users/noinfo": {
            "get": {
                "summary": "Retrieves data at the path /api/users/noinfo.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiUsersNoinfo",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/page/{page}": {
            "get": {
                "summary": "Retrieves data at the path /api/page/{page}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "digits",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'digits'.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "location"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPage{page}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/nat/{nationality}": {
            "get": {
                "summary": "Retrieves data at the path /api/nat/{nationality}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "digits",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'digits'.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNat{nationality}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/format/{format}": {
            "get": {
                "summary": "Retrieves data at the path /api/format/{format}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "digits",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'digits'.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiFormat{format}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/password/{spec}": {
            "get": {
                "summary": "Retrieves data at the path /api/password/{spec}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "digits",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'digits'.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPassword{spec}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/portraits/men/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /portraits/men/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getPortraitsMen{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "\ufffd\ufffd\ufffd\ufffd\u0000\u0010JFIF\u0000\u0001\u0001\u0001\u0000H\u0000H\u0000\u0000\ufffd\ufffd\u0002\ufffdICC_PROFILE\u0000\u0001\u0001\u0000\u0000\u0002\ufffdlcms\u00040\u0000\u0000mntrRGB XYZ \u0007\ufffd\u0000\u0005\u0000\b\u0000\u000e\u0000\u001a\u0000(acspAPPL\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\ufffd\ufffd\u0000\u0001\u0000\u0000\u0000\u0000\ufffd-lcms\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u000bdesc\u0000\u0000\u0001\b\u0000\u0000\u00008cprt\u0000\u0000\u0001@\u0000\u0000\u0000Nwtpt\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014chad\u0000\u0000\u0001\ufffd\u0000\u0000\u0000,rXYZ\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014bXYZ\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014gXYZ\u0000\u0000\u0001\ufffd\u0000\u0000\u0000\u0014rTRC\u0000\u0000\u0002\f\u0000\u0000\u0000 gTRC\u0000\u0000\u0002,\u0000\u0000\u0000 bTRC\u0000\u0000\u0002L\u0000\u0000\u0000 chrm\u0000\u0000\u0002l\u0000\u0000\u0000$mluc\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0000\u0000\u0000\fenUS\u0000\u0000\u0000\u001c\u0000\u0000\u0000\u001c\u0000s\u0000R\u0000G\u0000B\u0000 \u0000b\u0000u\u0000i\u0000l\u0000t\u0000-\u0000i\u0000n\u0000\u0000mluc\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0000\u0000\u0000\fenUS\u0000\u0000\u00002\u0000\u0000\u0000\u001c\u0000N\u0000o\u0000 \u0000c\u0000o\u0000p\u0000y\u0000r\u0000i\u0000g\u0000h\u0000t\u0000,\u0000 \u0000u\u0000s\u0000e\u0000 \u0000f\u0000r\u0000e\u0000e\u0000l\u0000y\u0000\u0000\u0000\u0000XYZ \u0000\u0000\u0000\u0000\u0000\u0000\ufffd\ufffd\u0000\u0001\u0000\u0000\u0000\u0000\ufffd-sf32\u0000\u0000\u0000\u0000\u0000\u0001\fJ\u0000\u0000\u0005\ufffd\ufffd\ufffd\ufffd*\u0000\u0000\u0007\ufffd\u0000\u0000\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000\u0000\u0003\ufffd\u0000\u0000\ufffd\ufffdXYZ \u0000\u0000\u0000\u0000\u0000\u0000o\ufffd\u0000\u00008\ufffd\u0000\u0000\u0003\ufffdXYZ \u0000\u0000\u0000\u0000\u0000\u0000$\ufffd\u0000\u0000\u000f\ufffd\u0000\u0000\ufffd\ufffdXYZ \u0000\u0000\u0000\u0000\u0000\u0000b\ufffd\u0000\u0000\ufffd\ufffd\u0000\u0000\u0018\ufffdpara\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0002ff\u0000\u0000\ufffd\u0000\u0000\rY\u0000\u0000\u0013\ufffd\u0000\u0000\n[para\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0002ff\u0000\u0000\ufffd\u0000\u0000\rY\u0000\u0000\u0013\ufffd\u0000\u0000\n[para\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0002ff\u0000\u0000\ufffd\u0000\u0000\rY\u0000\u0000\u0013\ufffd\u0000\u0000\n[chrm\u0000\u0000\u0000\u0000\u0000\u0003\u0000\u0000\u0000\u0000\ufffd\ufffd\u0000\u0000T{\u0000\u0000L\ufffd\u0000\u0000\ufffd\ufffd\u0000\u0000&f\u0000\u0000\u000f\\\ufffd\ufffd\u0000C\u0000\b\u0006\u0006\u0007\u0006\u0005\b\u0007\u0007\u0007\t\t\b\n\f\u0014\r\f\u000b\u000b\f\u0019\u0012\u0013\u000f\u0014\u001d\u001a\u001f\u001e\u001d\u001a\u001c\u001c $.' \",#\u001c\u001c(7),01444\u001f'9=82<.342\ufffd\ufffd\u0000C\u0001\t\t\t\f\u000b\f\u0018\r\r\u00182!\u001c!22222222222222222222222222222222222222222222222222\ufffd\ufffd\u0000\u0011\b\u0000\ufffd\u0000\ufffd\u0003\u0001\"\u0000\u0002\u0011\u0001\u0003\u0011\u0001\ufffd\ufffd\u0000\u001b\u0000\u0000\u0002\u0003\u0001\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0003\u0005\u0002\u0004\u0006\u0007\u0001\u0000\ufffd\ufffd\u00009\u0010\u0000\u0002\u0001\u0002\u0005\u0002\u0004\u0004\u0004\u0006\u0001\u0004\u0003\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0011\u0000\u0005\u0012!1AQ\u0006\u0013aq\"2\ufffd\ufffd\u0007\u0014\ufffd\ufffd\u0015#B\ufffd\ufffd\ufffdRb\ufffd\ufffd\ufffd\u0017$3\ufffd\ufffd\u0000\u001a\u0001\u0000\u0003\u0001\u0001\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0000\u0005\u0006\ufffd\ufffd\u0000+\u0011\u0000\u0002\u0002\u0001\u0003\u0002\u0005\u0002\u0007\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0011\u0003\u0004\u0012!1A\u0005\u0013\"2Qa\ufffd\u0014q\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000\f\u0003\u0001\u0000\u0002\u0011\u0003\u0011\u0000?\u0000\ufffd\ufffdKL\ufffdjJ\ufffdw\ufffd}\u0005\u0238\ufffd\ufffd8\ufffd\ufffd|\ufffdF/%\ufffdR\b\ufffd\ufffdij\fmb\u0469\u0000|\u0001A\u001f_\\\bK\u001cl\u001a\u0018\ufffdI\u0000\ufffd\ufffd\ufffd\ufffd\ufffd8\u031bB\ufffd:\u032bi&\ufffd\ufffdD\u000e*Sydf\u0017\ufffd\ufffd@$\u000f\ufffd\ufffd-m\ufffd\ufffd\ufffd\u0013\ufffdgzx\ufffdvg\ufffdZ\u02ee\ufffd\ufffd\nG\ufffd\u007f\ufffd\u0017\u0099\ufffd\u0011,\u0014\ufffd\ufffd\u001a\ufffd\ufffd\u001d \u001e\ufffd\u071e\ufffdm\ufffd\ufffd\u0004\ufffd\ufffdd\ufffd\u0014Y\u0016#k\ufffdc\ufffd\ufffdn:\ufffd\ufffd\ufffdP3\ufffd\ufffd[9\ufffd\ufffd\ufffd\ufffd\n\ufffdZaR\ufffd\ufffd\ufffdf\ufffd`\ufffd\u05bd:\ufffd\ufffd\ufffda\ufffd6I\ufffdSV\ufffdKQ\u001b\ufffd\ufffdi\u0002\ufffd\r\ufffdM\ufffd\ufffd\ufffd\u0004\ufffd\ufffdw\ufffd \ufffd;\ufffd!\ufffd\ufffd\u0006(\ufffdB\u0015#$\u000b0$\u0017+\ufffd\ufffd\ufffd\ufffd\u0002\ufffd1\ufffd\ufffdsj\n\\\ufffd\ufffd\u0003!\ufffd\u001c\ufffd\ufffd\ufffd1\ufffd\b\ufffd5\ufffd\u000b\ufffdX~\ufffdb\u042a\ufffd\u0019\u001dv\ufffd\u05fe\u0621\ufffd\ufffd\u001dV]4\r\ufffd\ufffd!!\"p\ufffd\ufffd\ufffd=\ufffd\ufffdB\ufffd\ufffd\u000f-\ufffd\ufffd\u0018H\ufffd\u0015a\ufffdC)\u001aF\ufffdr\u000flr\u007f\u0014\ufffd\ufffd\ufffd\\\ufffdfz\ufffd*%\ufffdZ3\ufffd]@;\u001d\ufffd\ufffd\ufffd\u03c8\ufffd\ufffd\ufffd)j\ufffd\ufffd3\ufffdZ\u001d\uf866Q\ufffdA\ufffdXn\ufffd\u076f\ufffd\ufffdU\ufffd\u0005*\u0005\ufffd\f\ufffdR\u0000\ufffd_\ufffd\ufffd\ufffd\ufffd^l\ufffd\ufffd\ufffdR<\ufffd\ufffd[,\ufffdr\u05fd\ufffdc\ufffd\ufffd?\ufffd\u0329\ufffdX\ufffdC\u001d\u0001X\u001f\ufffd\u0003\ufffd=\ufffd9.l;~\u0002\ufffdf2\ufffdFv\ufffd\ufffd4\ufffd]\ufffd\ufffd]D\ufffd@\ufffd\ufffdo\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0014\ufffd\ufffd\u0017\ufffd(\ufffd\ufffdh\ufffdF\u0011\ufffdiR\u001d\ufffdcu#\ufffd.\u0001\u0006\ufffd6\u001d\ufffd\ufffd\ufffd\ufffd\u050d\ufffdU\ufffd\u0016\ufffd\ufffdO\ufffd\u0010\ufffd\ufffdO\u0018\ufffd\ufffd\ufffdf\ufffd\u0393L%6-\ufffd\ufffd\ufffd|[\u071e\ufffd\ufffd\ufffd\ufffd\u0005Et\ufffd\ufffd\ufffdt\ufffd\ufffd|,\ufffd|\r\ufffd\u0005\ufffd\ufffd\ufffd\b\u0016\u07ee\u062e\ufffd\u0005\u0012\ufffd\ufffd\ufffd\ufffd\u0002\ufffd-\ufffd\ufffd\ufffd3\ufffd2\ufffd\ufffd\ufffd\ufffdo\ufffdj\ufffdK\ufffd\ufffd\ufffd\ufffdK\u0006}v\u0006\ufffd\ufffd\ufffd\ufffd\ufffd\u00b3\ufffd\u001et>o\ufffd\ufffdL\ufffd\u0420n;X{\ufffdP\ufffd\ufffdki,x \ufffd\ufffdlT\u00122\u000f\ufffd\ufffd\ufffdlt\r\ufffd\ufffd\ufffd\ufffd\u0010\ufffd\":\ufffd\rf\ufffd9\u009cU\ufffd\ufffdR\u0012\"om\ufffd.\u007fLY\ufffdz\ufffd\ufffdG \u0001t\ufffd\ufffd\ufffd\u04f7\u001f_\ufffd\u0007\ufffd\u0003RT%[D\ufffd\u0013\rI!\ufffd\u040d\ufffd~\ufffd\ufffd\u0019J\ufffdrG\u0010\ufffd\ufffd\ufffdu\ufffd\b\ufffd\ufffd\ufffd7\ufffd\ufffdq\ufffd`b\u0016`h\ufffd \ufffdM#\ufffd\ufffd\ufffd\ufffd\u001d\ufffd\u0000\ufffd\ufffd\u001fB\ufffd\ufffd8`\ufffd\u0003\ufffd\u0017\ufffd<\ufffdyuzBdB\ufffd\ufffdU\u0000?(<\ufffd\r\ufffd\u001b\ufffd\ufffdNe\ufffd\ufffd\u001cKSN\ufffdi\ufffd\u0010\ufffdX\ufffd\ufffd\ufffd\u0000\ufffdo\ud024\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdpW\r\ufffd\ufffdi\ufffd@\ufffd\u0003\ufffd\ufffd\ufffd\ufffdId \u0010\ufffd\ufffd\u06d3\ud2f2\u00174\ufffdC\ufffdm;\ufffd\ufffd\u001e\ufffd\ufffd\ufffd\u0015\u0504\u0643 b\ufffdD\ufffd9\u001bi\ufffd\u00b9\u0018\ufffd.\ufffd\t-\u0141\ufffd\u0018\ufffd\u001c\u0015\u0019\ufffdx\ufffd\u0014\ufffdt\ufffdm\ufffd\ufffddI/#2\ufffd\ufffd&\ufffd$\u007fQ\ufffdm\"\ufffd\ufffdawr\ufffd-\ufffd\ufffd\ufffd\ufffd=\ufffd4\ufffd\ufffd'$\ufffd\u0429\ufffd\ufffd`~\ufffd\ufffd\ufffd\ufffdW:\ufffdeD\ufffd\ufffd\ufffdN\ufffdG\ufffdc\ufffd\ufffd\u007f\ufffd%I+\ufffd\ufffdH\u0006\ufffd\ufffd};a^D\ufffd\ufffd&\ufffdq\u0015x\ufffd\"*\ufffd\ufffd\ufffd\u001ad\u0003u#\ufffd\ufffd\u0004\ufffdloN\u001d\ufffd\ufffd \ufffd\ufffdllF\ufffd\ufffd\ufffd\u04e6:\uf23c\rEO\ufffd\ufffdUA\u0002\ufffdTK\ufffd\u0000\u0016\u0004\u000eF9T\ufffd\ufffdM?\ufffd\ufffd\ufffd\ufffd|A\ufffd\ufffdw\u00a7b\ufffd\u0014TJ\ufffd!j\u0016\u001b\ufffd\ufffdQ\ufffd\u0001\ufffd \u001b\ufffd\ufffd^\ufffd\ufffd\u0004\ufffd\u0014\ufffdSfP/\ufffd\u007f\ufffd\ufffd\u0018\ufffdb\u06cb\ufffd{\ufffd=\ufffd7}r\ufffd\ufffd\u0007A\ufffd\ufffd\ufffdq\ufffdI\u0010T\"\u0012\ufffd\u0001s{\ufffd\ufffd\ufffd\ufffd\u001f\ufffd\ufffd\u0003\ufffd\ufffd\ufffdZ\ufffd8*\ufffd\ufffd1\ufffd\ufffdKi;\ufffdd'\u0236\ufffd\u0005?_|\u000b\ufffd\ufffdp\ufffdCMN\u001aC:\u0000\u0001\ufffd\ufffdkl\u0007?\ufffd\ufffdc\u0650\ufffd\ufffd\ufffdR\ufffd.|\ufffd\ufffd\u001e\ufffd\ufffd\u0007\ufffd\ufffd\ufffd\u000f8LY\u001eNo\ufffdq\ufffd\ufffd\ufffd\ufffd\u0014\ufffdfg\ufffdK\u0012\u0287p\ufffd8\ufffd\u001f}\ufffdP1\ufffdUJ\ufffd\"\u00110\ufffd\u0005c\ufffda\ufffd\ufffd\u0005\ufffdie|\ufffd\ufffd \ufffd)*\ufffd\ufffd)'\ufffd\ufffd(\u001667\ufffd\ufffd\u000beC\u0014Ky\u0019uX]\u001a\ufffd\ufffd\ufffd\ufffd~\ufffd\ufffdD\ufffdQ8P^\ufffd\u0013\ufffd\ufffd'\ufffd\ufffd\ufffd\u00be98GM\tb\ufffd[\ufffd#{\ufffd\u0167\u0005!\ufffd\ufffd\ufffda\u001e\ufffd\ufffd\ufffd\ufffd\u01a7\ufffd%\u0014zT\ufffd2\u0003s\ufffd\u0013\ufffd,\ufffd\ufffd\ufffd -\ufffd\bV\u001c\ufffdGO\ufffd\b\ufffdQ\ufffdD\ufffdUb?\ufffd\ufffdH\u06aaj\u0664\u0000!\ufffd\ufffd\ufffd\u000e\ufffd\ufffd\u03de\ufffdS/\ufffd\ufffd\ufffd\f\ufffdZ\ufffdh\ufffdKc1\u1f35\ufffd\ufffd\ufffd\ufffdE)sRu\b\ufffd\ufffd\ufffd\u0000[\ufffd8_>K]4\ufffd\ufffd\ufffd,\u000b\u007f\ufffd\u0617q\ufffdb\ufffd\ufffd\ufffd\ufffdj*\ufffd\ufffd\ufffd\ufffd\ufffd/\ufffd\u0012\ufffd\ufffd(]=\u0005\ufffd\ufffd\u007f\ufffd\u0015\u001dQ\ufffdU\ufffd\ufffdR\ufffd\ufffdqK\ufffd^\u00192RU\u001a\u8030\ufffdA\ufffd1\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd$+N\ufffd\u0000X\ufffd\ufffdpOA\ufffd\ufffdUeZtud\ufffdU\ufffdQI\u00155R\ufffdm\ufffd\u06bd\ufffd\u00c4nj+!e\ufffd\ufffd\r\ufffd\ufffd\ufffd\ufffd\u0000\u0703\ufffdFIA%ML&\\\ufffd\ufffd\ufffd\b\ufffd\u0003u\ufffdc\ufffdq^\ufffd\ufffdP\ufffd\ufffd\ufffd\u0004`F\ufffd\ufffdk\u0013\ufffd\u0015\u0006\ufffds\ufffd\u0723l\u03da\ufffd-\ufffd\ufffd_4\ufffdm\ufffd\ufffd\ufffd\ufffd\u000b\ufffd\ufffd\u0178h\ufffd\u001ec\ufffd\u0010y r/\ufffd\ufffd-E4Q\ufffd\u001c\ufffdY\u060b1\ufffd?\ufffd\ufffd\u0000x\u0013\ufffdkf\bT/\ufffd\ufffd\ufffd-K<\u7549\b\u0011\ufffdP\u0306\ufffd\u00000\ufffd;{\ufffdQ\ufffd\n\ufffd\ufffd<\ufffdZ\ufffd\ufffd\ufffd\ufffd}\ufffdg\ufffdFr\u0019\ufffd,E\ufffd\ufffd\ufffdX!dB\ufffd\b\ufffd\ufffd\ufffdW\ufffd\ufffd\u0007y\ufffd\ufffd\u001c\ufffd%\ufffd#\u0002\u001af\u042e\"\nV\ufffd\ufffd7#\ufffd\ufffd\u0085\ufffdjPbUE\ufffd\ufffdF\ufffd\u0016\u00166:\ufffd\ufffd\ufffd\ufffd1\ufffd\ufffd\ufffd\ufffd\u046dG\ufffd\u001dcb.\u001a\u070e\u000f\ufffd\bjW\ufffd\u000e\ufffd\buT\u0005A\ufffd\ufffdX\ufffd\ufffd\ufffd\ufffd\u061d\ufffd+\u0017h\ufffdg\ufffd\ufffd\ufffdi\u0019\ufffd\ufffd\t=\ufffd,}\ufffd\ufffd\ufffd\ufffd\u4494\ufffd\ufffd#/%N\ufffd{\u0010y\ufffd\ufffd<\ufffd/\ufffd\ufffd\ufffd1\u001c\ufffd\ufffdK\u0004%n\ufffd\ufffd\u0000\ufffd\u00cb\ufffd\ufffds\ufffd\ufffd\ufffd\b4\ufffdQ4V\ufffd\ufffdf\ufffd\u0000\ufffd\ufffd]\ufffd\u0000l\u0019\ufffd5n\ufffd\ufffdm0\ufffdR3}\ufffd_k\u06f7\ufffd\ufffd\ufffd\ufffd\"\ufffd\u02eb\"\ufffd\u001dJy[q\ufffda\ufffd\u0017\ufffd\ufffd*\ufffd[\ufffdI\ufffd\ufffdV \u0000\ufffd\ufffd\ufffd\ufffd\ufffda\u16ba6\ufffd\ufffd3\ufffd\r\ufffd\ufffd\u0007\ufffd\ufffd\u0007\ufffd\u07c7\ufffdZ\u0015ai\u0637\ufffd\rGE\u0015E4K\ufffd\ufffd\ufffddQ\ufffdrw\ufffd\u001aw\u00112k(\ufffd\u001b\ufffdh\u0016\ufffd{\ufffd;i.\n\ufffd \ufffd.~\ufffd\u000e%\ufffdX\ufffdDb\ufffdq\ufffd\ufffd'\u001a\ufffd\ufffdb\ufffd\ufffds\ufffd\ufffd\f+ r\ufffd\ufffd\ufffdw\ufffdb$De1\ufffd\ufffd[u7\u0006\ufffd\u0018\u0006\ufffdk \ufffd\ufffd'\ufffd#\ufffdB\u0306[\ufffd\ufffd\ufffda\ufffdQKO\ufffdP\ufffdl\ufffd\ufffdy/\ufffd\ufffd\ufffdb}o\ufffd:\ufffd\ufffd\ufffdK<\u0010\ufffdWB\ufffd\ufffd\ufffd\ufffd\fsf\ufffd\ufffd\u0011\u0012&W\ufffdZ\u07aa\ufffd\ufffd\ufffd\ufffdN`\ufffdaFV-\ufffd\ufffdq\ufffdi\u0016Ji\ufffd@\ufffdG\ufffd\ufffdv\u0003Kj\u0004\ufffd\u0017\ufffdE\u0018\ufffdITY\rD\ufffd\ufffd\ufffd\u0014\ufffd\ufffd_\ufffd\ufffd8u\ufffd:\ufffd\ufffd\u0017\u0000[\ufffd\ufffd?[a\ufffd\ufffdh\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u001c\ufffdR\u0677\ufffdk\u001e\r\ufffd\ufffda\u001f\ufffd\ufffd\ufffd\\\ufffd\ufffdv\ufffd m\ufffdqbZ\ufffd\ufffdW\ufffd\ufffd\ufffdU\ufffd\ufffd\ufffd.\ufffd\ufffd\ufffd\ufffdm\ufffd\ufffdH\ufffd\ufffd\ufffdyQ\ufffd\ufffdf\ufffd\u000f\ufffd$j\u0018X\ufd7e\ufffd\ufffd\ufffd\u000eE\ufffdZ\ufffd$\u000eO\ufffdLyw\ufffd\ufffd@\u0003j\u001f6\ufffd\ufffd\ufffd\ufffdXS-D:\ufffd\ufffd[\u0005\u075bn\ufffd\ufffd\u000b\u000b\u00022\ufffd\ufffd\ufffd\u0012\ufffd<\ufffd\ufffdCjM\ufffd(\ufffd\u001f\ufffdw\ufffd\u04d5-<\ufffd\ufffd\ufffdp\n\ufffd\ufffd\u001e\ufffd4\ufffdl\\Z\ufffd%:%\ufffd\u0015\u0002\ufffdS\u001d\ufffd\ufffd\ufffdK\u001d\ufffdR\ufffd\ufffd\ufffd?1\ufffd\u0000\u001d6\ufffd\ufffd\ufffd\ufffd\ufffdc}\ufffd\ufffd\ufffd=\ufffd\ufffd\ufffd\ufffd\u0005.\ufffd\u0011\u0004B\ufffd4\ufffd\ufffd'\ufffd\u0016\ufffda\ufffd\ufffd\u0019\ufffdS\ufffd\ufffd\ufffd\u0012R9\u0003\u0015\u0003\ufffd6\ufffdn\u0703\ufffd\ufffd\ufffdJ\ufffd\u0010+\ufffd$g}K\ufffdkrnx>\ufffdb\ufffd\ufffdZu\u0011\ufffd\u0016f\u0007\ufffd\ufffdl\u0007\ufffd\ufffd\ufffd\ufffd\ufffd\u000b\u0016\u04f6\"\ufffdN\ufffd\u0621\ufffdzM\ufffd<\ufffd\ufffd\ufffd\u0005\ufffd\ufffdo\ufffd\u0001~@\ufffd\ufffd\ufffds\ufffd\ufffd\u0000\ufffd\ufffdV`X\ufffd\ufffd$*\u0129n4\ufffd\ufffd\ufffd\ufffd\ufffd}\ufffdy9\ufffd\ufffd\ufffdX\ufffdDU\u0004\ufffd-f\ufffd{\ufffd\ufffd\ufffd&\ufffd\ufffd\ufffdd\ufffd\t\u0019\ufffd\ufffd\ufffd\u0016\ufffd\ufffd\ufffd\u0000\ufffd\\is}M)\ufffd\ufffd\ufffdg5\ufffdU\t\ufffd\ufffdf\ufffdG\ufffd)2\ufffd\u0015\ufffd\u0001m\ufffd\ufffd8\ufffd-4\u0019\ufffdI\ufffd3\ufffdQp\u0011\ufffd\ufffd\ufffd\ufffd|!\u0010E?\ufffdK4\ufffd\ufffd5Oy\u0000\ufffdYW\ufffd\ufffd[\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdh3\u000f\ufffd\u0000h\ufffd\ufffdp\u001do\ufffd\ufffd\ufffd\u03c2\u0632&4\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u00174\ufffd\ufffd\ufffd\ucffe\ufffda\u0016U\ufffdU\u0132\u001ayi\ufffdHe\ufffd\u03f1\u001dy\ufffd\ufffdh\ufffd\ufffd\u0002\ufffdJ!a\u04406\u01d5>%\u02e9\ufffd\ufffd\u0015RO\u0000\ufffd\ufffdz\ufffd\u0006\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd+\ufffd:\ufffdB\ufffd\ufffdp\ufffd\u02df\ufffd\u04b1\ufffd]b\ufffd\ufffd\u000b_\ufffd\ufffd\ufffd\ufffd\n\ufffd\ufffd6\ufffd\ufffdD\ufffdm&\ufffdx\ufffd\ufffd \ufffdG\u0501\ufffd`o\ufffd\u0017\ufffd\ufffdWd h*<\ufffd\ufffd\u0685\ufffd\u04e8\ufffd\u0000\u0018\u01deM:<\ufffdT\ufffdTN\u0011+\ufffdb\u0016\ufffd\ufffdR\ufffdi\u001b\ufffd\ufffd\ufffdj\ufffdM\u000eQJ\u001d\ufffd\u001a\ufffd\ufffd6\ufffds\ufffd\u000b\t\ufffdY\u0002\ufffd\ufffdd\u001f\ufffd\ufffdOC\ufffd\ufffd\u0148\ufffd\ufffd\ufffdK\u0007\ufffd\ufffd.\ufffd\ufffd\ufffdqnx\ufffd\u0015\ufffd\u0013\ufffd\ufffd\ufffd!\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd}p9j<\ufffd\ufffd\ufffd2X&\ufffd\ufffd:\ufffd\ufffd\ufffd\u01cf)\ufffdD\ufffd\ufffd\ufffdY\u0018\ufffd\ufffd\ufffd\u001f^\ufffd\ufffd\ufffd\u001a\ufffd%\ufffd\ufffd)\ufffd\u0290\r\u0001\ufffd\rM\ufffd\ufffdH\ufffda\ufffd\u0000\ufffdR\n\u0772\ufffd\ufffd\ufffd\u0013\"4\ufffdT\u0015\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdk\ufffd\ufffd\ufffd\u000b\ufffd\ufffd\ufffdUY\ufffdV\ufffdF\ufffd[\ufffdw\ufffd\ufffd\ufffd\ufffd\u0000\ufffd\ufffd\ufffd\ufffdR2\ufffdw\ufffd\ufffd\u0013U\ufffdv\ufffd\u01e7\ufffd\ufffd\u001cq\ufffdF\u0481N^;\ufffd\ufffd[6\ufffd\ufffd\u0007a\ufffd\ufffd\ufffd\ufffd49$\ufffd*\ufffd'E\ufffd\ufffd\ufffd\ufffd\ufffdND\ufffd\u0012\ufffdA\u74fe\ufffd\ufffdn>\ufffd\ufffd\ufffd\ufffdO3'\ufffd\ufffd\ufffd\ufffd\r\ufffd\u0007\ufffdx\u0017\ufffd\ufffd\u00faq\u000e\ufffd4\ufffd$`5I\u0019P\u037e\ufffdw\\\u0015<\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\\\ufffdE\ufffd\ufffd\ufffd\u0006\ufffd\u077a\ufffde\ufffd\ufffd\u001d\u0005r\ufffd\u0010\ufffd\ufffd<\ufffd-\ufffd\ufffd\ufffd\u02b3\ufffd}\u0003k\ufffd6$_\ufffd\u0798\fUs\ufffd\ufffdy\ufffd\ufffdo5\u0019\ufffdm\ufffd\ufffd\ufffd\ufffd%feF\u0016JV\ufffd\ufffdf\ufffd\ufffd6\ufffd \ufffdm\ufffd\u03d9y\ufffd#\u0011\ufffd\"\ufffd\ufffd2\ufffdo\ufffd\ufffd<7Q\ufffd)\ufffd\u0017\u0514\ufffdv5\ufffd\u00051\ufffd0\ufffdR\u0015\ufffd#Vo1\ufffd\ufffdSp;u<t\ufffd3\ufffd\u0000\u000f\ufffdfLL\ufffd\ufffd\ufffd*\ubc7e\u0018x[1\ufffd\ufffd&\ufffd\ufffd\u0015Yab\u0018\r\ufffdsp\u007f\ufffd\u063dZ\ufffd\ufffd\ufffd\ufffdr\ufffd\ufffdI\ufffd\ufffd\ufffd\ufffd\u040f\ufffd\ufffd\ufffd\ufffd&\ufffd3\b\ufffd\ufffd\u001dYs{]\ufffd\ufffdk\ufffdxE\u5a0ej\ufffd\ufffd[\u001b\ufffd\ufffd`=O\u007fl?\ufffd\ufffd\ufffd((\ufffdH8s\ufffdBR0.\r\ufffd\ufffd\u000e\ufffdW\u02c8J\ufffd\u0011\ufffd\u001c\ufffd\u0003LN\ufffdv\ufffd\ufffd\u0006\ufffd|f\ufffd\ufffd\ufffdQ*i\ufffd1d\ufffdv#\ufffd\ufffd{cU\ufffd\ufffd\ufffdW\ufffd\ufffd&\ufffd\ufffd\ufffd@c\ufffd\u000f.\ufffd~\u071cs\ufffd\ufffdeE\u001ez\u0019T|]\u0001\ufffd\ufffd\ufffd\ufffd\ufffd\ufffde\ufffdA\ufffd\u001fc\u0006\ufffdQSC\ufffd`\ufffd\ufffdA%\ufffd!\ufffd\ufffd\ufffdt\ufffd0z\ufffd<\ufffd\u00056*u0\ubfe8\u001b\ufffd\ufffd\ufffd\u0003\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdj\ufffd\ufffdoucbN\u05b5\ufffdb\ufffd\ufffd\u001b\ufffd\u019f\ufffdly\ufffd1d\ufffd-\ufffd\ufffd\u0010\ufffd\ufffd\ufffd\u001fUI\u0017\ufffdE4\ufffd2\u0010]T0BN\u06aex\ufffd\ufffdn1\ufffda\u01951J\u02ab\ufffd\ufffd\u0007\ufffd\u00185\ufffd\ufffdm\ufffd\ufffd\ufffd \u06e1\ufffd\u0006\ufffd\ufffdv\ufffd=OlBi\ufffd\ufffd\ufffdN\ufffd\u0003\ufffdmq\ufffd\ufffd#l+\ufffdc6\ufffd\ufffd\ufffdfX\ufffd\ufffdB\ufffdT*\ufffd\ufffd\ufffd-\ufffd\ufffd\ufffd]\ufffd'I\ufffd*\ufffd\ufffd\ufffdAW\u0016\ufffd\u0017\ufffd\ufffd\ufffd#Q'\ufffdO&\ufffd\ufffdW\u0006\ufffdFo\u007f\u007fM\ufffd\ufffd\\\u07a1$\u0011\ufffdB\ufffd(\ufffd\ufffd\ufffd\u001e\ufffd\ufffd\ufffds\ufffd=\ufffdx\ufffd\ufffdBr\uce8dZX\ufffdQ\ufffdK\ufffd\ufffd;\ufffd\u0015\ufffd\ufffd\ufffd\u046e\ufffdL\ufffd\u0720:}\ufffd\ufffd+<\ufffd\ufffd6\ufffdT\ufffd\ufffdp\ufffd\ufffdy\ufffdc\ufffd\ufffd8\ufffdW\ufffd\ufffd\u0005\ufffd\ufffd\ufffd\u0176\ufffd\u000b\u0003\ufffd\ufffd\ufffdv%\ufffd&F'\ufffd\ufffd?LMG\ufffdc\ufffd\u000f\ufffdn\ufffd\ufffdlMW\ufffd6\ufffdl0H\ufffd\ufffd\ufffd\ufffd\"\ufffd\ufffd\u0018\ufffdH\r\ufffdy\rMM$\ufffdQO+G \ufffd\ufffd\ufffd\u0018\ufffd\ufffdx\ufffd1Q\ufffd\u049b\ufffd\ufffdH7\ufffd\ufffd\ufffd\ufffd\ufffd<\ufffd@\ufffd\u0000\ufffd\ufffd\ufffd\ufffd\u001b\ufffd\u0019\ufffd\ufffd\ufffd{\ufffdl:\ufffd\ufffd\ufffd\ufffd[?\ufffd\ufffd\ufffd\ufffdTuR\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdt\ufffd\u050d\u001d,\u0012K)\u0016\f\ufffd\u0000\n\ufffd~\ufffd\ufffd-<w\ufffdU\ufffd\ufffd\u0006\u0011\u0001\ufffd\uf330\ufffd\ufffd)\ufffd\u4f35\ufffd\u001a\ufffd\u001a\ufffd\ufffdz\ufffd\ufffd\ufffdU\ufffd\\\ufffd\ufffdt\u0003\ufffd\u001d\ufffd\u001b3\ufffd\ufffd\ufffd<\u06fe*\u053b\u0002\ufffdN\ufffd:\u0531]\ufffd\ufffd\ufffd\u001e\ufffd\"\ufffd\ufffd\ufffd\u001c\ufffd\ufffd,\ufffd\u001c\ufffdMBkR5\u001b\u0003m\ufffd\ufffdd\ufffd\f\ufffd\ufffd\u0012H\ufffd\u007f\u05f6\u0011\ufffd]\ufffd\ufffd\ufffd\ufffd\ufffd\ucc95\ufffdo]\ufffdZO\ufffd(qK\\\ufffd\u0011\ufffd\ufffd)v6\ufffd\ufffdXq\ufffd\ufffdUt\ufffd:m)W\u0004j\u0010\ufffdK\u000fO\ufffd\u00198\ufffdL \ufffdU\u0565/k\ufffd8g\u0003\ufffd\u001b\ufffd@\u0000\u001b\u000bw\ufffdMV\ufffd\u001e\ufffd5.\u001a\ufffd\u0018\ufffd\ufffd\ufffd*&KZ\u0012\ufffdqpo\ufffd\u0089U\u001d\ufffd\ufffd@X\ufffd\u007f\ufffd=\ufffd\ufffdT\ufffdo\ufffd\ufffd\u0000\ufffd\ufffd\u001f\\T.vd\ufffd\ufffd\ufffd\ufffd\ufffdp}\ufffd5B1\ufffd\u0015\b\ufffd@\ufffd\u0770W\u0010\ufffd\ufffd-\ufffd\ufffdb/\u07ee#\u0012\ufffd\ufffd\u0001\u007f\ufffd&\ufffd\ufffd\ufffd\u0000\ufffd\u0012r\u001b\u007f\ufffd=\ufffd]O+\ufffd\ufffd\ufffd\ufffd\ufffd?\ufffd\ufffd\ufffd\ufffd\u0001\ufffd\ufffd\ufffd\ufffd|\ufffdz\ufffdJ\nj\ufffd\ufffd\u0001\ufffd\ufffdi\r\ufffdp\u0000\ufffd{\ufffdj<-\ufffd}\ufffd\ufffdQf\ufffd\u0000\ufffd\ufffd:\ufffd\ufffdI)h\ufffd)\u000e\ufffduK\ufffd\u0016\ufffd\ufffd#\ufffdpjO\u001fd\ufffd&_\u001c\ufffdO\ufffd\u0018\ufffd\u00e4emcN\ufffdumF\ufffd\ufffd\ufffd\ufffdw\ufffd1\ufffd\ufffd\ufffdB\ufffd\ufffd\\\ufffdCI\r\ufffd\u76a1\ufffd\ufffd\t\ufffd]W\ufffd\u001f(\u001a\ufffd\ufffd|`r\ufffddN\ufffd\ufffd\u0015K\u0012\ufffdC\ufffdx7*\ufffd\u007f\f*g\ufffd\ufffd\ufffd\ufffdDw\ufffd\ufffdT.\ufffdO\ufffd8\ufffdRxUj2&\ufffdy\ufffd\u05bco==0\u0003\ufffd\ufffd%\ufffd\u001e\ufffdv\u014c\ufffd\ufffd\ufffd\ufffd\ufffdM[\ufffd\ufffd\ufffd\ufffdMeh\ufffd\ufffdP\ufffd\ufffd\u05b2\u0001\ufffd\u0000\ufffd_\ufffd\u0002_\u001bf)\ufffd\ufffdR\ufffd$\ufffd4\ufffd\ufffdU\u001aB\ufffdm \ufffd|C,5\ufffd\u0015\ufffd\ufffd\u06f7\ufffd\ufffdJE\ufffd_\ufffd\ufffd\ufffd|1\ufffd\ufffd,\ufffd\u00f5\ufffd\ufffde]Z%4\ufffd/*\ufffd\ufffdJ\ufffd\bS{s\ufffdX\ufffdq\ufffdw[\u001c\u045c\ufffd\u07ba\u0019iER#\ufffd\ufffd1[\u060d\u0007\ufffd.>\ufffd`YW\ufffd\u0017'\ufffdiCA\ufffd\ufffdW\ufffdV\t\ufffd\ufffd;\u0015D\ufffd\ufffds\ufffd\ufffd\ufffd7\ufffd\ufffd\u0011x\ufffd*\ufffd\ufffd\ufffdy\ufffd\u0015\ufffd5tPG\ufffd\ufffd\ufffdm\u0012\u0007\u0017\u0004t\ufffd\ufffd\ufffd\u0017\u07e8\ufffd/\ufffd\u007f\u0549\ufffd\u001e\u04dfU\ufffd\ufffdG\"2\ufffd\ufffd,\ufffd,A\ufffdF+\ufffd:lq\ufffd\ufffdO\ufffd\ufffd\ufffd\u0015\ufffdFV !\u0004(\u0007IPE\ufffd\ufffd{_\ufffd\u0018\ufffd6\ufffd\u074a[\ufffd\ufffdBJ\ufffdG\ufffd\ufffd\ufffd\ufffd:\ufffdu\u000b\ufffd`\ufffdA\ufffd\ufffd\ufffd\u001b\ufffd\ufffd\ufffdL\ufffd\ufffdw\ufffd\ufffd\ufffdXbP\u0536\ufffd\ufffdx\ufffd(,\ufffdKT\t\ufffdW\ufffd\ufffdRkG\ufffd\ufffd\u0013\ufffd\ufffd/\ufffdy\ufffd6\u001f\ufffd\ufffd"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/portraits/women/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /portraits/women/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getPortraitsWomen{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "\ufffd\ufffd\ufffd\ufffd\u0000\u0010JFIF\u0000\u0001\u0001\u0001\u0000H\u0000H\u0000\u0000\ufffd\ufffd\u0000C\u0000\u0003\u0002\u0002\u0002\u0002\u0002\u0003\u0002\u0002\u0002\u0003\u0003\u0003\u0003\u0004\u0006\u0004\u0004\u0004\u0004\u0004\b\u0006\u0006\u0005\u0006\t\b\n\n\t\b\t\t\n\f\u000f\f\n\u000b\u000e\u000b\t\t\r\u0011\r\u000e\u000f\u0010\u0010\u0011\u0010\n\f\u0012\u0013\u0012\u0010\u0013\u000f\u0010\u0010\u0010\ufffd\ufffd\u0000C\u0001\u0003\u0003\u0003\u0004\u0003\u0004\b\u0004\u0004\b\u0010\u000b\t\u000b\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\u0010\ufffd\ufffd\u0000\u0011\b\u0000\ufffd\u0000\ufffd\u0003\u0001\"\u0000\u0002\u0011\u0001\u0003\u0011\u0001\ufffd\ufffd\u0000\u001d\u0000\u0000\u0001\u0005\u0001\u0001\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\b\u0004\u0005\u0006\u0007\t\u0003\u0001\u0002\u0000\ufffd\ufffd\u0000?\u0010\u0000\u0001\u0003\u0002\u0005\u0002\u0003\u0005\u0005\u0006\u0005\u0004\u0003\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0005\u0011\u0000\u0006\u0007\u0012!\u00131\b\"A\u0014Qaq\ufffd#$2\ufffd\ufffd\u001534B\ufffd\ufffd\u0016Rbr\ufffd\t\u0017\ufffd\ufffdc\ufffd\ufffd\ufffd\ufffd\u0000\u001a\u0001\u0000\u0002\u0003\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0004\u0005\u0001\u0002\u0003\u0000\u0006\ufffd\ufffd\u00000\u0011\u0000\u0001\u0003\u0004\u0001\u0002\u0003\u0007\u0003\u0005\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0000\u0002\u0011\u0003\u0004!1\u0012\u0013A\u0005Qa\"2q\ufffd\ufffd\ufffd\ufffd\u0014\ufffd\ufffd\u0015#B\ufffd\ufffd\ufffd\ufffd\u0000\f\u0003\u0001\u0000\u0002\u0011\u0003\u0011\u0000?\u0000\u040a\ufffd>\ufffd\ufffd\u00b8\t\ufffd\ufffd~X\ufffdTG\ufffd\b\ufffd\ufffdT\u0004\ufffd\ufffd?,\u0014v\ufffd\t\ufffdx\ufffd\ufffd\u0287\ufffd\ufffd\ufffd\u0089\u034d\ufffd\ufffd[w\ufffd\ufffd\ufffd\ufffd\ufffd%\u0004\u000f\u0647\u000bh\ufffd\ufffd\ufffd\u007f,&[v\ufffd\ufffd\ufffd\ni\ufffdC\u0011\u0012\ufffd\ufffd$$\\\ufffd\ufffd1\u0128\ufffd\ufffd\ufffd\ufffd\u00fd<%1\ufffd\ufffd8\ufffdI\ufffd\ufffd\u01fd\u0007J'?\ufffd\ufffd\ufffd,Vs\u001d\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd>\ufffd\ufffd~5\ufffd.\u0000\ufffd\ufffd3\ufffd\ufffd\ufffd[]\ufffdm|\ufffd\u001a\ufffd\ufffd\ufffd\ufffd$(\ufffd;jJ\ufffd\ufffd^\ufffd\ufffdZ!\b\u001f\u00001\ufffd\ufffd\ufffda\u0012\ufffdw;'\u000bp\ufffd$\ufffd\ufffdq\ufffd\ufffd]\ufffd\ufffdv=\ufffd\u0019\ufffd:\u049dsk\ufffdP'\ufffd\ufffd\u0019,\ufffd\ufffdw\ufffd\ufffd&z\ufffd\u06a9*\u0014\ufffd\ufffdN\u0290\ufffd\ufffd\ufffd\u001d\ufffdT\ufffd\ufffd<w\u0018\ufffd\ufffd?\ufffd,\ufffdL}3\ufffd\ufffd\\\ufffd\ufffdw=\u001eR\ufffd\ufffd=A6\u0007\ufffdM\ufffd\u001b\u0018[\u000b'\u001d\u001c\ufffd4\ufffd\ufffd^'\ufffd\ufffd:\u06faN)\ufffd1\ufffd?\ufffdu,\ufffd\u0001o\ufffdu`\ufffd\u0003\u0019g\ufffd\ufffd\ufffdi\ufffd\u001f\ufffd.v\ufffdK\ufffd\u0005\ufffd\bP\ufffd\ufffd\ufffd6k\ufffd\u0104+\u9e91\ufffd\u0004\ufffd\ufffd\ufffd\ufffd\u0003\ufffdN\u001a*m\ufffd\ufffd\u03f9\ufffd\ufffdp\ufffdI\u0003\ufffd@\ufffdQ\ufffdeY\ufffd\u001d\u001cvp\u007f\\_\ufffd\ufffdI\u0016\ufffd\u053f\ufffdF!\ufffd4y\ufffd6\ufffdq\ufffdq5JwR\ufffd\ufffd\u0018\ufffd\ufffdQ\ufffdO\ufffd\ufffd$\ufffdr\ufffdT\ufffdx\ufffd\u0098\u0003\ufffdI\ufffdc\ufffdD}\ufffdXS\u0000}\ufffd?,X\ufffdH&\ufffd\ufffd\ufffd\ufffd\u0356a#\n\ufffd\u0014\ufffd\ufffdM!{\u0019\n\u0018\ufffd\ufffdw\ufffd\ufffd\ufffd\u001e\ufffd\u05b96\ufffd\ufffd\ufffd;\ufffd\ufffd]\u0018\ufffd\ufffd,\ufffd\ufffd\ufffdEu\ufffd7\u001d\ufffd+\ufffd\u0019\ufffd\bS\ufffd\ufffd\u001e\ufffd#\ufffd\ufffd:\ufffd?\ufffd2\ufffd\ufffd\\wb\u001aIqg\ufffd$ro\ufffd\u0018\ufffd-i\u052a\ufffd\ufffdj\ufffdb\u03959Ky\ufffd%\ufffd\ufffd%G\ufffd5\ufffd\ufffd@\u001e\ufffd\ufffd\ufffd\ufffdaY\ufffd\u001b(\ufffdjA\ufffdN\ufffdo\ufffdS\ufffdNz\ufffd\u000f\ufffd\ufffdT)uY\ufffd\ufffd\ufffd\ufffd\u001ee\u0012\ufffd}\ufffdQ\ufffd\ufffd{\ufffd\fO\ufffd\ufffd\u0003\ufffd\ufffdyr*\ufffd7P\ufffd\u007f;\ufffdSD\ufffd\u000eH\ufffd+\ufffd\u0003#\ufffd\ufffd\ufffd>%I\ufffd\ufffd\u0013\ufffd\ufffd\u0000|}e<\ufffd\ufffdJ~A6\u0018.)\ufffd\ufffd\u0019-\ufffd\ufffd\ufffd\ufffde]#\ufffd \ufffd|\ufffdd3K\ufffd3\ufffd\u0018)\ufffdT9Y/\ufffd\ufffd\u000f\ufffd\ufffd\ufffd\ufffdh\u000e\ufffd\u001d.oQq\u0016)s\ufffd\ufffd\ufffd\u0007\ufffd\u0011\ufffd\rI\ufffd}TA\ufffd#\ufffd\ufffd\ufffd\u0326\ufffd\u0538=\u0002\u01e7\ufffd\u07cd\u000f\ufffdY\ufffd\ufffd\ufffd\ufffd.^x\ufffd\ufffd#\ufffdcOQ` \u0002\u000f\ufffd\ufffdf\ufffdM\ufffd\ufffd&-jB\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u000fU\u000b\u0001\ufffd$\f\u0013B\ufffd\ufffd\ufffd\u001c\u0010\ufffd6\u0089\u0005\ufffd\ufffdT\ufffd\ufffdP\ufffd\r\ufffdjQ\u001e[/6\ufffd\ufffd\u0016\ufffde!@\ufffdGnpx\ufffds\ufffd\u01f3\ufffd9\u0014\ufffd\ufffd\ufffd\ufffdE\ufffd\ufffd\ufffd\ufffdvY\u0002\u06c7\ufffd\ufffd\ufffd\u0019\ufffd\nk\ufffd\ufffd\f\ufffd\ufffd\ufffdp\ufffd\ufffd\ufffd \ufffd\ufffd\ufffd\ufffd\ufffdKN\ufffd\ufffd\u073d..g\ufffdu\u001bS\u000bOY\ufffd\ufffd\u001b\u001e\u00148\ufffd\ufffd,\u068e\ufffd\ufffd\u001aX\u0522\u06c6A\ufffd\ufffd\f\ufffd\ufffdmei\u0001A\\\ufffd\u07dcq\ufffd&\ufffd?\u0005\u0003\ufffd\ufffd=\ufffdy\ufffd\ufffd\ufffd)\ufffd\ufffd!H\ufffd\ufffd\ufffd\ufffd\ufffdxRT\u0001\u001f[bIX)^\ufffd\ufffd8n\ufffdrl\ufffd>\ufffd\ufffdt)\u001ca\ufffd\ufffd?\u0648\ufffdY\ufffd/\ufffd\u0018\ufffd@\ufffdSG\ufffd1\u001b\ufffd'\ufffdO\ufffd\u0017\uca1f\ufffd\ufffd\ufffd^\u0014A\u001fsO\ufffd\u001cf\ufffd\u0019x\ufffd\u0007\ufffd\ufffd\u001f\fX\ufffdJE<\ufffd\ufffdp\ufffd\ufffd0\u008a\ufffd\ufffd\f!\ufffd\ufffd\u0220^\ufffd\ufffd\ufffdb\u0017\u001d\ufffd\ufffd\ufffd7\ufffd!\ufffd:r\ufffdQ\ufffd%k\ufffdf(\ufffd2\ufffd\ufffd\ufffdf\u000f\ufffdk?\ufffd%[R>\u0007\u074c\ufffd\ufffd\u00872\ufffd\u001a\u0004\ufffd\ufffd\ufffde\u01cfU\ufffd\u0001RRO+Q\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000S\u001a$\ufffd\ufffdF_\ufffd1f%\ufffde\ufffd0\ufffdr\ufffd\ufffd\ufffd%[\ufffd\u06fe\ufffdT9\ufffd\ufffd-\ub063\ufffd\u019a3\ufffdy\ufffdM&b\ufffd\u0167\ufffd\ufffd\u001d\u074a\ufffd?\ufffd\ufffde\ufffdP\ufffd\ufffd\u001e\ufffd\u0745\u001e\ufffd\u00164m\u0015\ufffd\u0019\ufffd\ufffdj<\ufffd:\ufffd\u0015\u0011e\ufffd\ufffd\u0006]`+\ufffd\ufffddy\u0017\ufffd@-\u0000\ufffdw\u0016\ufffd\u0c0b\ufffd)p\u0012\ufffd\u0013e\ufffd\ufffd\u000b\ufffd{\ufffd\tI\ufffd\ufffd\t\ufffd\ufffdE)2\ufffd\ufffdM\ufffd\ufffdU\ufffd+\ufffd\ufffd$5n\ufffd\r\ufffd \\\ufffd(\u0000\u000b\ufffd\u0347|\u0014\ufffd\ufffd\ufffdR\u007f\ufffdS\u0014\ufffdY\n\ufffd\u001e\"\u0007P\ufffd\u001c*]\ufffd\u02b1\ufffd\ufffd\ufffd\u001b\ufffd\ufffd\u001eT\ufffd\ufffd;Ih\f\ufffd\ufffdS\ufffdt\ufffd\ufffd3\ufffdA\ufffde\u0619\ufffd\ufffd!rb\ufffd\ufffd\u07f5\ufffdM\u0230\ufffd\ufffd|d5R\u0014\ufffd=F\ufffdA\ufffd\ufffd)\ufffd8\ufffd(\ufffdt\ufffd\u007f\ufffdl\u001dY\u0017%j\ufffd\ufffd\ufffd\n\ufffdo,\ufffd\u000e\ufffd\ufffd\ufffd,\u0015B\ufffd\ufffd\f\ufffd\ufffd\u00ed\ufffd Z\ufffdq\ufffd\ufffdE\ufffd\ufffd\u0018kuA\ufffd\ufffd\ufffd3\u03c5ND\u0010\u47a0a)\u0694\u0002\ufffdqoO_\ufffd\u0006\u0440\ufffd\u001d\ufffd]t\ufffd\ufffd\u03d1\ufffd\ufffdX\ufffd\ufffdS\u0019\ufffd\ufffd\ufffd5a\ufffd\u0002\ufffd\ufffd\u0000Q\ufffd(y\ufffd\ufffdgB\u000b\ufffd+M\ufffdo\ufffd*\ufffdA\ufffd\u0000\ufffdc\ufffd\ufffd:\ufffdj\ufffdXbq\u001beDp2\ufffdH\ufffdi\ucbd7o\ufffd\u7225V%;\ufffdJ\ufffdE\ufffd%*q\ufffd\ufffd\ufffd\ufffd\n?\"\b?\\\u0010\ufffdp \ufffd\ufffd\u000b\u001c\bZu\ufffdcS\ufffdf|\ufffd\ufffd\u001a<\ufffd\ufffdU5\ufffd!\ufffd;,q`\ufffd=A\ufffd\ufffdm\ufffd\u0015\ufffdA\ufffd\ufffdA\ufffd\ufffd\ufffdc\ufffd\ufffd\ufffd]QNN\ufffd:uR,\ufffd2\ufffd\\K2\ufffdy\ufffd\u0095\ufffd\ufffd\ufffdO\ufffd\ufffd\ufffd\u0014z\ufffd*\ufffdVgC\ufffd\ufffdb\ufffdi\u000f2\ufffd$\ufffdhP\u0005*\u0007\ufffd\u007f\ufffd\u000b\ufffd\ufffd-\ufffd{%w\ufffd8\ufffd\ufffd\ufffdV\ufffd(\ue9a7\ufffd\ufffd\ufffd\ufffdS\ufffdV\u001f(j\u000b\ufffd\ufffd\ufffd\ufffdn\u0019\ua27aV0wd\ufffd;\ufffd\ufffd\u0019xQ\u000b\ufffdD\ufffd\ufffd\ufffdQ\ufffdu\ufffd?\ufffd\u0013\ufffd\u014e\u0524\ufffd\u001e\ufffd\u0011\ufffd\ufffdSj\ufffd\ufffd\ufffdU\ufffd7D8\ufffdyC\ufffd\ufffd\ufffd\ufffd\ufffd\u0112\ufffd\ufffd\ufffd\u0000Wk\ufffd\ufffd\u000eL\ufffd2\ufffd\ufffd\ufffd)\ufffd\ufffdY\u0002\ufffdug\ufffd\u0012=I\ufffd\ufffd\ufffdb\ufffd<ZJ\ufffd[.\u0001d\ufffd\u0000\ufffd\u001f\u0010\ufffd5%\ufffdq\ufffd\ufffdo^WVC\ufffd\u001b\ufffd\ufffd\ufffd\ufffd \u007f\ufffd\b\u0004\ufffd\ufffd\ufffd'\ufffdp\ufffd\ufffd\u02abOc:f\u001b\u0010\u0016\ufffdH\ufffdB~#x?\ufffd\u0015\u0006\ufffdB\ufffdK\ufffdJ\ufffd(N\ufffd0Q%G\ufffd\u0017\ufffd4\ufffd\u001b\ufffdn\ufffdkp/\ufffd\ufffd$>\u001e\ufffdG\ufffd\ufffd\ufffd\"\ufffd\ufffd\ufffd;\"\t\u0000\ufffd\ufffdM\ufffd\u0000\ufffd\ufffd\ufffd\ufffd\ufffd\u001c\ufffd=\ufffd\ufffd+\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdZ\ufffd5OQ\ufffd6\ufffd5\ufffd\ufffd\ufffd\ufffd\ufffdiq@\u000bz\ufffd\ufffdJ\ufffd\ufffd!**\u001ea\ufffdd0\ufffd\u0001\nl\ufffd$\ufffd\u9007L\ufffd-e\ufffd\ufffd~\ufffd\ufffd\u007f\ufffd\ufffd+\ufffdP\ufffd\u0012\ufffdy\ufffdV\ufffd\u001b\ufffd\ufffd\ufffd\ufffd\u0014\ufffd5\ufffd~\ufffd\ufffd\ufffde\u001a\ufffd\u0014\ufffd\ufffd\ufffd\ufffd\ufffd`\u0007rM\ufffd\u000f\ufffd\ufffd\ufffd%\ufffda\u0001z+\ufffd7\ufffdj\ufffdc\ufffd\ufffdZ\ufffdD\ufffd\u0368\ufffd\ufffdl%\ufffd\ufffd^\ufffd\u0000q\ufffdZ\ufffd\ufffdgf|\ufffdP\ufffd\u0434\ufffd\ufffdZ>\u0017\ufffdlj6\ufffdf\u0013\u0013!\ufffd,\ufffdP\ufffd\u0011\ufffd\ufffd\u0604\u06d0q\ufffd\ufffd\ufffd\ufffdG]V\ufffd\u001aD\ufffd\u0002\ufffd\ufffd7\ufffd{\ufffdx\ufffd\ufffd\ufffd\u001a\ufffd?\ufffd\\y%\ufffd,\u0002\ufffd$\ufffdS^W1\ufffd\ufffd\ufffd4\ufffd\ufffd\u0017v\ufffd\u0004\ufffd\u0014\ufffd8?\ufffd\ufffdVb\f&\ufffd\rKJ\ufffd\ufffd\ufffd\ufffdHGqpA\ufffd\ufffd\ufffdq\ufffd\ufffd=%\ufffd\ufffd\t\ufffds\ufffdKqa|\ufffd\ufffd\u0007\ufffdc\ufffd\ufffdK0\ufffd\ufffdSQ\u000e\ufffd[h\ufffdwGyG\ufffd\ufffd\u0016\b2\ufffdT\ufffd\u0013\ufffd\n\ufffdE\ufffd\ufffd\u0016dKKsK$mSj\ufffdU\ufffd\ufffdG\u00f8\ufffd\ufffdEt\u0007\\\ufffdQ[\ufffdKi\u0014\ufffd0\ufffd\u00184\ufffd;\ufffd\ufffdJE\ufffd\ufffd6\ufffdZ\ufffd\ufffdG\ufffd\u0019f\ufffd\ufffdr\ufffdF,j\ufffd}\ufffd\ufffd\bV\ufffd\u0004\ufffd\ufffd\ufffd\ufffd8\ufffdtw5Wr\ufffdv\ufffdQ\ufffdnJ\u001b\ufffd\ufffd\ufffd\ufffdu\ufffd\u0015\u000e\u0002O\ufffd%7\u0016\ufffd\ufffd5\ufffd\ufffd\ufffd!\ufffd\u03b3x\ufffd\ufffd9\"bf\ufffd\u001bZTA\t\ufffd\u0007\ufffd\ufffd\u001a\ufffd\ufffdc\ufffdV\ufffdg\ufffd\u0006w\ufffd\ufffd\ufffdB~OE\nS.!\ufffd\u0014\ufffd\ufffd'\ufffd\ufffd\ufffd\ufffd\u001fLM\ufffd$+y\u0007\f\ufffdy4\u0014\ufffd\ufffd-t\u0014\ufffd+\ufffd\u000b\ufffdaDO\ufffdS\ufffd\ufffdi*\ufffd\u0005aLS\ufffdd\ufffd\ufffd\ufffd\ufffd\ufffdy\u0016\ufffd\u0000\u001f\ufffd\ufffdO\ufffdL\u0759\ufffdZ[\ufffd\ufffd\ufffdx\ufffdF\"\u001f\ufffdIAGVD\ufffd\ufffdR\ufffd\tR\ufffd\ufffd\ufffdK&\ufffd\ufffdJ%G\ufffdl\u001d\ufffd\ufffd\ufffdO\ufffdQ\ufffd\ufffd*\ufffd\ufffd\u001a\r=\ufffd\u0252\ufffd6\ufffd\u0012T\ufffd~@\ufffd%\ufffdB\ufffdzVe\ufffd\ufffd\u05a3\ufffd%URh\u0015\ufffd\u000bv|\ufffd\u0010V\ufffd\f\ufffd\ufffdj\ufffd\ufffd\ufffdn_\ufffd!@yo\ufffdn_\u0170\ufffd\ufffd\ufffd\\\ufffdCu>\ufffd=\ufffd\bEA\ufffd4\ufffd\ufffd\ufffd$\u0015*\ufffd\u0000hM\ufffdq\u070f\ufffd\u0018\ufffd\ufffd~N\u03d03(QxD|\u0015m\ufffd<\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u012b\ufffd\ufffdmt0\ufffd/\ufffd\u001f\ufffd\ufffd~}\ufffd\ufffdfX\ufffd\ufffdM\ufffd\u00112\u001c0\u053d\ufffd\ufffd\r\ufffd\u001bS\ufffd\ufffd_\ufffd\u0001'\ufffdp\u000bO,\u001e\u98c7\u0001\ufffd`\ufffd\ufffd\u001a\u0016\ufffd\ufffd\u0016^\ufffdZ\ufffdSe\ufffd\ufffdm%\u000e\ufffd\ufffd{\ufffd\ufffd\ufffd\ufffdQ\ufffd\u0010*\ufffd\ufffd\ufffdjdTZm\ufffd\ufffd\ufffd(\ufffd\ufffd|N1\ufffd\u00e4j\ufffdS\ufffd:\ufffd.\ufffdYx7\u001c\ufffd\u0015E\ufffdKN\u0002\ufffde\ufffd\ufffdcqn~8<h\u0015\u0019\u0015X\ufffd\ufffd:L\ufffd\ufffd\ufffd\u0000\u0235*\ufffd\u0000\ufffd\u0013W`\ufffdqcr\ufffd\u04aa\ufffda\ufffd\u01e7e\ufffd\ufffd\ufffd\ufffdiR(\ufffd}\ufffd\ufffd9IK\ufffd;\u000bz\ufffd\ufffd\ufffdx\u033c\ufffd\ufffd\u007f:?\u001d;\ufffd\ufffd\ufffd,\u000f{r\u007f[cE56\u00104\ufffd\u0003h\ufffd\ufffdnp\u0001jE%\ufffd~b]I@\ufffd\n*J\ufffd\ufffd\u0007\ufffd\u0013\ufffd\ufffd!\ufffd\u0015_\u0010\ufffd4\ufffdod\ufffd'V\ufffd\nW\ufffd8\n\ufffd\ufffdT\ufffd\u0005\u0005W?ON\ufffd\ufffd\u0000\ufffdqm5'\ufffdr5I\ufffd\ufffd\ufffdV\ufffd8\ufffd\\q\u0237\ufffd\ufffd\ufffd/F\ufffd\ufffd\ufffdh\u02b3o '\ufffd\u0679\ufffdsu\u0003\ufffd\u001c\u001f\ufffd=\ufffd\u0012\ufffd\n\n\ufffd4u\u0010Q\ufffd\ufffd~}\u06c1&\u079e\ufffdn\ufffd\u0007\t3\ufffd\u0012\ufffdYE\nd\ufffd*\ufffd%HM\ufffd\ufffdRGq\ufffd\ufffd\ufffd\u0000\ufffdH\ufffdunDj\ufffd&\ufffd\u0514\ufffd\ufffd@\ufffd\ufffd\ufffdW\ufffd\ufffd\u0016Q>\ufffd\ufffdz\ufffd\b\ufffd\ufffdr\ufffd\ufffd\ufffdU6*\ufffdU;\u0005\ufffd@\ufffd\ufffda\ufffd\ufffd\ufffd\ufffdV\u0012\ufffd\u06ban\ufffd\ufffd.$\ufffd\ufffdn?#\ufffd\ufffd\ufffd\ufffd\u0004B\u0272\u04b4\u001b,\ufffd\ufffdV\ufffdP`Q\ufffd\u019dS\ufffd\ufffd\ufffd>\ufffd\ufffdo\ufffdJ*?\ufffd{\u0010\u0007\ufffd\u011c\u0016\u001aO\ufffdt\ufffdR\ufffd\ufffdS\ufffdG\ufffdV=\ufffdIC,\ufffd\u000e\ufffd%\ufffd?x\u04bb\ufffd\ufffd\u000f#\ufffd}\ufffd*\ufffd*\ufffd\u54a9./j\ufffd\u001bU\ufffd\u0012;\ufffd}\u0639|0k\ufffd\u0017/K\ufffd@\ufffd4\ufffd\ufffd\t\u0017\ufffd8\ufffd\ufffd\ufffd\ufffd+\ufffd6/\ufffdRy\ufffd\ufffd\u0016\u001e\ufffd*\u0217\ufffd\u05df\ufffd]\ufffd\u0014\ufffd2\u001c\ufffd\ufffdZ\ufffd \ufffd\ufffd\ufffd\ufffd7\ufffd\ufffd\ufffda\u001c\ufffd\ufffd'\n\u37fb\ufffd\ufffd\u000e\ufffd)\ufffd:\u0004/.\u0512\ufffd\f\ufffd\fW>\ufffd\ufffdnmGi\ufffd\ufffd\ufffd/\ufffdc-|V\u001c\ufffdN\ufffdS\ufffde\u000e\u001c\u05a9\ufffdFq\ufffd\ufffdt6\ufffdU9\ufffd\ufffd\ufffd\np\u0000\u0010\ufffd\u0015\r\ufffdh\ufffdO\ufffd4\ufffdT\ufffd\ufffd:f[\ufffd;G\ufffd\ufffdL\ufffdy\ufffd\ufffd?\ufffd\ufffd6\ufffd}\u0007~\u071e\ufffd\u0019\ufffd9J\ufffd\u0017M*/\ufffd3\u001dC8\ufffd9p_z\ufffdN\ufffdO\ufffd\ufffdKf\ufffdJp\u000f\ufffd\u0012.\ufffd1\ufffd=\ufffd|/\ufffd2CBcf\u0000\ufffd\ufffd\r\u07ed\ufffd\ufffd&7,\ufffdnb\ufffd\ufffd\ufffdMp\ufffd\ufffd\ufffd\ufffdn\ufffdZ\u0608g\u0011\b*:a\ufffdr+\ufffd\ufffd\ufffd\ufffd(\ufffd\ufffd\ufffd\ufffd>\ufffd\ufffd\ufffd,\u001c\ufffd\ufffd*\ufffd6\u0012r\ufffd\ufffd\ufffdXa\ufffd\ufffd;pK\ufffd\u001678P?\ufffd\t\ufffd\ufffd\ufffd\ufffd\ufffdi\ufffdD\ufffdP\ufffdG\ufffd1\ufffd\u0334u\u0003\ufffd:\ufffd\ufffd\ufffd\ufffd\u001eu\ufffd\ufffd\ufffd\ufffd\u0007rH\u0018\u001d\ufffd2\u00132\ufffd\ufffd\u0129_\ufffdjc\ufffd\u056a\u0492\ufffd\ufffdE\ufffd\ufffd%^\ufffds\ufffd\ufffdO\ufffd5\"\u0017\\\ufffd\u0001\ufffd\u000f\ufffd\ufffd\ufffd\ufffd9>\ufffd\ufffd4\u0019\ufffdA\ufffd\ufffd5\n\ufffdm\ufffd\ufffd\ufffd\u0279U\ufffd\u0000\ufffd\\\ufffd\n\ufffdT\ufffdOb*\u001cDx\ufffd\ufffdR\ufffd*>\ufffd\t\ufffdZ\ufffd \ufffd\ufffd\ufffd4h\ufffd9IsU1\ufffd\ufffdE\ufffd\u0010\u0015~\ufffd\u0002\ufffd\ufffdiZ\ufffdi\ufffd\ufffd\\9p8\ufffd\ufffd\ufffd\ufffd\ufffdT\ufffdFr\ufffd\ufffd\"\ufffd*;\u000e\ufffd:\ufffd\ufffd\u00c0\ufffdr6\ufffd\ufffd\ufffd\ufffd\"\ufffd\ufffd\b\uf286\ufffdQ\ufffd\ufffd\u0002*\ufffd\ufffd\ufffd*\ufffdB\ufffd\ufffd\ufffd\ufffda\u6754\ufffdR\u0017\ufffd)i\ufffd\u0010\ufffdy\ufffd'u\ufffd\ufffd\ufffdq4,k\ufffd\u07185\ufffd\ufffd\ufffd\ufffdv\u0016\u0006\ufffd\u0012\u000fx1\ufffd\ufffd\ufffd\u0001p\u001c\ufffd\ufffd\ufffd\ufffdHm}\u0007Xs\ufffd\u001c\u001f\ufffd\ufffd\u0017\u001f\u001b\u001cw\ufffdT[3\ufffdR\ufffd\u001e\ufffd\ufffd,\ufffd\ufffdHl\ufffd \ufffd\ufffd\ufffd\u007f\ufffd/<\ufffd\ufffdkU\ufffd5\ufffd+r\ufffd\u0012\ufffdiN\ufffdm\ufffd.:\u0014\u0014\ufffd6\ufffd\ufffd\ufffd\u0015%\t\ufffdy\u001e\ufffd\ufffd\ufffd\u001aF\ufffd\ufffdGV\ufffd&0a\ufffdd:R\ufffdn\u001e\ufffd\u0000\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd`9\ufffdk\ufffd\u0540\ufffd1\ufffd \ufffd\ufffdE=S}\u028fU\u0002;\ufffd\ufffd\u001c\ufffd-`<\ufffdv\u0007\u001f\ufffd\ufffd\ufffdM>\ufffd\ufffd\ufffd%\ufffd\ufffd$\ufffd\ufffd\r\u0013\ufffd\u0004|\u007f\ufffd\ufffd\f\ufffd\r\u0011\ufffd\ufffd\u0013$\u0016S \ufffd\ufffd\u007f>\ufffd\u001f\ufffd%\ufffd\ufffdE\ufffd\u001aK4\ufffd\ufffdjPJJ\ufffds~\ufffd\u007f\ufffd|g#\ufffd\ufffd\u0013\ufffd\ufffd\ufffd\u02a9\ufffdB\u0010\ufffd@\ufffdn\u0014\ufffdM\ufffd\u0007~~\ufffd\ufffd\ufffd\u0019\u0014\ufffd\ufffdq\ufffd\ufffd\ufffd\u0012\u0014\u0001\u0012\u0014\ufffd\ufffd\u0005\ufffd-a\ufffd\ufffd\ufffd\ufffd8\ufffdi\u8557\ufffd\u000bu\t4t\ufffdS'|d\ufffdt(\ufffd\u70a4\ufffd\ufffd\u037f\ufffd%\ufffd\ufffd\ufffd\u000e5\ufffd\ufffd\u056a=!\ufffd\ufffd\nQ\ufffd>\u001b#a\ufffd\ufffd\ufffd\u0000\ufffdy\ufffd\ufffd\u001cX\ufffd\u04f4\ufffd0\ufffd\ufffd\ufffd\ufffdB\ufffd7\ufffd\ufffd\u001c)m\nS\t\ufffd\ufffd\ufffdqo\uf10f\ufffd\ufffd\u0092\ufffdQ\tKe!N\u0004\u0012\ufffd{\u0013n0\ufffd\ufffd!QMA\ufffd(\ufffdfl\ufffd\ufffdc\ufffdCI+\ufffd\ufffd\ufffd\u0002J\b\ufffd\ufffd\ufffd@\u0007\ufffd\u000f\ufffd\u001cc>\ufffdT\u7335\u001e\ufffd]\ufffde\ufffd\ufffdFMn\ufffd\u0012\ufffd\u01f2\ufffdP\ufffd\u0417\ufffd\ufffd\ufffdb\ufffd\"\ufffd\ufffdC\ufffdM\ufffd0xg\ufffd\u0004\ufffd\ufffd4\ufffd\ufffdQC\ufffd\ufffd\ufffdD\ufffdX\f\ufffdS\ufffdh\ufffdJJ\ufffdF\ufffd@6\ufffd\u0340\ufffd3#W\ufffdY\ufffdS\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdR\ufffd\ufffd\ufffd\u001b\ufffd\ufffd\u0016\u0010\u0001\ufffd!*\u001cmI\u069f\ufffd(\ufffd\ufffd\u0006\u34dc\u001a\u0006\ufffd;&\u0003$\ufffd!\ufffd\ufffdH\ufffd_C\ufffd\ufffd\ufffd\ufffd\u0019\u00011\ufffd.\ufffdm[\ufffd;E\ufffd\u007f\ufffd\ufffd\ufffd\u0001Qj\ufffdS-\u018dO\ufffd\u00ebUk\ufffdF\ufffd\ufffd\ufffd7)C\b\ufffdP\ufffdn\ufffd\ufffd!EW\u001c\u0010{X\ufffd\ufffd\ufffdl\ufffd\ufffd\ufffdT'\ufffd\u0012\ufffd6Kt\ufffd\u001a\ufffd\u001a\ufffdr\u001dnk\ufffd\ufffd\u0425\ufffd\ufffd.)J;\ufffd\ufffd$\ufffd\u0003\u0013-C\u0259\">[\ufffdT\ufffdZ\ufffd\ufffdE-\ufffd\ufffd2{\u039f\ufffd\ufffd\b\ufffd\u0006]W\ufffdM\ufffdm+\u0000\ufffd\ufffd\u0011N\ufffdRgV\ufffd\ufffd=\ufffd\u0013\ufffd\ufffd\ufffd\u0010n\ufffdR\ufffdF\u0512\ufffdn@\u0010\ufffd@l\ufffd\u0013'@\ufffd`\ufffd\u0014\ufffdI\ufffd\u0515!\ufffd\ufffd\ufffd'fE\ufffd\u00167\ufffd;\u0004\ufffd\ufffd\ufffd\n\ufffd\ufffdm\u001f\ufffdKH\ufffdrJR\nnG\ufffd\ufffd\ufffd\ufffd7\ufffd\ufffd,me\ufffd\ufffd\ufffd^[e3cU\ufffd-!L\u0005\u0014\ufffd\ufffd\ufffd\ufffd)Y\ufffd@'\ufffd\ufffd`o\ufffd]$\u007f'e\u001c\ufffd2\ufffd'=N\ufffd\ufffdd%1\ufffd0\ufffdb\ufffdGa 6\ufffd\ufffd\u0017,\ufffd\ufffdQ'\ufffdw\u0013k\ufffd^\ufffd\ufffd\ufffd\rL\u02b3(\ufffd\u04ea\ufffd\u02b0\ufffd\ufffd>\u0005JC\ufffdI\ufffd\ufffd\r\ufffd\ufffd*\ufffd\u001b\ufffde\ufffd\ufffd\\\ufffd\ufffd\ufffd2\ufffd\n`\u05aa\u0458\"1\ufffd\ufffd\ufffd\ufffd\u000f\ufffd\ufffd\ufffd\ufffd\\1\ufffd-^e\ufffd\f\ufffdD\ufffd\u001c\ufffd\ufffd\ufffd\u0006 \u0012\u0000\u001e\ufffdf\u0015s\ufffd\ufffd3\ufffd\ufffdn~\ufffdN\ufffdY\ufffd\u0015\\\ufffd\ufffd\ufffd\ufffd$\ufffd!\ufffd>\ufffdN\ufffd8B[\ufffdUt\u000b\u000bX\ufffd\ufffd\u36f2&]\ufffd=Pm9\u001bN\ufffd\ufffd:\ufffd\ufffdk\ufffd\ufffd\ufffd\ufffd\ufffd<\ufffdt\u0085\ufffd\ufffd\ufffd\u000e\ufffd\ufffd\ufffdO\ufffdo\bJo\ufffd\ufffde`m\ufffd\ufffdfx\u035a\ufffd(9z\ufffd:\r6,\ufffdF\ufffdS\"\ufffd\\x\ufffd\ufffd\ufffd\u001d! %\ufffd\ufffd'yQ\ufffd\u0000\ufffd\u0370q\ufffdD\ufffd\r\u000b\ufffd\u000e\ufffd\ufffd+3\ufffd\ufffd\ufffdX[\ufffd\ufffdm\ufffd\u001c[\u03beS\ufffd\ufffd\ufffdO!W\n\bR\ufffd\ufffd)D\ufffd\ufffdggA\ufffdY\ufffdo\ufffdO\ufffd8\ufffd\ufffd}\ufffdW[\u0500\u01b7\u0004\t\u0013\u0003\ufffd\u0002q\ufffd\ufffd\ufffd\ufffd-\ufffd\ufffd?\ufffd4|\ufffd\ufffd\u0000l\ufffdY\ufffdUZ|\ufffdoS\u0005]j\ufffdY\ufffdKSn\ufffd\u02ce\ufffd\ufffd\ufffd\ufffd\u001c\b@M\ufffd\ufffd$sr\b\ufffd\ufffd:YF\ufffd4:\ufffd\ufffd\u001a4X\u065f(\u051e\ufffdT\u0748\u06ba&Ch\u0715\ufffd\u001ev8\u0002\ufffdO$\u001b\ufffd\ufffd\u0003ig\ufffdZv`\ufffd\ufffd\ufffdI\ufffd*\ufffd&\ufffdY\ufffd9\ufffd\ufffd*MQ\u001d\u0007\ufffd\ufffd\u0530T\u0018\ufffd\"\ufffdU\u0014)h\u001d\ufffd\ufffd\ufffd\u0002\ufffd\ufffd\ufffdT\ufffd\u001a\u0006mc2\ufffd\ufffd\ufffd!1*\ufffd\ufffd\ufffd\ufffd\ufffd2\ufffdZeGB\ufffde\u0515\ufffd+\ufffdT\ufffd\ufffd\u0000\u0010I\ufffd\ufffd\ufffdaZ\ufffdSpc\u0302<\ufffd/\ufffd?\ufffd\ufffduZl\r-\"O#\ufffd\ufffd>\ufffd\ufffdf\b\u000b\u000egNU^\n\u001c~\u000bQ\" \u0010\ufffd\ufffd\ufffd\ufffd\ufffdN\ufffd\\H)\ufffd\ufffd\ufffdR\ufffdL\u0528\ufffdd\u0006@\u00057 px\ufffd\ufffd\u3ba6\ufffd\u0013\ufffdu6\ufffd\ufffd*\ufffd\ufffd4\ufffd\ufffd\ufffd\tRv\\\u0013\ufffd\u0010;\u000b\ufffd\u0003\ufffd\ufffd\r*<\ufffdc\ufffd\ufffd\ufffd\u0002HC\ufffd\u06a2~#\u074f0\ufffd\ufffd\ufffdM\ufffdF&T\ufffd#1Z\ufffdZj}1-\u0150\ufffd)\u0585\ufffd\ufffd\u072e\u0015\ufffd\ufffd\ufffd\ufffd\ufffd\u30d3J\ufffd\n\ufffd@n\ufffd#\ufffd\"\n\ufffdb\u03c6\ufffdB\ufffdn.AE\ufffd;\ufffd\ufffd\ufffdU\ufffd\ufffd\ufffd\ufffd%\ufffd\u04e1L\u0014\ufffd1d\ufffd\ufffd{\ufffd \ufffd\b\ufffd\ufffd|\u001f\ufffdA\tk\ufffd\ufffdA\tK(\ufffdR\ubb64\ufffd\ufffd\ufffd\u0000\ufffd\ufffd\ufffd\u0000\ufffdv\ufffd\ufffd{E\u0001v8\ufffdE\ufffd\ufffd\ufffd\ufffd\ufffdsv\ufffd7\ufffd~\ufffd|\ufffd\u070f\ufffd\u001b\u001d\ufffdi\ufffd7K\ufffdN\ufffdL\ufffdKq\ufffd\ufffd\u0019\ufffd8\ufffdw\ufffd\u0001\ufffd~\ufffd\ufffd\ufffd\u0019\ufffd`f\ufffd\ufffd\ufffde{3<\ufffdn\ufffd\u05ba\ufffd\u04c3\ufffd2\ufffdk\u0014\ufffd\ua493\u0349\"\ufffd\ufffd\ufffd9\n \ufffd\ufffd\u0015\ufffd5\ufffd3J4\ufffd$e\ufffd\ufffd\u0016cH-N\ufffd\ufffdL}\ufffd\ufffd\ufffd%7\ufffd8[\u0794\ufffd#\ufffd_\ufffd\ufffd\u0003,\u042b\ufffd\ufffd\ufffds\u0016en\ufffd\u000e\r\t,\ufffd\u0210\ufffdojD\ufffd\ufffdR\ufffd\ufffd\b)J\ufffdI\u001b\ufffd|\ufffdrA\u03d3\u001d\ufffd\u011f\ufffd\u007f\ufffd\ufffd\ufffd5\ufffd\ufffd\ufffdL\ufffd\ufffd\u0003t3\u000e\ufffd`\ufffd\u0004\u0010L|\ufffd\ufffd\ufffd\ufffd\ufffd6^\ufffd\ufffdhT\u00185of\ufffd\ufffd_{0\u0016\u001bt}\ufffd\ufffd\u0013p\ufffd\t\ufffd\ufffdVR\ufffd\ufffd\bJJ\ufffd\ufffd\u001cE2\ufffd\"j\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0002r\ufffdfL8\ufffd\u0019Z#\ufffd\u000e\ufffd8\ufffd\ufffd\ufffdu\ufffd*\ufffd\ufffd\ufffdM\ufffd\ufffdW\ufffd2\ufffd\u001a6q\ufffdYr\ufffd\ufffd\u0015.\n\u001evCpb6\ufffd2CL,:\ufffd/\ufffd[\ufffd-\ufffd \u0001`<\ufffdy\ufffd\ufffd\ufffd\u0757 f\ufffdvq~\ufffd\u0006\ufffd)\ufffd\ufffd9n5=)S\u0012f;\ufffd\ufffdZ[\ufffdF\u0507\ufffdb\ufffd\ufffd\u0004\u0010E\ufffd9\ufffd\ufffd\ufffd\no\"'\ufffd\u001b\ufffd\ufffd\ufffd\u0000\ufffd\ufffd\ufffd74Z\ufffd\u0000\u0003\u000e\ufffd\u0005\ufffd\ufffd\u001c\ufffd\u0012b\u000b\ufffdzYY\ufffd\ufffd\ufffdC\ufffd\u0526\ufffd\ufffdh.6\ufffd=\ufffd\ufffdKC\ufffd\u0006\ufffd.\ufffd7\ufffd);\ufffd*\ufffd\ufffd76;\ufffd\ufffd\u000b5\u7307G\ufffdD\ufffdeT\ufffdj1)\ufffd\ufffdb4\ufffd4VI\ufffd\ufffdIN\ufffd%)m-\ufffdm\u0722}\ufffd\u0016\u0016d\ufffdQ\ufffd\ufffd\ufffd\ufffd\u0011\u0017\ufffd%63\ufffd:l%&r\u0004cL;\ufffd\u0016\ufffdi\ufffd{\ufffd\u0011\ufffd%@^\ufffdo\"\ufffd\u001d\ufffd0S\u0662G\ufffd\u0019pF\ufffd\u02d9]n\ufffd5\ufffd\ufffd\ufffd\ufffd\ufffdXlt\u001e]\ufffdqA{\u05a4!@n\u0695\u0003|\u0015\u0527V\ufffd\ufffd\ufffd&w\ufffd\ufffd\ufffdT}\ufffd\ufffd\u001bW\ufffdx\ufffd\ufffdc\u0000\ufffd[\ufffd\ufffd)<\ufffd\ufffd\ufffdF\ufffd\ufffd\ufffd\ufffd\ufffdTi2\ufffdn\ufffdfW\ufffdm=.\u000bsr\ufffdF\ufffd\ufffd\ufffd\ufffd\u0012\u0010\u0016\ufffd\ufffd\ufffd\u001d\ufffdH\ufffdp\ufffd\ufffd\u001d2\ufffd\u0611\ufffd\ufffd\u0006\ufffd\ufffdSt\ufffdYW5N\ufffd\ufffd\u001d\ufffd1\ufffd\ufffdR\ufffdJ\u000b}\u0680ZS\ufffdQ\u0016\tRB\u0013\ufffdm\u0005;\u0012-\ufffd\u0013\ufffd(\u0219Z\ufffd\ufffd\ufffd\ufffd>vZjM\ufffd\u0001\ufffd\ufffd\u0014\ufffda\ufffd\ufffd\ufffdJ\u058bp\ufffd,\ufffd[\ufffd\u0005\ufffd\ufffd\ufffd\u0018\u001a\ufffdEh\ufffdm\u02acS\ufffdFX\ufffdQ\ufffd?\ufffd\u001b\by\ufffdC\ufffdb{,H\ufffd\u05c0;.\ufffd\u76e8\u0014U\ufffd\ufffd\ufffd\ufffd1j\ufffd\u0019M\ufffdu DA\u01dc\ubda7\ufffd\ufffd#p\ufffd\ufffd\ufffd\u0756\ufffdP\ufffd\ufffd\ufffd2\ufffd\ufffd\ufffd\ufffd$\ufffd\u001b\ufffd73\ufffd\ufffd3.v\ufffd\ufffd)\ufffd\u0715\ufffd\u0019F\ufffd\ufffd`\ufffd\ufffd\u0015\ufffd\ufffd\ufffd8\ufffdRlE\ufffd\u001c\ufffdZQ'\ufffd\ufffd(\ufffdlE\ufffd\u0016eoT\ufffd>D\ufffdh\u0010\ufffdCq\ufffdCbUQ\ufffd:\rA\ufffd\ufffdt\u0012\ufffd\ufffd|\u0010F\u0482T;\ufffd@ \ufffdA\ufffd-P\ufffd\ufffd\ufffd!f6\ufffd\ufffdN\ufffd/3R\ufffd\u045e\ufffd4*\ufffd0\u0017\ufffd\ufffd[KH.)e\ufffd\ufffd\ufffd\ufffd\ufffd\n\u0017\ufffd\ufffd.UH\ufffd\ufffd&\ufffd\u0006\ufffd\ufffd\ufffdc\ufffdbnp\ufffd\ufffd\ufffd\u0004\"3\ufffd\u0013]i\ufffd\ufffdi\u000b\ufffdP\u0012\ufffd\ufffd\ufffd\ufffdx\ufffd\ufffd\ufffdCjW\ufffd\u0005W\ufffdy\ufffd}>\ufffdn\ufffd\u0000\u000f\ufffd\ufffdC\ufffd:Ue\ufffd\ufffd.\ufffdI%\u06c0\ufffd{.\ufffd|g2<YPfQu\ufffdu7\u0018[\ufffd\ufffd\u0011\u0019\ufffdw\ufffdR\u000e\ufffd\ufffdJ\ufffd)>\ufffd\ufffd\b6\ufffd\ufffd\ufffd|C!\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdhq\u050d\ufffdR|\ufffdm\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdM\ufffd\u0000\ufffd\n\ufffd\ufffd\ufffd\ufffd\ue658iu\t;\ufffdD\ufffde\ufffd\ufffd\u0017\ufffdC\ufffdR\u000f\u0003b\ufffd\ufffd\u0015\ufffd\ufffd'\ufffd\u00036VnT)\ufffd\ufffd\ufffd\ufffdKN!L\ufffd\u0001\\\u00056\ufffd\ufffdq\u0007\ufffdA@\ufffd\ufffd\ufffd[\ufffd5\u001cV\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000_\ufffd\ufffd+\u000f%\ufffd\ufffdcu'N\ufffd\u0014\u000bjH\ufffd\ufffd\b<\u0011\ufffd\u001c\u000b\ufffd\u0000\ufffd\u000f\ufffd!Z&Q\ufffd[z\ufffd0\ufffd\u0014\r\ufffd[\ufffd6\ufffd\ufffd\u0005M\ufffd\u07f3\ufffd1^\ufffd)\ufffd\u001d\ufffd\ufffd\u031fg\u0016J\u0012\ufffd\u0004\ufffd\"\u071b\ufffd\u007f~\u000f\ufffd\u0013\ufffd\ufffd\ufffdK\ufffd\ufffdI\ufffd\ufffd\u0012V|\ufffd@\ufffd%^\ufffd\ufffd\ufffd\u0019[\u0013%\r~\u0004\u0005\ufffd\ufffd"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/portraits/lego/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /portraits/lego/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getPortraitsLego{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "\ufffd\ufffd\ufffd\ufffd\u0000\u0010JFIF\u0000\u0001\u0001\u0001\u0000H\u0000H\u0000\u0000\ufffd\ufffd\u0000C\u0000\u0003\u0002\u0002\u0003\u0002\u0002\u0003\u0003\u0003\u0003\u0004\u0003\u0003\u0004\u0005\b\u0005\u0005\u0004\u0004\u0005\n\u0007\u0007\u0006\b\f\n\f\f\u000b\n\u000b\u000b\r\u000e\u0012\u0010\r\u000e\u0011\u000e\u000b\u000b\u0010\u0016\u0010\u0011\u0013\u0014\u0015\u0015\u0015\f\u000f\u0017\u0018\u0016\u0014\u0018\u0012\u0014\u0015\u0014\ufffd\ufffd\u0000C\u0001\u0003\u0004\u0004\u0005\u0004\u0005\t\u0005\u0005\t\u0014\r\u000b\r\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\ufffd\ufffd\u0000\u0011\b\u0001^\u0001^\u0003\u0001\u0011\u0000\u0002\u0011\u0001\u0003\u0011\u0001\ufffd\ufffd\u0000\u001d\u0000\u0000\u0001\u0003\u0005\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t\ufffd\ufffd\u0000V\u0010\u0000\u0001\u0003\u0003\u0002\u0004\u0003\u0003\u0007\u0007\u0004\u000e\u0007\t\u0000\u0000\u0001\u0000\u0002\u0003\u0004\u0005\u0011\u0006!\u0007\u00121A\u0013Qa\b\"q\u0014\u0015#2\ufffd\ufffd\ufffdBRb\ufffd\ufffd\ufffd\ufffd\t\u0016r\ufffd\u0017$%35e\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdDSstu\ufffd\ufffd47CUcd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000\u001c\u0001\u0001\u0000\u0002\u0002\u0003\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\ufffd\ufffd\u00008\u0011\u0001\u0000\u0001\u0003\u0003\u0002\u0004\u0004\u0003\u0006\u0006\u0003\u0001\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0011\u0004!1\u0005\u0012\u0006\u0013AQ\u0014\"2q34a\u0015BR\ufffd\ufffd\ufffd\u0016#$\ufffd\ufffd\ufffd5S\ufffd\ufffd\ufffd\ufffd\u0000\f\u0003\u0001\u0000\u0002\u0011\u0003\u0011\u0000?\u0000\ufffdM\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u00105\ufffd\b\u001a\ufffdC[\ufffd\\\u001a\u0006\ufffd6A\ufffd\u07b8\ufffd\ufffdt\ufffdsnZ\ufffd\ufffdG#FLs\\\"k\ufffd\ufffd\ufffde\u0006-p\ufffd\ufffd\ufffdu\ufffd\u0173j\ufffdW\u0011\ufffd\ufffdC4\ufffd\ufffd\ufffdaQ\ufffdk\ufffd\ufffd\u000b\ufffdQ\u0010\u001b\ufffd\ufffd\ufffd?\ufffdv\u02af\ufffd\u001adB}\ufffd8T\u0000\ufffd\ufffdU\u001c\ufffd\u0000\ufffd*v\ufffd\u000012\u001c\ufffdl\ufffd\u0014:NS\ufffdj#\u0018\ufffd3\ufffd\ufffd8\ufffd#L\ufffd\ufffd\u001fkN\u0013\ufffd\ufffd\ufffd\u066c \ufffd\u01fdE-D#\ufffd|`&FKn\ufffd\u000e\ufffd\u0722\ufffd]i\ufffd\u001e\ufffd\u0019\ufffd\ufffd\u05d3\ufffd\ufffd\ufffd\u007f\u0004\ufffd\ufffd\ufffd\ufffd\u2b05\ufffdS\ufffd\u001c\ufffde\ufffdD\ufffd\ufffd\ufffd\u001b~)\ufffd+NFT\ufffd \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd\ufffd$~\ufffd\u0018\ufffd\ufffd\ufffd\ufffd\r\u0005n\ufffdn\ufffd\ufffdR\ufffd`\u07d7\u01d3\u07d3\u044c\u0003\ufffd\ufffd\u0463(9\ufffd\ufffd^\ufffd\ufffd\u0015,\ufffd\ufffdC[~O\ufffd\ufffd\ufffd[\ufffd\u0001p\ufffd\ufffd\ufffd\u00108\u001d\ufffd^v\ufffd\ufffd\\\ufffdp\ufffdz\ufffdSk\ufffd\u023e\ufffdn7\ufffdgs\ufffd\u0015U\u000etm>\ufffd\u747f`\n\ufffdRg\u0010\ufffd6\ufffd\u001cA\ufffd\ufffd\u000f=C\u001a\ufffd9c\ufffdU\ufffd`\ufffd4\u0011\f\ufffd\u0007\ufffd[\ufffd;\ufffd\ufffd\ufffdN\ufffd\u0007QO\ufffd\\\n+5\u001a\ufffdU\ufffd\ufffd\ufffdEP\ufffdm\ufffd\u001e\ufffd\ufffd\ufffd\ufffdJ\ufffdV\ufffd\ufffd&\ufffd\u02ff=\ufffd\ufffd\ufffd\u000e\ufffd%~\ufffd\ufffd\ufffd\u0003\u000f\u04f0\uf472\ufffd'\ufffd\ufffdWZe\ufffd\ufffd=\ufffd\ufffd\u001c\ufffdn\ufffd\ufffd\ufffdTJ;=\ufffd\ufffdk~Wf\ufffdVY\ufffd\u0006\ufffd=\ufffd\ufffd\ufffd?\ufffd\ufffd\ufffd\u000e\n\ufffd\ufffd\ufffd<.\ufffd\ufffd\ufffd\ufffd<EE\ufffd\ufffd[\ufffd\ufffd\ufffd\ufffdMKH\ufffd\ufffd\ufffd=y\ufffd\ufffd!\u0003\ufffd\u0000\ufffd\ufffdV\ufffdN\u001d\u007f\ufffd\ufffdh\r\u0013\ufffd\ufffdq\ufffd\ufffdQ\ufffd^\u001a]%\ufffd\ufffdx5Q\ufffd\u0518\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdf\ufffd\ufffdD\ufffd\ufffd\ufffdw3rT\ufffd \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0011OP\ufffdf>I\u001e\ufffd\ufffdcK\ufffd\ufffd\ufffd\u001a\ufffd:\ufffd~\u001b\ufffd\ufffd9{\ufffd\u001e\ufffdt\ufffd\ufffd\ufffdi\u040e\ufffd\ufffd\\2\ufffd/r3\ufffd\ufffd\u001e\ufffdD\b\u0107\udbff\ude77\ufffdv\ufffd\ufffd\u0007$\ufffd/7=Os\ufffd\ufffdv\ufffd\ufffd\ufffd\\&\ufffd\ufffd\u0015r\u0019\u001f\ufffd\u0004\ufffd\u0003\ufffd\u0003a\ufffd\u001d\u0015&C\ufffdVynu\u00028\ufffdM\u02f1\ufffd\n\ufffd\ufffd&p\u02d9Em\ufffd\u041f\u0012X\ufffd\ufffd\u0713\ufffd\ufffdb\ufffd\ufffd\ufffdu\r\ufffd\u0007\ufffd}\ufffd\u0000.F\ufffd\ufffd\u000e\u0653\u01b5\ufffd\ufffd\ufffd\ufffd%.\u0018\ufffdJ{d\ufffdk[{\ufffd\ufffd\ufffd\u001b\ufffd\ufffd\ufffdWR\ufffd\u000b}[G,\ufffd\u0007\ufffd\u001f\ufffd+\ufffds\ufffdk\ufffd\ufffds\ufffd\ufffd\ufffdw}\u0019\ufffd'\ufffd\n\ufffd;\ufffd\b\ufffd\ufffdF\ufffd.\ufffd5e\u000b\ufffdv\ufffd\ufffdK\u35bd\ufffd\ufffdk\ufffd\ufffd*\ufffdV\u0011\ufffd2\ufffd-:SHqP\u0018lW\u0017Z\ue17c\ufffd\ufffdx 8\ufffd\u064fn\ufffd\ufffd\u8bdc\ufffd\u0013\ri\ufffd\u000e\u0010]4\ufffdq\ufffd\ufffd\ufffdX\b>\ufffd\ufffd]\ufffd\ufffd\ufffd~\ufffdd\ufffd\ufffd\ufffd\ufffdg\ufffd\ufffd\ufffd\ufffdi\u0004v#\u0018\u001e\ufffd%\ufffd*Z\\\ufffd)\ufffd\ufffdh\ufffd|3\ufffdy\ufffd4N-{\u000fb\u001c7\u0004y\ufffdYO.\ufffd\ufffd_\ufffd%\ufffd\u0000ETCi\ufffd\ufffdO\ufffd\ufffd;4\\\ufffd\u0001\ufffd\ufffd\u0018\u0000\u0017\u001d\ufffdfm\ufffd\ufffd\ufffd\ufffdN]\ufffdT\u0118\u00fb\ufffd\ufffd\ufffd\ufffd\ufffdk\u0005%\ufffd\ufffdr\ufffd\ufffdl\ufffdnb\ufffd\ufffdw0w\ufffd:\ufffd\f\u0010ZFA\ufffdF\ufffd$\u000b\ufffd\u001d\ufffd\u0729\u000e@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd\u000f\ufffd\u00061\ufffd.\"Yxg\ufffd\ufffd/W\ufffd\ufffd\u0002\ufffd1\ufffd\ufffdn\f\ufffd\u0012ch\ufffdi\ufffd\ufffd0:\ufffd@\u0004\ufffd\ufffd\u001c/\ufffd\ufffdh\u001dK\ufffd\ufffd$\ufffd\ufffd\ufffd3i\ufffd\ufffd\ufffdk\ufffd\ufffd\ufffd\u0010y\ufffd\ufffd\u0007>\ufffd\ufffd\u0001\ufffd\u0003l\ufffd\ufffdfF\ufffd\ufffdi\ufffd\u001b\ufffd\ufffd)!\u000b\ufffd\ufffds\ufffd\ufffd_2\ufffd*\u0005\ufffd\u001a\u007f\u0006\u0007\ufffdv\ufffd$\ufffd\ufffd\ufffd\u0688\ufffd\ufffd\ufffd+\ufffd+\ufffd\u7e3c\ufffd\ufffd\\rT\ufffd\ufffd\u0011\ufffd\ufffd\ufffdU8\ufffd_\ufffdFN\ufffd\ufffd1\ufffd\ufffdxFq\ufffdU\r/-<\ufffd\ufffdE\"\ufffd\ufffd\ufffdYo$\ufffdNf\ufffd\ufffdwE\u0018\ufffda\ufffd\ufffd\ufffd\ufffd5P\ufffd\ua1c2\ufffdu\ufffd1\n\ufffd\ufffd-\u0013%\ufffd*\ufffdYL\u00151\ufffd$sDp\ufffd\ufffd\ufffd\u0005LN8S\ufffd[\u007f\ufffd\ufffd\ufffdqKL\ufffd9\ufffd*v\ufffdQ\ufffdDm\ufffd=\ufffd#\ufffd<N\ufffd\ufffd\ufffdg\ufffd\ufffdU\ufffdS\ufffdtt6\ufffd\u07ac\ufffd\u0015vYHw\ufffd\ufffd\u0007\u0018|\ufffd{\ufffdN\u0014\ufffd\ufffd\\\u00e84\ufffdE\ufffd\ufffd\ufffdV\u00068\ufffd\ufffdG\ufffd\ufffd\ufffda\ufffdMLnh\ufffd\ufffd\ufffd\u000f\ufffd\ufffd\ufffd#\ufffd\u0017\ufffd_\u0006/\ufffd9\ufffd{\ufffd\ufffd\u000f#\ufffd\u0014\u0013\ufffd\ufffdZ\ufffd:6Fg\ufffd\ufffd\ufffd\ufffd\u000e\ufffdr\ufffd\b\ufffd\ufffd>\u03be\ufffdV.=Z%\ufffd&6\u03e9\ufffd\ufffd\ufffdYg\ufffd\ufffd\ufffd\f\ufffdx\ufffd\u001d\ufffd\ufffd\ufffd\u001b\ufffdr\ufffd\u0001\ufffdA6\ufffd7Dd\ufffd\ufffd=T\ufffd \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0003\u001cH;t\b1\u001e&\ufffd>\ufffd\u00ad3-\ufffd\ufffd?+rYOM\u001f\ufffd\u02991\ufffd\ufffd\u000f?3\ufffdu*\ufffd#\ufffd\ufffd\"q*\ufffd\ufffd\u001dP\ufffd\ufffd@\ufffdc\ufffdm%\fd\ufffdT\ufffd\ufffdF\ufffd8\ufffd\ufffds\ufffd\u0000\n\ufffdb\ufffdR\ufffd\ufffdth\ufffdH\ufffds\ufffdS\b\ufffd\ufffd'\u0006\ufffdD\ufffd?\u0004Cb\ufffd[\ufffdv\ufffdwx\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdvd\ufffd\ufffd\ufffd\ufffdc?r\u05ae\ufffd\ufffd\ufffdB\ufffd\u0000\ufffd\ufffdx\ufffdm\ufffd\ufffd\ufffd\ufffd}\u0015\ufffdo\u001a\ufffd\u0017\u0006\ufffd\ufffd\ufffd\ufffd\u1573Nq\ufffd\ufffd1\u0017!(\ufffd\ufffdF\ue128\ufffda\u0013\ufffdz\ufffd0\ufffdZu\rE\ufffd\ufffd\ufffd\ufffd|d\ufffdRvQ*L2H\ufffdom\ufffd\ufffd\ufffd\ufffd\u007f\u007f5\ufffd\"br\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000\ufffd\ufffd\ufffdQ\\Y\u001d\ufffdI\ufffd\ufffd\ufffd\ufffd$\u007f3\ufffdi>\ufffd\u0007\ufffd\u000fO\ufffdlSVa\ufffd\ufffd\ufffd\ufffd#\ufffd\ufffd-\ufffd\ufffdZ\ufffd(\ufffdmE\f\ufffdIO,D\u0012\u030c\ufffd:\u0011\ufffda[*S\ufffd\u0764/6\ufffd\ni\u001a\ufffd\ufffd4\ufffd\ufffd;\ufffdi\ufffd\ufffd\u001b\ufffd-\ufffdc\ufffdW\ufffd\ufffdY/\ufffd=!~\ufffd\ufffd\ufffdk\ufffd]\ufffd%\u0013SU\ufffdp\ufffd\ufffdC\ufffdb\ufffd6- \ufffd\u0003\ufffd\b\ufffd2K\ufffd\u000ff\u001fjk_\u001d,\ufffd\ufffd_\ufffd\ufffd5\ufffd\u001c`\ufffd\ufffd\ufffd\ufffd\u0296\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdM\u0734\ufffd\u0012F\u001co\bo\ufffd\u0012FO\u06249\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010c<C\ufffdv\ufffd\u001bij\ufffd\ufffd\ufffd^JX\u001b\ufffd\ufffd\ufffdx\ufffd\ufffd\ufffdX\ufffd;\ufffd\ufffd\ufffd\ufffd\u0015\u0013#\ufffd~#q*\ufffd\ufffdMQ5\ufffd\ufffd1\ufffds\ufffd5+\u001d\ufffdt\ufffd\u0013\ufffdm\ufffd1\ufffd\ufffd\ufffd\u07f0\u0018\ufffdE\ufffdH\ufffdXG\ufffd\u0014G\n\ufffd\ufffd\ue4d8\ufffd\u0013\ufffd[8\ufffd|L\ufffd\ufffdO\u000b\ufffd\ufffd\ufffdF\ufffdS\ufffd7\ufffdVx\ufffd\ufffd4\ufffd\ufffdc\ufffd\ufffd\u0019\n\ufffd1<&c\f9\ufffdd\ufffd\ufffdV!\u0011(\ufffd4\ufffd@mT\ufffd\ufffd\ufffd9_\u0018p\ufffd\ufffdv6P\ufffd\ufffd;\ufffdI9';\ufffd\ufffd\ufffd\ufffdF\ufffd\ufffdvU\u0011\ufffd\ufffdJ\ufffd^t\u018c\ufffd\ufffd\u001a\ufffdAk\ufffd\ufffd\ufffd\ufffdy\ufffd\u078d\ufffd\ufffd_z\ufffd5\ufffdU\ufffd+cl\ufffd7keU\ufffd\ufffdZJ\ufffd\u001dMS\u0011\ufffd|O \ufffd\ufffd\ufffde\ufffd\ufffd\u00111\ufffd\ufffd\ufffd(\ufffdO\ufffd\ufffda\ufffd\ufffdh\ufffdn$\"\f\ufffd\ufffd\ufffd\ufffdwc\ufffdmJ\u001b\u0733S6Jz\ufffd\ufffd\u0016\ufffdk\ufffd\u0002\ufffd\u001c1\ufffdS;\ufffd\u001f\ufffd\ufffd\ufffd\ufffdW\ufffd\ufffd\u0010\ufffdI#\ufffd\ufffd\ufffd\u0106\ufffd\u0500\ufffd\u0012H\ufffd[!\ufffd\ufffd\ufffd\ufffdo \u0019\u0004\u000e\ufffd\ufffd\ufffd3\ufffd\ufffd\ufffd\u0458\ufffdN0s\ufffd\ufffdP\u0609Y\ufffdh\ufffd\u0003\ufffd\ufffdU\ufffdCm\u0017\ufffd\ufffd\ufffd\ufffdP\ufffd\ufffd\u0015\ufffd[\ufffd36zj\ufffd0\u001f\u0013\ufffdC\ufffd\ufffd\ufffdH \ufffd\u0010H#\u0004\ufffdbG\ufffd\ufffd\u02be\u0494\ufffd{\ufffd\u0006\u001a\ufffd\u001d.\ufffd\ufffd1\ufffd\ufffdS\u0000\u001a\ufffds\ufffdj\"\u0019\ufffd\ufffd \ufffdd\ufffdm\ufffd)7\ufffd\ufffd\ufffd%\ufffd$aHr\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd\ufffd\ufffdt\ufffd\ufffd\u06eak\ufffdjc\ufffd\ufffd\ufffd\ufffd\ufffdM<\ufffd\ufffdllh\u02dcO\ufffdU\ufffd\u001ew\ufffd\ufffdu\ufffde\ufffd>+9\ufffd\ufffd\ufffd.s-\ufffd \ufffd\ufffd\u0019^?=\ufffd\ufffd\ufffd#\u0003\ufffd15\ufffd\ufffd\u044e_\u007f\ufffd@k\ufffd^rTDn\ufffd\ufffd\ufffd\ufffd\ufffd5&\ufffd\ufffd4\u0016\ufffd7\"i\u0007>\ufffd\ufffdOO\ufffd\ufffdz\ufffd\ufffd\u0737\u00114\ufffd}\ufffd\ufffd\ufffdS\\\ufffd4\ufffd5L\ufffd7\ufffd\ufffdg\u0402\u001b\u001f0\u0004t\u0000+\u06e7\ufffd7`\ufffds-\"\ufffd\ufffdV4e\u0003\u001cP1\u06e0\ufffd\ufffdc\ufffd\ufffd\ufffd\ufffd\"\u037f\ufffd\ud974\udd91\ufffdW\ufffdM\ufffd%`\u0001\ufffd\u0018\ufffdv'\ufffd\ufffdkJ\ufffd37bY\ufffd~L0\ufffd.]\ufffd|\u05b5\ufffd\ufffd\ufffd\ufffd/\ufffd$\ufffd'\u0019\ufffd9\ufffd\ufffdM\ufffd\ufffdv\ufffdV\ufffd\u0744;\ufffd\ufffdd\ufffdo\u001dT\ufffd\ufffdt\u000b9($\u001b\ufffd\ufffd\ufffd\ufffd1\u0573\"\ufffd\u00114Nk\ufffd\ufffd\u0018\ufffdR\ufffd\u02e7d}<\ufffd\u0014\ufffd\ufffd\ufffd8q\ufffd\u0015\ufffd+\u001e\ufffd\ufffd\ufffd\u001a\ufffd3[\ufffd\ufffd7#\ufffd\u0019)\ufffd\u0003U\t\ufffd\ufffd*\ufffd,\ufffdt\ufffd#>^\ufffd`\\\ufffd\u001f\u0010o\ufffd+\ufffd4\u001a\ufffdNU\ufffd[\ufffd\u001b\ufffd\u0012Ls\ufffd\ufffd\ufffd)[\ufffdLv7\u001dr\u0001\u0018 \u0015#\u059e\u000bq\ufffd\ufffd\ufffd\ufffd\u0001G\ufffd\ufffd\ufffd1\u0007\ufffd\r]#\ufffd\ufffd(\ufffd\u001a\u0007<N\ufffdd\u0010q\ufffd\b*\ufffd#`0\ufffd\u071d\ufffd\nC\ufffd\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u00105\ufffd\uc0cb\ufffd\ufffdx\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdi\ufffd\u001f7\ufffd\u0016\ufffds|gi\ufffd\u0007-\ufffd\ufffd\ufffd,\ufffd\ufffd\ufffd\ufffd;\ufffdRG4\ufffds8\u0001\ufffd\ufffd\ufffdUL$\ufffd\r\u001c\ufffd\ufffdBQg\u0007~\ufffd\ufffd\u001c7\u01f2\ufffd\ufffd\ufffd\ufffdS{\ufffd5\u0456\ufffdo\ufffd\ufffd\ufffd?W\ufffd\\\u007f\ufffdX;b\ufffd\ufffd,\ufffdT\ufffd\u0018\ufffd\ufffd\u05fa\ufffd\u06a7V\ufffd\ufffdopp\ufffdgr\u001009A\ufffd\ufffd\u0000Y\ufffdF:NP!\ufffd\u0011\ufffd\ufffd~\u001dTd\ufffd2\ufffd\ufffd>\u00013\ufffd\u0006\ufffd\ufffd\u0007\ufffdRa\u0011\ua213HC'\ufffdU\ufffdE/\ufffd\u0013\ufffd\u001d\ufffd\ufffdH\ufffd\ufffd>\ufffdY\ufffd\ufffd\ufffd\ufffd; \ufffd\ufffd\ufffdR\ufffdI\u001c\\\ufffd\u051e\ufffdp\ufffd3\ufffd\ufffd\ufffd\ufffd\ufffdA\ufffd\ufffd\ty\ufffd$`\ufffd\ufffd\u001c\u0014c\ufffdye\ufffda\ufffd\ufffdW,|1y\ufffd\ufffd\ufffd\ufffd\ufffd\u001aZ\ufffd\u001b\ufffdO\ufffd\ufffd\n\ufffd\n\u02bbU\ufffd|\ufffd\ufffd#\ufffd\u02e3\u00c2\u0011\ufffdV\\\ufffd\ufffd<\u073b\ufffdF|\ufffd\ufffd*\ufffd\ufffd\t\ufffd\u07022<\ufffd*\ufffd>\ufffd\ufffdt\ufffd\ufffd\u0007\u0012a\ufffd\u0017\ufffd.\ufffd\ufffd-\ufffd\ufffd\ufffd0\ufffd\u0147'\ufffdV\ufffd\ufffd\ufffd'\ufffdw\ufffd3s\ufffdma\ub36a\ufffdKy\ufffdSW\ufffdTGWEU\u001bg\ufffd\ufffd\u0017\u00072X\ufffd\u0003\ufffd\ufffd\ufffd\u0010A\u0007\ufffd\ufffd\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd\ufffd$\u00103\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdao\nt+\ufffdG+\u007f\ufffd7,\ufffd[\ufffd0K\u000e\ufffd\ufffd`\ufffd\ufffd\u0004\u001d\ufffd.-\u001d\ufffdfG\ufffdns\ufffd\u03d1\ufffdG\ufffd\ufffd\ufffd<\ufffd9\ufffd$\ufffdI=I$\ufffd\ufffdT\u0015t\ufffd\ufffdh/~\ufffd\u0014\u0014\ufffd\ufffdbB&\u0011g\u001eh\ufffdAn\u05f7\ufffd>\ufffd\ufffd\ufffdET)h\ufffdqt\ufffddm.x=\ufffd#\ufffd\ufffd%\ufffd8\ufffd,~\nCNP4\ufffd\ufffd\ufffd\ufffd\ufffdR\ufffd\ufffd\u2a2b\ufffd\u0015\ufffd0\ufffd\ufffd\u007f\ufffdw\ufffdRc\"\ufffd\u0000\ufffd\ufffd\ufffd\ufffd\ufffd\u0000mu\u001d.\ufffd\ufffdY\ufffd\ufffdh\ufffd-\ufffd\ufffd{eM1\ufffde\ufffds\ufffd:\ufffd\u06e8V2k\ufffd\uf722\f=\u00100\ufffd\ufffd\ufffd\u020a\ufffd\ufffd.\u524e\ufffd\ufffdM\ufffd\u0015\ufffdWG\ufffd+\ufffd\ufffd\u0418\ufffd\ufffd~\ufffd\u0015\ufffd\ufffd\u0000\ufffd\n\ufffd\u0010Ky[\ufffd\u000e\ufffdCg\ufffd[L#\u0089\ufffd\ufffd\u073f\ufffdT\ufffd\ufffdI\ufffd\ufffd3\ufffd\ufffd\u0011\ufffd\ufffd\ufffd\ufffdn\ufffdr\u001d\ufffd\u0015K\ufffd$|w\u001f\ufffd\ufffd4\u52a6\ufffd\ufffd\ufffd\ufffdb\u02e7\u007f\ufffdU\ufffd\ti\ufffd\ufffd\u001d\u0007\ufffdcN:\u0017\u0000\t\ufffd\ufffd\ufffdf\ufffdp\u01d6\ufffd\ufffd\u0005\ufffdH\u0262>\u0019\u0004s\ufffd\ufffd\ufffd\ufffda4\ufffdX^h\ufffd\ufffd&ks\ufffd\ufffd\u0019\ufffd\ufffd\t\ufffd\ufffdQ\ufffd\ufffdC4$\ufffde\n\ufffdg\ufffd\ufffd\u0015q\u06ff\ufffd\ufffd\ufffd\t\ufffd\u001f\ufffd\ufffd\ufffdS\ufffd\ufffd=E\ufffdi\ufffd0Y\ufffdi)G\ufffd.\u001d#s\ufffd\ufffd\ufffd\ufffdkB\ufffd\ufffd\ufffd\\2pw\ufffd\u001e]\ufffd9\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010\b\u0010\ufffd \ufffdx\ufffd\ufffd\u000b7\nt\ufffd\u05cb\ufffd\ufffd\ufffd\ufffdzH\ufffd\u0012\ufffd\ufffd\u064d\u0004\ufffd\ufffd\ufffd\u0003u\u0013#\ufffd\u001e\"q\u0016\ufffd\ufffd]SQz\ufffdK\ufffd+\ufffd\ufffd)\ufffd?GM\u0016vcG\ufffd=I\uac66\u0016zh\u0019\u001b<G\ufffdg\ufffd\ufffd>\ufffdB\ufffd\ufffd\ufffd\ufffdo9p\f\ufffd7.\u001e\ufffdzc\ufffd(\ufffd\u0006V\ufffd\ufffd\u0018{^\ufffd1\ufffd\ufffd\u001eg\u0010w\u001b\u000fDNRTP\ufffdI)\ufffdx\ufffd\f\ufffd\u000e\ufffdx\ufffdg\ufffdvC(\ufffd`i.'\ufffd$\u007f\u001f\ufffdt\ufffdr\ufffd_mS\ufffd\u0018#\ufffd\ufffdj\ufffd\u000fhq\f\ufffd\ufffdg0\u0016\ufffd7\ufffd\t2\u0735\ufffd\ufffd\u001dT\u00b32\ufffd\ufffd\ufffd'\ufffd\u0475\ufffd\ufffd,\ufffd7}Y_T\ufffd\ufffd\ufffd\ufffdq\ufffd\ufffd\ufffd\ufffd]\ufffd\u0456\ufffd*\ufffd)\ufffd\ufffd\ufffd\ufffdi\ufffdb\u0003\ufffd.j\ufffdA\ufffd\ufffd\ufffd{=\ufffd\ufffd\u0004\ufffdVL\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdi\ufffd\ufffd\ufffd\ufffdy\ufffdN\u000b\ufffd\ufffd\ufffd\ufffd\ufffd$R\ufffd\u0678<\ufffdx\bfV\ufffddTU\u04fd\ufffdKk\ufffdG\u001c.\ufffd\ufffd\u0015\ufffds\ufffd\ufffd\u0019\ufffdnC\ufffdq\ufffd\ufffd2{\"7\ufffd\u0019\u0576KuT\u0517`+y\ufffd\u0011V@\ufffd\u0018\ufffdq\ufffd)\ufffd\ufffd\u0003}\ufffd\u0007\u007f47Y\u001by\ufffd\ufffd\ufffd\ufffdj\nJnm\u010e\ufffd\ufffd\u0004v;\ufffd\u001f`\u0298J\ufffd\u0005\ufffd\ufffd$\ufffd*\ufffdCOO;\ufffdp\ufffd\ufffd\ufffd=\t\u0019\ufffdJp\ufffd\ufffd\ufffdk\ufffd\ufffd\ufffdk`\ufffd\ufffd~\ufffdN\ufffd\u0006\ufffd2\ufffd\u0626\u02f2\u001b\ufffd\ufffd\u0000w\ufffd3\ufffd?]\ufffd(\ufffd]KHi\ufffd\ufffd\n\ufffd\ufffd\ufffd\ufffd=\ufffd\u0712\ufffd\ufffd\u0004Ny\ufffd9b\ufffd\u000f/ \ufffd\u034c\ufffd;\ufffd\ufffda\ufffd\u001e&\ufffda\ufffd\ufffdw\ufffd^\u0019'+\u0123\ufffd\ufffd\u0004l\u6f7c\ufffd}\u000f\ufffd\ufffdF\ufffd\u0019\r\u06caV!f\ufffd\ufffdt\u001f\ufffd7?%\ufffd\u0597\ufffd\ufffdg\ufffd\u001e\u0337\ufffd\ufffd\ufffdU\ufffdq+\u000bx\ufffd%@!\ufffd\ufffd\ufffd\u001d\ufffd\\<\ufffd\ufffd~\ufffd\u001c\ufffd\ufffdchmyY\ufffd\ufffd\u001d~\ufffd\ufffd\ufffd\u0017\ufffd\ufffd\t\ufffd\ufffd\ufffdU\ufffd\u0773\ufffd\u0596\ufffd!\u04f6J\ufffdN\u0014\ufffd\u02b3X\ufffd\u001b\ufffd\ufffdd\ufffd\u001a\ufffd\ufffdU\r\u0004\ufffd\ufffd}%M\ufffd\ufffd\ufffd\ufffd\ufffd\u0010\ufffd\f\u0016<\fg|\ufffdn\ufffdQ\u0014\ufffdXI\ufffd'2\ufffdZZ\ufffd('s\u000e<Zg\ufffd\u0003\ufffd\t8\ufffd\ufffde\u001d\ufffd\ufffdI\ufffd\ufffd\ufffds\ufffdXi\u001d!\ufffdb\ufffd\u06df\ufffd\u0000\ufffdb&\u0011\ufffd\ufffd+\ufffd\r2\ufffd\ufffd\ufffd\ufffd\u001c*\ufffd\ufffd\ufffd\u0000\ufffd\u02a3\f\ufffd>\ufffd\u000f\ufffd~\ufffd\ufffd\u04b2\bD\ue37c\ufffd\u0011H\ufffd\ufffd\u000f\ufffd\ufffd\ufffd\u0013\u000b,r\ufffd\ufffd\ufffd\u0007|c;\ufffd\u0006\ufffd\ufffdWf\ufffdR\\\ufffd\ufffd\u0012\ufffd\ufffd\ufffdL\u028aj\ufffdN\u001f\f\ufffdps^\ufffd\ufffd\b\u0007\ufffd\ufffd\ufffdS\ufffd^\ufffd\ufffd)\ufffdQ\ufffd\ufffd\ufffd\ufffdm\ufffdGCo\u05b6\ufffdC\ufffd)X@e[:\u001a\ufffdF\ufffd\ufffdq\ufffd\ufffd\ufffd.\ufffd\u000bJ\ufffdC\ufffd\ufffdI\u0007=r\ufffd9\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \ufffdy\ufffdO\u001b\ufffd\ufffd\u00061\ufffd\ufffds\ufffd@\u0010r\ufffd\ufffd\u06ee\ufffd\u0014u\u000f\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd&\ufffd\ufffd\ufffd\u0003\ufffd\ufffd\ufffd\u0007r\ufffd~\u0113\ufffd\ufffdY\ufffd\ufffdZ\u02cb/\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd=\ufffd\ufffd\ufffd\ufffdk;cdt\ufffd.\u0018o\ufffdva\u0007w{\ufffd<\ufffd=\u0006+\ufffd\ufffd\\\ufffd\ufffd\u001e3]i7\u0003\u0007\ufffd\u001c~^\ufffd\ufffd\ufffd\u0000\u0010\u7663\ufffd\ufffd\u0005\ufffdl\u001c\ufffd\ufffd\u0005\u000bB\ufffdV\u0019\ufffdr\ufffd\ufffd\u0400\ufffd\u00aa\ufffd__hmP\u069b\\\r\ufffd\u0002]\u001d#\u13d3%\ufffd\ufffd\ufffd\ufffd\ufffd\u0013\ufffdpI\u06e0\ufffdEf\ufffdE\ufffd\ufffd\u06b2\ufffd\ufffdjJK\ufffdh\ufffd&o$\ufffdCCM\ufffdq\ufffdd\ufffd\\6\ufffd\b\ufffd\ufffd\ufffd\ufffd1WL^^d%\ufffd\ufffdN\ufffdq\ufffd\ufffd\ufffd0\ufffd\ufffd\f~\ufffd\ufffd\ufffd\u0013\ufffd\ufffd\u001a\ufffdr@\ufffd\u0012\ufffd\u00055,\ufffd\u0431\ufffd\ufffd\ufffd#\ufffd\ufffd\ufffd\ufffd\u0624\\)\ufffd\ufffd\u0003a\ufffdS\ufffdt\fc_\ufffd\u05b5\ufffd=H\u0018%A\ufffd\ufffdO\u0002\u001fL \ufffd\ufffd5@c\ufffd\ufffd\ufffd3\ufffd\ufffd\ufffd>\ufffdW\ufffd_\r\ufffd\u000e\u000e\u001beL!]Lz}\ufffd\ufffd\ufffdWH\u001d\ufffdTJxU\u057f4\ufffdv\u0003a\ufffd@\ufffdu\u001c\ufffd\ufffd:c\u0007\ufffdS\b\u0282\ufffdB\u0000\u0019\uc725|\ufffd\ufffdY\ufffd\ufffd\n\u0011\ufffd\ufffdM3\ufffdh\ufffd\ufffd{\ufffd\ufffd\ufffd\u33f9\f*\ufffd\ufffd-\u000f\ufffd\ufffd\ufffd{\ufffd\ufffd\\\ufffd\u0012H\u0003\u0000\u0012{)\ufffd\u0018`\u0015\ufffdf|\ufffd\u0007\ufffd\ufffd\ufffd\ufffdj\ufffd\u000en]\ufffd\ufffd\"W\ufffd]s\u032d{\ufffd\ufffd<\f\u000f\u0013\ufffd\ufffd\ufffdEp\ufffd/\ufffd\ufffdj\ufffdk\"\ufffd:X|\r\ufffd0S\ufffd\ufffdo\ufffd\ufffd\ufffd\ufffd\ufffd\u001a\ufffdI^\ufffdx$\u0012\uc7ca-\u000b\ufffd\ufffd\r$\ufffd\ufffd4\ufffd\ufffd\u0018\u066f$\f\ufffd\ufffd\ufffd\ufffdJ%\ufffd\u03eb\ufffd\u04d7Z{\ufffd\ufffd(\ufffd7\ufffd9\ufffdM\u001dm\ufffd1\u0003\ufffdv=\ufffd9\\\u04f8-v\ufffds\ufffd\u0004\u001c)\ufffdC\ufffd\ufffd_\ufffd\ufffdT\ufffd\r;\u0005>\ufffd\ufffdUr_!n&\ufffd\ufffd>!\u0004\ufffdc\ufffd\ufffd\ufffd,q\ufffd\ufffd\u0019\u001d\ufffd\u0000\ufffdNGS\ufffd\ufffd^/\ufffd-Oa\ufffdWPT\ufffd\ufffdT02X\ufffdc\ufffd\u001e\ufffd4\u0013\ufffd\b=\t\u0004`\ufffdA\u0005LH\u02d4\ufffd\u0000\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffdb\ufffdN2\ufffd\ufffdz\ufffd\ufffd^\u0245\ufffd\ufffd\ufffd\u045c8;\ufffdv\b=\ufffdR\ufffd9\ufffd(\u0019;\u0001\ufffdO\u0731\ufffd\u0006\ufffd~\ufffd|I\ufffd\u0686\u0003\u001f\ufffda\u0003\ufffdb\ufffdsy\ufffdJ\ufffd\ufffd&\u0000C&\ufffd\ufffd\ufffdcs\ufffd\ufffd\t\ufffd|.OEy=\ufffd\u001c\ufffd\ufffd\ufffdi\ufffd\ufffd\ufffd\ufffd~\u001b\ufffd\ufffd\ufffd)-\ufffd}\u0013Td]\ufffd\ufffdPW1\ufffd\u0003\ufffdD\ufffd\ufffd\ufffd\ufffd\u001f\ufffd\ua409`\ufffd\ufffd\u065f\u0005Y\u0004\ufffd8cwAx\ufffd#e\u0019\u00178_\ufffdn\ufffdz\ufffd3N|\ufffd\ufffd\b\ufffd\ufffd\ufffd\u0001\ufffd\ufffdL\n\u0018J\ufffdy\ufffd;\u0004LB\ufffdJ\ufffd|\u001c\ufffd\u0016Mt\ufffd\ufffd;\"\ufffd\ufffd\uadd5\ufffd\u0014@\ufffd\ufffd\ufffd\u0017z\u00190F\u0010\\k\ufffd\ufffd&\u0006\ufffd\u0004\u0018\ufffd\ufffd\ufffd1\ufffdT\u000bN\ufffdR\ufffd\ufffdr\ufffd\ufffds\ufffd3\ufffd\ufffd\u0634u\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\"{\ufffd\u0000\u0011\ufffd\u0007\ufffd\u001f\u027f#\ufffd\ufffdm\ufffd\ufffds\u0006\ufffd\ufffd\ufffd\ufffd\ufffdd5\ufffd\u00059\ufffd\ufffd\u0019$\ufffd\u0529\ufffd\u054a\ufffd@ \u0010\b\u0004\u0002\u0001\u0000\ufffd@(\ufffd\u0018\ufffd\u0010\ufffd\ufffd\ufffdmF\ufffd5\ufffd\ufffd\u0291\ufffd\ufffd?D\ufffd\u01daO\t\ufffd\ufffd\ufffd\ufffdC[\ufffd\ufffd\u000e\ufffd\u001a\u01fd\ufffdt\u0019\u0003\ufffdP\u0002\u0005\ufffd$49\ufffdeFB\ufffd\ufffd0\ufffd\u0019\u0010]\ufffdt1\ufffd`\b\ufffdHJ*I|1\ufffdm\ufffd(\ufffdcZ\ufffd0\u001as\ufffd\u0013\ufffdS\ufffd\ufffd\ufffd\u0001#pU\u0019'\ufffd\ufffdSSrF\\^\t\ufffd\u001d\ufffd\ufffd\ufffd\ufffdT/t-v\ufffd\u000e\ufffd/\ufffd\ufffdI\ufffd\ufffd\ufffd\n\ufffd)K\ufffd\ufffd\f\ufffd:\ufffd\ufffd\ufffds\ufffd=$\ufffd\u000eq\u0428D\ufffd\ufffd\ufffd\ufffd\ufffd)\u001c\ufffdx\ufffd\n\ufffd(-\f2\u0010\u0596\ufffd\ufffd\ufffd/0B\ufffd\ufffdO\ufffd: \ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0005\u03b3\u4992F\ufffd\ufffdd \u05d7v\ufffd\ufffd\u00078#\ufffdL\n(\ufffdG\ufffd|\u0014\ufffd\ufffd73H\u0000d\ufffd\u043c\ufffda2\ufffd2C@\ufffdD\ufffd\ufffd\u05316\ufffd\ufffd\ufffd t\ufffd+,\u0002\u007f\ufffd\ufffd \u0583\ufffd\uc0ba\ufffdB\ufffd7\ufffd\ufffd\u0002\u000b\ufffdl/e\u001f;\ufffd\ufffd:\u000e\ufffd1\ufffd\ufffd^B\u00064a\u0005L\ufffdsB\u0006{ \ufffdh\ufffd\ufffd\r\ufffdza\ufffd\ufffd\ufffdx|\u0004\ufffd?o\ufffd\ufffd\u0015/\ufffd\ufffd\ufffd\u0001\ufffd\u0014\ufffd\ufffd` \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010Z5U\u0013\ufffdzv\ufffdG\u0018\u0315\u0014sD\u044c\u4e44\u000f\ufffd\ufffdVS\u000f\"\ufffd\ufffd\ufffd4t\ufffd\u0000H\ufffd\u0014\ufffd\u00023\ufffdp\ufffd\ufffde2\ufffd\ufffd\ufffd\ufffd\rtR\ufffdR\ufffd\ufffd\ufffd\ufffd\ufffd\u001e\ufffd!\ufffdV\ufffd\ufffd\"\ufffd?\ufffdvh\ufffd?b\ufffd\ufffd\ufffdf\ufffd\ufffd?\ufffd\u001a\ufffd\ufffdRB\u001c\u04d7\ufffd\u0003l\ufffd[\ufffd(\ufffd\u0011=\ufffdQW\ufffd\ufffd\ufffd\ufffd\ufffdcdk\ufffdn\ufffd\ufffd%j\ufffd\ufffd,Q\ufffd\ufffd\ufffd\u001az\ua34d\ufffdT|\ufffdC5]T\ufffd\nH\u0018d\ufffdW\ufffd\ufffd\u001dO\ufffd\ufffdk\ufffdY\ufffd_dNfJ\ufffd\ufffdQ\u001f3\u0019\ufffd\ufffd\ufffd\ufffd\u0010F\ufffd\ufffd^\ufffd,\ufffdS\ufffd\ufffd\ufffdN\ufffd\ufffd\r]\ufffdp\ufffdM\ufffd\r\ufffd\ufffd\ufffd\"\ufffd\ufffdb{\ufffd\ufffdO\ufffd\u0002\ufffd\ufffd1\u0019\ufffd&q),\ufffdf\ufffdk;\ufffd\u0016\ufffdd7\n\ufffdN\u0006)\ufffd[\u001bGW8\ufffd\f4wZZ\ufffd\ufffd\u0000\u000bG\ufffd\\\ufffd\r\ufffdv\ufffd\ufffd\ufffdC=d\u00151}P\u0776\ufffd\ufffd\ufffd.\ufffd\ufffd&\ufffd\ufffd\ufffdg#=6\ufffdaU\u001de|CnL\ufffd\u0012J\u007f\ufffd-N\ufffdzmS\b\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u071d\ufffdr\ufffd\ufffd\ufffdZ#\ufffdV\ufffd\ufffdT1]s\ufffd\ufffd\ufffd=\ufffd\u074d\u0014\ufffd\u001ah\ufffd\r\ufffdC(k\ufffd\u0007\ufffd\ufffdF\ufffd8\u001e\ufffd[\ufffd?\ufffd\u04ef\ufffd\ufffdO\ufffd-{\ufffd*\ufffd\ufffd|\ufffd\rf}\ufffd)\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0000\ufffd4\u007f\ufffd\ufffdTQU5n\ufffdg\u001c\ufffd\ufffd3\u000bF\ufffdv\u007f\ufffd\u0000\ufffd\ufffd?\ufffdV\u00b9\ufffd\ufffd\ufffdh\ufffd\ufffd\ufffd\ufffdG\ufffdz|glU7\ufffd\u00158\ufffdlF=Y\ufffd\u000e\ufffd\ufffdU\ufffdV\ufffd\ufffd\u0005\ufffdZ\u001aj\\\u0007O,\ufffd\ufffd\ufffd=\u0018\u0000\u0003\ufffd\ufffd\ufffd\ufffdR\ufffdA\u0011L\ufffdf[\ufffd4\ufffd~3\u0012\ufffd\u001e*\ufffd'\ufffd\ufffd\ufffd\u000b\ufffdQ\ufffd8\ufffdio\ufffd\ufffd\u06d4\u000e\ufffd\ufffd\ufffd\ufffd-w\ufffd,\ufffd\ufffdZ)\ufffd?\u0675zI\u0668h\ufffd,g\ufffdW\ufffd\u0013Z\ufffd\u0013\ufffduLoZ\ufffd\u0006=\u0007MOSp\ufffd\ufffdOK+\ufffd\f\ufffd\ufffd\ufffd\ufffdw\ufffd\ufffd\ufffdw\ufffd\u06ea\ufffd=R\ufffdQ\ufffdm\ufffdSOS\ufffd\ufffdOLJ\ufffdC\ufffdr\u076f.3\ufffd[ij\u2a46?\u001b\u00e9\rasA\u0000\ufffd\ufffd\u001c\ufffd\ufffd\ufffd\ufffd\u07ea\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd|\ufffd;V\ufffd\"qB\ufffd\ufffd\ufffd\u0002\ufffdAY=\u0005\u009a\ufffdMU\u0003\ufffd9#\ufffd\ufffde\ufffd\ufffd\u000e\ufffd~\u055a\ufffdSz\ufffdWL\ufffd\ufffd;'\u0012\ufffd\u001cm\ufffdrH^\uaa86\u0012z\u001ai1\ufffd\u0005\ufffdfa\ufffd10\ufffd\ufffd\ufffd\ufffd\"B\u000f\ufffd.h\ufffd\ufffdSJ?\ufffdV\ufffd\ufffdcy\ufffd\\K`2\u001f\r\ufffd{id#\u0019\u000ekI\u0007\ufffd.\u0016z\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdnU\ufffd\ufffd4\ufffdT\ufffd-a{\u000b\u001f\f\ufffd\ufffd8Y)\ufffdv+\ufffd\ufffd<\ufffd\ufffdL,\ufffd@y\ufffdA\ufffd;\u000e\ufffdr\ufffdE\ufffd\ufffd\ufffd\ufffdY\ufffd\ufffd\ufffdQ\ufffd\u001b\ufffd\ufffd_\ufffd\u0015\ufffdL\ufffdb\ufffdfN\ufffd\ufffd\u0011FK\u001d\ufffdv)\ufffd\ufffd\u0014\ufffd\ufffd9,i8\ufffdn\ufffd\ufffdul\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdM4>\ufffdr\ufffd$e\ufffdOz\ufffd\ufffd\u0017\u0011\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd5\ufffd\ufffdV\ufffdK\ufffd\ufffd\ufffd \u0010\b\u0004\u0002\u0001\u0000\ufffd@ \u0010E.\ufffd\ufffd|&\u0012\udb9c\ude9e\ufffd\ufffdB:\ufffd\ufffdY\ufffd`\ufffd\ufffd\u066a\ufffd\ufffd\ufffd\ufffdg\ufffd<\u0017C\u001b\ufffd\\\",sp\u000b\u0001\ufffd\u0005\ufffd \ufffd\u001d\ufffd\ufffd5\ub2b3\ufffd$Lz\ufffd\u001b\ufffd\ufffd/\ufffd\u0007\ufffd%]\ufffdCW\u06acq\ufffd\ufffd^)\ufffdet \u0012\u0000/\ufffd'=\ufffd\ufffd\ufffd\u0003\ufffd\ufffd\ufffd+d\ufffd\ufffd\ufffd\ufffdM\ufffdk\ufffd\u0007\u0014,4\ufffd\ufffd\u0019\ufffd\u001a\ufffd\ufffd\ufffdS\ufffd&\u0018s\u0013\ud918\udc4d\ufffd\ufffd\\/T\ufffd\ufffd\ufffd\\\ufffd}#\ufffd\u0000\ufffd\ufffd\ufffdWO\ufffd\u0014\ufffd&j\u000eI\ufffd\ufffdy7\ufffd`/(\ufffd\ufffdV&jv\ufffd\ufffd\ufffdb\n\ufffd\f\ufffd\ufffd'\ufffd\ufffd\ufffd\u0000\u001f\ufffdR\ufffd\ufffdUS\ufffd\ufffd~\ufffdfs\r7\ufffd-\ufffd\u001bk\ufffdQX`v'\ufffdw\ufffd0\u0007\ufffd\u0000\ufffd\u04f7\ufffd]\ufffd4\ufffd\ufffd\ufffd7\ufffdvu5q\u001b8.\ufffd\\S\ufffd9\u035dN\ufffd\u01da\ufffd\ufffdj\ufffd=\ufffd\u000e\ufffd\u0019\ufffdUV\ufffdUU\ufffd\ufffdKo\ufffd\ufffduUmK\ufffdp\ufffd\u001f\ufffd{\ufffd\ufffd\u0003\ufffd\ufffd7=\ufffd\ufffd\ufffd\ufffdL\u07798\ufffdl[\ufffd\ufffd\u0547cp\ufffd\ufffd\u0014\ufffd8\ufffd\ufffdD\ufffd\ufffd\ufffdR\u0003\ufffd\ufffd\ufffd:\ufffd\ufffdg\ufffdG\ufffd\ufffd\ufffdx\ufffdW\ufffdUk\ufffdM\u0014\ufffd(\ufffdm\ufffdh\ufffd\ufffd;\ufffd\ufffdM\u0010\ufffd\ufffd\ufffdW\ufffd\ufffdS=\ufffd\u001b7fk\ufffdq\ufffdM\t\ufffd\ufffd\ufffd\ufffdc\ufffd!3&\ufffd,\ufffdT\ufffd0\ufffd\ufffd>\ufffd\ufffdGS\f\ufffdK\u001be\ufffd\ufffd-{\u001e2\ufffd7\ufffd#\ufffd\ufffdF\ufffd\ufffdUE\ufffd'r\ufffdq4\ufffd\\\ufffd\ufff
[...]
