{
    "openapi": "3.1.0",
    "info": {
        "title": "OMDb API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The OMDb API is a free web service that provides information about movies and TV shows, including plot summaries, ratings, and cast information.",
        "termsOfService": "",
        "contact": {
            "name": "OMDb API Contact",
            "url": "http://www.omdbapi.com/#contact",
            "email": "info@omdbapi.com"
        },
        "license": {
            "name": "Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License",
            "url": "https://creativecommons.org/licenses/by-nc-sa/3.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://www.omdbapi.com",
            "description": "Production Server of the OMDb API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "http://www.omdbapi.com",
        "description": "Find more about the OMDb API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "apikey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "yourkey": {
                                "value": "yourkey"
                            },
                            "yourapikey": {
                                "value": "yourapikey"
                            }
                        }
                    },
                    {
                        "name": "s",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "batman": {
                                "value": "batman"
                            },
                            "Harry+Potter": {
                                "value": "Harry+Potter"
                            },
                            "inception": {
                                "value": "inception"
                            },
                            "Avengers": {
                                "value": "Avengers"
                            },
                            "star+wars": {
                                "value": "star+wars"
                            },
                            "shawshank": {
                                "value": "shawshank"
                            }
                        }
                    },
                    {
                        "name": "t",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "titanic": {
                                "value": "titanic"
                            },
                            "movie_title": {
                                "value": "movie_title"
                            },
                            "movie": {
                                "value": "movie"
                            },
                            "Harry+Potter": {
                                "value": "Harry+Potter"
                            },
                            "The+Shawshank+Redemption": {
                                "value": "The+Shawshank+Redemption"
                            }
                        }
                    },
                    {
                        "name": "i",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "tt3896198": {
                                "value": "tt3896198"
                            },
                            "tt0120338": {
                                "value": "tt0120338"
                            },
                            "tt1234567": {
                                "value": "tt1234567"
                            },
                            "tt0111161": {
                                "value": "tt0111161"
                            }
                        }
                    },
                    {
                        "name": "plot",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "short": {
                                "value": "short"
                            },
                            "full": {
                                "value": "full"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "movie": {
                                "value": "movie"
                            }
                        }
                    },
                    {
                        "name": "y",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "year": {
                                "value": "year"
                            },
                            "1994": {
                                "value": "1994"
                            }
                        }
                    },
                    {
                        "name": "r",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            },
                            "2005": {
                                "value": "2005"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "season_number": {
                                "value": "season_number"
                            }
                        }
                    },
                    {
                        "name": "episode",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "tt0123456": {
                                "value": "tt0123456"
                            }
                        }
                    },
                    {
                        "name": "v",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "1.0": {
                                "value": "1.0"
                            }
                        }
                    },
                    {
                        "name": "callback",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "myFunction": {
                                "value": "myFunction"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\"/>\r\n<title>404 - File or directory not found.</title>\r\n<style type=\"text/css\">\r\n<!--\r\nbody{margin:0;font-size:.7em;font-family:Verdana, Arial, Helvetica, sans-serif;..."
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema": {}
        }
    }
}