{
    "openapi": "3.1.0",
    "info": {
        "title": "Soccer API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average GET route discovery rate of 85.05% and query parameter discovery rate of 81.05%. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The Soccer API is a software interface that provides access to live and historical soccer data, such as scores, fixtures, standings, and player statistics.",
        "termsOfService": "",
        "contact": {
            "name": "Soccer API Contact",
            "url": "",
            "email": "support@soccerapi.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.sportradar.com",
            "description": "Production Server of the Soccer API.",
            "x-base-routes": 3
        }
    ],
    "externalDocs": {
        "url": "https://www.api-football.com",
        "description": "Find more about the Soccer API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "premierleague": {
                                "value": "premierleague"
                            },
                            "Premier%20League": {
                                "value": "Premier%20League"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_teams"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "age",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "30": {
                                "value": "30"
                            }
                        }
                    },
                    {
                        "name": "goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "assists",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "yellow_cards",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "red_cards",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "180": {
                                "value": "180"
                            }
                        }
                    },
                    {
                        "name": "weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "75": {
                                "value": "75"
                            }
                        }
                    },
                    {
                        "name": "matches_played",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_players"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/matches": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-10-15": {
                                "value": "2022-10-15"
                            },
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "2021-10-10": {
                                "value": "2021-10-10"
                            },
                            "2022-01-15": {
                                "value": "2022-01-15"
                            },
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Liverpool": {
                                "value": "Liverpool"
                            },
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "finished": {
                                "value": "finished"
                            },
                            "completed": {
                                "value": "completed"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Old+Trafford": {
                                "value": "Old+Trafford"
                            }
                        }
                    },
                    {
                        "name": "competition",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Champions+League": {
                                "value": "Champions+League"
                            },
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "England": {
                                "value": "England"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "result",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "draw": {
                                "value": "draw"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_matches"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/standings": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_standings"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/leagues": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            },
                            "England": {
                                "value": "England"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2022": {
                                "value": "2022"
                            },
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Liverpool": {
                                "value": "Liverpool"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            },
                            "Ronaldo": {
                                "value": "Ronaldo"
                            }
                        }
                    },
                    {
                        "name": "matchday",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Wembley": {
                                "value": "Wembley"
                            },
                            "Old_Trafford": {
                                "value": "Old_Trafford"
                            }
                        }
                    },
                    {
                        "name": "topscorer",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ronaldo": {
                                "value": "Ronaldo"
                            }
                        }
                    },
                    {
                        "name": "manager",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Pep": {
                                "value": "Pep"
                            }
                        }
                    },
                    {
                        "name": "standing",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "goal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "top_scorer",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "standings",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-11-20": {
                                "value": "2021-11-20"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "completed": {
                                "value": "completed"
                            }
                        }
                    },
                    {
                        "name": "top_scorers",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "team_stats",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "matches_played",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "current_matchday",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "next_matches",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_leagues"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/statistics": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            },
                            "Manchester+United": {
                                "value": "Manchester+United"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            },
                            "Lionel+Messi": {
                                "value": "Lionel+Messi"
                            }
                        }
                    },
                    {
                        "name": "competition",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            },
                            "ChampionsLeague": {
                                "value": "ChampionsLeague"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "match_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "friendly": {
                                "value": "friendly"
                            }
                        }
                    },
                    {
                        "name": "statistic",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "goals": {
                                "value": "goals"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stadium": {
                                "value": "Stadium"
                            },
                            "Camp+Nou": {
                                "value": "Camp+Nou"
                            }
                        }
                    },
                    {
                        "name": "min_minutes",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "60": {
                                "value": "60"
                            }
                        }
                    },
                    {
                        "name": "max_minutes",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90": {
                                "value": "90"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PremierLeague": {
                                "value": "PremierLeague"
                            },
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "match",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            },
                            "1234": {
                                "value": "1234"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "opponent",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "RealMadrid": {
                                "value": "RealMadrid"
                            },
                            "Real+Madrid": {
                                "value": "Real+Madrid"
                            }
                        }
                    },
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "home": {
                                "value": "home"
                            }
                        }
                    },
                    {
                        "name": "tournament",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Champions+League": {
                                "value": "Champions+League"
                            }
                        }
                    },
                    {
                        "name": "stat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "goals": {
                                "value": "goals"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_statistics"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/fixtures": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_fixtures"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/topscorers": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_topscorers"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/transfers": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_transfers"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Real+Madrid": {
                                "value": "Real+Madrid"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "competition",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Champions+League": {
                                "value": "Champions+League"
                            }
                        }
                    },
                    {
                        "name": "topic",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "transfers": {
                                "value": "transfers"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "keywords",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "goals": {
                                "value": "goals"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_news"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_id"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/lineups": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_lineups"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/live": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_live"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/injuries": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_injuries"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema": {},
            "ResponseSchema_teams": {},
            "ResponseSchema_players": {},
            "ResponseSchema_matches": {},
            "ResponseSchema_standings": {},
            "ResponseSchema_leagues": {},
            "ResponseSchema_statistics": {},
            "ResponseSchema_fixtures": {},
            "ResponseSchema_topscorers": {},
            "ResponseSchema_transfers": {},
            "ResponseSchema_news": {},
            "ResponseSchema_id": {},
            "ResponseSchema_lineups": {},
            "ResponseSchema_live": {},
            "ResponseSchema_injuries": {}
        }
    }
}