{
    "openapi": "3.1.0",
    "info": {
        "title": "Balldontlie API",
        "description": "**API Description** - The Balldontlie API is a sports data API that provides information about NBA games, players, and statistics.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Balldontlie API Contact",
            "url": "https://www.balldontlie.io",
            "email": ""
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.balldontlie.io",
            "description": "Production Server of the Balldontlie API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.balldontlie.io/",
        "description": "Find more about the Balldontlie API here:"
    },
    "paths": {
        "/api/v1/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            },
                            "LeBron+James": {
                                "value": "LeBron+James"
                            },
                            "los+angeles": {
                                "value": "los+angeles"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "max_weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "team_id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "22": {
                                "value": "22"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 797,
                                            "first_name": "Thomas",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Jordan",
                                            "position": "",
                                            "team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 851,
                                            "first_name": "Adonis",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Jordan",
                                            "position": "",
                                            "team": {
                                                "id": 8,
                                                "abbreviation": "DEN",
                                                "city": "Denver",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Denver Nuggets",
                                                "name": "Nuggets"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 864,
                                            "first_name": "Reggie",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Jordan",
                                            "position": "",
                                            "team": {
                                                "id": 14,
                                                "abbreviation": "LAL",
                                                "city": "Los Angeles",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Los Angeles Lakers",
                                                "name": "Lakers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1670,
                                            "first_name": "Jordan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Farmar",
                                            "position": "",
                                            "team": {
                                                "id": 14,
                                                "abbreviation": "LAL",
                                                "city": "Los Angeles",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Los Angeles Lakers",
                                                "name": "Lakers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1851,
                                            "first_name": "Jordan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Hill",
                                            "position": "",
                                            "team": {
                                                "id": 20,
                                                "abbreviation": "NYK",
                                                "city": "New York",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "New York Knicks",
                                                "name": "Knicks"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1892,
                                            "first_name": "Jordan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Crawford",
                                            "position": "",
                                            "team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1927,
                                            "first_name": "Jerome",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Jordan",
                                            "position": "",
                                            "team": {
                                                "id": 20,
                                                "abbreviation": "NYK",
                                                "city": "New York",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "New York Knicks",
                                                "name": "Knicks"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1953,
                                            "first_name": "Jordan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Hamilton",
                                            "position": "",
                                            "team": {
                                                "id": 8,
                                                "abbreviation": "DEN",
                                                "city": "Denver",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Denver Nuggets",
                                                "name": "Nuggets"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1956,
                                            "first_name": "Jordan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Williams",
                                            "position": "",
                                            "team": {
                                                "id": 3,
                                                "abbreviation": "BKN",
                                                "city": "Brooklyn",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Brooklyn Nets",
                                                "name": "Nets"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 2086,
                                            "first_name": "Jordan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Adams",
                                            "position": "",
                                            "team": {
                                                "id": 15,
                                                "abbreviation": "MEM",
                                                "city": "Memphis",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Memphis Grizzlies",
                                                "name": "Grizzlies"
                                            },
                                            "weight_pounds": null
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 4,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 10,
                                        "total_count": 35
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/players/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /api/v1/players/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2018": {
                                "value": "2018"
                            },
                            "2019": {
                                "value": "2019"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PG": {
                                "value": "PG"
                            },
                            "forward": {
                                "value": "forward"
                            },
                            "guard": {
                                "value": "guard"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "23": {
                                "value": "23"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            },
                            "asc": {
                                "value": "asc"
                            },
                            "points": {
                                "value": "points"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-01-01": {
                                "value": "2020-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-12-31": {
                                "value": "2020-12-31"
                            }
                        }
                    },
                    {
                        "name": "min_height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "180": {
                                "value": "180"
                            }
                        }
                    },
                    {
                        "name": "max_weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "college",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Duke": {
                                "value": "Duke"
                            },
                            "North+Carolina": {
                                "value": "North+Carolina"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "team_id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            }
                        }
                    },
                    {
                        "name": "height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "6-6": {
                                "value": "6-6"
                            }
                        }
                    },
                    {
                        "name": "weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "active",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "inactive",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "game_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234": {
                                "value": "1234"
                            }
                        }
                    },
                    {
                        "name": "height_min",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "6": {
                                "value": "6"
                            }
                        }
                    },
                    {
                        "name": "weight_max",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "playoff",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "stats",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "first_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Michael": {
                                "value": "Michael"
                            }
                        }
                    },
                    {
                        "name": "last_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players_id"
                                },
                                "example": {
                                    "id": 45,
                                    "first_name": "Patrick",
                                    "height_feet": 6,
                                    "height_inches": 1,
                                    "last_name": "Beverley",
                                    "position": "G",
                                    "team": {
                                        "id": 23,
                                        "abbreviation": "PHI",
                                        "city": "Philadelphia",
                                        "conference": "East",
                                        "division": "Atlantic",
                                        "full_name": "Philadelphia 76ers",
                                        "name": "76ers"
                                    },
                                    "weight_pounds": 185
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            },
                            "los+angeles": {
                                "value": "los+angeles"
                            },
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "25": {
                                "value": "25"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "seasons",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "west": {
                                "value": "west"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "pacific": {
                                "value": "pacific"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "abbreviation",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LAL": {
                                "value": "LAL"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Los+Angeles+Lakers": {
                                "value": "Los+Angeles+Lakers"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "city": {
                                "value": "city"
                            },
                            "points": {
                                "value": "points"
                            }
                        }
                    },
                    {
                        "name": "venue.name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Staples+Center": {
                                "value": "Staples+Center"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "max_weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            },
                            "300": {
                                "value": "300"
                            }
                        }
                    },
                    {
                        "name": "player_id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_teams"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "abbreviation": "ATL",
                                            "city": "Atlanta",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Atlanta Hawks",
                                            "name": "Hawks"
                                        },
                                        {
                                            "id": 2,
                                            "abbreviation": "BOS",
                                            "city": "Boston",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Boston Celtics",
                                            "name": "Celtics"
                                        },
                                        {
                                            "id": 3,
                                            "abbreviation": "BKN",
                                            "city": "Brooklyn",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Brooklyn Nets",
                                            "name": "Nets"
                                        },
                                        {
                                            "id": 4,
                                            "abbreviation": "CHA",
                                            "city": "Charlotte",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Charlotte Hornets",
                                            "name": "Hornets"
                                        },
                                        {
                                            "id": 5,
                                            "abbreviation": "CHI",
                                            "city": "Chicago",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Chicago Bulls",
                                            "name": "Bulls"
                                        },
                                        {
                                            "id": 6,
                                            "abbreviation": "CLE",
                                            "city": "Cleveland",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Cleveland Cavaliers",
                                            "name": "Cavaliers"
                                        },
                                        {
                                            "id": 7,
                                            "abbreviation": "DAL",
                                            "city": "Dallas",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Dallas Mavericks",
                                            "name": "Mavericks"
                                        },
                                        {
                                            "id": 8,
                                            "abbreviation": "DEN",
                                            "city": "Denver",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Denver Nuggets",
                                            "name": "Nuggets"
                                        },
                                        {
                                            "id": 9,
                                            "abbreviation": "DET",
                                            "city": "Detroit",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Detroit Pistons",
                                            "name": "Pistons"
                                        },
                                        {
                                            "id": 10,
                                            "abbreviation": "GSW",
                                            "city": "Golden State",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Golden State Warriors",
                                            "name": "Warriors"
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 5,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 10,
                                        "total_count": 45
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/games": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            },
                            "los+angeles": {
                                "value": "los+angeles"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2022": {
                                "value": "2022"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "4": {
                                "value": "4"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            },
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-31": {
                                "value": "2022-01-31"
                            },
                            "2021-01-31": {
                                "value": "2021-01-31"
                            },
                            "2021-12-31": {
                                "value": "2021-12-31"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "max_weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "player_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "23": {
                                "value": "23"
                            }
                        }
                    },
                    {
                        "name": "venue_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "postseason",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "west": {
                                "value": "west"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_games"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 47179,
                                            "date": "2019-01-30T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 126,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": " ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 94
                                        },
                                        {
                                            "id": 48751,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 112,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "visitor_team_score": 123
                                        },
                                        {
                                            "id": 48739,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "home_team_score": 117,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 8,
                                                "abbreviation": "DEN",
                                                "city": "Denver",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Denver Nuggets",
                                                "name": "Nuggets"
                                            },
                                            "visitor_team_score": 110
                                        },
                                        {
                                            "id": 48740,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "home_team_score": 119,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 106
                                        },
                                        {
                                            "id": 48746,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "home_team_score": 102,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 16,
                                                "abbreviation": "MIA",
                                                "city": "Miami",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Miami Heat",
                                                "name": "Heat"
                                            },
                                            "visitor_team_score": 96
                                        },
                                        {
                                            "id": 48762,
                                            "date": "2019-02-11T00:00:00.000Z",
                                            "home_team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "home_team_score": 121,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "visitor_team_score": 112
                                        },
                                        {
                                            "id": 48745,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 19,
                                                "abbreviation": "NOP",
                                                "city": "New Orleans",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "New Orleans Pelicans",
                                                "name": "Pelicans"
                                            },
                                            "home_team_score": 122,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 18,
                                                "abbreviation": "MIN",
                                                "city": "Minnesota",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Minnesota Timberwolves",
                                                "name": "Timberwolves"
                                            },
                                            "visitor_team_score": 117
                                        },
                                        {
                                            "id": 48748,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 12,
                                                "abbreviation": "IND",
                                                "city": "Indiana",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Indiana Pacers",
                                                "name": "Pacers"
                                            },
                                            "home_team_score": 105,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 90
                                        },
                                        {
                                            "id": 48749,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "home_team_score": 120,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 129
                                        },
                                        {
                                            "id": 48747,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 29,
                                                "abbreviation": "UTA",
                                                "city": "Utah",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Utah Jazz",
                                                "name": "Jazz"
                                            },
                                            "home_team_score": 125,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 27,
                                                "abbreviation": "SAS",
                                                "city": "San Antonio",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "San Antonio Spurs",
                                                "name": "Spurs"
                                            },
                                            "visitor_team_score": 105
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 7051,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 10,
                                        "total_count": 70508
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/stats": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            },
                            "los+angeles": {
                                "value": "los+angeles"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "seasons",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            },
                            "2019": {
                                "value": "2019"
                            }
                        }
                    },
                    {
                        "name": "team_ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "player_ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "42": {
                                "value": "42"
                            }
                        }
                    },
                    {
                        "name": "player_names",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron+James": {
                                "value": "LeBron+James"
                            }
                        }
                    },
                    {
                        "name": "game_ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            },
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-12-31": {
                                "value": "2021-12-31"
                            },
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            },
                            "points": {
                                "value": "points"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            }
                        }
                    },
                    {
                        "name": "player_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123": {
                                "value": "123"
                            },
                            "1234": {
                                "value": "1234"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "456": {
                                "value": "456"
                            },
                            "5678": {
                                "value": "5678"
                            }
                        }
                    },
                    {
                        "name": "postseason",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "max_weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "game_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "9876": {
                                "value": "9876"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_stats"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 13441365,
                                            "ast": null,
                                            "blk": null,
                                            "dreb": null,
                                            "fg3_pct": null,
                                            "fg3a": null,
                                            "fg3m": null,
                                            "fg_pct": 0.474,
                                            "fga": 19,
                                            "fgm": 9,
                                            "ft_pct": 0.583,
                                            "fta": 12,
                                            "ftm": 7,
                                            "game": {
                                                "id": 878157,
                                                "date": "1959-01-14T00:00:00.000Z",
                                                "home_team_id": 9,
                                                "home_team_score": 108,
                                                "period": 4,
                                                "postseason": false,
                                                "season": 1958,
                                                "status": "Final",
                                                "time": null,
                                                "visitor_team_id": 1,
                                                "visitor_team_score": 114
                                            },
                                            "min": "0",
                                            "oreb": null,
                                            "pf": 6,
                                            "player": {
                                                "id": 46395592,
                                                "first_name": "Walter",
                                                "height_feet": null,
                                                "height_inches": null,
                                                "last_name": "Dukes",
                                                "position": "",
                                                "team_id": 20,
                                                "weight_pounds": null
                                            },
                                            "pts": 25,
                                            "reb": 11,
                                            "stl": null,
                                            "team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "turnover": null
                                        },
                                        {
                                            "id": 13441366,
                                            "ast": null,
                                            "blk": null,
                                            "dreb": null,
                                            "fg3_pct": null,
                                            "fg3a": null,
                                            "fg3m": null,
                                            "fg_pct": 0.455,
                                            "fga": 11,
                                            "fgm": 5,
                                            "ft_pct": 0.667,
                                            "fta": 3,
                                            "ftm": 2,
                                            "game": {
                                                "id": 878157,
                                                "date": "1959-01-14T00:00:00.000Z",
                                                "home_team_id": 9,
                                                "home_team_score": 108,
                                                "period": 4,
                                                "postseason": false,
                                                "season": 1958,
                                                "status": "Final",
[...]
