{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Brewery DB API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - Open Brewery DB API is a free and public database of breweries worldwide, providing information on brewery details, beer styles, and events.",
        "termsOfService": "",
        "contact": {
            "name": "Open Brewery DB API Contact",
            "url": "",
            "email": "hello@openbrewerydb.org"
        },
        "license": {
            "name": "CC BY-SA 4.0",
            "url": "https://creativecommons.org/licenses/by-sa/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.openbrewerydb.org",
            "description": "Production Server of the Open Brewery DB API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.openbrewerydb.org",
        "description": "Find more about the Open Brewery DB API here:"
    },
    "paths": {
        "/breweries": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "San_Diego": {
                                "value": "San_Diego"
                            },
                            "true": {
                                "value": "true"
                            },
                            "Portland": {
                                "value": "Portland"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "SanFrancisco": {
                                "value": "SanFrancisco"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "california": {
                                "value": "california"
                            },
                            "California": {
                                "value": "California"
                            },
                            "true": {
                                "value": "true"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            },
                            "texas": {
                                "value": "texas"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "stone_brewing": {
                                "value": "stone_brewing"
                            },
                            "Stone_Brewing": {
                                "value": "Stone_Brewing"
                            },
                            "Stone_Brewing_Co": {
                                "value": "Stone_Brewing_Co"
                            },
                            "stone_brewing_co": {
                                "value": "stone_brewing_co"
                            },
                            "stone": {
                                "value": "stone"
                            },
                            "ballast_point": {
                                "value": "ballast_point"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "StoneBrewing": {
                                "value": "StoneBrewing"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "craft": {
                                "value": "craft"
                            },
                            "dog_friendly": {
                                "value": "dog_friendly"
                            },
                            "patio": {
                                "value": "patio"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "regional": {
                                "value": "regional"
                            },
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "organic": {
                                "value": "organic"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "-established": {
                                "value": "-established"
                            },
                            "city": {
                                "value": "city"
                            },
                            "state": {
                                "value": "state"
                            },
                            "type": {
                                "value": "type"
                            },
                            "-name": {
                                "value": "-name"
                            },
                            "-city": {
                                "value": "-city"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            },
                            "ipa": {
                                "value": "ipa"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            },
                            "92106": {
                                "value": "92106"
                            },
                            "t2p1j1": {
                                "value": "t2p1j1"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "Denver": {
                                "value": "Denver"
                            },
                            "Portland": {
                                "value": "Portland"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "XYZ+Brewery": {
                                "value": "XYZ+Brewery"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "80202": {
                                "value": "80202"
                            },
                            "97201": {
                                "value": "97201"
                            }
                        }
                    },
                    {
                        "name": "brewery_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "bar": {
                                "value": "bar"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "updated_at",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-08-15": {
                                "value": "2021-08-15"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "main": {
                                "value": "main"
                            },
                            "main_street": {
                                "value": "main_street"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234567890": {
                                "value": "1234567890"
                            },
                            "555-555-5555": {
                                "value": "555-555-5555"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "organic": {
                                "value": "organic"
                            },
                            "dog-friendly": {
                                "value": "dog-friendly"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "555-555-5555": {
                                "value": "555-555-5555"
                            }
                        }
                    },
                    {
                        "name": "updated_since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/search": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "california": {
                                "value": "california"
                            },
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog": {
                                "value": "dog"
                            },
                            "dogfish": {
                                "value": "dogfish"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Denver": {
                                "value": "Denver"
                            },
                            "san_diego": {
                                "value": "san_diego"
                            },
                            "San+Diego": {
                                "value": "San+Diego"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "california": {
                                "value": "california"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            },
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            },
                            "united_states": {
                                "value": "united_states"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "organic": {
                                "value": "organic"
                            },
                            "dog_friendly": {
                                "value": "dog_friendly"
                            },
                            "dog-friendly": {
                                "value": "dog-friendly"
                            }
                        }
                    },
                    {
                        "name": "established",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2015": {
                                "value": "2015"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234567890": {
                                "value": "1234567890"
                            },
                            "555-123-4567": {
                                "value": "555-123-4567"
                            }
                        }
                    },
                    {
                        "name": "updated_since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-01-01": {
                                "value": "2020-01-01"
                            },
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog_friendly": {
                                "value": "dog_friendly"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_search"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/random": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "california": {
                                "value": "california"
                            },
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog_friendly": {
                                "value": "dog_friendly"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Portland": {
                                "value": "Portland"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            }
                        }
                    },
                    {
                        "name": "by_distillery",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "by_status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "verified": {
                                "value": "verified"
                            }
                        }
                    },
                    {
                        "name": "by_sort",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "city": {
                                "value": "city"
                            }
                        }
                    },
                    {
                        "name": "by_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "by_per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5555555555": {
                                "value": "5555555555"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_random"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/autocomplete": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "xyz": {
                                "value": "xyz"
                            },
                            "Stone": {
                                "value": "Stone"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "san+francisco": {
                                "value": "san+francisco"
                            },
                            "Denver": {
                                "value": "Denver"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "california": {
                                "value": "california"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "united+states": {
                                "value": "united+states"
                            },
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94114": {
                                "value": "94114"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234567890": {
                                "value": "1234567890"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "established",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2010": {
                                "value": "2010"
                            }
                        }
                    },
                    {
                        "name": "updated_since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-01-01": {
                                "value": "2021-01-01"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "website",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    },
                    {
                        "name": "since",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2015": {
                                "value": "2015"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_autocomplete"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema_breweries": {},
            "ResponseSchema_breweries_search": {},
            "ResponseSchema_breweries_random": {},
            "ResponseSchema_breweries_autocomplete": {}
        }
    }
}