{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The GBIF Species API provides access to species data from the Global Biodiversity Information Facility.",
        "termsOfService": "https://www.gbif.org/terms",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "Creative Commons Attribution (CC-BY) 4.0 International License",
            "url": "https://creativecommons.org/licenses/by/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species/search": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "Magnolia+grandiflora": {
                                "value": "Magnolia+grandiflora"
                            },
                            "mammals": {
                                "value": "mammals"
                            },
                            "Primates": {
                                "value": "Primates"
                            },
                            "Plantae": {
                                "value": "Plantae"
                            },
                            "canis%20familiaris": {
                                "value": "canis%20familiaris"
                            },
                            "mammalia": {
                                "value": "mammalia"
                            },
                            "Prunus%20avium": {
                                "value": "Prunus%20avium"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "plantae": {
                                "value": "plantae"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            },
                            "5": {
                                "value": "5"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "canis%20lupus": {
                                "value": "canis%20lupus"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Panthera+leo": {
                                "value": "Panthera+leo"
                            }
                        }
                    },
                    {
                        "name": "highertaxon",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GENUS": {
                                "value": "GENUS"
                            },
                            "genus": {
                                "value": "genus"
                            },
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Plantae": {
                                "value": "Plantae"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1800": {
                                "value": "1800"
                            }
                        }
                    },
                    {
                        "name": "mediaType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "stillImage": {
                                "value": "stillImage"
                            },
                            "StillImage": {
                                "value": "StillImage"
                            }
                        }
                    },
                    {
                        "name": "hasCoordinate",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "hasGeospatialIssue",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            },
                            "eng": {
                                "value": "eng"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "HOMOTYPIC_SYNONYM": {
                                "value": "HOMOTYPIC_SYNONYM"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "highertaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "212": {
                                "value": "212"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 547916384</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/match": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "canis%20lupus": {
                                "value": "canis%20lupus"
                            },
                            "Ailuropoda+melanoleuca": {
                                "value": "Ailuropoda+melanoleuca"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Panthera+leo": {
                                "value": "Panthera+leo"
                            },
                            "Panthera%20tigris": {
                                "value": "Panthera%20tigris"
                            },
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "genus": {
                                "value": "genus"
                            },
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ursidae": {
                                "value": "Ursidae"
                            },
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ailuropoda": {
                                "value": "Ailuropoda"
                            },
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "species",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "melanoleuca": {
                                "value": "melanoleuca"
                            }
                        }
                    },
                    {
                        "name": "highertaxon",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "eng": {
                                "value": "eng"
                            },
                            "fr": {
                                "value": "fr"
                            },
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7ddf754f-d193-4cc9-b351-99906754a03b": {
                                "value": "7ddf754f-d193-4cc9-b351-99906754a03b"
                            },
                            "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
                            }
                        }
                    },
                    {
                        "name": "highertaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2438840": {
                                "value": "2438840"
                            }
                        }
                    },
                    {
                        "name": "verbose",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "synonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "higherClassification",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_match"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 547916384</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "canis%20lupus": {
                                "value": "canis%20lupus"
                            },
                            "Homo%20sapiens": {
                                "value": "Homo%20sapiens"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 547916384</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/suggest": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "canis%20lupus": {
                                "value": "canis%20lupus"
                            },
                            "rosa": {
                                "value": "rosa"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Elephantidae": {
                                "value": "Elephantidae"
                            },
                            "plant": {
                                "value": "plant"
                            },
                            "Panthera+tigris": {
                                "value": "Panthera+tigris"
                            },
                            "wolf": {
                                "value": "wolf"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Panthera+pardus": {
                                "value": "Panthera+pardus"
                            },
                            "Ailuropoda%20melanoleuca": {
                                "value": "Ailuropoda%20melanoleuca"
                            },
                            "plantae": {
                                "value": "plantae"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "genus": {
                                "value": "genus"
                            },
                            "SPECIES": {
                                "value": "SPECIES"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            },
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "highertaxon",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "verbose",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Canidae": {
                                "value": "Canidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Canis": {
                                "value": "Canis"
                            }
                        }
                    },
                    {
                        "name": "nameType",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "SCIENTIFIC": {
                                "value": "SCIENTIFIC"
                            }
                        }
                    },
                    {
                        "name": "highertaxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "511": {
                                "value": "511"
                            }
                        }
                    },
                    {
                        "name": "datasetKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "7ce8a88a-9c15-40d9-b46d-5d6c032d3c45": {
                                "value": "7ce8a88a-9c15-40d9-b46d-5d6c032d3c45"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_suggest"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 547916384</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/lookup": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "canis%20lupus": {
                                "value": "canis%20lupus"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "Panthera+leo": {
                                "value": "Panthera+leo"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "Plantae": {
                                "value": "Plantae"
                            },
                            "Prunus+serotina": {
                                "value": "Prunus+serotina"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "highertaxon",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "genus",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera": {
                                "value": "Panthera"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "HOMOTYPIC_SYNONYM": {
                                "value": "HOMOTYPIC_SYNONYM"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_lookup"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 547916384</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "canis%20lupus": {
                                "value": "canis%20lupus"
                            },
                            "Panthera+leo": {
                                "value": "Panthera+leo"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "plant": {
                                "value": "plant"
                            },
                            "dinosaur": {
                                "value": "dinosaur"
                            },
                            "bird": {
                                "value": "bird"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            },
                            "5": {
                                "value": "5"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "genus": {
                                "value": "genus"
                            },
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "phylum",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chordata": {
                                "value": "Chordata"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "family",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Felidae": {
                                "value": "Felidae"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ACCEPTED": {
                                "value": "ACCEPTED"
                            },
                            "HOMOTYPIC_SYNONYM": {
                                "value": "HOMOTYPIC_SYNONYM"
                            },
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "highertaxon",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "eng": {
                                "value": "eng"
                            }
                        }
                    },
                    {
                        "name": "strict",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "basisOfRecord",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PRESERVED_SPECIMEN": {
                                "value": "PRESERVED_SPECIMEN"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 547916384</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/children": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/children route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "isPreferred",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_children"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 578389027</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/descriptions": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/descriptions route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "isPreferred",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "spa": {
                                "value": "spa"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_descriptions"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 578389027</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/distributions": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/distributions route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "isPreferred",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_id_distributions"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer/summary for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer/summary for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 578389027</p>\n    <..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/{id}/vernacularNames": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /v1/species/{id}/vernacularNames route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "eng": {
                                "value": "eng"
                            },
                            "fr": {
                                "value": "fr"
                            },
                            "en": {
                                "value": "en"
                            },
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "flower": {
                                "value": "flower"
                            },
                            "bird": {
                                "value": "bird"
                            },
                            "plant": {
                                "value": "plant"
                            },
                            "mammal": {
                                "value": "mammal"
                            },
                            "plantae": {
                                "value": "plantae"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "100": {
                                "value": "100"
                            },
                            "50": {
                                "value": "50"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            },
                            "50": {
                                "value": "50"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "vernacularName": {
                                "value": "vernacularName"
                            }
                        }
                    },
                    {
                        "name": "isPreferred",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            },
                            "genus": {
                                "value": "genus"
                            },
                            "GENUS": {
                                "value": "GENUS"
                            },
                            "ORDER": {
                                "value": "ORDER"
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Plantae": {
                                "value": "Plantae"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            },
                            "INSECTA": {
                                "value": "INSECTA"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "456": {
                                "value": "456"
                            }
                        }
                    },
                    {
                        "name": "isExtinct",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
[...]
