{
    "openapi": "3.1.0",
    "info": {
        "title": "Weather API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average GET route discovery rate of 85.05% and query parameter discovery rate of 81.05%. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The Weather API provides real-time and forecasted weather data for specific locations.",
        "termsOfService": "https://www.weatherapi.com/terms.aspx",
        "contact": {
            "name": "Weather API Contact",
            "url": "",
            "email": "support@weatherapi.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.weatherapi.com",
            "description": "Production Server of the Weather API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://www.weatherapi.com/docs",
        "description": "Find more about the Weather API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/forecast": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York+City": {
                                "value": "New+York+City"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "metric": {
                                "value": "metric"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "day",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Monday": {
                                "value": "Monday"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "humidity",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "wind_speed",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_forecast"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/current": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_current"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/alerts": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York+City": {
                                "value": "New+York+City"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_alerts"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/history": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_history"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/air-quality": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            },
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "lat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "NY": {
                                "value": "NY"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-11-15T12:00:00": {
                                "value": "2022-11-15T12:00:00"
                            },
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "radius",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "stationID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "metric": {
                                "value": "metric"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "longitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "-74.0060": {
                                "value": "-74.0060"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-15": {
                                "value": "2021-10-15"
                            }
                        }
                    },
                    {
                        "name": "station_id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_air-quality"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/radar": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "radius",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "precipitation": {
                                "value": "precipitation"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "apikey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123456": {
                                "value": "123456"
                            }
                        }
                    },
                    {
                        "name": "show",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "radar": {
                                "value": "radar"
                            }
                        }
                    },
                    {
                        "name": "zoom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_radar"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/hourly": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "London": {
                                "value": "London"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "lat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "appid",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "abcdef123456": {
                                "value": "abcdef123456"
                            }
                        }
                    },
                    {
                        "name": "exclude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "minutely": {
                                "value": "minutely"
                            }
                        }
                    },
                    {
                        "name": "timezone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "America": {
                                "value": "America"
                            }
                        }
                    },
                    {
                        "name": "alerts",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_hourly"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/daily": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_daily"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/moon-phase": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "London": {
                                "value": "London"
                            },
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-15": {
                                "value": "2021-10-15"
                            },
                            "2022-10-15": {
                                "value": "2022-10-15"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "longitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "-74.0060": {
                                "value": "-74.0060"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "country_code",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "zip_code",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            }
                        }
                    },
                    {
                        "name": "forecast",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "weekly": {
                                "value": "weekly"
                            }
                        }
                    },
                    {
                        "name": "temperature_unit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Celsius": {
                                "value": "Celsius"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spanish": {
                                "value": "Spanish"
                            }
                        }
                    },
                    {
                        "name": "zipcode",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10001": {
                                "value": "10001"
                            }
                        }
                    },
                    {
                        "name": "forecast_days",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "7": {
                                "value": "7"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_moon-phase"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/pollen": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_pollen"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_id"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/historical": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-05-15": {
                                "value": "2021-05-15"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "NewYork": {
                                "value": "NewYork"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "temperature",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Celsius": {
                                "value": "Celsius"
                            }
                        }
                    },
                    {
                        "name": "wind_speed",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kph": {
                                "value": "kph"
                            }
                        }
                    },
                    {
                        "name": "humidity",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "high": {
                                "value": "high"
                            }
                        }
                    },
                    {
                        "name": "precipitation",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "mm": {
                                "value": "mm"
                            }
                        }
                    },
                    {
                        "name": "forecast_days",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "7": {
                                "value": "7"
                            }
                        }
                    },
                    {
                        "name": "time_of_day",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "noon": {
                                "value": "noon"
                            }
                        }
                    },
                    {
                        "name": "historical_data",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "London": {
                                "value": "London"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_historical"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/airquality": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_airquality"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/sunset": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_sunset"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/moonphase": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-25": {
                                "value": "2021-10-25"
                            }
                        }
                    },
                    {
                        "name": "location",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "timezone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EST": {
                                "value": "EST"
                            }
                        }
                    },
                    {
                        "name": "moonphase",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "full": {
                                "value": "full"
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "40.7128": {
                                "value": "40.7128"
                            }
                        }
                    },
                    {
                        "name": "longitude",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        },
                        "examples": {
                            "-74.0060": {
                                "value": "-74.0060"
                            }
                        }
                    },
                    {
                        "name": "units",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "imperial": {
                                "value": "imperial"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "12:00": {
                                "value": "12:00"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_moonphase"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/uvindex": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_uvindex"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/sunrise-sunset": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_sunrise-sunset"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/marine": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_marine"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/conditions": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_conditions"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/UV-index": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_UV-index"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "< DATA>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema": {},
            "ResponseSchema_forecast": {},
            "ResponseSchema_current": {},
            "ResponseSchema_alerts": {},
            "ResponseSchema_history": {},
            "ResponseSchema_air-quality": {},
            "ResponseSchema_radar": {},
            "ResponseSchema_hourly": {},
            "ResponseSchema_daily": {},
            "ResponseSchema_moon-phase": {},
            "ResponseSchema_pollen": {},
            "ResponseSchema_id": {},
            "ResponseSchema_historical": {},
            "ResponseSchema_airquality": {},
            "ResponseSchema_sunset": {},
            "ResponseSchema_moonphase": {},
            "ResponseSchema_uvindex": {},
            "ResponseSchema_sunrise-sunset": {},
            "ResponseSchema_marine": {},
            "ResponseSchema_conditions": {},
            "ResponseSchema_UV-index": {}
        }
    }
}