{
    "openapi": "3.1.0",
    "info": {
        "title": "Datamuse API",
        "description": "**API Description** - The Datamuse API is a tool for finding words that are related to a given word or phrase.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Datamuse API Contact",
            "url": "https://www.datamuse.com/api",
            "email": "support@datamuse.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.datamuse.com",
            "description": "Production Server of the Datamuse API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.datamuse.com/api",
        "description": "Find more about the Datamuse API here:"
    },
    "paths": {
        "/words": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "ml",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "example": {
                                "value": "example"
                            },
                            "computer": {
                                "value": "computer"
                            },
                            "apple": {
                                "value": "apple"
                            },
                            "kitten": {
                                "value": "kitten"
                            }
                        }
                    },
                    {
                        "name": "max",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "rel_rhy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "cat": {
                                "value": "cat"
                            },
                            "example": {
                                "value": "example"
                            },
                            "love": {
                                "value": "love"
                            },
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "sp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "england": {
                                "value": "england"
                            },
                            "example": {
                                "value": "example"
                            },
                            "8": {
                                "value": "8"
                            },
                            "dog": {
                                "value": "dog"
                            },
                            "fruit": {
                                "value": "fruit"
                            },
                            "adjective": {
                                "value": "adjective"
                            }
                        }
                    },
                    {
                        "name": "md",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d": {
                                "value": "d"
                            }
                        }
                    },
                    {
                        "name": "rel_syn",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "tree": {
                                "value": "tree"
                            },
                            "example": {
                                "value": "example"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "cat": {
                                "value": "cat"
                            },
                            "goodbye": {
                                "value": "goodbye"
                            },
                            "love": {
                                "value": "love"
                            }
                        }
                    },
                    {
                        "name": "topics",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "animals": {
                                "value": "animals"
                            },
                            "example": {
                                "value": "example"
                            },
                            "science": {
                                "value": "science"
                            },
                            "history": {
                                "value": "history"
                            },
                            "food": {
                                "value": "food"
                            },
                            "coding": {
                                "value": "coding"
                            }
                        }
                    },
                    {
                        "name": "rel_jja",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog": {
                                "value": "dog"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "beach": {
                                "value": "beach"
                            },
                            "sweet": {
                                "value": "sweet"
                            },
                            "big": {
                                "value": "big"
                            }
                        }
                    },
                    {
                        "name": "",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "rel_ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "love": {
                                "value": "love"
                            },
                            "banana": {
                                "value": "banana"
                            },
                            "hot": {
                                "value": "hot"
                            },
                            "hate": {
                                "value": "hate"
                            }
                        }
                    },
                    {
                        "name": "lc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "v",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            },
                            "espresso": {
                                "value": "espresso"
                            },
                            "fire": {
                                "value": "fire"
                            }
                        }
                    },
                    {
                        "name": "rel_jjb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "dog": {
                                "value": "dog"
                            },
                            "ripe": {
                                "value": "ripe"
                            },
                            "big": {
                                "value": "big"
                            },
                            "small": {
                                "value": "small"
                            }
                        }
                    },
                    {
                        "name": "rel_trg",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "apple": {
                                "value": "apple"
                            },
                            "dog": {
                                "value": "dog"
                            },
                            "car": {
                                "value": "car"
                            }
                        }
                    },
                    {
                        "name": "rel_spc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "fruit": {
                                "value": "fruit"
                            }
                        }
                    },
                    {
                        "name": "rel_gen",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "pear": {
                                "value": "pear"
                            },
                            "dog": {
                                "value": "dog"
                            }
                        }
                    },
                    {
                        "name": "rel_com",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_par",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_bga",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "tree": {
                                "value": "tree"
                            },
                            "orange": {
                                "value": "orange"
                            }
                        }
                    },
                    {
                        "name": "sl",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fruits": {
                                "value": "fruits"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_words"
                                },
                                "example": [
                                    {
                                        "word": "pleased",
                                        "score": 40004395,
                                        "tags": [
                                            "syn",
                                            "adj",
                                            "v",
                                            "results_type:primary_rel"
                                        ]
                                    },
                                    {
                                        "word": "blissful",
                                        "score": 40004156,
                                        "tags": [
                                            "syn",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "content",
                                        "score": 40004024,
                                        "tags": [
                                            "syn",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "glad",
                                        "score": 40003904,
                                        "tags": [
                                            "syn",
                                            "adj"
                                        ]
                                    },
                                    {
                                        "word": "contented",
                                        "score": 40003711,
                                        "tags": [
                                            "syn",
                                            "adj",
                                            "v"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "code": 404,
                                    "message": "HTTP 404 Not Found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sug": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "ml",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "max",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "s",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "comp": {
                                "value": "comp"
                            },
                            "": {
                                "value": ""
                            }
                        }
                    },
                    {
                        "name": "lc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "sp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "apple": {
                                "value": "apple"
                            },
                            "world": {
                                "value": "world"
                            },
                            "love": {
                                "value": "love"
                            }
                        }
                    },
                    {
                        "name": "rel_syn",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "python": {
                                "value": "python"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "dog": {
                                "value": "dog"
                            }
                        }
                    },
                    {
                        "name": "rel_ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "programming": {
                                "value": "programming"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "good": {
                                "value": "good"
                            }
                        }
                    },
                    {
                        "name": "rel_jja",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "computer": {
                                "value": "computer"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "healthy": {
                                "value": "healthy"
                            }
                        }
                    },
                    {
                        "name": "rel_jjb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "software": {
                                "value": "software"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "big": {
                                "value": "big"
                            },
                            "funny": {
                                "value": "funny"
                            }
                        }
                    },
                    {
                        "name": "rel_trg",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "code": {
                                "value": "code"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "run": {
                                "value": "run"
                            },
                            "cat": {
                                "value": "cat"
                            }
                        }
                    },
                    {
                        "name": "rel_bga",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "development": {
                                "value": "development"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_bgb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "technology": {
                                "value": "technology"
                            },
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_rhy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "string": {
                                "value": "string"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "cat": {
                                "value": "cat"
                            },
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_nry",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "language": {
                                "value": "language"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "book": {
                                "value": "book"
                            }
                        }
                    },
                    {
                        "name": "rel_hom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "script": {
                                "value": "script"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "fast": {
                                "value": "fast"
                            }
                        }
                    },
                    {
                        "name": "rel_spc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_gen",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_com",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_par",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "means_like",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "joyful": {
                                "value": "joyful"
                            }
                        }
                    },
                    {
                        "name": "topics",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "animals": {
                                "value": "animals"
                            },
                            "happy": {
                                "value": "happy"
                            },
                            "food": {
                                "value": "food"
                            },
                            "science": {
                                "value": "science"
                            },
                            "emotions": {
                                "value": "emotions"
                            }
                        }
                    },
                    {
                        "name": "md",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d": {
                                "value": "d"
                            }
                        }
                    },
                    {
                        "name": "ipa",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "qe",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "sl",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog": {
                                "value": "dog"
                            }
                        }
                    },
                    {
                        "name": "rel_cns",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "v",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json;charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_sug"
                                },
                                "example": []
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "code": 404,
                                    "message": "HTTP 404 Not Found"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "ResponseSchema_words": {},
            "ResponseSchema_sug": {}
        }
    }
}