{
    "openapi": "3.1.0",
    "info": {
        "title": "Datamuse - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://api.datamuse.com",
            "description": "Online server URL of the 'Datamuse' REST API."
        }
    ],
    "paths": {
        "/sug": {
            "get": {
                "summary": "Retrieves data at the path /sug.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "s",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 's'.",
                        "schema": {
                            "type": "string",
                            "example": "example"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'max'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getSug",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/words": {
            "get": {
                "summary": "Retrieves data at the path /words.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "ml",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'ml'.",
                        "schema": {
                            "type": "string",
                            "example": "catdog"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sp",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sp'.",
                        "schema": {
                            "type": "string",
                            "example": "*"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "qe",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'qe'.",
                        "schema": {
                            "type": "string",
                            "example": "cat"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_jja",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_jja'.",
                        "schema": {
                            "type": "string",
                            "example": "soft"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_jjb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_jjb'.",
                        "schema": {
                            "type": "string",
                            "example": "old"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_syn",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_syn'.",
                        "schema": {
                            "type": "string",
                            "example": "fast"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_trg",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_trg'.",
                        "schema": {
                            "type": "string",
                            "example": "car"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_ant",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_ant'.",
                        "schema": {
                            "type": "string",
                            "example": "slow"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_spc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_spc'.",
                        "schema": {
                            "type": "string",
                            "example": "tree"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_gen",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_gen'.",
                        "schema": {
                            "type": "string",
                            "example": "animal"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_com",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_com'.",
                        "schema": {
                            "type": "string",
                            "example": "lake"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_par",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_par'.",
                        "schema": {
                            "type": "string",
                            "example": "flower"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_bga",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_bga'.",
                        "schema": {
                            "type": "string",
                            "example": "green"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_bgb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_bgb'.",
                        "schema": {
                            "type": "string",
                            "example": "blue"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_rhy",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_rhy'.",
                        "schema": {
                            "type": "string",
                            "example": "time"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_nry",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_nry'.",
                        "schema": {
                            "type": "string",
                            "example": "spice"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_hom",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_hom'.",
                        "schema": {
                            "type": "string",
                            "example": "right"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_cns",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_cns'.",
                        "schema": {
                            "type": "string",
                            "example": "snake"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_vlb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_vlb'.",
                        "schema": {
                            "type": "string",
                            "example": "guitar"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'v'.",
                        "schema": {
                            "type": "string",
                            "example": "ruby"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "topics",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'topics'.",
                        "schema": {
                            "type": "string",
                            "example": "dog"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lc'.",
                        "schema": {
                            "type": "string",
                            "example": "cat"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rc'.",
                        "schema": {
                            "type": "string",
                            "example": "dog"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "quiz",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'quiz'.",
                        "schema": {
                            "type": "string",
                            "example": "deer"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "md",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'md'.",
                        "schema": {
                            "type": "string",
                            "example": "probable_prefix"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "ipa",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'ipa'.",
                        "schema": {
                            "type": "string",
                            "example": "\u02c8s\u026a\u014b\u0259r"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "word_pronunciation",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'word_pronunciation'.",
                        "schema": {
                            "type": "string",
                            "example": "singer"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "pronunciation_hints",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'pronunciation_hints'.",
                        "schema": {
                            "type": "string",
                            "example": "sing"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lang'.",
                        "schema": {
                            "type": "string",
                            "example": "en"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getWords",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "parameters": {}
    }
}