{
    "openapi": "3.1.0",
    "info": {
        "title": "CheapShark API",
        "description": "**API Description** - The CheapShark API is an interface that allows developers to access data related to video game deals and prices from the CheapShark platform.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://apidocs.cheapshark.com",
        "contact": {
            "name": "CheapShark API Contact",
            "url": "https://www.cheapshark.com/contact",
            "email": "support@cheapshark.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.cheapshark.com",
            "description": "Production Server of the CheapShark API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://apidocs.cheapshark.com",
        "description": "Find more about the CheapShark API here:"
    },
    "paths": {
        "/api/1.0/deals": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "storeID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "lowerPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "20": {
                                "value": "20"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "upperPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "30": {
                                "value": "30"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            },
                            "4": {
                                "value": "4"
                            }
                        }
                    },
                    {
                        "name": "title",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Assassin's+Creed": {
                                "value": "Assassin's+Creed"
                            },
                            "game": {
                                "value": "game"
                            },
                            "sims": {
                                "value": "sims"
                            }
                        }
                    },
                    {
                        "name": "onSale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "exact",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "sortBy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "price": {
                                "value": "price"
                            },
                            "savings": {
                                "value": "savings"
                            }
                        }
                    },
                    {
                        "name": "desc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "pageNumber",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "AAA",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "steamAppID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1234": {
                                "value": "1234"
                            },
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "price",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "metacritic",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90": {
                                "value": "90"
                            }
                        }
                    },
                    {
                        "name": "release",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_1.0_deals"
                                },
                                "example": [
                                    {
                                        "internalName": "SIDMEIERSCIVILIZATIONVI",
                                        "title": "Sid Meiers Civilization VI",
                                        "metacriticLink": "/game/sid-meiers-civilization-vi/",
                                        "dealID": "5xRuVIgFiH0TW2PTPJPlTN4NYMjAt4bg3p1CvKMMJv8%3D",
                                        "storeID": "1",
                                        "gameID": "152578",
                                        "salePrice": "5.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "90.015003",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "85",
                                        "steamRatingCount": "208019",
                                        "steamAppID": "289070",
                                        "releaseDate": 1476921600,
                                        "lastChange": 1700592193,
                                        "dealRating": "9.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/289070/capsule_sm_120.jpg?t=1680898825"
                                    },
                                    {
                                        "internalName": "GUNHEAD",
                                        "title": "GUNHEAD",
                                        "metacriticLink": "/game/gunhead/",
                                        "dealID": "nOR%2B%2B98IZTNQHtg2dAKthOZFm6P9MZCr6%2BYTIhTz4oY%3D",
                                        "storeID": "1",
                                        "gameID": "278143",
                                        "salePrice": "19.46",
                                        "normalPrice": "34.98",
                                        "isOnSale": "1",
                                        "savings": "44.368210",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "76",
                                        "steamRatingCount": "60",
                                        "steamAppID": "704000",
                                        "releaseDate": 1699401600,
                                        "lastChange": 1700592332,
                                        "dealRating": "9.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/704000/capsule_sm_120.jpg?t=1700322238"
                                    },
                                    {
                                        "internalName": "SIDMEIERSCIVILIZATIONIV",
                                        "title": "Sid Meier's Civilization IV",
                                        "metacriticLink": "/game/sid-meiers-civilization-iv/",
                                        "dealID": "khSrhkgpaxgOWWEYV9MdKid%2FcDzIGa0zHzvh5j73lLo%3D",
                                        "storeID": "1",
                                        "gameID": "126",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "94",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "2218",
                                        "steamAppID": "3900",
                                        "releaseDate": 1130198400,
                                        "lastChange": 1700592512,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/3900/capsule_sm_120.jpg?t=1573063101"
                                    },
                                    {
                                        "internalName": "BRAMBLETHEMOUNTAINKING",
                                        "title": "Bramble: The Mountain King",
                                        "metacriticLink": "/game/bramble-the-mountain-king/",
                                        "dealID": "wurENHLQj3xUYpG48mM4XSQndhdbFnjrJa0j6TN4170%3D",
                                        "storeID": "1",
                                        "gameID": "259924",
                                        "salePrice": "9.49",
                                        "normalPrice": "49.98",
                                        "isOnSale": "1",
                                        "savings": "81.012405",
                                        "metacriticScore": "75",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "1933",
                                        "steamAppID": "1623940",
                                        "releaseDate": 1682553600,
                                        "lastChange": 1700592314,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1623940/capsule_sm_120.jpg?t=1700669879"
                                    },
                                    {
                                        "internalName": "DISCOELYSIUMTHEFINALCUT",
                                        "title": "Disco Elysium - The Final Cut",
                                        "metacriticLink": "/game/disco-elysium-the-final-cut/",
                                        "dealID": "Uk9pH81%2BgPUwbkh9YzwMnYLT%2B%2FEaktqN8AgwMr6Y2wQ%3D",
                                        "storeID": "1",
                                        "gameID": "227942",
                                        "salePrice": "9.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "75.018755",
                                        "metacriticScore": "97",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "77698",
                                        "steamAppID": "632470",
                                        "releaseDate": 1617062400,
                                        "lastChange": 1700592230,
                                        "dealRating": "9.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/632470/capsule_sm_120.jpg?t=1698833230"
                                    },
                                    {
                                        "internalName": "MORTALKOMBAT11ULTIMATE",
                                        "title": "Mortal Kombat 11 Ultimate",
                                        "metacriticLink": "/game/mortal-kombat-11-ultimate/",
                                        "dealID": "hBzFkwXV5CCVfkjbLZexRx1fhOrxUk1Idvnte3OGtao%3D",
                                        "storeID": "1",
                                        "gameID": "223428",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "91",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "68000",
                                        "steamAppID": "518699",
                                        "releaseDate": 1605571200,
                                        "lastChange": 1700595632,
                                        "dealRating": "9.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/subs/518699/capsule_sm_120.jpg?t=1691103019"
                                    },
                                    {
                                        "internalName": "RAWDATA",
                                        "title": "Raw Data",
                                        "metacriticLink": "/game/raw-data/",
                                        "dealID": "tig%2F7psZsOY4%2Fkzb1%2BKetf6fAOQd9OGjSC3MokgpmYo%3D",
                                        "storeID": "1",
                                        "gameID": "154911",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "2004",
                                        "steamAppID": "436320",
                                        "releaseDate": 1506902400,
                                        "lastChange": 1700595978,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/436320/capsule_sm_120.jpg?t=1688151692"
                                    },
                                    {
                                        "internalName": "FEAR",
                                        "title": "F.E.A.R.",
                                        "metacriticLink": "/game/f-e-a-r/",
                                        "dealID": "WFwstQjgLzBa%2B3oookD3gXsxLY5aYVxO6KU%2F1ouKAoE%3D",
                                        "storeID": "1",
                                        "gameID": "226",
                                        "salePrice": "8.24",
                                        "normalPrice": "54.99",
                                        "isOnSale": "1",
                                        "savings": "85.015457",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "9552",
                                        "steamAppID": "21090",
                                        "releaseDate": 1129507200,
                                        "lastChange": 1700604711,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/21090/capsule_sm_120.jpg?t=1681232225"
                                    },
                                    {
                                        "internalName": "BIOSHOCKINFINITE",
                                        "title": "BioShock Infinite",
                                        "metacriticLink": "/game/bioshock-infinite/",
                                        "dealID": "X8sebHhbc1Ga0dTkgg59WgyM506af9oNZZJLU9uSrX8%3D",
                                        "storeID": "1",
                                        "gameID": "93503",
                                        "salePrice": "7.49",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "75.025008",
                                        "metacriticScore": "94",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "93",
                                        "steamRatingCount": "100121",
                                        "steamAppID": "8870",
                                        "releaseDate": 1364169600,
                                        "lastChange": 1700592238,
                                        "dealRating": "9.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/8870/capsule_sm_120.jpg?t=1602794480"
                                    },
                                    {
                                        "internalName": "WOLFENSTEINIITHENEWCOLOSSUS",
                                        "title": "Wolfenstein II: The New Colossus",
                                        "metacriticLink": "/game/wolfenstein-ii-the-new-colossus/",
                                        "dealID": "87xV5nWWYreL5zsHRwL8OARvLSv%2BtjQKkqK9z04jzsc%3D",
                                        "storeID": "1",
                                        "gameID": "170049",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "79",
                                        "steamRatingCount": "25980",
                                        "steamAppID": "612880",
                                        "releaseDate": 1509062400,
                                        "lastChange": 1700592267,
                                        "dealRating": "9.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/612880/capsule_sm_120.jpg?t=1691683256"
                                    },
                                    {
                                        "internalName": "SOULCALIBURVI",
                                        "title": "Soul Calibur VI",
                                        "metacriticLink": "/game/soulcalibur-vi/",
                                        "dealID": "LG2g7Gkt2pcNX16hUqv%2Bf%2BZSNpUvCwWrfPeRiQqdHeQ%3D",
                                        "storeID": "1",
                                        "gameID": "176105",
                                        "salePrice": "5.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "90.015003",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "8107",
                                        "steamAppID": "544750",
                                        "releaseDate": 1539820800,
                                        "lastChange": 1700592261,
                                        "dealRating": "9.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/544750/capsule_sm_120.jpg?t=1646956219"
                                    },
                                    {
                                        "internalName": "RAYMANLEGENDS",
                                        "title": "Rayman Legends",
                                        "metacriticLink": "/game/rayman-legends/",
                                        "dealID": "e61fgLI7J6vwKPRiiPcGMLTTgHG7jRdr%2FhXNriK7tlY%3D",
                                        "storeID": "1",
                                        "gameID": "100522",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "6705",
                                        "steamAppID": "242550",
                                        "releaseDate": 1378166400,
                                        "lastChange": 1700592373,
                                        "dealRating": "9.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/242550/capsule_sm_120.jpg?t=1680012063"
                                    },
                                    {
                                        "internalName": "THEELDERSCROLLSONLINENECROM",
                                        "title": "The Elder Scrolls Online: Necrom",
                                        "metacriticLink": "/game/the-elder-scrolls-online-necrom/",
                                        "dealID": "JGXhu2zLPTLlC6UN6FofD3esnnUD6aSbU6VljMVwIyQ%3D",
                                        "storeID": "1",
                                        "gameID": "256512",
                                        "salePrice": "13.19",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "67.016754",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "72",
                                        "steamRatingCount": "199",
                                        "steamAppID": "2172860",
                                        "releaseDate": 1685923200,
                                        "lastChange": 1700592232,
                                        "dealRating": "9.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/2172860/capsule_sm_120.jpg?t=1698940684"
                                    },
                                    {
                                        "internalName": "SNIPERELITE4",
                                        "title": "Sniper Elite 4",
                                        "metacriticLink": "/game/sniper-elite-4/",
                                        "dealID": "PB0QwRBuCWGkI%2FCzoZhoPZTz8MIJ7yTTVLbztoRr24g%3D",
                                        "storeID": "1",
                                        "gameID": "158730",
                                        "salePrice": "5.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "90.015003",
                                        "metacriticScore": "78",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "91",
                                        "steamRatingCount": "44950",
                                        "steamAppID": "312660",
                                        "releaseDate": 1487030400,
                                        "lastChange": 1700592255,
                                        "dealRating": "9.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/312660/capsule_sm_120.jpg?t=1681207252"
                                    },
                                    {
                                        "internalName": "THEWITCHER3WILDHUNT",
                                        "title": "The Witcher 3: Wild Hunt",
                                        "metacriticLink": "/game/the-witcher-3-wild-hunt/",
                                        "dealID": "zm2ORJ1RIWrq7UFFCs9J4ps4rgsNUV7FTSnWxzxxj8Q%3D",
                                        "storeID": "1",
                                        "gameID": "112330",
                                        "salePrice": "9.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "75.018755",
                                        "metacriticScore": "93",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "680284",
                                        "steamAppID": "292030",
                                        "releaseDate": 1431907200,
                                        "lastChange": 1700592203,
                                        "dealRating": "9.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/292030/capsule_sm_120.jpg?t=1693590732"
                                    },
                                    {
                                        "internalName": "DRAGONBALLFIGHTERZ",
                                        "title": "DRAGON BALL FighterZ",
                                        "metacriticLink": "/game/dragon-ball-fighterz/",
                                        "dealID": "pN%2BP8X75%2BXEx5ATM5T3lmHIDXGLhrdo8LosbfLj9MaA%3D",
                                        "storeID": "1",
                                        "gameID": "174454",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "85",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "90",
                                        "steamRatingCount": "46250",
                                        "steamAppID": "678950",
                                        "releaseDate": 1516924800,
                                        "lastChange": 1700592230,
                                        "dealRating": "8.9",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/678950/capsule_sm_120.jpg?t=1687902534"
                                    },
                                    {
                                        "internalName": "ASSASSINSCREEDORIGINS",
                                        "title": "Assassins Creed Origins",
                                        "metacriticLink": "/game/assassins-creed-origins/",
                                        "dealID": "Xseq2XZs5sP%2BATR28J3Bpv2BPe%2BIWvMy3yCk03ABFgo%3D",
                                        "storeID": "1",
                                        "gameID": "170047",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "84",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "87250",
                                        "steamAppID": "582160",
                                        "releaseDate": 1509062400,
                                        "lastChange": 1700592257,
                                        "dealRating": "8.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/582160/capsule_sm_120.jpg?t=1692034680"
                                    },
                                    {
                                        "internalName": "SENGOKUJIDAISHADOWOFTHESHOGUN",
                                        "title": "Sengoku Jidai: Shadow of the Shogun",
                                        "metacriticLink": "/game/sengoku-jidai-shadow-of-the-shogun/",
                                        "dealID": "r6%2B6Mn8ToDAyVG%2Fjgkhp8orjyP%2BE5BB9a45VBnNRdgs%3D",
                                        "storeID": "1",
                                        "gameID": "152812",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "85",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "73",
                                        "steamRatingCount": "140",
                                        "steamAppID": "397190",
                                        "releaseDate": 1463616000,
                                        "lastChange": 1700614304,
                                        "dealRating": "8.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/397190/capsule_sm_120.jpg?t=1631260479"
                                    },
                                    {
                                        "internalName": "FLOODLAND",
                                        "title": "Floodland",
                                        "metacriticLink": "/game/floodland/",
                                        "dealID": "PnyJhO9uNfYF%2BjjwDlwyEqOMhNWKJxz1iNAFdgFzeZ0%3D",
                                        "storeID": "1",
                                        "gameID": "253383",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "73",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "56",
                                        "steamRatingCount": "628",
                                        "steamAppID": "1336180",
                                        "releaseDate": 1668470400,
                                        "lastChange": 1700592693,
                                        "dealRating": "8.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1336180/capsule_sm_120.jpg?t=1687425773"
                                    },
                                    {
                                        "internalName": "NINOKUNIWRATHOFTHEWHITEWITCHREMASTERED",
                                        "title": "Ni no Kuni: Wrath of the White Witch Remastered",
                                        "metacriticLink": "/game/ni-no-kuni-wrath-of-the-white-witch-remastered/",
                                        "dealID": "Tpjyg1tuVZENc7xJuUsyAbDzszrOagp6zgIng2jUCEo%3D",
                                        "storeID": "1",
                                        "gameID": "204654",
                                        "salePrice": "7.49",
                                        "normalPrice": "49.99",
                                        "isOnSale": "1",
                                        "savings": "85.017003",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "85",
                                        "steamRatingCount": "2861",
                                        "steamAppID": "798460",
                                        "releaseDate": 1568937600,
                                        "lastChange": 1700592291,
                                        "dealRating": "8.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/798460/capsule_sm_120.jpg?t=1605603000"
                                    },
                                    {
                                        "internalName": "CIVILIZATIONIVBEYONDTHESWORD",
                                        "title": "Civilization IV: Beyond the Sword",
                                        "metacriticLink": null,
                                        "dealID": "CTCeBGzs%2FYqcY2tFVzvfzUWrcun%2BHdDkBHh15w2JeGs%3D",
                                        "storeID": "1",
                                        "gameID": "218",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "2962",
                                        "steamAppID": "8800",
                                        "releaseDate": 0,
                                        "lastChange": 1700595931,
                                        "dealRating": "8.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/8800/capsule_sm_120.jpg?t=1573063843"
                                    },
                                    {
                                        "internalName": "RISEOFTHETOMBRAIDER",
                                        "title": "Rise of the Tomb Raider",
                                        "metacriticLink": "/game/rise-of-the-tomb-raider/",
                                        "dealID": "JLFqGNvtew3enSlgxRtAZBJ3GeU4Rd0XYhGePiQcaI8%3D",
                                        "storeID": "1",
                                        "gameID": "145517",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "97710",
                                        "steamAppID": "391220",
                                        "releaseDate": 1453939200,
                                        "lastChange": 1700592311,
                                        "dealRating": "8.8",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/391220/capsule_sm_120.jpg?t=1699902983"
                                    },
                                    {
                                        "internalName": "TOTALWARSHOGUN2",
                                        "title": "Total War: SHOGUN 2",
                                        "metacriticLink": "/game/total-war-shogun-2/",
                                        "dealID": "jFVI38mQYZ7dXFtgt5xEbnfGoxi61820AvVF%2BhQZkO4%3D",
                                        "storeID": "1",
                                        "gameID": "44",
                                        "salePrice": "7.49",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "75.025008",
                                        "metacriticScore": "90",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "91",
                                        "steamRatingCount": "30178",
                                        "steamAppID": "201270",
                                        "releaseDate": 1300147200,
                                        "lastChange": 1700592236,
                                        "dealRating": "8.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/201270/capsule_sm_120.jpg?t=1603131194"
                                    },
                                    {
                                        "internalName": "THEEVILWITHIN2",
                                        "title": "The Evil Within 2",
                                        "metacriticLink": "/game/the-evil-within-2/",
                                        "dealID": "upTMRlRtJRwK%2F7HKQ5WiJPHzxfCz3%2BTxp7smpnNpp%2FM%3D",
                                        "storeID": "1",
                                        "gameID": "170048",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "80",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "92",
                                        "steamRatingCount": "16002",
                                        "steamAppID": "601430",
                                        "releaseDate": 1507766400,
                                        "lastChange": 1700592358,
                                        "dealRating": "8.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/601430/capsule_sm_120.jpg?t=1698759472"
                                    },
                                    {
                                        "internalName": "SUPERDRAGONBALLHEROESWORLDMISSION",
                                        "title": "Super Dragon Ball Heroes World Mission",
                                        "metacriticLink": "/game/super-dragon-ball-heroes-world-mission/",
                                        "dealID": "m9DxZnxIHDezgc1cvpNb0byIAWlsH8ArWke9fA27UDY%3D",
                                        "storeID": "1",
                                        "gameID": "199647",
                                        "salePrice": "5.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "90.015003",
                                        "metacriticScore": "72",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "84",
                                        "steamRatingCount": "1198",
                                        "steamAppID": "798510",
                                        "releaseDate": 1554336000,
                                        "lastChange": 1700592649,
                                        "dealRating": "8.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/798510/capsule_sm_120.jpg?t=1563959290"
                                    },
                                    {
                                        "internalName": "FIGMENT2CREEDVALLEY",
                                        "title": "Figment 2: Creed Valley",
                                        "metacriticLink": "/game/figment-2-creed-valley/",
                                        "dealID": "iCGMXRwFFuNM5RdGa4bH7sJUyZq5bOZ9rmZYYVnCNdw%3D",
                                        "storeID": "1",
                                        "gameID": "258191",
                                        "salePrice": "12.38",
                                        "normalPrice": "44.98",
                                        "isOnSale": "1",
                                        "savings": "72.476656",
                                        "metacriticScore": "76",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "96",
                                        "steamRatingCount": "294",
                                        "steamAppID": "1085220",
                                        "releaseDate": 1678320000,
                                        "lastChange": 1700592779,
                                        "dealRating": "8.7",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1085220/capsule_sm_120.jpg?t=1697539005"
                                    },
                                    {
                                        "internalName": "DIVINITYORIGINALSINENHANCEDEDITION",
                                        "title": "Divinity: Original Sin - Enhanced Edition",
                                        "metacriticLink": "/game/divinity-original-sin-enhanced-edition/",
                                        "dealID": "vTZ81A14wUS99zrsTQ2UVPE%2BbPMgndYC%2BNJbOgQZ7Fs%3D",
                                        "storeID": "1",
                                        "gameID": "146697",
                                        "salePrice": "11.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "70.017504",
                                        "metacriticScore": "94",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "20379",
                                        "steamAppID": "373420",
                                        "releaseDate": 1445904000,
                                        "lastChange": 1700592273,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/373420/capsule_sm_120.jpg?t=1665155407"
                                    },
                                    {
                                        "internalName": "NEEDFORSPEEDHEAT",
                                        "title": "Need for Speed Heat",
                                        "metacriticLink": "/game/need-for-speed-heat/",
                                        "dealID": "I%2BKyFHIkqTza%2FEM3EEeICP%2F0UyJGfB%2FXej9zQ%2BxEf6I%3D",
                                        "storeID": "1",
                                        "gameID": "204096",
                                        "salePrice": "6.99",
                                        "normalPrice": "69.99",
                                        "isOnSale": "1",
                                        "savings": "90.012859",
                                        "metacriticScore": "72",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "84",
                                        "steamRatingCount": "75488",
                                        "steamAppID": "1222680",
                                        "releaseDate": 1573171200,
                                        "lastChange": 1700592244,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1222680/capsule_sm_120.jpg?t=1690398297"
                                    },
                                    {
                                        "internalName": "MORTALKOMBATXL",
                                        "title": "Mortal Kombat XL",
                                        "metacriticLink": "/game/mortal-kombat-xl/",
                                        "dealID": "PWjv3eUkcTlZYYIuPOHA5HkD7DX22852FfANriPGrz0%3D",
                                        "storeID": "1",
                                        "gameID": "160047",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "84",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "33845",
                                        "steamAppID": "128345",
                                        "releaseDate": 1475539200,
                                        "lastChange": 1700595937,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/subs/128345/capsule_sm_120.jpg?t=1698957925"
                                    },
                                    {
                                        "internalName": "FROSTPUNK",
                                        "title": "Frostpunk",
                                        "metacriticLink": "/game/frostpunk/",
                                        "dealID": "yiJ%2B%2BQm1oghJrTjJJ7BUKdpTlOrbBKCkOYw67UHarPE%3D",
                                        "storeID": "1",
                                        "gameID": "173596",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "84",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "92",
                                        "steamRatingCount": "79444",
                                        "steamAppID": "323190",
                                        "releaseDate": 1524528000,
                                        "lastChange": 1700592237,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/323190/capsule_sm_120.jpg?t=1699445066"
                                    },
                                    {
                                        "internalName": "XCOMENEMYUNKNOWN",
                                        "title": "XCOM: Enemy Unknown",
                                        "metacriticLink": "/game/xcom-enemy-unknown/",
                                        "dealID": "F8so5KCN6t%2BVObO8mQwaxJJ8vfmf5iSOCZd65O82loI%3D",
                                        "storeID": "1",
                                        "gameID": "88305",
                                        "salePrice": "7.49",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "75.025008",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "35751",
                                        "steamAppID": "200510",
                                        "releaseDate": 1349654400,
                                        "lastChange": 1700592355,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/200510/capsule_sm_120.jpg?t=1587584126"
                                    },
                                    {
                                        "internalName": "PILLARSOFETERNITY",
                                        "title": "Pillars of Eternity",
                                        "metacriticLink": "/game/pillars-of-eternity/",
                                        "dealID": "xSxFguFqKoSVIAkSyxknVF8DhGC%2BAnTtFdmR9Z5E5aM%3D",
                                        "storeID": "1",
                                        "gameID": "137316",
                                        "salePrice": "7.49",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "75.025008",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "14422",
                                        "steamAppID": "291650",
                                        "releaseDate": 1427328000,
                                        "lastChange": 1700592335,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/291650/capsule_sm_120.jpg?t=1683221851"
                                    },
                                    {
                                        "internalName": "DRAGONAGEINQUISITION",
                                        "title": "Dragon Age Inquisition",
                                        "metacriticLink": "/game/dragon-age-inquisition/",
                                        "dealID": "T3I%2F613QRowMzusivVCs7SH3MvFA7Dsj3JUGpgecSus%3D",
                                        "storeID": "1",
                                        "gameID": "108600",
                                        "salePrice": "7.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "80.020005",
                                        "metacriticScore": "85",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "75",
                                        "steamRatingCount": "12478",
                                        "steamAppID": "1222690",
                                        "releaseDate": 1416268800,
                                        "lastChange": 1700592300,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1222690/capsule_sm_120.jpg?t=1668811031"
                                    },
                                    {
                                        "internalName": "INDIVISIBLE",
                                        "title": "Indivisible",
                                        "metacriticLink": "/game/indivisible/",
                                        "dealID": "JMBT8pEc2pkZMSCdKx12D45A7e%2FEqho2vPUknM4lF9M%3D",
                                        "storeID": "1",
                                        "gameID": "203925",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "78",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "72",
                                        "steamRatingCount": "1996",
                                        "steamAppID": "421170",
                                        "releaseDate": 1570492800,
                                        "lastChange": 1700595598,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/421170/capsule_sm_120.jpg?t=1677520885"
                                    },
                                    {
                                        "internalName": "HOTWHEELSUNLEASHED",
                                        "title": "HOT WHEELS UNLEASHED",
                                        "metacriticLink": "/game/hot-wheels-unleashed/",
                                        "dealID": "Pq2HQtYvg3%2F0L3gR9OM95WhRzCICJ72I6s8dqECd59o%3D",
                                        "storeID": "1",
                                        "gameID": "233274",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "78",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "4252",
                                        "steamAppID": "1271700",
                                        "releaseDate": 1632960000,
                                        "lastChange": 1700592316,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1271700/capsule_sm_120.jpg?t=1685547345"
                                    },
                                    {
                                        "internalName": "ANCESTORSLEGACY",
                                        "title": "Ancestors Legacy",
                                        "metacriticLink": "/game/ancestors-legacy/",
                                        "dealID": "ejS0hPLtQn1kbWmytSo%2FB4BawkDY1aR2RNlGv%2F0s%2Bxs%3D",
                                        "storeID": "1",
                                        "gameID": "177880",
                                        "salePrice": "5.24",
                                        "normalPrice": "34.99",
                                        "isOnSale": "1",
                                        "savings": "85.024293",
                                        "metacriticScore": "77",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "80",
                                        "steamRatingCount": "4871",
                                        "steamAppID": "620590",
                                        "releaseDate": 1526947200,
                                        "lastChange": 1700592469,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/620590/capsule_sm_120.jpg?t=1699435680"
                                    },
                                    {
                                        "internalName": "THEBARDSTALEIVDIRECTORSCUT",
                                        "title": "The Bard's Tale IV: Director's Cut",
                                        "metacriticLink": "/game/the-bards-tale-iv-directors-cut/",
                                        "dealID": "U0fmr0EtnLg%2FnIP0LH4YOymQoYy7xQSCwwubNKy%2FvAc%3D",
                                        "storeID": "1",
                                        "gameID": "203144",
                                        "salePrice": "6.99",
                                        "normalPrice": "34.99",
                                        "isOnSale": "1",
                                        "savings": "80.022864",
                                        "metacriticScore": "84",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "77",
                                        "steamRatingCount": "551",
                                        "steamAppID": "1091980",
                                        "releaseDate": 1566864000,
                                        "lastChange": 1700608115,
                                        "dealRating": "8.6",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1091980/capsule_sm_120.jpg?t=1689780612"
                                    },
                                    {
                                        "internalName": "PLANTSVSZOMBIESBATTLEFORNEIGHBORVILLE",
                                        "title": "Plants vs. Zombies: Battle for Neighborville",
                                        "metacriticLink": "/game/plants-vs-zombies-battle-for-neighborville/",
                                        "dealID": "NtotB%2Bp2IFFFXY4x2AjoFNDR98ipQBYdALwI0%2F5pBpY%3D",
                                        "storeID": "1",
                                        "gameID": "206020",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "77",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "73",
                                        "steamRatingCount": "9957",
                                        "steamAppID": "1262240",
                                        "releaseDate": 1567555200,
                                        "lastChange": 1700592411,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1262240/capsule_sm_120.jpg?t=1614957327"
                                    },
                                    {
                                        "internalName": "NINOKUNIIIREVENANTKINGDOM",
                                        "title": "Ni no Kuni II: Revenant Kingdom",
                                        "metacriticLink": "/game/ni-no-kuni-ii-revenant-kingdom/",
                                        "dealID": "mUJiiBZYI0a3aCgRu9wpLmT2ZfT0K0fQS%2FKzIQb3LUk%3D",
                                        "storeID": "1",
                                        "gameID": "171779",
                                        "salePrice": "9.59",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "84.014002",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "83",
                                        "steamRatingCount": "7322",
                                        "steamAppID": "589360",
                                        "releaseDate": 1521763200,
                                        "lastChange": 1700592340,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/589360/capsule_sm_120.jpg?t=1666168049"
                                    },
                                    {
                                        "internalName": "SIDMEIERSCIVILIZATIONIVCOLONIZATION",
                                        "title": "Sid Meier's Civilization IV: Colonization",
                                        "metacriticLink": "/game/sid-meiers-civilization-iv-colonization/",
                                        "dealID": "FO6QgfKrVp69VIZDF%2BjcIkDqtR7BG8sAYEgq2e6DWE8%3D",
                                        "storeID": "1",
                                        "gameID": "263",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "83",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "936",
                                        "steamAppID": "16810",
                                        "releaseDate": 1222041600,
                                        "lastChange": 1700592395,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/16810/capsule_sm_120.jpg?t=1573064277"
                                    },
                                    {
                                        "internalName": "PRISONARCHITECT",
                                        "title": "Prison Architect",
                                        "metacriticLink": "/game/prison-architect/",
                                        "dealID": "dJu%2F9ZZqaUj7w3LKkdORdn3qBkI9KiMDeXn%2FNKnXScg%3D",
                                        "storeID": "1",
                                        "gameID": "96246",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "83",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "90",
                                        "steamRatingCount": "54147",
                                        "steamAppID": "233450",
                                        "releaseDate": 1444089600,
                                        "lastChange": 1700592240,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/233450/capsule_sm_120.jpg?t=1700131126"
                                    },
                                    {
                                        "internalName": "NEEDFORSPEEDUNBOUND",
                                        "title": "Need for Speed Unbound",
                                        "metacriticLink": "/game/need-for-speed-unbound/",
                                        "dealID": "ZzJ5c7WnXezZx5fGFv%2BK8fvfpUh9lZQAEDfAq1zQgSk%3D",
                                        "storeID": "1",
                                        "gameID": "251767",
                                        "salePrice": "13.99",
                                        "normalPrice": "69.99",
                                        "isOnSale": "1",
                                        "savings": "80.011430",
                                        "metacriticScore": "73",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "63",
                                        "steamRatingCount": "17184",
                                        "steamAppID": "1846380",
                                        "releaseDate": 1669939200,
                                        "lastChange": 1700592281,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1846380/capsule_sm_120.jpg?t=1700060404"
                                    },
                                    {
                                        "internalName": "IMMORTALSFENYXRISING",
                                        "title": "Immortals Fenyx Rising",
                                        "metacriticLink": "/game/immortals-fenyx-rising/",
                                        "dealID": "KjhT0URCq9H42v7C%2FGwBRlyTvPBDnt2YhVmuVgjJPiw%3D",
                                        "storeID": "1",
                                        "gameID": "220398",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "79",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "68",
                                        "steamRatingCount": "1505",
                                        "steamAppID": "2221920",
                                        "releaseDate": 1606953600,
                                        "lastChange": 1700592309,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/2221920/capsule_sm_120.jpg?t=1696603538"
                                    },
                                    {
                                        "internalName": "UNITYOFCOMMANDII",
                                        "title": "Unity of Command II",
                                        "metacriticLink": "/game/unity-of-command-ii/",
                                        "dealID": "fwNwzWaH9FmEtHMgvo6sAC3Rh%2BYLdvHR2LPBx21jh9U%3D",
                                        "storeID": "1",
                                        "gameID": "207139",
                                        "salePrice": "7.49",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "75.025008",
                                        "metacriticScore": "88",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "81",
                                        "steamRatingCount": "1541",
                                        "steamAppID": "809230",
                                        "releaseDate": 1573516800,
                                        "lastChange": 1700592384,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/809230/capsule_sm_120.jpg?t=1695719319"
                                    },
                                    {
                                        "internalName": "ASSASSINSCREEDODYSSEY",
                                        "title": "Assassins Creed Odyssey",
                                        "metacriticLink": "/game/assassins-creed-odyssey/",
                                        "dealID": "ELkqXEh9wV57QTgQ0yCCjEXFDTbrWV%2Fljw8aMEd1vqI%3D",
                                        "storeID": "1",
                                        "gameID": "188214",
                                        "salePrice": "11.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "80.013336",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "131056",
                                        "steamAppID": "812140",
                                        "releaseDate": 1538438400,
                                        "lastChange": 1700592224,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/812140/capsule_sm_120.jpg?t=1692034673"
                                    },
                                    {
                                        "internalName": "MASSEFFECTLEGENDARYEDITION",
                                        "title": "Mass Effect Legendary Edition",
                                        "metacriticLink": "/game/mass-effect-legendary-edition/",
                                        "dealID": "y3FMzZnEmRe2zOrsfxcD3uHBpntwe%2BE64Ug0enLeGlU%3D",
                                        "storeID": "1",
                                        "gameID": "225750",
                                        "salePrice": "11.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "80.013336",
                                        "metacriticScore": "86",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "91",
                                        "steamRatingCount": "37352",
                                        "steamAppID": "1328670",
                                        "releaseDate": 1620950400,
                                        "lastChange": 1700592231,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1328670/capsule_sm_120.jpg?t=1669773470"
                                    },
                                    {
                                        "internalName": "RESIDENTEVIL2",
                                        "title": "Resident Evil 2",
                                        "metacriticLink": "/game/resident-evil-2/",
                                        "dealID": "wfO%2F2i0XG%2FAvVi9EAI2k%2FBVnHsZMNGA%2FvrDGUw%2BZz7g%3D",
                                        "storeID": "1",
                                        "gameID": "212722",
                                        "salePrice": "9.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "75.018755",
                                        "metacriticScore": "89",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "97",
                                        "steamRatingCount": "96837",
                                        "steamAppID": "883710",
                                        "releaseDate": 1548374400,
                                        "lastChange": 1700592245,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/883710/capsule_sm_120.jpg?t=1692001351"
                                    },
                                    {
                                        "internalName": "LEGODCSUPERVILLAINS",
                                        "title": "LEGO DC Super-Villains",
                                        "metacriticLink": "/game/lego-dc-super-villains/",
                                        "dealID": "PIprGWCRai6qXH4oIjNjDDniWWGRKwJ4W1GecAzJLkM%3D",
                                        "storeID": "1",
                                        "gameID": "187756",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "76",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "90",
                                        "steamRatingCount": "4094",
                                        "steamAppID": "829110",
                                        "releaseDate": 1539648000,
                                        "lastChange": 1700592377,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/829110/capsule_sm_120.jpg?t=1648765422"
                                    },
                                    {
                                        "internalName": "RIDE4",
                                        "title": "RIDE 4",
                                        "metacriticLink": "/game/ride-4/",
                                        "dealID": "pSvC5TDK5iGVHdCbFjab9Fv%2FVujgScce4gyXAo7Kxh0%3D",
                                        "storeID": "1",
                                        "gameID": "220134",
                                        "salePrice": "5.99",
                                        "normalPrice": "39.99",
                                        "isOnSale": "1",
                                        "savings": "85.021255",
                                        "metacriticScore": "76",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "7561",
                                        "steamAppID": "1259980",
                                        "releaseDate": 1602115200,
                                        "lastChange": 1700592326,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/1259980/capsule_sm_120.jpg?t=1681462820"
                                    },
                                    {
                                        "internalName": "WARHAMMERVERMINTIDE2",
                                        "title": "Warhammer: Vermintide 2",
                                        "metacriticLink": "/game/warhammer-vermintide-2/",
                                        "dealID": "WsGdr8u7VzKVcEhPy%2BuEqhvHQegMgCeyKlIthyE7rWI%3D",
                                        "storeID": "1",
                                        "gameID": "174250",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "84",
                                        "steamRatingCount": "75432",
                                        "steamAppID": "552500",
                                        "releaseDate": 1520467200,
                                        "lastChange": 1700592204,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/552500/capsule_sm_120.jpg?t=1697731296"
                                    },
                                    {
                                        "internalName": "METROEXODUS",
                                        "title": "Metro Exodus",
                                        "metacriticLink": "/game/metro-exodus/",
                                        "dealID": "l7KtB1naNb4PDbjpECJuOfLqnBxx9O%2BMEJjGGZd7u84%3D",
                                        "storeID": "1",
                                        "gameID": "191008",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "82",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "84339",
                                        "steamAppID": "412020",
                                        "releaseDate": 1550188800,
                                        "lastChange": 1700592246,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/412020/capsule_sm_120.jpg?t=1669390585"
                                    },
                                    {
                                        "internalName": "FARCRY5",
                                        "title": "Far Cry 5",
                                        "metacriticLink": "/game/far-cry-5/",
                                        "dealID": "jluOI%2BBXFfbMYh4Tpf0b1%2Bjxfwp7AfUnYAdoNuXFcE8%3D",
                                        "storeID": "1",
                                        "gameID": "169243",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "78",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "80",
                                        "steamRatingCount": "133000",
                                        "steamAppID": "552520",
                                        "releaseDate": 1522022400,
                                        "lastChange": 1700592229,
                                        "dealRating": "8.5",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/552520/capsule_sm_120.jpg?t=1694554810"
                                    },
                                    {
                                        "internalName": "RESIDENTEVILREVELATIONS",
                                        "title": "Resident Evil: Revelations",
                                        "metacriticLink": "/game/resident-evil-revelations/",
                                        "dealID": "aJNIfwEa%2BrKl1%2FMYVpxD%2FOPQweGAoiuM9jxqTnncAjo%3D",
                                        "storeID": "1",
                                        "gameID": "96701",
                                        "salePrice": "5.09",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "83.027676",
                                        "metacriticScore": "77",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "7626",
                                        "steamAppID": "222480",
                                        "releaseDate": 1369008000,
                                        "lastChange": 1700592407,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/222480/capsule_sm_120.jpg?t=1700453030"
                                    },
                                    {
                                        "internalName": "WASTELAND2DIRECTORSCUT",
                                        "title": "Wasteland 2: Director's Cut",
                                        "metacriticLink": "/game/wasteland-2-directors-cut/",
                                        "dealID": "VrYEH%2FPDNtQxyvq58aXsf07QEWBC1FM%2BqM2%2BRR0wssA%3D",
                                        "storeID": "1",
                                        "gameID": "146483",
                                        "salePrice": "7.49",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "75.025008",
                                        "metacriticScore": "87",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "82",
                                        "steamRatingCount": "4573",
                                        "steamAppID": "240760",
                                        "releaseDate": 1444694400,
                                        "lastChange": 1700592774,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/240760/capsule_sm_120.jpg?t=1686191412"
                                    },
                                    {
                                        "internalName": "BAYONETTA",
                                        "title": "Bayonetta",
                                        "metacriticLink": "/game/bayonetta/",
                                        "dealID": "f7xMPsxHRp%2FuOS9yhvVZF9JevOvXC5dErqAbdraUHCI%3D",
                                        "storeID": "1",
                                        "gameID": "168082",
                                        "salePrice": "5.99",
                                        "normalPrice": "19.99",
                                        "isOnSale": "1",
                                        "savings": "70.035018",
                                        "metacriticScore": "90",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "92",
                                        "steamRatingCount": "21554",
                                        "steamAppID": "460790",
                                        "releaseDate": 1491868800,
                                        "lastChange": 1700592441,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/460790/capsule_sm_120.jpg?t=1670260448"
                                    },
                                    {
                                        "internalName": "BACK4BLOOD",
                                        "title": "Back 4 Blood",
                                        "metacriticLink": "/game/back-4-blood/",
                                        "dealID": "ESIIJCjm9wUuaO1hhZLZLgd7OS3qorpPmT44E70YSas%3D",
                                        "storeID": "1",
                                        "gameID": "224258",
                                        "salePrice": "8.99",
                                        "normalPrice": "59.99",
                                        "isOnSale": "1",
                                        "savings": "85.014169",
                                        "metacriticScore": "77",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "66",
                                        "steamRatingCount": "37590",
                                        "steamAppID": "924970",
                                        "releaseDate": 1633996800,
                                        "lastChange": 1700592231,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/924970/capsule_sm_120.jpg?t=1699984050"
                                    },
                                    {
                                        "internalName": "CASTLEVANIALORDSOFSHADOWULTIMATEEDITION",
                                        "title": "Castlevania: Lords of Shadow  Ultimate Edition",
                                        "metacriticLink": "/game/castlevania-lords-of-shadow-ultimate-edition/",
                                        "dealID": "X4qPiIfxJUUTCPkJESwvmjKCzcZ9eXop%2BxDME9pPeGM%3D",
                                        "storeID": "1",
                                        "gameID": "100454",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "80",
                                        "steamRatingCount": "6198",
                                        "steamAppID": "234080",
                                        "releaseDate": 1377561600,
                                        "lastChange": 1700592379,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/234080/capsule_sm_120.jpg?t=1690415965"
                                    },
                                    {
                                        "internalName": "UNDERNIGHTINBIRTHEXELATE",
                                        "title": "UNDER NIGHT IN-BIRTH Exe:Late",
                                        "metacriticLink": "/game/under-night-in-birth-exelate/",
                                        "dealID": "%2B3P3%2FpKcDEE0hWRPUiL9xNjigW08yeTKFI81jEof%2BDE%3D",
                                        "storeID": "1",
                                        "gameID": "154592",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "90",
                                        "steamRatingCount": "715",
                                        "steamAppID": "452510",
                                        "releaseDate": 1468281600,
                                        "lastChange": 1700596086,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/452510/capsule_sm_120.jpg?t=1671432712"
                                    },
                                    {
                                        "internalName": "ARIZONASUNSHINE",
                                        "title": "Arizona Sunshine",
                                        "metacriticLink": "/game/arizona-sunshine/",
                                        "dealID": "3N%2BMqrFUwwZZfvowOid4C%2FyvD8RzUDcN45aFUbBiRM8%3D",
                                        "storeID": "1",
                                        "gameID": "162090",
                                        "salePrice": "5.99",
                                        "normalPrice": "29.99",
                                        "isOnSale": "1",
                                        "savings": "80.026676",
                                        "metacriticScore": "81",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "80",
                                        "steamRatingCount": "6995",
                                        "steamAppID": "342180",
                                        "releaseDate": 1480896000,
                                        "lastChange": 1700592332,
                                        "dealRating": "8.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/342180/capsule_sm_120.jpg?t=1685526920"
                                    },
                                    {
                                        "internalName": "TURBOOVERKILL",
                                        "title": "Turbo Overkill",
                                        "metacriticLink": "/game/turbo-overkill/",
                                        "dealID": "SssVGcm73JCJPtKFsiMIHwJ%2Begk%2FnwkG%2BSgIKzrCGxU%3D",
                                        "storeID": "1",
                                        "gameID": "244211",
                                        "salePrice": "14.43",
[...]
