{
    "openapi": "3.1.0",
    "info": {
        "title": "Datamuse API",
        "description": "**API Description** - The Datamuse API is a tool for finding words and phrases related to a given word or concept.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Datamuse API Contact",
            "url": "",
            "email": "contact@datamuse.com"
        },
        "license": {
            "name": "Creative Commons Attribution-ShareAlike 4.0 International License",
            "url": "https://creativecommons.org/licenses/by-sa/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.datamuse.com",
            "description": "Production Server of the Datamuse API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.datamuse.com/api",
        "description": "Find more about the Datamuse API here:"
    },
    "paths": {
        "/words": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "rel_rhy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "moon": {
                                "value": "moon"
                            }
                        }
                    },
                    {
                        "name": "ml",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "car": {
                                "value": "car"
                            },
                            "cat": {
                                "value": "cat"
                            },
                            "dog": {
                                "value": "dog"
                            },
                            "red": {
                                "value": "red"
                            },
                            "cool": {
                                "value": "cool"
                            },
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "sl",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "sp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "cat": {
                                "value": "cat"
                            },
                            "chocolate": {
                                "value": "chocolate"
                            }
                        }
                    },
                    {
                        "name": "rel_ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "good": {
                                "value": "good"
                            },
                            "hot": {
                                "value": "hot"
                            },
                            "yellow": {
                                "value": "yellow"
                            },
                            "black": {
                                "value": "black"
                            }
                        }
                    },
                    {
                        "name": "rel_cns",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "brown": {
                                "value": "brown"
                            },
                            "fire": {
                                "value": "fire"
                            }
                        }
                    },
                    {
                        "name": "rel_bga",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "star": {
                                "value": "star"
                            },
                            "sky": {
                                "value": "sky"
                            }
                        }
                    },
                    {
                        "name": "rel_trg",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "car": {
                                "value": "car"
                            },
                            "orange": {
                                "value": "orange"
                            },
                            "water": {
                                "value": "water"
                            },
                            "cat": {
                                "value": "cat"
                            }
                        }
                    },
                    {
                        "name": "rel_syn",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            },
                            "dog": {
                                "value": "dog"
                            },
                            "blue": {
                                "value": "blue"
                            },
                            "red": {
                                "value": "red"
                            },
                            "yellow": {
                                "value": "yellow"
                            }
                        }
                    },
                    {
                        "name": "topics",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "animals": {
                                "value": "animals"
                            },
                            "food": {
                                "value": "food"
                            },
                            "science": {
                                "value": "science"
                            },
                            "sports": {
                                "value": "sports"
                            },
                            "magenta": {
                                "value": "magenta"
                            },
                            "python": {
                                "value": "python"
                            }
                        }
                    },
                    {
                        "name": "ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "happy": {
                                "value": "happy"
                            }
                        }
                    },
                    {
                        "name": "rel_jjb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "tall": {
                                "value": "tall"
                            },
                            "blue": {
                                "value": "blue"
                            },
                            "small": {
                                "value": "small"
                            },
                            "purple": {
                                "value": "purple"
                            },
                            "big": {
                                "value": "big"
                            },
                            "dog": {
                                "value": "dog"
                            }
                        }
                    },
                    {
                        "name": "rel_jja",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "big": {
                                "value": "big"
                            },
                            "blue": {
                                "value": "blue"
                            },
                            "pink": {
                                "value": "pink"
                            },
                            "small": {
                                "value": "small"
                            }
                        }
                    },
                    {
                        "name": "v",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "rel_bgb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "earth": {
                                "value": "earth"
                            }
                        }
                    },
                    {
                        "name": "rel_nry",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            },
                            "white": {
                                "value": "white"
                            },
                            "sun": {
                                "value": "sun"
                            }
                        }
                    },
                    {
                        "name": "rel_hom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_spc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fruit": {
                                "value": "fruit"
                            },
                            "green": {
                                "value": "green"
                            }
                        }
                    },
                    {
                        "name": "md",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d": {
                                "value": "d"
                            }
                        }
                    },
                    {
                        "name": "max",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "rel_gen",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "orange": {
                                "value": "orange"
                            }
                        }
                    },
                    {
                        "name": "rel_com",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "purple": {
                                "value": "purple"
                            }
                        }
                    },
                    {
                        "name": "lc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "gray": {
                                "value": "gray"
                            },
                            "en": {
                                "value": "en"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_words"
                                },
                                "example": [
                                    {
                                        "word": "to",
                                        "score": 18213,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "through",
                                        "score": 9356,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "into",
                                        "score": 6075,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "do",
                                        "score": 4809,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "you",
                                        "score": 4268,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "que",
                                        "score": 3889,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "view",
                                        "score": 3265,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "pursue",
                                        "score": 3238,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "hew",
                                        "score": 3108,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "purview",
                                        "score": 3087,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "review",
                                        "score": 2993,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "queue",
                                        "score": 2900,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "eschew",
                                        "score": 2813,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "accrue",
                                        "score": 2668,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "cue",
                                        "score": 2562,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "new",
                                        "score": 2438,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "true",
                                        "score": 2418,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "due",
                                        "score": 2408,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "two",
                                        "score": 2309,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "screw",
                                        "score": 2174,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "coup",
                                        "score": 1966,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "rue",
                                        "score": 1951,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "slew",
                                        "score": 1884,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "revenue",
                                        "score": 1882,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "shoe",
                                        "score": 1856,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "imbue",
                                        "score": 1817,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "crew",
                                        "score": 1759,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "too",
                                        "score": 1758,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "u",
                                        "score": 1746,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "hue",
                                        "score": 1738,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "lieu",
                                        "score": 1675,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "tissue",
                                        "score": 1667,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "skew",
                                        "score": 1641,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "ensue",
                                        "score": 1527,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "stew",
                                        "score": 1523,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "few",
                                        "score": 1489,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "rendezvous",
                                        "score": 1427,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "construe",
                                        "score": 1386,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "avenue",
                                        "score": 1385,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "breakthrough",
                                        "score": 1368,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "guru",
                                        "score": 1329,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "brew",
                                        "score": 1328,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "debut",
                                        "score": 1324,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "sue",
                                        "score": 1310,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "who",
                                        "score": 1302,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "ado",
                                        "score": 1295,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "boo",
                                        "score": 1295,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "flu",
                                        "score": 1279,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "hitherto",
                                        "score": 1276,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "strew",
                                        "score": 1263,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "woo",
                                        "score": 1221,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "overview",
                                        "score": 1208,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "shrew",
                                        "score": 1201,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "taboo",
                                        "score": 1194,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "ewe",
                                        "score": 1190,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "yahoo",
                                        "score": 1187,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "glue",
                                        "score": 1182,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "coo",
                                        "score": 1180,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "bamboo",
                                        "score": 1163,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "subdue",
                                        "score": 1159,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "clue",
                                        "score": 1157,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "loo",
                                        "score": 1145,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "redo",
                                        "score": 1121,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "outdo",
                                        "score": 1098,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "undo",
                                        "score": 1066,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "tattoo",
                                        "score": 1059,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "retinue",
                                        "score": 1057,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "poo",
                                        "score": 1040,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "undue",
                                        "score": 1025,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "pew",
                                        "score": 1015,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "spew",
                                        "score": 1002,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "thru",
                                        "score": 1001,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "askew",
                                        "score": 981,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "adieu",
                                        "score": 969,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "vue",
                                        "score": 964,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "q",
                                        "score": 961,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "ingenue",
                                        "score": 956,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "goo",
                                        "score": 946,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "statue",
                                        "score": 937,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "interview",
                                        "score": 933,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "lulu",
                                        "score": 894,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "dew",
                                        "score": 887,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "barbecue",
                                        "score": 879,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "anew",
                                        "score": 874,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "vu",
                                        "score": 871,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "yew",
                                        "score": 865,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "cuckoo",
                                        "score": 858,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "renew",
                                        "score": 857,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "canoe",
                                        "score": 832,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "xu",
                                        "score": 829,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "emu",
                                        "score": 827,
                                        "numSyllables": 2
                                    },
                                    {
                                        "word": "residue",
                                        "score": 817,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "chew",
                                        "score": 814,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "shue",
                                        "score": 810,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "gnu",
                                        "score": 789,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "flue",
                                        "score": 778,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "mew",
                                        "score": 774,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "zoo",
                                        "score": 770,
                                        "numSyllables": 1
                                    },
                                    {
                                        "word": "overdo",
                                        "score": 768,
                                        "numSyllables": 3
                                    },
                                    {
                                        "word": "roux",
                                        "score": 762,
                                        "numSyllables": 1
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "code": 404,
                                    "message": "HTTP 404 Not Found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sug": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "rel_rhy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "s",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "": {
                                "value": ""
                            },
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "max",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "term",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "apple": {
                                "value": "apple"
                            },
                            "hello": {
                                "value": "hello"
                            }
                        }
                    },
                    {
                        "name": "sp",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "hello": {
                                "value": "hello"
                            },
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "md",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "f": {
                                "value": "f"
                            }
                        }
                    },
                    {
                        "name": "ipa",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "ml",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "apple": {
                                "value": "apple"
                            },
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_ant",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_jjb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_jja",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "topics",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_syn",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_trg",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_spc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_gen",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_nry",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "rel_com",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_par",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_bga",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "rel_bgb",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "sl",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "blue": {
                                "value": "blue"
                            }
                        }
                    },
                    {
                        "name": "lc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "rm",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "qe",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json;charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_sug"
                                },
                                "example": []
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "code": 404,
                                    "message": "HTTP 404 Not Found"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "ResponseSchema_words": {},
            "ResponseSchema_sug": {}
        }
    }
}