{
    "openapi": "3.1.0",
    "info": {
        "title": "Datamuse - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://api.datamuse.com",
            "description": "Online server URL of the 'Datamuse' REST API."
        }
    ],
    "paths": {
        "/words": {
            "get": {
                "summary": "Retrieves data at the path /words.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "ml",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'ml'.",
                        "schema": {
                            "type": "string",
                            "example": "ringing+in+the+ears"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "sp",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'sp'.",
                        "schema": {
                            "type": "string",
                            "example": "b"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_jja",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_jja'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_jjb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_jjb'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_syn",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_syn'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_trg",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_trg'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_ant",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_ant'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_spc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_spc'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_gen",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_gen'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_com",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_com'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_par",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_par'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_bga",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_bga'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_bgb",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_bgb'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_rhy",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_rhy'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_nry",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_nry'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_hom",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_hom'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rel_cns",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rel_cns'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'max'.",
                        "schema": {
                            "type": "integer",
                            "example": "10"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'v'.",
                        "schema": {
                            "type": "string",
                            "example": "es"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "topics",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'topics'.",
                        "schema": {
                            "type": "string",
                            "example": "health"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lc'.",
                        "schema": {
                            "type": "string",
                            "example": "ringing"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "rc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'rc'.",
                        "schema": {
                            "type": "string",
                            "example": "tinnitus"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "qe",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'qe'.",
                        "schema": {
                            "type": "string",
                            "example": "ml"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "md",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'md'.",
                        "schema": {
                            "type": "string",
                            "example": "dpf"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "ipa",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'ipa'.",
                        "schema": {
                            "type": "string",
                            "example": "/r\u026a\u014b\u026a\u014b/"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getWords",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"word\":\"tinnitus\",\"score\":10141200,\"tags\":[\"syn\",\"n\",\"results_type:primary_external\",\"results_type:backfill_gloss\"]},{\"word\":\"acouasm\",\"score\":10018400,\"tags\":[\"n\"]},{\"word\":\"singing\",\"score\":10018400,\"tags\":[\"n\",\"adj\"]},{\"word\":\"ring\",\"score\":10018383,\"tags\":[\"n\",\"v\"]},{\"word\":\"sing\",\"score\":10018383,\"tags\":[\"v\",\"n\"]},{\"word\":\"cinchonism\",\"score\":10018308,\"tags\":[\"n\"]},{\"word\":\"rings\",\"score\":10001983,\"tags\":[\"n\"]},{\"word\":\"ear\",\"score\":10001933,\"tags\":[\"n\",\"v\"]},{\"word\":\"sound\",\"score\":10001933,\"tags\":[\"n\",\"adj\",\"v\",\"adv\"]},{\"word\":\"hammer\",\"score\":10000966,\"tags\":[\"n\",\"v\"]},{\"word\":\"jangle\",\"score\":10000966,\"tags\":[\"n\",\"v\"]},{\"word\":\"are\",\"score\":10000899,\"tags\":[\"n\"]},{\"word\":\"blow\",\"score\":10000899,\"tags\":[\"n\",\"v\",\"adj\"]},{\"word\":\"bob\",\"score\":10000899,\"tags\":[\"n\",\"v\",\"adj\",\"prop\"]},{\"word\":\"bong\",\"score\":10000899,\"tags\":[\"n\",\"v\"]},{\"word\":\"bright\",\"score\":10000899,\"tags\":[\"adj\",\"n\",\"adv\",\"v\"]},{\"word\":\"call\",\"score\":10000899,\"tags\":[\"v\",\"n\"]},{\"word\":\"clam\",\"score\":10000899,\"tags\":[\"n\",\"adj\",\"v\"]},{\"word\":\"clock\",\"score\":10000899,\"tags\":[\"n\",\"v\"]},{\"word\":\"ding\",\"score\":10000899,\"tags\":[\"n\",\"v\"]},{\"word\":\"hinting\",\"score\":10000899,\"tags\":[\"n\"]},{\"word\":\"hunting\",\"score\":10000899,\"tags\":[\"n\"]},{\"word\":\"ido\",\"score\":10000899,\"tags\":[\"n\",\"prop\"]},{\"word\":\"mute\",\"score\":10000899,\"tags\":[\"adj\",\"n\",\"v\"]},{\"word\":\"ping\",\"score\":10000899,\"tags\":[\"n\",\"v\"]},{\"word\":\"whistle\",\"score\":10000899,\"tags\":[\"n\",\"v\"]},{\"word\":\"yoke\",\"score\":10000899,\"tags\":[\"n\",\"v\"]},{\"word\":\"acousma\",\"score\":10000891,\"tags\":[\"n\"]},{\"word\":\"binaural\",\"score\":10000850,\"tags\":[\"adj\"]},{\"word\":\"hear\",\"score\":10000850,\"tags\":[\"v\"]},{\"word\":\"hearing\",\"score\":10000850,\"tags\":[\"n\",\"adj\"]},{\"word\":\"rar\",\"score\":10000850,\"tags\":[\"n\"]},{\"word\":\"smap\",\"score\":10000850,\"tags\":[\"N\"]},{\"word\":\"snap\",\"score\":10000850,\"tags\":[\"n\",\"v\",\"adj\"]},{\"word\":\"stun\",\"score\":10000850,\"tags\":[\"v\",\"n\"]},{\"word\":\"stunned\",\"score\":10000850,\"tags\":[\"adj\"]},{\"word\":\"bombus\",\"score\":10000833,\"tags\":[\"n\",\"prop\"]},{\"word\":\"ear hole\",\"score\":10000833,\"tags\":[\"n\"]},{\"word\":\"jangling\",\"score\":10000824,\"tags\":[\"n\"]},{\"word\":\"acoustic\",\"score\":10000816,\"tags\":[\"adj\",\"n\"]},{\"word\":\"amanita\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"annulus\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"arcus senilis\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"articulate\",\"score\":10000816,\"tags\":[\"v\",\"adj\",\"n\"]},{\"word\":\"articulation\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"asperity\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"audiphone\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"auditorium\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"aurally\",\"score\":10000816,\"tags\":[\"adv\"]},{\"word\":\"baldhead\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"bass drum\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"blowball\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"bonk\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"box\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"brain\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"brr\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"but\",\"score\":10000816,\"tags\":[\"n\",\"adv\",\"v\"]},{\"word\":\"butt\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"butted\",\"score\":10000816,\"tags\":[\"adj\"]},{\"word\":\"buzz\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"calx\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"cameo\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"canada goose\",\"score\":10000816,\"tags\":[\"n\",\"prop\"]},{\"word\":\"cannon\",\"score\":10000816,\"tags\":[\"n\",\"v\",\"adj\"]},{\"word\":\"canon\",\"score\":10000816,\"tags\":[\"n\",\"adj\"]},{\"word\":\"cap\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"cephalic\",\"score\":10000816,\"tags\":[\"adj\",\"n\"]},{\"word\":\"cephalopod\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"cicada\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"circlet\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"clip\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"cochlea\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"columella\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"conk\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"crack\",\"score\":10000816,\"tags\":[\"n\",\"v\",\"adj\"]},{\"word\":\"crepitus\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"dais\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"dark glasses\",\"score\":10000816,\"tags\":[\"N\"]},{\"word\":\"dental\",\"score\":10000816,\"tags\":[\"adj\",\"n\"]},{\"word\":\"dentilabial\",\"score\":10000816,\"tags\":[\"adj\",\"n\"]},{\"word\":\"dentilingual\",\"score\":10000816,\"tags\":[\"adj\",\"n\"]},{\"word\":\"dentiphone\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"digraph\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"dissonant\",\"score\":10000816,\"tags\":[\"adj\"]},{\"word\":\"drum\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"ear trumpet\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"eardrum\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"earring\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"echo\",\"score\":10000816,\"tags\":[\"n\",\"v\"]},{\"word\":\"euphonic\",\"score\":10000816,\"tags\":[\"adj\"]},{\"word\":\"euphonious\",\"score\":10000816,\"tags\":[\"adj\"]},{\"word\":\"eyebolt\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"facer\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"falter\",\"score\":10000816,\"tags\":[\"v\",\"n\"]},{\"word\":\"fast\",\"score\":10000816,\"tags\":[\"adv\",\"adj\",\"n\",\"v\"]},{\"word\":\"fasting\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"fetch\",\"score\":10000816,\"tags\":[\"v\",\"n\"]},{\"word\":\"fire alarm\",\"score\":10000816,\"tags\":[\"n\"]},{\"word\":\"frum\",\"score\":10000816,\"tags\":[\"n\",\"adj\"]}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/sug": {
            "get": {
                "summary": "Retrieves data at the path /sug.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "s",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 's'.",
                        "schema": {
                            "type": "string",
                            "example": "vloce"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getSug",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "[{\"word\":\"veloce\",\"score\":5012},{\"word\":\"ploce\",\"score\":4021},{\"word\":\"locellate\",\"score\":1012},{\"word\":\"voce\",\"score\":1009},{\"word\":\"ploceidae\",\"score\":13},{\"word\":\"ploceus\",\"score\":13},{\"word\":\"ploceus philippinus\",\"score\":10},{\"word\":\"vlore\",\"score\":7},{\"word\":\"locellus\",\"score\":7},{\"word\":\"voces\",\"score\":6}]"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "parameters": {}
    }
}