{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Online server URL of the 'Random User Generator' REST API."
        }
    ],
    "paths": {
        "/api": {
            "get": {
                "summary": "Retrieves data at the path /api.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "female"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "AU"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "gender"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "gender"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[{\"gender\":\"male\",\"name\":{\"title\":\"Mr\",\"first\":\"Philip\",\"last\":\"Fox\"},\"location\":{\"street\":{\"number\":6179,\"name\":\"Hillcrest Rd\"},\"city\":\"Elizabeth\",\"state\":\"Alaska\",\"country\":\"United States\",\"postcode\":26611,\"coordinates\":{\"latitude\":\"87.3080\",\"longitude\":\"-136.8751\"},\"timezone\":{\"offset\":\"+5:00\",\"description\":\"Ekaterinburg, Islamabad, Karachi, Tashkent\"}},\"email\":\"philip.fox@example.com\",\"login\":{\"uuid\":\"c4b95402-c2fe-4651-b29f-7da4897e0f7a\",\"username\":\"organiczebra523\",\"password\":\"buceta\",\"salt\":\"Wi06Atf8\",\"md5\":\"712493b5c21522b445c3052a53991c2d\",\"sha1\":\"1f3025cc768f6436bd8164b31b80f8dd20cf28a6\",\"sha256\":\"b93ad198495d078b44a5205d3d5098f6ed918f1d8f95e44c901912db00197d2a\"},\"dob\":{\"date\":\"1993-05-03T07:04:05.809Z\",\"age\":33},\"registered\":{\"date\":\"2014-11-04T02:48:36.360Z\",\"age\":11},\"phone\":\"(654) 909-4601\",\"cell\":\"(421) 894-6676\",\"id\":{\"name\":\"SSN\",\"value\":\"779-97-9131\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/men/25.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/men/25.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/men/25.jpg\"},\"nat\":\"US\"}],\"info\":{\"seed\":\"0563d1d6882b2f6c\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc": {
            "get": {
                "summary": "Retrieves data at the path /api/exc.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExc",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/noinfo": {
            "get": {
                "summary": "Retrieves data at the path /api/noinfo.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNoinfo",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/format/csv": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/format/csv.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'max'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "csv"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcFormatCsv",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "dob",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'dob'.",
                        "schema": {
                            "type": "string",
                            "example": "1950-01-01"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "ref",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'ref'.",
                        "schema": {
                            "type": "string",
                            "example": "api"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFoo",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/noinfo/portraits/thumb/men/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /api/noinfo/portraits/thumb/men/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNoinfoPortraitsThumbMen{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/noinfo/portraits/thumb/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /api/noinfo/portraits/thumb/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiNoinfoPortraitsThumb{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/format/yaml": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/format/yaml.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "csv"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcFormatYaml",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/email": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/email.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "gender"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserEmail",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/name": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/name.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserName",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/location": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/location.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "gender"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserLocation",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/picture": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/picture.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserPicture",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/login": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/login.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserLogin",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/dob": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/dob.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "null"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'password'.",
                        "schema": {
                            "type": "string",
                            "example": "special"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserDob",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/registered": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/registered.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserRegistered",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/foo/exc/exc/foo/user/id": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/foo/exc/exc/foo/user/id.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "csv"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcFooExcExcFooUserId",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/excuse": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/excuse.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcExcuse",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/exc/excuse/{digits}": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/exc/excuse/{digits}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "digits",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'digits'.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'key'.",
                        "schema": {
                            "type": "string",
                            "example": "your-api-key"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcExcExcuse{digits}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/exc/format/yaml/incorrect/format/yaml": {
            "get": {
                "summary": "Retrieves data at the path /api/exc/format/yaml/incorrect/format/yaml.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'fields'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "csv"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiExcFormatYamlIncorrectFormatYaml",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "parameters": {}
    }
}