{
    "openapi": "3.1.0",
    "info": {
        "title": "REST Countries API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - A free API that provides detailed information about countries around the world, including their borders, currencies, and languages.",
        "termsOfService": "",
        "contact": {
            "name": "REST Countries API Contact",
            "url": "https://restcountries.com/#contact",
            "email": "support@apilayer.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://restcountries.com",
            "description": "Production Server of the REST Countries API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://restcountries.com",
        "description": "Find more about the REST Countries API here:"
    },
    "paths": {
        "/v3.1/all": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,population": {
                                "value": "name,capital,population"
                            },
                            "name,currencies": {
                                "value": "name,currencies"
                            }
                        }
                    },
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "44": {
                                "value": "44"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT": {
                                "value": "GMT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_all"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/name/afghanistan": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_name_afghanistan"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/af": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_af"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/capital/tokyo": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,population": {
                                "value": "name,capital,population"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_capital_tokyo"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/currency/usd": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;capital;population": {
                                "value": "name;capital;population"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Africa": {
                                "value": "Africa"
                            },
                            "Americas": {
                                "value": "Americas"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "callingcode",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "American": {
                                "value": "American"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Caribbean": {
                                "value": "Caribbean"
                            }
                        }
                    },
                    {
                        "name": "area",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000": {
                                "value": "100000"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            },
                            "CA,MX": {
                                "value": "CA,MX"
                            }
                        }
                    },
                    {
                        "name": "currencies",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "America": {
                                "value": "America"
                            },
                            "UTC-05:00": {
                                "value": "UTC-05:00"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "capital",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Washington": {
                                "value": "Washington"
                            }
                        }
                    },
                    {
                        "name": "population",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "300000000": {
                                "value": "300000000"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_currency_usd"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/region/europe": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;capital;population": {
                                "value": "name;capital;population"
                            }
                        }
                    },
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "eur": {
                                "value": "eur"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "northern_europe": {
                                "value": "northern_europe"
                            }
                        }
                    },
                    {
                        "name": "callingcode",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "44": {
                                "value": "44"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "french": {
                                "value": "french"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "che": {
                                "value": "che"
                            }
                        }
                    },
                    {
                        "name": "area",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000": {
                                "value": "100000"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT": {
                                "value": "GMT"
                            }
                        }
                    },
                    {
                        "name": "flag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_region_europe"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "codes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usa,can,mex": {
                                "value": "usa,can,mex"
                            },
                            "USA,GBR,FRA": {
                                "value": "USA,GBR,FRA"
                            },
                            "USA,GBR,CHN": {
                                "value": "USA,GBR,CHN"
                            }
                        }
                    },
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "44": {
                                "value": "44"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT": {
                                "value": "GMT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/USA": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            },
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;capital;population": {
                                "value": "name;capital;population"
                            },
                            "name,capital,population": {
                                "value": "name,capital,population"
                            },
                            "area": {
                                "value": "area"
                            },
                            "name,capital,population,area,flag": {
                                "value": "name,capital,population,area,flag"
                            }
                        }
                    },
                    {
                        "name": "fullText",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IND": {
                                "value": "IND"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Caribbean": {
                                "value": "Caribbean"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "American": {
                                "value": "American"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "America": {
                                "value": "America"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_USA"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/GBR": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;population;area": {
                                "value": "name;population;area"
                            },
                            "name,capital,population,area,flags,region,currencies": {
                                "value": "name,capital,population,area,flags,region,currencies"
                            },
                            "area": {
                                "value": "area"
                            },
                            "name,capital,population,area,region,subregion,languages,flag,timezone": {
                                "value": "name,capital,population,area,region,subregion,languages,flag,timezone"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "44": {
                                "value": "44"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "British": {
                                "value": "British"
                            }
                        }
                    },
                    {
                        "name": "currencies",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GBP": {
                                "value": "GBP"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "FRA": {
                                "value": "FRA"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT": {
                                "value": "GMT"
                            }
                        }
                    },
                    {
                        "name": "populationDensity",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "270": {
                                "value": "270"
                            }
                        }
                    },
                    {
                        "name": "subregion",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Northern+Europe": {
                                "value": "Northern+Europe"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_GBR"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/currency/USD": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Africa": {
                                "value": "Africa"
                            }
                        }
                    },
                    {
                        "name": "language",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "French": {
                                "value": "French"
                            }
                        }
                    },
                    {
                        "name": "population",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            }
                        }
                    },
                    {
                        "name": "callingcode",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "capital",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Paris": {
                                "value": "Paris"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "American": {
                                "value": "American"
                            }
                        }
                    },
                    {
                        "name": "area",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "500000": {
                                "value": "500000"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "DEU": {
                                "value": "DEU"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "UTC+1": {
                                "value": "UTC+1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_currency_USD"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/region/Europe": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_region_Europe"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/capital/Washington": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "languages",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "en": {
                                "value": "en"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_capital_Washington"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/FRA": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name,capital,region,population,area,flag": {
                                "value": "name,capital,region,population,area,flag"
                            },
                            "area": {
                                "value": "area"
                            },
                            "name,capital,population,area,flag": {
                                "value": "name,capital,population,area,flag"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_FRA"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/DEU": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "area": {
                                "value": "area"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_DEU"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/CHN": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "area": {
                                "value": "area"
                            },
                            "name;capital": {
                                "value": "name;capital"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "fr": {
                                "value": "fr"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "CNY": {
                                "value": "CNY"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Asia": {
                                "value": "Asia"
                            }
                        }
                    },
                    {
                        "name": "callingcode",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "86": {
                                "value": "86"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IND": {
                                "value": "IND"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "UTC+8": {
                                "value": "UTC+8"
                            }
                        }
                    },
                    {
                        "name": "population",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000000": {
                                "value": "1000000000"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Chinese": {
                                "value": "Chinese"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_CHN"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/IND": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "capital": {
                                "value": "capital"
                            },
                            "languages": {
                                "value": "languages"
                            },
                            "population": {
                                "value": "population"
                            },
                            "currencies": {
                                "value": "currencies"
                            },
                            "timezones": {
                                "value": "timezones"
                            },
                            "area": {
                                "value": "area"
                            },
                            "demonym": {
                                "value": "demonym"
                            },
                            "flag": {
                                "value": "flag"
                            },
                            "region": {
                                "value": "region"
                            },
                            "subregion": {
                                "value": "subregion"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_IND"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/CAN": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name;capital": {
                                "value": "name;capital"
                            },
                            "population;area": {
                                "value": "population;area"
                            },
                            "languages;currency": {
                                "value": "languages;currency"
                            },
                            "region": {
                                "value": "region"
                            },
                            "flag": {
                                "value": "flag"
                            },
                            "timezones": {
                                "value": "timezones"
                            },
                            "borders": {
                                "value": "borders"
                            },
                            "demonym": {
                                "value": "demonym"
                            },
                            "latlng": {
                                "value": "latlng"
                            },
                            "callingCodes": {
                                "value": "callingCodes"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_CAN"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3.1/alpha/BRA": {
            "get": {
                "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route descriptions.",
                "parameters": [
                    {
                        "name": "callingCodes",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "area": {
                                "value": "area"
                            },
                            "name;capital;population": {
                                "value": "name;capital;population"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "currency",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "region",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Europe": {
                                "value": "Europe"
                            }
                        }
                    },
                    {
                        "name": "demonym",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "American": {
                                "value": "American"
                            }
                        }
                    },
                    {
                        "name": "currencies",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "EUR": {
                                "value": "EUR"
                            }
                        }
                    },
                    {
                        "name": "borders",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "DEU": {
                                "value": "DEU"
                            }
                        }
                    },
                    {
                        "name": "timezones",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "GMT+1": {
                                "value": "GMT+1"
                            }
                        }
                    },
                    {
                        "name": "flag",
                        "description": "Set 'parameter-desc' to true in the RESTSpecIT configuration file to generate parameter descriptions.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set 'route-desc' to true in the RESTSpecIT configuration file to generate route request descriptions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v3.1_alpha_BRA"
                                },
                                "example": "Set 'save-response-examples' to true in the RESTSpecIT configuration file to display API response examples."
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "message": "Page Not Found",
                                    "_links": {
                                        "self": {
                                            "href": "/invalidRoute/?invalidParam=invalidValue",
                                            "templated": false
                                        }
                                    }
                                }
                            }
                        }
[...]
