{
    "openapi": "3.1.0",
    "info": {
        "title": "Balldontlie API",
        "description": "**API Description** - The Balldontlie API is a sports API that provides basketball statistics and data.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Balldontlie API Contact",
            "url": "https://www.balldontlie.io/#contact",
            "email": ""
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://www.balldontlie.io",
            "description": "Production Server of the Balldontlie API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.balldontlie.io",
        "description": "Find more about the Balldontlie API here:"
    },
    "paths": {
        "/api/v1/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            },
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LeBron+James": {
                                "value": "LeBron+James"
                            },
                            "james": {
                                "value": "james"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "season_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "regular": {
                                "value": "regular"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2020": {
                                "value": "2020"
                            }
                        }
                    },
                    {
                        "name": "height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "6-8": {
                                "value": "6-8"
                            }
                        }
                    },
                    {
                        "name": "weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "200": {
                                "value": "200"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "guard": {
                                "value": "guard"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "east": {
                                "value": "east"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "central": {
                                "value": "central"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "points": {
                                "value": "points"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 14,
                                            "first_name": "Ike",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Anigbogu",
                                            "position": "C",
                                            "team": {
                                                "id": 12,
                                                "abbreviation": "IND",
                                                "city": "Indiana",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Indiana Pacers",
                                                "name": "Pacers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 25,
                                            "first_name": "Ron",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Baker",
                                            "position": "G",
                                            "team": {
                                                "id": 20,
                                                "abbreviation": "NYK",
                                                "city": "New York",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "New York Knicks",
                                                "name": "Knicks"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 47,
                                            "first_name": "Jabari",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Bird",
                                            "position": "G",
                                            "team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 67,
                                            "first_name": "MarShon",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Brooks",
                                            "position": "G",
                                            "team": {
                                                "id": 15,
                                                "abbreviation": "MEM",
                                                "city": "Memphis",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Memphis Grizzlies",
                                                "name": "Grizzlies"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 71,
                                            "first_name": "Lorenzo",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Brown",
                                            "position": "G",
                                            "team": {
                                                "id": 28,
                                                "abbreviation": "TOR",
                                                "city": "Toronto",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Toronto Raptors",
                                                "name": "Raptors"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 90,
                                            "first_name": "Omri",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Casspi",
                                            "position": "F",
                                            "team": {
                                                "id": 15,
                                                "abbreviation": "MEM",
                                                "city": "Memphis",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Memphis Grizzlies",
                                                "name": "Grizzlies"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1,
                                            "first_name": "Alex",
                                            "height_feet": 6,
                                            "height_inches": 6,
                                            "last_name": "Abrines",
                                            "position": "G",
                                            "team": {
                                                "id": 21,
                                                "abbreviation": "OKC",
                                                "city": "Oklahoma City",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Oklahoma City Thunder",
                                                "name": "Thunder"
                                            },
                                            "weight_pounds": 200
                                        },
                                        {
                                            "id": 119,
                                            "first_name": "Tyler",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Davis",
                                            "position": "C",
                                            "team": {
                                                "id": 21,
                                                "abbreviation": "OKC",
                                                "city": "Oklahoma City",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Oklahoma City Thunder",
                                                "name": "Thunder"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 149,
                                            "first_name": "Keenan",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Evans",
                                            "position": "G",
                                            "team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 179,
                                            "first_name": "Marcin",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Gortat",
                                            "position": "C",
                                            "team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 1593,
                                            "first_name": "Andrew",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Bogut",
                                            "position": "F",
                                            "team": {
                                                "id": 10,
                                                "abbreviation": "GSW",
                                                "city": "Golden State",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Golden State Warriors",
                                                "name": "Warriors"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 241,
                                            "first_name": "Amir",
                                            "height_feet": 6,
                                            "height_inches": 9,
                                            "last_name": "Johnson",
                                            "position": "C-F",
                                            "team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "weight_pounds": 240
                                        },
                                        {
                                            "id": 392,
                                            "first_name": "Malachi",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Richardson",
                                            "position": "G",
                                            "team": {
                                                "id": 29,
                                                "abbreviation": "UTA",
                                                "city": "Utah",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Utah Jazz",
                                                "name": "Jazz"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 281,
                                            "first_name": "Zach",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Lofton",
                                            "position": "G",
                                            "team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 263,
                                            "first_name": "Kosta",
                                            "height_feet": 7,
                                            "height_inches": 0,
                                            "last_name": "Koufos",
                                            "position": "C",
                                            "team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "weight_pounds": 245
                                        },
                                        {
                                            "id": 382,
                                            "first_name": "Billy",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Preston",
                                            "position": "F",
                                            "team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 384,
                                            "first_name": "Zhou",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Qi",
                                            "position": "F-C",
                                            "team": {
                                                "id": 11,
                                                "abbreviation": "HOU",
                                                "city": "Houston",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Houston Rockets",
                                                "name": "Rockets"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 388,
                                            "first_name": "Zach",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Randolph",
                                            "position": "F",
                                            "team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 430,
                                            "first_name": "DJ",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Stephens",
                                            "position": "G-F",
                                            "team": {
                                                "id": 15,
                                                "abbreviation": "MEM",
                                                "city": "Memphis",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "Memphis Grizzlies",
                                                "name": "Grizzlies"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 437,
                                            "first_name": "Milos",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Teodosic",
                                            "position": "G",
                                            "team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 448,
                                            "first_name": "Gary",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Trent Jr.",
                                            "position": "G",
                                            "team": {
                                                "id": 25,
                                                "abbreviation": "POR",
                                                "city": "Portland",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Portland Trail Blazers",
                                                "name": "Trail Blazers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 494,
                                            "first_name": "Michael",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Smith",
                                            "position": "",
                                            "team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 495,
                                            "first_name": "John",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Morton",
                                            "position": "",
                                            "team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 496,
                                            "first_name": "Howard",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Wright",
                                            "position": "",
                                            "team": {
                                                "id": 1,
                                                "abbreviation": "ATL",
                                                "city": "Atlanta",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Atlanta Hawks",
                                                "name": "Hawks"
                                            },
                                            "weight_pounds": null
                                        },
                                        {
                                            "id": 497,
                                            "first_name": "Michael",
                                            "height_feet": null,
                                            "height_inches": null,
                                            "last_name": "Ansley",
                                            "position": "",
                                            "team": {
                                                "id": 22,
                                                "abbreviation": "ORL",
                                                "city": "Orlando",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Orlando Magic",
                                                "name": "Magic"
                                            },
                                            "weight_pounds": null
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 209,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 25,
                                        "total_count": 5206
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/players/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /api/v1/players/{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Michael": {
                                "value": "Michael"
                            },
                            "LeBron": {
                                "value": "LeBron"
                            },
                            "lebron": {
                                "value": "lebron"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2021": {
                                "value": "2021"
                            },
                            "2020": {
                                "value": "2020"
                            },
                            "2018": {
                                "value": "2018"
                            }
                        }
                    },
                    {
                        "name": "team_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "23": {
                                "value": "23"
                            },
                            "5": {
                                "value": "5"
                            },
                            "19": {
                                "value": "19"
                            },
                            "12": {
                                "value": "12"
                            },
                            "15": {
                                "value": "15"
                            }
                        }
                    },
                    {
                        "name": "player_ids[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123": {
                                "value": "123"
                            },
                            "456": {
                                "value": "456"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            },
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "stats",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "pts": {
                                "value": "pts"
                            },
                            "true": {
                                "value": "true"
                            }
                        }
                    },
                    {
                        "name": "season_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "regular": {
                                "value": "regular"
                            }
                        }
                    },
                    {
                        "name": "search_position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PG": {
                                "value": "PG"
                            }
                        }
                    },
                    {
                        "name": "search_height_feet",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "6": {
                                "value": "6"
                            }
                        }
                    },
                    {
                        "name": "search_height_inches",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "8": {
                                "value": "8"
                            }
                        }
                    },
                    {
                        "name": "search_weight_pounds",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "250": {
                                "value": "250"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "East": {
                                "value": "East"
                            },
                            "east": {
                                "value": "east"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Atlantic": {
                                "value": "Atlantic"
                            },
                            "atlantic": {
                                "value": "atlantic"
                            }
                        }
                    },
                    {
                        "name": "height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "6-8": {
                                "value": "6-8"
                            },
                            "6-6": {
                                "value": "6-6"
                            }
                        }
                    },
                    {
                        "name": "weight_lbs",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "220": {
                                "value": "220"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PG": {
                                "value": "PG"
                            }
                        }
                    },
                    {
                        "name": "weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "210": {
                                "value": "210"
                            }
                        }
                    },
                    {
                        "name": "stats[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "pts": {
                                "value": "pts"
                            }
                        }
                    },
                    {
                        "name": "first_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Michael": {
                                "value": "Michael"
                            }
                        }
                    },
                    {
                        "name": "last_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Jordan": {
                                "value": "Jordan"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_players_id"
                                },
                                "example": {
                                    "id": 66,
                                    "first_name": "Dillon",
                                    "height_feet": 6,
                                    "height_inches": 6,
                                    "last_name": "Brooks",
                                    "position": "G-F",
                                    "team": {
                                        "id": 11,
                                        "abbreviation": "HOU",
                                        "city": "Houston",
                                        "conference": "West",
                                        "division": "Southwest",
                                        "full_name": "Houston Rockets",
                                        "name": "Rockets"
                                    },
                                    "weight_pounds": 220
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            },
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "conference",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "east": {
                                "value": "east"
                            },
                            "west": {
                                "value": "west"
                            },
                            "East": {
                                "value": "East"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "atlantic": {
                                "value": "atlantic"
                            },
                            "central": {
                                "value": "central"
                            },
                            "southeast": {
                                "value": "southeast"
                            },
                            "northwest": {
                                "value": "northwest"
                            },
                            "pacific": {
                                "value": "pacific"
                            },
                            "southwest": {
                                "value": "southwest"
                            },
                            "Atlantic": {
                                "value": "Atlantic"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "los_angeles": {
                                "value": "los_angeles"
                            },
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2018": {
                                "value": "2018"
                            },
                            "2019": {
                                "value": "2019"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "city": {
                                "value": "city"
                            },
                            "name": {
                                "value": "name"
                            },
                            "abbreviation": {
                                "value": "abbreviation"
                            },
                            "conference": {
                                "value": "conference"
                            },
                            "division": {
                                "value": "division"
                            }
                        }
                    },
                    {
                        "name": "fields[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "value": "id"
                            },
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "season_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "regular": {
                                "value": "regular"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Los%20Angeles": {
                                "value": "Los%20Angeles"
                            },
                            "los_angeles": {
                                "value": "los_angeles"
                            },
                            "boston": {
                                "value": "boston"
                            },
                            "Boston": {
                                "value": "Boston"
                            },
                            "new_york": {
                                "value": "new_york"
                            }
                        }
                    },
                    {
                        "name": "abbreviation",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LAL": {
                                "value": "LAL"
                            },
                            "NY": {
                                "value": "NY"
                            }
                        }
                    },
                    {
                        "name": "full_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Golden+State+Warriors": {
                                "value": "Golden+State+Warriors"
                            },
                            "New+York+Knicks": {
                                "value": "New+York+Knicks"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Celtics": {
                                "value": "Celtics"
                            },
                            "Knicks": {
                                "value": "Knicks"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "school",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "duke": {
                                "value": "duke"
                            }
                        }
                    },
                    {
                        "name": "year_founded",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1946": {
                                "value": "1946"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_teams"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "abbreviation": "ATL",
                                            "city": "Atlanta",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Atlanta Hawks",
                                            "name": "Hawks"
                                        },
                                        {
                                            "id": 2,
                                            "abbreviation": "BOS",
                                            "city": "Boston",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Boston Celtics",
                                            "name": "Celtics"
                                        },
                                        {
                                            "id": 3,
                                            "abbreviation": "BKN",
                                            "city": "Brooklyn",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Brooklyn Nets",
                                            "name": "Nets"
                                        },
                                        {
                                            "id": 4,
                                            "abbreviation": "CHA",
                                            "city": "Charlotte",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Charlotte Hornets",
                                            "name": "Hornets"
                                        },
                                        {
                                            "id": 5,
                                            "abbreviation": "CHI",
                                            "city": "Chicago",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Chicago Bulls",
                                            "name": "Bulls"
                                        },
                                        {
                                            "id": 6,
                                            "abbreviation": "CLE",
                                            "city": "Cleveland",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Cleveland Cavaliers",
                                            "name": "Cavaliers"
                                        },
                                        {
                                            "id": 7,
                                            "abbreviation": "DAL",
                                            "city": "Dallas",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Dallas Mavericks",
                                            "name": "Mavericks"
                                        },
                                        {
                                            "id": 8,
                                            "abbreviation": "DEN",
                                            "city": "Denver",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Denver Nuggets",
                                            "name": "Nuggets"
                                        },
                                        {
                                            "id": 9,
                                            "abbreviation": "DET",
                                            "city": "Detroit",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Detroit Pistons",
                                            "name": "Pistons"
                                        },
                                        {
                                            "id": 10,
                                            "abbreviation": "GSW",
                                            "city": "Golden State",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Golden State Warriors",
                                            "name": "Warriors"
                                        },
                                        {
                                            "id": 11,
                                            "abbreviation": "HOU",
                                            "city": "Houston",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Houston Rockets",
                                            "name": "Rockets"
                                        },
                                        {
                                            "id": 12,
                                            "abbreviation": "IND",
                                            "city": "Indiana",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Indiana Pacers",
                                            "name": "Pacers"
                                        },
                                        {
                                            "id": 13,
                                            "abbreviation": "LAC",
                                            "city": "LA",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "LA Clippers",
                                            "name": "Clippers"
                                        },
                                        {
                                            "id": 14,
                                            "abbreviation": "LAL",
                                            "city": "Los Angeles",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Los Angeles Lakers",
                                            "name": "Lakers"
                                        },
                                        {
                                            "id": 15,
                                            "abbreviation": "MEM",
                                            "city": "Memphis",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "Memphis Grizzlies",
                                            "name": "Grizzlies"
                                        },
                                        {
                                            "id": 16,
                                            "abbreviation": "MIA",
                                            "city": "Miami",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Miami Heat",
                                            "name": "Heat"
                                        },
                                        {
                                            "id": 17,
                                            "abbreviation": "MIL",
                                            "city": "Milwaukee",
                                            "conference": "East",
                                            "division": "Central",
                                            "full_name": "Milwaukee Bucks",
                                            "name": "Bucks"
                                        },
                                        {
                                            "id": 18,
                                            "abbreviation": "MIN",
                                            "city": "Minnesota",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Minnesota Timberwolves",
                                            "name": "Timberwolves"
                                        },
                                        {
                                            "id": 19,
                                            "abbreviation": "NOP",
                                            "city": "New Orleans",
                                            "conference": "West",
                                            "division": "Southwest",
                                            "full_name": "New Orleans Pelicans",
                                            "name": "Pelicans"
                                        },
                                        {
                                            "id": 20,
                                            "abbreviation": "NYK",
                                            "city": "New York",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "New York Knicks",
                                            "name": "Knicks"
                                        },
                                        {
                                            "id": 21,
                                            "abbreviation": "OKC",
                                            "city": "Oklahoma City",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Oklahoma City Thunder",
                                            "name": "Thunder"
                                        },
                                        {
                                            "id": 22,
                                            "abbreviation": "ORL",
                                            "city": "Orlando",
                                            "conference": "East",
                                            "division": "Southeast",
                                            "full_name": "Orlando Magic",
                                            "name": "Magic"
                                        },
                                        {
                                            "id": 23,
                                            "abbreviation": "PHI",
                                            "city": "Philadelphia",
                                            "conference": "East",
                                            "division": "Atlantic",
                                            "full_name": "Philadelphia 76ers",
                                            "name": "76ers"
                                        },
                                        {
                                            "id": 24,
                                            "abbreviation": "PHX",
                                            "city": "Phoenix",
                                            "conference": "West",
                                            "division": "Pacific",
                                            "full_name": "Phoenix Suns",
                                            "name": "Suns"
                                        },
                                        {
                                            "id": 25,
                                            "abbreviation": "POR",
                                            "city": "Portland",
                                            "conference": "West",
                                            "division": "Northwest",
                                            "full_name": "Portland Trail Blazers",
                                            "name": "Trail Blazers"
                                        }
                                    ],
                                    "meta": {
                                        "total_pages": 2,
                                        "current_page": 1,
                                        "next_page": 2,
                                        "per_page": 25,
                                        "total_count": 45
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/games": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "seasons[]",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2019": {
                                "value": "2019"
                            },
                            "2022": {
                                "value": "2022"
                            }
                        }
                    },
                    {
                        "name": "start_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-01-01": {
                                "value": "2020-01-01"
                            }
                        }
                    },
                    {
                        "name": "end_date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-12-31": {
                                "value": "2020-12-31"
                            }
                        }
                    },
                    {
                        "name": "season_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "regular": {
                                "value": "regular"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_v1_games"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 47179,
                                            "date": "2019-01-30T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 126,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": " ",
                                            "visitor_team": {
                                                "id": 4,
                                                "abbreviation": "CHA",
                                                "city": "Charlotte",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Charlotte Hornets",
                                                "name": "Hornets"
                                            },
                                            "visitor_team_score": 94
                                        },
                                        {
                                            "id": 48751,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 2,
                                                "abbreviation": "BOS",
                                                "city": "Boston",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Boston Celtics",
                                                "name": "Celtics"
                                            },
                                            "home_team_score": 112,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 13,
                                                "abbreviation": "LAC",
                                                "city": "LA",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "LA Clippers",
                                                "name": "Clippers"
                                            },
                                            "visitor_team_score": 123
                                        },
                                        {
                                            "id": 48739,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 23,
                                                "abbreviation": "PHI",
                                                "city": "Philadelphia",
                                                "conference": "East",
                                                "division": "Atlantic",
                                                "full_name": "Philadelphia 76ers",
                                                "name": "76ers"
                                            },
                                            "home_team_score": 117,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 8,
                                                "abbreviation": "DEN",
                                                "city": "Denver",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Denver Nuggets",
                                                "name": "Nuggets"
                                            },
                                            "visitor_team_score": 110
                                        },
                                        {
                                            "id": 48740,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "home_team_score": 119,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 6,
                                                "abbreviation": "CLE",
                                                "city": "Cleveland",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Cleveland Cavaliers",
                                                "name": "Cavaliers"
                                            },
                                            "visitor_team_score": 106
                                        },
                                        {
                                            "id": 48746,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 26,
                                                "abbreviation": "SAC",
                                                "city": "Sacramento",
                                                "conference": "West",
                                                "division": "Pacific",
                                                "full_name": "Sacramento Kings",
                                                "name": "Kings"
                                            },
                                            "home_team_score": 102,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 16,
                                                "abbreviation": "MIA",
                                                "city": "Miami",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Miami Heat",
                                                "name": "Heat"
                                            },
                                            "visitor_team_score": 96
                                        },
                                        {
                                            "id": 48762,
                                            "date": "2019-02-11T00:00:00.000Z",
                                            "home_team": {
                                                "id": 9,
                                                "abbreviation": "DET",
                                                "city": "Detroit",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Detroit Pistons",
                                                "name": "Pistons"
                                            },
                                            "home_team_score": 121,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 30,
                                                "abbreviation": "WAS",
                                                "city": "Washington",
                                                "conference": "East",
                                                "division": "Southeast",
                                                "full_name": "Washington Wizards",
                                                "name": "Wizards"
                                            },
                                            "visitor_team_score": 112
                                        },
                                        {
                                            "id": 48745,
                                            "date": "2019-02-08T00:00:00.000Z",
                                            "home_team": {
                                                "id": 19,
                                                "abbreviation": "NOP",
                                                "city": "New Orleans",
                                                "conference": "West",
                                                "division": "Southwest",
                                                "full_name": "New Orleans Pelicans",
                                                "name": "Pelicans"
                                            },
                                            "home_team_score": 122,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
                                            "time": "     ",
                                            "visitor_team": {
                                                "id": 18,
                                                "abbreviation": "MIN",
                                                "city": "Minnesota",
                                                "conference": "West",
                                                "division": "Northwest",
                                                "full_name": "Minnesota Timberwolves",
                                                "name": "Timberwolves"
                                            },
                                            "visitor_team_score": 117
                                        },
                                        {
                                            "id": 48748,
                                            "date": "2019-02-09T00:00:00.000Z",
                                            "home_team": {
                                                "id": 12,
                                                "abbreviation": "IND",
                                                "city": "Indiana",
                                                "conference": "East",
                                                "division": "Central",
                                                "full_name": "Indiana Pacers",
                                                "name": "Pacers"
                                            },
                                            "home_team_score": 105,
                                            "period": 4,
                                            "postseason": false,
                                            "season": 2018,
                                            "status": "Final",
[...]
