{
    "openapi": "3.1.0",
    "info": {
        "title": "GBIF Species API",
        "description": "**API Description** - The GBIF Species API is an application programming interface that provides access to the Global Biodiversity Information Facility's database of species occurrence data.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://www.gbif.org/terms",
        "contact": {
            "name": "GBIF Species API Contact",
            "url": "https://www.gbif.org/contact-us",
            "email": "api@gbif.org"
        },
        "license": {
            "name": "Creative Commons Attribution (CC BY)",
            "url": "https://creativecommons.org/licenses/by/4.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.gbif.org",
            "description": "Production Server of the GBIF Species API.",
            "x-base-routes": 2
        }
    ],
    "externalDocs": {
        "url": "https://www.gbif.org/developer/species",
        "description": "Find more about the GBIF Species API here:"
    },
    "paths": {
        "/v1/species": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "results": [
                                        {
                                            "key": 5219404,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "gbif:5219404",
                                            "sourceTaxonKey": 172721589,
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 1,
                                            "phylumKey": 44,
                                            "classKey": 359,
                                            "orderKey": 732,
                                            "familyKey": 9703,
                                            "genusKey": 2435194,
                                            "speciesKey": 5219404,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                                            "parentKey": 2435194,
                                            "parent": "Panthera",
                                            "basionymKey": 7630906,
                                            "basionym": "Felis leo Linnaeus, 1758",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "African lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "",
                                            "publishedIn": "Syst. Nat., 10th ed. vol.1 p.41",
                                            "numDescendants": 10,
                                            "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                                            "lastInterpreted": "2023-08-22T22:19:08.596+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 100388659,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "47538",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "orderKey": 217861146,
                                            "familyKey": 217861225,
                                            "genusKey": 100388647,
                                            "speciesKey": 100388659,
                                            "datasetKey": "16c3f9cb-4b19-4553-ac8e-ebb90003aa02",
                                            "parentKey": 100388647,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "http://de.wikipedia.org/wiki/L%C3%B6we",
                                            "lastCrawled": "2023-08-24T14:01:22.656+00:00",
                                            "lastInterpreted": "2023-11-23T14:40:47.247+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED",
                                                "VERNACULAR_NAME_INVALID"
                                            ]
                                        },
                                        {
                                            "key": 100690970,
                                            "nubKey": 5219404,
                                            "nameKey": 8115329,
                                            "taxonID": "14000228",
                                            "kingdom": "Animalia",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 217741676,
                                            "classKey": 217741678,
                                            "orderKey": 100688735,
                                            "familyKey": 100691331,
                                            "genusKey": 100690954,
                                            "speciesKey": 100690970,
                                            "datasetKey": "672aca30-f1b5-43d3-8a2b-c1606125fa1b",
                                            "parentKey": 100690954,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo Linnaeus, 1758",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "Linnaeus, 1758",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "Synonyms allocated according to Ellerman and Morrison-Scott (1951); G. M. Allen (1939). Revised by Pocock (1930c). Placed in Panthera by Pocock (1930c), Weigel (1961), Hemmer (1978), Kratochv\u00edl (1982c), and Groves (1982a).",
                                            "publishedIn": "Syst. Nat., 10th ed. vol.1 p.41",
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-11-17T14:32:21.905+00:00",
                                            "lastInterpreted": "2023-11-17T14:33:06.858+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 102116236,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "183803",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 101683523,
                                            "phylumKey": 102017110,
                                            "classKey": 102114218,
                                            "orderKey": 102114749,
                                            "familyKey": 102115889,
                                            "genusKey": 102116235,
                                            "speciesKey": 102116236,
                                            "datasetKey": "9ca92552-f23a-41a8-a140-01abaa31c931",
                                            "parentKey": 102116235,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 8,
                                            "lastCrawled": "2023-11-23T14:47:14.230+00:00",
                                            "lastInterpreted": "2023-11-23T15:55:27.202+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 104061133,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "9689",
                                            "kingdom": "Metazoa",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 103832354,
                                            "phylumKey": 103882489,
                                            "classKey": 104045725,
                                            "orderKey": 104059711,
                                            "familyKey": 104060843,
                                            "genusKey": 104061129,
                                            "speciesKey": 104061133,
                                            "datasetKey": "fab88965-e69d-4491-a04d-e3198b626e52",
                                            "parentKey": 104061129,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "code compliant; specified",
                                            "numDescendants": 6,
                                            "lastCrawled": "2023-11-09T12:19:10.678+00:00",
                                            "lastInterpreted": "2023-11-23T18:37:35.095+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 113275902,
                                            "nameKey": 8115323,
                                            "taxonID": "36896",
                                            "species": "Panthera leo",
                                            "speciesKey": 113275902,
                                            "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "remarks": "Failed to retrieve taxonomy from {}",
                                            "numDescendants": 0,
                                            "references": "http://en.wikipedia.org/wiki/Lion",
                                            "lastCrawled": "2023-11-23T14:27:56.120+00:00",
                                            "lastInterpreted": "2023-11-23T15:29:20.254+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED",
                                                "BACKBONE_MATCH_NONE"
                                            ]
                                        },
                                        {
                                            "key": 116808497,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "http://services.snsb.info/DTNtaxonlists/rest/v0.1/names/DiversityTaxonNames_TaxaVaria/12472/",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 132774790,
                                            "phylumKey": 116785007,
                                            "classKey": 116807520,
                                            "orderKey": 116808346,
                                            "familyKey": 116808479,
                                            "genusKey": 116808493,
                                            "speciesKey": 116808497,
                                            "datasetKey": "88f4e35a-bdf8-4aa2-9a1b-56401d4eed15",
                                            "parentKey": 116808493,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "http://services.snsb.info/DTNtaxonlists/rest/v0.1/names/DiversityTaxonNames_TaxaVaria/12472/",
                                            "lastCrawled": "2023-11-23T11:42:13.425+00:00",
                                            "lastInterpreted": "2023-11-23T11:46:03.464+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 116907245,
                                            "nubKey": 5219404,
                                            "nameKey": 8115329,
                                            "taxonID": "e882e576-277c-4b8f-8f05-b4d3d8f200e2",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "classKey": 116891947,
                                            "orderKey": 116906073,
                                            "familyKey": 116907101,
                                            "genusKey": 116907242,
                                            "speciesKey": 116907245,
                                            "datasetKey": "71667154-257d-4d8e-a2a5-711aaf9b2d74",
                                            "parentKey": 116907242,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo Linnaeus, 1758",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "Linnaeus, 1758",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-11-23T11:52:37.628+00:00",
                                            "lastInterpreted": "2023-11-23T11:59:40.194+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammals"
                                        },
                                        {
                                            "key": 116940958,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "NMK:ODK:121",
                                            "family": "Felidae",
                                            "classKey": 135074284,
                                            "familyKey": 135074295,
                                            "datasetKey": "086d0402-a5e1-42ae-b67f-ac6244178fa2",
                                            "parentKey": 135074295,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "African lion",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T13:40:30.423+00:00",
                                            "lastInterpreted": "2017-09-30T16:09:26.880+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 119232102,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "234aea5f-dbc2-4bf6-863d-477bb2283e83",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "phylumKey": 119231486,
                                            "classKey": 119231491,
                                            "orderKey": 119231578,
                                            "familyKey": 119231588,
                                            "genusKey": 119232062,
                                            "speciesKey": 119232102,
                                            "datasetKey": "bb395a0a-72f0-4c50-b9b6-e1010b79d5c9",
                                            "parentKey": 119232062,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 11,
                                            "lastCrawled": "2023-11-23T11:52:38.114+00:00",
                                            "lastInterpreted": "2023-11-23T12:04:32.634+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 137373083,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "49734",
                                            "phylum": "Chordata",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Felis leo",
                                            "phylumKey": 121445866,
                                            "familyKey": 121507697,
                                            "genusKey": 121508256,
                                            "speciesKey": 121508279,
                                            "datasetKey": "c33ce2f2-c3cc-43a5-a380-fe4526d63650",
                                            "parentKey": 121508256,
                                            "parent": "Panthera",
                                            "acceptedKey": 121508279,
                                            "accepted": "Felis leo (Linnaeus, 1758)",
                                            "basionymKey": 121508279,
                                            "basionym": "Felis leo (Linnaeus, 1758)",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "SYNONYM",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T14:50:50.001+00:00",
                                            "lastInterpreted": "2022-09-15T07:47:05.887+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ]
                                        },
                                        {
                                            "key": 147219416,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "2018_2339",
                                            "kingdom": "Animalia",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 196663865,
                                            "classKey": 196664199,
                                            "orderKey": 196664268,
                                            "familyKey": 196664271,
                                            "speciesKey": 147219416,
                                            "datasetKey": "7e413e16-cac8-40cd-a7ba-aec020637d28",
                                            "parentKey": 196664271,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T11:36:07.327+00:00",
                                            "lastInterpreted": "2022-07-09T11:06:13.223+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 147345877,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "MIP3",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "genusKey": 147345875,
                                            "speciesKey": 147345877,
                                            "datasetKey": "6d38b742-709e-4b8c-90f7-b5db25be0b22",
                                            "parentKey": 147345875,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T12:02:34.529+00:00",
                                            "lastInterpreted": "2018-08-22T16:50:31.537+00:00",
                                            "issues": []
                                        },
                                        {
                                            "key": 148736668,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "31455",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 201360331,
                                            "phylumKey": 201360485,
                                            "classKey": 201360568,
                                            "orderKey": 201360569,
                                            "familyKey": 201360570,
                                            "speciesKey": 148736668,
                                            "datasetKey": "168568e7-eb5f-4ef6-8c59-f73ceaf57e91",
                                            "parentKey": 201360570,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T11:27:46.094+00:00",
                                            "lastInterpreted": "2022-10-01T16:38:05.128+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 161387042,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "644245",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 134521164,
                                            "phylumKey": 161376443,
                                            "classKey": 161380414,
                                            "orderKey": 161386450,
                                            "familyKey": 161387024,
                                            "genusKey": 161387029,
                                            "speciesKey": 161387042,
                                            "datasetKey": "0e61f8fe-7d25-4f81-ada7-d970bbb2c6d6",
                                            "parentKey": 161387029,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "accordingTo": "TAXREF",
                                            "numDescendants": 0,
                                            "references": "https://inpn.mnhn.fr/espece/cd_nom/644245",
                                            "lastCrawled": "2023-08-24T14:06:31.871+00:00",
                                            "lastInterpreted": "2023-06-22T04:28:49.231+00:00",
                                            "issues": [
                                                "SCIENTIFIC_NAME_ASSEMBLED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 162236301,
                                            "nubKey": 5219404,
                                            "nameKey": 32421060,
                                            "taxonID": "1141",
                                            "kingdom": "Animalia",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 196489986,
                                            "familyKey": 196490672,
                                            "speciesKey": 162236301,
                                            "datasetKey": "69a62746-42bd-4497-853d-653c157dc608",
                                            "parentKey": 196490672,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (Linnaeus",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T10:49:08.949+00:00",
                                            "lastInterpreted": "2022-07-08T21:23:46.945+00:00",
                                            "issues": [
                                                "PARTIALLY_PARSABLE"
                                            ]
                                        },
                                        {
                                            "key": 168211534,
                                            "nubKey": 5219404,
                                            "nameKey": 34625778,
                                            "taxonID": "42397",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "species": "Panthera leo",
                                            "kingdomKey": 201325915,
                                            "phylumKey": 201325917,
                                            "classKey": 201325956,
                                            "orderKey": 201325962,
                                            "familyKey": 201325967,
                                            "speciesKey": 168211534,
                                            "datasetKey": "1df9467e-0c60-4e5a-a7b0-2b60bd6648ed",
                                            "parentKey": 201325967,
                                            "parent": "Felidae",
                                            "scientificName": "Panthera leo (\u200eLinnaeus\u200e, \u200e1758\u200e)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "DOUBTFUL",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "lastCrawled": "2023-08-24T11:06:03.184+00:00",
                                            "lastInterpreted": "2022-10-01T15:31:20.449+00:00",
                                            "issues": [
                                                "PARTIALLY_PARSABLE"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 176685200,
                                            "nubKey": 5219404,
                                            "nameKey": 8115323,
                                            "taxonID": "15951",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 217689654,
                                            "phylumKey": 217689701,
                                            "classKey": 217696602,
                                            "orderKey": 217697675,
                                            "familyKey": 217697781,
                                            "genusKey": 217697796,
                                            "speciesKey": 176685200,
                                            "datasetKey": "19491596-35ae-4a91-9a98-85cf505f1bd3",
                                            "parentKey": 217697796,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus, 1758)",
                                            "canonicalName": "Panthera leo",
                                            "vernacularName": "Lion",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "https://apiv3.iucnredlist.org/api/v3/taxonredirect/15951",
                                            "lastCrawled": "2023-11-16T12:49:40.233+00:00",
                                            "lastInterpreted": "2023-11-16T13:09:03.896+00:00",
                                            "issues": [
                                                "VERNACULAR_NAME_INVALID"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 177672861,
                                            "nubKey": 5219404,
                                            "nameKey": 8115307,
                                            "taxonID": "9689",
                                            "kingdom": "Metazoa",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 177651702,
                                            "phylumKey": 177654008,
                                            "classKey": 177654674,
                                            "orderKey": 177670859,
                                            "familyKey": 177672533,
                                            "genusKey": 177672804,
                                            "speciesKey": 177672861,
                                            "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                                            "parentKey": 177672804,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 7,
                                            "lastCrawled": "2023-11-21T16:28:20.167+00:00",
                                            "lastInterpreted": "2023-11-21T18:42:47.762+00:00",
                                            "issues": [
                                                "CLASSIFICATION_NOT_APPLIED"
                                            ],
                                            "class": "Mammalia"
                                        },
                                        {
                                            "key": 183823434,
                                            "nubKey": 5219404,
                                            "nameKey": 54597869,
                                            "taxonID": "03A01B3B5C2FFFE96245FB3BFE5FF8D3.taxon",
                                            "kingdom": "Animalia",
                                            "phylum": "Chordata",
                                            "order": "Carnivora",
                                            "family": "Felidae",
                                            "genus": "Panthera",
                                            "species": "Panthera leo",
                                            "kingdomKey": 217222105,
                                            "phylumKey": 217222106,
                                            "classKey": 217222107,
                                            "orderKey": 217222215,
                                            "familyKey": 217222221,
                                            "genusKey": 217222224,
                                            "speciesKey": 183823434,
                                            "datasetKey": "3034d59c-159d-493f-84f1-54058652b307",
                                            "parentKey": 217222224,
                                            "parent": "Panthera",
                                            "scientificName": "Panthera leo (Linnaeus 1758)",
                                            "canonicalName": "Panthera leo",
                                            "authorship": "(Linnaeus, 1758) ",
                                            "nameType": "SCIENTIFIC",
                                            "rank": "SPECIES",
                                            "origin": "SOURCE",
                                            "taxonomicStatus": "ACCEPTED",
                                            "nomenclaturalStatus": [],
                                            "numDescendants": 0,
                                            "references": "https://treatment.plazi.org/id/03A01B3B5C2FFFE96245FB3BFE5FF8D3",
                                            "lastCrawled": "2023-11-03T23:06:22.700+00:00",
                                            "lastInterpreted": "2023-11-03T23:06:27.301+00:00",
                                            "issues": [],
                                            "class": "Mammalia"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 1020854934</p>\n    <hr>\n    <p>Varnish cach..."
                            }
                        }
                    }
                }
            }
        },
        "/v1/species/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            }
                        }
                    },
                    {
                        "name": "kingdom",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Animalia": {
                                "value": "Animalia"
                            }
                        }
                    },
                    {
                        "name": "taxonKey",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "123456": {
                                "value": "123456"
                            }
                        }
                    },
                    {
                        "name": "q",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "cat": {
                                "value": "cat"
                            },
                            "orchid": {
                                "value": "orchid"
                            },
                            "Panthera%20leo": {
                                "value": "Panthera%20leo"
                            },
                            "lepidoptera": {
                                "value": "lepidoptera"
                            },
                            "genus_key:12345": {
                                "value": "genus_key:12345"
                            },
                            "butterfly": {
                                "value": "butterfly"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2020": {
                                "value": "2020"
                            },
                            "2010,2015": {
                                "value": "2010,2015"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "species": {
                                "value": "species"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "accepted": {
                                "value": "accepted"
                            }
                        }
                    },
                    {
                        "name": "order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Carnivora": {
                                "value": "Carnivora"
                            }
                        }
                    },
                    {
                        "name": "class",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Mammalia": {
                                "value": "Mammalia"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                                },
                                "example": {
                                    "offset": 0,
                                    "limit": 20,
                                    "endOfRecords": false,
                                    "count": 38945521,
                                    "results": [
                                        {
                                            "key": 0,
                                            "nameKey": 130332213,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "nubKey": 0,
                                            "kingdom": "incertae sedis",
                                            "kingdomKey": 0,
                                            "scientificName": "incertae sedis",
                                            "canonicalName": "incertae sedis",
                                            "authorship": "",
                                            "nameType": "PLACEHOLDER",
                                            "taxonomicStatus": "DOUBTFUL",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "numDescendants": 3613,
                                            "numOccurrences": 0,
                                            "habitats": [],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [],
                                            "descriptions": [],
                                            "vernacularNames": [],
                                            "synonym": false,
                                            "higherClassificationMap": {}
                                        },
                                        {
                                            "key": 1,
                                            "nameKey": 130188353,
                                            "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                                            "nubKey": 1,
                                            "kingdom": "Animalia",
                                            "kingdomKey": 1,
                                            "scientificName": "Animalia",
                                            "canonicalName": "Animalia",
                                            "authorship": "",
                                            "nameType": "SCIENTIFIC",
                                            "taxonomicStatus": "ACCEPTED",
                                            "rank": "KINGDOM",
                                            "origin": "SOURCE",
                                            "numDescendants": 2981931,
                                            "numOccurrences": 0,
                                            "extinct": false,
                                            "habitats": [
                                                "FRESHWATER",
                                                "MARINE",
                                                "TERRESTRIAL"
                                            ],
                                            "nomenclaturalStatus": [],
                                            "threatStatuses": [
                                                "NOT_EVALUATED"
                                            ],
                                            "descriptions": [
                                                {
                                                    "description": "REGNUM ANIMALE. ANIMALIA organisatione viva, nervis sentiunt, percipiunt, seque ex arbitrio movent motu possibili. VIVENTIA singula, in multiplicatione prodiga Natura, orditur a minimis, generat in fluido, incipit in ovi liquido, cum omne vivum ex ovo. OVUM intra Tunicas, saepe includentes Albumen, continet Vitellum, cujus lateri emergenti insertum Punctum saliens, vegetans in Embryonem, caulescentem Funiculo umbilicali, radicatum placenta vitellina. MATER prolifera promit ante generationem vivum compendium novi animalis suique simillimi, tamquam plumulam intra semen vegetabile; hoc Patris polline spermatico electrisatum calore excluditur; Punctum saliens enim Ovi incubantis Avis ostendit primum Cor micans Cerebrumque cum Medulla; corculum hoc, cessans a frigore, excitatur calido halitu, premitque Bulla a \ufffd rea, sensim dilatata, liquores secundum canales fluxiles. Punctum vitalitatis itaque in viventibus est tantum a prima creatione continuata vitae ramificatio, cum ovum sit gemma matris ab exordio viva, licet non sentiens ante foecundationem; sic Generatio Aequivoca nulla. CORPUS Animantium composita est machina: Naturalis, vegetat e cranii Tubere crustato, Caule verticali, articulato, rigido, opposite ramoso, cui insident Folia carnosa, fibrosa, sparsa, apicibus etiam affixa in Musculos, prodeunte Fructificatione genitalium e dichotomia ultima caulis. Vitalis, e Bulbo Cordis perpetuo mobili, radicata vasis lacteis intra tubi intestinalis sterquilinium, ramificatur ad caulem naturalem duplici canali circulante, ne succus alimentaris quavis tempestate & statu deficiat. Animalis, e Bulbo Cerebri repentisque Medullae, indolis incognitae, sedis cogitantis, Fila simplicissima, electrica ad fibras omnes irritabiles exserit, per quae cogitans sentit & movet. ORGANA sensuum machinae sunt physicae, insertae extremitati nervi, sensorio cerebri proximi, quibus divina arte percipit Animal: Oculus: Camera obscura im ginem proportione, figura, colore depingens. Auris: Tympanum membranae corda tensae super cochleam, a motu aetheris tremens. Nasus: Membrana latissima, humida, contortuplicata, a \ufffd ris perreptantis volatilia figens. Lingva: Spongiolae bibulae, sparsae, humido solutum atrahentes. Tactus: Papillae molliusculae, figuram impressam brevi assumentes. His gaudent plurima Animalia, sed non omnia. Plura si Creatori addere placuisset, plura percepissent; uti Magnete praesentiam Ferri, Electro electricitatis phaenomena. Antennas Insectis solis concessit, nobis aeque ignotas ac illis Aures. Indicat Oculus ex luce, Auris ex aethere appropinquantia; percipit Tactus ex unione solida praesentia; examinat Nasus volatilia nervis, Lingua solubilia fibris, assumenda: s. concessa salutaria, s. vetita noxia. COGITANS allicit ad velle gratum, aut nolle ingratum. Gaudium puerile, sanguineum, rubrum, oleosum, spongiosum, tepidum, libere pulsans, anhelans, ridens, transpirans, promtum. Vita. Metus juvenilis, phlegmatic. pallescens, aquosus, laxus, horrens, debile pulsans, dyspnoicus, fuffocans, cacans, tremens. Morbus. Ira virilis, cholerica, fusca, spirituosa, stricta, fervens, dure pulsans, asthmatica, stertens, micturiens, agitans. Medicina. Moeror senilis, melancholic. ater, acidus, rigidus, frigidus, tarde pulsans, orthopnoicus, suspirans, obstipans, quiescens. Mors. Sic Gaudium bonis fruitur, Metus fuga eripit, Ira armis defendit, Moeror amissa luget. IMPERANTIUM caussa quemadmodum Populi non sunt nati, sed subditorum ordini servando Imperantes constituti, ita Vegetabilium caussa Animalia Phytiphaga, phytiphagorum Carnivora, & ex his Majora ob parva, Homo (qua animal in oeconomia naturae) ob maxima & singula, sese vero praecipue, saeva mercede conducta tyrannidem exercent, ut Proportio cum nitore Reipublicae naturae perennet. Vicissim singuli cives conspirant in Majestatem Hominis rationalis imperantis, cujus est summum Reipublicae auctorem agnoscere. RES PUBLICA Naturae, tanquam Aqua e Fontibus in Rivulos, Amnes, Fluvios ad Mare tranans, e numerosissima Plebe in pauciores Nobiles, paucissimosque Magnates ad Imperantem adscendit, dum Animalia minima, numero, vi, potentia facile infinita, in usum cedant majoribus, inertioribus, praestantioribus, cum natura nunquam magis quam in minimis tota sit. Operationes incolarum praecipuae sunt: 1. Multiplicare Speciem, ut negotiis sufficiant. 2. Auferre immunda, cadavera, languida, conspurcata, stagnantia, acida, putrida, ut nitor aulae fulgeat. 3. Detondere quotannis vegetabilia, ut renovetur annuum theatrum; 4. Aequilibrium inter Species Animalium & Vegetabilium servare, ut proportio perennet. 5. Vindicare se ipsos ab interitu, ne vacet administratio. Ministri, propriis muniis praefixi, tot sunt, quot animalium Species, singuli ad officia proprio commodo allecti, qvum ex labore sustentationem suam reportent; ne quidquam deficiat, ubi nihil supervacaneum. Ne autem alter alterius negotiis sese immisceat, simulque lucrum alteri praeripiat; sub poena capitali sancita Lex, ipsa sensibus, Olfactus imprimis & Gustus, inscripta, ne transgressores excusabiles evaderent. Sic rapina rerum omnium est, quam Armis, Fulcris, Munimentis, Halitu eludunt vivaciora, dum Languida succumbant, & Vegetiora in motu festinent, ut opus naturae perenni flore rideat. Impulsores etiam praefixi ad munera promte peragenda: blanda Venus ad propagationem irritat; avara Fames ad sustentationem impellit; atrox Dolor ad conservationem cogit; neque haec sine Numine. DIVISIO Naturalis Animalium ab interna structura indicatur: COR biloculare, biauritum;? viviparis Mammalibus. Sangvine calido, rubro.? oviparis Avibus. COR uniloculare, uniauritum;? pulmone arbitrario Amphibiis. Sangvine frigido, rubro.? branchiis externis Piscibus. COR uniloculare, inauritum;? antennatis Insectis. Sanie frigida, albida.? tentaculatis Vermibus. I. MAMMALIA. Cor biloculare, biauritum; Sanguine calido, rubro. (*) Pulmones respirantes reciproce. Maxillae incumbentes, tectae. Penis intrans viviparas, lactantes. Sensus: Lingua, Nares, Tactus, Oculi, Aures. Tegmenta: Pili, pauci indicis, paucissimi aquaticis. Fulcra: Pedes quatuor, exceptis mere aquaticis, in quibus pedes posteriores in caudae pinnam coaliti. II. AVES. Cor biloculare, biauritum; Sanguine calido, rubro. Pulmones respirantes reciproce. Maxillae incumbentes, nudae, exsertae, edentulae. Penis subintrans absque scroto oviparas crusta calcarea. Sensus: Lingua, Nares, Oculi, Aures absque auriculis. Tegmenta: Pennae incumbentes, imbricatae. Fulcra: Pedes duo. Alae duae. III. AMPHIBIA. Cor uniloculare, uniauritum; Sanguine frigido, rubro. Pulmones spirantes arbitrarie. Maxillae incumbentes. Penes bini. Ova plerisque membranacea. Sensus: Lingua, Nares, Oculi, multis Aures. Tegmenta coriacea nuda. Fulcra varia variis, quibusdam nulla. IV. PISCES. Cor uniloculare, uniauritum; Sanguine frigido, rubro. Branchiae extus comprimendae. Maxillae incumbentes. Penes nulli. Ova absque albumine. Sensus: Lingua, Nares? Oculi (non Aures). Tegmenta: Squamae imbricatae. Fulcra: Pinnae natantes. V. INSECTA. Cor uniloculare, inauritum; Sanie frigida. Spiracula: Pori laterales corporis. Maxillae laterales. Penes intrantes. Sensus: Lingua, Oculi, Antennae in capite absque cerebro. (non Aures, Nares). Tegmenta: cataphracta cute ossea sustentante. Fulcra: Pedes, quibusdam Alae. VI. VERMES. Cor uniloculare, inauritum; Sanie frigida. Spiracula nulla? Maxillae multifariae, variae variis. Penes varii Hermaphroditis Androgynis. Sensus: Tentacula, caput nullum (vix Oculi, non Aures, Nares). Tegmenta interdum calcarea vel nulla, nisi Spinae. Fulcra: nulli Pedes aut Pinnae. CLASSIS I."
                                                },
                                                {
                                                    "description": "We include details on diversity for Central American representatives of 10 arachnid orders, excluding hyperdivrse mites & ticks. Individual taxa (families, genus, species) can be explored under taxonomy tab, using the dropdown hierarchical menu on the left, either directly or starting by the links below. AMBLYPYGI:\u00a0http://arachnids.myspecies.info/taxonomy/term/12 ARANEAE:\u00a0http://arachnids.myspecies.info/taxonomy/term/18 OPILIONES:\u00a0http://arachnids.myspecies.info/taxonomy/term/20 PALPIGRADI:\u00a0http://arachnids.myspecies.info/taxonomy/term/15 PSEUDOSCORPIONIDA:\u00a0http://arachnids.myspecies.info/taxonomy/term/13 RICINULEI:\u00a0http://arachnids.myspecies.info/taxonomy/term/14 SCHIZOMIDA:\u00a0http://arachnids.myspecies.info/taxonomy/term/17 SCORPIONES:\u00a0http://arachnids.myspecies.info/taxonomy/term/16 SOLIFUGAE:\u00a0http://arachnids.myspecies.info/taxonomy/term/19 THELYPHONIDA:\u00a0http://arachnids.myspecies.info/taxonomy/term/11"
                                                },
                                                {
                                                    "description": "DESCRIPTION Measures (mm): maximum width (w) of osteoderms ranges between 1.1 and 3.9 mm. The osteoderms, when complete, are oval, suboval or subrectangular elements with more or less irregular margins. Gliding surfaces are absent. All bear a prominent medial keel that extends the full length of the osteoderm. A slight concavity on the underside of some osteoderms reflects the form of the keel. From the keel a pattern of deep pits or grooves and marked ridges radiates. The dorsal surface of most osteoderms is flat but a few have a rather strongly vaulted shape which certainly reflect different positions on the body."
                                                },
                                                {
                                                    "description": "COMPARISONS AND DISCUSSION Some characters are traditionally used to separate anguimorph taxa (and more specifically anguid genera) by their osteoderms (Hoffstetter 1962 a; Meszoely 1970; Bochaton et al. 2015, 2016), including the presence of a gliding surface and of a keel. For example, Gauthier (1982) considered keeled body osteoderms to be the plesiomorphic state for Anguimorpha. Referral of the osteoderms from Montchenot to Pan - Shinisaurus (sensu Smith & Gauthier 2013) follows from the combination of the features described above. These osteoderms are similar in shape to those of other fossil pan-shinisaurs, particularly Provaranosaurus fatuus Smith & Gauthier, 2013 (Smith & Gauthier 2013, early Eocene of the Wasatch Formation, Wyoming, United States), Merkurosaurus ornatus Klembara, 2008 (Klembara 2008, early Miocene, Orleanian, MN 3, Bohemia) and an indeterminate pan-shinisaur from Messel (Smith 2017, middle Eocene, Germany). Crocodile-tailed lizards (Chinese crocodile lizard) or shinisaurs are represented by a single living species, Shinisaurus crocodilurus Ahl, 1930. It is worth noting that similar osteoderms have already been reported in the European Paleocene and early Eocene, in particular in the localities of Cernay (MP 6, Hoffstetter 1943), Dormaal and Le Quesnoy (early Eocene, MP 7, Hecht & Hoffstetter 1962; Aug\u00e9 1990) and perhaps at Rivecourt- Petit P\u00e2tis (Smith et al. 2014). Hecht & Hoffstetter (1962) and Aug\u00e9 (2005) suggested that these osteoderms could be attributed to the genus Necrosaurus as they are also similar to those of Palaeovaranus cayluxi (Ex Necrosaurus), see figs. in Rage 1978; Estes 1983; Aug\u00e9 & Smith 2009; Klembara & Green 2010. However, the taxonomic status and phylogenetic affinities of these lizards are a complex matter. Georgalis (2017) pointed out that the name Necrosaurus, as established by Filhol (1876) is a nomina nuda and that Zittel (1887 - 1890) was the first author to make the name Palaeovaranus cayluxi available. The phylogenetic affinities of Palaeovaranus are a moot point: briefly, McDowell & Bogert (1954) noted significant morphological differences between Palaeovaranus and members of the Platynota (sensu Pregill et al. 1986) and they referred it to xenosaurid lizards, an option first adopted by Hoffstetter (1954). Later this author returned Palaeovaranus to the Platynota (Hoffstetter 1962 b). Lee (1997) rejected this taxon as paraphyletic. The phylogenetic position of Palaeovaranus is still a matter of discussion, although several derived characters suggest Platynotan relationships (see discussion in Smith 2017). In contrast, the attribution of Provaranosaurus fatuus and specimen SMF ME 11403 (an autotomized tail) from Messel to pan-shinisaur is a settled matter as they show no Platynotan derived characters (Smith & Gauthier 2013; Smith 2017). The fossils from Dormaal (osteoderms, vertebrae and an undescribed dentary) previously attributed to Necrosaurus (Palaeovaranus) show no Platynotan features and are nearly identical to the material of Provaranosaurus fatuus described by Smith & Gauthier 2013. In particular, Provaranosaurus has both rectangular and oval osteoderms, as in the material from Monchenot, while Palaeovaranus bears only ovoid osteoderms. On the basis of these resemblances, the osteoderms from Monchenot may be referred to pan- Shinisaurus and the presence of rectangular osteoderms seems to exclude an attribution to Palaeovaranus."
                                                },
                                                {
                                                    "description": "MATERIAL EXAMINED. \u2014 MNHN. F. MTC 240 - MTC 242, MTC 243, nearly fifty osteoderms, a few complete, most more or less severely damaged by digestive processes or post-burial damages (Fig. 9)."
                                                },
                                                {
                                                    "description": "(Figs 24 Y-AA; 25 A) DESCRIPTION In addition to the turiasaur, a second sauropod taxon may be present at Angeac-Charente site. It is only represented by a single abraded tooth and a tooth recovered from microremains (Figs 24 Y-AA; 25 A). They are spatulate and characterized by straight and subparallel distal and mesial edges at the base of the crown, and by the presence of a convex labial and concave lingual surface. Based on these features, these teeth are assigned to a macronarian sauropod probably close to Camarasaurus (Wilson 2002; Upchurch et al. 2004; Mocho et al. 2017). Sauropod track casts have also been recorded at Angeac-Charente. Thay are represented by casts of pes and manus footprints (Rozada et al. 2021). In 2018, a sauropod footprint cast was observed above and in contact with an in-situ broken sauropod radius. It represents a spectacular \u201c instantaneous \u201d preservation of the action of a sauropod pes or manus crushing a sauropod long bone, and inducing bone modifications (breakage, displacement and reorientation) and sediment deformations (Rozada et al. 2021). The footprints are identified as Sauropoda indet. because of the general circular morphology of the pes, the characteristic tubular metacarpal arrangement of the manus and also the huge size of the prints (Carrano & Wilson 2001; Wilson 2005)."
                                                },
                                                {
                                                    "description": "(Figs 24 A-X; 25 B, C; 26; 27) DESCRIPTION Sauropod remains are especially abundant in the Early Cretaceous of Angeac-Charente. The locality has yielded many teeth (N = 146), bones (N = 784), and track casts of this group of dinosaurs (N\u00e9raudeau et al. 2012; Rozada et al. 2021). All parts of the skeleton are represented including the braincase, some skull bones, teeth, cervical, dorsal and caudal vertebrae, chevrons, pelvic girdle and all the limb bones (Figs 24 - 27). Based on the number of femurs and their size, as well as the teeth, there are at least seven different individuals preserved in the site. With the exception of two teeth (see below), all this material belongs to a single taxon. All remaining teeth are reminiscent of the Turiasauria clade (Allain et al. 2013, 2017). We can classify them based on a small number of diagnostic characters. Teeth are heart-shaped in labial and lingual views, with an asymmetric shape induced by a concave distal margin towards the apex (Royo-Torres et al. 2006, 2017; Royo-Torres & Upchurch 2012; Mocho et al. 2016). This feature has been observed in most of the sauropod teeth that have been collected from Angeac-Charente (Figs 24; 25 B, C). A second character permits referral of these teeth to Turiasauria. When the root is well preserved, several long longitudinal grooves are visible in Turiasaurus, Losillasaurus (Royo-Torres et al. 2021) and Moabosaurus (Britt et al. 2017 and RRT personal observation). These grooves are also present in the Angeac-Charente taxon (Fig. 24 I-P, U-X) and may be diagnostic for Turiasauria (Royo-Torres et al. 2021). Moreover, the teeth of Angeac-Charente show a range of crown morphotypes and this variability of forms has also been described in turiasaur teeth from Portugal (Mocho et al. 2016) and in Mierasaurus (Royo-Torres et al. 2017) and Losillasaurus (Royo-Torres et al. 2021). Teeth, in private collections, identical in every way to those of Angeac-Charente, are also present in the Berriasian of Cherves-de-Cognac (RA, TL pers. obs.). The caudal vertebrae are also useful in determining the systematic position of the Angeac-Charente sauropod (Fig. 26). The anterior caudal vertebrae are procoelous with a slightly convex posterior articulation (Fig. 26 A-I) whereas the middle become amphicoelous or amphyplatyan (Fig. 26 J-L). The presence of a convex posterior articulation on sauropod caudal vertebrae was acquired several times during sauropod evolution (Wilson 2002; Upchurch et al. 2004; D\u2019Emic 2012; Mannion et al. 2017, 2019) and can be seen in diplodocids, titanosaurs and mamenchisaurids. The procoelous condition was also acquired in Turiasauria, as described for the Late Jurassic Turiasaurus and Losillasaurus (Casanovas et al. 2001; Royo-Torres et al. 2006, 2021). It has also been reported in the posterior series of Early Cretaceous Mierasaurus and Moabosaurus (Royo-Torres et al. 2017; Britt et al. 2017). This feature is considered to be synapomorphic for Turiasauria in some phylogenetic analyses (Carballido & Sander 2014). The neural arch of anterior caudal vertebrae is restricted to the anterior half of the centrum. This character is shared with Turiasaurus, Losillasaurus, Moabosaurus, Mierasaurus, Cetiosaurus and the Titanosauriformes (Upchurch et al. 2004; D\u2019Emic 2012; Britt et al. 2017; Royo-Torres et al. 2017). The presence in the Angeac-Charente taxon of caudal vertebrae with short lateral processes (\u2018 caudal ribs\u2019) that do not extend beyond the posterior end of the centrum suggests affinities with Titanosauriformes (Mannion et al. 2019; Royo-Torres et al. 2021). Two additional possible synapomorphic characters for Turiasauria seen in specimens from Angeac-Charente include slightly opisthocoelous posterior dorsal centra, as well as a high neural arch below the postzygapophyses of the posterior dorsal vertebrae (Carballido & Sander 2014)."
                                                },
                                                {
                                                    "description": "DESCRIPTION Ornithomimosaurs are by far the most commonly represented vertebrates in Angeac-Charente, with more than 3800 macroremains collected (Figs 29 - 30), accounting for more than 50 % of the identified vertebrate material (Rozada et al. 2021). The minimum number of individuals (MNI) is approximately 70 based on the distal end of left tibiae. Ornithomimosaur remains are mainly concentrated in the CG 1 and CG 3 loci, in which they represent 70 % of all the ornithomimosaur remains identified. Such a concentration and high number of individuals are congruent with a mass mortality event of an ornithomimosaur herd (Allain et al. 2011, 2014; N\u00e9raudeau et al. 2012; Rozada et al. 2021). However, no articulated skeletons have been observed due to the intense trampling (dinoturbation) affecting this area (Rozada et al. 2021). The only articulated remains of ornithomimosaurs found so far come from the northwestern part of the quarry (CG 9 plot) and they include the zeugopod and the autopod of the forelimb of a single individual, as well as the the zeugopod and autopod of the hindlimb of another single individual. Except for the most fragile elements such as the maxillary and palate bones, which have probably suffered from trampling and have not yet been identified, the skeleton of the Angeac-Charente ornithomimosaur is virtually complete (Fig. 31). A complete description of the entire skeleton of this new taxon is beyond the scope of this study. Nevertheless, it seems important to highlight here key anatomical features of the Angeac-Charente ornithomimosaur: first, because this clade was hitherto unknown in Europe at the beginning of the Cretaceous (Allain et al. 2014); secondly because it may be the oldest known ornithomimosaur to date (Choiniere et al. 2012; Cerroni et al. 2019); thirdly, because it shows very close anatomical similarities to Limusaurus, which is a Late Jurassic Chinese theropod that is not considered a member of the Ornithomimosauria, but a ceratosaurian (Xu et al. 2009). These similarities include a very large external mandibular fenestra and short forelimbs with manual digit reduction (RA pers. obs.). Relationships between ceratosaurians and ornithomimosaurs have long been confusing (e. g. Marsh 1895; Janensch 1925; Galton 1982; Holtz 1994; Rauhut 2003). Some taxa, including Elaphrosaurus, Deltadromeus, Limusaurus, Nqwebasaurus and probably the Angeac-Charente taxon do not have a clearly established phylogenetic position, and their anatomy may also reflect unexpected and unrecognized relationships between ceratosaurians and ornithomimosaurs. Pending a comparative and detailed phylogenetic study, we provide herein some anatomical features that clearly indicate the ornithomimosaurian affinity of Angeac-Charente material. Besides the features already mentioned byAllain et al. (2014), we mainly used the anatomical characters discussed in the recent reappraisal of the phylogenetic position of Afromimus byCerroni et al. (2019). The edentulous and downturned dentary (Fig. 29 A) is an ornithomimosaurian synapomorphy convergently acquired by numerous other coelurosaurian groups (Zanno & Makovicky 2010). It is worth noting that outside coelurosaurs only Limusaurus displays a toothless skull and mandible in mature individuals (Wang et al. 2017). The pedal unguals of the Angeac-Charente theropod have a weak longitudinal curvature and exhibit the reduction of the flexor tubercle to a ventral platform seen in ornithomimosaurs, but also in abelisauroids (Fig. 29 B, C; Cerroni et al. 2019: fig. 7). Nevertheless, they are more reminiscent of ornithomimosaurs, being slender, and having a triangular cross-section and a single ventral groove (Longrich 2008), whereas pedal unguals of Afromimus and Masiakasaurus are shorter and possess a dorsal vascular groove. The centrum of the middle and distal caudal vertebrae is long and low (Fig. 29 D-L). The anterior and posterior articular surfaces are slightly wider than tall, with a reniform contour (Fig. 29 H, L). A broad and shallow sulcus is present on the ventral surface, and it is laterally delimited by two prominent ridges (Fig. 29 E, J). All these features are present in ornithomimosaurs (Osmolska et al. 1972; Longrich 2008) but also in Elaphrosaurus (Rauhut & Carrano 2016). As in all ornithomimosaurs, the robust and tongue-shaped prezygapophyses of the Angeac-Charente taxon are elongated anteroposteriorly, up to three-quarters the length of the centrum. They are horizontally directed (Fig. 29 F, K) and do not diverge laterally from the sagittal plane (Fig. 29 D, I). Conversely, the zygapophyses of ceratosaurs are slender, shorter and directed anterodorsally (Carrano et al. 2002; O\u2019Connor 2007, Cerroni et al. 2019). The tibia of the Angeac-Charente ornithomimosaur has already been described in detail (Allain et al. 2014). Here, we figure new material to highlight the features that best differentiate it from a ceratosaur tibia (Fig. 30 A-D). The proximal end of the tibia is markedly different from that of Ceratosaurus, Masiakasaurus, Carnotaurus, Majungasaurus, Afromimus and Elaphrosaurus having a fibular crest clearly separated from the proximal articular surface (Fig. 30 A-C), as in tetanuran theropods and thus all the ornithomimosaurs. The elliptical scar present on the posterior surface of the proximal end of the tibia of some ceratosaurs is not visible in the Angeac-Charente taxon (Cerroni et al. 2019). As in all ornithomimosaurs, the anterior surface of the distal end of the tibia of the Angeac-Charente taxon bears a tall and transversely expanded flat articular surface for the ascending process of the astragalus (Fig. 30 D). There is no medial buttress to accommodate the ascending process as in many basal tetanurans and ceratosaurs, including Berberosaurus, Masiakasaurus, Majungasaurus and Ceratosaurus. The medial face of the fibula bears a deep and proximodistally elongate elliptical fossa for the insertion of musculus popliteus. This fossa opens medially and is anteriorly and posteriorly bounded by sharp rims (Fig. 30 E). Such a condition is only known in coelurosaurs and Elaphrosaurus, and markedly differs from the condition seen in coelophysoids and ceratosaurs, in which the fossa is covered anterodorsally by the tibial crest and thus opens posteriorly (Rauhut 2003; Allain et al. 2007; Rauhut & Carrano 2016; Cerroni et al. 2019). In common with the tibia and fibula, the astragalus has a morphology typical of the coelurosaurs and very different from that of the ceratosaurs (Fig. 30 F-H). In contrast to Ceratosaurus, Elaphrosaurus, Masiakasaurus, and abelisaurids, the astragalus is fused neither to the calcaneum nor the tibia or fibula (Fig. 30 H). The height of the blade-like ascending process of the astragalus is more than twice the height of astragalar body and the process arises from the complete breadth of the astragalar body (Fig. 30 F-G). In contrast, all ceratosaurs exhibit a low and narrow ascending process. In addition, the fibular facet on the astragalus is strongly reduced on the lateral side of the ascending process of the astragalus (Fig. 30 H). In contrast, the distal end of the fibula of numerous abelisauroids including Berberosaurus, Masiakasaurus, Afromimus and Majungasaurus is transversely expanded and the flared distal end partially overlaps the ascending process of astragalus, the fibular facet of which is large. As previously stated (N\u00e9raudeau et al. 2012, Allain et al. 2013, 2014), all surveyed anatomical features agree with assignment of the Angeac-Charente theropod to Ornithomimosauria."
                                                },
                                                {
                                                    "description": "Cerroni et al. (2019) have recently questioned the ornithomimosaurian phylogenetic affinities of the Early Cretaceous African Nqwebasaurus (Choiniere et al. 2012). If confirmed, it would imply that the Charentais taxon is the oldest known ornithomimosaur, based on the Berriasian age of the L\u00e4gerstatte of Angeac-Charente (Benoit et al. 2017; Polette et al. 2018). Moreover, ornithomimosaurs would then have an exclusively Laurasian distribution. Nevertheless, based on first hand examination of fossil specimens by one of us (R. A.), the phylogenetic affinities of Limusaurus and Deltadromeus are far from certain. More detailed descriptions regarding their anatomy are required to draw conclusions regarding the origin and evolution of ornithomimosaurs."
                                                },
                                                {
                                                    "description": "Description The specimen is a 20 mm long, nearly tubular fragment of a phragmocone with a circular conch cross section, 20 mm in diameter. Eight chambers occur in the length of the fragment and the sutures are straight and directly transverse. The conch surface is poorly preserved but was apparently smooth. The chambers are internally imploded and crushed, preserving only a small part of the siphuncle. This is 7 mm in diameter and positioned between the conch center and conch margin at a distance of ca 4 mm from the conch margin. The septal necks are orthochoanitic and 0.7 mm long, where the septal distance is 3 mm. The connecting ring is relatively thin compared to the septa and septal necks and concave on the dorsal side (the side directed toward the conch center), but convex on the ventral side."
                                                },
                                                {
                                                    "description": "Figs 9 C, 31 A \u2013 B, 32 B"
                                                },
                                                {
                                                    "description": "Remarks The combination of a large, eccentric, but not marginal siphuncle with relatively narrowly spaced septa, partly concave connecting rings and short orthochoanitic septal necks are arguments to place this specimen in the Cyptendoceratidae. A combination of ventrally expanded and dorsally contracted siphuncular segments is not known from other cyptendoceratids. However, the limited information available from this species, based on a single relatively small fragment, does not allow for a better determination."
                                                },
                                                {
                                                    "description": "Material examined Specimen FMNH-P 30431, from Profilstranda section, adjacent to Hinlopenstretet, Spitsbergen, from bed PO 131, 128 m above base of Olenidsletta Member, V 2 b trilobite zone, Blackhillsian, Floian."
                                                },
                                                {
                                                    "description": "DESCRIPTION Numerous postcranial remains have been found in Gueran. These include five procoelous vertebrae and several fragments of osteoderms. FSAC Bouj- 410 is a posterior cervical vertebra (Fig. 7 A). It bears a long hypapophysis, and the location of the diapophysis and parapophysis suggests that it could be the ninth cervical vertebra. Bouj- 1 b is a more anterior cervical (Fig. 7 B), but it is not possible to determine its exact location in the vertebral column. FSAC Bouj- 400 is an isolated procoelous centrum lacking most of the neural arch (Fig. 7 C). The transverse process is high on the centrum, which indicates that it is a dorsal vertebra. A first caudal vertebra with a biconvex centrum is preserved (Fig. 7 D). The osteoderm fragments have their dorsal surfaces densely ornamented with deep pits (Fig. 7 F-H). Bouj- 96 is a fragment of large and thick osteoderm with a smooth anterior articular surface."
                                                },
                                                {
                                                    "description": "Eusuchia indet."
                                                },
                                                {
                                                    "description": "EXAMINED MATERIAL. \u2014 FSAC Bouj- 410, could be the (?) ninth cervical vertebra; FSAC Bouj- 1 b, anterior? cervical vertebra; 400, posterior dorsal vertebra; 1 a, first caudal vertebra; 124, caudal vertebra; 96, two fragments of large dorsal osteoderms; 94, fragment of osteoderm."
                                                }
                                            ],
                                            "vernacularNames": [
                                                {
                                                    "vernacularName": "Animal",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "Animals",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "Animals",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "Tiere",
                                                    "language": "deu"
                                                },
                                                {
                                                    "vernacularName": "animals",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "animaux",
                                                    "language": "fra"
                                                },
                                                {
                                                    "vernacularName": "dieren",
                                                    "language": "nld"
                                                },
                                                {
                                                    "vernacularName": "\u52d5\u7269\u754c",
                                                    "language": "jpn"
                                                },
                                                {
                                                    "vernacularName": "Animal",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "Animals",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "dieren",
                                                    "language": "nld"
                                                },
                                                {
                                                    "vernacularName": "Animal",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "Animals"
                                                },
                                                {
                                                    "vernacularName": "Animals",
                                                    "language": "eng"
                                                },
                                                {
                                                    "vernacularName": "djur",
                                                    "language": "swe"
                                                },
                                                {
[...]
