{
    "openapi": "3.1.0",
    "info": {
        "title": "CheapShark API",
        "description": "**API Description** - The CheapShark API is a service that provides access to data and information about video game prices and deals.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://apidocs.cheapshark.com",
        "contact": {
            "name": "CheapShark API Contact",
            "url": "",
            "email": "support@cheapshark.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.cheapshark.com",
            "description": "Production Server of the CheapShark API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://apidocs.cheapshark.com",
        "description": "Find more about the CheapShark API here:"
    },
    "paths": {
        "/api/1.0/deals": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "storeID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "sortBy",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "price": {
                                "value": "price"
                            }
                        }
                    },
                    {
                        "name": "desc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "pageNumber",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "title",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "game": {
                                "value": "game"
                            },
                            "Assassin's+Creed": {
                                "value": "Assassin's+Creed"
                            }
                        }
                    },
                    {
                        "name": "exact",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "0": {
                                "value": "0"
                            },
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "steamAppID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "cheaper",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "AAA",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            },
                            "0": {
                                "value": "0"
                            }
                        }
                    },
                    {
                        "name": "onSale",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "gameID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "cheaperThanPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "metacritic",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "80": {
                                "value": "80"
                            }
                        }
                    },
                    {
                        "name": "steamRating",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "steamRatingCount",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "dealID",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "54321": {
                                "value": "54321"
                            }
                        }
                    },
                    {
                        "name": "lowerPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "upperPrice",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api_1.0_deals"
                                },
                                "example": [
                                    {
                                        "internalName": "OVERCASTWALDENANDTHEWEREWOLF",
                                        "title": "Overcast - Walden and the Werewolf",
                                        "metacriticLink": "/game/overcast-walden-and-the-werewolf/",
                                        "dealID": "rX1GSxbLd7g0D00yNnlxjN0NDajA3Sv1nFaAqqDVQ9I%3D",
                                        "storeID": "1",
                                        "gameID": "102977",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "1203",
                                        "steamAppID": "293180",
                                        "releaseDate": 1382054400,
                                        "lastChange": 1699469660,
                                        "dealRating": "3.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/293180/capsule_sm_120.jpg?t=1637951975"
                                    },
                                    {
                                        "internalName": "DEADBITS",
                                        "title": "Dead Bits",
                                        "metacriticLink": "/game/dead-bits/",
                                        "dealID": "dOW%2Fz0Tw5oewgNsB%2FlZLpBmR%2Bo38yP8SIkegOn7sjxE%3D",
                                        "storeID": "1",
                                        "gameID": "102966",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "3478",
                                        "steamAppID": "303390",
                                        "releaseDate": 1382486400,
                                        "lastChange": 1698260988,
                                        "dealRating": "1.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/303390/capsule_sm_120.jpg?t=1652177901"
                                    },
                                    {
                                        "internalName": "PARTICULA",
                                        "title": "Particula",
                                        "metacriticLink": "/game/particula-2015/",
                                        "dealID": "X8Ry0321yg0TikTIPvrAjjknrXD1IOTjxvcWAh9NTsQ%3D",
                                        "storeID": "1",
                                        "gameID": "141355",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "70",
                                        "steamRatingCount": "602",
                                        "steamAppID": "343360",
                                        "releaseDate": 1422835200,
                                        "lastChange": 1698260436,
                                        "dealRating": "1.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/343360/capsule_sm_120.jpg?t=1652177957"
                                    },
                                    {
                                        "internalName": "UBERMOSH",
                                        "title": "UBERMOSH",
                                        "metacriticLink": "/game/ubermosh/",
                                        "dealID": "8QFqQYkOJmxLo9J4sQdwo8nIes0WSV%2FqiVbG3jBzPIM%3D",
                                        "storeID": "1",
                                        "gameID": "142868",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "88",
                                        "steamRatingCount": "2639",
                                        "steamAppID": "357070",
                                        "releaseDate": 1439424000,
                                        "lastChange": 1699477436,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/357070/capsule_sm_120.jpg?t=1699491220"
                                    },
                                    {
                                        "internalName": "99WAVESTODIE",
                                        "title": "99 Waves to Die",
                                        "metacriticLink": "/game/99-waves-to-die/",
                                        "dealID": "kBAYgli1GlGg%2Bzs6Tu%2FAZHTpxskZkEOwS4UKXrtKPRM%3D",
                                        "storeID": "1",
                                        "gameID": "107511",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "76",
                                        "steamRatingCount": "55",
                                        "steamAppID": "360600",
                                        "releaseDate": 1394668800,
                                        "lastChange": 1699564907,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/360600/capsule_sm_120.jpg?t=1686136262"
                                    },
                                    {
                                        "internalName": "PLAYINGHISTORYVIKINGS",
                                        "title": "Playing History: Vikings",
                                        "metacriticLink": "/game/playing-history-vikings/",
                                        "dealID": "0Ju1T5oYH0o0zwd%2BWXC9bCiLT%2B96QHC%2FuAswjg443ko%3D",
                                        "storeID": "1",
                                        "gameID": "133503",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "75",
                                        "steamRatingCount": "32",
                                        "steamAppID": "368760",
                                        "releaseDate": 1413590400,
                                        "lastChange": 1699561541,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/368760/capsule_sm_120.jpg?t=1686136228"
                                    },
                                    {
                                        "internalName": "SUPERDISTRO",
                                        "title": "SUPER DISTRO",
                                        "metacriticLink": "/game/super-distro/",
                                        "dealID": "XuZdmodGFHwWuKyDBpcug9OWpepSpIq9nzs9XJZL42o%3D",
                                        "storeID": "1",
                                        "gameID": "145026",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "36",
                                        "steamRatingCount": "265",
                                        "steamAppID": "364690",
                                        "releaseDate": 1437523200,
                                        "lastChange": 1699569510,
                                        "dealRating": "3.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/364690/capsule_sm_120.jpg?t=1686136383"
                                    },
                                    {
                                        "internalName": "ROBOTVSBIRDSZOMBIES",
                                        "title": "Robot vs Birds Zombies",
                                        "metacriticLink": "/game/robot-vs-birds-zombies/",
                                        "dealID": "ww3OeaS8%2BC5OGutXK3W8vgoX0M7YFJpwCuOWDV26ieU%3D",
                                        "storeID": "1",
                                        "gameID": "145046",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "31",
                                        "steamRatingCount": "95",
                                        "steamAppID": "389460",
                                        "releaseDate": 1437609600,
                                        "lastChange": 1699569513,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/389460/capsule_sm_120.jpg?t=1689780193"
                                    },
                                    {
                                        "internalName": "PRESIDENTFORADAYCORRUPTION",
                                        "title": "President for a Day: Corruption",
                                        "metacriticLink": "/game/president-for-a-day-corruption/",
                                        "dealID": "tFtKsCn9yqC0jZwTV2hmwGLUUekCCobRqEJRF54aktg%3D",
                                        "storeID": "1",
                                        "gameID": "126218",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "53",
                                        "steamRatingCount": "39",
                                        "steamAppID": "368780",
                                        "releaseDate": 1409961600,
                                        "lastChange": 1699565060,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/368780/capsule_sm_120.jpg?t=1686136206"
                                    },
                                    {
                                        "internalName": "PRESIDENTFORADAYFLOODINGS",
                                        "title": "President for a Day - Floodings",
                                        "metacriticLink": null,
                                        "dealID": "bIppqj4ibBE6Ng1Tthtbm2sMs%2FtVrJlFf68Z%2BtJwZbc%3D",
                                        "storeID": "1",
                                        "gameID": "145364",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "71",
                                        "steamRatingCount": "32",
                                        "steamAppID": "368770",
                                        "releaseDate": 0,
                                        "lastChange": 1699561828,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/368770/capsule_sm_120.jpg?t=1686136183"
                                    },
                                    {
                                        "internalName": "PLAYINGHISTORY2SLAVETRADE",
                                        "title": "Playing History 2 - Slave Trade",
                                        "metacriticLink": null,
                                        "dealID": "%2BK4r9%2FJybtlx1hKEDmaB4wyMnXPgyiPnXO4GBetmYp8%3D",
                                        "storeID": "1",
                                        "gameID": "145640",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "78",
                                        "steamAppID": "386870",
                                        "releaseDate": 0,
                                        "lastChange": 1699561666,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/386870/capsule_sm_120.jpg?t=1686169707"
                                    },
                                    {
                                        "internalName": "PROJECTTARVOTAN",
                                        "title": "Project Tarvotan",
                                        "metacriticLink": "/game/project-tarvotan/",
                                        "dealID": "NWy5H9Op4dmVWcLSt3b0iW4tyEWy7zLqELuOET5D3FE%3D",
                                        "storeID": "1",
                                        "gameID": "146204",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "52",
                                        "steamRatingCount": "44",
                                        "steamAppID": "388660",
                                        "releaseDate": 1443139200,
                                        "lastChange": 1699566055,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/388660/capsule_sm_120.jpg?t=1590647499"
                                    },
                                    {
                                        "internalName": "KRUMEDGEOFDARKNESS",
                                        "title": "KRUM - Edge Of Darkness",
                                        "metacriticLink": "/game/krum-edge-of-darkness/",
                                        "dealID": "ksDXt3yDQrTqn4F85yltlZEJPb4B1P4CyZxBQ7TbVN4%3D",
                                        "storeID": "1",
                                        "gameID": "147176",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "67",
                                        "steamRatingCount": "91",
                                        "steamAppID": "420210",
                                        "releaseDate": 1448323200,
                                        "lastChange": 1699469484,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/420210/capsule_sm_120.jpg?t=1662990429"
                                    },
                                    {
                                        "internalName": "BLOODANDBACON",
                                        "title": "Blood and Bacon",
                                        "metacriticLink": "/game/blood-and-bacon-2016/",
                                        "dealID": "m9aEmrKQYH4zNnLoerIvn6tpDiIUl1o196N3QUXG83I%3D",
                                        "storeID": "1",
                                        "gameID": "149296",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Overwhelmingly Positive",
                                        "steamRatingPercent": "95",
                                        "steamRatingCount": "24525",
                                        "steamAppID": "434570",
                                        "releaseDate": 1454284800,
                                        "lastChange": 1700592631,
                                        "dealRating": "2.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/434570/capsule_sm_120.jpg?t=1674314913"
                                    },
                                    {
                                        "internalName": "UBERMOSHBLACK",
                                        "title": "UBERMOSH:BLACK",
                                        "metacriticLink": "/game/ubermoshblack/",
                                        "dealID": "l46ASJOjAkSUJKRZKFeqsWPl5iVL3Hli7OuTY0elBeM%3D",
                                        "storeID": "1",
                                        "gameID": "150029",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "83",
                                        "steamRatingCount": "298",
                                        "steamAppID": "444940",
                                        "releaseDate": 1455667200,
                                        "lastChange": 1699480364,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/444940/capsule_sm_120.jpg?t=1699491285"
                                    },
                                    {
                                        "internalName": "REDRISK",
                                        "title": "Red Risk",
                                        "metacriticLink": "/game/red-risk/",
                                        "dealID": "wszMGNRpBH%2BFW3GUkCP4jWStrXC7br59UOHqlA2SYTI%3D",
                                        "storeID": "1",
                                        "gameID": "150756",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "56",
                                        "steamRatingCount": "290",
                                        "steamAppID": "448070",
                                        "releaseDate": 1457049600,
                                        "lastChange": 1698261046,
                                        "dealRating": "1.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/448070/capsule_sm_120.jpg?t=1637952072"
                                    },
                                    {
                                        "internalName": "CALLOFTHEMIGHTYWARRIORS",
                                        "title": "Call Of The Mighty Warriors",
                                        "metacriticLink": "/game/call-of-the-mighty-warriors/",
                                        "dealID": "JuZWMxMgN6r%2Bjm6fGVoGtVLtglUpua%2BcwadZDDALY%2FM%3D",
                                        "storeID": "1",
                                        "gameID": "153256",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "212",
                                        "steamAppID": "485440",
                                        "releaseDate": 1551484800,
                                        "lastChange": 1699984817,
                                        "dealRating": "1.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/485440/capsule_sm_120.jpg?t=1691452374"
                                    },
                                    {
                                        "internalName": "NINJASTEALTH",
                                        "title": "Ninja Stealth",
                                        "metacriticLink": "/game/ninja-stealth/",
                                        "dealID": "rf%2FCGL6nJnj6vn6DYMT5XVkR%2FJyUtE%2FIgTTsGKh9GDg%3D",
                                        "storeID": "1",
                                        "gameID": "153336",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "75",
                                        "steamRatingCount": "709",
                                        "steamAppID": "485450",
                                        "releaseDate": 1475107200,
                                        "lastChange": 1700507263,
                                        "dealRating": "2.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/485450/capsule_sm_120.jpg?t=1691452429"
                                    },
                                    {
                                        "internalName": "MINDSPHERES",
                                        "title": "Mind Spheres",
                                        "metacriticLink": "/game/mind-spheres/",
                                        "dealID": "31PRr5G%2Be%2FhvwZc23hAexpWRNJwqrbb9ag1Xe%2F%2FiUvg%3D",
                                        "storeID": "1",
                                        "gameID": "154769",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "84",
                                        "steamRatingCount": "259",
                                        "steamAppID": "498660",
                                        "releaseDate": 1467936000,
                                        "lastChange": 1699480112,
                                        "dealRating": "3.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/498660/capsule_sm_120.jpg?t=1637951892"
                                    },
                                    {
                                        "internalName": "SUPERSWITCH",
                                        "title": "Super Switch",
                                        "metacriticLink": "/game/super-switch/",
                                        "dealID": "%2Fc35V7i5wri0Q6DVGelbBolgLoueRc3LqAd9Ytkh2zU%3D",
                                        "storeID": "1",
                                        "gameID": "157801",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "79",
                                        "steamRatingCount": "91",
                                        "steamAppID": "521430",
                                        "releaseDate": 1472083200,
                                        "lastChange": 1699468868,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/521430/capsule_sm_120.jpg?t=1613074226"
                                    },
                                    {
                                        "internalName": "BOXMAZE",
                                        "title": "Box Maze",
                                        "metacriticLink": "/game/box-maze/",
                                        "dealID": "VSbKP%2B6UOqiokBr9BoAh59t0PEEo6FNIkqDukQa0X20%3D",
                                        "storeID": "1",
                                        "gameID": "158452",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "73",
                                        "steamRatingCount": "176",
                                        "steamAppID": "512020",
                                        "releaseDate": 1488499200,
                                        "lastChange": 1699469021,
                                        "dealRating": "3.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/512020/capsule_sm_120.jpg?t=1662991068"
                                    },
                                    {
                                        "internalName": "RAZORTRON2000",
                                        "title": "Razortron 2000",
                                        "metacriticLink": "/game/razortron-2000/",
                                        "dealID": "FwaaZuT%2BOoAmujAQ0HThbonYC3oiS3Oty9smx8EzZLg%3D",
                                        "storeID": "1",
                                        "gameID": "160180",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "86",
                                        "steamRatingCount": "1582",
                                        "steamAppID": "539720",
                                        "releaseDate": 1476403200,
                                        "lastChange": 1699381035,
                                        "dealRating": "0.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/539720/capsule_sm_120.jpg?t=1653335661"
                                    },
                                    {
                                        "internalName": "CLICKDRAWCLICKER",
                                        "title": "Clickdraw Clicker",
                                        "metacriticLink": "/game/clickdraw-clicker/",
                                        "dealID": "vS%2FCKHG8f3U9RdYVCmAvSw2g7vbdJjyTGtJEHqELFjo%3D",
                                        "storeID": "1",
                                        "gameID": "160325",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "51",
                                        "steamRatingCount": "56",
                                        "steamAppID": "541370",
                                        "releaseDate": 1476403200,
                                        "lastChange": 1699385354,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/541370/capsule_sm_120.jpg?t=1590678611"
                                    },
                                    {
                                        "internalName": "TRIPTOVINELANDS",
                                        "title": "Trip to Vinelands",
                                        "metacriticLink": "/game/trip-to-vinelands/",
                                        "dealID": "%2Fe5A0Z8N3BVL87KFv0SQF5IvjFhSxwTfnMKXkSl5nfA%3D",
                                        "storeID": "1",
                                        "gameID": "160737",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "257",
                                        "steamAppID": "546090",
                                        "releaseDate": 1477008000,
                                        "lastChange": 1699480242,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/546090/capsule_sm_120.jpg?t=1683418701"
                                    },
                                    {
                                        "internalName": "BUILDMORECUBES",
                                        "title": "BuildMoreCubes",
                                        "metacriticLink": "/game/buildmorecubes/",
                                        "dealID": "Jth16rPQvvpROYH2c1PUd905M88W2dpimWqYbiyQGS0%3D",
                                        "storeID": "1",
                                        "gameID": "162879",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "69",
                                        "steamRatingCount": "75",
                                        "steamAppID": "557190",
                                        "releaseDate": 1479686400,
                                        "lastChange": 1699469637,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/557190/capsule_sm_120.jpg?t=1662990404"
                                    },
                                    {
                                        "internalName": "ARSONVILLE",
                                        "title": "ArsonVille",
                                        "metacriticLink": "/game/arsonville/",
                                        "dealID": "V%2BORhC537EEdrxNL6Tx5I5WjdxSzfTGPrptFaUFVEfM%3D",
                                        "storeID": "1",
                                        "gameID": "163106",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "83",
                                        "steamRatingCount": "77",
                                        "steamAppID": "553610",
                                        "releaseDate": 1479945600,
                                        "lastChange": 1699480063,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/553610/capsule_sm_120.jpg?t=1686693993"
                                    },
                                    {
                                        "internalName": "CAMPFIREONEOFUSISTHEKILLER",
                                        "title": "Campfire: One of Us Is the Killer",
                                        "metacriticLink": "/game/campfire-one-of-us-is-the-killer/",
                                        "dealID": "ycRR1lP%2BchGHMJOSk11%2B3piwA925oq9L8rfziIRSdsE%3D",
                                        "storeID": "1",
                                        "gameID": "163792",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "55",
                                        "steamRatingCount": "74",
                                        "steamAppID": "533180",
                                        "releaseDate": 1481068800,
                                        "lastChange": 1699821515,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/533180/capsule_sm_120.jpg?t=1640531601"
                                    },
                                    {
                                        "internalName": "CONFLICTCRAFT",
                                        "title": "ConflictCraft",
                                        "metacriticLink": "/game/conflictcraft/",
                                        "dealID": "Y%2B71JCz1qboI6phn0DUWdbvUKnsIQpG8NGpGYrWuuGo%3D",
                                        "storeID": "1",
                                        "gameID": "163871",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "84",
                                        "steamRatingCount": "612",
                                        "steamAppID": "495570",
                                        "releaseDate": 1481155200,
                                        "lastChange": 1700082000,
                                        "dealRating": "1.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/495570/capsule_sm_120.jpg?t=1697445702"
                                    },
                                    {
                                        "internalName": "BROTHERWINGS",
                                        "title": "Brother Wings",
                                        "metacriticLink": "/game/brother-wings/",
                                        "dealID": "KHPtPscMDiMhBE3Mgbov0NEjihSJK%2BX%2Brwdk5U3urXU%3D",
                                        "storeID": "1",
                                        "gameID": "164843",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "75",
                                        "steamRatingCount": "91",
                                        "steamAppID": "576540",
                                        "releaseDate": 1484006400,
                                        "lastChange": 1699819990,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/576540/capsule_sm_120.jpg?t=1666768754"
                                    },
                                    {
                                        "internalName": "UBERMOSHWRAITH",
                                        "title": "UBERMOSH:WRAITH",
                                        "metacriticLink": "/game/ubermoshwraith/",
                                        "dealID": "dJhZveBp%2BWvnNA3ZPSsoIZaw1cOIwSZLdurrQ7%2BBgnA%3D",
                                        "storeID": "1",
                                        "gameID": "165486",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "91",
                                        "steamRatingCount": "218",
                                        "steamAppID": "586350",
                                        "releaseDate": 1485648000,
                                        "lastChange": 1699480456,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/586350/capsule_sm_120.jpg?t=1699491375"
                                    },
                                    {
                                        "internalName": "FINNISHROLLER",
                                        "title": "Finnish Roller",
                                        "metacriticLink": "/game/finnish-roller/",
                                        "dealID": "ztqNS31ucZPHdl6NlsP%2B2qENW6w6WcX7HTACdfExZ%2Fg%3D",
                                        "storeID": "1",
                                        "gameID": "158488",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "69",
                                        "steamRatingCount": "59",
                                        "steamAppID": "585560",
                                        "releaseDate": 1485820800,
                                        "lastChange": 1699647301,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/585560/capsule_sm_120.jpg?t=1667023095"
                                    },
                                    {
                                        "internalName": "TAIKUMANSION",
                                        "title": "TAIKU MANSION",
                                        "metacriticLink": "/game/taiku-mansion/",
                                        "dealID": "ErOLrc8hnD2%2Fko8%2FmmvI88t7Wu8AsE%2FT9TXJazWjJJE%3D",
                                        "storeID": "1",
                                        "gameID": "166031",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "42",
                                        "steamRatingCount": "42",
                                        "steamAppID": "529760",
                                        "releaseDate": 1486944000,
                                        "lastChange": 1699565846,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/529760/capsule_sm_120.jpg?t=1686136379"
                                    },
                                    {
                                        "internalName": "THEALBATROSS",
                                        "title": "The Albatross",
                                        "metacriticLink": "/game/the-albatross/",
                                        "dealID": "s2V14yK%2BtoZHUA6swnNKMVvIUA5usSeAp1ug%2BNk2aGU%3D",
                                        "storeID": "1",
                                        "gameID": "166115",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "62",
                                        "steamRatingCount": "112",
                                        "steamAppID": "581600",
                                        "releaseDate": 1487116800,
                                        "lastChange": 1699566315,
                                        "dealRating": "0.4",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/581600/capsule_sm_120.jpg?t=1590647465"
                                    },
                                    {
                                        "internalName": "CPUINVADERS",
                                        "title": "CPU Invaders",
                                        "metacriticLink": "/game/cpu-invaders/",
                                        "dealID": "EN6Cz9ieC18Ritx4WEP8C3JV9Cv2WIrm5%2F7E8taw424%3D",
                                        "storeID": "1",
                                        "gameID": "166193",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "87",
                                        "steamRatingCount": "479",
                                        "steamAppID": "595440",
                                        "releaseDate": 1487289600,
                                        "lastChange": 1699480754,
                                        "dealRating": "3.2",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/595440/capsule_sm_120.jpg?t=1648312067"
                                    },
                                    {
                                        "internalName": "HOTELANATOLIA",
                                        "title": "Hotel Anatolia",
                                        "metacriticLink": "/game/hotel-anatolia/",
                                        "dealID": "ilvwGHEr33VAnSZoWfn%2BqWYKnNJNcKik0dT84Qq8yo0%3D",
                                        "storeID": "1",
                                        "gameID": "167530",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "69",
                                        "steamRatingCount": "331",
                                        "steamAppID": "601010",
                                        "releaseDate": 1489968000,
                                        "lastChange": 1700076142,
                                        "dealRating": "1.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/601010/capsule_sm_120.jpg?t=1559296702"
                                    },
                                    {
                                        "internalName": "VITATIO2",
                                        "title": "VITATIO 2",
                                        "metacriticLink": "/game/vitatio-2/",
                                        "dealID": "vUpkH2tD3mDjtbZAUoCb5ozUjGR%2Bl0xxiAlZLgSIcYk%3D",
                                        "storeID": "1",
                                        "gameID": "168099",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "81",
                                        "steamRatingCount": "65",
                                        "steamAppID": "586380",
                                        "releaseDate": 1491868800,
                                        "lastChange": 1699381409,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/586380/capsule_sm_120.jpg?t=1589319777"
                                    },
                                    {
                                        "internalName": "OLAVTHESTORYOFONEBOY",
                                        "title": "Olav: the story of one boy",
                                        "metacriticLink": "/game/olav-the-story-of-one-boy/",
                                        "dealID": "byZQAmvlQgCcXS5fhPvYIQMuPGgC4mAaDhBRNcQejm0%3D",
                                        "storeID": "1",
                                        "gameID": "168550",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "46",
                                        "steamRatingCount": "13",
                                        "steamAppID": "564990",
                                        "releaseDate": 1493510400,
                                        "lastChange": 1700076184,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/564990/capsule_sm_120.jpg?t=1700055746"
                                    },
                                    {
                                        "internalName": "ROYALOFFENSE",
                                        "title": "Royal Offense",
                                        "metacriticLink": "/game/royal-offense/",
                                        "dealID": "zrXl6DyKeewW09%2FbxoYDI58N9twNkI%2FLSwjM8s%2FUcl0%3D",
                                        "storeID": "1",
                                        "gameID": "168811",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "81",
                                        "steamRatingCount": "107",
                                        "steamAppID": "615090",
                                        "releaseDate": 1494374400,
                                        "lastChange": 1700082139,
                                        "dealRating": "1.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/615090/capsule_sm_120.jpg?t=1696662243"
                                    },
                                    {
                                        "internalName": "UBERMOSHVOL5",
                                        "title": "UBERMOSH Vol.5",
                                        "metacriticLink": "/game/ubermosh-vol5/",
                                        "dealID": "wu3%2BMqe6ITQiUWQKZ8bNhTWU2UTv4AdhBSG8dLAmzPI%3D",
                                        "storeID": "1",
                                        "gameID": "169223",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "312",
                                        "steamAppID": "640380",
                                        "releaseDate": 1495670400,
                                        "lastChange": 1699480553,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/640380/capsule_sm_120.jpg?t=1699491422"
                                    },
                                    {
                                        "internalName": "MASTEROFABC",
                                        "title": "Master of ABC",
                                        "metacriticLink": "/game/master-of-abc/",
                                        "dealID": "BGZN3LJufpmgiLzIaYJf57a7wGChmr5zrm2lxv%2BSjkk%3D",
                                        "storeID": "1",
                                        "gameID": "171596",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "40",
                                        "steamRatingCount": "15",
                                        "steamAppID": "673820",
                                        "releaseDate": 1501632000,
                                        "lastChange": 1700074048,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/673820/capsule_sm_120.jpg?t=1501722652"
                                    },
                                    {
                                        "internalName": "DUNGEONSANDGEESE",
                                        "title": "Dungeons and Geese",
                                        "metacriticLink": "/game/dungeons-and-geese/",
                                        "dealID": "B2qQ0BaNugBtUJnEc8ordq0CdAOc00ti5BAO4MXwEMU%3D",
                                        "storeID": "1",
                                        "gameID": "171675",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "68",
                                        "steamRatingCount": "32",
                                        "steamAppID": "660290",
                                        "releaseDate": 1501804800,
                                        "lastChange": 1699385196,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/660290/capsule_sm_120.jpg?t=1627321200"
                                    },
                                    {
                                        "internalName": "TRIPLEOTAKUSPUZZLE",
                                        "title": "Triple Otakus Puzzle",
                                        "metacriticLink": "/game/triple-otakus-puzzle/",
                                        "dealID": "WEvSSbdXzzswqlGd5aeJOxTp%2FJOacUGKwdKQOy214XY%3D",
                                        "storeID": "1",
                                        "gameID": "172716",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "31",
                                        "steamRatingCount": "29",
                                        "steamAppID": "699760",
                                        "releaseDate": 1504483200,
                                        "lastChange": 1699650977,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/699760/capsule_sm_120.jpg?t=1667226155"
                                    },
                                    {
                                        "internalName": "TTV2",
                                        "title": "TTV2",
                                        "metacriticLink": "/game/ttv2/",
                                        "dealID": "N%2BlWhD7Tz6QOc3JZsp2YGLH5DCKupbTJ88b9bIBhasQ%3D",
                                        "storeID": "1",
                                        "gameID": "172966",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "89",
                                        "steamRatingCount": "190",
                                        "steamAppID": "701470",
                                        "releaseDate": 1505088000,
                                        "lastChange": 1699480180,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/701470/capsule_sm_120.jpg?t=1683418665"
                                    },
                                    {
                                        "internalName": "SWARMRIDEROMEGA",
                                        "title": "SWARMRIDER OMEGA",
                                        "metacriticLink": "/game/swarmrider-omega/",
                                        "dealID": "oMruKrecOQimFpdIRTwID36ErCMV%2BNHXeXBPQJxPMKY%3D",
                                        "storeID": "1",
                                        "gameID": "173330",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "85",
                                        "steamRatingCount": "76",
                                        "steamAppID": "714240",
                                        "releaseDate": 1505779200,
                                        "lastChange": 1699480229,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/714240/capsule_sm_120.jpg?t=1699491667"
                                    },
                                    {
                                        "internalName": "PREMIERBUGGYRACINGTOUR",
                                        "title": "Premier Buggy Racing Tour",
                                        "metacriticLink": "/game/premier-buggy-racing-tour/",
                                        "dealID": "2om4VWKDgDCS9CTVpVQx2MiAKf5t6GiMFltnD92%2BO5M%3D",
                                        "storeID": "1",
                                        "gameID": "173987",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "28",
                                        "steamRatingCount": "21",
                                        "steamAppID": "716600",
                                        "releaseDate": 1507593600,
                                        "lastChange": 1699569691,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/716600/capsule_sm_120.jpg?t=1590647788"
                                    },
                                    {
                                        "internalName": "NASHRACING2MUSCLECARS",
                                        "title": "Nash Racing 2: Muscle cars",
                                        "metacriticLink": "/game/nash-racing-2-muscle-cars/",
                                        "dealID": "IouyADdkqictIpH7f24VG9BpN%2BOHRnk698xL%2BIgKm00%3D",
                                        "storeID": "1",
                                        "gameID": "174214",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "44",
                                        "steamRatingCount": "34",
                                        "steamAppID": "713580",
                                        "releaseDate": 1508112000,
                                        "lastChange": 1699648333,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/713580/capsule_sm_120.jpg?t=1667054815"
                                    },
                                    {
                                        "internalName": "STARBOSS",
                                        "title": "Star Boss",
                                        "metacriticLink": "/game/star-boss/",
                                        "dealID": "Wfwiwdaq5P2cHK%2F656Ia7LP08JcpwI6HbYhjTq8zjIk%3D",
                                        "storeID": "1",
                                        "gameID": "175457",
                                        "salePrice": "0.49",
                                        "normalPrice": "4.99",
                                        "isOnSale": "1",
                                        "savings": "90.180361",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "61",
                                        "steamRatingCount": "18",
                                        "steamAppID": "519890",
                                        "releaseDate": 1658966400,
                                        "lastChange": 1699470168,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/519890/capsule_sm_120.jpg?t=1580374884"
                                    },
                                    {
                                        "internalName": "MUSTACHEPOLITICSSHOOTER",
                                        "title": "Mustache Politics Shooter",
                                        "metacriticLink": "/game/mustache-politics-shooter/",
                                        "dealID": "YqGrmVLTc8E8N3iFQH0XCubBUwWcX4wZkHcdo35f7Sc%3D",
                                        "storeID": "1",
                                        "gameID": "175697",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "79",
                                        "steamRatingCount": "39",
                                        "steamAppID": "733090",
                                        "releaseDate": 1511827200,
                                        "lastChange": 1699647449,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/733090/capsule_sm_120.jpg?t=1667054359"
                                    },
                                    {
                                        "internalName": "LAWNMOWERGAME2DRIFTER",
                                        "title": "Lawnmower Game 2: Drifter",
                                        "metacriticLink": "/game/lawnmower-game-2-drifter/",
                                        "dealID": "DU275SDSlBWlvq12oqls4yb%2FyIhZ%2BoZ%2Bq1ofF15dR90%3D",
                                        "storeID": "1",
                                        "gameID": "175972",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "72",
                                        "steamRatingCount": "22",
                                        "steamAppID": "749550",
                                        "releaseDate": 1512518400,
                                        "lastChange": 1699647612,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/749550/capsule_sm_120.jpg?t=1667051366"
                                    },
                                    {
                                        "internalName": "ZOMBYSOLDIER",
                                        "title": "Zomby Soldier",
                                        "metacriticLink": "/game/zomby-soldier/",
                                        "dealID": "p3qRV43x98JRFzHwzO0MkkXNfNzWP0pp%2FbDfs92JpXU%3D",
                                        "storeID": "1",
                                        "gameID": "177354",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "57",
                                        "steamRatingCount": "14",
                                        "steamAppID": "769340",
                                        "releaseDate": 1516579200,
                                        "lastChange": 1699648414,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/769340/capsule_sm_120.jpg?t=1667226713"
                                    },
                                    {
                                        "internalName": "PLEASECLOSETHEDOORS",
                                        "title": "Please close the doors",
                                        "metacriticLink": "/game/please-close-the-doors/",
                                        "dealID": "uoS1jTdIWoHGQepC6mKIctwdvJGn%2BHY3yXRm77YVSTg%3D",
                                        "storeID": "1",
                                        "gameID": "177576",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "65",
                                        "steamRatingCount": "32",
                                        "steamAppID": "778850",
                                        "releaseDate": 1517184000,
                                        "lastChange": 1699468907,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/778850/capsule_sm_120.jpg?t=1681324913"
                                    },
                                    {
                                        "internalName": "SALVATOR",
                                        "title": "SALVATOR",
                                        "metacriticLink": null,
                                        "dealID": "hziE1%2F%2Fwon4dOlB%2Bw5z%2B2fH6zJeES0fDUPNSgLtxQP4%3D",
                                        "storeID": "1",
                                        "gameID": "178424",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Positive",
                                        "steamRatingPercent": "81",
                                        "steamRatingCount": "11",
                                        "steamAppID": "795920",
                                        "releaseDate": 0,
                                        "lastChange": 1700405740,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/795920/capsule_sm_120.jpg?t=1684892331"
                                    },
                                    {
                                        "internalName": "BLACKJACKINSPACE",
                                        "title": "Blackjack In Space",
                                        "metacriticLink": "/game/blackjack-in-space/",
                                        "dealID": "otXmzx4vNKCdpgQ%2FpAxqmJ%2FDV2JdYmdWgq9APoY76Fc%3D",
                                        "storeID": "1",
                                        "gameID": "178583",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "64",
                                        "steamRatingCount": "31",
                                        "steamAppID": "805090",
                                        "releaseDate": 1519689600,
                                        "lastChange": 1699566323,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/805090/capsule_sm_120.jpg?t=1590647632"
                                    },
                                    {
                                        "internalName": "ROADSCARSORIGINS",
                                        "title": "Road Scars: Origins",
                                        "metacriticLink": "/game/road-scars-origins/",
                                        "dealID": "COkcwK7Mt3wdiZ9GlzaH5F7CGIRP1z75h2hMY5YW8Lw%3D",
                                        "storeID": "1",
                                        "gameID": "185510",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "76",
                                        "steamRatingCount": "239",
                                        "steamAppID": "346500",
                                        "releaseDate": 1522713600,
                                        "lastChange": 1699381788,
                                        "dealRating": "0.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/346500/capsule_sm_120.jpg?t=1667229478"
                                    },
                                    {
                                        "internalName": "HORRORFISHSIMULATOR",
                                        "title": "Horror Fish Simulator",
                                        "metacriticLink": "/game/horror-fish-simulator/",
                                        "dealID": "Ni0II9aEihZ8zJ0I58bTrJ1NEJRInSWEDSFyraKjqj4%3D",
                                        "storeID": "1",
                                        "gameID": "186044",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "65",
                                        "steamRatingCount": "29",
                                        "steamAppID": "835510",
                                        "releaseDate": 1523750400,
                                        "lastChange": 1699648100,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/835510/capsule_sm_120.jpg?t=1667050578"
                                    },
                                    {
                                        "internalName": "SLAYEROFTRAITORS",
                                        "title": "Slayer Of Traitors",
                                        "metacriticLink": "/game/slayer-of-traitors/",
                                        "dealID": "ytRAde%2F%2B3Nnhf%2Fo9DqMUo0bnoZbqKcgb8DyFVBA2fAg%3D",
                                        "storeID": "1",
                                        "gameID": "187002",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Negative",
                                        "steamRatingPercent": "23",
                                        "steamRatingCount": "13",
                                        "steamAppID": "816670",
                                        "releaseDate": 1526169600,
                                        "lastChange": 1699651058,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/816670/capsule_sm_120.jpg?t=1551113893"
                                    },
                                    {
                                        "internalName": "18",
                                        "title": "18",
                                        "metacriticLink": "/game/18-plus/",
                                        "dealID": "1u85a%2Fz4mbdgaazbJ2uuImF%2B849kEx1sW0prRqjdhgk%3D",
                                        "storeID": "1",
                                        "gameID": "189189",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "72",
                                        "steamRatingCount": "395",
                                        "steamAppID": "877360",
                                        "releaseDate": 1530576000,
                                        "lastChange": 1699468601,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/877360/capsule_sm_120.jpg?t=1679516399"
                                    },
                                    {
                                        "internalName": "RUSSIABATTLEGROUNDS",
                                        "title": "RUSSIA BATTLEGROUNDS",
                                        "metacriticLink": "/game/russia-battlegrounds/",
                                        "dealID": "jrjnx3UJopKOgNNp2%2BJTfzLuxggh%2FrU86URwrRSkCaA%3D",
                                        "storeID": "1",
                                        "gameID": "189571",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mostly Positive",
                                        "steamRatingPercent": "78",
                                        "steamRatingCount": "3537",
                                        "steamAppID": "805940",
                                        "releaseDate": 1531440000,
                                        "lastChange": 1699380975,
                                        "dealRating": "0.1",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/805940/capsule_sm_120.jpg?t=1699066865"
                                    },
                                    {
                                        "internalName": "HORNYFIGHTER",
                                        "title": "Horny Fighter",
                                        "metacriticLink": "/game/horny-fighter/",
                                        "dealID": "DqCWjXHNctkJxDbxsuZ6M4u2dSpl%2Bf3KelBRDFjwi5A%3D",
                                        "storeID": "1",
                                        "gameID": "189962",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Mixed",
                                        "steamRatingPercent": "60",
                                        "steamRatingCount": "23",
                                        "steamAppID": "868890",
                                        "releaseDate": 1532390400,
                                        "lastChange": 1699648202,
                                        "dealRating": "0.0",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/868890/capsule_sm_120.jpg?t=1667036123"
                                    },
                                    {
                                        "internalName": "UBERMOSHSANTICIDE",
                                        "title": "UBERMOSH:SANTICIDE",
                                        "metacriticLink": "/game/ubermosh-santicide/",
                                        "dealID": "UC2PklIH6e0BP82GM0YLBGI%2BGiywpeOgb5AVhrtiOuo%3D",
                                        "storeID": "1",
                                        "gameID": "190087",
                                        "salePrice": "0.49",
                                        "normalPrice": "0.99",
                                        "isOnSale": "1",
                                        "savings": "50.505051",
                                        "metacriticScore": "0",
                                        "steamRatingText": "Very Positive",
                                        "steamRatingPercent": "94",
                                        "steamRatingCount": "189",
                                        "steamAppID": "898450",
                                        "releaseDate": 1532649600,
                                        "lastChange": 1699480388,
                                        "dealRating": "0.3",
                                        "thumb": "https://cdn.cloudflare.steamstatic.com/steam/apps/898450/capsule_sm_120.jpg?t=1699491466"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
[...]
