{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator API",
        "description": "**API Description** - The Random User Generator API is a service that generates random user data for testing and development purposes.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "https://randomuser.me/documentation",
        "contact": {
            "name": "Random User Generator API Contact",
            "url": "https://randomuser.me/documentation#contact",
            "email": "support@randomuser.me"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Production Server of the Random User Generator API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://randomuser.me/documentation",
        "description": "Find more about the Random User Generator API here:"
    },
    "paths": {
        "/api": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "results",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            },
                            "10": {
                                "value": "10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "nat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "us": {
                                "value": "us"
                            },
                            "gb": {
                                "value": "gb"
                            },
                            "fr": {
                                "value": "fr"
                            },
                            "ca": {
                                "value": "ca"
                            },
                            "fr,gb": {
                                "value": "fr,gb"
                            },
                            "AU": {
                                "value": "AU"
                            }
                        }
                    },
                    {
                        "name": "inc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "gender,name,email": {
                                "value": "gender,name,email"
                            },
                            "gender": {
                                "value": "gender"
                            },
                            "name": {
                                "value": "name"
                            },
                            "name,email": {
                                "value": "name,email"
                            },
                            "location": {
                                "value": "location"
                            },
                            "name,location,email": {
                                "value": "name,location,email"
                            }
                        }
                    },
                    {
                        "name": "exc",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "login": {
                                "value": "login"
                            },
                            "gender,name": {
                                "value": "gender,name"
                            },
                            "picture": {
                                "value": "picture"
                            },
                            "id": {
                                "value": "id"
                            }
                        }
                    },
                    {
                        "name": "seed",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            },
                            "abc123": {
                                "value": "abc123"
                            },
                            "xyz789": {
                                "value": "xyz789"
                            },
                            "randomseed": {
                                "value": "randomseed"
                            },
                            "abcd": {
                                "value": "abcd"
                            },
                            "abcdefg": {
                                "value": "abcdefg"
                            },
                            "123": {
                                "value": "123"
                            }
                        }
                    },
                    {
                        "name": "gender",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "male": {
                                "value": "male"
                            },
                            "female": {
                                "value": "female"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            },
                            "3": {
                                "value": "3"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "json": {
                                "value": "json"
                            },
                            "xml": {
                                "value": "xml"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "es": {
                                "value": "es"
                            }
                        }
                    },
                    {
                        "name": "dob",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1985-01-01": {
                                "value": "1985-01-01"
                            },
                            "1980-01-01": {
                                "value": "1980-01-01"
                            }
                        }
                    },
                    {
                        "name": "password",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "upper": {
                                "value": "upper"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "london": {
                                "value": "london"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_api"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Claude",
                                                "last": "Ruiz"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 2901,
                                                    "name": "College St"
                                                },
                                                "city": "Vallejo",
                                                "state": "Kentucky",
                                                "country": "United States",
                                                "postcode": 32686,
                                                "coordinates": {
                                                    "latitude": "59.9054",
                                                    "longitude": "-54.2822"
                                                },
                                                "timezone": {
                                                    "offset": "+9:30",
                                                    "description": "Adelaide, Darwin"
                                                }
                                            },
                                            "email": "claude.ruiz@example.com",
                                            "login": {
                                                "uuid": "2ce41e54-623b-4114-990a-bbd43c6f6cf7",
                                                "username": "angryostrich741",
                                                "password": "mental",
                                                "salt": "xioSefpZ",
                                                "md5": "24c4f3c322deb8a1c4c402579c8605c5",
                                                "sha1": "08efbad93d067726568c95eb6318ea21811f9b2d",
                                                "sha256": "d50f06dcc3b21e1e69e1d95c9e88a8434030f54473c1fe2a650f1c5085807786"
                                            },
                                            "dob": {
                                                "date": "1986-06-11T09:08:07.007Z",
                                                "age": 37
                                            },
                                            "registered": {
                                                "date": "2019-10-15T14:09:42.955Z",
                                                "age": 4
                                            },
                                            "phone": "(373) 937-9470",
                                            "cell": "(749) 936-9093",
                                            "id": {
                                                "name": "SSN",
                                                "value": "322-47-2816"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/25.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/25.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/25.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "female",
                                            "name": {
                                                "title": "Miss",
                                                "first": "Carrie",
                                                "last": "Patterson"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 931,
                                                    "name": "Lone Wolf Trail"
                                                },
                                                "city": "Vancouver",
                                                "state": "Washington",
                                                "country": "United States",
                                                "postcode": 58359,
                                                "coordinates": {
                                                    "latitude": "44.9960",
                                                    "longitude": "-160.1331"
                                                },
                                                "timezone": {
                                                    "offset": "+8:00",
                                                    "description": "Beijing, Perth, Singapore, Hong Kong"
                                                }
                                            },
                                            "email": "carrie.patterson@example.com",
                                            "login": {
                                                "uuid": "b7ef59f0-f564-446b-8e29-882a0d17ee88",
                                                "username": "beautifulleopard477",
                                                "password": "figure",
                                                "salt": "HU8w86ll",
                                                "md5": "518eb2c4d0b003008be7efede20f3f74",
                                                "sha1": "71668d1503d98bf7ced0157eee01693b0f16fa8f",
                                                "sha256": "3bab78ec1ce272cbc1336d4992b0318177329deaab2173ead15e439b8e211f3d"
                                            },
                                            "dob": {
                                                "date": "1972-06-04T02:03:45.965Z",
                                                "age": 51
                                            },
                                            "registered": {
                                                "date": "2013-07-27T07:25:45.541Z",
                                                "age": 10
                                            },
                                            "phone": "(762) 332-1321",
                                            "cell": "(599) 295-1822",
                                            "id": {
                                                "name": "SSN",
                                                "value": "819-53-1749"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/women/42.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/women/42.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/women/42.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Craig",
                                                "last": "Lynch"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 4786,
                                                    "name": "W Campbell Ave"
                                                },
                                                "city": "Hollywood",
                                                "state": "Ohio",
                                                "country": "United States",
                                                "postcode": 53237,
                                                "coordinates": {
                                                    "latitude": "45.8466",
                                                    "longitude": "163.7138"
                                                },
                                                "timezone": {
                                                    "offset": "-8:00",
                                                    "description": "Pacific Time (US & Canada)"
                                                }
                                            },
                                            "email": "craig.lynch@example.com",
                                            "login": {
                                                "uuid": "5fe22508-6797-4aa4-a631-6327ff0f81c3",
                                                "username": "organiccat464",
                                                "password": "pepsi",
                                                "salt": "3DLNdu9N",
                                                "md5": "f3ce09465e11f7b5829ab6d45def7d24",
                                                "sha1": "688e879b0767217aec3e17574bb691d469a8fbe7",
                                                "sha256": "268f4ff3bf60f648579688bac34a02fdc6f06d30938456a3eafd5cf6def21a9c"
                                            },
                                            "dob": {
                                                "date": "1990-11-14T04:34:41.795Z",
                                                "age": 33
                                            },
                                            "registered": {
                                                "date": "2003-05-30T02:19:20.834Z",
                                                "age": 20
                                            },
                                            "phone": "(827) 246-6737",
                                            "cell": "(994) 560-0474",
                                            "id": {
                                                "name": "SSN",
                                                "value": "359-34-6122"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/52.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/52.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/52.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Joseph",
                                                "last": "Lawrence"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 4655,
                                                    "name": "Pecan Acres Ln"
                                                },
                                                "city": "Grand Rapids",
                                                "state": "Hawaii",
                                                "country": "United States",
                                                "postcode": 17535,
                                                "coordinates": {
                                                    "latitude": "-51.8023",
                                                    "longitude": "118.7146"
                                                },
                                                "timezone": {
                                                    "offset": "-8:00",
                                                    "description": "Pacific Time (US & Canada)"
                                                }
                                            },
                                            "email": "joseph.lawrence@example.com",
                                            "login": {
                                                "uuid": "1f861c7f-3238-427e-ab7e-79a05faa926d",
                                                "username": "yellowsnake494",
                                                "password": "sidekick",
                                                "salt": "XTrXzqSC",
                                                "md5": "49fd170db57e8db5841de58d5f0dbb5e",
                                                "sha1": "6ed3954347439c4ae88210ea260cc9c28185fd64",
                                                "sha256": "15e6929f8ccf6d58dd337b3ff5b2dd975c683e476b0847ebe4ddfe11db8e0f7d"
                                            },
                                            "dob": {
                                                "date": "2001-01-23T08:19:57.722Z",
                                                "age": 22
                                            },
                                            "registered": {
                                                "date": "2014-01-16T04:51:46.554Z",
                                                "age": 9
                                            },
                                            "phone": "(845) 778-1898",
                                            "cell": "(671) 210-2255",
                                            "id": {
                                                "name": "SSN",
                                                "value": "524-84-6564"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/68.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/68.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/68.jpg"
                                            },
                                            "nat": "US"
                                        },
                                        {
                                            "gender": "male",
                                            "name": {
                                                "title": "Mr",
                                                "first": "Jared",
                                                "last": "Campbell"
                                            },
                                            "location": {
                                                "street": {
                                                    "number": 281,
                                                    "name": "Pecan Acres Ln"
                                                },
                                                "city": "Clearwater",
                                                "state": "North Carolina",
                                                "country": "United States",
                                                "postcode": 13272,
                                                "coordinates": {
                                                    "latitude": "-79.3772",
                                                    "longitude": "10.7942"
                                                },
                                                "timezone": {
                                                    "offset": "+11:00",
                                                    "description": "Magadan, Solomon Islands, New Caledonia"
                                                }
                                            },
                                            "email": "jared.campbell@example.com",
                                            "login": {
                                                "uuid": "c4c16aab-6cfe-4769-906b-758f46a24445",
                                                "username": "purplepeacock192",
                                                "password": "badman",
                                                "salt": "UgOw3Jv6",
                                                "md5": "de705cdb444922bbe25d60a22b53b423",
                                                "sha1": "4c5d48a659db2d73f7d452856b706a1ec9abb594",
                                                "sha256": "a06ff0319296028071e7b4c37b749c19be85813b7409593edebb63447d798392"
                                            },
                                            "dob": {
                                                "date": "1966-08-27T12:53:32.163Z",
                                                "age": 57
                                            },
                                            "registered": {
                                                "date": "2004-07-17T07:25:17.709Z",
                                                "age": 19
                                            },
                                            "phone": "(569) 276-5119",
                                            "cell": "(629) 472-7429",
                                            "id": {
                                                "name": "SSN",
                                                "value": "517-90-4348"
                                            },
                                            "picture": {
                                                "large": "https://randomuser.me/api/portraits/men/61.jpg",
                                                "medium": "https://randomuser.me/api/portraits/med/men/61.jpg",
                                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/61.jpg"
                                            },
                                            "nat": "US"
                                        }
                                    ],
                                    "info": {
                                        "seed": "db9902139919f338",
                                        "results": 5,
                                        "page": 1,
                                        "version": "1.4"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/plain; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "Not Found"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema_api": {}
        }
    }
}