{
    "openapi": "3.1.0",
    "info": {
        "title": "Soccer API",
        "description": "**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid query parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average GET route discovery rate of 85.05% and query parameter discovery rate of 81.05%. Additionally, the tool is capable of discovering undocumented and valid routes and query parameters of APIs.<br><br>**API Description** - The Soccer API is a data service that provides information and statistics for soccer matches, leagues, and players.",
        "termsOfService": "",
        "contact": {
            "name": "Soccer API Contact",
            "url": "",
            "email": "contact@soccerapi.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.soccer.com",
            "description": "Production Server of the Soccer API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.football-data.org/documentation/quickstart",
        "description": "Find more about the Soccer API here:"
    },
    "paths": {
        "": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/teams": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            },
                            "England": {
                                "value": "England"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "MLS": {
                                "value": "MLS"
                            },
                            "Premier+League": {
                                "value": "Premier+League"
                            },
                            "premierleague": {
                                "value": "premierleague"
                            },
                            "PremierLeague": {
                                "value": "PremierLeague"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            },
                            "London": {
                                "value": "London"
                            }
                        }
                    },
                    {
                        "name": "year",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "division",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "manager",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Klopp": {
                                "value": "Klopp"
                            },
                            "Pep+Guardiola": {
                                "value": "Pep+Guardiola"
                            }
                        }
                    },
                    {
                        "name": "stadium",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Anfield": {
                                "value": "Anfield"
                            },
                            "Old+Trafford": {
                                "value": "Old+Trafford"
                            }
                        }
                    },
                    {
                        "name": "coach",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Pep": {
                                "value": "Pep"
                            }
                        }
                    },
                    {
                        "name": "captain",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Ronaldo": {
                                "value": "Ronaldo"
                            },
                            "Harry+Kane": {
                                "value": "Harry+Kane"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Manchester+United": {
                                "value": "Manchester+United"
                            }
                        }
                    },
                    {
                        "name": "sponsor",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Nike": {
                                "value": "Nike"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_teams"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/players": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "nationality",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Argentina": {
                                "value": "Argentina"
                            }
                        }
                    },
                    {
                        "name": "age",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "height",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "180": {
                                "value": "180"
                            }
                        }
                    },
                    {
                        "name": "weight",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "75": {
                                "value": "75"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "club",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Real+Madrid": {
                                "value": "Real+Madrid"
                            }
                        }
                    },
                    {
                        "name": "matches_played",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_players"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/matches": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-15": {
                                "value": "2022-01-15"
                            },
                            "2022-05-15": {
                                "value": "2022-05-15"
                            },
                            "2022-10-15": {
                                "value": "2022-10-15"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_matches"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/standings": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_standings"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/leagues": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USA": {
                                "value": "USA"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_leagues"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/fixtures": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-15": {
                                "value": "2022-01-15"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_fixtures"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/statistics": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PremierLeague": {
                                "value": "PremierLeague"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "competition",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ChampionsLeague": {
                                "value": "ChampionsLeague"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "stat",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "goals": {
                                "value": "goals"
                            }
                        }
                    },
                    {
                        "name": "result",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "win": {
                                "value": "win"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "home": {
                                "value": "home"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_statistics"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/topscorers": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "PremierLeague": {
                                "value": "PremierLeague"
                            }
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Liverpool": {
                                "value": "Liverpool"
                            },
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "England": {
                                "value": "England"
                            },
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "minGoals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "maxGoals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            },
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "min_goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "max_goals",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_topscorers"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/transfermarket": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_transfermarket"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "England": {
                                "value": "England"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "tournament",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Champions+League": {
                                "value": "Champions+League"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2021-10-30": {
                                "value": "2021-10-30"
                            }
                        }
                    },
                    {
                        "name": "match",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Real+Madrid+vs+Barcelona": {
                                "value": "Real+Madrid+vs+Barcelona"
                            }
                        }
                    },
                    {
                        "name": "top",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "category",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "transfers": {
                                "value": "transfers"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_news"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID path parameter for the /{id} route.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LaLiga": {
                                "value": "LaLiga"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "competition",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ChampionsLeague": {
                                "value": "ChampionsLeague"
                            }
                        }
                    },
                    {
                        "name": "match",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "RealMadridvsBarcelona": {
                                "value": "RealMadridvsBarcelona"
                            }
                        }
                    },
                    {
                        "name": "venue",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "CampNou": {
                                "value": "CampNou"
                            }
                        }
                    },
                    {
                        "name": "goal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "scored": {
                                "value": "scored"
                            }
                        }
                    },
                    {
                        "name": "assist",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "provided": {
                                "value": "provided"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_id"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/transfers": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "team",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Real+Madrid": {
                                "value": "Real+Madrid"
                            },
                            "Barcelona": {
                                "value": "Barcelona"
                            }
                        }
                    },
                    {
                        "name": "player",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Lionel+Messi": {
                                "value": "Lionel+Messi"
                            },
                            "Messi": {
                                "value": "Messi"
                            }
                        }
                    },
                    {
                        "name": "league",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Premier+League": {
                                "value": "Premier+League"
                            },
                            "PremierLeague": {
                                "value": "PremierLeague"
                            }
                        }
                    },
                    {
                        "name": "season",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2021": {
                                "value": "2021"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Spain": {
                                "value": "Spain"
                            }
                        }
                    },
                    {
                        "name": "position",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "forward": {
                                "value": "forward"
                            }
                        }
                    },
                    {
                        "name": "transfer_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "incoming": {
                                "value": "incoming"
                            }
                        }
                    },
                    {
                        "name": "fee",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000000": {
                                "value": "10000000"
                            }
                        }
                    },
                    {
                        "name": "date",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2020-08-01": {
                                "value": "2020-08-01"
                            },
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "completed": {
                                "value": "completed"
                            }
                        }
                    },
                    {
                        "name": "min_fee",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10000000": {
                                "value": "10000000"
                            }
                        }
                    },
                    {
                        "name": "max_fee",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50000000": {
                                "value": "50000000"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_transfers"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/lineups": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_lineups"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/schedule": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_schedule"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/results": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_results"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        },
        "/events": {
            "get": {
                "description": "No description.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_events"
                                },
                                "example": {
                                    "valid": "true",
                                    "response": "this is a valid request"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": ""
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema": {},
            "ResponseSchema_teams": {},
            "ResponseSchema_players": {},
            "ResponseSchema_matches": {},
            "ResponseSchema_standings": {},
            "ResponseSchema_leagues": {},
            "ResponseSchema_fixtures": {},
            "ResponseSchema_statistics": {},
            "ResponseSchema_topscorers": {},
            "ResponseSchema_transfermarket": {},
            "ResponseSchema_news": {},
            "ResponseSchema_id": {},
            "ResponseSchema_transfers": {},
            "ResponseSchema_lineups": {},
            "ResponseSchema_schedule": {},
            "ResponseSchema_results": {},
            "ResponseSchema_events": {}
        }
    }
}