{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Brewery DB API",
        "description": "**API Description** - The Open Brewery DB API is a public API that provides information about breweries worldwide, including their names, addresses, and contact details.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "Open Brewery DB API Contact",
            "url": "",
            "email": "info@openbrewerydb.org"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.openbrewerydb.org",
            "description": "Production Server of the Open Brewery DB API.",
            "x-base-routes": 0
        }
    ],
    "externalDocs": {
        "url": "https://www.openbrewerydb.org/documentation",
        "description": "Find more about the Open Brewery DB API here:"
    },
    "paths": {
        "/breweries": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "New+York": {
                                "value": "New+York"
                            },
                            "Colorado": {
                                "value": "Colorado"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "25": {
                                "value": "25"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Diego": {
                                "value": "San+Diego"
                            },
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "Austin": {
                                "value": "Austin"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            },
                            "contract": {
                                "value": "contract"
                            },
                            "regional": {
                                "value": "regional"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            },
                            "planning": {
                                "value": "planning"
                            },
                            "bar": {
                                "value": "bar"
                            },
                            "proprietor": {
                                "value": "proprietor"
                            },
                            "closed": {
                                "value": "closed"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone": {
                                "value": "Stone"
                            },
                            "Golden+Road+Brewing": {
                                "value": "Golden+Road+Brewing"
                            },
                            "Anchor+Brewing": {
                                "value": "Anchor+Brewing"
                            },
                            "Golden+Gate+Brewing": {
                                "value": "Golden+Gate+Brewing"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "92101": {
                                "value": "92101"
                            },
                            "90210": {
                                "value": "90210"
                            },
                            "94110": {
                                "value": "94110"
                            },
                            "94102": {
                                "value": "94102"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "patio": {
                                "value": "patio"
                            },
                            "organic": {
                                "value": "organic"
                            },
                            "IPA": {
                                "value": "IPA"
                            },
                            "food-service": {
                                "value": "food-service"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "-name": {
                                "value": "-name"
                            }
                        }
                    },
                    {
                        "name": "by_dist",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array"
                        },
                        "examples": {
                            "37.7749,-122.4194": {
                                "value": "37.7749,-122.4194"
                            }
                        }
                    },
                    {
                        "name": "by_tags",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries"
                                },
                                "example": [
                                    {
                                        "id": "ef970757-fe42-416f-931d-722451f1f59c",
                                        "name": "10 Barrel Brewing Co",
                                        "brewery_type": "large",
                                        "address_1": "1501 E St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "San Diego",
                                        "state_province": "California",
                                        "postal_code": "92101-6618",
                                        "country": "United States",
                                        "longitude": "-117.129593",
                                        "latitude": "32.714813",
                                        "phone": "6195782311",
                                        "website_url": "http://10barrel.com",
                                        "state": "California",
                                        "street": "1501 E St"
                                    },
                                    {
                                        "id": "5ae467af-66dc-4d7f-8839-44228f89b596",
                                        "name": "101 North Brewing Company",
                                        "brewery_type": "closed",
                                        "address_1": "1304 Scott St Ste D",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Petaluma",
                                        "state_province": "California",
                                        "postal_code": "94954-7100",
                                        "country": "United States",
                                        "longitude": "-122.665055",
                                        "latitude": "38.27029381",
                                        "phone": "7077534934",
                                        "website_url": "http://www.101northbeer.com",
                                        "state": "California",
                                        "street": "1304 Scott St Ste D"
                                    },
                                    {
                                        "id": "4788221a-a03b-458c-9084-4cadd69ade6d",
                                        "name": "14 Cannons Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "31125 Via Colinas Ste 907",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Westlake Village",
                                        "state_province": "California",
                                        "postal_code": "91362-3974",
                                        "country": "United States",
                                        "longitude": "-118.802397",
                                        "latitude": "34.15334",
                                        "phone": "8186996165",
                                        "website_url": "http://14cannons.com",
                                        "state": "California",
                                        "street": "31125 Via Colinas Ste 907"
                                    },
                                    {
                                        "id": "fe6b9893-b93e-43d5-a9f6-3e0c89a3f13c",
                                        "name": "1850 Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Mariposa",
                                        "state_province": "California",
                                        "postal_code": "95338",
                                        "country": "United States",
                                        "longitude": "-119.9036592",
                                        "latitude": "37.570148",
                                        "phone": null,
                                        "website_url": "http://www.1850restaurant.com",
                                        "state": "California",
                                        "street": null
                                    },
                                    {
                                        "id": "5ec3b488-48bd-49a7-9828-05bd90195cd5",
                                        "name": "2 Tread Brewing Co",
                                        "brewery_type": "brewpub",
                                        "address_1": "1018 Santa Rosa Plz",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Santa Rosa",
                                        "state_province": "California",
                                        "postal_code": "95401-6399",
                                        "country": "United States",
                                        "longitude": "-122.7167729",
                                        "latitude": "38.4387767",
                                        "phone": "4152330857",
                                        "website_url": "http://www.2treadbrewing.com",
                                        "state": "California",
                                        "street": "1018 Santa Rosa Plz"
                                    },
                                    {
                                        "id": "63baab9a-b561-4eff-8619-f95290a61b77",
                                        "name": "21st Amendment Brewery",
                                        "brewery_type": "regional",
                                        "address_1": "2010 Williams St Unit A",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "San Leandro",
                                        "state_province": "California",
                                        "postal_code": "94577-2334",
                                        "country": "United States",
                                        "longitude": "-122.1772928",
                                        "latitude": "37.71130036",
                                        "phone": "5105952111",
                                        "website_url": "http://www.21st-Amendment.com",
                                        "state": "California",
                                        "street": "2010 Williams St Unit A"
                                    },
                                    {
                                        "id": "8f9621dc-da98-4ddb-82a1-039c9e2b3224",
                                        "name": "21st Amendment Brewery Cafe",
                                        "brewery_type": "brewpub",
                                        "address_1": "563 2nd St",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "San Francisco",
                                        "state_province": "California",
                                        "postal_code": "94107-1411",
                                        "country": "United States",
                                        "longitude": "-122.3925769",
                                        "latitude": "37.782448",
                                        "phone": "4153690900",
                                        "website_url": "http://www.21st-amendment.com",
                                        "state": "California",
                                        "street": "563 2nd St"
                                    },
                                    {
                                        "id": "5fdcc498-f9df-4fa5-b35d-487a59f0fecc",
                                        "name": "2Kids Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "8680 Miralani Dr Ste 123",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "San Diego",
                                        "state_province": "California",
                                        "postal_code": "92126-6391",
                                        "country": "United States",
                                        "longitude": "-117.137429",
                                        "latitude": "32.896584",
                                        "phone": "8584805437",
                                        "website_url": "http://www.2kidsBrewing.com",
                                        "state": "California",
                                        "street": "8680 Miralani Dr Ste 123"
                                    },
                                    {
                                        "id": "60c00c0b-b797-4f6a-b442-3bfbaec156ca",
                                        "name": "3 Disciples Brewing",
                                        "brewery_type": "micro",
                                        "address_1": null,
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Sebastopol",
                                        "state_province": "California",
                                        "postal_code": "95472-5937",
                                        "country": "United States",
                                        "longitude": "-122.8332502",
                                        "latitude": "38.3845125",
                                        "phone": "7072287309",
                                        "website_url": "http://www.3disciplesbrewing.com/home",
                                        "state": "California",
                                        "street": null
                                    },
                                    {
                                        "id": "a74744eb-ca98-43c5-9199-09df39f8b400",
                                        "name": "3 Iron Brewing Company",
                                        "brewery_type": "micro",
                                        "address_1": "898 Via Lata Ste A",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Colton",
                                        "state_province": "California",
                                        "postal_code": "92324-3920",
                                        "country": "United States",
                                        "longitude": "-117.3066993",
                                        "latitude": "34.05616889",
                                        "phone": "9095334892",
                                        "website_url": "http://www.3ironbrewingco.com",
                                        "state": "California",
                                        "street": "898 Via Lata Ste A"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/search": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "New+York": {
                                "value": "New+York"
                            },
                            "Texas": {
                                "value": "Texas"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "IPA": {
                                "value": "IPA"
                            },
                            "ipa": {
                                "value": "ipa"
                            },
                            "Seattle": {
                                "value": "Seattle"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            },
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "Seattle": {
                                "value": "Seattle"
                            },
                            "Chicago": {
                                "value": "Chicago"
                            },
                            "Portland": {
                                "value": "Portland"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Golden+State+Brewery": {
                                "value": "Golden+State+Brewery"
                            },
                            "Pacific+Brewing": {
                                "value": "Pacific+Brewing"
                            },
                            "ABC+Brewery": {
                                "value": "ABC+Brewery"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "example": {
                                "value": "example"
                            },
                            "Anchor+Brewing": {
                                "value": "Anchor+Brewing"
                            },
                            "Golden": {
                                "value": "Golden"
                            },
                            "Hoppy": {
                                "value": "Hoppy"
                            },
                            "Anchor": {
                                "value": "Anchor"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "craft": {
                                "value": "craft"
                            },
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "outdoor-seating": {
                                "value": "outdoor-seating"
                            },
                            "food": {
                                "value": "food"
                            },
                            "live-music": {
                                "value": "live-music"
                            },
                            "organic": {
                                "value": "organic"
                            },
                            "patio": {
                                "value": "patio"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            },
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90210": {
                                "value": "90210"
                            },
                            "94107": {
                                "value": "94107"
                            },
                            "94110": {
                                "value": "94110"
                            },
                            "12345": {
                                "value": "12345"
                            },
                            "10001": {
                                "value": "10001"
                            },
                            "90001": {
                                "value": "90001"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Main+Street": {
                                "value": "Main+Street"
                            },
                            "123+Main+St": {
                                "value": "123+Main+St"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "555-1234": {
                                "value": "555-1234"
                            },
                            "123-456-7890": {
                                "value": "123-456-7890"
                            },
                            "555-123-4567": {
                                "value": "555-123-4567"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "www.example.com": {
                                "value": "www.example.com"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "by_order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "city": {
                                "value": "city"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "+name": {
                                "value": "+name"
                            }
                        }
                    },
                    {
                        "name": "brewery_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "brewpub": {
                                "value": "brewpub"
                            }
                        }
                    },
                    {
                        "name": "postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94104": {
                                "value": "94104"
                            }
                        }
                    },
                    {
                        "name": "by_sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "some_city": {
                                "value": "some_city"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example_state": {
                                "value": "example_state"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example_tag": {
                                "value": "example_tag"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example_country": {
                                "value": "example_country"
                            }
                        }
                    },
                    {
                        "name": "postal_code",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "12345": {
                                "value": "12345"
                            }
                        }
                    },
                    {
                        "name": "website",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example.com": {
                                "value": "example.com"
                            }
                        }
                    },
                    {
                        "name": "phone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "123-456-7890": {
                                "value": "123-456-7890"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_search"
                                },
                                "example": []
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/random": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "New+York": {
                                "value": "New+York"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Francisco": {
                                "value": "San+Francisco"
                            },
                            "Los+Angeles": {
                                "value": "Los+Angeles"
                            },
                            "Seattle": {
                                "value": "Seattle"
                            },
                            "Denver": {
                                "value": "Denver"
                            }
                        }
                    },
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Golden+Road+Brewing": {
                                "value": "Golden+Road+Brewing"
                            },
                            "Golden+State+Brewery": {
                                "value": "Golden+State+Brewery"
                            },
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            },
                            "Stone": {
                                "value": "Stone"
                            }
                        }
                    },
                    {
                        "name": "by_tag",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "dog-friendly": {
                                "value": "dog-friendly"
                            },
                            "IPA": {
                                "value": "IPA"
                            }
                        }
                    },
                    {
                        "name": "by_type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "94107": {
                                "value": "94107"
                            },
                            "90001": {
                                "value": "90001"
                            },
                            "94110": {
                                "value": "94110"
                            }
                        }
                    },
                    {
                        "name": "by_country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "United+States": {
                                "value": "United+States"
                            }
                        }
                    },
                    {
                        "name": "by_phone",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "000-000-0000": {
                                "value": "000-000-0000"
                            },
                            "555-123-4567": {
                                "value": "555-123-4567"
                            }
                        }
                    },
                    {
                        "name": "by_website",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "www.example.com": {
                                "value": "www.example.com"
                            }
                        }
                    },
                    {
                        "name": "by_order",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "type,name": {
                                "value": "type,name"
                            }
                        }
                    },
                    {
                        "name": "by_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            },
                            "-city": {
                                "value": "-city"
                            },
                            "city": {
                                "value": "city"
                            },
                            "state": {
                                "value": "state"
                            },
                            "postal_code": {
                                "value": "postal_code"
                            }
                        }
                    },
                    {
                        "name": "by_street",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "123+Main+St": {
                                "value": "123+Main+St"
                            }
                        }
                    },
                    {
                        "name": "by_sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "by_per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_random"
                                },
                                "example": [
                                    {
                                        "id": "2ec76a90-b0eb-41c1-88b9-865fdb61db18",
                                        "name": "Mighty Mo Brew Co",
                                        "brewery_type": "brewpub",
                                        "address_1": "412 Central Ave",
                                        "address_2": null,
                                        "address_3": null,
                                        "city": "Great Falls",
                                        "state_province": "Montana",
                                        "postal_code": "59401-3116",
                                        "country": "United States",
                                        "longitude": "-111.3004488",
                                        "latitude": "47.50518307",
                                        "phone": "4069520342",
                                        "website_url": "http://www.mightymobrewing.com",
                                        "state": "Montana",
                                        "street": "412 Central Ave"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        },
        "/breweries/autocomplete": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "by_name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Stone+Brewing": {
                                "value": "Stone+Brewing"
                            }
                        }
                    },
                    {
                        "name": "by_state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            },
                            "true": {
                                "value": "true"
                            }
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "by_postal",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "90001": {
                                "value": "90001"
                            }
                        }
                    },
                    {
                        "name": "query",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "example": {
                                "value": "example"
                            }
                        }
                    },
                    {
                        "name": "state",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "California": {
                                "value": "California"
                            }
                        }
                    },
                    {
                        "name": "city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "San+Francisco": {
                                "value": "San+Francisco"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "micro": {
                                "value": "micro"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "name": {
                                "value": "name"
                            }
                        }
                    },
                    {
                        "name": "by_city",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_breweries_autocomplete"
                                },
                                "example": []
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<text/html; charset=UTF-8 DATA>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorSchema": {
                "type": "string"
            },
            "ResponseSchema_breweries": {},
            "ResponseSchema_breweries_search": {},
            "ResponseSchema_breweries_random": {},
            "ResponseSchema_breweries_autocomplete": {}
        }
    }
}