{
    "openapi": "3.1.0",
    "info": {
        "title": "Random User Generator - OpenAPI Specification",
        "description": "This OpenAPI Specification was generated with the tool RESTSpecIT.",
        "termsOfService": "Terms of service go here.",
        "contact": {
            "name": "Contact name goes here.",
            "url": "Contact URL goes here."
        },
        "license": {
            "name": "License name goes here.",
            "url": "License URL goes here."
        },
        "version": "v1"
    },
    "externalDocs": {
        "url": "External docs URL goes here.",
        "description": "External docs description goes here."
    },
    "servers": [
        {
            "url": "https://randomuser.me",
            "description": "Online server URL of the 'Random User Generator' REST API."
        }
    ],
    "paths": {
        "/api": {
            "get": {
                "summary": "Retrieves data at the path /api.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "10"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "female"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApi",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[{\"gender\":\"female\",\"name\":{\"title\":\"Ms\",\"first\":\"Marisela\",\"last\":\"Molina\"},\"location\":{\"street\":{\"number\":2303,\"name\":\"Calle Tlaxcala\"},\"city\":\"Cuautlapan\",\"state\":\"Coahuila\",\"country\":\"Mexico\",\"postcode\":31441,\"coordinates\":{\"latitude\":\"27.7586\",\"longitude\":\"39.2965\"},\"timezone\":{\"offset\":\"+5:30\",\"description\":\"Bombay, Calcutta, Madras, New Delhi\"}},\"email\":\"marisela.molina@example.com\",\"login\":{\"uuid\":\"a9fb3333-37c8-4844-bab0-d574569be2cf\",\"username\":\"angrysnake397\",\"password\":\"poopoo\",\"salt\":\"CVFHqqRP\",\"md5\":\"b6c79930b4c94f777f60b7f7af7497e3\",\"sha1\":\"7b99e0a3656f1ba0ffb35e851b3d94970c41c958\",\"sha256\":\"226bf251e872d356dcc281c6077b46094dad7fca5d819e5a6b2ceaee301abe53\"},\"dob\":{\"date\":\"1972-03-29T13:31:42.389Z\",\"age\":54},\"registered\":{\"date\":\"2008-01-16T23:29:22.350Z\",\"age\":18},\"phone\":\"(645) 781 7910\",\"cell\":\"(673) 374 3265\",\"id\":{\"name\":\"NSS\",\"value\":\"26 23 64 0428 3\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/31.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/31.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/31.jpg\"},\"nat\":\"MX\"}],\"info\":{\"seed\":\"4858758c4b830229\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/{version}": {
            "get": {
                "summary": "Retrieves data at the path /api/{version}.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'version'.",
                        "schema": {
                            "type": "string",
                            "example": "v1.2"
                        }
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "male"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "login"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "lego",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'lego'.",
                        "schema": {
                            "type": "string",
                            "example": "disabled"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApi{version}",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[{\"gender\":\"male\",\"name\":{\"title\":\"Mr\",\"first\":\"Karim\",\"last\":\"Glad\"},\"location\":{\"street\":{\"number\":7643,\"name\":\"Bankplassen\"},\"city\":\"Svorkmo\",\"state\":\"Bergen\",\"country\":\"Norway\",\"postcode\":\"9255\",\"coordinates\":{\"latitude\":\"39.2444\",\"longitude\":\"-150.9373\"},\"timezone\":{\"offset\":\"-9:00\",\"description\":\"Alaska\"}},\"email\":\"karim.glad@example.com\",\"login\":{\"uuid\":\"731c0d12-8172-4229-8b58-9b105328ca01\",\"username\":\"goldenleopard636\",\"password\":\"pppp\",\"salt\":\"HgEjjiLa\",\"md5\":\"929ddffab6fb74a8af701bda480911d2\",\"sha1\":\"860be17cf79a6d749980df263f100599ea1238f2\",\"sha256\":\"a1ad376ae61a0c1147dd77269dca3cae12b94dad55b9851a89b503c7bf955dfc\"},\"dob\":{\"date\":\"1985-10-26T05:57:25.516Z\",\"age\":40},\"registered\":{\"date\":\"2004-01-10T03:52:39.065Z\",\"age\":22},\"phone\":\"52157601\",\"cell\":\"94580694\",\"id\":{\"name\":\"FN\",\"value\":\"26108501919\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/men/4.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/men/4.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/men/4.jpg\"},\"nat\":\"NO\"},{\"gender\":\"female\",\"name\":{\"title\":\"Miss\",\"first\":\"Dana\",\"last\":\"Stecenko\"},\"location\":{\"street\":{\"number\":1185,\"name\":\"Svyatoslavska\"},\"city\":\"Druzhba\",\"state\":\"Vinnicka\",\"country\":\"Ukraine\",\"postcode\":54228,\"coordinates\":{\"latitude\":\"80.5661\",\"longitude\":\"-30.6435\"},\"timezone\":{\"offset\":\"+7:00\",\"description\":\"Bangkok, Hanoi, Jakarta\"}},\"email\":\"dana.stecenko@example.com\",\"login\":{\"uuid\":\"8d1ae7ff-ec3d-43d1-8417-51e3e15fc210\",\"username\":\"blackbutterfly126\",\"password\":\"septembe\",\"salt\":\"ug4l3fu8\",\"md5\":\"2b535d11b2e721f2f5cb958035a8e35d\",\"sha1\":\"7ed6c7e494424fd5183f073110264d2bbb45f86e\",\"sha256\":\"14d96f016993e00f771a321300d215aab0847123d2b24a77e7fe118e69f3f835\"},\"dob\":{\"date\":\"1953-01-03T15:50:12.002Z\",\"age\":73},\"registered\":{\"date\":\"2018-11-21T06:59:43.957Z\",\"age\":7},\"phone\":\"(067) W67-9552\",\"cell\":\"(098) N81-6353\",\"id\":{\"name\":\"\",\"value\":null},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/3.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/3.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/3.jpg\"},\"nat\":\"UA\"},{\"gender\":\"female\",\"name\":{\"title\":\"Miss\",\"first\":\"Addison\",\"last\":\"White\"},\"location\":{\"street\":{\"number\":1360,\"name\":\"Queen St\"},\"city\":\"Souris\",\"state\":\"Northwest Territories\",\"country\":\"Canada\",\"postcode\":\"Y4D 2K5\",\"coordinates\":{\"latitude\":\"-63.4916\",\"longitude\":\"117.4830\"},\"timezone\":{\"offset\":\"+4:30\",\"description\":\"Kabul\"}},\"email\":\"addison.white@example.com\",\"login\":{\"uuid\":\"02dabf88-4c8e-4295-861c-0e5a2cc7a439\",\"username\":\"sadlion618\",\"password\":\"nutter\",\"salt\":\"roJ5Wqgg\",\"md5\":\"036edb12f3762b6e3b4ccc6c855ee4a9\",\"sha1\":\"baeedb0a489a1443965fd8ba965ea9db2c755805\",\"sha256\":\"42a4ca2ed5c71f6ddd0a9fe03a05e934b7c5097982b684d024c6db45618d1933\"},\"dob\":{\"date\":\"1983-08-01T17:48:35.345Z\",\"age\":42},\"registered\":{\"date\":\"2010-07-12T02:36:00.106Z\",\"age\":15},\"phone\":\"P75 A80-2620\",\"cell\":\"Y18 B17-9209\",\"id\":{\"name\":\"SIN\",\"value\":\"913219085\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/32.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/32.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/32.jpg\"},\"nat\":\"CA\"},{\"gender\":\"female\",\"name\":{\"title\":\"Ms\",\"first\":\"Matilda\",\"last\":\"Kumar\"},\"location\":{\"street\":{\"number\":1636,\"name\":\"Main Street East\"},\"city\":\"Whanganui\",\"state\":\"Hawke'S Bay\",\"country\":\"New Zealand\",\"postcode\":21393,\"coordinates\":{\"latitude\":\"75.4473\",\"longitude\":\"99.9337\"},\"timezone\":{\"offset\":\"+5:30\",\"description\":\"Bombay, Calcutta, Madras, New Delhi\"}},\"email\":\"matilda.kumar@example.com\",\"login\":{\"uuid\":\"411ab89a-659c-480c-9394-0e2c11ce31e2\",\"username\":\"redmeercat296\",\"password\":\"towers\",\"salt\":\"48HItYrA\",\"md5\":\"4cb53ab5930dedfe6803b052ec4e14b5\",\"sha1\":\"0e4f580d30bd2fa62ce6697fdd904b656ccd923c\",\"sha256\":\"ad360f744a9391d119f2f4c6a9f1739745aa72a3a37d22ecdde2c669015a7bc4\"},\"dob\":{\"date\":\"1959-01-02T12:47:52.316Z\",\"age\":67},\"registered\":{\"date\":\"2007-05-16T22:41:28.815Z\",\"age\":19},\"phone\":\"(686)-224-1067\",\"cell\":\"(973)-251-1781\",\"id\":{\"name\":\"\",\"value\":null},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/women/81.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/women/81.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/women/81.jpg\"},\"nat\":\"NZ\"},{\"gender\":\"male\",\"name\":{\"title\":\"Mr\",\"first\":\"Freddy\",\"last\":\"Heckmann\"},\"location\":{\"street\":{\"number\":9085,\"name\":\"Gartenstra\u00dfe\"},\"city\":\"Neustadt In Holstein\",\"state\":\"Nordrhein-Westfalen\",\"country\":\"Germany\",\"postcode\":55524,\"coordinates\":{\"latitude\":\"28.6309\",\"longitude\":\"-79.8479\"},\"timezone\":{\"offset\":\"+4:00\",\"description\":\"Abu Dhabi, Muscat, Baku, Tbilisi\"}},\"email\":\"freddy.heckmann@example.com\",\"login\":{\"uuid\":\"3b9262cc-c908-4576-bd55-a7a428aa426e\",\"username\":\"lazypeacock529\",\"password\":\"beech\",\"salt\":\"Nd38bitH\",\"md5\":\"11f4f4d29dff5f027524a85c96a42f44\",\"sha1\":\"548524d7956addf2dba3c8a15bb3fa53849dea5b\",\"sha256\":\"f33b90656d05d67f2f5093c22a6cdd07969604ff9d43f2396251badd1256f388\"},\"dob\":{\"date\":\"1949-08-22T02:09:25.899Z\",\"age\":76},\"registered\":{\"date\":\"2007-12-30T00:39:27.506Z\",\"age\":18},\"phone\":\"0118-8433935\",\"cell\":\"0173-0222429\",\"id\":{\"name\":\"SVNR\",\"value\":\"74 210849 H 138\"},\"picture\":{\"large\":\"https://randomuser.me/api/portraits/men/10.jpg\",\"medium\":\"https://randomuser.me/api/portraits/med/men/10.jpg\",\"thumbnail\":\"https://randomuser.me/api/portraits/thumb/men/10.jpg\"},\"nat\":\"DE\"}],\"info\":{\"seed\":\"f1e84ddd2df60088\",\"results\":5,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/picture": {
            "get": {
                "summary": "Retrieves data at the path /api/picture.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPicture",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/timezone": {
            "get": {
                "summary": "Retrieves data at the path /api/timezone.",
                "description": "Description goes here.",
                "parameters": [],
                "operationId": "getApiTimezone",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "{\"results\":[],\"info\":{\"seed\":\"d3adb33f\",\"results\":1,\"page\":1,\"version\":\"1.4\"}}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "": {
            "get": {
                "summary": "Retrieves data at the path .",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "csv"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "get",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "<!DOCTYPE html><html lang=\"en\"><head><title>Random User Generator | Home</title><!-- META --><meta charset='utf-8'><meta name=\"description\" content=\"Random user generator is a FREE API for generating placeholder user information. Get profile photos, names, and more. It's like Lorem Ipsum, for people.\"><meta name=\"apple-mobile-web-app-capable\" content=\"yes\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, user-scalable=no\"><!-- CSS --><link rel=\"stylesheet\" type=\"text/css\" href=\"dist/style.css\"><!-- JS --><script src=\"dist/all.js\"></script></head><body class=\"\"><div id=\"navbar\" class=\"\"><div class=\"nav_toggle\"><div class=\"icon\"><div></div><div></div><div></div></div></div><ul><li><a href=\"index\">Home</a></li><li><a href=\"photos\">User Photos</a></li><li><a href=\"documentation\">Documentation</a></li><li><a href=\"changelog\">Change Log</a></li><li><a href=\"stats\">Stats &amp; Graphs</a></li><li><a href=\"donate\">Donate</a></li><li><a href=\"copyright\">Copyright Notice</a></li><li class=\"blank\"></li><li><a href=\"photoshop\">Photoshop Extension</a></li><!--<li><a href=\"sketch\">Sketch Extension</a></li>--></ul></div><header><h1>Random User Generator</h1><p>A free, <a id=\"openSource\" href=\"https://github.com/RandomAPI/Randomuser.me-Node\">open-source</a> API for generating random user data. Like Lorem Ipsum, but for people. </p><a href=\"https://twitter.com/randomapi\" class=\"twitter\"><img src=\"img/twitter.png\">Follow us @randomapi</a></header><div class=\"frame card_offset\"><div class=\"card\"><div class=\"details\"><div class=\"user_photo horizontal_center\" id=\"user_photo\"><a href=\"javascript:getNewUser();\" class=\"refresh\">New</a><img src=\"\"></div><p id=\"user_title\">Hi, My name is</p><p id=\"user_value\">...</p></div><ul class=\"values_list horizontal_center\" id=\"values_list\"><li data-title=\"Hi, My name is\"data-value=\"...\"data-label=\"name\"class=\"active\"></li><li data-title=\"My email address is\"data-value=\"...\"data-label=\"email\"data-caps=\"false\"></li><li data-title=\"My birthday is\"data-value=\"...\"data-label=\"birthday\"></li><li data-title=\"My address is\"data-value=\"...\"data-label=\"location\"></li><li data-title=\"My phone number is\"data-value=\"...\"data-label=\"phone\"></li><li data-title=\"My password is\"data-value=\"...\"data-label=\"pass\"data-caps=\"false\"></li></ul></div><section class=\"sponsor\"><h2>Sponsored</h2><h3>RandomAPI</h3><p>Want to create your own <b>customized</b> data generator for your application?<br>Check out our other service RandomAPI!</p><button id=\"learnmore\" class=\"button\" onClick=\"window.open('https://randomapi.com');\">Learn More</button></section><section class=\"advertisement\"><!-- ADS --><script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script><ins class=\"adsbygoogle\"style=\"display:inline-block;width:230px;height:200px\"data-ad-client=\"ca-pub-2036801804961954\"data-ad-slot=\"7646598623\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><ins class=\"adsbygoogle\"style=\"display:inline-block;width:230px;height:200px;margin:0 16px;\"data-ad-client=\"ca-pub-2036801804961954\"data-ad-slot=\"7646598623\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><ins class=\"adsbygoogle\"style=\"display:inline-block;width:230px;height:200px\"data-ad-client=\"ca-pub-2036801804961954\"data-ad-slot=\"7646598623\"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></section><section><h2>How to use</h2><p>You can use AJAX to call the Random User Generator API and will receive a randomly generated user in return. If you are using jQuery, you can use the $.ajax() function in the code snippet below to get started.</p><pre>\n$.ajax({\n  url: '<span>https://randomuser.me/api/</span>',\n  dataType: '<span>json</span>',\n  success: function(<span>data</span>) {\n    console.log(<span>data</span>);\n  }\n});\n      </pre></section><section><h2>Results</h2><p>The application will provide you with a JSON, XML, CSV, or YAML object that you can parse and apply to your application.</p><p>You can specify the format you want the results in using the <a href=\"documentation#format\">format</a> parameter.</p><pre>\n{\n  \"results\": [\n    {\n      \"gender\": \"<span>female</span>\",\n      \"name\": {\n        \"title\": \"<span>Miss</span>\",\n        \"first\": \"<span>Jennie</span>\",\n        \"last\": \"<span>Nichols</span>\"\n      },\n      \"location\": {\n        \"street\": {\n          \"number\": <span>8929</span>,\n          \"name\": \"<span>Valwood Pkwy</span>\",\n        },\n        \"city\": \"<span>Billings</span>\",\n        \"state\": \"<span>Michigan</span>\",\n        \"country\": \"<span>United States</span>\",\n        \"postcode\": \"<span>63104</span>\",\n        \"coordinates\": {\n          \"latitude\": \"<span>-69.8246</span>\",\n          \"longitude\": \"<span>134.8719</span>\"\n        },\n        \"timezone\": {\n          \"offset\": \"<span>+9:30</span>\",\n          \"description\": \"<span>Adelaide, Darwin</span>\"\n        }\n      },\n      \"email\": \"<span><a href=\"/cdn-cgi/l/email-protection\" class=\"__cf_email__\" data-cfemail=\"d5bfb0bbbbbcb0fbbbbcb6bdbab9a695b0adb4b8a5b9b0fbb6bab8\">[email&#160;protected]</a></span>\",\n      \"login\": {\n        \"uuid\": \"<span>7a0eed16-9430-4d68-901f-c0d4c1c3bf00</span>\",\n        \"username\": \"<span>yellowpeacock117</span>\",\n        \"password\": \"<span>addison</span>\",\n        \"salt\": \"<span>sld1yGtd</span>\",\n        \"md5\": \"<span>ab54ac4c0be9480ae8fa5e9e2a5196a3</span>\",\n        \"sha1\": \"<span>edcf2ce613cbdea349133c52dc2f3b83168dc51b</span>\",\n        \"sha256\": \"<span>48df5229235ada28389b91e60a935e4f9b73eb4bdb855ef9258a1751f10bdc5d</span>\"\n      },\n      \"dob\": {\n        \"date\": \"<span>1992-03-08T15:13:16.688Z</span>\",\n        \"age\": <span>30</span>\n      },\n      \"registered\": {\n        \"date\": \"<span>2007-07-09T05:51:59.390Z</span>\",\n        \"age\": <span>14</span>\n      },\n      \"phone\": \"<span>(272) 790-0888</span>\",\n      \"cell\": \"<span>(489) 330-2385</span>\",\n      \"id\": {\n        \"name\": \"<span>SSN</span>\",\n        \"value\": \"<span>405-88-3636</span>\"\n      },\n      \"picture\": {\n        \"large\": \"<span>https://randomuser.me/api/portraits/men/75.jpg</span>\",\n        \"medium\": \"<span>https://randomuser.me/api/portraits/med/men/75.jpg</span>\",\n        \"thumbnail\": \"<span>https://randomuser.me/api/portraits/thumb/men/75.jpg</span>\"\n      },\n      \"nat\": \"<span>US</span>\"\n    }\n  ],\n  \"info\": {\n    \"seed\": \"<span>56d27f4a53bd5441</span>\",\n    \"results\": <span>1</span>,\n    \"page\": <span>1</span>,\n    \"version\": \"<span>1.4</span>\"\n  }\n}\n</pre></section><section><h2>Thank you for helping us help you help us all</h2><p>Found a bug or have an idea?<br>Contribute to randomuser.me's database on our <a href=\"https://github.com/RandomAPI/Randomuser.me-Node\">Github Repo</a>.</p><h2>Contact Us</h2><p>If you have any questions/feedback or would like to get in touch with us, tweet us <a href=\"https://twitter.com/randomapi\">@randomapi</a></p></section><section class=\"cheat\"><p>&uarr; &uarr; &darr; &darr; &larr; &rarr; &larr; &rarr; B A</p></section></div><footer><div class=\"frame\"><h1>Random User Generator</h1><div class=\"block\"><div class=\"builder\"><h3>Designed</h3><a href=\"https://twitter.com/arronhunt\"><img src=\"img/creator_arron.png\" width=\"80px\" alt=\"Designed by Arron Hunt\" title=\"Designed by Arron Hunt\" /></a></div><div class=\"builder\"><h3>Developed</h3><a href=\"https://twitter.com/solewolf1993\"><img src=\"img/creator_keith.png\" width=\"80px\" alt=\"Developed by Keith Armstrong\" title=\"Developed by Keith Armstrong\" /></a></div></div><div class=\"block\"><h3>Copyright Notice</h3><p>All randomly generated photos were hand picked from the authorized section of <a href=\"http://uifaces.com\">UI Faces</a>. Please visit <a href=\"https://web.archive.org/web/20160811185628/http://uifaces.com/faq\">UI Faces FAQ</a> for more information regarding how you can use these faces.<br><br><!-- Everyone says \"Made with \u2665 in blah\" and it annoys me for some unknown reason so...take thatMade with <span class=\"icon-heart-broken\" title=\"hatred\"></span> in North America.</p> --></div></div></footer><script data-cfasync=\"false\" src=\"/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js\"></script><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-42942064-1', 'randomuser.me');ga('send', 'pageview');</script></body></html>"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraits",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/women": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/women.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'format'.",
                        "schema": {
                            "type": "string",
                            "example": "json"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inclegender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inclegender'.",
                        "schema": {
                            "type": "string",
                            "example": "male"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "AU"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsWomen",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/men": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/men.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsMen",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/lego": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/lego.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsLego",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/med": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/med.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'gender'.",
                        "schema": {
                            "type": "string",
                            "example": "male"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "nat",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'nat'.",
                        "schema": {
                            "type": "string",
                            "example": "US"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "inc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'inc'.",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "exc",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'exc'.",
                        "schema": {
                            "type": "string",
                            "example": "dob"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "seed",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'seed'.",
                        "schema": {
                            "type": "string",
                            "example": "abc123"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'page'.",
                        "schema": {
                            "type": "integer",
                            "example": "2"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsMed",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/thumb": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/thumb.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsThumb",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/med/women": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/med/women.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsMedWomen",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/med/men": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/med/men.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsMedMen",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/thumb/women": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/thumb/women.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsThumbWomen",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/thumb/men": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/thumb/men.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsThumbMen",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": ""
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/api/portraits/lego/{file}.jpg": {
            "get": {
                "summary": "Retrieves data at the path /api/portraits/lego/{file}.jpg.",
                "description": "Description goes here.",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "required": true,
                        "description": "Path parameter 'file'.",
                        "schema": {
                            "type": "string",
                            "example": "my_file.ext"
                        }
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'results'.",
                        "schema": {
                            "type": "integer",
                            "example": "5"
                        },
                        "allowEmptyValue": false
                    },
                    {
                        "name": "noinfo",
                        "in": "query",
                        "required": false,
                        "description": "Query parameter 'noinfo'.",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        },
                        "allowEmptyValue": false
                    }
                ],
                "operationId": "getApiPortraitsLego{file}.jpg",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": "\ufffd\ufffd\ufffd\ufffd\u0000\u0010JFIF\u0000\u0001\u0001\u0001\u0000H\u0000H\u0000\u0000\ufffd\ufffd\u0000C\u0000\u0003\u0002\u0002\u0003\u0002\u0002\u0003\u0003\u0003\u0003\u0004\u0003\u0003\u0004\u0005\b\u0005\u0005\u0004\u0004\u0005\n\u0007\u0007\u0006\b\f\n\f\f\u000b\n\u000b\u000b\r\u000e\u0012\u0010\r\u000e\u0011\u000e\u000b\u000b\u0010\u0016\u0010\u0011\u0013\u0014\u0015\u0015\u0015\f\u000f\u0017\u0018\u0016\u0014\u0018\u0012\u0014\u0015\u0014\ufffd\ufffd\u0000C\u0001\u0003\u0004\u0004\u0005\u0004\u0005\t\u0005\u0005\t\u0014\r\u000b\r\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\u0014\ufffd\ufffd\u0000\u0011\b\u0001^\u0001^\u0003\u0001\u0011\u0000\u0002\u0011\u0001\u0003\u0011\u0001\ufffd\ufffd\u0000\u001d\u0000\u0001\u0000\u0002\u0002\u0003\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0003\u0004\u0001\u0002\u0005\u0007\b\u0006\t\ufffd\ufffd\u0000Y\u0010\u0000\u0001\u0003\u0003\u0002\u0003\u0004\u0006\u0004\u0005\u000e\n\b\u0007\u0000\u0000\u0001\u0000\u0002\u0003\u0004\u0005\u0011\u0006!\u0007\u00121\bAQa\u0013\u0014\"2q\ufffd\u0015B\ufffd\ufffd\t#\ufffd\ufffd\ufffd\u0016\u00173CRbr\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd$%Ssu\ufffd\ufffd\ufffd\ufffd\ufffd&7EFct\ufffd\ufffd'4Dde\ufffd\ufffd\ufffd\ufffd\u0000\u001d\u0001\u0001\u0000\u0002\u0002\u0003\u0001\u0001\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0001\u0002\u0003\u0006\u0004\u0005\u0007\b\t\ufffd\ufffd\u0000?\u0011\u0000\u0002\u0001\u0002\u0005\u0002\u0003\u0004\b\u0005\u0002\u0006\u0003\u0001\u0000\u0000\u0000\u0001\u0002\u0003\u0011\u0004\u0005\u0012!1\u0006A\u0013Qq\u0007\"2a\u0014\u00153BR\ufffd\ufffd\ufffd#45\ufffd\ufffdS\ufffd$%br\ufffd\ufffd\u0016C\ufffd\ufffd\ufffd\ufffd\u0000\f\u0003\u0001\u0000\u0002\u0011\u0003\u0011\u0000?\u0000\ufffdS@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0006\ufffd9\u062a>\ufffd\ufffdY\ufffd\ufffd\ufffd8\u0013\ufffd\ufffd\u0015\ufffd\ufffd\u0206\ufffd+D\ufffdj\u0229\ufffd2K##cFK\ufffdp\u0002\ufffd\ufffd\ufffd\u04a2\ufffd9/\ufffd\u02a1);$|\ufffd_\u0012\ufffd\ufffd\u0010&[\ufffd\u0016[\ufffdls5\ufffd}\ufffd\ufffd]\rn\ufffd\ufffd(;T\ufffd\ufffds\ufffd\u001c\u001di\ufffd\u0013\ufffd<i\ufffd#8\ufffd\ufffd\ufffdof\ufffdS\ufffd\u4ba6}s\ufffdG\ufffd\ufffd\u0659\ufffd[\ufffd\u007ft\ufffd\ufffd6\ufffd9\ufffdcml\ufffd\u001c\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd^\ufffd\ufffd\ufffdw2\ufffd\ufffd\u0012\ufffd\ufffd\u0004\ufffdr\ufffd\ufffdd[\ufffd\ufffd\ufffdSc\ufffd\ufffd\ufffd\ufffd\u0002FO\ufffd+\ufffd\ufffd;\ufffdr\u001ah\ufffdA\ufffd\ufffd\ufffd\u0001\ufffd\ufffd*/h\u0018\u0011\ufffdEr\ufffd|c\ufffd\u0242m\ufffdV\ufffd\ufffd\ufffdC\ufffd\ufffd+\ufffd\u001e\ufffd\ufffd>x1<\ufffd\ufffd\ufffd\u0148x\u00e7d\ufffd\ufffd\ufffd\u0012\ufffd\ufffdw\u0013DZ~Er\ufffd\ufffd9G\u07e9o\u020f\ufffd\ufffd\u001eE\ufffdx\ufffd\ufffd%pg\ufffdla=\ufffd1\ufffd\u001f2\u0000\\\ufffd}e\ufffdT\ufffdj\ufffd\u0000b\ufffd,\ufffdGw\u0013\ufffd\ufffd\ufffd6K\ufffd\ufffd*k\ufffd\u001c\u049e\ufffd\ufffdv\ufffd\u001f\ufffd9]\ufffd\u001f=\ufffdW~\ufffdTp\u51eb\u000ebr\ufffd\ufffd\ufffd\ufffd\u0007\ufffdv\ufffd\ufffd\u04de\ufffdw0Y\ufffdQ\ufffd1\ufffd\\\ufffd\ufffdvdp\ufffdn\u04d0\u0015\ufffd\ufffd\u0704\ufe55$\ufffd\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u001a;\ufffd\ufffdQ\ufffd\ufffd\ufffd\ufffd=v\ufffd\ufffd\ufffdG_\ufffd\ufffd,a\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd.\u0001\ufffd\u0007a\ufffd\ufffdNz\ufffdw\ufffd)\ufffd\ufffd\ufffd\ufffd\n\ufffd\ufffdh;lw\ufffdv\u00065\u007f\ufffd#\u03d5:\ufffd\ufffdw\ufffdK[Y5T\ufffdny\ufffd/?2\ufffdF\ufffd'\u0011Z\ufffdrm\ufffd\ufffd\ufffd\ufffd\u000e\ufffd\ufffdF\ufffd\\&p\ufffd\ufffd\u0005\ufffd=\ufffd\ufffdrc\u0015\u0012\ufffdk\ufffd$\u0000\u0019\ufffd\ufffd\u001b{E`my\u0019To\ufffd3'{\ufffd\ufffd\u001e\uf2c9X\ufffd\u030a%\ufffd8\ufffd\ufffd?5\ufffd\ufffd\ufffd42h\ufffdv\ufffd{\ufffd|\tT\ufffd\u001a\u00193\u001f\ufffd]\ufffd\ufffd\ufffd\ufffdZ~fE\t\u00192\ufffd\ufffd\ufffd$\ufffd\ufffd\ufffd\ufffd.\ufffd\ufffdi\ufffd\ufffdS$}\u001e\ufffd\ufffd\n\ufffd\u0019O\ufffd+\ufffd\u001b\u001a\ufffd1\ufffd\ufffd\ufffdV\ufffdJ\ufffd\ufffd\"\ufffd~G'e\ufffd\u0017\ufffd6G\ufffd\ufffd\t\ufffd\ufffd\ufffd\u0013Nc'\ufffd\ufffd>\ufffd\ufffd-\ufffd\u0005\ufffdf8\u0017\u0015J\ufffd\ufffd\u03be\ufffd_G\u0012\ufffdVg\ufffd\ufffde\ufffd[\ufffd4\ufffdu\u0702:\ufffd\ufffd0T1\ufffd\ufffdk\ufffd\u0007o\"\b#\u2f9c\ufffd\ufffd\ufffd\ufffd%VK\ufffdN\ufffd\ufffd\ufffd\ufffd\f\ufffdu\ufffdv>\u025e\ufffd[\ufffd\ufffd\ufffd>M\ufffd\ufffd\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@h@P\ufffdW\r_c\ufffd\u076b\ufffd8\ufffdr:[\ufffd\ufffd=\ufffd\ufffd\ufffd/\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdH\ufffd2\ufffd\ufffd\ufffd\u03ad\ufffd#\u0003\u0007o%\ufffdF\u0122\ufffd\ufffd\ufffd\ufffd\u01123\ufffd_\ufffd\u02ce\ufffd\u0632\ufffd~\u0145\ufffdH\ufffd\ufffd\r\ufffdV6\ufffd\u0619\ufffd\u0000\ufffd*4,L\u001cG\ufffdR\ufffd\ufffd\ufffd\u0016\u0005\ufffdK\u000b#\u0004\ufffd,,C)\ufffdWIlQ\ufffd7s\ufffd\u001d\ufffd\ufffdv\ufffd\ufffd\u001e\ufffd\u0000\ufffd\ufffd\ufffd\u0014K\ufffd\u007fgm\ufffd\u0004\ufffd\ufffd_\ufffdh\u0019\ufffdK\u0010\ufffd\u000e\ufffd\u0000\u0001\ufffdE\ufffdH\u058c\ufffd\b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd 4=TG\ufffdGs\ufffd\u001d\ufffdv\ufffd\ufffd\u007f\u0470\u001f\ufffdH\ufffd{\ufffd_\u75e1\ufffd\ufffd\u000b\ufffd\u001f\ufffd\ufffd\ufffd\ufffd\ufffd\u001d\ufffd\u0364l\ufffd\u001c\ufffd\u0004\ufffd\u001c\ufffd\ufffd\u0017\ufffdr\ufffd3*\ufffdj7,L\ufffd\ufffdv\ufffdP\ufffd\ufffdf8\u000e\ufffd\ufffdI\ufffdJ\u001d\ufffd[\u0013c`\ufffd[\u000b\u0019\ufffdK\u0011`]\ufffd\u4c31\f\ufffd\ufffdJ\ufffdJ\ufffd\ufffd\ufffd\ufffd\u0007::\ufffd\ufffd\ufffdw\ufffdQ/\ufffd}\ufffd\u007f#?S\ufffd\ufffd\ufffd\u0000\ufffd\u0017\ufffd\u0703\ufffd\ufffd\ufffdY2\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd\ufffd9\ufffd\ufffd~\u00181\u034e\ufffd\ufffdY\ufffd$\ufffdO\\\ufffd\ufffd\ufffd\ufffd=\ufffd\u0001\ufffdi\ufffd,\ufffd\ufffd\ufffd\ufffd\ufffd8M\ufffd\u064fC\ufffd\u001d\ufffd\ufffd\u0000\ufffdi\ufffd\ufffd\u0000\u0650\u007f>E\ufffd\ufffd\\'\f\ufffd.\ufffdQ\ufffdd\ufffdO\u000f\ufffds\ufffd\ufffd\ufffd \ufffd^e)_\ufffd\ufffd(\ufffd\ufffd\ufffd\ufffd,\ufffd\ufffd%\ufffd_\ufffdU\ufffd\ufffd\ufffd-F\ufffd\u00000\ufffd4dH\ufffd\u01ccg\ufffd\ufffd\ufffdm\u0004\ufffdp\ufffd's\ufffdo\ufffd:IZ\ufffd\ufffdU\ufffd\ufffd6F\ufffd\ufffd\ufffdUk\ufffdE\ufffd\ufffd\ufffd\u0137\ufffd\ufffd4\ufffd\u000ep\ufffd\ufffd\ufffd7\ufffd\u001b.Hd>\u02b4ZR\ufffd!\ufffdv\ufffd\ufffdge\ufffd\u007f\u041b\ufffdq\ufffdM\ufffd\u0000\ufffdD\ufffd\ufffd\ufffdwR?@\ufffd\ufffd\ufffd\ufffd\u0000c\ufffds\ufffd\ufffd\u0000\u0015\ufffd\u001d\ufffd\n\ufffd\ufffd+\ufffd\ufffd\ufffdV~\ufffd\ufffd\ufffd?\ufffd#r\ufffd\ufffdE\ufffdV\u07d1\ufffdJ\ufffd\u0004\ufffd\ufffd!!\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0001\u0019\ufffd\ufffd\ufffd\ufffdi~d\ufffdj\ufffdrnN>\u0001VN\ufffd\ufffd\ufffdd-)ppW\ufffdud\ufffd\r&\ufffdr\ufffd\ufffd\ufffdg\ufffd\ufffdsI\ufffd\ufffd7$\ufffdWA\ufffd\ufffd\ufffd8\u0015\ufffdZ\ufffd\ufffdS\ufffdN\ufffd\ufffd[\ufffd\u0015r\ufffd\u0011`\ufffd\ufffdm%-ek\ufffdG\u0006\u00060\ufffd\ufffd\ufffd\ufffdZN+\ufffd\u0006\u0002\ufffd\ufffd(\ufffd\ufffd\ufffdoO'\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdv\ufffd\ufffd{H\ufffd\ufffdE\u0013\ufffd\ufffd>\ufffd\ufffd\ufffd\ufffd\u000bW\ufffd\ufffd\"v\ufffd:6\ufffd\ufffd\ufffd\u0019\u0004ys:\ufffd_\ufffd\ufffd\ufffdI\ufffd\ufffd\ufffd\u0002\ufffd\ufffd,\ufffd\u0011S\ufffd\ufffd\uda93\ude0e\ufffd\ufffd\ufffd\u001f\ufffd\ufffd\ufffd\ufffd+\ufffd\ufffdY+\u001d\ufffd\u0013\r\f-=\u001c\ufffdqL\ufffd\u0014\u00103.\ufffdx\u07e3\ufffdw\ufffd\ufffd\ufffdX\ufffd\ufffdgh\u0778-C\ufffd\ufffd\ufffd\u0003\ufffd\f\u0003?Y\ufffd\ufffd\ufffd\ufffdu\ufffd>\ufffdQi\ufffdv\ufffd\ufffd\u064a\u0001\ufffd\ufffd\ufffd^\ufffd\ufffd5\ufffdF\ufffd)\u0007F@~J\ufffd\ufffd\ufffdo\u0011\ufffd2\ufffdJ\u0700\ufffdG\ufffdS~\ufffdx\ufffd$m\ufffd\u0017\ufffd\ufffdf\u0007x\u0001E\ufffd\ufffd>,\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdf<yr\ufffd\ufffd\u031f\u0015\ufffd`\ufffd8\u001e\ufffd\ufffd\ufffd\ufffd\ufffd\u000f\ufffd\ufffd/\u0323\ufffd\ufffd\u0019\ufffd\ufffd+s\fQ\ufffd\ufffd\u001c\ufffd\ufffdp9YU*\ufffdu\ufffd\ufffd\ufffdr\ufffdN\ufffd|\u0004\ufffdjY!\u0003\ufffd\ufffd\ufffd\u03b1\ufffdU\ufffd\ufffd]W\ufffdr\ufffd\ufffd8\u001c\ufffdr\ufffd\ufffd\u048as\u4ead\ufffdk\u001fi\ufffd\ufffd\u007f[\u00db}E\r\u0015,5T\ufffdNj\u001d\ufffd\ufffdC\ufffdZ\ufffd\ufffd\u0011\ufffd=\ufffdzw\ufffd\ufffdd=][#\ufffd\ufffdN\u0017\ufffd:LvUO\u001b?\u0013Wc\ufffdh\ufffdD3\ufffd6\ufffd\ufffd\ufffd\ufffd\u0019\ufffdp\ufffd\ufffd ~u\ufffda\ufffd\ufffd*\ufffdoJ\u07d9\ufffd>\ufffdq^\ufffd\u03e4\ufffd\ufffdM\u0708d\ufffdMn\ufffd\ufffdr\ufffd\u01c1\ufffdM\ufffd\u001fi[^\u0003\ufffd\ufffd\ufffdD\ufffd\ufffd\ufffd*\ufffd8\ufffdq\u001b\ufffdgCu\ufffd\ufffd\u04c9\ufffd\ufffdb\ufffd\ufffd\ufffd\u001f\f\ufffd\ufffd\ufffd\ufffdot3\u001a\u0018\ufffd\ufffd)\ufffds\ufffd\ufffd*S\ufffdQ/3<\ufffd\ufffd.\ufffd\ufffd]\ufffd.\ufffdl:+\u00162\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\rI\ufffd\n\ufffdm; 2U\ufffd\ufffd\u000fc\ufffd5\ufffd\u0011-\u001a\u001a\ufffd\ufffd\\*I\ufffd\ufffd\ufffdT\ufffd\ufffd\ufffd\ufffd\u000b\u007fI\ufffd\u001e+\\\ufffd\ufffd6UM\u03ac\ufffd\ufffd9X|%L[\ufffd\u000f>\ufffd5\ufffd\u001d[$\ufffdC0\ufffdQ?a\r)!\ufffdx:N\ufffd\ufffd\ufffd\u001e+\ufffd\ufffd\ufffdqy\ufffdq\ufffd-07\f>[J\ufffd\ufffd\ufffd\ufffd\ufffd28\u0007\ufffdse\ufffd\u071e\ufffd\ufffd\ufffdi\ufffdw\ufffd\ufffd\ufffd\u019cb\ufffdH\u01e5\ufffdw\ufffd,\ufffd\ufffd\u0309\u001a\ufffd\ufffdM\ufffd]-\ufffdL\ufffd\u025a\ufffdQ+\ufffd<\u0001\ufffd\ufffdQ\ufffdqF\f\ufffdq\ufffd\ufffd\ufffdj=\ufffd\ufffd\ufffdp\ufffd\ufffd\ufffd\u0013\ufffdf9)\u0004'\ufffd9\ufffd?ql\ufffdk\u0007\ufffd\ufffdI\ufffd\ufffdiX\ufffd\ufffd}\ufffd\ufffd6\ufffd|V&\ufffdc`A\ufffd\u0000\ufffd\ufffdL\ufffd\ufffd\ufffd%\ufffdX\ufffd\u0005+\ufffd\u0007\ufffd\u0015\u0531\u007f\u1fa3\u000f\ufffd\ufffd,\ufffd\ufffdj\ufffd1;\\\ufffd\ufffd\ufffd4\u0013\ufffdN\u000fQ\ufffd\ufffd\uf109\ufffd_c\u007f^.\u0003\ufffdF\ufffd\u000f\ufffdO\u001d\u00c2/\ufffd_j)\ufffd\u0011VOM\ufffd\ufffdy\u02db\ufffd\ufffd\ufffdr\ufffd\ufffd\u000e\f\u000e\ufffd}\ufffdj\u001b\ufffdf\ufffd\ufffd\ufffd\u0010\u05de\ufffdOD\ufffd\ufffd\ufffd@\ufffd\ufffd\ufffd\ufffd\ufffdF\ufffdjf\u0017M\ufffd\ufffd\ufffd\ufffd\ufffdw\ufffd\ufffd7B>\ufffd\ufffd\ufffd\ufffdW]5\u0015/t\ufffd\u0006\ufffd\ufffd\ufffd(\ufffd\u0016OV\ufffd\u0003\ufffd\u00e5.\f\ufffd\u022a\ufffd\ufffd:\f,j\ufffd\ufffd\ufffdd\ufffd%\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdf\ufffd\ufffd\u0018\ufffd\ufffd\u01c6B\ufffd0\ufffd\ufffd#\u000b;\u0468\ufffd8\ufffd\ufffdR\ufffd\ufffd4vv\ufffd\ufffdU\u001c\ufffd\ufffd_\u00ea\ufffd$\u0001Y\u0013G;<9\ufffd\u0006\ufffd\ufffdo\ufffd^\ufffd\ufffd{@\ufffdJK\u000f\ufffdW^f\ufffd\ufffd\ufffd,\ufffdE\u001d\ufffdAr\ufffd\ufffdQ\ufffdUK3f\ufffd\ufffd\ufffd\uc444\u0016\ufffdx\ufffd{\ufffd\u0013\u0019K\u0019MV\ufffd+\ufffd\u0527\tS\ufffd\ufffd\ufffd,s\ufffd7\\\ufffd\ufffd\u895f&\ufffdA\u0254\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0006\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdx\ufffd\ufffdJ^\u001b\ufffd\ufffd\ufffd'g\ufffdTH\ufffdGML\u04c3,\ufffd\ufffd<\ufffd\u0003$\ufffd\ufffd\u0001\ufffd\ufffd\ufffd\u059eM\ufffd\ufffdK\ufffdO\ufffds0\ufffdw\ufffd\ufffd\ufffdx\ufffd\ufffd\ufffd\ufffd\ufffdE\ufffd\ufffdq\ufffdOYP\ufffd\ufffd{ \r\ufffdZ;\ufffd\u0007A\ufffdW\ufffd\ufffd\ufffd:\ufffdeVUk\u02d3|\ufffd\u044e\u001e*1[\ufffd\ufffd.3\ufffd^\ufffdk\ufffdj\ufffd\ufffd=->\ufffd%\ufffdrr\ufffd\u061dW\u0719\ufffd\ufffdU]%\ufffd9\u001b]\u001cUr\ufffd\ufffd#\ufffd\u0000\u03f3\ufffd\ufffd\ufffdE\u001bg'\r\ufffd\ufffd\ufffd\u0016G#\ufffd\ufffd\ufffd\ufffd_\ufffdE\u0014\ufffd\ufffd\ufffdo\ufffd\u014d\ufffd\u0010D]\ufffd#\ufffd\u0002\ufffd\ufffdJ\ufffd\u023a\ufffdU?3C\ufffdhC{\ufffd1\ufffd\u0015\ufffd8\u0018\\\ufffdZn\ufffd\ufffd\ufffd\ufffd\u007f\ufffd\ufffd\u0011\ufffdr\ufffdr\ufffd\ufffd$p\ufffd_3\u001e<\ufffd)\ufffdv\ufffd#\ufffd\ufffd\u001d\ufffd\ufffd\ufffd\u001f\u032e\ufffdW\ufffd#\ufffd5\u000e>]1\ufffd!1\u0013Y\u00062\ufffdF\ufffdB~\ufffdW\u0006Tc}\ufffd\u02ac\ufffd\ufffd\u001f=\ufffd(\ufffdC\ufffd\f\ufffd9\ufffd\u0017I#2\ufffd\u02d6\ufffd5E;\u0115\ufffd\u0001OO\ufffdw\ufffd\u000ew\ufffd\ufffdr\ufffd\ufffdhT\ufffd\ufffd;\u0018\ufffdZK\ufffd}\ufffd\u0015\ufffdN\ufffd\ufffd\ufffdC\u0005\u001dCGC\ufffd\ufffd\ufffd\ufffd\u072d\ufffd\u00140\ufffdt\ufffds\ufffd:\ufffdW\b\ufffdq\ufffdVG\ufffd\ufffd\u0007=\u0010\u0003%\ufffd\ufffdCG\ufffd\u001c\ufffd\ufffd\ufffde\ufffdX\ufffdU\ufffd^\ufffd\"\ufffd\r\u001f\u0003z\ufffd\ufffd\ufffd\ufffd\ufffdCrms\u0000\u001c\u00d7\ufffd\ufffd\ufffd\u001b\u001f\ufffd\u000bT\ufffdN\u0010v\ufffd\ufffd\ufffd\u04ad'\ufffd*ET\ufffdws1\ufffd\u0013\ufffd\u001e+\ufffd\ufffd9\u000e\ufffd\u001c\ufffd\u0015\u031d\ufffd8\ufffd<w\u001e\ufffd*h\u3e18t\ufffd\u00029\ufffdi\ufffdSt\ufffdQ*L\u00018\u0007e\ufffd\ufffd*\u062c]\ufffdT4\ufffd\ufffd{\u06c3W\u0010B\ufffde\ufffd\ufffd)\ufffd\ufffd>\ufffd\ufffdJ\ufffdH\\#\ufffd\ufffd\ufffd\ufffd\ufffd<\ufffd;\ufffd\ufffd\ufffd\u0013\ufffd\ufffd\ufffdw\ufffd\ufffd\ufffd\u001d7\ufffd\u000e\ufffd\ua6b9mh\ufffd?rF\ufffd\ufffde\ufffd\u000f\u0012\u000bs\ufffdqH\ufffd#c\ufffdy\ufffd\u0019\u0005}?B\ufffdgMN.\ufffd\f\ufffd\ufffd\ufffd\ufffdq\ufffd.H2\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd\ufffdWr\ufffds\ufffd\ufffd\ufffd:\ufffd\ufffdcy\u0011\ufffd\ufffd\ufffd<G\ufffdN\"K\ufffd\ufffd\ufffdt\u0318\ufffd\ufffdA#\ufffd\ufffd\ufffd\u04d6\ufffd\ufffd\ufffdy\ufffds\u007f\u00043\ufffd|\ufffd\ufffd\ufffd\ufffd\ufffdq\ufffd\ufffd\ufffd\u0018\ufffdw\u02e8\u018d5&\ufffd\ufffd\ufffd \ufffd\u0007}\ufffdw\u0000\ufffde\ufffd\ufffdws\ufffdrm\ufffd]3\ufffd\ufffd}\u001eC\u0007@\ufffd\u000e\ufffd\ufffdY;\u0013\ufffd\u0347\ufffd\ufffd\ufffdWM\ufffd,\ufffdR\ufffd\ufffd\ufffdU\ufffd\u0013\u001eM\ufffd\ufffd\ufffd.\u000e\ufffd\ufffdX\ufffdY\ufffd\ufffd\u0016\u001bv~0\u0701\ufffdK\ufffdt\ufffdl.S\u001e\ufffd\u0003\u0c76\u0151\ufffd\ufffd3c\u001e\ufffd\ufffd\ufffd\ufffdM\r(\ufffd\\%\ufffd\ufffd<\ufffd\ufffd\ufffd\"l\ufffd\ufffdp\ufffd\ufffd\ufffd\u0002|H\ufffdN\ufffd1\ufffd$\ufffd\ufffd\ufffd\ufffd\ufffd\u000e\u0013\u0117\ufffd\u001e\u001cy\ufffdr;\ufffd\ufffd\ufffd\ufffd\ufffd?~y\ufffdSdi\ufffd\ufffd+\ufffd\ufffdt\f\u001d\ufffdn\ufffdUn\ufffd\"\ufffdR@\ufffd\u0003\ufffd\u0013\u07a1NK\ufffd]F\ufffd3N\ufffd\ufffd\ufffdJ\ufffdH\u001b\ufffd8\ufffd\u000f\ufffdU\ufffd~e\ufffdQ\ufffd]\ufffd1\ufffd\u001f\u0015\ufffd\ufffd\ufffddN\ufffdy\u00abDng\ufffdx\ufffd\ufffd\ufffd\u0210\ufffdE\ufffd\ufffd\ufffd\ufffd\u0006\u000b\ufffdUR.Dd\ufffdW\ufffd&\ufffd~v\ufffd\ufffdY \ufffd$\ufffd\u4b55\ufffd=\u0007\ufffd}lo\ufffdy,\ufffdN.\ufffd\ufffdo\ufffd\ufffdN\ufffd\ufffd?$\ufffd\ufffd\ufffd\ufffd_K\ufffd>y\ufffd\ufffd_D\ufffd\ufffd\ufffdy\ufffdm\ufffd\ufffd\ufffdKfv\ufffdz\u0005\ufffd@e\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0006\n\u0003\ufffdx\ufffd\ufffd\u001f\ufffdxq\ufffd.\ufffd<\ufffdQ\r+\ufffd/\u0018\ufffddv\u001a\u00ff\ufffd\ufffd\u0016\ufffd\ufffdb\u001e\u001f/\ufffd%\ufffd\ufffd\ufffd\ufffdUx\ufffd\ufffd\ufffd\ufffd\u0011\ufffd\ufffd\ufffd\u0001\ufffdx/\ufffd+\ufffd96\ufffd\ufffd\ufffdI4\ufffdb\ufffdR\ufffd\u0016\ufffd\u001c\ufffd\ufffd\ufffde\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd'\u0013\u0017cr\ufffd4J7l\ufffd,v.L\ufffd<\ufffdb\ufffd%l\ufffd\ufffd\u0012J\ufffd0\ufffdb7$\u000fX\ufffd$\ufffdHGD\ufffd&\ufffdO\u0015[\u0016L\u076e\u0282\ufffd\ufffd~\u000eB\ufffdH\u05c3\ufffd\u0012\ufffd\ufffd\ufffd\ufffd\ufffd5\ufffda\ufffd2\ufffd+p\ufffdK\ufffdK\u0016L\u0412\ufffd\ufffd\ufffd>*,\r\ufffd\ufffd\u07a6\ufffd\u0019\ufffdX\ufffd\ufffds\ufffdV\ufffd\u001752)H\\\ufffd\ufffd%\ufffd1\ufffd\ufffd\ufffd\ufffd\ufffd\u0012j7\ufffd\ufffd Z\ufffdI\ufffdUrz\ufffd\ufffdw\ufffdB\u001a\ufffd\ufffdr\u001f\ufffd\ufffd\ufffdO\u0003\ufffd\ufffd\ufffd\ufffd[~\ufffdO\ufffdQUp\ufffdr\ufffd]\ufffd\ufffd\u000b\ufffdH;\ufffd6y\u0455p\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@u\u0017j:\ufffdV\ufffd\ufffd\u0641\ufffdq\ufffdjh\ufffd\u0007O\u01f1\ufffd\ufffd\ufffd\ufffdF\ufffd\ufffd8\ufffd]\ufffd\ufffd\ufffd\u0005'Y\\\ufffd\\x\u0001\ufffdt_8\ufffd\ufffd\ufffd\ufffd\u001d\ufffdi\ufffdu\ufffd\u020bP\ufffd;eb\ufffd\ufffd%\ufffd\ufffd\ufffd&Ia\ufffd\ufffd\ufffd\ufffd&n\ufffd\u0013,\ufffdcUe\ufffd+wU{\u000b\u0611\ufffd\u001b\u007f\"\u0262V\ufffd\ufffdT,H:*\ufffdn\ufffd\ufffd&\ufffd\ufffd\u0000\u0005\u0004\ufffd\ufffduR\ufffd\u00e2\\\ufffd \ufffdX\u06f9,H\ufffd\u0006\ufffd\u0012'q\ufffd\ufffd\u0525\ufffd5'(\b\u072c\ufffd\ufffd7\u001d\ufffd\ufffd\ufffd\ufffd\ufffdm\ufffd\ufffd\u07ad\ufffd\ufffdd\ufffdTG0\ufffd+\ufffd\ufffd\u0005w\ufffdT\ufffd,m)|\ufffd\ufffd\u0166\ufffd\ufffd\ufffd\ufffd\ue60eX\u0017\ufffdXy9\u04cbg\ufffd>M\ufffd$\ufffd\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0003\ufffd\ufffdT\ufffd\ufffd~\ufffd|'\ufffd\ufffd\ufffd\ufffdD\ufffd\ufffd\u0000\ufffd?3\ufffd\ufffd}\ufffd<\\\ufffd\ufffd\ufffdf\ufffd,\ufffd\ufffd\ufffd]\u0016a;\ufffdX\ufffd^<\ufffd\u0018p\ufffd2I\ufffd\ufffduFX\ufffd,l\ufffd%a\u0003eFY\u00137r\u045d\ufffd\ufffd\ufffd\ufffdN\ufffd\ufffdD9\ufffd\ufffd#pp\u00067\ufffd\ufffdIJ\ufffd\ufffd\u0017\ufffd\ufffd$gM\ufffd\ufffd\ufffd\ufffdrQ\ufffdQ\ufffdv\ufffd,l:\ufffd7iU.l:(\u0006P\u0019\ufffd@d\u001d\ufffd\ufffdS{\ufffd\ufffd\ufffd\u0019\ufffd>%Q\ufffdD\ufffd\ufffd\ufffd aJ\u0006\ufffdA\ufffd\ufffd@F\ufffddU\ufffd8\ufffd+\u01d28*\ufffdr\ufffd\ufffd\u000b\ufffd\ufffd]\ufffd\ufffd\ufffd\ufffd\u001c\\K\ufffd9z\u001e\ufffd\ufffd\ufffd\ufffd\ufffd\u0005\ufffd^\u000b\ufffd!\ufffdy|\ufffd&H\ufffd\ufffd\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u000e\ufffd\ufffdN3\ufffd\u02ee\ufffd'\ufffd?\ub6b4N\ufffd\ufffdE\ufffd\ufffd\u0003\ufffd\ufffd\ufffd\u001e\ufffd\ufffd7U\ufffda\ufffd\u000b.[\ufffd\ufffdbe\ufffdn2\ufffdH\ufffd;z*2\ufffd\ufffd\ufffdd*Z\ufffd\ufffd\ufffd>N\ufffd\ufffd\t\ufffdn\ufffd\ufffd\b#\ufffd\ufffd\ufffd\ufffd}O;C\ufffd\u000f\ufffd a\ufffd\ufffd{\ufffdz\ufffd78\ufffd\u0004\u0015\ufffd=3\ufffdu\ufffd\ufffd\ufffd\ufffd\ufffd`\ufffd\ufffd\ufffd>31\ufffd\u0015\ufffd<\ufffd*\ufffd=\ufffd8\ufffd\ufffd\ufffd&\ufffd\uaebb{\u001e\ufffdfSZ\ufffd\ufffd\ufffd\ufffd\u0000\u0006\ufffdm\ufffd\ufffd^\ufffd\ufffd|\ufffd\t\r\n\ufffd\u007f7\ufffd\ufffd?cV\ufffd\ufffd\ufffd7}Gp\ufffd\ufffd\ufffdO\u001d\ufffd\ufffd\ufffdn\ufffd\ufffd>\ufffd\ufffdt\ufffd\ufffd\ufffda\ufffdK\ufffd;\ufffd'c0|\ufffd\ufffd\u063a<\u03e22\ufffdd[\ufffd\ufffd\ufffd\ufffdn\ufffd;\ufffd\u0000\ufffd\ufffdC4\ufffd\u001f\ufffdG\ufffdxa\ufffd\ufffd\u000f\u0016\ufffd\ufffd\u0017\ufffd\u0005O\ufffd\ufffdy\ufffdr\ufffd\ufffd\ufffd\ufffd\ufffd`\ufffd9\u001b\ufffd\\\u0001\u001d\ufffd`\ufffd2\b'\ufffd\ufffd\ufffd%\ufffdd\ufffd\ufffd\n\ufffd\ufffd\ufffd\ufffd\u001b\ufffd\u0013\u0015\fE+\ufffdO\ufffd\u0003\ufffdk\ufffdds_\u00bc\u0341\u00a0W$i\ufffd\ufffdB\ufffd\ufffdm\ufffdU.l\u078a\u0001\ufffd\u05fc\ufffd\ufffdk>lG\u00fb<\ufffd\ufffd7\ufffd]\ufffd\ufffdw\t\ufffd\u6765\ufffd\ufffd\ufffd\ufffd\u0007\ufffd>b}^\ufffd\ufffd\ufffd<7w\ufffd\ufffd\ufffd\ufffd\u001d\ufffdz\ufffdL\ufffdD\ufffdX,V-\ufffd\ufffd]\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd1\u0664i=\u0014\ufffd\u742e\u0772x\ufffdu\ufffd\ufffd\ufffd=[-\u0013\\\ufffd[\u0005,\u0011\ufffd6\u000f\fr\ufffd\ufffd\ufffdz\ufffd>\ufffd\ufffdiABT/o\ufffd\ufffd\u0000&\ufffd\ufffd\ufffd&\ufffd\ufffd;_\ufffd}\ufffd/\ufffd\u02d5\u001d\ufffd_E\u0015\ufffd\ufffd#\ufffd\u001fs\ufffd\ufffd\ufffd\ufffdB\u000f\ufffds[\ufffd\u0003\ufffd\ufffd\u0007\u0019\ufffd'c\ufffdg]\u0003\ufffd\ufffdM\ufffd\ufffd{\ufffd\ufffd\ufffd\ufffd[\ufffd\ufffd\ufffd\ufffd9\ufffd<\u06ae\ufffdUwG\ufffdm\ufffdJK\u0776\ufffd\ufffd\ufffd\ufffd*\ufffd*\ufffd\ufffd\ufffdTB\ufffd\ufffdJ\ufffd9\ufffd\ufffd\ufffd\u0010\ufffdx\ufffdajaj\u0285EiE\ufffd\ufffd\u001b\ufffd\u001a\ufffd\ufffd\rH\ufffdW\u0012+gr\ufffd\u070d\ufffdA$e\\\ufffd\u0013\ufffd\ufffdE\ufffd\u001c\ufffd\ufffd\f\ufffd\ufffd\ufffd\u001e\u04c0\u001f5\ufffde\ufffd\ufffd\ufffd~\ufffd\ufffdb\ufffd\ufffd/C\u07b0\ufffd\ufffd\u07c2\ufffd/\u0007\ufffd\u0010\ufffd<\ufffd\\\ufffdu\ufffd*\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@u7j\u0006\ufffdpf\ufffd\ufffd-7\ufffdDkE\ufffd\ufffd\ufffdY\ufffd\ufffd>\ufffd\u001e&f\ufffd|\ufffd#u\\\ufffd\u0018\u0016\u0016\\\ufffd\u0011\ufffdece\ufffd\ufffd`\ufffd\ufffdE\ufffd\f\u8c72\ufffd{\ufffd\ufffdNX\ufffd7j\ufffdrR\ufffd\ufffd\ufffdS)=\u0003\u0018\ufffd\u37f0.V\u000b\u000e\ufffdx\ufffdP\ufffd2i~\ufffd'=\u0014\ufffd3\ufffd;[\ufffd\u001a\ufffdw\ufffdn\ufffd\ub4cc\ufffdW\n\ufffdN\ufffd\ufffd\ufffd}\ufffd\ufffd&\ufffd4y\u0000\ufffd\ufffd\ufffda!\ufffd\ufffd\ufffd\ufffdR\ufffd*\ufffd\ufffd\ufffd\ufffdoZN\ufffdG3\ufffd\ufffd\u001f\ufffd/\u0011\ufffdJh-?\ufffd\"eM\ufffd\ufffd\ufffd\ufffdTS<\u0002\u027d\u001cRH\ufffd\ufffd\u000e\ufffd\u000e,h-\ufffd\u0004\ufffd\ufffd\u02a9\ufffdq\ufffd\ufffd\ufffdJ\ufffdSC\u001c05\ufffd\ufffd\u001bCY\u0014c\ufffd\ufffd\u0003\ufffd\u0003\ufffd.3\ufffd\u001a\ufffd])\ufffd#\u2916\ufffd\u0014v\ufffd\ufffdl\ufffd:J}sc\ufffd\ufffd:\b\u0000k\u001bV\ufffdK\ufffd\ufffd\u000b{\ufffd\ufffdnn\ufffd\u0007$\ufffd\ufffd\ufffd\ufffdu\ufffd[O\u0015\ufffdJ\ufffd\ufffd\ufffd\ufffd^\ufffdf\ufffdfw\ufffd5iS\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd_\ufffd\ufffd&\ufffd@\ufffd\ufffd\ufffd0\ufffd\ufffd.\ufffd\u06a0\ufffdn2p0\ufffdd7\ufffd\n\u0001\ufffd\ufffdb\ufffdo\ufffd\ufffd\u000b\ufffd.\ufffd\ufffd\u0002\ufffd\ufffd\ufffdG\ufffd\ufffd6\ufffd\ufffdr\ufffd>\\\ufffd\u000bf\ufffd\ufffd\u0007\ufffd\u0019\ufffd*2\ufffd[W\ufffd:\ufffd]_\u000e\ufffd\ufffd\ufffd?\u001fk\ufffd\ufffdkkg\ufffd\ufffd\ufffd\ufffd\u0015\u0013\ufffd\ufffd#\ufffd<\ufffds\ufffdr\ufffdI\ufffd+\ufffdxS\ufffd:Q\ufffdU\ufffd\ufffd[\ufffd\ufffd\u000f\ufffdnr9\ufffd\u001ah\ufffd\ufffd\u000b\ufffdz[L\u0019\ufffd+/W:k{\ufffd\u001f\ufffd\ufffdek\u000b\ufffd|9\ufffd\u04a5\ufffd\ufffd\ufffd&$\ufffd\u076d\u001b\u066f\ufffd:\u000bF\r-l\ufffd6i-\u0006/E;j\ufffd\ufffdJ\ufffdg\ufffd\ufffdW8\u0012\ufffd\u0011\u0513\ufffd.<\ufffd\ufffd\ufffd\ufffd\ufffd,\ufffd\ufffd\ufffdH\ufffd\ufffd'I\ufffdm{\ufffdxwo/\ufffd\u0012\ufffd \ufffd\ufffd\ufffdy'\u0568\ufffd\ufffd\ufffd\ufffd8\ufffdC&\ufffd~\\\u41b9\ufffd;/\ufffd\ufffd\ufffd\ufffdG\ufffdC\u0017M|J\ufffd\ufffd[\u007f\u046f[\\\u07b2j\ufffdqq>\ufffdx\ufffd\ufffd\b\u0651\u001b\ufffd*mm\ufffd\u0011\ufffd\ufffd\ufffd!~7WKb\u0011\u0015;\ufffd]L\u007f\ufffd\u001b\ufffd\u0edc\ufffd\ufffd\ufffd~\ufffd\ufffdb\ufffd\ufffdG\ufffd\ufffd\ufffd\ufffd\ufffd\u0005\ufffdF\u0013\ufffdc\ufffdy\ufffd\ufffdd\ufffd\ufffdT \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd\ufffd~\ufffd\ufffd<\u0017\ufffd\ufffd\ufffd%7\ufffdLKG\ufffd\ufffd|\u0004\ufffd\ufffd\ufffd]\ufffd#\u012d\ufffd\u0017\ufffd\ufffd{\ufffd\ufffd,\ufffd\ufffdXX,E\ufffdQ\ufffd-\ufffdwXdd\ufffdXa\ufffdV&I\ufffdk\ufffd?&\ufffd\ufffdz\ufffd\ufffd\u001b\ufffdr\\\ufffd\ufffd\u0014\ufffdq\ufffd2F\ufffd\ufffd\ufffd\ufffd'\ufffdG\r\ufffdQ\ufffd/\ufffd$\ufffd\u0000Fq\ufffd1r\ufffd(#\ufffd2\ufffd\ufffdj*\u0260\ufffd\ufffd\ufffdO\u0003\ufffdrD\ufffdH8#\ufffd\u000fr\ufffd\u0002\u0012\ufffd\ufffd\u0007t\ufffdG\ufffdJ.\u0012t\ufffd\ufffdz~\ufffdp\ufffd\ufffd\ufffd\u000b\ufffd\ufffd\ufffdK}\u048av\ufffd\ufffd\ufffd\ufffd\ufffd>7\ufffd\ufffd|\b\ufffdU\ufffdV\u4ac3\ufffd\ufffdg\ufffd\ufffd\u001f\ufffd\ufffd^Q\ufffdT\ufffd\ufffdV:\ufffd\ufffdXX.\ufffdYc\ufffd\ufffd\ufffd>\u0011\ufffd\ufffd\u0010\u001c2{\ufffd\ufffdWCkfBI\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd.\ufffd\ufffd\u0003\u06b2\u001dk\ufffd+__[J%\ufffd\ufffd\ufffd\ufffd\ufffd(c\f1\ufffd\u000b\u001a6kAx\ufffd{\ufffd\ufffd\ufffd:?Yb\ufffd\u0c9a\ufffd\ufffd\ufffd{/\ufffd\ufffd\u0000\ufffd\ufffd;\ufffd\ufffd\ufffd\ufffd\ufffdK\ufffd\ufffd\u000e2\b\ufffd\ufffdS\ufffd\ufffdEvk\ufffd6\ufffd\ufffdA\ufffdw\ufffd\u0012H7*\ufffdDeA'_v\ufffd\u04b5\u001a\u04c2\ufffd\ufffd\ufffdG\u001b\ufffd\ufffd\ufffd\ufffd\ufffdC\u001cc%\ufffda\ufffdkq\ufffdY\ufffd\ufffdn\u001d-\ufffd\ufffd\u00134\ufffdZn\ufffd\ufffd?O3\ufffd\ufffd):\ufffd\u001d\ufffd\u0229\u001a\ufffd{C\u0004\u0003\ufffd\ufffd\ufffdM/\ufffd\ufffde\u02e7\u0739g\ufffdVY.\ufffdWKt\uf8ae\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd?z)X\ufffd\ufffd8y\ufffd\u0001\ufffd\ufffd.\ufffd\ufffd\ufffd\ufffd(m's\ufffd\ufffdA~\u0017-3\u0016\ufffd\ufffdf\ufffd\ufffd\ufffdw\ufffdxb\r\ufffdK7\ufffdu-C\ufffd\ufffd?\ufffd\u001e\ufffdF\u001cw#\u0007\u0019\u0615\ufffdT\ufffd}\ufffd\ufffd'\ufffddR\ufffd\ufffd\ufffd\u000b\ufffdh\u001e!\ufffd'\ufffd\u0017\ufffdfQ\ufffdW\ufffd\ufffd\ufffdAG\u001b\ufffd\ufffd<0\ufffd\ufffdD\t\u001b\ufffd$k\ufffd\ufffd\u0012\ufffd`\u000e\ufffd\u013d\ufffdb#F\u0014\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdv_\ufffdm\ufffd\u0015)E\ufffdz#\ufffdx:\ufffd(\ufffdlF\ufffd\t\"wUb\ufffd\u000e\ufffd{\ufffdE\ufffd\ufffds\u0016\ufffd\ufffdK\ufffd\u0013q\ufffdg\ufffdc\u02d8.\ufffd)W\ufffd\ufffd\ufffdG\u000b\u0015\ufffd\u0019\ufffd\ufffd\ufffd\u0018\ufffd`_c\ufffd~\ufffd>\ufffd\ufffd\u02d3u\ufffd*\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@uOi\u0197pZ\ufffd\u0007\ufffd\ufffd\ufffdbZGU\ufffd\u0000O\ufffd\ufffd`\ufffd\ufffd'\ufffd\u0643\ufffd\ufffdwfoH\ufffd\u0545\ufffdx\ufffd\ufffd\ufffd\u02d6\ufffd\ufffd0\ufffde\ufffdFN\u0158\ufffd\ufffd\ufffd\ufffdX\ufffd\ufffd1\ufffdc\ufffd\ufffdrZ\ufffd\ufffd.\ufffd\u0752\ufffd\ufffd\u0015\ufffdX\ufffd\ufffdqS-O\ufffdn\u0016\ufffda\ufffd/\ufffd\ufffd\u01d3\ufffdg;\ufffdo\ufffd\ufffdz/s\ufffd^\ufffd\ufffdJ\ufffdpX\ufffdZ\ufffd'\ufffd\ufffd\ufffd3L\u0003\ufffd\ufffd(\ufffd\ufffd\u001a]t\ufffd\ufffd\ufffdZ\ufffd:\ufffd}]\u0015P;\ufffd\ufffd\ufffd\ufffd\ufffd<}\ufffd2\ufffd\ufffd\ufffd&\ufffdX\ua313^i\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u05f3\ufffd\ufffd}dQ\ufffd,u\u0011\ufffd<\u0000\ufffd\ufffd\ufffd:\u001av\ufffd\ufffd\ufffd\ufffd7\u0003\ufffd\ufffd\ufffd,\ufffd\ufffd1\ufffdp\u0019t\\\ufffd\ufffd^\ufffdw\ufffd\u0000\ufffd\ufffd9\ufffdpuq\u001f\fO\u044e\u0002\ufffd.\ufffd\ufffd\ufffd*m\ufffdn\ufffd\u02edQ\u0012W\ufffd\u001c\ufffdWL\ufffd6h\u001b\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd_6\ufffd\u001fQT\u03b17{S[%\ufffd\u0000\ufffd\ufffd\ufffd-\ufffd\ufffd\u000b\u000bO\ufffd\ufffd\ufffdv:\u000f\u0005\ufffd\ufffdKh\ufffd\u0017\ufffd+\u001b\ufffd5R\ufffd\ufffd;\ufffd\u0004\ufffdU2.\r\ufffd;\ufffd\u0012g8Yi\ufffd\u0455\ufffd\ufffd\ufffd\ufffd\ufffdxO\ufffd\u0007b\ufffd\ufffd/5\ufffd\ufffd\ufffd\ufffdN\ufffdQ\ufffdH\ufffd\ufffd,\ufffd\ufffd\ufffday\ufffd\u0388}f\u0012}\u07a0\ufffd\u0004\u0010\u001b\ufffd?J\ufffd\ufffd\u001a\ufffda\ufffd\ufffd\u001e\ufffd$\ufffd\ufffdg\ufffd\ufffd\ufffd\u0000~\ufffd\ufffd\ufffdY\ufffdU(O]$x\ufffd\ufffde\ufffd\ufffdWKI_IQCU\u001eC\ufffd\ufffd\u00171\ufffd\u001e-v\u000fwx^\ufffdN\ufffd9\ufffdU6\ufffd\ufffdN\ufffd8J\u001b8\ufffd}\ufffd\t\ufffd\u0001\ufffd8\ufffdr\ufffd\ufffd\ufffdj\ufffdm\f\ufffd\ufffd.u\u0011\u0016\ufffd\ufffd\ufffd\u0517\ufffd\ufffd`w7'+\ufffd\ufffds\ufffd\u001eUM\u052d5u\ufffd=\ufffd\ufffd\ufffd\ufffdn\u001f\u0005<O\n\ufffd\ufffd7\n\ufffdqn\ufffd.\ufffd\ufffdi{^_\u0005\u001cg\ufffdw\ufffdji\\y\ufffd#\ufffd2~[\u000e\ufffd/\ufffds\ufffd\u06aes\ufffd\ufffd*\ufffd~\u0017\ufffd\ufffdo\ufffd\u001c7\ufffd\ufffd\u065fX6;-~<4v\t\ufffd3\u0012\u000e\ufffd\b.\bOL\ufffd\ufffd \ufffd\ufffd\ufffd\u001e\u0007\ufffd3j\u0000\u07ad\ufffd\u01a6>\ufffd\ufffd\u000b\ufffd\ufffd?\ufffd\ufffd\ufffd\u0016'\ufffd'\ufffd{\ufffd/p/\ufffd\ufffd\ufffde\u0013\ufffd\u001f&\ufffd@@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0001\ufffd]\ufffdFx+\u007f\ufffd\ufffdSt\ufffd\u0000\ufffd\u0134\ufffd\ufffd\ufffd\ufffd#\ufffd\ufffd\ufffddx\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd&o(\ufffd\ufffd\u0016\u0016X\ufffd=\ufffd\u0019r\ufffd\u000e\u001c1\ufffd\ufffd\ufffd\ufffd\ufffdn3\ufffd\ufffd\ufffd\u0016\u0007r\ufffd\ufffd\u0632vV$c\ufffdv{\ufffdUSq\ufffd\ufffd\ufffdN\ufffd\u00100\n\ufffd\ufffd\ufffd\ufffdjd\ufffd\ufffdH$'\ufffd\ufffd\u0000\u0015\ufffdu'/\ufffd\ufffd\ufffd\u001e\ufffd\u067e\u007fz\ufffd\u00cal\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd*,I\ufffd\ufffd\t\u0001*,^\ufffd\ufffdAcl\ufffd\u001d\ufffdCWw1\u0405e&\ufffd\ufffd/\ufffd\ufffd\u02f1\ufffd`\u001f\"2\ufffd\u000b\u0015Yq&bt\ufffd.P\ufffd>\u001f\fl\ufffdN\ufffd\ufffd;\ufffd\u0718\u04ccxF3\ufffd\ufffd\ufffdTm\u02d3'\ufffd\u001e\ufffd\u0016\ufffd%edk!\ufffdD\b\t\ufffd>\n\ufffdHd\ufffdD}\ufffdK\u001cn\ufffdPZ\ufffd\ufffd\ufffd_U\u000bA>%\ufffdwyB\ufffd\u0000\ufffd\ufffd\ufffd\ufffd8X\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\f0/\ufffd(\ufffdS\ufffd\ufffd\u000f\ufffde\ufffd\ufffd\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0003\ufffd\ufffdN\u007f\u052e\ufffd\ufffd\ufffdS\u007f\ufffd\u0134\ufffd\ufffd\ufffd\ufffd3\ufffd\ufffd\ufffddx\ufffd\ufffd\ufffd\u0000\ufffdn|3zD\ufffdXYbx\ufffd\ufffd\\\ufffd\u0019\ufffdc|\u0017E\ufffd\ufffd\ufffd\ufffd\"\u0146\ufffd\ufffd\ufffdV\ufffd\u02ac\ufffd,geF\\\ufffd\ufffdU\ufffdD\ufffdP\ufffd\ufffdI'\ufffd*\ufffd\u0120($\ufffd\ufffd\ufffdT\u0004\ufffd\ufffdcf\ufffd\ufffd6\u0003*\u0000@a\u0000@g; 5%\u0001\ufffdn\u0014\ufffd\u0019\u000b\ufffd\u0002\ufffd*A!\ufffdVH\ufffd\ufffd\ufffdX\ufffd~\u05a9\ufffd\u000f\ufffd\ufffd\u000f\ufffdZ\ufffd\f\ufffd|\u0097\ufffd8\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd}\ufffdO\ufffdG\ufffd\u0019Y\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0001\u057d\ufffd\ufffd2pcP\ufffdg\u001e\ufffdq\ufffd\ufffd\ufffd\ufffduB\ufffd_3\ufffd\ufffd\ufffddx}\ufffd`\ufffdk\ufffd\ufffd\ufffdrfuX\ufffd\ufffd\ufffd\ufffd\ufffd\u001f\u0015FIi\ufffd\u0004,l\ufffd-D\ufffd\ufffd\uac32\ufffdn\u0016&\t\u0002\ufffd,J\u00c0\u0002\ufffd\ufffd]\ufffd\u07f1 \ufffdUR\ufffd\ufffd\ufffd\u05f2&\u000b\u001a\ufffd\ufffdB]\ufffd\ufffdp\ufffd\ufffd\ufffd\ufffdD\ufffdT\u0019QbM\ufffd3\u07f2\ufffd\ufffd\ufffd\u001c\ufffd\u0153$\u0005E\ufffd$%\ufffd\ufffd-\ufffd\n\u001ai\\\ufffd\ufffdc\ufffd\u001a\ufffd\ufffd-{\ufffd%K$\u05156+s?W\ufffdAb'\ufffd\ufffd\ufffdY\u000e\ufffdfF4\ufffd-i_oV\ufffd\u01cd}8\ufffd\u0000X\ufffd\ufffdd\ufffd\ufffd)z\ufffd\ufffd\ufffd\ufffd\t\ufffd\u001e\ufffdo\ufffd\u0017\ufffd\ufffd\ufffd\u0004y\ufffd\ufffd\ufffd\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u001de\ufffd9\ufffd\ufffd\u001b\ufffd`\ufffd\ufffd\ufffd\u001f`d\ufffd\ufffd\u03fb\ufffd\ufffdi\ufffdN\ufffd\ufffd\ufffd9\ufffd?\ufffdG\ufffd\u0019\ufffd\u0019_4\ufffd\ufffd\ufffdL\ufffd\u0015\ufffd\ufffde\ufffdXgU\ufffd\ufffdx\ufffd\bX\ufffdtZ\ufffd\ufffdy\ufffd,\ufffde\ufffd\u0001\ufffd\ufffd&\t\ufffd\ufffdQ\ufffd\u0012TEI\u0004\ufffdO+ \ufffd&\ufffd\ufffd$\ufffd\rk\u001a\u0006I$\ufffd\ufffdg*\ufffd\ufffd\u03b4\ufffd(\ufffd\ufffd\u001dEM]\ufffd?\u000fl>\u0015>\ufffd-\ufffd\ufffd\ufffd\u0458\ufffd\ufffd\ufffdN\ufffd\ufffd\ufffd8\ufffd\u001b;\ufffd\ufffd\ufffdE\ufffd\ufffd\ufffd\ufffdaG\\i]>\ufffdW\ufffd\u000e\ufffd\ufffd:Z\ufffd\ufffd\ufffd\ufffd\u001a\ufffd\u05e9\ufffd\ufffdW\ufffd\ufffd4\ufffdJ9wd\ufffdr\ufffd\u0018\ufffd\ufffd3\ufffd\ufffd\u04f1Yv#\t'\n\ufffd\ufffdZ\ufffd9\ufffd\ufffd\u04e9\ufffd96;\u001d~K\ufffd\ufffdt\ufffd\ufffd_\ufffd\ufffd\ufffdJ\ufffd\ufffd1{\ufffde\u0000Qpl\u0771\ufffdX\ufffd%\u00044\u0017\u0013\ufffd\ufffd\ufffd\ufffd\u0016E\t\ufffd\ufffd\ufffdr\ufffd\ufffd\u0000f\ufffd\ufffds\u0683\ufffd\ufffd<\ufffdu\u0015\ufffdRA-k\u001d\ufffd%=\u000b]P\ufffd\ufffdpy\ufffd\u0001\r\u01c19\ufffd[~\u0007\ufffd\ufffdlt|JT\ufffd\u07dd\ufffd\ufffdu\ufffdq\ufffdZ?z\ufffd\ufffd\ufffd\rce\u05d6\n{\u0546\ufffd\u0015\ufffd\ufffdP=\ufffd\ufffd\ufffd\ufffd{\ufffd\u0004\u0002\b\ufffd\u0004\u0002>\u056ef\u0019~',\ufffd\ufffdbcfs\ufffd\ufffd\ufffdU\ufffd\ufffds+\ufffd\u04fd\ufffd\ufffdZ[\u001a\ufffd\ufffd\ufffd\ufffd\ufffdsB\ufffdT\u0013\ufffd\ufffd\ufffdX\ufffd\ufffd*\u0229VC\ufffd\ufffd\ufffdS\ufffdsH\ufffd\ufffd->\u0001\ufffd\ufffdJ\ufffd\u007f\ufffdV\ufffd\ufffd\u0000$_\ufffd\n_\ufffd#\ufffd\ufffd\ufffd\t\ufffd\u001e\ufffdg\ufffd\u0017\u0634\ufffd\u0004y\ufffd6Y\b\b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd :\u07f46?Y\ufffdLI#\ufffd\r\ufffd\ufffdq\ufffdT\ufffdD\ufffd_3\ufffd\ufffd\ufffdh\ufffd\u0012\u0007p;\ufffd\ufffde\ufffd\ufffdG\ufffdO\u001f_%\ufffdH\ufffdN\u038b\u0013.\ufffda\ufffd\u0005cd\ufffdc=\u0016&X\ufffd\u0340X\ufffd%n\ua14f\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\rj\ufffdM\ufffd\ufffd\ufffd\ufffd)G\ufffddn\u00e5k^\ufffd=\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u0016\ufffd\ufffd\ufffd\ufffd>\u00133\ufffdS\u0011\ufffd\ufffd\u0000O'\ufffdru\ufffd\ufffd\ufffdT\ufffd\ufffd\uda5a\udc9eZ*\ufffd\ufffd\ufffdd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdr\ufffd\ufffd\u001b\u0010A\ufffd\u0007+\ufffd\ufffd(\ufffdQt\ufffd\ufffd<\ufffdj{\ufffd\ufffdcGq\u000fRp\ufffd\ufffd\ufffd4\ufffd\ufffd\ufffd6Aw\ufffd\ufffdCd\ufffd@\ufffd\ufffdp\ufffd\ufffd\ufffd\ufffd`0\ufffd\ufffdxx\ufffdjH\ufffd\fEJo\ufffdg\ufffd\ufffd_\ufffd\u0003\ufffd\u05862+\ufffd\ufffd\u07e8bkFd\u0000\ufffd\ufffd\ufffd2\ufffd\ufffd\ufffd\u000b\ufffdq\ufffd\u0003\ufffd\ufffd\u0783p\u007f\ufffd\ufffd\u0000o\ufffd\ufffdg\u0015i\ufffdTw;\ufffdJ\ufffd\u0010}\u0005tlq\ufffdm\ufffd[$\ufffd{N\fl\ufffd\u0003\ufffdi\ufffd\ufffdHZ>/\ufffd\ufffd2\u0017\ufffd\n\ufffd_\ufffd\ufffd;HgT\ufffd\ufffd\u001fg\u000fm>\u0010\ufffd\u0017?\ufffdFc\uaf82p\ufffd\"\ufffd_BgQv\ufffd\ufffd\u0000\ufffd\u007f\ufffd\ufffd\ufffdz\u000f\ufffdp\ufffd\ufffd\ufffd|0\ufffd\ufffd\ufffdE-\ufffd\ufffd&6e5\u0019g\ufffd!o\ufffd]\ufffd\u001f\ufffd\ufffdeY\u06ad\ufffd\ufffd\ufffd\ufffd\\\ufffd,\ufffd\ufffd\ufffd\ufffdO\ufffdG\ufffd\ufffdc4\ufffd\ufffdc\u000fFMr\ufffd'\ufffd\ufffd`\ufffd\ufffd\ufffd0^\ufffd)S\ufffd\u0013Z\ufffd\ufffd\ufffdg\ufffd_\u0002:\u001b\ufffd\ufffd\ufffdx\ufffd\u0108\u49ef\ufffd\ufffd\ufffdC&\u07a7ki\ufffd\ufffd\ufffd\u0007\u0011\ufffd8y\u0017\u0010\ufffd\ufffd\ufffd\ufffdr\ufffd\ufffd\u078d+\ufffd7\ufffd\ufffd?\ufffd\ufffdU\ufffdW\ufffd\ufffd[\ufffd\ufffdW\u0011#H\ufffd\u02c7\ufffdO\ufffd\ufffd\u0016\ufffdm,\ufffdT\u001a\ufffd\ufffd~\ufffd~\u000f\ufffd-{\ufffd\ufffd1\ufffd\ufffd\u0720\ufffd\ufffd\ufffd\ufffd\\\ufffd\ufffdc\ufffd\ufffd\ufffd\ufffdF\u0003\ufffd\ufffd{\ufffd\ufffd{\ufffdW\ufffd\ufffd\ufffdqxz\ufffd\ufffdp\ufffd\ufffdqV\u007f\ufffd7\ufffd\ufffd\ufffd\ufffd\ufffd#\ufffdA\ufffdx\ufffdjM\ufffd5\ufffdr\ufffd\ufffd&\ufffd\ufffd\ufffd\ufffd\u00103\ufffd!r7t*\ufffdYRU\ufffd\u0015\\\u0017\ufffdh\u03b5\u04c0\ufffd7:Q\ufffd\ufffd\ufffda\ufffd\ufffd\u0000\ufffdR\ufffd\u0000\ufffd~\ufffd\u0007\u0019\ufffd\u001e~\ufffd\ufffd\ufffd\ufffd\ufffd\u001d?\ufffd\u001ebed\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0007\\\ufffd\ufffd\u001f\ufffd\u001e\ufffd\ufffd\ufffd\u0000\ufffd\ufffd\ufffd\ufffdZ\ufffdR\u007fO\ufffd\ufffd\ufffd\ufffd}\ufffdO\u0007\ufffd\u0019\ufffd|\ufffd#|\ufffd\f\ufffd\u001a\ufffd#\"\ufffd\ufffd\ufffd\u0002\ufffd\u02e2v\ud14d\ufffd\ufffdk\u0013.ZgE\ufffd\u00131P\ufffd+N\b\ufffdSR\ufffd\u0005\ufffdT~g[\ufffd;\ufffd\ufffd\ufffd\ufffd\u05e5\ufffd\ufffdi\u0014\ufffdI\u0006>\ufffd\ufffd\")\ufffd\ufffdz?\ufffd\ufffdV\ufffd\ufffdNa\ufffd[L\ufffd\u0005\ufffd\ufffd\ufffd\ufffd\u001dn'/\ufffd\ufffdWJ\ufffd\ufffd^\ufffd\ufffd\u001d\ufffd:wI.\ufffd\ufffd\u0535\ufffd\ufffd,\ufffd\ufffdD\ufffd\u0007\ufffd{y\ufffd\ufffd\ufffd\ufffd;\u0007\ufffd\u001f\rQ\ufffd\ufffd\ufffd\ufffd\ufffd[\ufffd\u0000o\ufffd\ufffd\u0005l\ufffd\ufffdU\ufffd\u03a6\ufffd\ufffd8\u2f56b\u0465\ufffd\\\ufffd\ufffd\ufffdES\u0014\ufffd\ufffd\ufffdss}\ufffdo\ufffd\ufffd\ufffd>!_\u01b7\ufffdgW\ufffdut\ufffd$|mo\u0003\ufffd\ufffdnymN\ufffd\ufffd\ufffd\ufffd\ufffdo\ufffd\ufffd\ufffd\ufffd\ufffd\ufffdo\ufffd\ufffd\ufffd\n\ufffd\ufffdQ\ufffdXz\ufffd\ufffd\ufffd]\ufffd]X\ufffd\u0010\ufffd1w\u0007=\r\u0004\ufffd\ufffd\\\ufffd\ufffd0\ufffd\ufffd\ufffd\ufffd_\ufffd\u0162K\ufffd[\ufffd\ufffd\u6e38\u0010 \ufffd7\ufffds\u04d6\ufffd1\ufffd\ufffdq\ufffd\ufffdr\ufffd0P\ufffd\u054f\ufffd\u0000\ufffd\ufffd\u0000$\ufffdS|#\ufffd\ufffd\u0753\ufffd\ufffdz \ufffd\ufffd\ufffd\ufffd\u0018v\ufffds)\ufffd\ufffd\ufffd\ufffd\u0017W[\ufffdr\ufffd+\u07ec\ufffd\ufffd9\u0010\ufffd\u055f\u0010;CH\ufffd\u000fMor{$\ufffd]\ufffd\u0018H\u0005\u0344\ufffd\ufffdA\ufffd\b\u0001\ufffd\ufffdQZ\ufffd;\ufffd\ufffd\ufffd\u0011\ufffd\u0002u\u001f\ufffd\ufffdNe,\ufffd\ufffdWil\ufffdG\ufffdO\u000f\ufffduU\u0015\u00b2)\ufffdE\ufffd,9\ufffd\u07001F\ufffd\ufffd\u0600\ufffd\u00db8^k\ufffd\ufffd\ufffd30\ufffd\ufffd\ufffd\ufffd\u001c~_\ufffd`\ufffd\u4d29;\ufffd\ufffd\ufffd\ufffd\u05b5\ufffd\ufffdkZ\u058c\u0000\u0006\ufffdx\u000f%\ufffd\ufffd:\ufffdr\ufffd\ufffd\ufffd\ufffd\u0010\ufffd\ufffd\ufffd\u00a4U\ufffd\ufffdV\ufffd\ufffdp\ufffd\ufffdfj\ufffdA\ufffd\ufffd(\\\ufffd\ufffd\u0015\ufffdVU\ufffdeD.\u000b\ufffd/}s\ufffd\ufffd\u04b4\ufffd\ufffd1lY\u0017\ufffd\n_\ufffd/\ufffd\ufffdc\u007f\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd}\ufffdO\ufffdG\ufffd\ufffdY\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0001\ufffd|}\u0001\ufffd!\ufffd \ufffd\u001e\ufffdO\ufffd\ufffd<\ufffdj\ufffdF\ufffd\ufffd\ufffd=\u000e^\u0015\ufffd\u0000\u0016/\ufffdx23\ufffd\ufffd\ufffdc\ufffd;\u001b\ufffd\ufffd\ufffd'd\ufffdL\ufffda\ufffdXYtL\ufffd\ufffd\ufffdX\ufffd\u0019\ufffd,L\ufffd\ufffdy\ufffdXI,3\n\ufffd\ufffd7b\ufffd\ufffd\u58f13I\u02a16W\ufffd\ufffd\ufffd\ufeab*\ufffd%iU\ufffd\\\u0016i>IZ\ufffdF7\ufffd\ufffdx\ufffd\u0017\ufffd'Lm\ufffd\ufffd\ufffd=FT\ufffd\ufffd\u007f\u0013\u001ac\ufffd\u0000\ufffdl\u0000\ufffd\ufffdG\u0319\u001ac\ufffdl\u0001>ec\ufffd\ufffd-\ufffd%E.\ufffdCG\ufffd\u019b\ufffd\u0006E\ufffd6v\u0712\ufffd\ufffdn\ufffdY\u001a\ufffd%\ufffd\ufffd\ufffd\ufffd\ufffd,K\ufffd\u075a\ufffd\ufffdn\u0019\ufffd\ufffd)\ufffd*\u01b9\ufffd\t#\ufffd\u01d1] Ty8Y\ufffd\ufffd*\ufffd\ufffd\u001c\ufffd\ufffd\ufffd\ufffd\ufffdM\u007f\ufffd)\u007f\ufffdb\ufffdr?\ufffd\u0014m\ufffd\ufffd\ufffdu\ufffd\ufffd\ufffdM|\ufffdu\ufffd\ufffd\u000b\ufffd8\ufffd*\u01da\ufffd*\ufffd\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u001f\u001b\ufffd\ufffdS[\ufffd\rW\u0013\u001a\\\ufffdk\ufffds@\ufffd\"7\u0010\u0017C\ufffdC\ufffd\ufffd\ufffd\ufffd\ufffdF\u0019\u06a4}O\ufffdv\ufffd\ufffd\u0018\ufffdZ\ufffdt\ufffd\ufffd\u0018nK\u001b\ufffd\ufffd\ufffd\ufffd'c\ufffdV\u0016\ufffd\"\ufffde\ufffd\ufffd\u001bD\ufffd2l,n \ufffd\u0014\ufffd\ufffd\ufffd~\u000b\u001b\ufffdd\ufffd1\ufffd\ufffd\ufffd\ufffd\ufffd8\ufffd\ufffd\ufffd \ufffdH\ufffd\ufffdd5E\ufffd\ufffdF\ufffd\u0000\u01b7\ufffd\u0004\u0012I\ufffd\u0015t\ufffd\ufffd\ufffdZ3\u052a8\ufffdL\ufffd\ufffdk|\u02abB\ufffd\u00abE\ufffd6\ro\ufffd\ufffd\ufffdnJ\u0003p\u0006\ufffdM$\\\ufffdcOqU\ufffdX\ufffd5\ufffd4\ufffdn9Gr\ufffd$\ufffd\u0019\ufffd\ufffdM\"\ufffde\ufffd\ufffdI\ufffde\ufffdM \u0416\ufffd\ufffd\ufffd\ufffds9\ufffdf\ufffd,Z,\ufffd\ufffd\ufffd\u03a9\ufffd\ufffd\u0003\ufffd\ufffd\ufffd;,\ufffd\ufffd5\ufffdZxj\u0003\ufffdZ\ufffd)\ufffd\ufffd\u00171\ufffdI\ufffd<\ufffd\ufffd\ufffd\ufffd\ufffdxF\ufffd_'#\ufffd\ufffdct\ufffdf\ufffd\ufffd\ufffd\ufffd^\ufffdR3\ufffdO2\u001f\ufffd-\ufffd\ufffd\ufffdx\ufffd\ufffd>M3\ufffd\ufffdej3\ufffd=\ufffd\u0781}a\r\ufffd\ufffd82\ufffd\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\n\ufffd\ufffd\ufffd\ufffd\ufffdOM+C\ufffd\ufffd\ufffdc\ufffd{\ufffdv?\ufffdq1\u0014\ufffdjr\ufffd\ufffdh\ufffd%\ufffdI\ufffd\ufffd{Ti\ufffd\ufffd!\ufffd\ufffd\ufffd*\ufffdgMo\ufffd|\u0005\ufffdb\ufffd\ufffd9_\ufffd\ufffd4\ufffd|\b_/f8Ia\ufffdU!.\u035e\ufffd\ufffd\ufffd\ufffdA8\ufffd#k\ufffd\u0001\ufffd\ufffd\ufffd\u0146G\ufffd\ufffd\ufffd*4M\ufffd\f\ufffd\ufffd\ufffd\ufffd\u0016#bv5\ufffd=\u0015\\P,\ufffd(oM\ufffd\u001cP\ufffda\ufffd\ufffdbq*\ufffd3&\u001e*,E\ufffd \ufffd\ufffdQ\ufffdI[9\ufffdU\u001cI$mB\ufffd\ufffdsv\ufffd`\ufffd\ufffd7%mI\ufffdr\ufffd\u014c\ufffd\ufffd\n\ufffd\ufffd\ufffd\ufffd\ufffdTi/s\"\ufffd\u000e\ufffd\u0016\u001b\u000fY\u001f\u0014\ufffd\ufffd\ufffd\u0594\ufffd%&\rH\ufffdi/b3R\ufffdIR)j\ufffd\u02f9M\u0005\ufffdFz\u14ce\ufffd\ufffd\f\ufffd\u0013+\ufffd\u000eJ\u0329\ufffdH\ufffdSq\u0000nVxS\ufffd\ufffdC\ufffd\ufffdpv\ufffde\ufffd/%\ufffd\ufffd.\ufffd\ufffd\ufffd\u0db8\u001e\ufffd\u0010\ufffdM&cnv\ufffd\u000bL\ufffd\u0002>\u000b\u053a'.\ufffdq2\ufffd\ufffd\u0006\ufffd\ufffdVT\ufffd\ufffd\ufffdg\ufffd\ufffd\ufffdF<\u0017\ufffd.\r$\u0290\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@FF\ufffd\u0012\ufffdyW\ufffd\ufffd\r$\ufffd\ufffd\ufffd]PFL\u0005\ufffd\ufffd\ufffd\ufffd\ufffdW~X\ufffd\ufffdn\u0018\u007f\ufffd\ufffdR\ufffd\ufffd\ufffdr\ufffdJ^=%\ufffdl\ufffdN)Sn\u0012\ufffdy\ufffd:\ufffd\ufffd\ufffd=\ufffd\ufffdeOK\ufffd\ufffd\ufffd\u0017W,2\ufffd|\u00167\u0012\ufffd\t\ufffdR\ufffd\u07b18\ufffd\ufffd\u0013\n\u6071\ufffdX\ufffd.\ufffd\u0013GV\ufffdw\ufffd5FQ\ufffdh\ufffd\ufffdw\ufffd\n\ufffd\u000b\ufffd\ufffd[*\ufffd\ufffd\ufffd$\u0012\ufffdG\u0011\ufffd\ufffdK\ufffdI\u00166mF;\ufffdZ\u001aI\u0005F\ufffd\u00154\ufffdc&\ufffd\ufffdM%\ufffd\u0002\ufffd\ufffd\ufffd\u001a\u0005\ufffd\ufffd\ufffd\ufffdZ\ufffdU\ufffd\ufffdTA\ufffd\u0018\ufffdh/\ufffd\u63ad\u0000w\ufffd\ufffdN\ufffdG%\ufffd4n\ufffd\ufffd]Sl\ufffd-\ufffd\ufffd\ufffdVT\ufffd\ufffd\ufffdYn\u0102\ufffd\ufffd\ufffdT\ufffd\ufffd\ufffd\u0017\u0013\ufffd\u0016UH\ufffd\ufffdh\ufffd\ufffd#v+\ufffd\u001aE\ufffd2\ufffd\ufffd\ufffd\ufffdL\ufffdac\ufffd\ufffdG\u00062(\ufffd\\\ufffd\u0013\ufffd\u058e\ufffd\u0013\ufffdx\ufffd\u03e1\ufffdu\ufffd\u001eL\u0015\ufffdB\u000eO\ufffd\ufffd|\t\u1af8a\ufffd`\ufffd\ufffd\ufffd7Z\ufffd\ufffd\ufffd{\ufffdr\ufffd#\ufffd\u001c\ufffd\u026d\u0001\ufffdd8\ufffd\ufffd\ufffd2\u001c\ufffd\ufffd\ufffd4S[\ufffdO+\ufffd\ufffd~\ufffdY\u03f1\u064d\ufffdG\ufffdmgXe\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0000@\u0010\u0004\u0001\u0001\ufffd2J\ufffd[\u0702\ufffd\ufffd\ufffdIx\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd7E,2\ufffd9\ufffd1\ufffd\u0005\ufffd\u001e\ufffd\u001b.5z\u0014\ufffdA\ufffdj\ufffd!'\t)G\ufffd\ufffd\ufffd\ufffdx\u0015p\ufffd\ufffd\ufffd\ufffdKT3\ufffd\ufffd\ufffd\ufffd0\ufffd\u0002\ufffdP;\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd\u000f\ufffd\ufffd\ufffd\u0017\ufffd:zx):\ufffd\ufffd\ufffd\ufffd\ufffd,\ufffdV&\u041c\ufffd\ufffd\ufffd\ufffd\ufffd\u0019\u0000\u0007\ufffdg\ufffd\u001c\ufffd\u0000\ufffd\ufffdh\u04a3(\ufffd\u036e\u0010\ufffd\ufffd,Et\u000e\u001b\ufffdW\u0011\ufffd\ufffd&T4\ufffd\ufffd\ufffd\u0004,\u000e\u000e\ufffdl\ufffdq\u0583\ufffdV\u0017\u0002\ufffd2\ufffdux\ufffd\ufffd,n%\\WtX\ufffd\ufffd\ufffd\ufffdp\ufffd\ufffd\ufffd\ufffd\ufffdrv\ufffd\u000e=\ufffd[\u0018\ufffd\u0012Apo\ufffdQb\ufffd\u000b6m{O\ufffd*,<\u0017\ufffdH+\ufffdGz\ufffd\ufffd\ufffdL\u001a\ufffd\u0004\ufffdxl\u01ef\ufffd\ufffdN\ufffd\ufffdL\u01ef\ufffd\u001d\bM\ufffd*L\ufffd\ufffd\u001c\r\ufffd\ufffd,\u030a\ufffd\"7'c\u0000\u0005m&e\ufffdd\u000f\ufffds\ufffd\ufffd\ufffd\ufffdi3,9ZJ\ufffdur\ufffd\ufffd\ufffda\ufffd\ufffdV\u3aba\ufffd\ufffd3*-F\ufffd\u0015e\ufffd\u0006\ufffd\ufffd\ufffd*\ufffd\ufffds'\ufffd\u06b3)Kt\ufffd\ufffd\ufffdg\ufffd>\ufffd\ufffd\ufffdU.\u0019\u000bn\ufffd\ufffd\ufffd:zx\u47a2G\b\ufffd&\u0017\ufffd\ufffd=\u001a\u001a7q>\u0003}\ufffdcC\t:\ufffd\ufffdW1V\ufffd\u001c<uT\ufffd\ufffd\ufffd\ufffd}\ufffd\ufffd\u04f2Rj\ufffdW\u0001m\ufffd\u001e\ufffd\ufffd\ufffd\ufffd&A\ufffd\ufffd\ufffd.3\ufffd\u0460\ufffd\ufffd\ufffd\ufffd\ufffdd\u0011\ufffd(\ufffdq\u0011\u07f1\ufffdy\ufffdl\ufffd\ufffdA\ufffd\ufffd\ufffd\ufffdk\u0006\u0000\ufffd\ufffd^\ufffd}N\u074d2+Lw$\n\ufffd\u00162\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd \b\u0002\u0000\ufffd\ufffdT\u0001
[...]
