{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**API Description** - CoinCap API is a cryptocurrency data source that provides real-time and historical market data for various digital assets.<br><br>**Disclaimer** - This *OpenAPI* specification was generated with the tool *RESTSpecIT*. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is difficult to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their schema type set to **x-null**.",
        "termsOfService": "",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "",
            "email": ""
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "gte10": {
                                "value": "gte10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1634323200": {
                                "value": "1634323200"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "ethereum": {
                                "value": "ethereum"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "exchange",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "coin": {
                                "value": "coin"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "724481819087.6334749676841290",
                                            "volumeUsd24Hr": "9779437806.8445557637639540",
                                            "priceUsd": "37063.4635060569959295",
                                            "changePercent24Hr": "-1.4975817633068686",
                                            "vwap24Hr": "37022.5061631579304827",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "239172102773.3901311789049595",
                                            "volumeUsd24Hr": "5749148974.3901911080665572",
                                            "priceUsd": "1988.9128102359280184",
                                            "changePercent24Hr": "-2.7207720473483385",
                                            "vwap24Hr": "2005.8000780258064181",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87748676028.8190658131370423",
                                            "volumeUsd24Hr": "16176821708.4392006421203833",
                                            "priceUsd": "1.0006282334883651",
                                            "changePercent24Hr": "-0.0808203546292586",
                                            "vwap24Hr": "1.0008599660573740",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "40603728011.8788283437145436",
                                            "volumeUsd24Hr": "1204323183.6708484617157096",
                                            "priceUsd": "243.4259505928510057",
                                            "changePercent24Hr": "-5.6338494600409688",
                                            "vwap24Hr": "258.0738315344340315",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "27094912975.3836893679196320",
                                            "volumeUsd24Hr": "602645893.7984096917183266",
                                            "priceUsd": "0.5967512968995363",
                                            "changePercent24Hr": "-3.8434321301983779",
                                            "vwap24Hr": "0.6085811302569661",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "6",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24447189059.2865832579025814",
                                            "volumeUsd24Hr": "1278973143.6856856597875883",
                                            "priceUsd": "1.0004221164728294",
                                            "changePercent24Hr": "-0.0450677426536852",
                                            "vwap24Hr": "1.0004629196028330",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "7",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "23024853659.0235048674793163",
                                            "volumeUsd24Hr": "712208649.7239569422882044",
                                            "priceUsd": "54.4491169565000800",
                                            "changePercent24Hr": "-5.3347631522644150",
                                            "vwap24Hr": "55.3198666615766955",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13087316210.8530367750273011",
                                            "volumeUsd24Hr": "164362295.4918729567078078",
                                            "priceUsd": "0.3709385230278260",
                                            "changePercent24Hr": "-4.1405663409516237",
                                            "vwap24Hr": "0.3796782786800278",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10649257097.5271122680738959",
                                            "volumeUsd24Hr": "365801396.8906697653938286",
                                            "priceUsd": "0.0750492760617441",
                                            "changePercent24Hr": "-5.8416389909483930",
                                            "vwap24Hr": "0.0766952868587370",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8703687639.7540144857840108",
                                            "volumeUsd24Hr": "131083934.5049523350859843",
                                            "priceUsd": "0.0982045729920480",
                                            "changePercent24Hr": "-4.4604172841484514",
                                            "vwap24Hr": "0.1012514256231691",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700594977467
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/exchanges": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "volume": {
                                "value": "volume"
                            },
                            "rank": {
                                "value": "rank"
                            },
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1h": {
                                "value": "1h"
                            },
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "open": {
                                "value": "open"
                            },
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "spot": {
                                "value": "spot"
                            }
                        }
                    },
                    {
                        "name": "baseId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "usd": {
                                "value": "usd"
                            }
                        }
                    },
                    {
                        "name": "quoteId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "usd": {
                                "value": "usd"
                            },
                            "eth": {
                                "value": "eth"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "gte10": {
                                "value": "gte10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            },
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "sortDir",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "desc": {
                                "value": "desc"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "baseSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "quoteSymbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "rankRange",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1-10": {
                                "value": "1-10"
                            }
                        }
                    },
                    {
                        "name": "updatedSince",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1634323200": {
                                "value": "1634323200"
                            }
                        }
                    },
                    {
                        "name": "assetId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_exchanges"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "binance",
                                            "name": "Binance",
                                            "rank": "1",
                                            "percentTotalVolume": "40.893646654983667345000000000000000000",
                                            "volumeUsd": "8184169309.5178066004554217",
                                            "tradingPairs": "823",
                                            "socket": true,
                                            "exchangeUrl": "https://www.binance.com/",
                                            "updated": 1700594953605
                                        },
                                        {
                                            "exchangeId": "gdax",
                                            "name": "Coinbase Pro",
                                            "rank": "2",
                                            "percentTotalVolume": "8.924532950160820037000000000000000000",
                                            "volumeUsd": "1786093798.1080074377649750",
                                            "tradingPairs": "218",
                                            "socket": true,
                                            "exchangeUrl": "https://pro.coinbase.com/",
                                            "updated": 1700594968723
                                        },
                                        {
                                            "exchangeId": "whitebit",
                                            "name": "WhiteBIT",
                                            "rank": "3",
                                            "percentTotalVolume": "5.700613435646712462000000000000000000",
                                            "volumeUsd": "1140881025.3354823872089498",
                                            "tradingPairs": "90",
                                            "socket": false,
                                            "exchangeUrl": "https://whitebit.com",
                                            "updated": 1700594968389
                                        },
                                        {
                                            "exchangeId": "kraken",
                                            "name": "Kraken",
                                            "rank": "4",
                                            "percentTotalVolume": "4.765695680681401203000000000000000000",
                                            "volumeUsd": "953773104.5949899098737327",
                                            "tradingPairs": "343",
                                            "socket": false,
                                            "exchangeUrl": "https://kraken.com",
                                            "updated": 1700594970870
                                        },
                                        {
                                            "exchangeId": "lbank",
                                            "name": "LBank",
                                            "rank": "5",
                                            "percentTotalVolume": "4.733724108240935001000000000000000000",
                                            "volumeUsd": "947374537.0093720476335658",
                                            "tradingPairs": "101",
                                            "socket": false,
                                            "exchangeUrl": "https://www.lbank.info",
                                            "updated": 1700594970324
                                        },
                                        {
                                            "exchangeId": "gate",
                                            "name": "Gate",
                                            "rank": "6",
                                            "percentTotalVolume": "4.718024010523863575000000000000000000",
                                            "volumeUsd": "944232428.9216154053797915",
                                            "tradingPairs": "1301",
                                            "socket": false,
                                            "exchangeUrl": "https://gate.io/",
                                            "updated": 1700594971041
                                        },
                                        {
                                            "exchangeId": "digifinex",
                                            "name": "DigiFinex",
                                            "rank": "7",
                                            "percentTotalVolume": "4.472651664804383134000000000000000000",
                                            "volumeUsd": "895125318.5143553263814712",
                                            "tradingPairs": "135",
                                            "socket": false,
                                            "exchangeUrl": "https://www.digifinex.com/",
                                            "updated": 1700594969142
                                        },
                                        {
                                            "exchangeId": "uniswap-v3",
                                            "name": "Uniswap (V3)",
                                            "rank": "8",
                                            "percentTotalVolume": "3.502324993907639488000000000000000000",
                                            "volumeUsd": "700930904.2289295474411386",
                                            "tradingPairs": "292",
                                            "socket": false,
                                            "exchangeUrl": "https://uniswap.org/",
                                            "updated": 1700594971223
                                        },
                                        {
                                            "exchangeId": "huobi",
                                            "name": "Huobi",
                                            "rank": "9",
                                            "percentTotalVolume": "3.348070064869307756000000000000000000",
                                            "volumeUsd": "670059398.2776864256763935",
                                            "tradingPairs": "212",
                                            "socket": true,
                                            "exchangeUrl": "https://www.hbg.com/",
                                            "updated": 1700594969888
                                        },
                                        {
                                            "exchangeId": "kucoin",
                                            "name": "Kucoin",
                                            "rank": "10",
                                            "percentTotalVolume": "2.672380658661050835000000000000000000",
                                            "volumeUsd": "534831631.7810539569484922",
                                            "tradingPairs": "624",
                                            "socket": false,
                                            "exchangeUrl": "https://www.kucoin.io/",
                                            "updated": 1700594918474
                                        }
                                    ],
                                    "timestamp": 1700595038378
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "gte10": {
                                "value": "gte10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1634323200": {
                                "value": "1634323200"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "FTM",
                                            "baseId": "fantom",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000078300000000",
                                            "priceUsd": "0.2901145807903677",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "771",
                                            "updated": 1700594983551
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "WAVES",
                                            "baseId": "waves",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0009400000000000",
                                            "priceUsd": "1.8692117118678195",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "24",
                                            "updated": 1700594987197
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "WAVES",
                                            "baseId": "waves",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000594000000000",
                                            "priceUsd": "2.2008692335820996",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "67",
                                            "updated": 1700594986599
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "4",
                                            "baseSymbol": "SHDC",
                                            "baseId": "shd-cash",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0000900000000000",
                                            "priceUsd": "0.0000900612111454",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700595000383
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "5",
                                            "baseSymbol": "ZIL",
                                            "baseId": "zilliqa",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0000100200000000",
                                            "priceUsd": "0.0199250014392719",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "8",
                                            "updated": 1700594961741
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "6",
                                            "baseSymbol": "FME",
                                            "baseId": "fme",
                                            "quoteSymbol": "USDT",
                                            "quoteId": "tether",
                                            "priceQuote": "0.0007100000000000",
                                            "priceUsd": "0.0007104828879245",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700594981772
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "7",
                                            "baseSymbol": "MANA",
                                            "baseId": "decentraland",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000116300000000",
                                            "priceUsd": "0.4309109290666636",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "539",
                                            "updated": 1700594963601
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "8",
                                            "baseSymbol": "GLM",
                                            "baseId": "golem-network-tokens",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000066500000000",
                                            "priceUsd": "0.2463936094835179",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700594964854
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "9",
                                            "baseSymbol": "GLEEC",
                                            "baseId": "gleec",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000049800000000",
                                            "priceUsd": "0.1845173195831457",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700594981180
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "10",
                                            "baseSymbol": "VIDA",
                                            "baseId": "vidiachange",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0001999400000000",
                                            "priceUsd": "0.3975853081604807",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700594992025
                                        }
                                    ],
                                    "timestamp": 1700595038940
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/rates": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "gte10": {
                                "value": "gte10"
                            },
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "asc": {
                                "value": "asc"
                            }
                        }
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1634323200": {
                                "value": "1634323200"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_rates"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "litecoin",
                                            "symbol": "LTC",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "68.2891360431393024"
                                        },
                                        {
                                            "id": "philippine-peso",
                                            "symbol": "PHP",
                                            "currencySymbol": "\u20b1",
                                            "type": "fiat",
                                            "rateUsd": "0.0180582012576056"
                                        },
                                        {
                                            "id": "rwandan-franc",
                                            "symbol": "RWF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0008074283407348"
                                        },
                                        {
                                            "id": "south-african-rand",
                                            "symbol": "ZAR",
                                            "currencySymbol": "R",
                                            "type": "fiat",
                                            "rateUsd": "0.0535831106463907"
                                        },
                                        {
                                            "id": "peruvian-nuevo-sol",
                                            "symbol": "PEN",
                                            "currencySymbol": "S/.",
                                            "type": "fiat",
                                            "rateUsd": "0.2673439379762064"
                                        },
                                        {
                                            "id": "tajikistani-somoni",
                                            "symbol": "TJS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0916191560263233"
                                        },
                                        {
                                            "id": "lesotho-loti",
                                            "symbol": "LSL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0544365813826892"
                                        },
                                        {
                                            "id": "laotian-kip",
                                            "symbol": "LAK",
                                            "currencySymbol": "\u20ad",
                                            "type": "fiat",
                                            "rateUsd": "0.0000483208504470"
                                        },
                                        {
                                            "id": "kazakhstani-tenge",
                                            "symbol": "KZT",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0021674400403397"
                                        },
                                        {
                                            "id": "lebanese-pound",
                                            "symbol": "LBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "0.0000665225345086"
                                        },
                                        {
                                            "id": "ghanaian-cedi",
                                            "symbol": "GHS",
                                            "currencySymbol": "\u00a2",
                                            "type": "fiat",
                                            "rateUsd": "0.0836470096194061"
                                        },
                                        {
                                            "id": "british-pound-sterling",
                                            "symbol": "GBP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2527607715503040"
                                        },
                                        {
                                            "id": "honduran-lempira",
                                            "symbol": "HNL",
                                            "currencySymbol": "L",
                                            "type": "fiat",
                                            "rateUsd": "0.0404530744336570"
                                        },
                                        {
                                            "id": "tanzanian-shilling",
                                            "symbol": "TZS",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003992015968064"
                                        },
                                        {
                                            "id": "norwegian-krone",
                                            "symbol": "NOK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.0936817996498549"
                                        },
                                        {
                                            "id": "jamaican-dollar",
                                            "symbol": "JMD",
                                            "currencySymbol": "J$",
                                            "type": "fiat",
                                            "rateUsd": "0.0064307818996074"
                                        },
                                        {
                                            "id": "japanese-yen",
                                            "symbol": "JPY",
                                            "currencySymbol": "\u00a5",
                                            "type": "fiat",
                                            "rateUsd": "0.0067405884533720"
                                        },
                                        {
                                            "id": "macedonian-denar",
                                            "symbol": "MKD",
                                            "currencySymbol": "\u0434\u0435\u043d",
                                            "type": "fiat",
                                            "rateUsd": "0.0177633709733835"
                                        },
                                        {
                                            "id": "iraqi-dinar",
                                            "symbol": "IQD",
                                            "currencySymbol": "\u062f.\u0639",
                                            "type": "fiat",
                                            "rateUsd": "0.0007633587786260"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "symbol": "BNB",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "242.9510869583098994"
                                        },
                                        {
                                            "id": "croatian-kuna",
                                            "symbol": "HRK",
                                            "currencySymbol": "kn",
                                            "type": "fiat",
                                            "rateUsd": "0.1447779533290894"
                                        },
                                        {
                                            "id": "ugandan-shilling",
                                            "symbol": "UGX",
                                            "currencySymbol": "UGX",
                                            "type": "fiat",
                                            "rateUsd": "0.0002641710635516"
                                        },
                                        {
                                            "id": "algerian-dinar",
                                            "symbol": "DZD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0074557300372008"
                                        },
                                        {
                                            "id": "mongolian-tugrik",
                                            "symbol": "MNT",
                                            "currencySymbol": "\u20ae",
                                            "type": "fiat",
                                            "rateUsd": "0.0002898550724638"
                                        },
                                        {
                                            "id": "chinese-yuan-renminbi",
                                            "symbol": "CNY",
                                            "currencySymbol": "\u00a5",
                                            "type": "fiat",
                                            "rateUsd": "0.1409363813174733"
                                        },
                                        {
                                            "id": "falkland-islands-pound",
                                            "symbol": "FKP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2527607715503040"
                                        },
                                        {
                                            "id": "gold-ounce",
                                            "symbol": "XAU",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "1998.7607683236392000"
                                        },
                                        {
                                            "id": "bitcoin",
                                            "symbol": "BTC",
                                            "currencySymbol": "\u20bf",
                                            "type": "crypto",
                                            "rateUsd": "37046.3874446130622023"
                                        },
                                        {
                                            "id": "malawian-kwacha",
                                            "symbol": "MWK",
                                            "currencySymbol": "MK",
                                            "type": "fiat",
                                            "rateUsd": "0.0005938242280285"
                                        },
                                        {
                                            "id": "cayman-islands-dollar",
                                            "symbol": "KYD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.2006027025566834"
                                        },
                                        {
                                            "id": "ethereum",
                                            "symbol": "ETH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "1988.3540026197506370"
                                        },
                                        {
                                            "id": "brunei-dollar",
                                            "symbol": "BND",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7482431251421662"
                                        },
                                        {
                                            "id": "kyrgystani-som",
                                            "symbol": "KGS",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0112346927311538"
                                        },
                                        {
                                            "id": "mozambican-metical",
                                            "symbol": "MZN",
                                            "currencySymbol": "MT",
                                            "type": "fiat",
                                            "rateUsd": "0.0156617068807877"
                                        },
                                        {
                                            "id": "euro",
                                            "symbol": "EUR",
                                            "currencySymbol": "\u20ac",
                                            "type": "fiat",
                                            "rateUsd": "1.0908527632391345"
                                        },
                                        {
                                            "id": "mexican-peso",
                                            "symbol": "MXN",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0580608084781786"
                                        },
                                        {
                                            "id": "venezuelan-bol\u00edvar-soberano",
                                            "symbol": "VES",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0282431543536399"
                                        },
                                        {
                                            "id": "thai-baht",
                                            "symbol": "THB",
                                            "currencySymbol": "\u0e3f",
                                            "type": "fiat",
                                            "rateUsd": "0.0284280698761958"
                                        },
                                        {
                                            "id": "saint-helena-pound",
                                            "symbol": "SHP",
                                            "currencySymbol": "\u00a3",
                                            "type": "fiat",
                                            "rateUsd": "1.2527607715503040"
                                        },
                                        {
                                            "id": "dash",
                                            "symbol": "DASH",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "29.3418376780542225"
                                        },
                                        {
                                            "id": "bangladeshi-taka",
                                            "symbol": "BDT",
                                            "currencySymbol": "Tk",
                                            "type": "fiat",
                                            "rateUsd": "0.0090340088787504"
                                        },
                                        {
                                            "id": "papua-new-guinean-kina",
                                            "symbol": "PGK",
                                            "currencySymbol": "K",
                                            "type": "fiat",
                                            "rateUsd": "0.2682043717312592"
                                        },
                                        {
                                            "id": "uzbekistan-som",
                                            "symbol": "UZS",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.0000814663951120"
                                        },
                                        {
                                            "id": "barbadian-dollar",
                                            "symbol": "BBD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.5000000000000000"
                                        },
                                        {
                                            "id": "angolan-kwanza",
                                            "symbol": "AOA",
                                            "currencySymbol": "Kz",
                                            "type": "fiat",
                                            "rateUsd": "0.0012033694344164"
                                        },
                                        {
                                            "id": "dominican-peso",
                                            "symbol": "DOP",
                                            "currencySymbol": "RD$",
                                            "type": "fiat",
                                            "rateUsd": "0.0174710635509937"
                                        },
                                        {
                                            "id": "south-korean-won",
                                            "symbol": "KRW",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0007716832313707"
                                        },
                                        {
                                            "id": "swazi-lilangeni",
                                            "symbol": "SZL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0544365813826892"
                                        },
                                        {
                                            "id": "samoan-tala",
                                            "symbol": "WST",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.3571428571428572"
                                        },
                                        {
                                            "id": "afghan-afghani",
                                            "symbol": "AFN",
                                            "currencySymbol": "\u060b ",
                                            "type": "fiat",
                                            "rateUsd": "0.0141843965595292"
                                        },
                                        {
                                            "id": "salvadoran-col\u00f3n",
                                            "symbol": "SVC",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.1143407938795660"
                                        },
                                        {
                                            "id": "swedish-krona",
                                            "symbol": "SEK",
                                            "currencySymbol": "kr",
                                            "type": "fiat",
                                            "rateUsd": "0.0954973386801657"
                                        },
                                        {
                                            "id": "macanese-pataca",
                                            "symbol": "MOP",
                                            "currencySymbol": "MOP$",
                                            "type": "fiat",
                                            "rateUsd": "0.1245972704725152"
                                        },
                                        {
                                            "id": "guatemalan-quetzal",
                                            "symbol": "GTQ",
                                            "currencySymbol": "Q",
                                            "type": "fiat",
                                            "rateUsd": "0.1277816630502326"
                                        },
                                        {
                                            "id": "hong-kong-dollar",
                                            "symbol": "HKD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.1282685060028378"
                                        },
                                        {
                                            "id": "serbian-dinar",
                                            "symbol": "RSD",
                                            "currencySymbol": "\u0414\u0438\u043d.",
                                            "type": "fiat",
                                            "rateUsd": "0.0093390398228705"
                                        },
                                        {
                                            "id": "uruguayan-peso",
                                            "symbol": "UYU",
                                            "currencySymbol": "$U",
                                            "type": "fiat",
                                            "rateUsd": "0.0252822823711878"
                                        },
                                        {
                                            "id": "bulgarian-lev",
                                            "symbol": "BGN",
                                            "currencySymbol": "\u043b\u0432",
                                            "type": "fiat",
                                            "rateUsd": "0.5589389996333360"
                                        },
                                        {
                                            "id": "cuban-convertible-peso",
                                            "symbol": "CUC",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.0000000000000000"
                                        },
                                        {
                                            "id": "indonesian-rupiah",
                                            "symbol": "IDR",
                                            "currencySymbol": "Rp",
                                            "type": "fiat",
                                            "rateUsd": "0.0000644669448044"
                                        },
                                        {
                                            "id": "belarusian-ruble",
                                            "symbol": "BYN",
                                            "currencySymbol": "Br",
                                            "type": "fiat",
                                            "rateUsd": "0.3036820230567540"
                                        },
                                        {
                                            "id": "fijian-dollar",
                                            "symbol": "FJD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.4459805998439068"
                                        },
                                        {
                                            "id": "congolese-franc",
                                            "symbol": "CDF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003743916136279"
                                        },
                                        {
                                            "id": "comorian-franc",
                                            "symbol": "KMF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0022175417652315"
                                        },
                                        {
                                            "id": "namibian-dollar",
                                            "symbol": "NAD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0544365813826892"
                                        },
                                        {
                                            "id": "zcash",
                                            "symbol": "ZEC",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "28.2036108971939928"
                                        },
                                        {
                                            "id": "kuwaiti-dinar",
                                            "symbol": "KWD",
                                            "currencySymbol": "\u0643",
                                            "type": "fiat",
                                            "rateUsd": "3.2455414374503024"
                                        },
                                        {
                                            "id": "argentine-peso",
                                            "symbol": "ARS",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0028093146761127"
                                        },
                                        {
                                            "id": "sri-lankan-rupee",
                                            "symbol": "LKR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0030615127218467"
                                        },
                                        {
                                            "id": "tether",
                                            "symbol": "USDT",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "1.0007014511649197"
                                        },
                                        {
                                            "id": "burundian-franc",
                                            "symbol": "BIF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0003507541213609"
                                        },
                                        {
                                            "id": "djiboutian-franc",
                                            "symbol": "DJF",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.0055865921787710"
                                        },
                                        {
                                            "id": "cfp-franc",
                                            "symbol": "XPF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0091413425425412"
                                        },
                                        {
                                            "id": "malagasy-ariary",
                                            "symbol": "MGA",
                                            "currencySymbol": "Ar",
                                            "type": "fiat",
                                            "rateUsd": "0.0002224694104561"
                                        },
                                        {
                                            "id": "united-states-dollar",
                                            "symbol": "USD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "1.0000000000000000"
                                        },
                                        {
                                            "id": "mauritian-rupee",
                                            "symbol": "MUR",
                                            "currencySymbol": "\u20a8",
                                            "type": "fiat",
                                            "rateUsd": "0.0226551403052096"
                                        },
                                        {
                                            "id": "singapore-dollar",
                                            "symbol": "SGD",
                                            "currencySymbol": "$",
                                            "type": "fiat",
                                            "rateUsd": "0.7471942854581047"
                                        },
                                        {
                                            "id": "costa-rican-col\u00f3n",
                                            "symbol": "CRC",
                                            "currencySymbol": "\u20a1",
                                            "type": "fiat",
                                            "rateUsd": "0.0018850330341295"
                                        },
                                        {
                                            "id": "guinean-franc",
                                            "symbol": "GNF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0001155735336608"
                                        },
                                        {
                                            "id": "cfa-franc-beac",
                                            "symbol": "XAF",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0016629936541576"
                                        },
                                        {
                                            "id": "waves",
                                            "symbol": "WAVES",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "2.0063950493148026"
                                        },
                                        {
                                            "id": "moldovan-leu",
                                            "symbol": "MDL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0564997000713422"
                                        },
                                        {
                                            "id": "georgian-lari",
                                            "symbol": "GEL",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.3703703703703704"
                                        },
                                        {
                                            "id": "czech-republic-koruna",
                                            "symbol": "CZK",
                                            "currencySymbol": "K\u010d",
                                            "type": "fiat",
                                            "rateUsd": "0.0444858914552256"
                                        },
                                        {
                                            "id": "polish-zloty",
                                            "symbol": "PLN",
                                            "currencySymbol": "z\u0142",
                                            "type": "fiat",
                                            "rateUsd": "0.2495853140007877"
                                        },
                                        {
                                            "id": "tunisian-dinar",
                                            "symbol": "TND",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.3221908981071285"
                                        },
                                        {
                                            "id": "gambian-dalasi",
                                            "symbol": "GMD",
                                            "currencySymbol": null,
                                            "type": "fiat",
                                            "rateUsd": "0.0148698884758364"
                                        },
                                        {
                                            "id": "qtum",
                                            "symbol": "QTUM",
                                            "currencySymbol": null,
                                            "type": "crypto",
                                            "rateUsd": "3.0144417680548233"
                                        },
                                        {
                                            "id": "crypto-com-coin",
                                            "symbol": "CRO",
                                            "currencySymbol": null,
[...]
